{%extends 'layout/column.html'%}
{% block title %}服务条款-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<section class="ui big helper block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column white section-title">
				<h2 class="block title">服务条款</h2>
				<p></p>
				<hr>
			</div>
		</div>
	</div>
</section>
<section class="ui big block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="column">
				<div class="content-box">
					<p class="paragraph">太火鸟网（网址：<a href="http://www.taihuoniao.com" title="太火鸟" class="ui magenta link">http://www.taihuoniao.com</a>）是北京太火红鸟科技有限公司旗下经营的网站。本协议双方为北京太火红鸟科技有限公司（简称“太火鸟”或“太火鸟网”）与太火鸟网项目发起人（简称“您”或“用户”）。在您使用太火鸟网提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与太火鸟投资之间产生法律效力。</p>
					<div class="ui selection list">
						<div class="item">
							<h4 class="ui magenta header">一、 定义</h4>
							<ul class="ui list">
								<li>项目发起人：在太火鸟网平台注册并发起众筹项目的单位或个人；</li>
								<li>项目投资人：在太火鸟网平台注册并投资某众筹项目的单位或个人；</li>
								<li>保证金：项目发起人在太火鸟网平台发起的项目，由太火鸟网作为代收款方，收取项目投资人基于项目投资明细单而支付的众筹金额。项目众筹成功后，太火鸟网留存项目众筹总金额的20%作为保证金，在项目发起人兑现对项目投资人的回报承诺后，太火鸟网将该保证金返还给项目发起人。如果项目发起人未兑现对项目投资人的回报承诺，则太火鸟网有权直接支配该保证金以用于兑现对项目投资人的回报承诺。</li>
							</ul>
						</div>
						<div class="item">
							<h4 class="ui magenta header">二、本协议的构成及效力</h4>
							<ul class="ui list">
								<li>所有太火鸟网已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力；</li>
								<li>太火鸟网有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在太火鸟网站上公示，即发生法律效力；</li>
								<li>在使用太火鸟网提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向太火鸟网咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议；</li>
								<li>您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用太火鸟网针对项目发起人提供的服务。如您继续使用太火鸟网针对项目发起人提供的服务，则表示您同意并接受本协议及各类规则的约束。</li>
							</ul>
						</div>
						
						<div class="item">
							<h4 class="ui magenta header">三、项目发起人的资格</h4>
							<ul class="ui list">
								<li>作为项目发起人，您应为太火鸟网的注册用户，完全理解并接受本协议；</li>
								<li>作为项目发起人的单位应为依法成立并登记备案的企业法人或其他组织；作为项目发起人的个人，应为年满18周岁并具有完全民事行为能力和民事权利能力的自然人，如项目发起人未满18周岁，应由其监护人代为履行本协议权利和义务；</li>
								<li>您应按照太火鸟网的要求，进行必要的身份认证和资质认证，包括但不限于身份证、护照、学历证明等的认证；</li>
								<li>您应拥有在中国大陆地区开户并接收人民币汇款的银行卡或支付宝账户；</li>
								<li>您应妥善保管在太火鸟网的用户名和密码，凡使用您的用户名和密码登陆太火鸟网进行的一切操作，均视为您本人的行为，一切责任由您本人承担。</li>
							</ul>
						</div>
						
						<div class="item">
							<h4 class="ui magenta header">四、您发起的众筹项目应符合以下要求</h4>
							<ul class="ui list">
								<li>您在太火鸟网上发起的项目，应明确具体的开始时间和结束时间。截止项目结束时间，如项目众筹金额低于预定众筹金额，则项目众筹失败；如项目众筹金额等于或大于预定众筹金额，则项目众筹成功；</li>
								<li>你不应抄袭、盗用他人的成果发起众筹项目，创意类产品必须为原创；</li>
								<li>您发起的项目不得包含非法、色情、淫秽、暴力等内容，不得含有攻击性、侮辱性言论，不得含有违反国家法律法规、政策的内容及其他太火鸟网认为不适宜的内容；</li>
								<li>您在太火鸟网发起的项目，不得在国内外同类太火鸟网站同时或再次发起；</li>
								<li>您在太火鸟网上发起的项目不得涉及种族主义、宗教极端主义、恐怖主义等内容；</li>
								<li>您应对自己及您发起的项目进行介绍，内容包括“关于我”、“发起该项目的目的”、“项目的进展和风险”、“为什么以众筹的方式发起该项目”、“项目众筹成功后的回报”等。同时，您应向项目投资人充分说明项目存在的风险及挑战，以便于项目投资人对项目有全面充分的了解，从而独立慎重作出是否投资的决定；</li>
								<li>您发起的项目应内容完整、合理，具有可行性；</li>
								<li>您发起的项目不应与第三方存在任何权利纠纷，否则因此导致的一切损失（包括太火鸟网因此被第三方权利追索而遭受的一切损失）由您本人承担，与太火鸟网无关；</li>
								<li>在项目发起后的运行过程中，您应及时回复网友的提问，与项目投资人进行充分互动，促成项目众筹成功；</li>
								<li>项目发起后，您应及时更新项目进展情况，以包括但不限于以照片、视频、素描等方式展示项目的进度信息。</li>
							</ul>
						</div>
						
						<div class="item">
							<h4 class="ui magenta header">五、项目回报</h4>
							<ul class="ui list">
								<li>您在发起项目时，应明确项目众筹成功后的回报时间；</li>
								<li>您承诺，如项目众筹成功，及时兑现对项目投资人承诺的回报；如项目众筹失败，同意太火鸟网将众筹款项及时退还项目投资人，并由您就项目众筹失败的原因等对项目投资人作出解释；</li>
								<li>如您与项目投资人在兑现回报过程中发生纠纷，一切责任由您本人承担，如因此给太火鸟网造成经济或名誉损失，您应赔偿损失、恢复名誉；</li>
								<li>如您在兑现对项目投资人的回报过程中，与第三方（包括但不限于物流公司）发生纠纷，一切责任由您本人承担，与太火鸟网无关；</li>
							</ul>
						</div>
						
						<div class="item">
							<h4 class="ui magenta header">六、协议终止</h4>
							<ul class="ui list">
								<li>
									以下任一情形出现，本协议即终止
									<ul class="list">
										<li>您发起的项目违反了国家法律法规、政策或太火鸟网的平台使用规则或本协议约定，太火鸟网停止为您提供服务的；</li>
										<li>您本人不同意接受本协议约定（含太火鸟网发布的各类规则），并停止使用太火鸟网针对项目发起人提供的服务的；</li>
										<li>您不符合本协议约定的项目发起人应具备的资格的；</li>
										<li>其他原因导致本协议终止的。</li>
									</ul>
								</li>
								<li>本协议终止后，不影响您因在本协议终止前的行为应承担的义务和责任。</li>
							</ul>
						</div>
						
						<div class="item">
							<h4 class="ui magenta header">七、本协议的解释权归北京太火红鸟科技有限公司及太火鸟网所有。 </h4>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}