{%extends 'layout/board.html'%}
{% block title %}常见问题-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<section class="ui block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">常见问题</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="fourteen wide column">
				<div class="content-box">
					<div class="ui selection list">
						<div class="item">
							<h3 class="ui magenta header">这是什么网站？</h3>
							<p>太火鸟网是一个让你可以发起和支持创意项目的平台。如果你有一个富有创意的想法(新颖的设计产品或独立电影)，欢迎你到我们的平台上发起项目，向公众推广，并得到资金的支持去实现你的想法。如果你喜欢创意，可以在太火鸟网上浏览各种有趣的项目，并力所能及地支持他们。</p>
						</div>
						
						<div class="item">
							<h3 class="ui magenta header">什么样的项目适合我们的平台?</h3>
							<p>我们欢迎一切有创意的想法，欢迎艺术家、电影工作者、音乐家、产品设计师、作家、画家、表演者、DJ等等来到太火鸟网上推广他们的创意。但是，我们的平台对慈善项目或是股权类项目的申请会非常谨慎。如果不确定你的想法是否适合我们的平台，欢迎直接与我们联系。
							</p>
						</div>	
						
						<div class="item">
							<h3 class="ui magenta header">这种模式有非法集资的风险吗?</h3>
							<p>不会，因为太火鸟网要求所有项目不能够以股权或是资金作为对支持者的回报，项目发起人更不能向支持者许诺任何资金上的收益。项目的回报必须是以实物（如产品，出版物），或者媒体内容（如提供视频或者音乐的流媒体播放或者下载），因此支持者对一个项目的支持属于购买行为，而不是投资行为。</p>
						</div>
						
						<div class="item">
							<h3 class="ui magenta header">是否会要求产品或作品的知识产权?</h3>
							<p>不会。我们只是提供一个宣传和支持的平台，知识产权由项目发起人所有。</p>
						</div>
						
						<div class="item">
							<h3 class="ui magenta header">什么人可以发起项目?</h3>

							<ul class="ui list">
								<li>已满18周岁有完全民事行为能力的人、未满18周岁者请由监护人协助提供相关资料。</li>
								<li>中华人民共和国公民，或能提供长期在中国居住证明的非中华人民共和国公民，并在网站需要时，按照网站要求，提供必要的身份认证和资质认证，根据项目内容，包括但不限于：身份证，护照，学历证明等。</li>
								<li>拥有能够在中国地区接收人民币汇款的银行卡或者支付宝账户。</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}