{%extends 'layout/column.html'%}
{% block title %}试用规则说明-{% endblock %}
{% block jquery %}
{% endblock %}

{% block content %}
<section class="ui big helper block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column white section-title">
				<h2 class="block title">试用规则说明</h2>
				<p></p>
				<hr>
			</div>
		</div>
	</div>
</section>
<section class="ui big block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="fourteen wide center aligned column">
				<div class="content-box">
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}