<footer id="mmfoot">
	<div class="ui responsive rg pt grid">
		<div class="row">
			<div class="ui center aligned column">
				<div class="ui link list">
                    <div class="cte item">
                        <a class="circular ui big icon red button" href="http://weibo.com/taihuoniao" title="新浪微博" target="_blank" rel="nofollow">
                            <i class="icon weibo"></i>
                        </a>
                <!--
                        <a class="circular ui big icon blue button" href="http://e.t.qq.com/taihuoniao" title="腾讯微博" target="_blank" rel="nofollow">
                            <i class="icon qq"></i>
                        </a>
                -->
                        <a class="circular ui big icon green wechat button" href="http://www.taihuoniao.com" title="微信" target="_blank" rel="nofollow">
                            <i class="icon wechat"></i>
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="ui responsive rg grid">
		<div class="row">
			<div class="ui center aligned column">
				<p class="copyright"> © 2014 - 2016 Taihuoniao.com All Rights Reserved <br>
					【京ICP备14025430号】
					&nbsp;【京ICP证150139号】</p>
		
			</div>
		</div>
	</div>
	
	<div class="ui responsive rg grid">
		<div class="row">
			<div class="ui center aligned column">
				<p class="copyright">
					客服电话： 4008-798-751<br>
					客服时间： 9:00 - 21:00 （周一到周日）
				</p>
			</div>
		</div>
	</div>	
	
</footer>
<div class="ui small wechat modal mmfootewm">
  	<i class="close icon"></i>
	<div class="actions">
		<h3 class="ui center aligned header">太火鸟官方微信二维码</h3>
	</div>
  	<div class="content">
		<div class="ui center aligned grid">
			<div class="row">
				<div class="column">
					<p></p>
					<img src="{{ app_url_packaged }}/images/wx-frbird.jpg" alt="太火鸟-中国创新产品策源地"/>
				</div>
			</div>
		</div>
  	</div>
</div>
