{%extends 'layout/app_admin.html'%}
{% block title %}新增/编辑情境-{% endblock %}

{% block page_css %}
	<style type="text/css">
		.list-me{
			margin: 10px 0 10px 0 !important;
			padding: 0;
			list-style: none;
			clear: both;
		}
		
		.list-me li{
			margin-right: 5px;
			float: left;
		}
		
		.map-box-btn{
			width:34px;
			height:34px;
			background:url({{ app_url_packaged }}/images/active_map.png) no-repeat;
			cursor: pointer;
			position: relative;
			float: right;
			top: -34px;
			right: 2px;
		}
		
		.tags{
			margin: 10px 0;
		}
		
		.tags_title{
			margin: 10px 0;
		}
		
		.tags_content{
			margin: 5px 0;
		}
		
		.scene_tags{
			margin: 0 5px 5px 0 !important;
		}
		h3.ui.dashed.header{
		    border-bottom: 2px dashed rgba(0,0,0,0.4);
		    padding-bottom: 10px;
		    margin-bottom: 10px;
		}
		.tags_content .ui.green.label{
			background-color:rgba(200,200,200,0.1) !important;
		    border: 1px solid #c1c1c1 !important;
		    color: #666!important;
		    font-size: 14px;
		    margin: 8px 12px 8px 0 !important;
		}
		.tags_content .ui.green.label.purple,.tags_content .ui.green.label:hover,.tags_content .ui.green.label.purple:hover{
			background-color: #fff !important;
		    border: 1px solid #f36 !important;
		    color: #f36 !important;
		}
	</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak={{ app_baidu_map_ak }}"></script>
<script>
  // 加载标签库
  function load_category_tag(category_id, tags){
    // 先清空
    $('#category_tags_box span').html('');
    $.get("{{ app_url_admin_base }}/category/ajax_fetch_cate_tags", {id:category_id, type:3}, function(result){
      if(result.success){
        var tag_arr = [];
        if(tags){
          tag_arr = tags.split(',');
        }
        var html = '';
        for(var i=0;i<result.data.length;i++){
          var has_one = phenix.in_array(tag_arr, String(result.data[i]));
          var is_active = has_one==-1 ? '' : 'active';
          html += '<a class="ui mini category-tags button '+ is_active +'" style="margin-bottom:2px;" data-value="'+ result.data[i] +'">'+ result.data[i] +'</a>';
        }
        $('#category_tags_box span').append(html);
      }else{
        alert(result.message);
      }
      
    }, 'json');
    
  }
</script>
{% endblock %}

{% block jquery %}
	
	// 表单验证
	$('#active-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '名称不能为空'
				}
			]
		}

	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					// 点击前触发的事件
					phenix.before_submit();
				},
				success: function(data){
					// 点击后触发的事件
					phenix.after_submit();
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, 3000);
					}else{
						phenix.redirect('{{ return_url }}');
					}
				}
			});
		}
	});
	
	// 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 11);
    map.enableInertialDragging();
    
    var size = new BMap.Size(10, 20);
    map.addControl(new BMap.CityListControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        offset: size,
        // 切换城市之间事件
        // onChangeBefore: function(){
        //    alert('before');
        // },
        // 切换城市之后事件
        // onChangeAfter:function(){
        //   alert('after');
        // }
    }));
	
	var offset = new BMap.Size(30, -40);
    
    {% if mode == 'edit' %}
		
		setTimeout(function(){
			// 创建标注
			var choose_point = new BMap.Point({{ sight.location.coordinates.0 }}, {{ sight.location.coordinates.1 }});
			map.centerAndZoom(choose_point, 16);
			
			var marker = new BMap.Marker(choose_point);
			map.addOverlay(marker);
			marker.enableDragging();
			
			marker.addEventListener("dragend",function(e){
				point = e.point;
				// 填充地标
				$('input[name=lat]').val(point.lat);
				$('input[name=lng]').val(point.lng);
			})
			
			var label = new BMap.Label('{{ sight.address }}', {offset: offset});
			label.setStyle({
				color: "#ff3366",
				fontSize: "12px",
				padding: "5px",
				lineHeight: "20px",
				'border-radius': "4px",
				fontFamily:"微软雅黑"
			});
			marker.setLabel(label);
		}, 1000);
		
    {% endif %}
		
	$('.map-box-btn').bind('click', function(){
		
		var address = $('#address').val();
		if (!address || address == undefined || address == '') {
			alert('请先输入所在地址!');
			return;
		}
	
		// 创建地址解析器实例
		var myGeo = new BMap.Geocoder();
		// 将地址解析结果显示在地图上，并调整地图视野
		myGeo.getPoint(address, function(point){
			if (point) {
				console.log(point);
				map.centerAndZoom(point, 16);
				
				// 创建标注
				var marker = new BMap.Marker(point);
				marker.enableDragging();
				marker.addEventListener("dragend",function(e){
					point = e.point;
					// 填充地标
					$('input[name=lat]').val(point.lat);
					$('input[name=lng]').val(point.lng);
				})
				
				// 填充地标
				$('input[name=lat]').val(point.lat);
				$('input[name=lng]').val(point.lng);
				
				var label = new BMap.Label(address, {offset: offset});
				label.setStyle({
					color: "#ff3366",
					fontSize: "12px",
					padding: "5px",
					lineHeight: "20px",
					'border-radius': "4px",
					fontFamily:"微软雅黑"
				});

                // 移除原有坐标
                map.clearOverlays();

				marker.setLabel(label);
				
				map.addOverlay(marker);
			} else {
				alert('您选择地址没有解析到结果!');
			}
		});
	
		return;
	});


	// 选择分类
	$('body').on('click', '.category.button', function(){
		var id = $(this).attr('data-value');
		if ($(this).hasClass('active')){
			$(this).removeClass('active');
            phenix.remove_asset_id('sight-category', id);
		}else{
			$(this).addClass('active');
            phenix.record_asset_id('sight-category', id);
		}
		
        return false;
	});

	
{% endblock %}

{% block content %}
<div class="admin">
	
	<h3 class="ui header">情境管理</h3>
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_app_admin_base }}/scene_sight" class="item">
			全部
		</a>
	  	<div class="right menu">	
			<a href="{{ app_url_app_admin_base }}/scene_sight/add" class="item">
				<i class="add icon"></i>添加情境
			</a>
			<!--
            <a href="javascript:void(0);" class="item ajax-delete">
				<i class="remove icon"></i>批量删除
			</a>
			-->
	    </div>
	</div>	
	
	<form action="{{ app_url_app_admin_base }}/scene_sight/save" class="ui form" method="post" id="active-form">
		<!-- 隐藏表单 -->
		<input type="hidden" name="id" value="{{ sight._id }}" />
		
		<div class="ui segment from">
			<h3 class="ui dividing header">填写情境信息</h3>

			<div class="grouped inline fields">

            <div class="field">
              <label>分类:</label>
              <input type="hidden" name="category_ids" value="{{ sight.category_ids_s }}" id="sight-category" />
              {% category_list var:'category' only_open:1 domain:13 pid:fid current:sight.category_ids %}
              {% for cat in category.rows %}
              <a class="ui {{ cat.active }} magenta category button" style="margin-bottom:2px;" data-tags="{{ cat.tags_s }}" data-value="{{ cat._id }}">{{ cat.title }}</a>
              {% endfor %}
            </div>

            <div class="field" id="category_tags_box">
              <input type="hidden" name="category_tags" value="{{ date.category_tags_s }}" id="sight-category-tags" />
                        <label for="category_tags">分类标签：</label>
                <span></span>
            </div>


            <div class="field">
                <label>标题</label>
				<input type="text" name="title" placeholder="名称" value="{{ sight.title }}" />
			</div>
            <div class="field">
                <label>详情</label>
                <textarea name="des" placeholder="详情">{{ sight.des }}</textarea>
            </div>

            <div class="field">
                <label>标签</label>
				<input type="text" id="tags" name="tags" placeholder="添写标签" value="{{ sight.tags_s }}" />
			</div>

            <div class="field">
                <label>所属地盘ID</label>
				<input type="text" name="scene_id" placeholder="地盘ID" value="{{ sight.scene_id }}" />
			</div>

            <div class="field">
                <label>参与的活动</label>
				<input type="text" name="subject_ids" placeholder="参与的活动IDs" value="{{ sight.subject_ids_s }}" />
			</div>

			<div class="field" style="display:none;">
                <label>所属标签</label>
				{% for tags in scene_tags %}
                <div class="ui tags">
					<div class="tags_title">
						<a class="ui teal tag label" date-val="{{ tags._id }}">{{ tags.title_cn }}</a>
						<!--<a class="ui orange label scene" date-val="{{ tags._id }}">加载标签</a>-->
					</div>
					<div class="tags_content" id="{{ tags._id }}"></div>
				</div>
				{% endfor %}
            </div>
			<div class="field">
                <label>情境地址</label>
				<input type="text" id="address" name="address" placeholder="情景地址" value="{{ sight.address }}" />
				<input type="hidden" name="lng" value="{{ sight.location.coordinates.0 }}" />
				<input type="hidden" name="lat" value="{{ sight.location.coordinates.1 }}" />
				<div type="button" value="按钮" class="map-box-btn" /></div>
            </div>
			<div id="allmap" style="height:400px;width:100%; margin-bottom: 20px"></div>
			
			<div class="ui right aligned grid">
				<div class="column">
                    <div class="ui inverted grey button cancel">
						点击取消
					</div>
					<div class="ui magenta inverted button submit save">
						确认提交
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
