{%extends 'layout/admin.html'%}
{% block page_css %}
<style type="text/css">
  
</style>
{% endblock %}

{% block jquery %}
  
{% endblock %}
	
{% block content %}
	<h3 class="ui header">app专题管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/special_subject" class="active item">
			全部
		</a>

	  	<div class="right menu">
			<a href="{{ app_url_admin_base }}/special_subject/add" class="item add_topic">
				<i class="plus square outline icon"></i>新建专题
			</a>
	    </div>
	</div>
	
	<table class="ui small table segment">
		<thead>
			<tr>
				<th>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" />
					  	<label></label>
					</div>
				</th>
				<th>标题</th>
				<th>标签</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% special_subject_list var:'list' page:page type:2 user_id:user_id reply_id:reply_id %}
		{% for special_subject in list.rows %}
			<tr id="{{ special_subject._id }}">
				<td>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" value="{{ sign._id }}" class="checkbox" />
					  	<label></label>
					</div>
				</td>
				<td>
						{{ special_subject.title }}
				</td>
				<td>
						{{ special_subject.title }}
				</td>
				<td>
					<p>
						{% if !special_subject.stick %}
			          	<a href="{{ app_url_admin }}/special_subject/ajax_stick?id={{ special_subject._id }}&evt=1" class="ui ajax link item" id="stick-{{ special_subject._id }}-button">
							推荐
						</a>
						{% else %}
			          	<a href="{{ app_url_admin }}/special_subject/ajax_stick?id={{ special_subject._id }}&evt=0" class="ui ajax link item" id="stick-{{ special_subject._id }}-button">
							取消推荐
						</a>
						{% endif %}
						<a href="{{ app_url_admin_base }}/special_subject/edit?id={{ special_subject._id }}&page={{ page }}" class="ui link item">编辑</a>
		          		<a href="{{ app_url_admin_base }}/special_subject/deleted?id={{ special_subject._id }}&page={{ page }}" class="ui confirm-request link item">删除</a>
					</P>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{% if list.rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
		{%include 'block/pager.html'%}
	</div>
	{% endif %}
{% endblock %}
