{%extends 'layout/mobile.html'%}
{% block title %}婴萌配奶机 -{% endblock %}
{% block page_css %}
<style type="text/css">
	#mfrbird{
		margin-top:0;
	}
	.section{
		position:relative;
		-webkit-font-smoothing: initial;
	}
	.section img{
		text-align:center;
		width:100%;
		margin-top:-3px;
	}
</style>
{% endblock %}
{% block jquery %}
{% endblock %}
{% block content %}
<div class="milk">
	<div class="section section1">
		<img src="{{ app_url_packaged }}/images/mall/wmik1.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik2.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik3.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik4.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik5.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik6.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik7.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik8.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik9.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik10.jpg" alt="婴萌配奶机">
		<img src="{{ app_url_packaged }}/images/mall/wmik11.jpg" alt="婴萌配奶机">
		<div class="ui responsive grid">
			<div class="row">
				<div class='center aligned column'>
					<a href="http://m.taihuoniao.com/shop/1111546391.html" target="_blank" class="ui inverted active gray button" title="婴萌配奶机">立即购买</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}