{%extends 'layout/column.html'%}
{% block title %}活动-铟立方未来实验室 -{% endblock %}

{% block page_css %}
<style type="text/css">
.lab.submenu>.ui.responsive.grid>.row{
	padding:1.6rem 0 0.6rem;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.lab.submenu > .ui.responsive.grid > .row > .column{
	padding:0;
}
.lab.submenu h3{
	margin:0;
}
.lab.submenu .right.wide.column a.ui.line.item{
	margin-left: 1rem;
	line-height: 23px;
}
a.line:hover, a.line.active {
  border-bottom: 2px solid rgba(0,0,0,0);
  transition: color .3s ease-in-out 0s;
  -webkit-transition: color .3s ease-in-out 0s;
  -moz-transition: color .3s ease-in-out 0s;
  -o-transition: color .3s ease-in-out 0s;
  -ms-transition: color .3s ease-in-out 0s;
  color:#f36;
}


</style>
{% endblock %}
{% block jquery %}
{% endblock %}
{% block content %}
<div class="lab submenu">
	<div class="ui responsive grid" style="padding:0 4%;">
		<div class="row">
			<div class="six wide column">
				<h3>D3IN铟立方未来实验室</h3>
			</div>
			<div class="ten wide right aligned column">
        {% include "block/d3in/sub_nav.html" %}
			</div>
		</div>
	</div>
</div>

{% active_list var:'list' published:1 deleted:1 kind:2 step_stat:4 state:2 page:page size:9 %}
<div class="ui big camp block">
	<div class="ui responsive grid" style="padding:0 4%;">
		<div class="row">
			<div class="column">
				<div class="ui three activity cards">
                    {% for active in list.rows %}
					<div class="card">
						<div class="image">
                            <a href="{{ active.view_url }}" title="{{ active.title }}" target="_blank">
                                <img src="{{ active.cover.thumbnails.md.view_url }}" >
                            </a>
							<div class="presell">
                                第 {{ active.season }} 期
							</div>
						</div>
						<div class="content">
                        	<div class="header">
                        		<a href="{{ active.view_url }}" title="{{ active.title }}" class="ui line" target="_blank">{{ active.title|truncate 26 '' }}－{{ active.conduct_city }}站 </a>
                      	  	</div>
                            <div class="description">
                                <span class="people">
                                    活动地址：{{ active.conduct_city }}{{ active.address }}，限额人数：{{ active.max_number_count }}人
                                </span>
                            </div>
                            <div class="i-stats">
                                <div class="love">
                                    <span class="address">
                                        <i class="time icon"></i> {{ active.begin_time|date 'Y/m/d H:i' }}
                                    </span>
                                    <span class="apply">
                                        {% if active.step_stat == 2 %}
                                            已结束
                                        {% else %}
                                        <a class="ui line" href="{{ active.view_url }}">
                                            我要报名
                                  	  	</a>
                                        {% endif %}
                                    </span>
                                    
                                </div>
                            </div>
						</div>
					</div>
                    {%endfor%}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column">
            	{% if list.total_rows %}
            	<div class="ui pagination">
            		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
            		{%include 'block/pager.html'%}
            	</div>
            	{% endif %}
            </div>
        </div>

	</div>
</div>


{% endblock %}
