{%extends 'layout/column.html'%}
{% block title %}铟立方未来实验室-下单 -{% endblock %}

{% block page_css %}
<style type="text/css">
.lab.submenu>.ui.responsive.grid>.row{
	padding:1rem 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
}
.lab.submenu > .ui.responsive.grid > .row > .column{
	padding:0;
}
.lab.submenu h3{
	margin:0;
}
.lab.submenu .right.wide.column a.ui.line.item{
	margin-left: 1rem;
	line-height: 23px;
}
.ui.white.grid.row{
	padding: 1rem 5% !important;
	margin:1rem 0;
}

</style>
{% endblock %}
{% block jquery %}

	$('#checkout-form').form({

		evt: {
			identifier  : 'evt',
			rules: [
				{
					type   : 'empty',
					prompt : '请选择一种类型'
				}
			]
		}
	}, {
		inline : false,
	    error: {
	      method  : function(message){
		      phenix.show_error_note(message, 3000);
		  }
	    },
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(result){
					phenix.after_submit();
					
					if(result.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(result.message, 5000);
					}else{						
						phenix.redirect(result.redirect_url, 0);
					}
				}
			});
		}
	});

{% endblock %}
{% block content %}
<div class="lab submenu">
	<div class="ui responsive grid" style="padding:0 11%;">
		<div class="row">
			<div class="eight wide column">
				<h3>D3IN铟立方未来实验室</h3>
			</div>
			<div class="eight right aligned wide column">
        {% include "block/d3in/sub_nav.html" %}
			</div>
		</div>
	</div>
</div>
<div class="ui big block">
	<div class="ui responsive grid" style="padding:0 11%;">
		<div class="row">
			<div class="column" style="padding-left:0;">
				<h3 class="ui header">购买信息</h3>
			</div>
		</div>
		<div class="row ui white responsive grid">
			<div class="column">
        <p>会员服务：{{ server_str }}</p>
        <p>起始时间：{{ begin_time }} / {{ end_time }}</p>
			</div>
			<div class="row">
				<div class="center aligned column">
          <form action="{{ app_url_d3in }}/confirm" method="post" id="checkout-form" class="ui form">
            <input type="hidden" name="evt" value="{{ evt }}" />
							<div class="right aligned ten wide column">
								<div class="ui magenta checkout submit inverted button">
                  <i class="checkmark icon"></i> 立即购买
                </div>
							</div>
          </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
				
				
				
				
