<?php
//dump on 2014-12-22 16:38:34
Doggy_Config::add( array (
  'app.dispatcher.result.map' => 
  array (
    'redirect' => 'Doggy_Dispatcher_Result_Redirect',
    'json' => 'Doggy_Dispatcher_Result_Json',
    'file' => 'Doggy_Dispatcher_Result_File',
    'raw' => 'Doggy_Dispatcher_Result_Raw',
    'jquery' => 'Doggy_Dispatcher_Result_JQuery',
    'dt' => 'DoggyX_View_HtmlPage',
    'html' => 'DoggyX_View_HtmlPage',
    'taconite' => 'DoggyX_View_TaconitePage',
    'rss' => 'DoggyX_View_RssPage',
    'mongofs' => 'DoggyX_View_MongoFs',
  ),
  'app.dispatcher.interceptors.run' => 
  array (
    0 => 'Doggy_Dispatcher_Interceptor_Parameters',
    1 => 'Doggy_Dispatcher_Interceptor_UploadSupport',
    2 => 'Sher_Core_Interceptor_XSession',
    3 => 'DoggyX_Interceptor_BeforeInvoke',
  ),
  'app.dispatcher.interceptors.auth' => 
  array (
    'authen_action' => 'Doggy_Auth_Authentication_SimpleAction',
  ),
  'app.dispatcher.filters.run' => 
  array (
    'before' => 
    array (
      0 => 'Doggy_Dispatcher_Filter_Cache',
    ),
    'after' => 
    array (
      0 => 'Doggy_Dispatcher_Filter_Cache',
      1 => 'Doggy_Dispatcher_Filter_NginxMemCache',
      2 => '<rule1>',
      3 => '<ruleN>',
    ),
  ),
  'app.dispatcher.filters.cache' => 
  array (
    'rules' => 
    array (
      0 => '/(.*)html$/',
    ),
    'ttl' => 120,
    'group' => '_cache_pages_',
  ),
  'app.dispatcher.routes' => '',
  'app.session' => 
  array (
    'class' => 'Doggy_Session_Storage_Php',
    'cookie_path' => '/',
    'ttl' => 0,
  ),
  'app.storage.default' => 
  array (
    'class' => 'Doggy_Storage_Provider_FileSystem',
    'options' => 
    array (
      'root' => '/tmp',
      'url' => '',
    ),
  ),
  'app.auth.provider.default' => 
  array (
    'class' => 'Doggy_Auth_Authentication_SessionProvider',
  ),
  'app.log.default' => 
  array (
    'class' => 'Doggy_Log_FileLog',
    'options' => 
    array (
      'output' => 'dev.log',
      'level' => 'debug',
    ),
  ),
  'app.log.trace' => 
  array (
    'class' => 'Doggy_Log_FileLog',
    'options' => 
    array (
      'output' => 'trace.log',
      'level' => 'debug',
    ),
  ),
  'app.cache_manager.default' => 
  array (
    'provider' => 'Doggy_Cache_Provider_Memcached',
    'options' => 
    array (
      'host' => '127.0.0.1:11211',
      'ttl' => 3600,
    ),
  ),
  'app.dba.default' => 'mysql://root:@localhost/test?charset=utf8',
  'app.model.dba' => 'default',
  'app.db.default' => 'mysql://root:root@localhost/passport?charset=utf8',
  'app.dt' => 
  array (
    'cache' => 'XCache',
    'adapter_id' => 'default',
  ),
  'app.dt.extension_lib.core' => 
  array (
    'tags' => '',
    'filters' => '',
  ),
  'app.cache.memcached.default' => 
  array (
    'servers' => 
    array (
      0 => 
      array (
        'host' => '127.0.0.1',
        'port' => 11211,
        'weight' => 1,
      ),
    ),
  ),
  'app.util.mail.default' => 
  array (
    'host' => 'localhost',
    'user' => 'no-reply@localhost',
    'password' => '',
    'smtp_auth' => false,
    'from' => 'no-reply@localhost',
    'from_name' => 'system',
  ),
  'app.modules.doggy' => 
  array (
    'default_action' => 'Doggy_Action_Doggy',
    'state' => 'on',
    'namespace' => 'Doggy',
    'index_action' => 'Doggy',
  ),
  'app.modules.boot' => 'sher',
  'app.seq_generator' => '',
  'app.id' => 'sher',
  'app.mode' => 'dev',
  'app.runtime.error_page' => '',
  'app.version' => '1.0',
  'app.modules.sher' => 
  array (
    'state' => 'on',
    'namespace' => 'Sher_App',
    'index_action' => 'Index',
  ),
  'app.modules.admin' => 
  array (
    'state' => 'on',
    'namespace' => 'Sher_Admin',
    'index_action' => 'Console',
  ),
  'app.modules.wap' => 
  array (
    'state' => 'on',
    'namespace' => 'Sher_Wap',
    'index_action' => 'Index',
  ),
  'app.modules.wechat' => 
  array (
    'state' => 'on',
    'namespace' => 'Sher_Wechat',
    'index_action' => 'Index',
  ),
  'app.modules.api' => 
  array (
    'state' => 'on',
    'namespace' => 'Sher_Api',
    'index_action' => 'Data',
  ),
  'app.session.ttl' => 1800,
  'app.session.service' => 'Sher_Core_Session_Service',
  'app.session.engine' => 'DoggyX_Session_Engine_Mongo',
  'app.session.online_ttl' => 600,
  'app.session.engine.options' => 
  array (
    'collection' => 'session',
  ),
  'app.session.sid' => 'sher_sid',
  'app.session.auth_sid' => 'sher_asid',
  'app.serialno.name' => 'serialno',
  'app.mongodb_host' => '127.0.0.1',
  'app.mongodb_rs' => false,
  'app.mongo.default' => 
  array (
    'host' => '127.0.0.1:27017',
    'db' => 'firebird',
    'username' => 'root',
  ),
  'app.redis_host' => 'localhost:6379',
  'app.dt.extension_lib.sher_app' => 
  array (
    'tags' => 
    array (
      'category_list' => 'Sher_Core_ViewTag_CategoryList',
      'topic_list' => 'Sher_App_ViewTag_TopicList',
      'product_list' => 'Sher_App_ViewTag_ProductList',
      'like_list' => 'Sher_App_ViewTag_LikeList',
      'support_list' => 'Sher_App_ViewTag_SupportList',
      'asset_list' => 'Sher_App_ViewTag_AssetList',
      'comment_list' => 'Sher_App_ViewTag_CommentList',
      'vote_list' => 'Sher_Core_ViewTag_VoteList',
      'addbooks_list' => 'Sher_Core_ViewTag_AddBooksList',
      'order_list' => 'Sher_Core_ViewTag_OrderList',
      'try_list' => 'Sher_Core_ViewTag_TryList',
      'apply_list' => 'Sher_Core_ViewTag_ApplyList',
      'search_list' => 'Sher_App_ViewTag_SearchList',
      'follow_list' => 'Sher_App_ViewTag_FollowList',
      'user_list' => 'Sher_App_ViewTag_UserList',
      'sku_list' => 'Sher_Core_ViewTag_SkuList',
      'bonus_list' => 'Sher_Core_ViewTag_BonusList',
      'tags_list' => 'Sher_App_ViewTag_TagsList',
      'ad_list' => 'Sher_Core_ViewTag_AdList',
      'edm_list' => 'Sher_Core_ViewTag_EdmList',
      'space_list' => 'Sher_Core_ViewTag_SpaceList',
      'favorite_list' => 'Sher_Core_ViewTag_FavoriteList',
      'cake_list' => 'Sher_App_ViewTag_CakeList',
      'message_list' => 'Sher_App_ViewTag_MessageList',
      'pager' => 'Sher_App_ViewTag_Pager',
    ),
    'filters' => 
    array (
    ),
  ),
  'app.js.use_bundle' => 0,
  'app.css.use_bundle' => 0,
  'app.url.invite.trigger' => 1,
  'app.db.passport' => 'mysql://root:root@localhost/passport?charset=utf8',
  'app.qiniu.key' => 'ERh7qjVSy0v42bQ0fftrFeKYZG39XbzRlaJO4NFy',
  'app.qiniu.secret' => 'r-NUrKsnRBEwTQxbLONVrK9tPuncXyHmcq4BkSc7',
  'app.qiniu.bucket' => 'frbird',
  'app.keychains.private' => 'xxxxOOOOxxxx',
  'app.email.from' => 
  array (
    'address' => 'no-reply@taihuoniao.com',
    'name' => '系统邮件服务',
  ),
  'app.system.user_id' => 1,
  'app.product.topic_category_id' => 59,
  'app.try.report_category_id' => 58,
  'app.follow.max' => 2000,
  'app.vote.interval' => 15,
  'app.vote.lowest' => 10,
  'app.presale.interval' => 15,
  'app.presale.lowest' => 10,
  'app.wechat.ser_token' => '5382021d5771db562c1ce1de',
  'app.wechat.ser_app_id' => 'wx75a9ffb78f202fb3',
  'app.wechat.ser_app_secret' => 'f80ae853ef243f66284ad13781cb69de',
  'app.wechat.ser_partner_id' => '1219487201',
  'app.wechat.ser_partner_key' => '8db453c4e80d0c28aa5b4664e22ea013',
  'app.wechat.ser_paysignkey' => 'ArioxptbBJu25ANvabeBqavpE7diWUfTtDu1FCkt66Ojdzb1N3ajKoGAX3xdT3GIsj7C8g1pglSBVqaUNrqsoz5vfiASYrinEL4bAvuhTBgs1ZrdX7gJNgx8qgHBG0V4',
  'app.wechat.token' => '5382ebad0c28aab443bfe3c7',
  'app.wechat.app_id' => 'wx4cf88d6bf30430db',
  'app.wechat.app_secret' => '795ff8ca3d4a57ae645e4d217c193988',
  'app.tenpay.partner' => '1220172801',
  'app.tenpay.key' => 'c61bea76f78ee72048aaa6570ad36ab3',
  'app.frbird.key' => '1415289600',
  'app.frbird.sercet' => '545d9f8aac6b7a4d04abffe5',
  'app.storage.sher' => 
  array (
    'class' => 'Doggy_Storage_Provider_FileSystem',
    'options' => 
    array (
      'root' => '/Users/xiaoyi/data/uploads',
      'root_url' => 'http://img.taihuoniao.me',
      'hash_dir' => false,
    ),
  ),
  'app.asset.thumbnails' => 
  array (
    'mini' => '120x120',
    'tiny' => '160x120',
    'small' => '280x210',
    'medium' => '320x240',
    'large' => '580x435',
    'big' => '700x525',
    'huge' => '900x',
    'massive' => '1024x768',
  ),
  'app.asset.avatars' => 
  array (
    'big' => 360,
    'medium' => 180,
    'small' => 100,
    'mini' => 50,
  ),
  'app.word.filter' => 
  array (
    'seword' => 'tmd|sex|色情|妈的|奶奶的|日你|TNND|她娘的',
  ),
  'app.domain.base' => 'http://taihuoniao.me',
  'app.domain.static' => 'http://static.taihuoniao.me',
  'app.domain.app' => 'http://taihuoniao.me',
  'app.url.domain' => 'http://taihuoniao.me',
  'app.url.action_base' => 'http://taihuoniao.me/app/site',
  'app.url.admin_base' => 'http://taihuoniao.me/app/admin',
  'app.domain.mobile' => 'http://m.taihuoniao.me',
  'app.url.mobile' => 'http://m.taihuoniao.me',
  'app.url.wap' => 'http://m.taihuoniao.me',
  'app.url.wap.social' => 'http://m.taihuoniao.me/social',
  'app.url.wap.social.list' => 'http://m.taihuoniao.me/social/list',
  'app.url.wap.social.show' => 'http://m.taihuoniao.me/social/show-%s-%s.html',
  'app.url.wap.shop' => 'http://m.taihuoniao.me/shop',
  'app.url.wap.shop.view' => 'http://m.taihuoniao.me/shop/%s.html',
  'app.url.wap.my' => 'http://m.taihuoniao.me/my',
  'app.url.wap.auth' => 'http://m.taihuoniao.me/auth',
  'app.url.static' => 'http://static.taihuoniao.me',
  'app.url.packaged' => 'http://static.taihuoniao.me',
  'app.url.uncompressed' => 'http://static.taihuoniao.me/uncompressed',
  'app.url.js' => 'http://static.taihuoniao.me/js',
  'app.url.css' => 'http://static.taihuoniao.me/css',
  'app.url.images' => 'http://static.taihuoniao.me/images',
  'app.url.bundle' => 'http://taihuoniao.me/bundle',
  'app.url.welcome' => 'http://taihuoniao.me/app/site/index/welcome',
  'app.url.index' => 'http://taihuoniao.me',
  'app.url.tags' => '/tags',
  'app.url.tag' => '/tag',
  'app.url.sale' => 'http://taihuoniao.me/sale',
  'app.url.sale.list' => 'http://taihuoniao.me/sale',
  'app.url.sale.view' => 'http://taihuoniao.me/sale/%s.html',
  'app.url.shop' => 'http://taihuoniao.me/shop',
  'app.url.shop.list' => 'http://taihuoniao.me/shop',
  'app.url.shop.view' => 'http://taihuoniao.me/shop/%s.html',
  'app.url.social' => 'http://taihuoniao.me/social',
  'app.url.topic' => 'http://taihuoniao.me/topic',
  'app.url.topic.list' => 'http://taihuoniao.me/topic/list-c%s-t%s-d%s-t%s-p%s.html',
  'app.url.topic.view' => 'http://taihuoniao.me/topic/view-%s-%s.html',
  'app.url.product.subject' => 'http://taihuoniao.me/topic/subject?id=%s&page=%s',
  'app.url.product' => 'http://taihuoniao.me/app/site/product',
  'app.url.fever' => 'http://taihuoniao.me/fever',
  'app.url.fever.list' => 'http://taihuoniao.me/fever/list-c%s-t%s-s%s-p%s.html',
  'app.url.fever.view' => 'http://taihuoniao.me/fever/%s.html',
  'app.url.shopping' => 'http://taihuoniao.me/shopping',
  'app.url.cart' => 'http://taihuoniao.me/shopping/cart',
  'app.url.cart.buy' => 'http://taihuoniao.me/shopping/buy',
  'app.url.cart.nowbuy' => 'http://taihuoniao.me/shopping/now_buy',
  'app.url.address' => 'http://taihuoniao.me/app/site/address',
  'app.url.favorite' => 'http://taihuoniao.me/app/site/favorite',
  'app.url.asset' => 'http://taihuoniao.me/app/site/asset',
  'app.url.advertise.view' => 'http://taihuoniao.me/app/site/tracker?kid=%s',
  'app.url.wechat' => 'http://taihuoniao.me/wechat',
  'app.url.mm_shop.view' => 'http://taihuoniao.me/wechat/%s.html',
  'app.url.jsapi.wxpay' => 'http://taihuoniao.me/wxpay/',
  'app.url.jsapi.wxpay.request' => 'http://taihuoniao.me/wxpay/payment',
  'app.url.native.wxpay' => 'http://taihuoniao.me/wxpay/direct_native',
  'app.url.native.feedback' => 'http://taihuoniao.me/wxpay/feedback',
  'app.url.native.warning' => 'http://taihuoniao.me/wxpay/warning',
  'app.url.qiniu.upload' => 'http://taihuoniao.me/app/site/uploader',
  'app.url.qiniu.frbird' => 'http://frbird.qiniudn.com',
  'app.url.qiniu.frstatic' => 'http://frstatic.qiniudn.com',
  'app.url.qiniu.assets' => 'http://taihuoniao.me/app/site/asset',
  'app.url.qiniu.onelink' => 'http://taihuoniao.me/app/site/asset/qiniu_onelink',
  'app.url.upload' => 'http://taihuoniao.me/app/site/uploader',
  'app.url.upload.product' => 'http://taihuoniao.me/app/site/uploader/product',
  'app.url.upload.topic' => 'http://taihuoniao.me/app/site/uploader/topic',
  'app.url.upload.pictures' => 'http://taihuoniao.me/app/site/uploader/pictures',
  'app.url.my' => 'http://taihuoniao.me/my',
  'app.url.my.message' => 'http://taihuoniao.me/my/message',
  'app.url.my.orders' => 'http://taihuoniao.me/my/orders',
  'app.url.my.order_view' => 'http://taihuoniao.me/my/order_view?rid=%s',
  'app.url.user' => 'http://taihuoniao.me/user',
  'app.url.user.love' => 'http://taihuoniao.me/user/%s/love',
  'app.url.user.album' => 'http://taihuoniao.me/user/%s/album',
  'app.url.user.view' => 'http://taihuoniao.me/user/%s',
  'app.url.alipay' => 'http://taihuoniao.me/app/site/alipay',
  'app.url.tenpay' => 'http://taihuoniao.me/app/site/tenpay',
  'app.url.quickpay' => 'http://taihuoniao.me/app/site/quickpay',
  'app.url.comment' => 'http://taihuoniao.me/app/site/comment',
  'app.url.try' => 'http://taihuoniao.me/try',
  'app.url.try.view' => 'http://taihuoniao.me/try/view-%s.html',
  'app.url.auth' => 'http://taihuoniao.me/auth',
  'app.url.login' => 'http://taihuoniao.me/auth/login',
  'app.url.logout' => 'http://taihuoniao.me/auth/logout',
  'app.url.register' => 'http://taihuoniao.me/auth/signup',
  'app.url.forget' => 'http://taihuoniao.me/auth/forget',
  'app.url.invite' => 'http://taihuoniao.me/auth/invite',
  'app.url.qq.login' => 'http://taihuoniao.me/app/site/qq',
  'app.url.admin' => 'http://taihuoniao.me/app/admin',
  'app.url.admin.report' => 'http://taihuoniao.me/app/admin/report',
  'app.url.admin.reply' => 'http://taihuoniao.me/app/admin/reply',
  'app.url.thumb' => '/uploads/%s',
  'app.url.asset_view' => '/app/site/asset/view?id=%s',
  'app.url.search' => 'http://taihuoniao.me/search',
  'app.url.search_tag' => 'http://taihuoniao.me/search/search_tag?q=',
  'app.url.default_thumb_small' => 'http://static.taihuoniao.me/images/pic_50x50.gif',
  'app.url.default_thumb_middle' => 'http://static.taihuoniao.me/images/pic_180x180.gif',
  'app.url.default_thumb_big' => 'http://static.taihuoniao.me/images/pic_580x580.gif',
  'app.url.default_thumb_middle_height' => 180,
  'app.url.helper' => 'http://taihuoniao.me/app/site/helper',
  'app.url.guide' => 'http://taihuoniao.me/app/site/guide',
  'app.url.about' => 'http://taihuoniao.me/app/site/guide/about',
  'app.url.contact' => 'http://taihuoniao.me/app/site/guide/contact',
  'app.url.join' => 'http://taihuoniao.me/app/site/guide/join',
  'app.url.share' => 'http://taihuoniao.me/share',
  'app.url.stuff' => 'http://taihuoniao.me/idea',
  'app.url.stuff.view' => 'http://taihuoniao.me/idea/%s',
  'app.url.goccia' => 'http://taihuoniao.me/goccia',
  'app.url.goccia.rule' => 'http://taihuoniao.me/activity/goccia',
  'app.version.sher' => 'v0.10b14121903',
  'app.version.jquery_bundle_version' => 'v0.10b14121903',
  'app.version.css_bundle_version' => 'v0.10b14121903',
  'app.email.domains' => 
  array (
    '163.com' => 'http://mail.163.com/',
    '126.com' => 'http://www.126.com/',
    'gmail.com' => 'http://mail.google.com/',
    'sina.com.cn' => 'http://mail.sina.com.cn/',
    'sina.cn' => 'http://mail.sina.com.cn/',
    'vip.sina.cn' => 'http://mail.sina.com.cn/',
    '2008.sina.com' => 'http://mail.2008.sina.com.cn/',
    'sohu.com' => 'http://mail.sohu.com/',
    'tom.com' => 'http://mail.tom.com/',
    '139.com' => 'http://mail.139.com/',
    'qq.com' => 'http://mail.qq.com/',
    'vip.qq.com' => 'http://mail.qq.com/',
    'foxmail.com' => 'http://foxmail.com/',
    'hotmail.com' => 'http://www.hotmail.com/',
    'live.com' => 'http://mail.live.com/',
    'yahoo.com.cn' => 'http://mail.cn.yahoo.com/',
    'yahoo.cn' => 'http://mail.cn.yahoo.com/',
    'yahoo.com' => 'http://mail.yahoo.com/',
    'eyou.com' => 'http://www.eyou.com/',
    '21cn.com' => 'http://mail.21cn.com/',
    'yeah.net' => 'http://www.yeah.net/',
    '188.com' => 'http://www.188.com/',
    'sogou.com' => 'http://mail.sogou.com/',
    '189.cn' => 'http://webmail3.189.cn/webmail/',
  ),
  'app.url.upload_url' => 'http://taihuoniao.me/uploader',
  'app.doggyx.class_path' => '/opt/project/php/doggy-x',
  'app.redis.default' => 
  array (
    'host' => '127.0.0.1',
    'port' => 6379,
  ),
  'app.topic.dream_category_id' => 64,
  'app.comeon.product_id' => 1120800090,
  'app.alipay.partner' => '2088411237666512',
  'app.alipay.key' => '8igqejramxdbw53yvlp8aukvbt9s5rnd',
  'app.alipay.cacert' => '/Users/xiaoyi/project/phenix/vendor/cacert.pem',
  'app.alipay.pendir' => '/Users/xiaoyi/project/phenix/vendor',
  'app.taobao.key' => '21781655',
  'app.taobao.secret' => '0b36c8be771fae402ba28bd59b75d589',
  'app.sinaweibo.app_key' => '3156984431',
  'app.sinaweibo.app_secret' => '392108a844e55d5d9db81a585feab60b',
  'app.sinaweibo.callback_url' => 'http://taihuoniao.me/sina/authorize',
  'app.qq.app_id' => '101092227',
  'app.qq.app_key' => 'ba61849a6ab90421e849c116f4f4dea4',
  'app.qq.callback_url' => 'http://taihuoniao.me/qq/authorize',
  'app.qq.scope' => 'get_user_info,add_share,add_weibo,add_t,add_pic_t,get_info',
  'app.url.upload.avatar' => 'http://taihuoniao.me/app/site/uploader/avatar',
  'app.url.upload.dotry' => 'http://taihuoniao.me/app/site/uploader/dotry',
  'app.url.upload.advertise' => 'http://taihuoniao.me/app/site/uploader/advertise',
  'app.quickpay.key' => '898111153990242',
  'app.quickpay.secret' => '88888888',
  'app.url.front_pay_url' => 'http://202.101.25.184/UpopWeb/api/Pay.action',
  'app.url.back_pay_url' => 'http://202.101.25.184/UpopWeb/api/BSPay.action',
  'app.url.query_url' => 'http://202.101.25.184/UpopWeb/api/Query.action',
  'app.storage.tmpdir' => '/Users/xiaoyi/data/export',
));?>