{{#rows}}

        <div class="{% if address.is_default %}active {% endif %} block" id="{{ address._id }}" data-id="{{ address._id }}">
            <div class="content">
                <h4 class="ui dividing header">
                    <i class="map marker icon"></i> <span class="name">{{ address.name }}</span>
                </h4>
                <p>{{ address.phone }}</p>
                <p>{{ address.area_province.city}} {{ address.area_district.city }}<br /> {{ address.address }} <span>({{ address.zip }})</span></p>
            
                <div class="actions">
                    <a class="ui small gray icon edit button" data-id="{{ address._id }}">
                        <i class="edit icon"></i>
                    </a>
                    <a class="ui small gray icon remove button" data-id="{{ address._id }}">
                        <i class="remove icon"></i>
                    </a>
                </div>
            </div>
        </div>

{{/rows}}


