{{#results.rows}}
<div class="card" id="{{ _id }}">
    <div class="problock">
        <a title="{{ title }}" href="{{ product_url }}?did={{_id}}" style="background-image: url({{ cover.thumbnails.huge.view_url }});" class="thumb" target="_blank"></a>
        <div class="albums-count">
          <i class="block layout icon"></i>
          {{ product_count }}
        </div>
        <h2>
            <a href="{{ product_url }}?did={{_id}}" title="{{ title }}" class="ui line" target="_blank">
			    {{ title }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ des }}</p>
        </div>
        <div class="cats">
  			  {{#can_edit}}
    			<span class="counter">
    				<a href="{{ url }}/edit?id={{_id}}"><i class="edit icon"></i> 编辑</a>
    			</span>
    			<span class="counter">
    				<a class="ajax" href="{{ url }}/delete?id={{_id}}"><i class="remove icon"></i> 删除</a>
    			</span>
    			{{/can_edit}}
  			</div>

			<span class="counter" style="right:60px;">
			<!--	<i class="star icon"></i> {{ favorite_count }}-->
			</span>
			<span class="counter">
				<i class="unhide icon"></i>{{ view_count }}
			</span>
    </div>
</div>
{{/results.rows}}
