{{#results.rows}}
<div class="card" id="{{ _id }}">
    <div class="problock">
        <a title="{{ product.title }}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});padding-top: 65% !important;" class="thumb" target="_blank">        </a>
        <h2>
            <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line" target="_blank">
			    {{ product.title }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ product.advantage }}</p>
        </div>
        <div class="cats">
          {{#can_edit}}
  			  <span class="counter">
  				  <a class="ajax" href="{{ url }}/delete?id={{_id}}&did={{did}}"><i class="remove icon"></i> 删除</a>
  			  </span>
  			  {{/can_edit}}
        </div>
			<span class="counter" style="right:60px;">
				<i class="unhide icon"></i>{{ product.view_count }}
			</span>
			<span class="counter">
				<i class="heart icon"></i> {{ product.love_count }}
			</span>
			
    </div>
</div>
{{/results.rows}}
