<div class="image" style="background-image: url('{{ phenix.images }}/headbg/ucenter-{{ user.last_char }}.jpg');">
	<div class="auth">
		<label>{{ user.nickname }}</label>
        <div class="action">
            {{#is_ship}}
            <a href="{{ phenix.domain }}/user/ajax_cancel_follow?id={{ user.id }}" class="ui active tiny white inverted button ajax" id="user_{{ user.id }}_ship">
                <i class="minus icon"></i> 已关注
            </a>
            {{/is_ship}}
            {{^is_ship}}
            <a href="{{ phenix.domain }}/user/ajax_follow?id={{ user.id }}" class="ui tiny white inverted button ajax" id="user_{{ user.id }}_ship">
                <i class="plus icon"></i> 关注
            </a>
            {{/is_ship}}
        </div>
	</div>
	<img src="{{ user.small_avatar_url }}" class="ui small avatar image" />
</div>
<div class="title">
    {{ user.city }} {{ user.profile.job }} <small>Lv.{{ user.ext_state.rank_id }}</small>
</div>
<p>{{ user.summary }}</p>
<div class="ui tiny three statistics">
    <div class="red statistic">
        <div class="value">
            {{ user.topic_count }}
        </div>
        <div class="label">
            话题
        </div>
    </div>
    <div class="red statistic">
        <div class="value">
            {{ user.product_count }}
        </div>
        <div class="label">
            产品
        </div>
    </div>
    <div class="red statistic">
        <div class="value">
            {{ user.fans_count }}
        </div>
        <div class="label">
            粉丝
        </div>
    </div>
</div>