<div class="masthead segment">
	<div class="masthead-cover">
		<div class="ui responsive head grid">
			<div class="row">
				<div class="column">
					<div class="introduction">
						{% if css_page_fever %}
						<h1 class="ui header">
							提交你的创意
						</h1>
						<p class="sub header">把你天马行空得创意交给我们，我们一起将它变成现实.</p>
						{% endif %}
					
						{% if css_page_topic %}
						<h1 class="ui header">
							发现最有兴趣的创意
						</h1>
						<p class="sub header">把你天马行空得创意交给我们，我们一起将它变成现实.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>