{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}

{% block jquery %}
	// 发布上架
	$('.item.publish-onsale').bind('click', function(){
		var selected_ids = [];
		
		$('input.checkbox:checked').each(function(){
			var v = $(this).val();
			selected_ids.push(v);
		});
		
		if (!selected_ids.length){
			alert('请选择发布产品');
		}
		
		var url = $(this).attr('href');
		$.get(url, {id: selected_ids.join(',')});
		
		return false;
	});
	
	// 删除产品
	$('.item.ajax-delete').bind('click', function(){
		var selected_ids = [];
		
		$('input.checkbox:checked').each(function(){
			var v = $(this).val();
			selected_ids.push(v);
		});
		
		if (!selected_ids.length){
			alert('请选择想删除的产品');
		}
		
		var url = $(this).attr('href');
		$.get(url, {id: selected_ids.join(',')});
		
		return false;
	});
	
{% endblock %}
	
{% block content %}
	<h3 class="ui header">订单管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/orders" class="{% if !s %}active{%endif%} item">
			全部
		</a>
		<a href="{{ app_url_admin_base }}/orders?s=1" class="{% if s == 1 %}active{%endif%} item">
			未支付
		</a>
		<a href="{{ app_url_admin_base }}/orders?s=2" class="{% if s == 2 %}active{%endif%} item">
			待发货
		</a>
		<a href="{{ app_url_admin_base }}/orders?s=3" class="{% if s == 3 %}active{%endif%} item">
			已发货
		</a>
		<a href="{{ app_url_admin_base }}/orders?s=4" class="{% if s == 4 %}active{%endif%} item">
			已完成
		</a>
		<div class="right menu">
			<a href="{{ app_url_admin_base }}/orders?s=9" class="{% if s == 9 %}active{%endif%} item">
				已关闭
			</a>
		</div>
	</div>
	
	<div class="ui sub nav">
		<form action="{{ app_url_admin_base }}/orders" method="post">
			<label>搜索：</label>
			<div class="ui icon input">
				<input placeholder="Search..." type="text" name="q">
				<i class="search icon"></i>
			</div>
		</form>
	</div>
	
	{% order_list var:'list' user_id:user_id status:s size:10 %}
	
	{% for order in list.rows %}
		{% include 'block/order-item.html' %}
	{% else %}
	<div class="ui center aligned segment">
		<p>没有相关订单</p>
	</div>
	{% endfor %}
	
	{% if list.rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
		{% include 'block/pager.html' %}
	</div>
	{% endif %}
	
{% endblock %}