{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}

{% block jquery %}
	
{% endblock %}
	
{% block content %}
	<h3 class="ui header">专题管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/special" class="active item">
			全部
		</a>

	  	<div class="right menu">
        <a href="{{ app_url_admin_base }}/special/export?target_id={{target_id}}" class="item">
          导出Excel
        </a>
	    </div>
	</div>
	
	<table class="ui small table segment">
		<thead>
			<tr>
				<th>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" />
					  	<label></label>
					</div>
				</th>
				<th>缩略图</th>
				<th>ID/number</th>
        <th>信息</th>
        <th>IP</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
			</tr>
		</thead>
		<tbody>

			{% subject_record_list var:'list' target_id:target_id type:1 event:event page:page size:size %}

			{% for f in list.rows %}
        
          <tr id="{{ f._id }}">
            <td>
              <div class="ui checkbox">
                  <input name="ids" type="checkbox" value="{{ f._id }}" class="checkbox" />
                  <label></label>
              </div>
            </td>
            <td>
              {% if f.user %}
              <a class="ui image label link" href="{{ f.user.home_url }}" target="_blank">
                  <img src="{{ f.user.mini_avatar_url }}">
                  {{ f.user.nickname }}
              </a>
              {%else%}
                游客
              {%endif%}
            </td>
            <td>
                <p class="attribute">Number：{{ f.number }}</p>
                {% if target_id==3 %}
                <p class="attribute">领域: {{ f.option01 }}, 兴趣: {{ f.option02 }}</p>
                {%endif%}
            </td>
            <td>
              <p class="attribute">姓名：{{ f.info.realname|default '--' }}</p>
              <p class="attribute">手机：{{ f.info.phone|default '--' }}</p>
              <p class="attribute">公司：{{ f.info.company|default '--' }}</p>
              <p class="attribute">职位：{{ f.info.job|default '--' }}</p>
              <p class="attribute">地址：{{ f.info.address|default '--' }}</p>
              {% if f.info.account %}
                <p class="attribute">账号：{{ f.info.account|default '--' }}</p>
              {%endif%}
              {% if f.info.option_01 %}
              <p class="attribute">option_01：{{ f.info.option_01|default '--' }}</p>
              {%endif%}
              {% if f.info.option_02 %}
              <p class="attribute">option_02：{{ f.info.option_02|default '--' }}</p>
              {%endif%}

            </td>
            <td>{{ f.ip|default '--' }}</td>
            <td>{{ f.created_on|date 'y-m-d H:m' }}</td>

            <td id="stat-{{ f._id }}">
              {% if f.state == 1 %}
              <label class="ui green label">通过</label>
              {% endif %}
              
              {% if f.state == 2 %}
              <label class="ui orange label">未通过</label>
              {% endif %}
              
              {% if f.state == 0 %}
              <label class="ui gray label">审核中</label>
              {% endif %}
            </td>
            <td>
			          <a href="{{ app_url_admin }}/special/ajax_state?id={{ f._id }}&state=1" class="ui ajax link item">
							通过
						</a> | 
			          <a href="{{ app_url_admin }}/special/ajax_state?id={{ f._id }}&state=2" class="ui ajax link item">
							拒绝
						</a> | 
						<a href="{{ app_url_admin }}/special/del_attend?id={{ f._id }}" class="ui confirm-request link">删除</a>
            </td>
          </tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if list.rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
		{%include 'block/pager.html'%}
		<label class="page_count">{{ list.total_rows }}个</label>
	</div>
	{% endif %}
{% endblock %}
