{%extends 'layout/shop.html'%}
{% block title%}浙江传统产业设计再造计划金华站对接会{% endblock %}
{% block page_css %}
<style type="text/css">
.sfooter.nav-menu{
	display: none;
}
#mfrbird{
  margin-top: 0;
}
.appiosload{
    display: none !important;
}

.banner{
  position: relative;
  width: 100%;
  height: 602px;
	background: url({{ app_url_packaged }}/images/promo/qsyd3/h5_banner3.jpg) no-repeat;
	background-size: 100%;
}

.section {

}
.section h3 {
  color: #222;
  font-size: 18px;
}
.section p {
  color: #666;
  font-size: 14px;
  line-height: 1.2;
}
.section img {
  width: 100%;
}

.cont {
  padding: 20px 10px;
}


</style>
{% endblock %}

{% block layout_js %}
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" >
    var m_name = '2017“奇思甬动”中国创客大赛';
    var img_url = '{{ app_url_packaged }}/images/promo/qsyd3/qsyd_logo.jpeg';
    var link = '{{ current_url }}';
    var desc_str = '智能硬件展销专区';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
        signature: '{{ wxSha1 }}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
   });

    wx.ready(function(){
    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
     wx.onMenuShareAppMessage({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });      

    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareQQ({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareWeibo({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {

      }
    });
  });
</script>
{% endblock %}

{% block jquery %}

{% endblock %}

{% block content %}

<div class="">
  <div class="section">
    <img src="{{ app_url_packaged }}/images/promo/d3ingo_zj/b1.jpg" />
  </div>
  <div class="section">
    <div class="cont">
      <h3>什么是设计再造计划</h3>
      <p>      浙江“传统产业设计再造”计划由浙江省工业设计协会联合相关高校、梦栖工业设计小镇和全省17个省级工业设计示范基地共同发起，由浙江省工业设计创新服务基地运营公司杭州合创共响工业设计管理有限公司负责执行。该计划旨在贯彻落实省政府《浙江省全面改造提升传统制造业行动计划（2017—2020年）》，积极发挥工业设计在改造传统产业中的作用，集聚创新要素，用好创新平台，把浙江近五年集聚的设计优势转化为产业优势、市场优势、竞争优势，整合省内外工业设计产业生态链优势资源，通过工业设计为浙江传统产业注入创新活力，帮助制造企业“增品种、提品质、创品牌”，实现传统产业的转型升级。</p>
    </div>
  </div>

  <div class="section">
  
  </div>
</div>

{% endblock %}
