{%extends 'layout/fiu.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	.bonus{
		padding:22.26% 0;
		background: url({{ app_url_packaged }}/images/tb/tb3.jpg) no-repeat;
		background-size: 100%;
		font-size: 0;
    	display: block;
    	position: relative;
	}
	.bonus a{
		position: absolute;
		width: 44.53%;
	}
	.bonus a img{
		width: 100%;
		height: 100%;
	}
	.bonus .tb_1{
		right: 4.6%;
    	top: 7%;
	}
	.bonus .tb_2{
		top:50.8%;
		left: 4.6%;
	}
	.bonus .tb_3{
		top:50.8%;
		right: 4.6%;
	}
	.products{
		padding:60.9375% 0;
		background: url({{ app_url_packaged }}/images/tb/tb05.jpg) no-repeat;
		background-size: 100%;
		font-size: 0;
    	display: block;
    	position: relative;
	}
	.products a{
		position: absolute;
		width: 23%;
	}
	.pt-1{
		top: 7%;
		left: 4%;
	}
	.pt-2{
		top: 7%;
		left: 27%;
	}
	.pt-3{
		top: 7%;
		right: 27%;
	}
	.pt-4{
		top: 7%;
		right: 4%;
	}
	.pt-5{
		top: 38.4%;
		left: 4%;
	}
	.pt-6{
		top: 38.4%;
		left: 27%;
	}
	.pt-7{
		top: 38.4%;
		right: 27%;
	}
	.pt-8{
		top: 38.4%;
		right: 4%;
	}
	.pt-9{
		top: 69.87%;
		left: 4%;
	}
	.pt-10{
		top: 69.87%;
		left: 27%;
	}
	.pt-11{
		top: 69.87%;
		right: 27%;
	}
	.pt-12{
		top: 69.87%;
		right: 4%;
	}
</style>
{% endblock %}
{% block layout_js %}

{% endblock %}
{% block content %}
<img src="{{ app_url_packaged }}/images/tb/tb1.jpg" width="100%" align="absmiddle">
<a href="https://luckygo.ews.m.jaeapp.com/?i=MBzREzLHzREzMCzSBzLFzRGzLDzRI">
	<img src="{{ app_url_packaged }}/images/tb/tb2.jpg" width="100%" align="absmiddle">
</a>
<div class="bonus">
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=9b64bbaf5c8b459fb1ae8799122eb75d" class="tb_1"><img src="{{ app_url_packaged }}/images/tb/tb3_1.jpg"></a>
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=c9df1b59c6564335a0c711a88628eb49 " class="tb_2"><img src="{{ app_url_packaged }}/images/tb/tb3_2.jpg"></a>
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=30b8d13ddb2d411089bacbbf6675b54e" class="tb_3"><img src="{{ app_url_packaged }}/images/tb/tb3_3.jpg"></a>
</div>
<img src="{{ app_url_packaged }}/images/tb/tb4.jpg" width="100%" align="absmiddle">
<div class="products">
	<a href="https://detail.m.tmall.com/item.htm?id=540267265559" class="pt-1">
		<img src="{{ app_url_packaged }}/images/tb/tb5_1.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=525362881025" class="pt-2">
		<img src="{{ app_url_packaged }}/images/tb/tb5_2.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=45303161939" class="pt-3">
		<img src="{{ app_url_packaged }}/images/tb/tb5_3.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=522646231323 " class="pt-4">
		<img src="{{ app_url_packaged }}/images/tb/tb5_4.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=528963637566" class="pt-5">
		<img src="{{ app_url_packaged }}/images/tb/tb5_5.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=525026322886" class="pt-6">
		<img src="{{ app_url_packaged }}/images/tb/tb5_6.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=537335739730" class="pt-7">
		<img src="{{ app_url_packaged }}/images/tb/tb5_7.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=527729256404" class="pt-8">
		<img src="{{ app_url_packaged }}/images/tb/tb5_8.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=45335206249" class="pt-9">
		<img src="{{ app_url_packaged }}/images/tb/tb5_9.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=531532316426" class="pt-10">
		<img src="{{ app_url_packaged }}/images/tb/tb5_10.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=45893929149" class="pt-11">
		<img src="{{ app_url_packaged }}/images/tb/tb5_11.png" width="100%" align="absmiddle">
	</a>
	<a href="https://detail.m.tmall.com/item.htm?id=521711146293" class="pt-12">
		<img src="{{ app_url_packaged }}/images/tb/tb5_12.png" width="100%" align="absmiddle">
	</a>

</div>
<a href="https://detail.m.tmall.com/item.htm?id=520431655945"> 
	<img src="{{ app_url_packaged }}/images/tb/tb6.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=536425080878"> 
	<img src="{{ app_url_packaged }}/images/tb/tb7.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=525746076055">
	<img src="{{ app_url_packaged }}/images/tb/tb8.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=45566207611">
	<img src="{{ app_url_packaged }}/images/tb/tb9.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=528762181652">
	<img src="{{ app_url_packaged }}/images/tb/tb10.jpg" width="100%" align="absmiddle">
</a>
<a href="https://thhnsm.m.tmall.com/shop/shop_auction_search.htm?sort=default&suid=2151693949&spm=a320p.7692171.1998705856.i1">
	<img src="{{ app_url_packaged }}/images/tb/tb11.jpg" width="100%" align="absmiddle">
</a>
{% endblock %}