{%extends 'layout/fiu.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	.bonus{
		padding:22.26% 0;
		background: url({{ app_url_packaged }}/images/tb/tb3.jpg) no-repeat;
		background-size: 100%;
		font-size: 0;
    	display: block;
    	position: relative;
	}
	.bonus a{
		position: absolute;
		width: 44.53%;
	}
	.bonus a img{
		width: 100%;
		height: 100%;
	}
	.bonus .tb_1{
		right: 4.6%;
    	top: 7%;
	}
	.bonus .tb_2{
		top:50.8%;
		left: 4.6%;
	}
	.bonus .tb_3{
		top:50.8%;
		right: 4.6%;
	}
</style>
{% endblock %}
{% block layout_js %}

{% endblock %}
{% block content %}
<img src="{{ app_url_packaged }}/images/tb/tb1.jpg" width="100%" align="absmiddle">
<a href="https://luckygo.ews.m.jaeapp.com/?i=MBzREzLHzREzMCzSBzLFzRGzLDzRI">
	<img src="{{ app_url_packaged }}/images/tb/tb2.jpg" width="100%" align="absmiddle">
</a>
<div class="bonus">
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=9b64bbaf5c8b459fb1ae8799122eb75d" class="tb_1"><img src="{{ app_url_packaged }}/images/tb/tb3_1.jpg"></a>
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=c9df1b59c6564335a0c711a88628eb49 " class="tb_2"><img src="{{ app_url_packaged }}/images/tb/tb3_2.jpg"></a>
	<a href="https://taoquan.taobao.com/coupon/unify_apply.htm?sellerId=2151693949&activityId=30b8d13ddb2d411089bacbbf6675b54e" class="tb_3"><img src="{{ app_url_packaged }}/images/tb/tb3_3.jpg"></a>
</div>
<a href="https://tuan.play.m.jaeapp.com/mobile-plugin/coupons?shop_id=113005059&seller_nick=%E5%A4%AA%E7%81%AB%E7%BA%A2%E9%B8%9F%E6%95%B0%E7%A0%81%E4%B8%93%E8%90%A5%E5%BA%97&seller_id=2151693949">
	<img src="{{ app_url_packaged }}/images/tb/tb3.jpg" width="100%" align="absmiddle">
</a>
<img src="{{ app_url_packaged }}/images/tb/tb4.jpg" width="100%" align="absmiddle">
<a href="https://thhnsm.m.tmall.com">
	<img src="{{ app_url_packaged }}/images/tb/tb5.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=520431655945"> 
	<img src="{{ app_url_packaged }}/images/tb/tb6.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=536425080878"> 
	<img src="{{ app_url_packaged }}/images/tb/tb7.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=525746076055">
	<img src="{{ app_url_packaged }}/images/tb/tb8.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=45566207611">
	<img src="{{ app_url_packaged }}/images/tb/tb9.jpg" width="100%" align="absmiddle">
</a>
<a href="https://detail.m.tmall.com/item.htm?id=528762181652">
	<img src="{{ app_url_packaged }}/images/tb/tb10.jpg" width="100%" align="absmiddle">
</a>
<a href="https://thhnsm.m.tmall.com/shop/shop_auction_search.htm?sort=default&suid=2151693949&spm=a320p.7692171.1998705856.i1">
	<img src="{{ app_url_packaged }}/images/tb/tb11.jpg" width="100%" align="absmiddle">
</a>
{% endblock %}