{%extends 'layout/shop.html'%}
{% block title%}年会礼品-智能篇{% endblock %}
{% block page_css %}
<style type="text/css">
.sfooter.nav-menu{
	display: none;
}
.int,body{
	font-size: 0;
}
.int img{
	width: 100%;
	vertical-align: middle;
}
.bg{
	padding-top: 50.93333%;
	display: inline-block;
	width: 50%;
}
.int01{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int01.jpg);
	background-size: 100%;
}
.int02{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int02.jpg);
	background-size: 100%;
}
.int03{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int03.jpg);
	background-size: 100%;
}
.int04{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int04.jpg);
	background-size: 100%;
}
.int05{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int05.jpg);
	background-size: 100%;
}
.int06{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int06.jpg);
	background-size: 100%;
}
.int001{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int001.jpg);
	background-size: 100%;
}
.int002{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int002.jpg);
	background-size: 100%;
}
.int003{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int003.jpg);
	background-size: 100%;
}
.int004{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int004.jpg);
	background-size: 100%;
}
.int005{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int005.jpg);
	background-size: 100%;
}
.int006{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int006.jpg);
	background-size: 100%;
}
.int0001{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0001.jpg);
	background-size: 100%;
}
.int0002{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0002.jpg);
	background-size: 100%;
}
.int0003{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0003.jpg);
	background-size: 100%;
}
.int0004{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0004.jpg);
	background-size: 100%;
}
.int0005{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0005.jpg);
	background-size: 100%;
}
.int0006{
	background-image: url({{ app_url_packaged }}/images/fiushop/drew/int0006.jpg);
	background-size: 100%;
}
</style>
{% endblock %}

{% block layout_js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" >
        var m_name = 'fiu店给您列好年会礼品甄选方案';
        var img_url = '{{ app_url_packaged }}/images/fiushop/drew/intss.jpg';
        var link = '{{ app_url_wap }}/promo/intelligence';
        var desc_str = '新年礼品不用愁，美学智能任你选，为您定制专属您的新年礼，成为热门中那个“别人家的公司”';

        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '{{ app_id }}', // 必填，公众号的唯一标识
            timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
            nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
            signature: '{{ wxSha1 }}',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
       });

        wx.ready(function(){
        // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
         wx.onMenuShareAppMessage({
          title: m_name,
          desc: desc_str,
          link: link,
          imgUrl: img_url,
          success: function (res) {
          }
        });      

        // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareTimeline({
          title: m_name,
          desc: desc_str,
          link: link,
          imgUrl: img_url,
          success: function (res) {
          }
        });

        // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareQQ({
          title: m_name,
          desc: desc_str,
          link: link,
          imgUrl: img_url,
          success: function (res) {
          }
        });

        // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareWeibo({
          title: m_name,
          desc: desc_str,
          link: link,
          imgUrl: img_url,
          success: function (res) {

          }
        });
      });
</script>
{% endblock %}
{% block content %}
<div class="int">
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int1.jpg">
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int2.jpg">
	<a class="bg int01" href=""></a>
	<a class="bg int02" href=""></a>
	<a class="bg int03" href=""></a>
	<a class="bg int04" href=""></a>
	<a class="bg int05" href=""></a>
	<a class="bg int06" href=""></a>
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int3.jpg">
	<a class="bg int001" href=""></a>
	<a class="bg int002" href=""></a>
	<a class="bg int003" href=""></a>
	<a class="bg int004" href=""></a>
	<a class="bg int005" href=""></a>
	<a class="bg int006" href=""></a>
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int4.jpg">
	<a class="bg int0001" href=""></a>
	<a class="bg int0002" href=""></a>
	<a class="bg int0003" href=""></a>
	<a class="bg int0004" href=""></a>
	<a class="bg int0005" href=""></a>
	<a class="bg int0006" href=""></a>
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int5.jpg">
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int6.jpg">
	<img src="{{ app_url_packaged }}/images/fiushop/drew/int7.jpg">
</div>


{% endblock %}