{%extends 'layout/mobile.html'%}
{% block title %} -{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="http://frstatic.qiniudn.com/wechat/js/animate.min-1.css">
<style type="text/css">
header.ui.wap{
	display:none !important;
	opacity:0;
}
#mfrbird{
	margin:0;
}
.mmfoot{
	display:none;
}
* { -webkit-appearance: none; }

header.ui.wap{
	display:none !important;
	opacity:0;
}
#mfrbird{
	margin:0;
}
.mmfoot{
	display:none;
}
* { -webkit-appearance: none; }

html, body { height: 100%; width: 100%; margin: 0px;position:relative;overflow:hidden}
.wrap {
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.fp-table {
	display: table;
	width: 100%;
}
.fp-tableCell {
	display: table-cell;
	width: 100%;
	height: 100%;
	position:relative;
}
.fp-section.fp-table{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.fp-viewing-firstPage {
	height: 100%;
	position: relative;
}
@-webkit-keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
@-moz-keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
@keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
.swipe { 
	position: absolute; 
	width: 28px; 
	height: 16px; 
	bottom: 45px; 
	left: 50%; 
	margin-left: -14px;
	z-index:4;
	animation: swipe 1.5s linear infinite;
  -webkit-animation: swipe 1.5s linear infinite; 
}
#music-control {
	width: 30px;
	height: 30px;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 100000;
}
.bodybg {
  z-index: 1;
  position: absolute;
  left: 0;
	height:100%;
  width: 100%;
  bottom: 0;
}
.animated{
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
}
.pages-logo{
	-webkit-animation: 0.4s scale-to-zero-with-left cubic-bezier(.17, .67, .11, .93) forwards;
}
.page-logo {
  -webkit-animation: 1s scale-to-zero-with-center cubic-bezier(.17, .67, .11, .93) forwards;
}
@-webkit-keyframes scale-to-zero-with-center {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(20);
        opacity: 0;
    }
   /* 30% {
        opacity: 0.3;
    }
    60% {
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }*/
		20% 		{opacity:0.3;-webkit-transform:scale(.3)}
		70% 	{opacity:1;-webkit-transform:scale(1.2)}
		/*70% 	{-webkit-transform:scale(.9)}*/
		100% 	{opacity:1;-webkit-transform:scale(1)}
		
}
@-webkit-keyframes scale-to-zero-with-left {
    0% {
        -webkit-transform: translate3d(0%, 0, 0) scale(20);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        -webkit-transform: translate3d(0%, 0, 0) scale(1);
        opacity: 1;
    }
}
#loading{
	  background: #fff;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  z-index: 9999;
	  top: 0;
	}
	.loadbox{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
	  margin: 0 auto;
		margin-top: 50%;
	}
	.loadbg{
		display: block;
		position: absolute;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background-size: 100%;
}

#music-control.playing{
	-webkit-animation: 2.3s spin linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

.s {
  position:absolute;
}
.p{
  background:url({{ app_url_packaged }}/images/promo/jts/bj.jpg) center center no-repeat;
  background-size:cover;
}
.s1-01{
  width:100%;
  top:5%;
  height: 28%;
  left:0;
  opacity:0;
}
.s1-01.animated,.s1-02.animated{
  opacity:1;
}
.s1-1{
  width:100%;
  top:0%;
  height: 100%;
  background:url({{ app_url_packaged }}/images/promo/jts/p1_01.png);
  background-size: 200% 100%;
  -webkit-animation: s_1_i 0.4s step-start 1s infinite;
}
@-webkit-keyframes s_1_i {
	0% {
		background-position: 100% 0
	}
	50%{
	  background-position: 0 0
	}
	100% {
		background-position: 100% 0
	}
}
.s1-02{
  width:100%;
  top:5%;
  height: 28%;
  left:0;
  opacity:0;
}
.s1-2{
  width:100%;
  top:0%;
  height: 100%;
  background:url({{ app_url_packaged }}/images/promo/jts/p1_02.png);
  background-size: 200% 100%;
  -webkit-animation: s_1_i 0.8s step-start 1s infinite;
}
.s1-3{
  width:100%;
  top:0%;
  height: 100%;
  background:url({{ app_url_packaged }}/images/promo/jts/p1_03.png);
  background-size: 200% 100%;
  -webkit-animation: s_1_i 0.4s step-start 2s infinite;
}
.s1-4{
  width:100%;
  top:10%;
  height: 100%;
  background:url({{ app_url_packaged }}/images/promo/jts/p1_04.png);
  background-size: 200% 100%;
  -webkit-animation-delay:0.8s;
}
.s1-5{
  width:100%;
  top:0%;
  height: 100%;
  background:url({{ app_url_packaged }}/images/promo/jts/p1_04a.png);
  background-size: 200% 100%;
}
.s1-6{
  width:100%;
  top:30%;
  -webkit-animation-delay:1.4s;
  opacity:0;
}
.s1-7{
  width:100%;
  top:42%;
  -webkit-animation-delay:1.6s;
  opacity:0;
}

.s1-8{
  width:100%;
  top:56%;
  -webkit-animation-delay:2s;
  opacity:0;
}

.s1-9{
  width:100%;
  top:78%;
  -webkit-animation-delay:2.4s;
  opacity:0;
}
.s1-9.animated,.s1-10.animated{
  opacity:1;
}
.s1-10{
  width:100%;
  top:91%;
  -webkit-animation-delay:2.6s;
  opacity:0;
}

.s2-1{
  width:35%;
  right:0;
  display:block !important;
}
.s2-2,.s3-2{
  width:100%;
  left:0;
  top:20%;
  -webkit-animation-delay:0.6s;
  opacity:0;
}
.s2-3,.s3-3{
  width:100%;
  left:0;
  top:20%;
  -webkit-animation-delay:0.6s;
  opacity:0;
}
.s2-2.animated,.s3-2.animated,.s2-3.animated,.s3-3.animated{
  opacity:1;
}

.s4-01{
  width:40%;
  left:0;
  top:0;
}
.s4{
  width:25%;
}
.s4-1{
  top:12%;
  left:51.25%;
  -webkit-animation-delay:0.6s;
  opacity:0;
}
.s4-2{
  top:17%;
  left:23.75%;
  -webkit-animation-delay:0.8s;
  opacity:0;
}
.s4-3{
  top:38%;
  left:10%;
  -webkit-animation-delay:1s;
  opacity:0;
}
.s4-4{
  top:33%;
  left:37.5%;
  -webkit-animation-delay:1.2s;
  opacity:0;
}
.s4-5{
  top:28%;
  right:10%;
  -webkit-animation-delay:1.4s;
  opacity:0;
}
.s4-6{
  top:58%;
  left:10%;
  -webkit-animation-delay:1.6s;
  opacity:0;
}
.s4-7{
  top:53%;
  left:37.5%;
  -webkit-animation-delay:1.8s;
  opacity:0;
}
.s4-8{
  top:48%;
  right:10%;
  -webkit-animation-delay:2s;
  opacity:0;
}
.s4-9{
  top:78%;
  left:10%;
  -webkit-animation-delay:2.2s;
  opacity:0;
}
.s4-10{
  top:73%;
  left:37.5%;
  -webkit-animation-delay:2.4s;
  opacity:0;
}
.s4-11{
  top:68%;
  right:10%;
  -webkit-animation-delay:2.6s;
  opacity:0;
}
.s5-1{
  top:10%;
  width:100%;
  left:0;
}
.s5-2{
  top:10%;
  width:100%;
  left:0;
}
.s5-3{
  top:55%;
  width:100%;
  left:0;
}
.s5-4{
  top:63%;
  width:100%;
  left:0;
}
.p6 img,.p7 img{
  width:100%;
}
.s6-1,.s7-1{
  top:0;
}
.s6-2,.s7-2{
  top:10%;
}
.s6-3{
  top:15%;
}
.s6-4{
  top:22%;
}
.s6-5{
  top:35%;
}
.s6-6{
  top:43%;
}
.s6-7{
  top:53%;
}
.s6-8{
  top:61%;
}
.s6-9{
  top:71%;
}
.s6-10{
  top:79%;
}
.s6-11{
  top:89%;
}
.s7-3{
  top:15%;
}
.s7-4{
  top:19%;
}
.s7-5{
  top:23%;
}
.s7-6{
  top:42%;
}
.s7-7{
  top:48%;
}
.s7-8{
  top:52%;
}
.s7-9{
  top:71%;
}
.s7-10{
  top:75%;
}
.s7-11{
  top:87%;
}


</style>
{% endblock %}

{% block layout_js %}
	<script src="http://frstatic.qiniudn.com/wechat/js/audio5.min.js" type="text/javascript"></script>
  <script src="http://frstatic.qiniudn.com/javascript/jquery.fullPage.min.js"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
	
	$('.wrap').fullpage({
		'css3':true,
		//'loopBottom':true,
		//'loopBottom':true,
		//'loopTop':true,
		'slidesNavigation': true,
		afterRender: function(){
					$('.s1-01').addClass('bounceInDown animated');
					$('.s1-02,.s1-9,.s1-10').addClass('bounceInUp animated');
					$('.s1-4').addClass('fadeInLeftBig animated');
					$('.s1-6,.s1-7,.s1-8').addClass('pages-logo');
		},
		afterLoad: function(anchorLink, index){
					if(index == 1){
						$('.s1-01').addClass('bounceInDown animated');
  					$('.s1-02,.s1-9,.s1-10').addClass('bounceInUp animated');
  					$('.s1-4').addClass('fadeInLeftBig animated');
  					$('.s1-6,.s1-7,.s1-8').addClass('pages-logo');
					}
		      if(index == 2){
						$('.s2-2').css('display','block');
    				$('.s2-3').css('display','block');
					}
					if(index == 3){
						$('.s3-2').addClass('fadeInLeftBig animated');
    				$('.s3-3').addClass('fadeInRightBig animated');
					}
					if(index == 4){
						$('.p4 img').css('display','block');
					}
		},
		onLeave: function(index, direction){
					if(index == 1){
						$('.s1-01').removeClass('bounceInDown animated');
    				$('.s1-02,.s1-9,.s1-10').removeClass('bounceInUp animated');
    				$('.s1-4').removeClass('fadeInLeftBig animated');
    				$('.s1-6,.s1-7,.s1-8').removeClass('pages-logo');
					}
					if(index == 2){
    				$('.s2-2').css('display','none');
    				$('.s2-3').css('display','none');
    			}
    			if(index == 3){
    				$('.s3-2').removeClass('fadeInLeftBig animated');
    				$('.s3-3').removeClass('fadeInRightBig animated');
    			}
    			if(index == 4){
    				$('.p4 img').css('display','none');
    			}
		}
  });
  setInterval(function(){
	        $.fn.fullpage.moveSlideRight();
	    }, 5000);
	
	/*$('.wrap').fullpage({
		'css3':true,
		afterRender: function(){
					$('.s1-01').addClass('bounceInDown animated');
					$('.s1-02,.s1-9,.s1-10').addClass('bounceInUp animated');
					$('.s1-4').addClass('fadeInLeftBig animated');
					$('.s1-6,.s1-7,.s1-8').addClass('pages-logo');
		},
		afterLoad: function(anchorLink, index){
					if(index == 1){
					  $('.s1-01').addClass('bounceInDown animated');
  					$('.s1-02,.s1-9,.s1-10').addClass('bounceInUp animated');
  					$('.s1-4').addClass('fadeInLeftBig animated');
  					$('.s1-6,.s1-7,.s1-8').addClass('pages-logo');
					}
					if(index == 2){
						$('.s2-2').addClass('fadeInLeftBig animated');
    				$('.s2-3').addClass('fadeInRightBig animated');
					}
					if(index == 3){
						$('.s3-2').addClass('fadeInLeftBig animated');
    				$('.s3-3').addClass('fadeInRightBig animated');
					}
					if(index == 4){
						$('.p4 img').css('display','block');
					}
					
					
		},
		onLeave: function(index, direction){
		  if(index == 1){
			  $('.s1-01').removeClass('bounceInDown animated');
				$('.s1-02,.s1-9,.s1-10').removeClass('bounceInUp animated');
				$('.s1-4').removeClass('fadeInLeftBig animated');
				$('.s1-6,.s1-7,.s1-8').removeClass('pages-logo');
			}
			if(index == 2){
				$('.s2-2').removeClass('fadeInLeftBig animated');
				$('.s2-3').removeClass('fadeInRightBig animated');
			}
			if(index == 3){
				$('.s3-2').removeClass('fadeInLeftBig animated');
				$('.s3-3').removeClass('fadeInRightBig animated');
			}
			if(index == 4){
				$('.p4 img').css('display','none');
			}
			
		  
		  
		}
	
	});*/
	window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", hengshuping, false);

   function hengshuping() {
           if (window.orientation == 90 || window.orientation == -90) {
              $('.shuping').css('display','none');
              $('.hengping').css('display','block');
           } else {
              $('.shuping').css('display','block');
              $('.hengping').css('display','none');
           }
       }
  </script>
  <script>document.write('<style>#loading{display:none}</style>');</script>


{% endblock %}

{% block jquery %}



{% endblock %}
{% block content %}
<div class="hengping" style="background:#000;color:#fff;font-size:16px;height:100%;width:100%;display:none;text-align: center;padding-top:140px;position:absolute;">
  为了更好的用户体验，请竖屏浏览
</div>
<div class="shuping">
  <div id='loading'><div class="loadbox"><div class="loadbg"></div></div></div>
  <div id="music-control"  class="playing"><img src="http://frstatic.qiniudn.com/images/music.png" width="29" height="29" /></div>
  <div class="wrap">
    <div class="section p">
    
      <div class="s s1-01"><div class="s s1-1"></div></div>
      <div class="s s1-02"><div class="s s1-2"></div><div class="s s1-3"></div><div class="s s1-4"></div><div class="s s1-5"></div></div>
      <img src="{{ app_url_packaged }}/images/promo/jts/p1_05.png" class="s s1-6">
      <img src="{{ app_url_packaged }}/images/promo/jts/p1_06.png" class="s s1-7">
      <img src="{{ app_url_packaged }}/images/promo/jts/p1_07.png" class="s s1-8">
      <img src="{{ app_url_packaged }}/images/promo/jts/p1_08.png" class="s s1-9">
      <img src="{{ app_url_packaged }}/images/promo/jts/p1_09.png" class="s s1-10">
    </div>
  
    <div class="section p p2">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_01.png" class="s s2-1">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_02.png" class="s s2-2 fadeInLeftBig animated" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_03.png" class="s s2-3 fadeInRightBig animated" style="display:none;">
    </div>
  
    <div class="section p p3">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_01.png" class="s s2-1">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_004.png" class="s s3-2">
      <img src="{{ app_url_packaged }}/images/promo/jts/p2_05.png" class="s s3-3">
    </div>
    
    <div class="section p p4">
      <img src="{{ app_url_packaged }}/images/promo/jts/p3_01.png" class="s s4-01">
      <img src="{{ app_url_packaged }}/images/promo/jts/p3_02.png" class="s s4 s4-1 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p3_03.png" class="s s4 s4-2 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_06.png" class="s s4 s4-3 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_05.png" class="s s4 s4-4 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p3_04.png" class="s s4 s4-5 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_09.png" class="s s4 s4-6 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_08.png" class="s s4 s4-7 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_07.png" class="s s4 s4-8 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_12.png" class="s s4 s4-9 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_11.png" class="s s4 s4-10 pages-logo" style="display:none;">
      <img src="{{ app_url_packaged }}/images/promo/jts/p4_10.png" class="s s4 s4-11 pages-logo" style="display:none;">
          
    </div>
    
    <div class="section p p5">
      <img src="{{ app_url_packaged }}/images/promo/jts/p5_01.png" class="s s5-1">
      <img src="{{ app_url_packaged }}/images/promo/jts/p5_02.png" class="s s5-2">
      <img src="{{ app_url_packaged }}/images/promo/jts/p5_03.png" class="s s5-3">
      <img src="{{ app_url_packaged }}/images/promo/jts/p5_04.png" class="s s5-4">
    </div>
    
    <div class="section p p6">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_01.png" class="s s6-1">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_02.png" class="s s6-2">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_03.png" class="s s6-3">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_04.png" class="s s6-4">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_05.png" class="s s6-5">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_06.png" class="s s6-6">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_07.png" class="s s6-7">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_08.png" class="s s6-8">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_09.png" class="s s6-9">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_10.png" class="s s6-10">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_11.png" class="s s6-11">
    </div>
    
    <div class="section p p7">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_01.png" class="s s7-1">
      <img src="{{ app_url_packaged }}/images/promo/jts/p6_02.png" class="s s7-2">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_01.png" class="s s7-3">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_02.png" class="s s7-4">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_03.png" class="s s7-5">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_04.png" class="s s7-6">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_05.png" class="s s7-7">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_06.png" class="s s7-8">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_07.png" class="s s7-9">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_08.png" class="s s7-10">
      <img src="{{ app_url_packaged }}/images/promo/jts/p7_09.png" class="s s7-11">
    </div>
  
  
  
  







  </div>
</div>

{% include "mm/loginbox.html" %}
{% endblock %}

