{%extends 'layout/mobile.html'%}
{% block title %}2015 七夕 -{% endblock %}

{% block page_css %}
<style type="text/css">
#mfrbird{
  margin-top:0;
}
#qixi{
  background:url({{ app_url_packaged }}/images/promo/qixibg.jpg) repeat center center;
}
.ui.mainwrap.grid{
  margin: 40px auto 0;
}
img.word +h2.ui.header{
  margin-top:15px;
  color:#ffe400 !important;
}
img.word{
  width:auto !important;
}
img.word +h2.ui.header .sub.header{
  color:#fff;
  margin-top:15px;
  line-height:20px;
}
img.word +h2.ui.header .sub.header small{
  font-size: 60% !important;
  line-height:14px !important;
}
a.active.button{
  margin:10px 0 30px;
}
.row + .row{
  margin-top:30px;
}
.ui.message.label{
  background:#3c5bc2;
  margin-bottom: 30px;
  padding: 10px;
}
.leftw{
  width: 48%;
  height: 160px;
  left: 10px;
  bottom: 5px;
  position: absolute;
}
.rightw{
  width: 48%;
  height: 160px;
  right: 10px;
  bottom: 5px;
  position: absolute;
}
img{
  width:100%;
}
</style>
{% endblock %}
{% block content %}
<div id="qixi">
  <img src="{{ app_url_packaged }}/images/promo/ooqixi.jpg" width="100%">
  <div class="ui mainwrap grid">
    <div class="row" style="background:url({{ app_url_packaged }}/images/promo/qixibg1.png) no-repeat;background-position: -30px -20px;  position: relative;">
      <div class="ui center aligned column">
        <img class="word" src="{{ app_url_packaged }}/images/promo/qxword1.png">
        <h2 class="ui header">
            8月10日-8月20日
          <div class="sub header">
            想听，你向世界说爱我，简单分享，简单享受<br />
            <small>LISTEN. You show our love to the world. Love is simply sharing & enjoying. </small>
          </div>
        </h2>
        <a href="http://www.taihuoniao.com/topic/view-104042-1.html" target="_blank" class="ui inverted magenta active button">点击查看活动</a>
        <a href="http://www.taihuoniao.com/shop/1088027398.html" target="_blank" title="【JBL七夕活动】 E40BT+E50BT头戴式便携蓝牙耳机"><img src="{{ app_url_packaged }}/images/promo/oqixi1.jpg" alt="【JBL七夕活动】 E40BT+E50BT头戴式便携蓝牙耳机"></a>
      </div>
    </div>
    
    <div class="row" style="background:url({{ app_url_packaged }}/images/promo/qixibg1.png) no-repeat;background-position: -30px -20px;  position: relative;">
      <div class="ui center aligned column">
        <img class="word" src="{{ app_url_packaged }}/images/promo/qxword2.png">
        
        <h2 class="ui header">
            8月17日-8月24日
          <div class="sub header">
            想问，你是否愿与孤单的我，拼单取暖共此时？<br />
            <small>WONDER. If you want to share a pair of ‘ShareMe’ with lonely me.</small>
          </div>
        </h2>
        <a href="javascript:viod(0);" class="ui inverted black active button">点击查看活动</a>
        <img src="{{ app_url_packaged }}/images/promo/oqixi2.jpg" alt="JBL SYNCHROS E10入耳式通话耳机">
        <a href="http://www.taihuoniao.com/shop/1088024354.html" target="_blank" title="JBL SYNCHROS E10入耳式通话耳机" class="leftw"></a>
        <a href="http://www.taihuoniao.com/shop/1088025161.html" target="_blank" title="JBL SYNCHROS E30头戴式耳机" class="rightw"></a>

      </div>
    </div>
    
    <div class="row" style="background:url({{ app_url_packaged }}/images/promo/qixibg1.png) no-repeat;background-position: -30px -20px;  position: relative;">
      <div class="ui center aligned column">
        <img class="word" src="{{ app_url_packaged }}/images/promo/qxword3.png">
        <h2 class="ui header">
            8月21日-8月31日
          <div class="sub header">
            想要，女神为我买单，只要表白到位，一切皆有可能。<br />
            <small>DESIRE. Express your love to the Queen and get your free gift. Anything is possible.</small>
          </div>
        </h2>
        <a href="javascript:viod(0);" class="ui inverted black active button">点击查看活动</a>
        <img src="{{ app_url_packaged }}/images/promo/oqixi3.jpg" alt="JBL S400BT智能触控头戴式耳机">
        <a href="http://www.taihuoniao.com/shop/1088028251.html" target="_blank" title="JBL S400BT智能触控头戴式耳机" class="leftw"></a>
        <a href="http://www.taihuoniao.com/shop/1088053001.html" target="_blank" title="JBL T200a入耳式通话耳机" class="rightw"></a>
      </div>
    </div>
    
    <div class="row" style="background:url({{ app_url_packaged }}/images/promo/qixibg1.png) no-repeat;background-position: -30px -20px;  position: relative;">
      <div class="ui center aligned column">
        <img class="word" src="{{ app_url_packaged }}/images/promo/qxword4.png">
        <h2 class="ui header">
            8月20日-9月10日
          <div class="sub header">
            发现更多与我同好的人，晒图可以免单哟！ <br />
            <small>DISCOVER more friends with same interests. You may get your headphone for free if you show your picture with it.</small>
          </div>
        </h2>
        <a href="javascript:viod(0);" class="ui inverted black active button">点击查看活动</a>
        <img src="{{ app_url_packaged }}/images/promo/qixi4.jpg">
      </div>
    </div>
    
    <div class="row">
      <div class="ui center aligned column">
        <div class="ui message label">
          本活动最终解释权归太火鸟所有
        </div>
      </div>
    </div>
    
    
  </div>
  



</div>
{% endblock %}