{%extends 'layout/shop.html'%}
{% block title%}奇思甬动大赛{% endblock %}
{% block page_css %}
<style type="text/css">
.sfooter.nav-menu{
	display: none;
}
#mfrbird{
  margin-top: 0;
}
.appiosload{
    display: none !important;
}

.banner{
  position: relative;
  width: 100%;
  height: 667px;
	background-image: url({{ app_url_packaged }}/images/promo/qsyd3/h5_banner.jpg);
	background-size: 100%;
}

  img.btn{
    position:absolute;
    width:36%;
    margin:0 32%;
    left:0;
    top:600px;
  }

  .bonus_bg {
    position: relative;
    margin: 0 auto;
    padding-top: 60px;
    width: 80%;
    height: 425px;
    background-image: url({{ app_url_packaged }}/images/promo/qsyd3/bj.png);
    background-size: 100%; 
  }
  .bonus_bg .bonus-item {
    margin: 6px auto 6px auto;
    width: 80%;
    height: 100px;
    background-image: url({{ app_url_packaged }}/images/promo/qsyd3/3.png);
    background-size: 100%; 
    
  }
  img.recive{
    position:absolute;
    width:60%;
    margin:0 23%;
    left:0;
    top:365px;
  }

</style>
{% endblock %}

{% block layout_js %}
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" >
    var m_name = '奇思甬动大赛';
    var img_url = '{{ app_url_packaged }}/images/promo/qsyd3/qsyd_logo.jpeg';
    var link = '{{ current_url }}';
    var desc_str = '奇思甬动大赛';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
        signature: '{{ wxSha1 }}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
   });

    wx.ready(function(){
    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
     wx.onMenuShareAppMessage({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });      

    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareQQ({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareWeibo({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {

      }
    });
  });
</script>
{% endblock %}

{% block jquery %}


// 验证是否领取过红包
$.get('{{ app_url_wap }}/app/wap/promo_func/check_recive_bonus', {kind:6}, function(res){
  if(!res.data.exist){
    // 5秒弹出
    setTimeout("$('#mask').css('display','')",5000);
  }
}, 'json');
$('#pullBonusBtn').click(function(){
  $.get('{{ app_url_wap }}/app/wap/promo_func/recive_bonus', {kind:6}, function(res){
    if(res.success){
      phenix.show_ok_note('领取成功！');
      phenix.redirect(res.redirect_url);
    }else{
      phenix.show_error_note('不能重复领取!');     
    }
    $('#mask').css('display','none');
  }, 'json');
});


{% endblock %}

{% block content %}

<div class="banner">
  <a href="{{ app_url_wap }}/scene_subject/view?id=148">
    <img class="btn" src="https://s3.taihuoniao.com/images/promo/zp/gw.png">
  </a>
</div>


<!-- 弹出层   -->
<div id="mask" style="position: fixed; width: 100%; height: 100%; z-index: 100; top: 0px; opacity: 0.9; display: none; background: rgb(0, 0, 0);">
  <div class="frideshare" style="text-align: center;padding-top: 10%;">
    <div class="bonus_bg">
      <div class="bonus-item">
        
      </div>
      <div class="bonus-item">
        
      </div>
      <div class="bonus-item">
        
      </div>
      <a href="javascript:void(0);" id="pullBonusBtn"><img src="{{ app_url_packaged }}/images/promo/qsyd3/2.png" class="recive" ></a>
    </div>
  </div>
</div>
{% endblock %}
