{%extends 'layout/shop.html'%}
{% block title%}奇思甬动大赛{% endblock %}
{% block page_css %}
<style type="text/css">
.sfooter.nav-menu{
	display: none;
}
.cloth,body{
	font-size: 0;
}
.cloth img{
	width: 100%;
	vertical-align: middle;
}
.bg{
	padding-top: 50.93333%;
	display: inline-block;
	width: 50%;
}
.clo1{
	background-image: url({{ app_url_packaged }}/images/promo/qsyd3/h5_banner.jpg);
	background-size: 100%;
}

</style>
{% endblock %}

{% block layout_js %}
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" >
    var m_name = 'fiu店';
    var img_url = '{{ app_url_packaged }}/images/promo/cloth.jpg';
    var link = '{{ app_url_wap }}/promo/clothes';
    var desc_str = '新年新气象生活更舒心';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
        signature: '{{ wxSha1 }}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
   });

    wx.ready(function(){
    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
     wx.onMenuShareAppMessage({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });      

    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareQQ({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareWeibo({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {

      }
    });
  });
</script>
{% endblock %}
{% block content %}
<div class="cloth">

	<a href="{{ app_url_wap }}/shop/view?id=1048607086" class="bg clo1"></a>

</div>
{% endblock %}
