{%extends 'layout/mobile.html'%}
{% block title %}邀请好友 -{% endblock %}
{% block page_css %}
<style type="text/css">
html, body {
    overflow:hidden;
    margin:0;
    padding:0;
}
.ui.wap{
	display:none;
}
#mfrbird{
	margin:0;
}
* { -webkit-appearance: none; }

html, body { height: 100%; width: 100%; margin: 0px; background: #000; }
section { display: block; height: 100%; overflow: hidden;  }

.mmfoot{
display:none;
}

.invite{
	background:url({{ app_url_packaged }}/images/promo/eginbg.jpg) no-repeat;
	background-size:cover;
}
.column{
  position:relative;
}
.sign{
  width:100%;
  margin-top:15%;
  margin-bottom:20px;
}
.timage{
  width:25%;
  border-radius: 500rem;
  margin-top:12%;
  margin-bottom:10px;
}
.eginlogo{
  width:18%;
  position:absolute;
  left:41%;
  bottom:5%;
}
.xin{
  background:#ffe2b3 !important;
  color:#da3932 !important;
  
}
</style>
{% endblock %}
{% block jquery %}
$('.showdiv').click(function(){
    $('#mask').css('display','');
});
$('#mask').click(function(){
    $('#mask').css('display','none');
});
{% endblock %}
{% block content %}
<section class="invite">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column">
			  
			  <!--  邀请   -->
			  <!--
			  <img class="ui timage" src="http://frbird.qiniudn.com/avatar/140815/53ed6e4b989a6a1d078b6725-avs.jpg" alt="sherry wang">
			  <p style="font-size:16px;"><b>山货也是货</b></p>
        <img src="{{ app_url_packaged }}/images/promo/egin.png" class="sign">
        <a href="javascript:viod(0);" class="ui showdiv magenta active inverted button">立即分享</a>
        <div id="mask" style="position: fixed; width: 100%; height: 100%; z-index: 100; top: 0px; opacity: 0.9;left:0; display: none; background: rgb(0, 0, 0);" align="center">
          <div class="frideshare">
        	<img src="{{ app_url_packaged }}/images/fenxiang.png" width="100%" >
          </div>
        </div>
        
        -->
        
        <img class="ui timage" src="http://frbird.qiniudn.com/avatar/140815/53ed6e4b989a6a1d078b6725-avs.jpg" alt="sherry wang">
			  <p style="font-size:16px;"><b>山货也是货</b></p>
			  <img src="{{ app_url_packaged }}/images/promo/eginhb.png" class="sign" style="margin-bottom:-23%;margin-top:8%;">
			  <a href=" " class="ui active xin button">点击查看钱包</a>
        
			  
			  
			</div>
		</div>
	</div>
	<img src="{{ app_url_packaged }}/images/promo/eginlogo.png" class="eginlogo">
</section>
{% endblock %}