{%extends 'layout/mobile_api.html'%}
{% block title%}签到抽奖{% endblock %}
{% block page_css %}
<style type="text/css">
  .draw{width:320px; height:320px; position:relative; margin:0 auto;overflow:hidden;}
  #disk{width:320px; height:320px; background:url(https://s3.taihuoniao.com/images/promo/sign_app.png) no-repeat;background-size:100%;}
  #start{width:30%; height:30%; position:absolute; top:34%; left:35%;}
  #start img{cursor:pointer;width:100%}
  .ui.red.button{
    margin:5px;
  }
  #gritter-notice-wrapper{
	  top:0 !important;
  }
  .ui.header{
	  font-weight:400;
  }
  .mmfoot{
    display:none;
  }
  #mfrbird{
    margin:0 auto;
    min-height:100%;
    height:auto;
    width:100%;
    background:url(https://s3.taihuoniao.com/images/promo/w_sign_draw1.jpg) center top no-repeat;
    background-size: cover;
	padding-top:20px;
	position:relative;
	overflow: hidden;
  }
  .ui.top.grid{
	  padding-top:12px;
  }
  .ui.bottom.grid h3.ui.header{
  	margin-top: 15px;
  }
  .ui.bottom.grid p{
    margin-bottom:5px !important;
  }
  @media only screen and (min-width: 350px){
    .draw,#disk{
      width:350px; height:350px;
    }
  }
  @media only screen and (min-width: 400px){
    .draw,#disk{
      width:400px; height:400px;
    }
  }
  #slidework{
      height: 20px;
      position: absolute;
      top: 10px;
      width: 100%;
      z-index: 3;
  }
  .backg.column {
      background: #ff5044;
      color: #fff;
      padding: 16px 10px 10px 10px !important;
	  margin-left:15px;
  	  border-radius: 8px;
  }
  .question,.question:hover{
      color: #fff;
      text-decoration: underline;
  }
  .help.circle.icon{
  	color:#fff;
  	font-size: 1.4rem;
  	vertical-align: middle;
  }
  .ui.bottom.grid{
	  color:#000;
  }
  .drawmes.modal,.address.modal{
  	background: rgba(0,0,0,0);
  }
  .drawmes.modal .header{
  	background:rgba(0,0,0,0);
  	border:none;
  	color:#fff;
  	padding:20px 10px !important;
  }
  p.nobtn{
  	font-size: 1rem !important;
      font-weight: 400;
      color: rgba(255,255,255,0.9);
      margin-top: 30px;
      border: 1px solid rgba(255,255,255,0.6) !important;
      display: inline-block;
      padding: 5px 8px;
  }
  .address.modal .header{
  	background:rgba(0,0,0,0.5);
  	border:none;
  	color:#fff;
  }
  .address.modal .header > .container > .content .content .field{
  	text-align:left;
  }
  .address.modal .ui.form .field>label{
  	color:#fff;
  }
  .address.modal .two.fields{
  	margin-bottom:0;
  }
  .address.modal .content > .field+.field+.field{
  	margin-bottom:2em;
  }

  select {
    height: 2.7142em !important;
    background: #fff !important;
    display: inline-block !important;
  }

  .ui.modal .header > .container {
      padding-top: 5px;
      padding-bottom: 5px;
	  text-align:center;
  }
  p.padd{
	  left: 100%;
      position: absolute;
      top: 0;
      -webkit-animation: left 8s cubic-bezier(0.39, 0.58, 0.57, 1);
      animation: left 8s cubic-bezier(0.39, 0.58, 0.57, 1);
      font-size: 13px;
      overflow: hidden;
      word-wrap: initial;
      white-space: nowrap;
      z-index: 700;
  }
  p.padd.active{
      left: -100%;
      color: #3f3f3d;
      transition: left 8s cubic-bezier(0.39, 0.58, 0.57, 1);
      -webkit-transition: left 8s cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  p.padd+p.padd{
	  padding-top:30px;
  }
  .ui.bottom.grid{
	  padding-top:20px;
  }
  .ui.dimmer{
	  background:rgba(0,0,0,0);
  }
  .ui.page.dimmer .drawmes.modal{
	  width: 256px !important;
      position: absolute;
      background: #000;
      top: 32%;
      margin-top: -10% !important;
      left: 50%;
      margin-left: -128px !important;
      box-shadow: none;
	  border-radius: 8px;
  }
  .drawmes .header{
	  padding: 20px 0 20px !important;
      font-size: 16px !important;
      font-weight: 400 !important;
  }
  .drawmes .header .content p{
	  margin:0;
  }
  .ui.page.dimmer .type_03.drawmes.address.modal{
	  width: 100% !important;
      top: 0;
      left: 0;
      min-height: 100%;
      margin: 0 !important;
	  border-radius: 0;
	  position:fixed !important;
  }
  .close.icon{
	  right:4px !important;
	  top: 4px !important;
	  position:absolute;
	  width: 35px !important;
	  height: 35px !important;
	  z-index:3 !important;
    line-height: 35px;
  }
  .close.icon img{
  	  width:15px;
	  height:15px;
	  margin:10px;
  }
</style>
{% endblock %}
{% block layout_js %}
  <script type="text/javascript" src="https://s3.taihuoniao.com/wechat/jsjQueryRotate.2.2.js"></script>
	<script type="text/javascript" >

  	var rotateTimeOut = function (){
  		$('#disk').rotate({
  			angle:0,
  			animateTo:2160, //这里是设置请求超时后返回的角度，所以应该还是回到最原始的位置，2160是因为我要让它转6圈，就是360*6得来的
  			duration:8000,
  			callback:function (){
  				alert('网络超时，请检查您的网络设置！');
  			}
  		});
  	};
  	var bRotate = false;

  	var rotateFn = function (angles, data){
  		bRotate = !bRotate;
      // 转盘未停止，禁止点击
      $('#start').unbind('click');
  		$('#disk').stopRotate();
  		$('#disk').rotate({
  			angle:0,
  			animateTo:angles+1800,
  			duration:8000,
  			callback:function (){ // 转盘停止后事件

          $('.coupled.modal')
          .modal({
            allowMultiple: false
          })
          switch(data.type){
            case 0:
              $('.ui.type_00.drawmes.modal').modal('setting', 'closable', false).modal('show');
			  setTimeout("$('.ui.type_00.drawmes.modal').modal('hide');",4500);
            break;
            case 1:
              $('.ui.type_01.drawmes.modal').modal('setting', 'closable', false).modal('show');
			  setTimeout("$('.ui.type_01.drawmes.modal').modal('hide');",4500);
            break;
            case 2:
              $('.ui.type_02.drawmes.modal').modal('setting', 'closable', false).modal('show');
			  setTimeout("$('.ui.type_02.drawmes.modal').modal('hide');",4500);
            break;
            case 3:
              $('#sign_draw_id').val(data.sid);
              $('span.draw_name').text(data.title);
              $('.ui.type_03.drawmes.modal').modal('setting', 'closable', false).modal('show');
            break;
            case 4:
              $('span.draw_name').text(data.title);
              $('.ui.type_04.drawmes.modal').modal('setting', 'closable', false).modal('show');
			  setTimeout("$('.ui.type_04.drawmes.modal').modal('hide');",4500);
            break;
          }

          // 转盘停止，启动点击
          $('#start').bind('click', function(){
            start_draw();
          });

  				bRotate = !bRotate;
  			}
  		})
  	};

  function start_draw(){

    var url = "{{ app_url_wap }}/app/site/promo_func/fetch_sign_draw";
    $.post(url, {from_to: "{{ from_to }}", uuid: "{{ uuid }}", kind:2}, function(result){
      if(result.success){
        rotateFn(result.data.code, result.data);
      }else{
        phenix.show_error_note(result.message);
      }
    
    }, 'json');
  }

  var page = 1;
  var size = 5;
  var day = "{{ day|default 0 }}";
  // ajax 加载中奖用户列表
  function fetch_draw_user(page, size, type, day, sid){
    var url = "{{ app_url_wap }}/app/site/promo_func/ajax_fetch_draw_record";
    $.get(url, {page:page, size:size, type:type, day:day, next_id:sid, delayed:10}, function(result){
        var html = '';
        if(result.success){
          var list = result.data.results.rows;
          for(var i=0;i<list.length;i++){
            var z_id = list[i]["id"];
            var z_event = list[i]["event"];
            var z_title = list[i]["title"];
            var z_count = list[i]["count"];
            var z_desc = '';
            switch(z_event){
              case 1:
              z_desc = "鸟币"+ z_count +"枚";
              break;
              case 2:
              z_desc = "红包"+ z_count +"元";
              break;
              case 3:
              z_desc = z_title + "1个";
              break;
              case 4:
              z_desc = z_title;
              break;
            }
            html += '<p class="padd" sid="'+ z_id +'">恭喜 '+ list[i]["user"]["nickname"] +' 获得 '+ z_desc +'!</p>';
          }
          if(html==''){
            return;
          }
          $('#slidework').html(html); 
          setTimeout("$('p.padd').addClass('active');",1000);  
        }
    }, 'json');
  }

  // ajax 加载省份城市
  function ajax_fetch_district(p_id, d_id){
    $.get('{{ app_url_wap }}/app/site/address/ajax_fetch_districts', {id: p_id, district_id: d_id, from_to: 'wap'});
  }

  </script>
{% endblock %}

{% block jquery %}
  $('.close.icon').click(function(){
     $('.ui.drawmes.modal').modal('hide');
  });
  // 抽奖点击事件
  $('#start').click(function(){
    start_draw();

  });

  fetch_draw_user(1, size, 1, day, '');

  // 定时提示,每次3秒钟,最多100次
  var limit_notice_times = 0;
  setInterval(function(){
      if(limit_notice_times >= 100){
          return
      }else{
        // 首次加载等待3+1秒
        if(limit_notice_times==0){
          setTimeout(function(){}, 1000);
        }
        var sid = '';
        if($('#slidework p:first').length>0){
          sid = $('#slidework p:first').attr('sid');
        }
        fetch_draw_user(1, size, 1, day, sid);
      }
      limit_notice_times++;
  }, 1000*3);

	$('select[name=province]').livequery(function(){
    $(this).change(function(){
      var value = $(this).val();
      if (value) {
        ajax_fetch_district(value, 0);
      }   
    });
	});

  // 初始化省份
  var province_id = $('select[name=province]').val();
  var district_id = $('select[name=district]').val();
  if(province_id>0){
    ajax_fetch_district(province_id, district_id);
  }

	$('#apply-form').livequery(function(){
		$(this).form({
			name: {
				identifier  : 'name',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'password',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					},
					{
						type   : 'length[11]',
						prompt : '电话必须11位字符'
					}
				]
			},
			address: {
				identifier  : 'address',
				rules: [
					{
						type   : 'empty',
						prompt : '地址区域不能为空'
					}
				]
			},
			zip: {
				identifier  : 'zip',
				rules: [
					{
						type   : 'empty',
						prompt : '邮编不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
        event.preventDefault();
        $(this).ajaxSubmit({
          dataType: 'json',
          beforeSubmit: function(){
          },
          success: function(data){
            if(data.is_error){
              $(event.target).addClass('error');
              phenix.show_error_note(data.message, event.target);
            }else{
              $('.ui.type_03.drawmes.modal').modal('hide');
              phenix.show_ok_note("已收到您的地址，工作人员会尽快给您发货。", 3000);
            }
          }
        });
			}
		});
	});
  
  //分享
  $('.ui.share.button').click(function(){
      $('.ui.drawmes.modal').modal('hide');
      $('#mask').css('display','');
  });
  $('#mask').click(function(){
      $('#mask').css('display','none');
  });
  
{% endblock %}

{% block content %}
<div id="mfrbird">
	<div id="slidework" style="overflow: hidden;">

	</div>
	
	<div class="draw">
	  <div id="disk"></div>
	  <div id="start"><img src="https://s3.taihuoniao.com/images/promo/zzhuan1.png" id="startbtn"></div>
	</div>

	<div class="ui responsive bottom grid">
		<div class="row">
		    <div class="column">
				<h3 class="ui header mb-r mt-0" style="color: #000 !important;">
					温馨提示:
				</h3>
		      	
				<p>1、抽奖：签到后可参加幸运抽奖活动；</p>
				<p>2、经验值：每次签到都会获得2个经验值；</p>
				<p>3、鸟币：连续7天签到，送1枚鸟币；</p>
        <p>4、奖品于抽中后一个月之内发货。</p>
		    </div>
		</div>


	</div>
</div>

<!-- 弹出层   -->
<div class="ui dimmer modals page transition">
	<div class="ui type_00 drawmes coupled small modal transition">
	    <div class="header">
		    <div class="container">
				<div class="content">
          			<p>别灰心，更大惊喜等待你发现。</p>
			    </div>
		    </div>
	  	</div>
	</div>

	<div class="ui type_01 drawmes coupled small modal transition">
	    <div class="header">
		    <div class="container">
				<div class="content" style="text-align:center;">
          	  	<p>亲爱的用户 <br>恭喜您获得<span class="red">2枚鸟币</span>!</p>
					
			        <p class="desc"></p>
			    </div>
		    </div>
			
	  	</div>
	</div>

	<div class="ui type_02 drawmes coupled small modal transition">
	    <div class="header">
		    <div class="container">
				<div class="content">
          <p>亲爱的用户 <br>恭喜您获得<span class="red">太火鸟红包</span>一个!</p>
					
			        <p class="desc"></p>
			        
			    </div>
		    </div>
			
	  	</div>
	</div>	

	<div class="ui type_03 drawmes address coupled small modal transition">
	    <div class="header" style="position:relative;">
	  	    <div class="close icon"><img src="https://s3.taihuoniao.com/images/icon/close.png"></div>
			
		    <div class="container">
				<div class="content" style="text-align:center;">
          <p>亲爱的用户 <br />恭喜您获得<span class="red draw_name"></span>一个!</p>
					
					<form action="{{ app_url_wap }}/app/site/promo_func/save_draw_address" class="ui form" id="apply-form" method="post">
					  	<div class="content">
							<div class="ajax result"></div>
							<input type="hidden" name="id" id="sign_draw_id" value="" />
              <input type="hidden" name="kind" value="2" />
              <input type="hidden" name="uuid" value="{{ uuid }}" />
							
		  					<div class="two fields">
		  						<div class="field">
		  							<label>姓名</label>
		                <input type="text" name="name" value="" />
		  						</div>
		  						<div class="field">
		  							<label>手机号</label>
		                <input type="text" name="phone" value="" placeholder="填写手机号，方便信息核实" />
		  						</div>
		  					</div>
							
							<div class="field">
								<label>所在地区</label>
                <select style="width:49%;" name="province" value="" class="choose province">
                  {% for province in provinces %}
                  <option{%if province._id==visitor.profile.province_id%} selected="selected"{%endif%} value="{{ province._id }}">{{ province.city }}</option>
                  {% endfor %}
                </select>
              
                <select name="district" id="district-menu" value="" style="width:49%;float:right;">
                  {% for district in districts %}
                    <option value="{{ district._id }}">{{ district.city }}</option>
                  {% endfor %}
                </select>
							</div>
							
							<div class="field">
								<label>详细地址</label>
                <input type="text" name="address" value="">
							</div>
								<div class="field">
                  <label>邮编</label>
                  <input type="text" name="zip" value="" />
                </div>
						</div>
              <div class="ui magenta inverted active submit button">
              确认收货地址
              </div>
					</form>
					
			    </div>
		    </div>
			
	  	</div>
	</div>	

	<div class="ui type_04 drawmes coupled small modal transition">
	    <div class="header" style="position:relative;">
	  	    <i class="close icon" style="right: 0.5em !important;top: 0.5em !important;position:absolute;width: 30px;height: 30px;z-index:3;color:#fff;"></i>
			
		    <div class="container">
				<div class="content" style="text-align:center;">
          <p>亲爱的用户 <br>恭喜您获得<span class="red draw_name"></span></p>
					<p class="nobtn">我们会通过私信告知您兑换码，请登录太火鸟社区查收。</p>
					
			    </div>
      
		    </div>
	  	</div>
	</div>	
	
</div>	

<div id="mask" style="position: fixed; width: 100%; height: 100%; z-index: 100; top: 0px; opacity: 0.9; display: none; background: rgb(0, 0, 0);">
  <div class="frideshare">
	<img src="https://s3.taihuoniao.com/images/fenxiang.png" width="100%" >
  </div>
</div>
{% endblock %}



