{%extends 'layout/mobile.html'%}
{% block title %}京东众筹-参会报名-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}

{% block js %}
{% endblock %}
{% block jquery %}

	$('#sign-form').livequery(function(){
		$(this).form({
			realname: {
				identifier  : 'realname',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'phone',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					}
				]
			},
			company: {
				identifier  : 'company',
				rules: [
					{
						type   : 'empty',
						prompt : '请添写所在公司'
					}
				]
			},
			job: {
				identifier  : 'job',
				rules: [
					{
						type   : 'empty',
						prompt : '职位不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});

  //取消
  $('.cancel.btn').click(function(){
    phenix.redirect('{{ app_url_wap_promo }}/jd', 0);
  });

{% endblock %}

{% block content %}
<div class="ui social">
	<div class="ui responsive grid">

		<div class="row">
			<div class="column">
				<div class="new topic">
					<h2 class="ui header">
						请填写参会信息
					</h2>
				</div>
				
				<div class="fever content">
					<form action="{{ app_url_wap }}/promo/save_sign_jd" class="ui form" method="post" id="sign-form">
						<div class="ui segment">
							<input type="hidden" name="from_to" value="1" />

							<div class="field">
								<label>姓名</label>
							  	<input type="text" name="realname" value="{{ visitor.profile.realname }}" />
								<div class="description"></div>
							</div>

							<div class="field">
								<label>电话</label>
							  	<input type="text" name="phone" value="{{ visitor.profile.phone }}" />
								<div class="description"></div>
							</div>

							<div class="field">
								<label>所在公司</label>
							  	<input type="text" name="company" value="{{ visitor.profile.company }}" />
								<div class="description"></div>
							</div>

							<div class="field">
								<label>职位</label>
							  	<input type="text" name="job" value="{{ visitor.profile.job }}" />
								<div class="description"></div>
							</div>

						</div>
						
						<div class="ui grid">
							<div class="right aligned column">
								<div class="ui gray cancel large inverted button">
									取消
								</div>
								<div class="ui magenta submit large inverted button">
									提交
								</div>
							</div>
						</div>
						
					</form>
				</div>
				
			</div>
		</div>
	</div>
</div>

<div class="section breadcrumb">
	<div class="ui responsive relaxed grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_wap }}">
						<i class="icon home"></i> 首页
					</a>
					<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_wap }}/promo/jd">
						京东众筹
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">报名入口</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "mm/loginbox.html" %}
{% endblock %}
