{%extends 'layout/mobile.html'%}
{% block title %}太火鸟 - 2015中国智能硬件蛋年创新大会专题报道{% endblock %}
{% block page_css %}
<style type="text/css">
	body{
		color:#fff;
	}
	.birdegg{
		background:#1d0345;
	}
	#mfrbird{
		margin-top:0;
	}
	.ui.social{
		padding:0;
	}
	.ui.items {
	  margin: 1rem 0 0;
	}
	.ui.items > .item,.ui.items > .item:hover{
		-webkit-box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset;
		box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset;
		cursor:auto;
		background:rgba(0,0,0,0);
	}
	.block.title>small{
		color: rgba(255,255,255,.7);
		font-size:20px;
	}
	.block.title{
		font-size:20px;
		color:#fff;
		padding: 15px 0 8px;
		margin:0;
		text-align:center;
	}
	.ui.items > .item .image,.ui.items > .item .image img{
		border-radius:0 !important;
	}
	
	.ui.speak.items > .item,.ui.circle.items > .item{
		  margin-bottom: 1.5rem;
	}
	.ui.speak.items .content,.ui.circle.items .content{
		padding:0 !important;
	}
	.ui.speak.items .item .content h4,.ui.circle.items .item .content h4 {
		margin: .6em 0 5px;
		color:#fff;
		font-size: 1rem;
	}
	.ui.circle.items .item .content h4{
		font-size:1rem !important;
	}
	.ui.speak.items .content h5,.ui.circle.items .content h5 {
		margin: 0;
		font-size: 0.7rem;
	}
	.section-title+.block.title{
		margin-top: 15px;
		margin-bottom:0px !important;
	}
	p{
		margin:8px 0 0;
	}
	span{
		margin-right:15px;
	}
	.ui.header .ui.link {
	  color: #fff;
	}
	.section-title .ui.header{
		font-size: 0.96rem!important;
		margin-bottom: 10px;
		font-weight: 400;
	}
	.ui.three.items .item{
		margin-bottom:0.8rem !important;
	}
	.logo img {
		float: left;
		display: inline-block;
		width:100%;
	}

</style>
{% endblock %}
{% block content %}
<div class="birdegg page">
	<div class="yue">
		<img src="{{ app_url_packaged }}/images/promo/szw2.jpg" width="100%">
	</div>
	<div class="ui block">
		<div class="ui responsive grid" style="margin-top: 0;">
			<div class="row">
				<div class="column">
					<h3 class="block title">演讲嘉宾</h3>
					<div class="ui center aligned two speak items">
						<div class="item">
							<div class="image">
								
								<img alt="雷海波" src="{{ app_url_packaged }}/images/promo/szlhb.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">雷海波</h4>
								<h5>太火鸟创始人</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="钟晓渝" src="{{ app_url_packaged }}/images/promo/szzly.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">钟晓渝</h4>
								<h5> 深圳政协副主席</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="封昌红" src="{{ app_url_packaged }}/images/promo/szfch.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">封昌红</h4>
								<h5>深圳工业设计协会 / 秘书长</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="刘宏蛟" src="{{ app_url_packaged }}/images/promo/szlhj.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">刘宏蛟</h4>
								<h5>硬蛋负责人</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="刘向峰" src="{{ app_url_packaged }}/images/promo/szlxf.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">刘向峰</h4>
								<h5>京东JD+孵化器 / 总监</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="申晨" src="{{ app_url_packaged }}/images/promo/szsc.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">申晨</h4>
								<h5>熊猫传媒集团 / 董事长</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="刘宗孺" src="{{ app_url_packaged }}/images/promo/szlzr.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">刘宗孺</h4>
								<h5>Broadlink / CEO</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="张建民" src="{{ app_url_packaged }}/images/promo/szzjm.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">张建民</h4>
								<h5>中世纵横设计 / 董事长</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="李一舟" src="{{ app_url_packaged }}/images/promo/szlyz.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">李一舟</h4>
								<h5>匙悟科技 / 创始人</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="Satish" src="{{ app_url_packaged }}/images/promo/szsk.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">Satish</h4>
								<h5>Keysight</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="武守坤" src="{{ app_url_packaged }}/images/promo/szwsk.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">武守坤</h4>
								<h5>金百泽科技 / 董事长</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="孙丹青" src="{{ app_url_packaged }}/images/promo/szsdq.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">孙丹青</h4>
								<h5>微信硬件</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="李大维" src="{{ app_url_packaged }}/images/promo/szldw.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">李大维</h4>
								<h5>上海新车间创客空间 / 创始人</h5>
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img alt="杨世毅" src="{{ app_url_packaged }}/images/promo/szysy.jpg">
							</div>
							<div class="content">
								<h4 class="ui header">杨世毅</h4>
								<h5>京东企业发展部 / 投资总监</h5>
							</div>
						</div>
						
					</div>
					<h3 class="block title">中国智能硬件蛋年创新大会火爆现场</h3>
					<img  style="margin:0rem 0;" src="{{ app_url_packaged }}/images/promo/szxc.jpg" width="100%">
					
					<h2 class="block title">活动报道</h2>
					<div class="section-title">
					  <h5 class="ui header"><a href="http://www.taihuoniao.com/topic/view-103207-1.html" class="ui link" target="_black">智能硬件蛋年大会南飞深圳 太火鸟整合南北资源</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://www.taihuoniao.com/topic/view-103206-1.html" class="ui link" target="_black">太火鸟深圳“D3IN铟立方未来实验室“成立，揭智能硬件高品质新篇章</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://www.taihuoniao.com/topic/view-103205-1.html" class="ui link" target="_black">太火鸟创始人雷海波 深圳蛋年演讲内容分享</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://www.taihuoniao.com/topic/view-103204-1.html" class="ui link" target="_black">深圳蛋年创新大会 嘉宾演讲干货分享</a>
            </h5>
          </div>
					
					<h3 class="block title">媒体报道</h3>
					<div class="section-title">
					  <h5 class="ui header"><a href="http://zhidx.com/p/12590.html?from=timeline&isappinstalled=0" class="ui link" target="_black">D3IN铟立方未来实验室揭幕 太火鸟深圳首飞</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://mp.weixin.qq.com/s?__biz=MjM5OTA4MzEzMg==&mid=205628223&idx=2&sn=afcea9587bf0c29b3f9497daf155fe4c&scene=2&from=timeline&isappinstalled=0#rd" class="ui link" target="_black">智能硬件蛋年大会南飞深圳 太火鸟整合南北资源</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://mp.weixin.qq.com/s?__biz=MjAzNzMzNTkyMQ==&mid=206907257&idx=2&sn=e5c75460a23534a42809876d3fda4b39&scene=2&from=timeline&isappinstalled=0#rd" class="ui link" target="_black">太火鸟雷海波：2015新硬件的七大趋势</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://mp.weixin.qq.com/s?__biz=MzA4MjAxNjMxMQ==&mid=210013117&idx=1&sn=16930b6797173e083f56659d21bc7dc9&scene=2&from=timeline&isappinstalled=0#rd" class="ui link" target="_black">就凭这4大亮点和11位大咖的T.E.D干货演讲，冒雨看完蛋年大会也值了！</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://sztqb.sznews.com/html/2015-05/18/content_3227227.htm?v=pc" class="ui link" target="_black">智能硬件+创客 掀起创意飓风</a>
            </h5>
          </div>

					<div class="section-title">
					  <h5 class="ui header"><a href="http://cn.technode.com/post/2015-05-18/taihuoniao-shenzhen-egg/" class="ui link" target="_black">设计驱动创新，2015 年智能硬件的七个趋势</a>
            </h5>
          </div>

					<h3 class="block title">活动流程</h3>
					<p><span>18:00-19:00</span> 嘉宾签到</p>
					<p><span>18:00-19:00</span> 签名走红毯</p>
					<p><span>18:00-22:00</span> 智能硬件产品体验</p>
					<p><span>18:00-19:00</span> 智能硬件装入时光胶囊</p>
					<p><span>19:00-19:05</span> 大会正式开始</p>
					<p><span>19:10-19:15</span> 深圳市政府领导致辞</p>
					<p><span>19:15-19:30</span> 联合主办智能硬件生态系统 / 前言</p>
					<p><span>19:30-19:50</span> 雷海波演讲</p>
					<p><span>19:50-20:40</span> 嘉宾演讲干货分享</p>
					<p><span>20:40-20:50</span> 摇一摇抽大奖</p>
					<p><span>20:50-21:00</span> 嘉宾演讲干货分享</p>
					<p><span>21:40-21:50</span> 摇一摇抽大奖</p>
					
					<h3 class="block title">活动花絮</h3>
					<div class="ui center aligned three speak items">
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz1.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz2.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz3.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz4.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz5.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz6.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz7.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz8.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz9.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz10.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz11.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz12.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz13.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz14.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz15.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz16.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz17.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz18.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz19.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz20.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz21.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz22.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								
								<img src="{{ app_url_packaged }}/images/promo/sz23.jpg">
							</div>
						</div>
						
						<div class="item">
							<div class="image">
								<img src="{{ app_url_packaged }}/images/promo/sz24.jpg">
							</div>
						</div>
					</div>
					
					<h3 class="block title">五大阵容强强联手</h3>
					<div class="logo" style="padding-bottom:20px;margin-top:-60px;">
						<img src="{{ app_url_packaged }}/images/promo/szw1.png">
					</div>
					
					
				</div>
					
				</div>
			</div>
		
		
		</div>
	</div>


</div>
{% endblock %}