{%extends 'layout/fiu.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	img{
		width: 100%;
		vertical-align: middle;
	}
	a{
		display: block;
	}
	.bonus{
		padding-top:44%;
		position: relative;
		background: url({{ app_url_packaged }}/images/promo/shop/bonus.jpg);
		background-size: 100%; 
	}
	.bonus img{
		position: absolute;
		left: 38%;
		bottom:-6%;
		width: 24%;
		transform: translateY(50%);
		-webkit-transform: translateY(50%);
	}
	.product{
		background: url({{ app_url_packaged }}/images/promo/shop/p11.jpg) no-repeat;
		background-size: 100%;
		padding-top: 215%; 
		position: relative;
	}
	.product a{
		position: absolute;
		width: 35%;
	}
	.product .t1{
		top: 0;
		left:12%;
	}
	.product .t2{
		top: 0;
		right:12%;
	}
	.product .t3{
		top: 21%;
		left:12%;
	}
	.product .t4{
		top: 21%;
		right:12%;
	}
	.product .t5{
		top: 42%;
		left:12%;
	}
	.product .t6{
		top: 42%;
		right:12%;
	}
	.product .t7{
		top: 63%;
		left:12%;
	}
	.product .t8{
		top: 63%;
		right:12%;
	}
	.product a.more{
		width:28%;
		left:36%;
		top:86%;
	}
</style>
{% endblock %}
{% block layout_js %}

{% endblock %}
{% block content %}
<img src="{{ app_url_packaged }}/images/promo/shop/banner.jpg">
<div class="bonus">
	<a href="" title="立即领取">
		<img src="{{ app_url_packaged }}/images/promo/shop/gobtn.jpg">
	</a>
</div>
<img src="{{ app_url_packaged }}/images/promo/shop/p1.jpg" style="margin-top: -5%;">
<a href="{{ app_url_wap }}/shop/view?id=1048520396">
	<img src="{{ app_url_packaged }}/images/promo/shop/p2.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1099813547">
	<img src="{{ app_url_packaged }}/images/promo/shop/p3.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1021648835">
	<img src="{{ app_url_packaged }}/images/promo/shop/p4.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1048520269">
	<img src="{{ app_url_packaged }}/images/promo/shop/p5.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1116596242">
	<img src="{{ app_url_packaged }}/images/promo/shop/p6.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1049277857">
	<img src="{{ app_url_packaged }}/images/promo/shop/p7.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1049374873">
	<img src="{{ app_url_packaged }}/images/promo/shop/p8.jpg">
</a>
<a href="{{ app_url_wap }}/shop/view?id=1053618685">
	<img src="{{ app_url_packaged }}/images/promo/shop/p9.jpg">
</a>
<img src="{{ app_url_packaged }}/images/promo/shop/p10.jpg">
<div class="product">
	<a href="{{ app_url_wap }}/shop/view?id=1050370726" class="t1">
		<img src="{{ app_url_packaged }}/images/promo/shop/t1.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1048529959" class="t2">
		<img src="{{ app_url_packaged }}/images/promo/shop/t2.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1153857964" class="t3">
		<img src="{{ app_url_packaged }}/images/promo/shop/t3.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1153846607" class="t4">
		<img src="{{ app_url_packaged }}/images/promo/shop/t4.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1049814528" class="t5">
		<img src="{{ app_url_packaged }}/images/promo/shop/t5.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1049457327" class="t6">
		<img src="{{ app_url_packaged }}/images/promo/shop/t6.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1050429828" class="t7">
		<img src="{{ app_url_packaged }}/images/promo/shop/t7.jpg">
	</a>
	<a href="{{ app_url_wap }}/shop/view?id=1050370565" class="t8">
		<img src="{{ app_url_packaged }}/images/promo/shop/t8.jpg">
	</a>
	<a class="more" href=" "><img src="{{app_url_packaged}}/images/promo/shop/more.png"></a>
</div>
{% endblock %}