{%extends 'layout/mobile.html'%}
{% block title%}2016 CES-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ces{
		background:#fff;
	}
	#mfrbird{
		margin-top:0;
	}
	.slides{
		height: auto;
	    zoom: 1;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    text-align: center;
	}
	.slides li{
		margin: 0;
	    padding: 0;
	    list-style: none;
	    text-align: left;
	    position: relative;
	}
	
</style>
{% endblock %}

{% block jquery %}
    var s=$('#mfrbird').width();
    $('#ceslide').flexslider({
		
		animation: "slide",
        animationLoop: false,
        itemWidth: s/2,
        directionNav: true, 
        controlNav: false,
        animationDuration: 300,
        prevText: " ",
        nextText: " ",
      });
	  
	
	
{% endblock %}

{% block content %}
<div class="ces">
	<img src="{{ app_url_packaged }}/images/promo/ces/mobile_bj.jpg" width="100%">
	<!-- day -->
	<img src="{{ app_url_packaged }}/images/promo/ces/mobile_day1.gif" width="100%">
	<!-- -->
	<img src="{{ app_url_packaged }}/images/promo/ces/mobile_fifish.jpg" width="100%" style="margin-top:10px">
	
	<div id ="ceslide" class="flexslider flex-single">
		<ul class="slides">
	    	<li style=" ">
				<a href="http://www.taihuoniao.com/sale/1115699533.html" target="_blank">
					<img src="{{ app_url_packaged }}/images/promo/ces/p1.jpg" width="96%">
				</a>
	      	</li>
		 	<li>
				<a href="http://www.taihuoniao.com/sale/1112772991.html" target="_blank">
					<img src="{{ app_url_packaged }}/images/promo/ces/p2.jpg" width="96%">
				</a>
		  	</li>
		 	<li>
				<a href="http://www.taihuoniao.com/mall/milk" target="_blank">
					<img src="{{ app_url_packaged }}/images/promo/ces/p4.jpg" width="96%">
				</a>
		  	</li>
		 	<li>
				<a href="">
					<img src="{{ app_url_packaged }}/images/promo/ces/p5.jpg" width="96%">
				</a>
		  	</li>
	  </ul>
		
	</div>
	
	
		

</div>
{% endblock %}
