{%extends 'layout/mobile.html'%}
{% block title %}CES ASIA -{% endblock %}

{% block page_css %}
<style type="text/css">
	.ces{
		background:#fff;
		padding-bottom: 0;
	}
	#mfrbird{
		margin-top: 0;
	}
	.ui.news.grid{
		padding-top: 1.5rem;
	}
	#triespage .recom-item,#triespage .recom-cell,#triespage .recom-item .recom-cell a{
		height: auto;
	}
	#triespage .recom-item .recom-cell a{
		padding-top: 66.67%;
	}
	#triespage .recom-item .recom-cell a .desc{
		padding: 0.714286rem 0 0;
	}
	#triespage .recom-item .recom-cell a .desc h2{
		font-size: 1.071429rem;
		color: #00bac9;
	    overflow: hidden;
	    text-align: left;
	    margin: 0;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.news #triespage .recom-item .recom-cell a .desc .excerpt {
	    font-size: 0.928571rem;
	    color: #666;
	    margin: 0.428571rem 0 0.714286rem;
	    height: 4.142857rem;
	    overflow: hidden;
	    line-height: 1.357143rem;
	    word-break: normal;
	    white-space: normal;
	    padding: 0;
	}
	.recom-item .recom-cell{
		padding-right: 0.714286rem;
	}
	.recom-item .recom-cell:nth-child(2n){
		padding-left: 0.714286rem;
	}
	.zzwt .recom-item .recom-cell,.zzwf .recom-item .recom-cell{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.zzwt .recom-cell:nth-child(1) a .desc,.zzwf .recom-cell:nth-child(2) a .desc{
    	background: #e9e9e9 !important;
	}
	.zzwt .recom-cell:nth-child(2) a .desc,.zzwf .recom-cell:nth-child(1) a .desc{
		background-color: #d1d1d1 !important;
	}
	.zzwt .recom-item + .recom-item .recom-cell:nth-child(1) a .desc,.zzwf .recom-item + .recom-item .recom-cell:nth-child(2) a .desc{
		background-color: #d1d1d1 !important;
	}
	.zzwt .recom-item + .recom-item .recom-cell:nth-child(2) a .desc,.zzwf .recom-item + .recom-item .recom-cell:nth-child(1) a .desc{
		background: #e9e9e9 !important;
	}
	.zzwt #triespage .recom-item .recom-cell a h2,.zzwf #triespage .recom-item .recom-cell a h2{
		color: #666;
	}
	.zzwt #triespage .recom-item .recom-cell a .desc ,.zzwf #triespage .recom-item .recom-cell a .desc{
	    position: relative;
	    padding: 12px 10px 0;
	    height: auto;
	}
	.zzwt #triespage .recom-item .recom-cell{
		margin-top: 0;
		margin-bottom: 0;
	}

	#ceslide{
		background: #f9f9f9;
		padding: 0 2% 4%;
		margin-top:2rem;
		position: relative;
	}
	#ceslide h2.ui.header{
	    text-align: center;
    	padding: 20px 0 5px;
	}
	.slides{
		height: auto;
	    zoom: 1;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    text-align: center;
	}
	.slides li{
		margin: 0;
	    padding: 0;
	    list-style: none;
	    text-align: center;
	    position: relative;
	}
	.slides li img{
		width: 96%;
	    margin: 0 auto;
	}
	#ceslide.flexslider .flex-direction-nav {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    text-align: center;
	}
	#ceslide.flexslider .flex-direction-nav a.flex-prev {
	    left: 0;
	}
	#ceslide.flexslider .flex-direction-nav a {
	    position: absolute;
	    font-size: 30px;
	    top: 50%;
	    display: inline-block;
	    opacity: 1;
	    margin: 20px .25rem 0 0;
	    width: 1.18em;
	    padding: 11px 0;
	    font-family: Icons;
	    font-style: normal;
	    vertical-align: middle;
	    font-weight: 400;
	    text-decoration: inherit;
	    text-align: center;
	    speak: none;
	    font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    -webkit-font-smoothing: antialiased;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	}
	#ceslide.flexslider .flex-direction-nav a.flex-prev:before {
	    -webkit-animation: arrowUp 1.5s linear infinite;
	    -moz-animation: arrowUp 1.5s linear infinite;
	    animation: arrowUp 1.5s linear infinite;
	    content: "\f104";
	    color: #f36;
	}
	#ceslide.flexslider .flex-direction-nav a.flex-next {
	    right: 0;
	}
	#ceslide.flexslider .flex-direction-nav a.flex-next:before {
	    content: "\f105";
	    color: #f36;
	    -webkit-animation: arrowRt 1.5s linear infinite;
	    -moz-animation: arrowRt 1.5s linear infinite;
	    animation: arrowRt 1.5s linear infinite;
	}
	.ces h2.ui.header{
		font-weight: 400 !important;
	}

	.zzwf #triespage .recom-item .recom-cell {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.zzwf #triespage .recom-item .recom-cell a{
		padding-top: 0;
	}
	.zzwf #triespage .recom-item .recom-cell a h2{
		border-bottom: 1px solid rgba(255,255,255,0.8);
    	padding-bottom: 5px;
    	margin-bottom: 10px;
	}
	.zzwf #triespage .recom-item .recom-cell a:hover .desc{
		background-color: #00b7d1 !important;
	}
	.zzws #triespage .recom-item .recom-cell a:hover .desc{
		background-color: #d8df20 !important;
	}
	.zzwf #triespage .recom-item .recom-cell a:hover h2,.zzwf #triespage .recom-item .recom-cell a:hover .excerpt{
		color: #fff !important;
	}

</style>
{% endblock %}

{% block layout_js %}
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
    var m_name = 'CES ASIA - 太火鸟-中国火爆的智能硬件孵化平台';
    var img_url = '{{ app_url_packaged }}/images/promo/ces/zzfx.jpg';
    var link = '{{ app_url_wap_promo }}/zzces';
    var desc_str = 'http://m.taihuoniao.com';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
        signature: '{{ wxSha1 }}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

  wx.ready(function(){
    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
     wx.onMenuShareAppMessage({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
        record_share_num();
      }
    });      

    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
        record_share_num();
      }
    });

    // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareQQ({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
        record_share_num();
      }
    });

    // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareWeibo({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
        record_share_num();
      }
    });
  });

  //记录分享数
  function record_share_num(){
    var url = '{{ app_url_wap }}/app/site/promo/ajax_stat_sum_record';
    $.get(url, { target_id: 19, count_name:'count', type: 4, kind:4 });
  };

      </script>
{% endblock %}

{% block jquery %}
    var s=$('#mfrbird').width();
    $('#ceslide').flexslider({
		
		animation: "slide",
        animationLoop: false,
        itemWidth: s/2-s/50,
        directionNav: true, 
        controlNav: false,
        animationDuration: 300,
        prevText: " ",
        nextText: " ",
      });
	
{% endblock %}

{% block content %}
	<img src="{{ app_url_packaged }}/images/promo/ces/zzfx.jpg" style="display:none;">
	<div class="ces">
		<img src="{{ app_url_packaged }}/images/promo/ces/zmobile_bj.jpg" width="100%">

		<div class="ui news responsive grid">
			<div class="row ptb-0">
				<div class="ui center aligned column plr-0">
					<h2 class="ui dnews header mb-r">
						CES Asia 2016最新闻
					</h2>
					<img src="{{ app_url_packaged }}/images/promo/ces/zwline.png" width="100%">
					
				</div>
			</div>

			<div class="row pt-r">
				<div class="column" id="triespage">
					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://www.taihuoniao.com/topic/view-111932-1.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z4t1.jpg">
								<div class="desc">
									<h2>
										亮点 | 太火鸟携新酷智能硬件 点亮2016年亚洲CES
									</h2>
									<div class="excerpt">
										2016年5月11日至13日，第二届亚洲消费电子展（CES Asia 2016）将在上海新国际博览中心举办。届时，中国火爆的智能硬件孵化平台太火鸟，将携带众多新品亮相这一盛会，为参观者和与会展商带来最新最酷的智能硬件产品和体验。展位N2-2430，值得关注。
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://www.taihuoniao.com/topic/view-111933-1.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z4t2.jpg">
								<div class="desc">
									<h2>
										亮点 | 太火鸟展品大揭秘，哪个会是你的菜？
									</h2>
									<div class="excerpt">
										2016年5月11日，第二届CES Aisa（亚洲电子消费展）在上海正式开幕，太火鸟颜值天团带着太火鸟孵化投资和深度合作的产品赶赴现场。由于展示产品过多，这个太火鸟豪气的包下一个超大展位进行展示。本次太火鸟的参展产品大致可以分为黑科技、高颜值和新奇特三类，今天就给大家揭秘这些好玩又好看的产品。
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://www.taihuoniao.com/topic/view-111931-1.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z4t3.jpg">
								<div class="desc">
									<h2>
										亮点 | 2016 CES ASIA 消费电子盛会 看完这篇你就能“假装在现场
									</h2>
									<div class="excerpt">
										2016年5月11-13日，亚洲国际消费电子展览 CES Asia 于上海如期举行，这场消费类科技展出身于一年一度的美国CES，不同的是 CES Asia 更能够凸显亚洲科技的创新力量并已成为中国企业影响海内外的科技平台。
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://digi.163.com/16/0512/06/BMRKBFS700162Q5T.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z4t4.jpg">
								<div class="desc">
									<h2>
										前沿 |英特尔演绎技术如何重塑消费
									</h2>
									<div class="excerpt">
										2016年5月11日  亚洲消费电子展（CES Asia 2016）在上海拉开帷幕，英特尔阐述了未来趋势，并展示了技术如何重塑日常生活的体验，包括颠覆运动和游戏体验、变革健康管理和健身运动，以及释放创造力。
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>
			</div>

			<div class="row p-0">
				<div class="column">
					<a href="http://m.taihuoniao.com/topic/view-111865-0.html">
						<img src="{{ app_url_packaged }}/images/promo/ces/zzwmtop.jpg" width="100%">
					</a>
				</div>
			</div>

			<div class="row pt-4r">
				<div class="column">
					<img src="{{ app_url_packaged }}/images/promo/ces/zzw24.jpg" width="100%">
				</div>
			</div>

			<div class="row zzwt">
				<div class="column" id="triespage">
					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://ces.zol.com.cn/asia/5752204.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z2t1.jpg">
								<div class="desc">
									<h2>
										趋势 | 亚洲CES最大看点？智能机器人将成热门
									</h2>
									<div class="excerpt">
										2016年5月11日至5月13日，CES ASIA即2016亚洲消费电子展将在上海拉开帷幕，来自全世界众多国家的众多厂商将在本次展会上带来最具前沿性的科技产品，这其中，凝结了仿生学、机械电子、计算机科学、材料学等众多高精尖学科的智能机器人产品无疑拥有诸多看点。
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://ces.zol.com.cn/asia/5741981.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z2t2.jpg">
								<div class="desc">
									<h2>
										手机 |　众多手机品牌齐亮相 CES Asia新品前瞻
									</h2>
									<div class="excerpt">
										作为世界领先的消费类科技行业展会，亚洲消费电子展（CES Asia）将于今年5月在上海开展。 2016年是CES Asia第二次开展，也是美国CEA在亚洲举办的美国CES亚洲精品展。本次展览的三个主题是：“互联互通”、“创新”和“物联网”。到目前为止，已有来自全球20多个国家的270多家企业确定参加本次亚洲消费电子展。
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://news.zol.com.cn/582/5824012.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z2t3.jpg">
								<div class="desc">
									<h2>
										汽车 |　今年的CES Asia还将展示哪些汽车科技？
									</h2>
									<div class="excerpt">
										「随着车载通信让汽车更安全以及让驾驶员更轻松联网，科技与汽车之间的交集正达到前所未有的高度。未来的移动不仅让手势控制和自动驾驶功能方面的进步成果变得触手可得，而且同时更环保和节能。所有这一切都可在 CES Asia 上亲眼见证。」
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://news.91.com/it/1605/21942229.html">
								<img src="{{ app_url_packaged }}/images/promo/ces/z2t4.jpg">
								<div class="desc">
									<h2>
										资讯 | CES Asia 2016新增展区 带你玩转前沿科技
									</h2>
									<div class="excerpt">
										5月11日至13日，第二届亚洲科技行业盛会CES Asia 2016将在中国上海举办。截至目前，已有来自全球23个国家或地区的350多家参展商确认参加本届展会。
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				
			</div>

<!-- 48 -->
			<div class="row pt-2r">
				<div class="column">
					<img src="{{ app_url_packaged }}/images/promo/ces/zzw48.jpg" width="100%">
				</div>
			</div>

			<div class="row zzwf">
				<div class="column" id="triespage">
					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://www.taihuoniao.com/topic/view-111868-1.html">
								<div class="desc">
									<h2>资讯 | 2016年亚洲消费电子展“媒体日”日程安排正式公布</h2>
									<div class="excerpt">
										美国消费技术协会(Consumer Technology Association™)今日正式公布2016年亚洲消费电子展官方“媒体日”日程安排。“媒体日”所有活动向亚洲消费电子展预注册媒体开放，时间为5月10日至12日（星期二至星期四）。包括梅赛德斯 – 奔驰（Mercedes-Benz）、沃尔沃（Volvo）、中国移动、360公司等知名品牌将在本届展会上发布重要新闻及产品。
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://www.prnews.cn/press_release/220526.htm">
								<div class="desc">
									<h2>智能穿戴 | GEAK Watch智能手表新品或CES Asia提前曝光</h2>
									<div class="excerpt">
										亚洲最大的消费电子展会CES Asia即将于5月11日-13日在上海举办。而CES Asia则是CES主办方美国消费技术协会联合上海国际展览中心主办的亚洲消费电子展，今年已经是第二届。 
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://digi.tech.qq.com/a/20160509/025434.htm">
								<div class="desc">
									<h2>汽车 |　CES2016乐视车联展台揭幕 来看它到底做了啥</h2>
									<div class="excerpt">
										美国时间1月6日，CES2016乐视车联展台揭幕，那么在本届CES亚洲大展上，乐视将为我们带来什么劲爆新品呢？
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://sc.stock.cnfol.com/shichangceping/20160509/22718518.shtml">
								<div class="desc">
									<h2>趋势 | CES Asia2016 前瞻之无人机</h2>
									<div class="excerpt">
										CES展会一向被视为消费电子领域的风向标，影响着整个消费电子行业一年的发展动态。2016年5月11-13日，领先的亚洲消费电子展(CES Asia)将在上海新国际博览中心正式拉开帷幕，展示亚洲消费电子领域创新的广度与深度。
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>
			</div>
<!-- -->
<!-- 72
			<div class="row pt-2r">
				<div class="column">
					<img src="{{ app_url_packaged }}/images/promo/ces/zzw72.jpg" width="100%">
				</div>
			</div>

			<div class="row zzwf zzws">
				<div class="column" id="triespage">
					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://www.taihuoniao.com/topic/view-111868-1.html">
								<div class="desc">
								  	<h2>
					      			    资讯| 2016年亚洲消费电子展“媒体日”日程安排正式公布
					            	</h2>
						  			<div class="excerpt">
				             			美国消费技术协会今日正式公布2016年亚洲消费电子展官方“媒体日”日程安排。“媒体日”所有活动向亚洲消费电子展预注册媒体开放，时间为5月10日至12日（星期二至星期四）。
				             		</div>
				          		</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://www.prnews.cn/press_release/220526.htm">
								<div class="desc">
									<h2>
										智能穿戴 | GEAK Watch智能手表新品或CES Asia提前曝光
									</h2>
									<div class="excerpt">
										亚洲最大的消费电子展会CES Asia即将于5月11日-13日在上海举办。而CES Asia则是CES主办方美国消费技术协会联合上海国际展览中心主办的亚洲消费电子展，今年已经是第二届。
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="recom-item">
						<div class="recom-cell">
							<a href="http://digi.tech.qq.com/a/20160509/025434.htm">
								<div class="desc">
									<h2>
										汽车 |　CES2016乐视车联展台揭幕 来看它到底做了啥
									</h2>
									<div class="excerpt">
										美国时间1月6日，CES2016乐视车联展台揭幕，那么在本届CES亚洲大展上，乐视将为我们带来什么劲爆新品呢？
									</div>
								</div>
							</a>
						</div>

						<div class="recom-cell">
							<a href="http://sc.stock.cnfol.com/shichangceping/20160509/22718518.shtml">
								<div class="desc">
									<h2>
										趋势 | CES Asia2016 前瞻之无人机
									</h2>
									<div class="excerpt">
										CES展会一向被视为消费电子领域的风向标，影响着整个消费电子行业一年的发展动态。2016年5月11-13日，领先的亚洲消费电子展(CES Asia)将在上海新国际博览中心正式拉开帷幕，展示亚洲消费电子领域创新的广度与深度。
									</div>
								</div>
							</a>
						</div>
					</div>

				</div>
			</div>
-->

			<div id ="ceslide" class="flexslider flex-single">
				<h2 class="ui header">太火鸟展区展品</h2>
				
				<ul class="slides">
			    	<li style=" ">
			    		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp1.jpg">
						</a>
			      	</li>
				 	<li>
				 		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp2.jpg">
						</a>
				  	</li>
				  	<li>
				  		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp3.jpg">
						</a>
				  	</li>
				 	<li>
				 		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp4.jpg">
						</a>
				  	</li>
				 	<li>
				 		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp5.jpg">
						</a>
				  	</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp6.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp7.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp8.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp9.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp10.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp11.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp12.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp13.jpg">
						</a>
				  	</li>
				  	<li>
				  		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp14.jpg">
						</a>
				  	</li>
				 	<li>
				 		<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp15.jpg">
						</a>
				  	</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp16.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp17.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp18.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp19.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp20.jpg">
						</a>
					</li>
					<li>
						<a href="http://www.taihuoniao.com/topic/view-111933-1.html" target="_blank">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp21.jpg">
						</a>
					</li>
			  </ul>
				
			</div>

		</div>
		<img src="{{ app_url_packaged }}/images/promo/ces/zzwbg.jpg" width="100%" align="absmiddle">

	</div>





{% endblock %}

