{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}

{% block jquery %}
	
{% endblock %}
	
{% block content %}
	<h3 class="ui header">公众号抽奖管理</h3>
	
	<div class="ui secondary pointing magenta menu">
    <a href="{{ app_url_admin_base }}/public_draw_record" class="{{ css_all_list }} item">
			全部
		</a>
		<a href="{{ app_url_admin_base }}/public_draw_record?type=1" class="{{ css_d3in_list }} item">
			铟立方
		</a>
	</div>
	
	<table class="ui small table segment">
		<thead>
			<tr>
				<th>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" />
					  	<label></label>
					</div>
				</th>
        <th>ID</th>
        <th>头像</th>
        <th>信息</th>
        <th>获奖记录</th>
        <th>类型</th>
        <th>数量</th>
        <th>时间</th>
        <th>操作</th>
			</tr>
		</thead>
		<tbody>

			{% public_draw_record_list var:'list' uid:uid user_id:user_id type:type page:page size:size %}

			{% for d in list.rows %}
        
          <tr id="item-{{ d._id }}">
            <td>
              <div class="ui checkbox">
                  <input name="ids" type="checkbox" value="{{ d._id }}" class="checkbox" />
                  <label></label>
              </div>
            </td>
            <td>{{ d._id }}</td>
            <td>
              <div class="ui image">
                <img src="{{ d.user_info.avatar }}" width="80px" />
              </div>
            </td>
            <td>
              <p>uid: {{ d.uid }}</p>
              {%if d.user_info%}
                <p>oid: {{ d.user_info.oid }}</p>
                <p>nickname: {{ d.user_info.nickname }}</p>
                <p>sex: {{ d.user_info.sex }}</p>
                <p>city: {{ d.user_info.country }}|{{ d.user_info.province }}|{{ d.user_info.city }}</p>
              {%endif%}
            </td>
            <td>
              {% if d.info_int.s02 %}
                <p>二等奖: x{{ d.info_int.s02 }}</p>
              {%endif%}
              {% if d.info_int.s03 %}
                <p>三等奖: x{{ d.info_int.s03 }}</p>
              {%endif%}
              {% if d.info_int.s04 %}
                <p>四等奖: x{{ d.info_int.s04 }}</p>
              {%endif%}
              {% if d.info_int.s05 %}
                <p>五等奖: x{{ d.info_int.s05 }}</p>
              {%endif%}
            </td>
            <td>{{ d.type }}</td>

            <td>
              <p>抽奖次数: {{ d.draw_count }}</p>
              <p>获取资格数: {{ d.total_count }}</p>
            </td>

            <td>{{ d.created_on|date 'Y-m-d' }}</td>

            <td>
						<a href="{{ app_url_admin }}/public_draw_record/deleted?id={{ d._id }}" class="ui confirm-request link">删除</a>
            </td>
          </tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if list.rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
		{%include 'block/pager.html'%}
		<label class="page_count">{{ list.total_rows }}个</label>
	</div>
	{% endif %}
{% endblock %}
