{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}

{% block content %}
	<h3 class="ui header">红包管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/bonus" class="{{ css_all }} item">
			全部
		</a>
		<a href="{{ app_url_admin_base }}/bonus?used=2" class="{% if used == 2 %}active{%endif%} item">
			已使用
		</a>
		<a href="{{ app_url_admin_base }}/bonus?used=1" class="{% if used == 1 %}active{%endif%} item">
			未使用
		</a>
		<a href="{{ app_url_admin_base }}/bonus?status=4" class="{{ css_waited }} item">
			已领取
		</a>
		<a href="{{ app_url_admin_base }}/bonus?status=3" class="{{ css_locked }} item">
			已锁定
		</a>
		<a href="{{ app_url_admin_base }}/bonus?status=1" class="{{ css_pending }} item">
			冻结中
		</a>
		<a href="{{ app_url_admin_base }}/bonus/statistics" class="{{ css_state }} item">
			统计
		</a>
		<a href="{{ app_url_admin_base }}/bonus/active_list" class="{{ css_active }} item">
			活动列表
		</a>
	  	<div class="right menu">
			<a href="{{ app_url_admin_base }}/bonus/submit" class="item">
				<i class="add icon"></i>添加
			</a>
			<a href="{{ app_url_admin_base }}/bonus/active_submit" class="item">
				<i class="add icon"></i>创建活动
			</a>
	    </div>
	</div>
	
	<div class="ui grid">
		<div class="middle aligned row">
			<div class="six wide column">
				<label>红包金额：</label>
				<a href="{{ app_url_admin_base }}/bonus?status={{ status }}&used={{ used }}&amount=5" class="ui {% if amount == 5 %}active{%endif%} link">5元</a> <a href="{{ app_url_admin_base }}/bonus?status={{ status }}&amount=10" class="ui {% if amount == 10 %}active{%endif%} link">10元</a> <a href="{{ app_url_admin_base }}/bonus?status={{ status }}&amount=20" class="ui {% if amount == 20 %}active{%endif%} link">20元</a> <a href="{{ app_url_admin_base }}/bonus?status={{ status }}&amount=50" class="ui {% if amount == 50 %}active{%endif%} link">50元</a> <a href="{{ app_url_admin_base }}/bonus?status={{ status }}&amount=100" class="ui {% if amount == 100 %}active{%endif%} link">100元</a> <a href="{{ app_url_admin_base }}/bonus?status={{ status }}&amount=200" class="ui {% if amount == 200 %}active{%endif%} link">200元</a>
			</div>
			<div class="ten wide column">
				<div class="ui sub nav">
					<form action="{{ app_url_admin_base }}/bonus" method="post">
						<label>搜索：</label>
						<div class="ui icon input">
							<input placeholder="红包码..." type="text" name="q">
							<i class="search link icon"></i>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<table class="ui table segment">
		<thead>
			<tr>
				<th></th>
				<th>红包码</th>
				<th>红包金额</th>
        <th>使用条件</th>
				<th>所属用户</th>
        <th>代号</th>
        <th>创建/使用时间</th>
				<th>状 态</th>
				<th>管理操作</th>
			</tr>
		</thead>
		<tbody>
			{% bonus_list var:'bonus' user_id:user_id xname:xname used:used search_code:q page:page status:status amount:amount sort:0 size:size %}
			
			{% for b in bonus.rows %}
			<tr id="{{ b._id }}">
				<td>
					<div class="ui checkbox">
					  	<input name="ids[]" type="checkbox" value="{{ b._id }}" />
					  	<label></label>
					</div>
				</td>
				<td>
					{{ b.code }}<br />
                    <p><small>过期时间：<span style="{%if b.is_expired%}color: red;{%endif%}">{{ b.expired_label }}</span></small></p>
                    {% if b.active_mark %}
                        <p><small>所属活动：<span>{{ b.active_mark }}</span></small>
                    {%endif%}
				</td>
				<td><span class="ui magenta text"><small>￥</small>{{ b.amount }}</span></td>
        <td>{{ b.min_amount }}元</td>
				<td>{{ b.user_id }} / {{ b.used_by }}</td>
        <td>{{ b.xname }}</td>
        <td>
            <p>{{ b.created_on|date 'y-m-d' }}</p>
            <p>{{ b.used_at|date 'y-m-d' }}</p>
        </td>
				<td>
					{% if b.used == 2 %}
						<span class="ui magenta label">已使用</span>
					{% else %}
						{% if b.status == 1 %}
						<span class="ui gray label">冻结中</span>
						{% endif %}
						
						{% if b.status == 3 %}
						<span class="ui black label">已锁定</span>
						{% endif %}
						
						{% if b.status == 2 %}
						<span class="ui green label">未使用</span>
						{% endif %}
						
						{% if b.status == 4 %}
						<span class="ui green label">已领取</span>
						{% endif %}
					{% endif %}
				</td>
				<td>
					<p>
						{% if b.status == 1 %}
		          		<a href="{{ app_url_admin }}/bonus/unpending?id={{ b._id }}" class="ui ajax magenta link">解冻</a>
						{% else %}
							{% if b.used != 2 %}
			          		<a href="{{ app_url_admin }}/bonus/give?id={{ b._id }}" class="ui link">赠送</a>
							<a href="{{ app_url_admin }}/bonus/deleted?id={{ b._id }}" class="ui confirm-request link">删除</a>
							{% endif %}
						{% endif %}
					</p>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if bonus.total_rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:bonus.total_rows,total_page:bonus.total_page,current_page:page, var:'pager',pager_size:9 %}
		{%include 'block/pager.html'%}
		<label class="page_count">{{ bonus.total_rows }}个</label>
	</div>
	{% endif %}
	
{% endblock %}
