{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block layout_css %}
	{% if css_use_bundle %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.{{ css_bundle_version }}.css" type="text/css" />
	{% else %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.css" type="text/css" />
	{% endif %}
{% endblock %}
{% block page_css %}
<style class="text/css">
	.try .masthead {
		{% if try.banner_id %}
		background: url("{{ try.banner.fileurl }}") no-repeat scroll center center / cover rgba(45, 53, 56, 1);
		{% else %}
	    background: no-repeat scroll center center / cover rgba(45, 53, 56, 1);
		{% endif %}
	}
		.modals.dimmer > .ui.applytry.modal{
			position:absolute !important;
			margin: 3.5rem -24%!important;
			overflow:visible !important;
			top:auto !important;
		}
		.modals.dimmer > .ui.magenta.applytry.modal{
			position:fixed !important;
		}
		.modals.dimmer  .ui.share.basic.modal{
			top:0 !important;
			margin-top:150px !important;
		}
		.scrolling.dimmable>.dimmer {
		    position: absolute;
		}
		.modals.dimmer > .ui.lapiao.modal{
			position:absolute !important;
			margin: 3.5rem -15%!important;
			top:150px !important;
		}
		.modals.dimmer > .ui.wechat.modal{
			position:fixed !important;
			margin: 3.5rem -24%!important;
			top:100px !important;
		}
		.modals.dimmer > .ui.qrcode.modal{
			position:absolute !important;
			margin: 3.5rem -24%!important;
			top:100px !important;
		}
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">
    // 评论参数
    var page = {{ page|default 1 }}, per_page = 10, sort = 0;
    var url = '{{ app_url_comment }}/ajax_fetch_comment';
    var target_id = "{{ try._id }}";
    // 评论类型
    var type = 3;
    // 网页或手机
    var from_site = 'site';
    // 备用
    var evt = 1;

    var comment_param = {
      target_id: target_id,
      page: page,
      per_page: per_page,
      sort: sort,
      url: url,
      type: type,
      from_site: from_site,
      evt: evt,
    }
</script>
{% endblock %}

{% block jquery %}
    // ajax加载评论
    phenix.fetch_comment(comment_param);

  // 初始化省份
  var province_id = $('[name=province]').val();
  var district_id = $('[name=district]').val();
  if(province_id != "" && province_id > 0){
    $.get('{{ app_url_address }}/ajax_fetch_districts', {id: province_id, district_id: district_id});
  }
  
	$('.ui.applytry.button').click(function(){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		
		$('.ui.applytry.modal')
		.modal('setting', 'closable', false)
		.modal('setting', 'transition', 'vertical  flip')
		.modal('show');
		$('.ui.dimmer.modals.page').css('height',$(document).innerHeight());
		return false;
	});
	
	$('.ui.deny.button').click(function(){
		$('.ui.applytry.modal').modal('hide');
	});
	
	// 申请表地址信息
	$('.ui.district.dropdown').livequery(function(){
		$(this).dropdown();
	});
	
	$('.ui.province.dropdown').livequery(function(){
		$(this).dropdown({
			onChange : function(value, text){
				if (value) {
					$.get('{{ app_url_address }}/ajax_fetch_districts', {id: value});
				}
			}
		});
	});

	
	$('#apply-form').livequery(function(){
		$(this).form({
			name: {
				identifier  : 'name',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'password',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					},
					{
						type   : 'length[11]',
						prompt : '电话必须11位字符'
					}
				]
			},
			address: {
				identifier  : 'address',
				rules: [
					{
						type   : 'empty',
						prompt : '地址区域不能为空'
					}
				]
			},
			zip: {
				identifier  : 'zip',
				rules: [
					{
						type   : 'empty',
						prompt : '邮编不能为空'
					}
				]
			},
			wx: {
				identifier  : 'wx',
				rules: [
					{
						type   : 'empty',
						prompt : '微信号不能为空'
					}
				]
			},
			qq: {
				identifier  : 'qq',
				rules: [
					{
						type   : 'empty',
						prompt : 'QQ号不能为空'
					}
				]
			},
			content: {
				identifier  : 'content',
				rules: [
					{
						type   : 'empty',
						prompt : '申请理由不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});
	
	phenix.hook_comment_page();
	// 分享
	$('.ui.share.button').bind('click', function(){
		$('.ui.share.modal')
		.modal('setting', 'closable', false)
		.modal('setting', 'transition', 'vertical  flip')
		.modal('show');
		$('.ui.dimmer.modals.page').css('height',$(document).innerHeight());
	});
	phenix.bind_share_list("{{ try.banner.fileurl }}");
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ try.wap_view_url }}'});

  {% if !try.is_end %}
    {% if is_applied %}
      // 生成支持二维码
      $('#lapiao').qrcode({width: 256, height: 256, text: '{{ app_url_wap }}/try/apply_success?apply_id={{ apply._id }}'});

      $('.lapiao-btn').click(function() {
        $('.ui.lapiao.modal')
        .modal('setting', 'transition', 'vertical  flip')
        .modal('show');
		$('.ui.dimmer.modals.page').css('height',$(document).innerHeight());
        return false;
      });

    {%endif%}
  {%endif%}
	// 分享
	$('.ui.share.button').bind('click', function(){
		$('.ui.share.modal')
		.modal('show')
		.modal('setting', 'closable', false)
		.modal('setting', 'transition', 'vertical  fade')
		$('.ui.dimmer.modals.page').css('height',$(document).innerHeight());
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>&nbsp;天</span></div></div><div class="item"><div class="count">%H<span>&nbsp;时</span></div></div> <div class="item"><div class="count">%M<span>&nbsp;分</span></div></div><div class="magenta item"><div class="count">%S<span>&nbsp;秒</span></div></div>'));
		});
	});
	
	$('.ui.sticky')
    .sticky({
        context: '.conleft',
    });

    // 想要
    $('.want_btn').click(function(){
      var url = "{{ app_url_try }}/want_attend";
      $.post(url, {try_id: {{ try._id }}, type: 1}, function(result){
        if(result.success){
          //phenix.show_ok_note(result.message);
          $('.want_btn').removeClass('want_btn').find('i').removeClass('empty').siblings('span').text('已想要');
          $('.want_alert').find('h4').text('产品上线后会有私信提醒哦!');
          $('.want_alert').find('b').text(parseInt($('.want_alert').find('b').text()) + 1);
        }else{
          phenix.show_error_note(result.message);
        }
      }, 'json');
    });
{% endblock %}

{% block content %}
<div class="try">
	<div class="masthead">
		<div class="masthead-cover">
			<div class="ui responsive grid">
				<div class="column">
                    <div class="container">
    					<p>产品试用第{{ try.season }}期</p>
    					<h1 class="ui header">
    						<div class="content">
    							{{ try.title }}
    							<div class="sub header">
    								{{ try.description }}
    								<!--<br/>
    								<span>市场价：¥399</span>-->
    							</div>
    						</div>
    					</h1>

              {% if try.step_stat==0 %}
                {% if is_want %}
                  <a href="javascript:void(0);" class="ui white inverted button">
                    <i class="heart icon"></i><span> 已想要</span>
                  </a>
                {%else%}
                  <a href="javascript:void(0);" class="ui white inverted button want_btn">
                    <i class="heart empty icon"></i><span> 我想要</span>
                  </a>
                {%endif%}
              {%else%}

                {% if !try.is_end %}
                              {% if is_applied %}
                                <a href="javascript:void(0);" class="ui white lapiao-btn inverted button">
                                  <i class="ticket icon"></i> 求好友支持
                                </a>
                              {%else%}
                                <a href="javascript:void(0);" class="ui white applytry inverted button">
                                  <i class="ticket icon"></i> 申请试用
                                </a>
                              {%endif%}
                {% else %}
                <a href="javascript:void(0);" class="ui active white inverted button">
                  <i class="lock icon"></i> 已结束
                </a>
                {% endif %}

              {%endif%}

                        <div class="ui white inverted pop share icon inverted button">
                            <i class="share alternate icon"></i> 分享
                        </div>

                    {% if !try.step_stat==0 %}
                        <div class="apply">
                          {% if !try.is_end %}
                            剩余时间：<div class="ui divided horizontal timer list" data-countdown="{{ try.end_time|date 'Y/m/d H:i:s' }}"></div>{% else %} 结束时间：{{ try.end_time }}
                          {% endif %}
                            <br/>产品数量：<b class="big">{{ try.try_count }}</b>个,&nbsp;<b class="big">{{ try.apply_count }}</b> 人已预约
                          
                        </div>
                        <div>
                          参与度: <b class="big">{{ try.view_count }}</b>
                        </div>
                        {% if try.apply_term==1 %}
                          <br />
                          中签条件：试用结束前会员等级达到 <b class="big">{{ try.term_count }}</b> 级
                          (满足条件才有机会通过审核哦~)
                        {%endif%}
                        {% if try.apply_term==2 %}
                          <br />
                          中签条件：试用结束前鸟币数量达到 <b class="big">{{ try.term_count }}</b> 个
                          (满足条件才有机会通过审核哦~)
                        {%endif%}
                    </div>
                    {%else%}
                      <div class="want_alert" style="margin-top:20px;">
                        <h4>预热中...敬请期待!</h4>
                        <div class="">
                          {% if try.want_count %}<span style="margin-right:20px;">已有 <b>{{ try.want_count }}</b> 人想要</span>{%endif%}
                        </div>
                      </div>
                    {%endif%}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="trypage sortby">
	<div class="block title">
		试用流程及规则
    </div>
    <div class="ui fluid four item menu">
        <div class="{%if try.step_stat==0%}active{%endif%} item">
            <i class="alarm outline icon"></i> 预热中
        </div>
        <div class="{%if try.step_stat==1%}active{%endif%} item">
            <i class="time icon"></i> 申请
        </div>
        <div class="{%if try.step_stat==2%}active{%endif%} item">
            <i class="heart icon"></i> 名单公布
        </div>
        <div class="{%if try.step_stat==3%}active{%endif%} item">
            <i class="star icon"></i> 提交报告
        </div>
        <div class="{%if try.step_stat==5%}active{%endif%} item">
            <i class="circle icon"></i> 试用结束
        </div>
    </div>
</div>

<div class="ui responsive grid tryvpage" id="trypage">
	<div class="row">
		<div class="column">
			<div class="ui containermain">
		        <div class="conleft">
		            <div class="container topnew">
						<div class="ui tabox">
							<div class="ui four tabs">
								<a href="#.overview" class="active tab">试用介绍</a>
								<a href="#.people" class="tab">试用名单</a>
								<a href="#comment_top" class="tab">讨论 <small>（{{ try.comment_count||default 0 }}）</small></a>
								<a href="#.report" class="tab">试用报告</a>
							</div>
						</div>
		                
						<div class="product overview">
							<div class="product content froala-element">
								{{ try.content }}
							</div>
						</div>
					</div>

					<div class="container peonew">
		                
						<div class="product people">
		                	<div class="block title">
		                		试用名单
		                    </div>
							{% if try.pass_users %}
							<div class="avatars" id="product-apply-people">
								{% user_list var:'userlist' user_ids:try.pass_users %}
							    <div class="ui horizontal list">
									{% for user in userlist  %}
									<div class="item">
										<a class="ui line" href="{{ user.home_url }}"  data-content="{{ user.summary|truncate 38 }}" data-variation="inverted">
											<img class="ui small avatar pop image" src="{{ user.medium_avatar_url }}" alt="{{ user.nickname }}" />
											<div class="content">
												{{ user.nickname }}
											</div>
										</a>
									</div>
									{% endfor %}
								</div>
							</div>
							{% else %}
							<p class="resultbox">没有你的支持，这世界将失去一个伟大的产品!<p>
							{% endif %}
						</div>
		            </div>   
					<div class="container repornew">
						<div class="product report">
		                	<div class="block title">
		                		试用报告
		                    </div>
		                    {% topic_list var:'list' published:1 try_id:try._id time:'latest' %}
		                    {% if list.rows %}
							<div class="social">
								<table class="ui topic table">
									<tbody>
									
									{% for topic in list.rows %}
										{% include "block/report_item.html" %}
									{% endfor %}
									</tbody>
								</table>
							</div>
		                    {% else %}
		                    <p class="resultbox">还没有人为 <a href="{{ try.view_url }}" class="ui link">{{ try.title }}</a> 撰写评测，你想做第一个为它写评测的人么？</p>
		                    {% endif %}
							<div class="ui center aligned reportbtn">
								<a href="{{ app_url_topic }}/report?tid={{ try._id }}" class="ui blue inverted button" target="_blank">
			                        <i class="tasks icon"></i> 全部报告
			                    </a>
								<!--通过审核的用户才能提交报告-->
								{% if visitor.is_login %}
								<a href="{{ app_url_topic }}/submit?cid={{ report_category_id }}&tid={{ try._id }}" class="ui magenta inverted button" target="_blank">
			                        <i class="edit icon"></i> 提交报告
			                    </a>
								{% endif %}
							</div>
						</div>
		                
		            </div>
		            <div class="container reviewns">
		                
						<div class="product reviews">
		                	<a name="comment_top"></a>
		                    <div class="reply box">
		                    	<div class="block title">
		                    		讨论 <small>（{{ try.comment_count||default 0 }}）</small>
		                            
		                            <div class="quick goto">
		                                直达楼层：<input type="text" name="floor" class="gotofloor" data-max="{{ try.comment_count }}" data-url="{{ app_url_try }}/view/{{ try._id }}/{{ page }}" title="跳转到指定楼层" />
		                            </div>
		                        </div>
		                        <div class="ui big reply segment" id="comment-list">
		                            {% comment_list var:'comments' page:1 target_id:try._id type:3 check_loved:1 only_hotest:1 current_user_id:visitor.id %}
		                            {% if comments.rows %}
		                            <div class="ui threaded hotest comments">
		                                <a class="ui red ribbon label">热门评论</a>
		                        		{% for comment in comments.rows %}
		                        			{%include 'block/comment_item.html'%}
		                        		{% endfor %}
		                                <hr>
		                            </div>
		                            {% endif %}
		                            <div class="ui threaded comments is-comment"></div>
		                            <div class="ui pagination pagerbox"></div>
		                        </div>
		                        {% include "block/comment_box_site.html" %}

		                    </div>
						</div>
		                
		            </div>
		        </div>
		        <div class="conright">

				    {% if has_product_parameter %}
				    <div class="ui sticky chans">
				        <div class="sellwrap">
				          <div class="block title">
				    				产品参数
				          </div>
				          {% if try.price %}
				            <p class="user action">市场参考价： <b class="big">{{ try.price }}</b> 元
				          {%endif%}
				          {% if try.buy_url %}
				            <p class="user action">
				                <a href="{{ try.buy_url }}" class="ui magenta inverted button" target="_blank" style="width:100%;">
				                  <i class="cart icon"></i> 购买链接
				                </a>
				            </p>
				          {%endif%}
				        </div>
				    </div>
				    {%endif%}
				        
				        {% if img_asset.qr_ios %}
				        <div class="sellwrap">
				            <div class="block title">
				                厂商公众号
				            </div>
				            {% if img_asset.qr_ios %}
							    <img src="{{ img_asset.qr_ios.fileurl }}" style="width: 50%;margin: 20px 25% 0;" alt="厂商公众号">
				            {%endif%}
				           <!-- {% if img_asset.qr_android %}
								<img src="{{ img_asset.qr_android.fileurl }}" style="width: 47%;">
				            {%endif%}
				            {% if img_asset.qr_ios %}
								<p style="width: 47%;margin-right: 6%;display: inline-block;float: left;text-align:center;">iphone</p>
				            {%endif%}
				            {% if img_asset.qr_android %}
								<p style="width: 47%;display: inline-block;float: left;text-align:center;">andriod</p>
				            {%endif%}-->
				        </div>
				        {%endif%}

				        {% if try.brand_introduce %}
				        <div class="sellwrap">
							<div class="block title">
								品牌介绍
				            </div>
				            <div class="ui center aligned brand products">
				                <div class="author">
				                    {% if img_asset.brand_avatar %}
				                        <img src="{{ img_asset.brand_avatar.fileurl }}" alt="{{ try.short_title }}" style="margin:15px 0;width: 100%;" />
				                    {%endif%}
				                    <p class="desc">
				                        {{ try.brand_introduce }}
				                    </p>
				                </div>
				            </div>
				        </div>
				        {%endif%}
				        
				        <div class="sellwrap">
							<div class="block title">
								厂商合作申请
				            </div>
				            <p class="user action">邮箱: chengmei@taihuoniao.com</p>
				        </div>
				        <div class="sellwrap">
				          <div class="user share" style="border-top:none;">
				          	<span><i class="share alternate icon"></i>分享：</span>
				          	<a href="javascript:void(0);" id="sina-share-1" title="新浪微博" class="ui red icon btn">
				          		<i class="weibo icon large circular red inverted"></i>
				          	</a>
				          	<a href="javascript:void(0);" id="wechat-share-1" class="ui green icon btn" title="微信">
				          		<i class="weixin icon large circular green inverted"></i>
				          	</a>
				          	<a href="javascript:void(0);" id="tencent-share-1" title="腾讯微博" class="ui blue icon btn">
				          		<i class="tencent weibo icon large circular blue inverted"></i>
				          	</a>
				          	<a href="javascript:void(0);" id="renren-share-1" title="人人网" class="ui blue icon btn">
				          		<i class="icon renren large circular blue inverted"></i>
				          	</a>
				          </div>
				        </div>

				      {% if !cannot_apply %}
				        <div class="sellwrap">
							<div class="block title">
								这些人在申请
				            </div>
				            {% apply_list var:'list' target_id:try._id type:1 page:1 size:8 %}
							<div class="product appli">
								<table class="ui table">
									<tbody>
				                        {% for t in list.rows %}
										<tr>
											<td class="author">
												<a class="ui small avatar image" href="{{ t.user.home_url }}" title="{{ t.user.nickname }}" target="_blank">
													<img src="{{ t.user.small_avatar_url }}" alt="{{ t.user.nickname }}">
												</a>
												<div class="content">
													<a class="ui link" href="{{ t.user.home_url }}" target="_blank">{{ t.user.nickname }}</a>
												</div>
											</td>
											<td class="nine wide">
				                                {{ t.created_on|relative_date }}
											</td>
										</tr>
				                        {%endfor%}
									</tbody>
								</table>
				            </div>    
				        </div>
				        {%endif%}
				        
				    {% if !cannot_apply %}
				    <div class="ui sticky">
				        <div class="sellwrap">
				          <div class="block title">
				    				我要试用
				          </div>
				          <p class="user action">
				          {% if !try.is_end %}
				                        {% if is_applied %}
				                          <a href="javascript:void(0);" class="ui magenta lapiao-btn inverted button" style="width:100%;">
				                            <i class="ticket icon"></i> 求好友支持
				                          </a>
				                        {%else%}
				                          <a href="javascript:void(0);" class="ui magenta applytry inverted button" style="width:100%;">
				                            <i class="ticket icon"></i> 申请试用
				                          </a>
				                        {%endif%}
							    {% else %}
									<a href="javascript:void(0);" class="ui active black inverted button" style="width:100%;">
										<i class="lock icon"></i> 已结束
									</a>
									{% endif %}
									</p>
				          <p class="user action">产品数量：<b class="big">{{ try.try_count }}</b>个,&nbsp;<b class="big">{{ try.apply_count }}</b> 人已预约</p>
				        </div>
				    </div>
				    {%endif%}
				    
				    <div class="sellwrap fllow">
						<div class="block title">
							关注太火鸟
				        </div>
				        <div class="product aption">
						    <img src="https://s3.taihuoniao.com/images/weixin-220.jpg" alt="太火鸟-中国创新产品策源地">
						    <p>关注太火鸟有惊喜！</p>
				        </div>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>

<div id="show-support-box">
  {% if !try.is_end %}
    {% if is_applied %}
    <div class="ui small lapiao modal">
        <i class="close icon"></i>
        <div class="content">
          <div class="ui center aligned grid">
            <div class="ui sixteen wide column">
              <h3 class="ui header">
                <img class="ui small avatar image" src="{{ apply.user.big_avatar_url }}">
                <div class="content">{{ apply.user.nickname }}
                  <div class="sub header">
                    {{ apply.user.ext_state.user_rank.title|default '鸟列兵' }}
                  </div>
                </div>
              </h3>
              
              <h2 class="ui header">申请已提交</h2>
              <p>分享至微信、朋友圈或QQ<br/>获取更多支持， 更有机会赢取试用资格!</p>
            </div>
            <div class="ui eight wide column">
              <h3 class="ui header">扫码分享得支持</h3>
              <div id="lapiao"></div>
            </div>
          </div>
        </div>
    </div>
    {%endif%}
  {%endif%}
</div>
{% include "block/apply_try.html" %}
{% include "block/sharebox.html" %}
{% include "block/qrcode.html" %}
{% endblock %}

{% block templates %}
  {% mustache id:'get_comments_tpl' tpl:'mustache/fetch_comments.mustache' %}
  {% mustache id:'pager_tpl' tpl:'mustache/pager.mustache' %}
{% endblock %}
