{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">

</style>
{% endblock %}
{% block layout_js %}{% endblock %}
{% block jquery %}
    // ajax加载签到数据
    phenix.signin();
{% endblock %}

{% block content %}
<div class="mainwrap social" id="activitypage">
    <div class="mainleftwrap">
        <div class="mainleft">
			<div class="ui three products activity cards">
                {% active_list var:'current_list' published:1 deleted:1 kind:1 step_stat:2 state:2 sort:'stick:asc_created' size:1 %}
                
                {% if current_list.rows %}
                    {% for active in current_list.rows %}
                    <div class="card special cat">
                        <div class="problock">
                            <a title="{{ active.title }}" href="{{ active.view_url }}" style="background-image: url('{{ active.banner.fileurl }}');" class="thumb" target="_blank"></a>
                            <h2>
                                <a href="{{ active.view_url }}" title="{{ active.title }}" class="ui line" target="_blank">
                    			    {{ active.title }}
                    		    </a>
                            </h2>
                            <div class="excerpt">
                                <p>{{ active.sub_title }}</p>
                            </div>
                            <div class="cats">
                                <span class="unit"></span>{{ active.max_number_count }}
                            </div>
                            <span class="counter">
                                <i class="heart icon"></i> 
                            </span>
                        </div>
                        <div class="speblock">
                            <div class="randomcats">
                                <a class="catlink" href="{{ active.view_url }}" style="background-image: url('{{ active.banner.fileurl }}');" target="_blank">
                                    <h2>{{ active.title }}</h2>
                                    <p>{{ active.sub_title }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                {%else%}
                <div class="card special cat">
                    <div class="problock">
                        <a title="硬件活动" href="javascript:void(0);" style="background-image: url('{{ app_url_packaged }}/images/topicbg/featured-image.jpg');" class="thumb" target="_blank"></a>
                        <h2>
                            <a href="javascript:void(0);" title="硬件活动" class="ui line" target="_blank">
                			    硬件活动
                		    </a>
                        </h2>
                        <div class="excerpt">
                            <p>创意与创意的碰撞，会员与会员的交流，为你每次的一吐为快.</p>
                        </div>
                        <div class="cats">
                            <span class="unit"></span>
                        </div>
                        <span class="counter">
                            <i class="heart icon"></i> 
                        </span>
                    </div>
                    <div class="speblock">
                        <div class="randomcats">
                            <a class="catlink" href="javascript:void(0);" style="background-image: url('{{ app_url_packaged }}/images/topicbg/featured-image.jpg');" target="_blank">
                                <h2>硬件活动</h2>
                                <p>创意与创意的碰撞，会员与会员的交流，为你每次的一吐为快.</p>
                            </a>
                        </div>
                    </div>
                </div>
                {%endif%}
                
                {% active_list var:'old_list' kind:1 ingore_id:current_list.rows.0._id published:1 deleted:1 step_stat:4 state:2 page:page size:9 %}
                 
                {% for active in old_list.rows %}
				<div class="card">
                    <div class="problock">
                        <a title="{{ active.title }}" href="{{ active.view_url }}" style="background-image: url('{{ active.cover.thumbnails.md.view_url }}');" class="thumb" target="_blank"></a>
                        <div class="ribbons">
                            {% if active.season %}
                            <span class="ribbon season">
                                第 {{ active.season }} 期
                            </span>
                            {%endif%}
                        </div>
                        <h2>
                            <a href="{{ active.view_url }}" title="{{ active.title }}" class="ui line" target="_blank">
                			    {{ active.title }}－{{ active.conduct_city }}站
                		    </a>
                        </h2>
                        <div class="excerpt">
                            <p>活动地址：{{ active.conduct_city }}{{ active.address }}，限额人数：{{ active.max_number_count }}人</p>
                        </div>
                        <div class="cats">
                            <i class="time icon"></i> {{ active.begin_time|date 'Y/m/d H:i' }}
                        </div>
                        <span class="counter">
                            <i class="heart icon"></i> 
                             {% if active.step_stat == 2 %}
                                 已结束
                             {% else %}
                             <a class="ui link" href="{{ active.view_url }}">
                                 我要报名
                       	  	</a>
                             {% endif %}
                        </span>
                    </div>
                    
				</div>
                {%endfor%}
                
                
            </div>
            
        	{% if old_list.total_rows %}
        	<div class="ui pagination">
        		{% pager url:pager_url,total_rows:old_list.total_rows,total_page:old_list.total_page,current_page:page,var:'pager',pager_size:9 %}
        		{%include 'block/pager.html'%}
        	</div>
        	{% endif %}
        </div>
    </div>
    <div class="mainright">
        {% include "page/topic/usersign.html" %}
        {% include "page/topic/rightbar.html" %}
        
        {% ad_list var:'adone' page:1 size:1 state:2 name:'active_rightbar_adone' %}
        {% if adone %}
        <div class="adstickwrap">
            <div class="ui one adverts cards">
                <div class="card">
                    <div class="advblock">
                        <div class="image" style="background-image: url('{{ adone.cover.fileurl }}');padding:30% 0;">
                            <a href="{{ adone.view_url }}" title="{{ adone.title }}" target="_blank"></a>
                        </div>
                        <div class="desc">
                            <h2>
                                {{ adone.title }}
                            </h2>
                            <p>{{ adone.sub_title }}</p>
                        </div>
                        <a href="{{ adone.view_url }}" title="{{ adone.title }}" class="link wrap" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="sellwrap">
        	<div class="block title">
        		合作媒体
            </div>
			<div class="tryfirm">
				<img src="http://frstatic.qiniudn.com/images/logo_technode.jpg" alt="动点科技">
				<img src="http://frstatic.qiniudn.com/images/logo_geekpark.jpg" alt="极客公园">
                <img src="http://frstatic.qiniudn.com/images/logo_shijue.jpg" alt="视觉中国">
				<img src="http://frstatic.qiniudn.com/images/logo_tech.jpg" alt="TC">
                <img src="http://frstatic.qiniudn.com/images/logo_leikeji.jpg" alt="雷科技">
			</div>
        </div>
    </div>
</div>
{% endblock %}
