{%extends 'layout/sns.html'%}
{% block title %}{{ active.title }}-{% endblock %}
{% block page_css %}
<style type="text/css">
.ui.grid{
	margin:0;
}
.ui.social {
	padding: 0em;
}
.ui.tabox ,.ui.tabox.smint.fxd{
	background: none repeat scroll 0 0 #343028;
    width: 100%;
	z-index: 9999;
	border:0px solid #fff;
	margin:0;
}
.ui.tabox .ui.tabs {
	display: inline-block;
	text-align:center;
}
.ui.tabox .ui.tabs .tab{
	color:#fff;
	text-align:center;
	font-size: 0.9285rem;
	margin-left: 1.5%;
	margin-right: 1.5%;
	padding-top:1%;
	padding-bottom:1%;
}
.ui.grid>.row{
	margin:0;
}
.start{
	background:url({{ active.banner.thumbnails.hd.view_url }}) no-repeat center center /cover;
	color:#fff;
	padding:100px 0% 80px;
}
.start .ui.btn{
	border-radius:4px !important;
}
.start h2.ui.header{
	font-weight: 400;
}
.start h2.ui.header .content{
	text-align:left;
}
.start .row:nth-child(3){
	padding-top:90px;
	margin:0;
}
.start h2.ui.header span,.start .row:nth-child(2) h2.ui.header{
	font-size:30px !important;
}
.start .row:first-child h2.ui.header{
	font-size:60px !important;
}
.gray.background{
	background:#ccc;
}
.space .content{
	padding:10px 0;
	text-align:left;
}
.space .content i{
	font-weight: 700;
}
.picture, .process, .place,.part, .comment{
	padding-top: 1em;
	padding-bottom: 1em;
}
hr{
	background: #f36 !important;
}
.together {
	padding:45px 0;
}
.together a img {
    margin: 5px;
    border: 1px solid #ccc;
    width:150px;
  }

.ui.reply.segment {
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0);
	box-shadow: 0 0 0 1px rgba(0,0,0,0);
}
.ui.post.segment {
	padding: 0 0 0 5em;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0);
	box-shadow: 0 0 0 1px rgba(0,0,0,0);
}
.ui.comments .comment>.content>.laud {
	float: right;
}
.ui.big-end{
	padding:40px 0;
}
.ui.report{
	background:url({{ app_url_packaged }}/images/camp_2.jpg) no-repeat center center /cover;
	color:#fff;
	padding:140px 0%;
}
.report .ui.btn{
	border-radius:4px !important;
	background:#f36;
	border:0px;
}
.ui.place+.ui.grid{
	padding-bottom:20px;
}
.ui.background-30{
	height:30px;
	background:#eee;
}


.rundown-timeline-container {
	height: auto;
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	width: 100%;
}
.rundown-timeline-container:before {
	background: none repeat scroll 0 0 #DCDEE1;
	content: "";
	height: 75px;
	left: 49%;
	position: absolute;
	top: 39px;
	width: 3px;
}
.rundown-timeline-container.bottom:before{
	height:0;
}
.timeline-red-dot {
	background-color: #00b6ae;
	border-radius: 14px 14px 14px 14px;
	height: 13px;
	left: 48%;
	margin-left: -5px;
	position: absolute;
	top: 19px;
	width: 13px;
	border: 7px solid #cdf5f3;
}
.timeline-block {
height: 100px;
margin: 0;
position: relative;
top: -5px;
}
.timeline-content.right {
float: right;
}
.timeline-content {
float: right;
width: 44%;
}
.timeline-content.right .time {
font-weight: normal;
top: 14px;
}
.timeline-content .time {
font-size: 16px;
font-weight: bold;
left: 30%;
line-height: 38px !important;
position: absolute;
}
.timeline-content .name {
font-size: 16px;
font-weight: bold;
line-height: 16px;
margin-top: 25px !important;
margin-bottom: 0;
color: #f36;
}
.timeline-content .name.top{
	margin-top: 25px !important;
	font-size: 20px;
}
.timeline-content .title {
font-size: 12px;
line-height: 16px;
margin: 9px 0 5px !important;
}
.title img{
	display: block;
	margin: 0 auto;
	width: 3em;
	height: 3em;
	border-radius: 500px;
	float: left;
}
.title .content{
	padding-top: .25em;
	margin-left: 3.5em;
	font-size:14px;
}
.text {
margin: .25em 0 .5em;
word-wrap: break-word;
line-height: 1.325em;
font-size:14px;
}

</style>
{% endblock %}

{% block layout_js %}
  <!--引用百度地图API-->
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=N8Y86jHulT4qDOAmLb47vU7y"></script>
  <script type="text/javascript" >
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(116.368804,39.99586),11);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"酒仙桥路798艺术区",title:"酒仙桥路798艺术",imageOffset: {width:0,height:3},position:{lat:39.95959,lng:116.474589}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("{{ app_url_packaged }}/images/map_icon.png",new BMap.Size(25,35),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };


    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
      map.addControl(overviewControl);
    }

  </script>
{% endblock %}

{% block js %}

{% endblock %}
{% block jquery %}
    var map;
    initMap();

	phenix.hook_comment_page();
	phenix.bind_share_list();
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ active.view_url }}'});
	
	// 显示编辑工具条 
	$('.ui.active.segment').hover(function(){
		$('.ui.editable.buttons').removeClass('hide');
	},function(){
		$('.ui.editable.buttons').addClass('hide');
	});
	
	/* 登录用户行为 */
	{% if visitor.is_login %}
		// 初始化互动，是否收藏、点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{active._id}},type:2,event:1}, function(result){
			if (result.success) {
				// 验证收藏
				if (result.data.favorited) {
					$('.ui.favorite.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{active._id}},type:2,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.love.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');

		
		/* 登录用户行为 */
	{% endif %}
	
	// 收藏
	$('.ui.favorite.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active')
						.html('<i class="empty star icon"></i> <small>'+ result.data.favorite_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '收藏')
						.data('mark', 'n')
						.removeClass('active')
						.html('<i class="empty star icon"></i> <small>'+ result.data.favorite_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	// 喜欢
	$('.ui.love.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active')
						.html('<i class="empty heart icon"></i> <small>'+ result.data.love_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '点赞')
						.data('mark', 'n')
						.removeClass('active')
						.html('<i class="empty heart icon"></i> <small>'+ result.data.love_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	$('.ui.tabox').smint({
    	'scrollSpeed': 1000
    });

	
{% endblock %}

{% block content %}
  <div class="ui tabox">
    <div class="ui responsive grid">
      <div class="row">
        <div class="column">
          <div class="ui tabs">
              <a class="active tab" href="#start">活动首页</a>
              <a class="tab" href="#abstract">活动简介</a>
            <a class="tab" href="#process">活动日程</a>
            <a class="tab" href="#report">活动报名</a>
            <a class="tab" href="#place">活动地点</a>
            <a class="tab" href="#part">合作伙伴</a>
              <a class="tab" href="#comment">参与讨论</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui start block">
    <div class="ui responsive center aligned grid">
      <div class="row">
        <div class="center aligned tweleve wide column">
          <h2 class="ui header">
            <div class="content">
              <span>NO.{{ active.season }}</span>
              <br />
              <strong>{{ active.title }}</strong>
            </div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <h2 class="ui header">{{ active.sub_title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui btn-4 btn-4c icon-arrow-right btn" href="">
            <span>立即报名</span><i class="icon-arrow-right-sharp"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui space gray background block">
    <div class="ui responsive center aligned grid">
      <div class="row">
        <div class="twelve wide column">
          <div class="content">
            <i class="time icon"></i>2015-01-27  14:00 &nbsp;&nbsp;<i class="flat position icon"></i>{{ active.address }} &nbsp;&nbsp;<i class="flat users2 icon"></i>活动人数：{{ active.max_number_count }}人
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui big abstract block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="column">
          <p>
            {{ active.content }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui picture gray background block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="center aligned column section-title">
          <h3 class="ui header">活动现场照片   Picture</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="row"style="height:200px;background:#f8f8f8;">
      
    </div>
  </div>
  <div class="ui process gray background block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="center aligned column section-title">
          <h3 class="ui header">活动流程   Process</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="ui big block">
	<div class="ui responsive grid">
		<div class="row">
			<div class="rundown-timeline-container">
				<div class="timeline-block">
					<div class="timeline-red-dot"></div>
					<div class="timeline-content right">
					<div class="time">09:00 - 10:00</div>
						<p class="name top">活动签到</p>
					</div>
				</div>
			</div>
			<div class="rundown-timeline-container">
				<div class="timeline-block">
					<div class="timeline-red-dot"></div>
					<div class="timeline-content right">
					<div class="time">09:00 - 10:00</div>
						<p class="name"> 设计创业  </p>
						<div class="title"><img src="http://frbird.qiniudn.com/avatar/141218/54922ab5fc8b129e078b45c9-avs.jpg" alt="燃烧吧火鸟">
							<div class="content">
									雷海波  
								<div class="text">
								 太火鸟创始人、CEO
								</div>
							</div>	
						 </div>
					</div>
				</div>
			</div>
			
			
			<div class="rundown-timeline-container">
				<div class="timeline-block">
					<div class="timeline-red-dot"></div>
					<div class="timeline-content right">
					<div class="time">09:00 - 10:00</div>
						<p class="name"> 设计创业  </p>
						<div class="title">
							<img src="http://frbird.qiniudn.com/avatar/141218/54922ab5fc8b129e078b45c9-avs.jpg" alt="燃烧吧火鸟">
							<div class="content">
									雷海波  
								<div class="text">
								 太火鸟创始人、CEO
								</div>
							</div>	
						 </div>
					</div>
				</div>
			</div>
			
			<div class="rundown-timeline-container">
				<div class="timeline-block">
					<div class="timeline-red-dot"></div>
					<div class="timeline-content right">
					<div class="time">09:00 - 10:00</div>
						<p class="name"> 设计创业  </p>
						<div class="title">
							<img src="http://frbird.qiniudn.com/avatar/141218/54922ab5fc8b129e078b45c9-avs.jpg" alt="燃烧吧火鸟">
							<div class="content">
									雷海波  
								<div class="text">
								 太火鸟创始人、CEO
								</div>
							</div>	
						 </div>
					</div>
				</div>
			</div>
			
			<div class="rundown-timeline-container bottom">
				<div class="timeline-block">
					<div class="timeline-red-dot"></div>
				</div>
			</div>
			
		</div>
	</div>
  </div>
  <div class="ui report block">
    <div class="ui responsive center aligned column">
      <div class="row">
		<div class="center aligned column">
			<a class="ui btn-4 btn-4c icon-arrow-right btn" href="">
	            <span>立即报名</span><i class="icon-arrow-right-sharp"></i>
	        </a>
			<p>共有230人报名</p>	
		</div>
	  </div>
    </div>
  </div>
  <div class="ui background-30"></div>
	
  <div class="ui place gray background block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="center aligned column section-title">
          <h3 class="ui header">活动地点   Place</h3>
          <hr>
    <!--百度地图容器-->
    
        </div>
      </div>
    </div>
  </div>
  <div class="ui responsive grid">
	<div class="row">
	  <div class="center aligned column">
		<div style="height:440px;border:#ccc solid 1px;font-size:12px" id="map"></div>
	  </div>
	</div>
  </div>
  <div class="ui part gray background block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="center aligned column section-title">
          <h3 class="ui header">合作伙伴   Partner</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="ui white together background block">
    <div class="ui responsive grid">
      <div class="row">
            <div class="center aligned column">
              <!--<a href="http://cn.technode.com/ " title="动点科技" target="_blank"><img src="{{ app_url_packaged }}/images/logo_technode.jpg" alt="动点科技"></a>
              <a href="http://www.geekpark.net/" title="极客公园" target="_blank"><img src="{{ app_url_packaged }}/images/logo_geekpark.jpg" alt="动点科技"></a>
              <a href="http://www.leikeji.com/" title="雷科技" target="_blank"><img src="{{ app_url_packaged }}/images/logo_leikeji.jpg" alt="动点科技"></a>-->
              <a href="http://www.shijue.me/" title="视觉中国" target="_blank"><img src="{{ app_url_packaged }}/images/logo_shijue.jpg" alt="视觉中国"></a>
              <a href="http://techcrunch.cn" title="TC" target="_blank"><img src="{{ app_url_packaged }}/images/logo_tech.jpg" alt="TC"></a>
            </div>
         </div>
    </div>
  </div>
  <div class="ui background-30"></div>
  <div class="ui comment gray background block">
    <div class="ui responsive grid">
      <div class="row">
        <div class="center aligned column section-title">
          <h3 class="ui header">活动评论   Comment</h3>
          <hr>
        </div>
      </div>
    </div>
  </div>

<div class="ui white background block">
  <div class="ui responsive grid">
    <div class="row">
				<div class="column">
				<a name="comment"></a>
				<div class="ui big reply segment">
					<div class="ui threaded minimal comments">
						{% comment_list var:'comments' page:page target_id:active._id type:5 %}
						{% for comment in comments.rows %}
						<div class="comment" id="{{ comment._id }}">
							<a class="avatar" href="{{ comment.user.home_url }}">
								<img src="{{ comment.user.small_avatar_url }}" alt="{{ comment.user.nickname }}" />
							</a>
							<div class="content">
								<a class="author ui magenta link" href="{{ comment.user.home_url }}">{{ comment.user.nickname }}</a>
								<div class="metadata">
									<div class="date">{{ comment.created_on }}</div>
								</div>
								<div class="laud">
									<a class="ui link icon pop ajax" href="{{ app_url_comment }}/ajax_laud?id={{ comment._id }}" id="laud_{{ comment._id}}" data-content="有用" data-variation="inverted" >
										<i class="icon empty heart"></i>
									</a>
								</div>
								<div class="text">
									{{ comment.content }}
								</div>
								{% if visitor.is_login %}
								<div class="actions">
									<a class="reply showbox" href="#reply_{{ comment._id }}">回复</a>
                  {% if visitor.id==comment.user_id %}
									  <a class="delete confirm-request" href="{{ app_url_comment }}/delete?id={{ comment._id }}">删除</a>
                  {% endif %}
								</div>
								<form class="ui reply hide form" action="{{ app_url_comment }}/ajax_reply" method="post" id="reply_{{ comment._id }}">
									<input type="hidden" name="type" value="2" />
									<input type="hidden" name="comment_id" value="{{ comment._id }}" />
									<input type="hidden" name="target_id" value="{{ active._id }}" />
									<div class="field">
										<textarea name="content" class="reply-content"></textarea>
									</div>
									<div class="ui active button magenta submit labeled icon">
										<i class="icon location"></i> 回复
									</div>
								</form>
								{% endif %}
							</div>
							
							{% if comment.reply %}
							<div class="comments">
								{% for reply in comment.reply %}
									<div class="comment">
										<a class="avatar" href="{{ reply.user.home_url }}" title="{{ reply.user.nickname }}">
											<img src="{{ reply.user.small_avatar_url }}" alt="{{ reply.user.nickname }}" />
										</a>
										<div class="content">
											<a class="author ui magenta link" href="{{ reply.user.home_url }}">{{ reply.user.nickname }}</a>
											<div class="metadata">
												<div class="date">{{ reply.replied_on }}</div>
											</div>
											<div class="text">
												{{ reply.content }}
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							{% endif %}
							
						</div>
						{% endfor %}
					</div>
					
					<div class="post comment">
						<p><a href="{{ visitor.home_url }}" class="ui link">{{ visitor.nickname }}</a> 发表回应</p>
						<form class="ui reply form" action="{{ app_url_comment }}/do_save" method="post" id="comment-form">
							<input type="hidden" name="target_id" value="{{ active._id }}" />
							<input type="hidden" name="type" value="5" />
							<input type="hidden" name="star" value="0" />
							<div class="field">
								<textarea name="content" class="comment-textarea" ></textarea>
								<div id="comment"></div>
							</div>
							<div class="right aligned column">
								<input type="submit" class="ui small magenta button" value="添加评论" />
							</div>
							{% if !visitor.is_login %}
							<div class="not login">
								<div class="ui grid">
									<div class="row">
										<div class="center aligned column">
											<a href="{{ app_url_register }}" class="ui green btn-4 btn-4c icon-arrow-right checkout btn">注册</a> <a href="{{ app_url_login }}" class="ui magenta btn-4 btn-4c icon-arrow-right checkout btn">登录</a>
											<p class="ui gray text">注册登录后可发评论</p>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</form>
					</div>
					
				</div>
				{% if comments.rows %}
				<div class="ui pagination">
					{% pager url:pager_url,total_rows:comments.total_rows,total_page:comments.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
				{% endif %}
			</div>

					
				</div>


    </div>
  </div>
</div>
<div class="ui background-30"></div>
<div class="ui big-end white background grid">
	<div class="row">
		<div class="center aligned column">
			{% include "block/big-circel-share.html" %}
		</div>
	</div>
</div>
{% endblock %}
