{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block layout_css %}
	{% if css_use_bundle %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.{{ css_bundle_version }}.css" type="text/css" />
	{% else %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.css" type="text/css" />
	{% endif %}
{% endblock %}
{% block page_css %}
<style type="text/css">
.start{
    background: url({{ active.banner.fileurl }}) no-repeat center center;
}
#activitypage .activity.overview p{
	word-break: break-all;
	margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.8;
}
#activitypage .activity.overview p br{
    content: '';
    display: block;
    padding: 5px;
    margin-top: -10px;
}
.activity.pictures .slides li{
	position:relative;
}
.activity.pictures .slides li p{
	line-height: 35px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    color: #fff;
    font-size: 16px;
    display: block;
    width: 100%;
}
#activitypage .activity.overview p img.fr-fin.fr-dib {
    max-width: 100%;
}
.ui-12032.hide{
	display:none;
}
</style>
{% endblock %}

{% block layout_js %}
  <script src="{{ app_url_packaged }}/javascript/jquery.flexslider.js"></script>

  {% if active.map_info %}
  <!--引用百度地图API-->
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=N8Y86jHulT4qDOAmLb47vU7y"></script>
  {%endif%}
  <script type="text/javascript" >
  {% if active.map_info %}
		var map = new BMap.Map("map");
		var point = new BMap.Point({{ active.map_info.x }},{{ active.map_info.y }});
		map.centerAndZoom(point, {{ active.map_info.matter }});
		var marker = new BMap.Marker(point);  // 创建标注
		map.addOverlay(marker);               // 将标注添加到地图中
		//marker.setAnimation(BMAP_ANIMATION_BOUNCE);	//动画定位
		
		map.addControl(new BMap.MapTypeControl());	//地图 卫星 三维
		map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT}));	//标尺
		map.addControl(new BMap.NavigationControl());	//放大 移动
		
		var opts = {
			  position : point,    // 指定文本标注所在的地理位置
			  offset   : new BMap.Size(5, -50)    //设置文本偏移量
			}
			var label = new BMap.Label("{{ active.map_info.title }}", opts);  // 创建文本标注对象
				label.setStyle({
					 color : "#666",
					 fontSize : "0px",
					 height : "0px",
					 lineHeight : "20px",
					 fontFamily:"微软雅黑",
					 border:"1px solid rgba(0,0,0,0)",
					 padding:"0 5px"
				 });
			map.addOverlay(label);

	{%endif%}

  //ajax获取报名列表
  function fetch_signup_avatar(){
    var url = '{{ app_url_active }}/ajax_fetch_signup';
    var target_id = {{ active._id }};
    $.get(url, { target_id: target_id, evt:1, from:'site' });
  }

    // 评论参数
    var page = {{ page|default 1 }}, per_page = 10, sort = 0;
    var url = '{{ app_url_comment }}/ajax_fetch_comment';
    var target_id = "{{ active.topic_ids.0 }}";
    // 评论类型
    var type = 2;
    // 网页或手机
    var from_site = 'site';
    // 备用
    var evt = 1;

    var comment_param = {
      target_id: target_id,
      page: page,
      per_page: per_page,
      sort: sort,
      url: url,
      type: type,
      from_site: from_site,
      evt: evt,
    }

  </script>
{% endblock %}

{% block js %}
{% endblock %}
{% block jquery %}
  phenix.hook_comment_page();

  // ajax加载评论
  phenix.fetch_comment(comment_param);

  //分享
  phenix.bind_share_list('{{ active.cover.thumbnails.resp.view_url }}');
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ active.wap_view_url }}'});
	
	$('.ui.tabox').smint({
    	'scrollSpeed': 1000,
		'mySelector' : 'section'
    });

  //报名按钮
	$('.ui.attend.button').click(function(){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
    $('.ui.user-info-box.modal').modal('show');
    return false; 
    //验证用户信息齐全
    /**
    $.get('{{ app_url_domain }}/user/ajax_check_userinfo', {}, function(result){
      if(result=='true'){
        //ajax报名
        $.get('{{ app_url_action_base }}/active/ajax_attend', { target_id: {{ active._id }} });
      }else if(result=='false'){

      }
    });
    **/

	});

  //取消报名弹出框
	$('.ui.deny.button').click(function(){
		$('.ui.user-info-box.modal').modal('hide');
	});

	$('#user-info-form').livequery(function(){
		$(this).form({
			realname: {
				identifier  : 'realname',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'phone',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					}
				]
			},
			city: {
				identifier  : 'city',
				rules: [
					{
						type   : 'empty',
						prompt : '城市不能为空'
					}
				]
			}

		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});

	$('.flexslider').flexslider({
	      animation: "slide",
	      controlNav: false, 
	});
	
	skrollr.init({
		forceHeight: false,
		mobileCheck:function(){},
		mobileDeceleration:0.004,
	});

  //ajax获取报名列表头像
  fetch_signup_avatar();

{% endblock %}

{% block content %}
<section class="start banner" {% if active._id == 12031 %} style="padding:40px 0;" {% endif %}>
    <div class="ui responsive grid">
        {% if active.step_stat == 1 %}
        <div class="row">
            <div class="center aligned column attend-box">
                {% if is_attend %}
                <div class="ui big inverted active white button">
                    <span><i class="smile icon"></i> 已报名，感谢参与！</span>
                </div>
                {% else %}
                <a class="ui big white inverted attend button" href="javascript:void(0);">
                    <i class="ticket icon"></i> 立即报名
                </a>
                {%endif%}
            </div>
        </div>
        {%endif%}
        
        {% if active.step_stat == 2 %}
        <div class="row">
            {% if active.report_url %}
            <div class="center aligned column">
                <a class="ui big white inverted button" href="{{ active.report_url }}" target="_blank">
                      <span>活动报道</span>
                </a>
            </div>
            {%else%}
            <div class="center aligned column attend-box" style="height:50px;"></div>
            {%endif%}
        </div>
        {%endif%}
    </div>
</section>

<div class="activity summary">
    <span><i class="marker icon"></i> {{ active.address }}</span>
    <span><i class="users icon"></i> 活动人数：{{ active.max_number_count }}人</span>
    <span><i class="unhide icon"></i> 参与度：{{ active.view_count }}</span>
</div>

<div class="ui responsive grid activepage">
    <div class="row">
        <div class="column">
            <div class="ui containermain" id="activitypage">
                <div class="conleft">
                    <div class="product froala-view activity overview">
                        <p>
                            {{ active.content }}
                        </p>
                    </div>
                    
                    <div class="activity people {% if active._id == 12032 %} ui-12032 hide {% endif%}">
                        <div class="block title">
                            {% if active._id == 12031 %}
                                活动流程
                            {% else %}
                                活动嘉宾
                            {% endif%}
                        </div>
                        
                        {% if active.process %}
                            {% for p in active.process %}
                            <div class="rundown-timeline-container">
                                <div class="timeline-block">
                                    <div class="timeline-red-dot"></div>
                                    <div class="timeline-content right">
                                        <div class="time" {% if active._id == 12031 %} style="left: 32%;" {% endif %}>{{ p.time }}</div>
                                        <p class="name">{{ p.title }}</p>
                                        <div class="title">
                                            {% if p.img %}
                                            <img src="{{ p.img }}" alt="{{ p.name }}" />
                                            {% endif %}
                                            <div class="content">
                                                {{ p.name }}  
                                                <div class="text">
                                                    {{ p.position }}
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            
                            <div class="rundown-timeline-container bottom">
                                <div class="timeline-block">
                                    <div class="timeline-red-dot"></div>
                                </div>
                            </div>
                        {%endif%}
                    </div>
                    
                    {% if active.step_stat == 2 %}
                    <div class="activity pictures {% if active._id == 12032 %} ui-12032 hide {% endif%}">
                        <div class="block title">
                            现场照片
                        </div>
                        {% asset_list var:'assets' parent_id:active._id asset_type:67 size:30 %}
                        
                        <div class="flexslider">
                            <ul class="slides">
                                {% for asset in assets.rows %}
                                <li>
                                    <img src="{{ asset.thumbnails.big.view_url }}" />
                                    <p>&nbsp;&nbsp;{{ asset.desc }}</p>
                                </li>
                                {%endfor%}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    
                    <!--<div class="bar"></div>
                    <div class="activity people">
                        <div class="block title">
                            活动报道
                        </div>
                    </div>-->
                    
                    
                    
                    <div class="activity report">
                        <div class="block title">
                            活动报名
                        </div>
                        <!--ajax获取报名者头像-->
                        <div id="signup-avatar">
                            {% for i in avatar_loop %}
                            <div class="image avatar-list">
                                <img src="{{ app_url_packaged }}/images/avatar_default_small.jpg">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="aettend-box">
                            {% if !active.step_stat == 1 %}
                                <a class="ui active grey inverted button" href="javascript:void(0);">
                                    <span>活动结束</span>
                                </a>
                            {% else %}
                              {% if is_attend %}
                                <a class="ui big magenta active inverted button" href="javascript:void(0);">
                                    <i class="smile icon"></i> 已报名，感谢参与！
                                </a>
                              {% else %}
                                <a class="ui big magenta attend inverted button" href="javascript:void(0);">
                                    <i class="ticket icon"></i> 立即报名
                                </a>
                              {% endif %}
                            {% endif %}
                            <p>共有 <span>{{ active.signup_count }}</span> 人报名</p>
                        </div>
                    </div>
                    
                    <div class="product activity reviews">
                        <a name="comment_top"></a>
                        <div class="block title">
                            全部讨论 <small>（{{ topic_comment_count }}）</small>
                            
                            <div class="quick goto">
                                直达楼层：<input type="text" name="floor" class="gotofloor" data-max="{{ topic_comment_count }}" data-url="{{ app_url_active }}/view/{{ active._id }}/{{ page }}" title="跳转到指定楼层" />
                            </div>
                        </div>
                        {% if active.topic_ids %}
                            <!--ajax comment-->
                            <div class="ui big reply segment" id="comment-list">
                                <div class="ui threaded comments is-comment"></div>
                                <div class="ui pagination pagerbox"></div>
                            </div>
                            {% include "block/comment_box_site.html" %}
                        {% endif %}
                    </div>
                        
                </div>
                <div class="conright">
                    
                    <div class="sellwrap">
                        <div class="block title">
                            合作品牌
                        </div>
                        <div class="tryfirm">
                            {% if active.partner %}
                                {% for p in active.partner %}
                                <a href="{{ p.url }}" title="{{ p.title }}" target="_blank">
                                    <img src="{{ p.img }}" alt="{{ p.title }}" />
                                </a>
                                {%endfor%}
                            {%endif%}
                        </div>
                    </div>
                    
                    <!--
                    <div class="sellwrap">
                        <div class="block title">
                            礼品赞助
                        </div>
                    </div>
                    
                    <div class="sellwrap">
                        <div class="block title">
                            活动场地
                        </div>
                    </div>
                    -->
                    
                    <!--百度地图容器-->
                    <div class="sellwrap">
                        <div class="block title">
                            活动地址
                        </div>
                        <div class="rbox">
                            <div style="height:300px;border:#ccc solid 1px;" id="map"></div>
                            <p>{{ active.map_info.title }}</p>
                            <p><i class="marker icon"></i>{{ active.address }}</p>
                        </div>
                    </div>
                    
                    <div class="sellwrap">
                        <div class="user noline share">
                            <span><i class="share alternate icon"></i>分享：</span>
                            <a href="javascript:void(0);" id="sina-share" title="新浪微博" class="ui red icon btn">
                                <i class="weibo icon large circular red inverted"></i>
                            </a>
                            <a href="javascript:void(0);" id="wechat-share" class="ui green icon btn" title="微信">
                                <i class="weixin icon large circular green inverted"></i>
                            </a>
                            <a href="javascript:void(0);" id="tencent-share" title="腾讯微博" class="ui blue icon btn">
                                <i class="tencent weibo icon large circular blue inverted"></i>
                            </a>
                            <a href="javascript:void(0);" id="renren-share" title="人人网" class="ui blue icon btn">
                                <i class="icon renren large circular blue inverted"></i>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>         

{% include "block/attend_user_info.html" %}
{% include "block/qrcode.html" %}
{% endblock %}

{% block templates %}
  {% mustache id:'get_comments_tpl' tpl:'mustache/fetch_comments.mustache' %}
  {% mustache id:'pager_tpl' tpl:'mustache/pager.mustache' %}
{% endblock %}
