<taconite>
	<replace select="#rank-box"><![CDATA[
	  
    {% if apply.vote_count > 0 %}
    <div class="apply-report">
    
	  <div class="ui left magenta active inverted attached button"><i class="users icon"></i>好友支持({{ apply.vote_count }})</div>
	  <div class="ui right magenta inverted attached button"><i class="signal icon"></i>总排名({{ apply.vote_count }})</div>
      {% attend_list var:'list' target_id:apply._id event:2 page:1 size:50 %}
      <div class="user-list">
        {% for d in list.rows %}
        <div class="userid" style="background-image:url({{ d.user.medium_avatar_url }});">
        </div>
        {%endfor%}
      </div>
      
      <div class="user-report" style="display:none">
        <div class="myrank">
          <div class="ui large feed">
            <div class="label"><img src="{{ d.user.medium_avatar_url }}" alt="{{ apply.user.nickname }}"></div>
            <div class="content">
              <div class="summary">
                <a class="user">{{ apply.user.nickname }}</a>
              </div>
              <div class="meta">
                <a class="like active">
                  <i class="like icon"></i>
                  {{ apply.vote_count }}
                </a>
              </div>
              <div class="rankb">
                NO.<span>1</span>
              </div>
              
              
            </div>
          </div>
        </div>
        
        
      </div>
      
    </div>
    {%else%}
        <p style="text-algin:center;">赶快叫好友来支持你吧！</p>
    {%endif%}
	]]></replace>
	<eval>
	  $('.ui.right.attached.button').click(function(){ 
	    $(this).addClass('active'); 
	    $('.ui.left.attached.button').removeClass('active');
	    $('.user-list').hide();
	    $('.user-report').show();
	  });
	  
	  $('.ui.left.attached.button').click(function(){ 
	    $(this).addClass('active'); 
	    $('.ui.right.attached.button').removeClass('active');
	    $('.user-report').hide();
	    $('.user-list').show();
	  });
	  
	</eval> 
</taconite>
