<taconite>
	<replaceContent select="#rank-box"><![CDATA[
	  
    {% if apply.vote_count > 0 %}
	  <label class="ui fluid label" style="text-align:center;padding: 10px 0;font-size:1em;"><i class="users icon"></i>好友支持({{ apply.vote_count }})</label>
      {% attend_list var:'list' target_id:apply._id event:2 page:1 size:50 %}
      <div class="user-list">
        {% for d in list.rows %}
        <div class="userid" style="background-image:url({{ d.user.mini_avatar_url }});">
        </div>
        {%endfor%}
      </div>
    {%else%}
        <p style="text-algin:center;">赶快叫好友来支持你吧！</p>
    {%endif%}
	]]></replaceContent>
</taconite>
