{%extends 'layout/column.html'%}
{% block title %}{% endblock %}

{% block page_css %}
<style class="text/css">
    
</style>
{% endblock %}

{% block jquery %}
	/* 登录用户行为 */
	{% if visitor.is_login %}		
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{cooperate._id}},type:6,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.support.button')
						.data('content', '取消支持')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		
    	// 上传信息
    	$('.ui.upload.button').bind('click', function(){
    		var id = $(this).data('id');
    		phenix.redirect('{{ app_url_stuff }}/submit?rid='+id);
    	});
    	// 编辑
    	$('.ui.edit.button').bind('click', function(){
    		var id = $(this).data('id');
    		phenix.redirect('{{ app_url_cooperate }}/edit?id='+id);
    	});
    	// 删除
    	$('.ui.remove.button').bind('click', function(){
    		var id = $(this).data('id');
    		if(confirm('确认执行删除操作吗?')){
    			$.post('{{ app_url_cooperate }}/deleted', {id: id });
    		}
    	});
		
		/* 登录用户行为 */
	{% endif %}
    
	// 喜欢
	$('.ui.support.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:6}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消支持')
						.data('mark', 'y')
						.addClass('active')									
						.html('<i class="thumbs outline up icon"></i> <div class="love count">'+ result.data.love_count +'</div>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:6}, function(result){
				if (result.success) {
					$btn
						.data('content', '我支持')
						.data('mark', 'n')
						.removeClass('active')
						.html('<i class="thumbs outline up icon"></i> <div class="love count">'+ result.data.love_count +'</div>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});

{% endblock %}

{% block content %}
<div class="shop submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{%include 'block/find_nav.html'%}
			</div>
		</div>
	</div>
</div>

{% if cooperate.banner %}
<div class="user cooperate masthead" style="background-image: url('{{ cooperate.banner.fileurl }}');">
{% else %}
<div class="user cooperate masthead" style="background-image: url('{{ app_url_packaged }}/images/headbg/ucenter-{{ last_char |default 0 }}.jpg');">
{% endif %}
    <div class="masthead-cover">
    	<div class="ui responsive grid">
    		<div class="column">
                <div class="container">
                    <div class="ui grid">
                        <div class="two column row">
                            <div class="right aligned column">
                                <div class="logo">
                                    {% if cooperate.marks.labs %}
                                    <div class="ui magenta icon pop button" data-content="孵化实验室" data-variation="inverted">
                                        <i class="lab icon"></i>
                                    </div>
                                    {% endif %}
                                    <img class="ui big avatar image" src="{{ cooperate.medium_avatar_url }}" />
                                </div>
                                <div class="rate">
                                    <div class="ui small star rating">
                                        {% for s in cooperate.rank_stars %}
                					  	<i class="icon {{ s }}"></i>
                                        {% endfor %}
                					</div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui header">
                                    <div class="content">
                                        {{ cooperate.name }}
                                        <div class="sub header">
                                           <i class="map icon"></i> {{ cooperate.type_label.name }} {{ cooperate.city }} 
                                        </div>
                                        {% if !is_ship %}
                                    	<a href="{{ app_url_cooperate }}/ajax_follow?id={{ cooperate._id }}" class="ui small white ajax inverted button" id="cooperate-{{ cooperate._id }}-ship">
                                    		关注 
                                    	</a>
                                        {% else %}
                                    	<a href="{{ app_url_cooperate }}/ajax_cancel_follow?id={{ cooperate._id }}" class="ui small active white ajax inverted button" id="cooperate-{{ cooperate._id }}-ship">
                                    		已关注 
                                    	</a>
                                        {% endif %}
                                        {% if cooperate.follow_count %}
                                        <span id="cooperate-follow-label">{{ cooperate.follow_count }}人已关注</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
    		</div>
    	</div>
    </div>
</div>

<div class="cooperate support">
    <div class="ui pop circular icon support button" data-id="{{ cooperate._id }}" data-mark="n" data-content="我支持" data-variation="inverted">
        <i class="thumbs up outline icon"></i><div class="love count">{{ cooperate.love_count|default 0 }}</div>
    </div>
    
    {% if editable %}
    <div class="editable">
        <div class="ui pop upload icon gray inverted button" data-content="上传案例" data-variation="inverted" data-id="{{ cooperate._id }}">
            <i class="upload icon"></i>
        </div>
    	<div class="ui pop edit icon gray inverted button" data-content="编辑信息" data-variation="inverted" data-id="{{ cooperate._id }}">
    		<i class="edit icon"></i>
    	</div>
    </div>
    {% endif %}
</div>

<div class="cooperate stuffs">
	<div class="ui responsive grid">
        <div class="row">
    		<div class="center aligned column section-title">
                <h2 class="block title">作品案例</h2>
                <hr>
    		</div>
        </div>
        <div class="row">
    		<div class="column">
				{% stuff_list var:'stufflist' sort:sort sticked:sticked cooperate_id:cooperate._id size:6 %}
				<div class="ui three stuffs okcase cards">
					{% for stuff in stufflist.rows %}
                        <div class="card">
                         	<div class="image">
                                <a href="{{ stuff.view_url }}" title="{{ stuff.title }}" target="_blank">
                            		<img src="{{ stuff.cover.thumbnails.md.view_url }}" alt="{{ stuff.title }}" />
                          	  	</a>
                          	</div>
                          	<div class="content">
                            	<div class="header">
                            		<a href="{{ stuff.view_url }}" title="{{ stuff.title }}" class="ui line" target="_blank">{{ stuff.title|truncate 26 '' }}</a>
                          	  	</div>        
                                <div class="i-stats">
                                    <div class="love">
                                        <span class="ui icon support active magenta button" data-id="{{ stuff._id }}">
                                            <i class="thumbs up outline icon"></i>
                                        </span>
                                  	  	<div class="ui avatars images" id="stuff_{{ stuff._id }}_support">
                                            {% if stuff.love_count %}
                                                {% users_list var:'userlist' user_ids:stuff.love_users %}
                                                {% for u in userlist %}
                                      	  	        <img src="{{ u.mini_avatar_url }}" class="ui avatar image" />
                                                {% endfor %}
                                                <span class="count">
                                                    {{ stuff.love_count }}<small>+</small>
                                                </span>
                                            {% endif %}
                                  	  	</div>
                                    </div>
                                </div>
                          	</div>
                        </div>
					{% endfor %}
				</div>
            </div>
        </div>
    </div>
</div>

<div class="cooperate content">
	<div class="ui responsive grid">
        <div class="row">
    		<div class="center aligned column section-title">
                <h2 class="block title">详细介绍</h2>
                <hr>
    		</div>
        </div>
        <div class="row">
    		<div class="column">
                <h3 class="ui center aligned black header">{{ cooperate.fullname }}</h3>
    			<div class="summary froala-element">
                    {{ cooperate.summary }}
                </div>
                <h3 class="ui center aligned black header">专业领域</h3>
                <div class="expertise">
                    {% tag_list var:'keywords' keywords:cooperate.keywords %}
                    {% for t in keywords %}
                    <label class="ui {{ t.color }} label">{{ t.name }}</label>
                    {% endfor %}
                </div>
    		</div>
        </div>
    </div>
</div>
<!--
<div class="cooperate prize">
	<div class="ui responsive grid">
        <div class="row">
    		<div class="center aligned column section-title">
                <h2 class="block title">荣誉与奖项</h2>
                <hr>
    		</div>
        </div>
        <div class="row">
    		<div class="column">
               
    		</div>
        </div>
    </div>
</div>-->

<div class="cooperate prize">
	<div class="ui responsive grid">
        <div class="row">
    		<div class="center aligned column section-title">
                <h2 class="block title">关注的人</h2>
                <hr>
    		</div>
        </div>
        <div class="row">
    		<div class="column">
                <div class="avatars" id="people-list">
                    {% favorite_list var:'list' target_id:cooperate._id type:6 event:3 %}
                    <div class="ui small images">
                        {% for a in list.rows %}
                        <a href="{{ a.user.home_url }}" target="_blank" data-content="{{ a.user.nickname }}" data-variation="inverted" class="ui people pop">
                            <img class="ui avatar image" src="{{ a.user.small_avatar_url }}" />
                        </a>
                        {% endfor %}
                    </div>
                </div>
    		</div>
        </div>
	</div>
</div>

<div class="cooperate contact">
	<div class="ui responsive grid">
        <div class="row">
    		<div class="center aligned column white section-title">
                <h2 class="block title">联系我们</h2>
                <hr>
    		</div>
        </div>
        <div class="row">
    		<div class="column">
                <div class="container">
                    <p>// 网址：{{ cooperate.site_url|default '无' }}</p>
                    <p>// 地址：{{ cooperate.address|default '无' }}</p>
                    <p>// 联系人：{{ cooperate.people|default '无' }}</p>
                    <p>// 联系电话：{{ cooperate.phone|default '无' }}</p>
                </div>
    		</div>
        </div>
        <div class="row">
    		<div class="center aligned column">
                <div class="social">
                    {% if cooperate.weibo_url %}
                	<a href="{{ cooperate.weibo_url }}" target="_blank" class="ui red icon inverted button">
                		<i class="flat icon_weibo icon"></i>
                	</a>
                    {% endif %}
                    {% if cooperate.wechat %}
                	<a href="{{ cooperate.wechat }}" target="_blank" class="ui green icon inverted button" title="微信">
                		<i class="flat icon_weixin icon"></i>
                	</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_social }}">
						发现
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_cooperate }}">
						孵化资源
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">{{ cooperate.name }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
