{%extends 'layout/fiu.html'%}
{% block page_css %}
<style type="text/css">
    html {
        box-sizing: border-box;
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        font-size: 14px;
    }
    *, :after, :before {
        box-sizing: inherit;
    }
    .ui.grid {
        display: block;
        text-align: left;
        font-size: 0;
        padding: 0;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        margin: -10px;
    }
    .ui.responsive.grid, .ui.wap {
        margin: 0 auto;
        padding: 0;
        min-width: initial!important;
    }
    .ui.grid>.row {
        display: block;
        position: relative;
        width: 100%!important;
        padding: 10px 0;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 0;
    }
    .ui.grid>.row>.column {
        position: relative;
        display: inline-block;
        text-align: left;
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0;
    }
    .ui.responsive.hot.grid{
        padding-top: 5px;
        margin-bottom: 20px;
    }
    .ui.grid>.row>.column:only-child{
        width: 100%;
    }
    .ui.banner{
        background:url({{ scene_subject.banner.thumbnails.aub.view_url }}) center center no-repeat;
        padding: 25.239% 0;
        background-size:100%;
        position: relative;
    }
    .ui.header{
        font-weight: 400;
    }
    .ui.banner h3{
        position: absolute;
        width: 100%;
        height: 30px;
        line-height: 30px;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        left: 0;
        top: 50%;
        margin: -15px 0 0;
        padding: 0 10px;
        font-size: 16px;
    }
    p {
        margin: 0;
        line-height: 16px;
        word-break: break-word;
        color: #222;
        font-size: 12px;
    }
    .pt-0{
        padding-top: 0 !important;
    }
    .pt-r{
        padding-top: 8px !important;
    }
    h2.ui.header{
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        color: #222;
        text-align: center;
    }
    .block{
        margin-top: 10px;
        position: relative;
        background: #fff;
        box-shadow: 0px 0 2px 0px rgba(0,0,0,0.2);
    }
    .images img{
        margin: 0;
        width: 100%;
        vertical-align: middle;
    }
    .content{
        padding: 15px 10px;
    }
    .price{
        color: #be8914;
        font-size: 14px;
    }
    .oldprice{
        color: #999;
        font-size: 12px;
        text-decoration: line-through;
        margin-left: 5px;
    }
    i.icon {
        display: inline-block;
        opacity: 1;
        margin: 0 .25rem 0 0;
        width: 1.18em;
        height: 1em;
        font-family: Icons;
        font-style: normal;
        font-weight: 400;
        text-decoration: inherit;
        text-align: center;
        speak: none;
        font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    i.buys.icon:before{
        content: "\f07a";
    }
    .buy.btn{
        color: #fff;
        font-size: 12px;
        background: #000;
        text-decoration: none;
        float: right;
        margin-top: -3px;
        height: 25px;
        width: 75px;
        line-height: 25px;
        text-align: center;
        border-radius: 4px;
    }
</style>
{% endblock %}
{% block content %}
<div class="hotpage">
    <div class="ui banner">
        <h3 class="ui header">{{ scene_subject.title }}</h3>
    </div>
    <div class="ui responsive hot grid">
        <div class="row">
            <div class="column">
                <p>
                    {{ scene_subject.summary }}
                </p>
            </div>
        </div>

        {% for d in scene_subject.products %}
            <!-- 循环 -->
            <div class="row pt-r">
                <div class="column">
                    <h2 class="ui header">{{ d.title }}</h2>
                    <p>{{ d.summary }}</p>
                    <div class="block">
                        <a href="" class="images">
                            <img src="{{ d.banner_url }}">
                        </a>
                        <div class="content">
                            <span class="price">¥{{ d.sale_price }}</span>
                            {% if d.sale_price != d.market_price %}
                            <span class="oldprice">原价¥{{ d.market_price }}</span>
                            {%endif%}
                            <a href="{{ d.wap_view_url }}" class="buy btn"><i class="buys icon"></i>去购买 </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end -->
        {%endfor%}

    </div>
</div>
{% endblock %}
