{%extends 'layout/board.html'%}
{% block title %}活动中奖名单-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.segment > .animated.list {
		margin-left: 1.2em;
	}
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<section class="ui block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">Goccia强势来袭活动中奖名单</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="fourteen wide column">
				<div class="content-box">
					<p>一周过去了，参与活动的小伙伴们久等啦，太火鸟感谢您的参与和信任，不多说，上重点！</p>
					
					<div class="ui segment">
						<h4 class="ui magenta header">【5月28日-6月4日获奖名单】</h4>
						
						<div class="ui fitted divider"></div>
						
						<p>恭喜以下微博小伙伴：</p>
						<div class="ui animated list">
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weibo icon"></i> @Sk8_碎画嫌SiD_GaFa</div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weibo icon"></i> @夜莺fun声歌唱  </div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weibo icon"></i> @V泊海</div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weibo icon"></i> @度天年</div>
						      	</div>
						  	</div>
						</div>
						
						<p>恭喜以下微信小伙伴：</p>
						<div class="ui animated list">
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weixin icon"></i> @闹得醒</div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weixin icon"></i> @helen </div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weixin icon"></i> @许许多多</div>
						      	</div>
						  	</div>
							<div class="item">
						      	<div class="content">
						          	<div class="header"><i class="flat icon_weixin icon"></i> @东落</div>
						      	</div>
						  	</div>
						</div>
						
					</div>
					
					<div class="ui danger message">
						<i class="flat close icon"></i>
						获奖小伙伴请于6月26日前与我们官方微博或微信联系哦。告知姓名、手机号及收货地址，我们会在活动结束后7个工作日内统一将奖品寄出！
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}