{%extends 'layout/shop.html'%}
{% block title%}账户信息-{% endblock %}
{% block page_css %}
<style type="text/css">
#mfrbird{
	margin-top:0;
}
.ui.header{
	font-weight:400;
}
.color-be{
	background: #be8914 !important;
}
.sfooter.nav-menu{
	display: none;
	visibility: none;
}
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
    /* 个人资料表单验证 */
	$('#profile-form').form({
		nickname: {
			identifier  : 'nickname',
			rules: [
				{
					type   : 'empty',
					prompt : '邮件格式不对,请输入您注册时填写的邮件'
				},
				{
					type   : 'maxLength[24]',
					prompt : '登录密码为必须24位以上字符'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit();
		}
	});
{% endblock %}

{% block content %}
<div class="ui fiushop pb-0" >
	<div class="ui sheader">
		<a class="return" href="{{ app_url_wap }}/my/mymanage"><i class="angle float left icon"></i></a>
		<p>修改密码</p>
	</div>
</div>
<div class="ui responsive grid plr-r mt-2r">
	<div class="row">
		<div class="column">
			<form action="{{app_url_wap}}/my/save_account" method="post" class="ui fluid form" id="profile-form">
				<input name="_id" type="hidden" value="{{ user_id }}" />
				
				<h4 class="ui dividing header mt-0">用户名(昵称)</h3>
				<div class="field mb-2r">
					<input type="text" name="nickname" value="{{ user.true_nickname }}" />
				</div>
				
				<h4 class="ui dividing header">修改密码</h4>
				<div class="field mb-2r">
					<h5 class="ui mt-0 mb-r header">当前密码</h5>
					<input type="password" name="current_password" />
				</div>
				
				<div class="field mb-2r">
					<h5 class="ui mt-0 mb-r header">修改密码</h5>
					<input type="password" name="password" />
				</div>
				<div class="field mb-2r">
					<h5 class="ui mt-0 mb-r header">确认密码</h5>
					<input type="password" name="repeat_password" />
				</div>
				
				<input type="submit" class="ui small flt-r color-be inverted active button" value="确认修改" />
				
			</form>

		</div>
	</div>
</div>
{% endblock %}
