{%extends 'layout/mobile.html'%}
{% block title%}订单查询-{% endblock %}
{% block page_css %}
<style type="text/css">
#mfrbird{
	margin-top:0;
}
h3.ui.header{
	font-weight:400;
}
</style>
{% endblock %}

{% block jquery %}
	$('.ui.responsive.grid.mt-2r').css('min-height',document.documentElement.clientHeight-230);
{% endblock %}

{% block content %}
<div class="ui responsive grid mt-2r">
	<div class="row">
		<div class="column">
			<h3 class="ui dividing header">订单查询</h3>
		</div>
	</div>
	<div class="row">	
		<div class="column">
			<div class="ui segment">
				{% order_list var:'list' user_id:user.id status:s deleted:'-1' size:10 page:page %}
				<div class="ui very relaxed divided address list">
					{% for order in list.rows %}
						{% include 'mm/order-item.html' %}
					{% else %}
					<div class="item">您还没有相关订单</div>
					{% endfor %}
				</div>
			</div>
			
			{% if list.rows %}
			<div class="ui pagination" style="text-align:center;">
				{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:3 %}
				{% include 'block/pager.html' %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
