{%extends 'layout/shop.html'%}
{% block title%}订单详情-{% endblock %}
{% block page_css %}
<style type="text/css">
#mfrbird{
	margin-top:0;
}
h3.ui.header{
	font-weight:400;
}
.addressitem {
    display: block;
    padding: 0 !important;
    text-align: left;
}
.addressitem .item .content {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    padding: 0.7145rem;
    background: #fff;
}
.addr {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    margin-left: 0.35725rem;
    color: #5d6266;
}
.addr span {
    font-size: 0.92885rem;
    padding: 0.07145rem 0;
    display: block;
}
.cartitem {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
    background: #fff;
    padding: 10px;
}
.column .cartitem+.cartitem{
	border-top:1px solid rgba(0,0,0,0.1);
}
.cartitem .img img {
    width: 80px;
    height: 60px;
    position: relative;
}
.cartitem .cartinfo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.cartitem .cartinfo h3.title {
    font-size: 1rem;
    margin-bottom: 10px;
    max-height: 38px;
    overflow: hidden;
    font-weight: 400;
    color: #000;
}
.cartitem .cartinfo p.checkt {
    font-size: 12px;
    margin-bottom: 8px;
    color: #666;
}
.cartitem .cartinfo p.price {
    color: #be8914;
}
.cartitem .cartinfo p.price .rmb.icon {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: auto;
}
.desitem{
	background:#fff;
	font-size:0.92885rem;
	margin:0.7145rem 0;
	padding:0.7145rem;
	position:relative;
}
.desitem span{
	color: #000;
}
.ordertbtn{
	text-align: right;
    padding: 0;
    background: #fff;
}
.ordertbtn .ui.button,.ordertbtn .ui.button:hover {
    box-shadow: 0 0 0 1px #be8914 inset!important;
    color: #be8914;
    font-weight: 400;
    padding: 0.5716rem 0.7145rem;
    margin: 0.7145rem 0;
    margin-left: 0.5716rem;
    font-size: 0.92885rem;
}
.ordertbtn .ui.button:last-child{
	margin-right:0.7145rem;
}
.sfooter.nav-menu{
  display: none;
  visibility: hidden;
}
.color-be.link{
  color:#be8914 !important;
}
.color-be.inverted.button{
  background:#be8914 !important;
  color: #fff !important;
}
.ui.inverted.magenta.button{
    box-shadow: 0 0 0 1px #be8914 inset!important;
    color: #be8914 !important;
}
</style>
{% endblock %}

{% block jquery %}

  // 确认收货
	$('.take_delivery_btn').livequery(function(){
    $(this).click(function(){
      var rid = $(this).attr('rid');
      url = "{{ app_url_wap }}/app/site/my/ajax_take_over";
      $.post(url, {rid: rid, from_to: 2}, function(result){
        if(result.success){
          phenix.redirect(result.redirect_url);
        }else{
          phenix.show_error_note(result.message, 3000);  
        }
      }, 'json');
    });
  });

  // 取消订单
	$('.cancel_order_btn').livequery(function(){
    $(this).click(function(){
      var rid = $(this).attr('rid');
      var url = "{{ app_url_wap }}/app/site/my/ajax_disabled_order";
      $.post(url, {rid: rid, type:1}, function(result){
        if(result.success){
          window.location.reload();
        }else{
          phenix.show_error_note(result.message, 3000);          
        }
      }, 'json');
    });
  });

  // 删除订单
	$('.remove_order_btn').livequery(function(){
    $(this).click(function(){
      var rid = $(this).attr('rid');
      url = "{{ app_url_wap }}/app/site/my/ajax_remove_order";
      $.post(url, {rid: rid, type:1}, function(result){
        if(result.success){
        window.location.href="{{ app_url_wap }}/shop";
        }else{
          phenix.show_error_note(result.message, 3000);  
        }
      }, 'json');
    });
  });

	
{% endblock %}

{% block content %}
<div class="ui fiushop pb-0">
    <div class="ui sheader">
        <p>订单详情</p>
    </div>
</div>
<div class="ui responsive grid mt-2r">
	<div class="row pt-0">
		<div class="column p-0">
			
			<div class="addressitem mb-2r">
				<div class="item">
					<div class="content">
						<i class="map marker icon"></i>
						
						{% if order_info.express_info %}
						<div class="addr ml-2r">
							<h5 class="ui header pt-r mb-2r">收货人：{{ order_info.express_info.name }}</h5>
							<span>{{ order_info.express_info.province }} {{ order_info.express_info.city }}{{ order_info.express_info.area }}</span>
							<span>  {{ order_info.express_info.address }}</span>
							<span>{{ order_info.express_info.phone }}</span>
						</div>
					{% else %}
						<div class="addr ml-2r">
							<h5 class="ui header pt-r mb-2r">收货人：{{ order_info.addbook.name }}</h5>
							<span>{{ order_info.addbook.area_province.city }} {{ order_info.addbook.area_district.city }}</span>
							<span> {{ order_info.addbook.address }}</span>
							<span>{{ order_info.addbook.phone }}</span>
						</div>	
					{% endif %}			
					 </div>
				</div>
			</div>
			
			{% for product in order_info.items %}
			<div class="cartitem">
				<a href="{{ product.wap_view_url }}" class="img"> <img class="lazy" src="{{ product.cover_url }}"></a>
				<div class="cartinfo">
					<a class="ui link" href="{{ product.wap_view_url }}"><h3 class="title">{{ product.name }}</h3></a>
					
	        <p class="checkt">颜色／分类：{% if product.sku_name %}{{ product.sku_name }}{%else%}默认{%endif%}  &nbsp;&nbsp;数量＊{{ product.quantity }}</p>
					<p class="price"><i class="rmb icon"></i>  {{ product.subtotal }}</p>
	
				</div>
			</div>
			{% endfor %}
			
			<div class="desitem">
				订单状态：<span>{{ order_info.status_label }}</span>
			</div>
			<div class="desitem">
				订单号：<span>{{ order_info.rid }}</span>
			</div>
			
			<div class="desitem">
				支付方式：<span>在线支付</span>
			</div>
			
			<div class="desitem">
				商品总额：<span class="ui color-be text link flt-r">￥&nbsp;{{ order_info.total_money }}</span>
			</div>
			<div class="desitem">
				运费：<span class="ui color-be text link flt-r">￥&nbsp;{{ order_info.freight }}</span>
			</div>
			<div class="desitem">
				应付金额：<span class="ui color-be text link flt-r">￥&nbsp;{{ order_info.pay_money }}</span>
			</div>
			
			
			<div class="ordertbtn">
        {% if order_info.status == '-1' %}
          <a href="javascript:void(0);" rid="{{ order_info.rid }}" class="ui small magenta inverted button remove_order_btn">删除订单</a>
        {%endif%}
        {% if order_info.status == 0 %}
          <a href="javascript:void(0);" rid="{{ order_info.rid }}" class="ui small magenta inverted button remove_order_btn">删除订单</a>
        {%endif%}
        <!--
        {% if order_info.status == 16 %}
          <a href="{{ app_url_wap }}/my/evaluate?rid={{ order.rid }}" rid="{{ order_info.rid }}" class="ui small magenta inverted button">评价</a>
        {%endif%}
        -->
        {% if order_info.status == 20 %}
          <a href="javascript:void(0);" rid="{{ order_info.rid }}" class="ui small magenta inverted button remove_order_btn">删除订单</a>
        {%endif%}
				{% if order_info.status == 1 %}
				<a href="{{ app_url_wap }}/shop/success?rid={{ order_info.rid }}" class="ui small inverted button">现在支付</a>
        <a href="javascript:void(0);" class="ui small gray inverted button cancel_order_btn" rid="{{ order_info.rid }}">取消订单</a>
				{% endif %}
				{% if order_info.status == 15 %}
        <a href="javascript:void(0);" class="ui small ajax inverted button take_delivery_btn" rid="{{ order_info.rid }}">确认收货</a>
				{% endif %}
			</div>
			
				
		</div>	
	</div>
</div>
{% endblock %}
