{%extends 'layout/mobile_api.html'%}
{% block title%}登录/注册-{% endblock %}
{% block page_css %}
<style type="text/css">
.sign-up {
	text-align: center;
}
html{
	max-width: 750px;
	margin:0 auto;
}
body{
  height: 100%;
  //background:url({{ app_url_packaged }}/images/landbj.jpg) center center no-repeat;
  background-size:cover;
  background:#fff;
  position: relative;
}
.auth.page {
	padding-top: 25px;
   /* height: 480px;
    margin: 0;
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -250px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);*/
}
.ui.log-in>.ui.header.logo {
  background-color: #F2F2F2;
  padding: 0;
  text-align: center;
}
.ui.bottom.attached{
  height:425px;
  position:absolute;
  padding:0 35px;
  width: 100%;
  left: 0;
  top: 130px;
}
.ui.segment,.ui.attached.header{
	border:none !important;
	background: rgba(0,0,0,0);
}
.ui.form input[type=text]:focus{
	border-color: #be8914;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 #be8914 inset;
}
.ui.red.button{
	color: #db2828;
    background: none !important;
} 
.ui.blue.button{
	color: #2185d0;
	background: none !important;
}
.ui.green.button{
	color: #21ba45;
	background: none !important;
}
.ui.inverted.magenta.button{
	box-shadow: 0 0 0 2px #be8914 inset!important;
    color: #be8914 !important;
}
.ui.inverted.magenta.button.active,.ui.inverted.magenta.button:hover{
	background:#be8914 !important;
	color: #fff !important;
}
.fiublogo{
	position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
	left: 0;
	width: 100%;
	padding: 0 35px 10px;
}
.third.login{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px 35px 0;
  text-align:center;
}
.third.login h4{
	color: #666 !important;
	position: relative;
}
.third.login h4::before{
	content: "";
	width: 30%;
    height: 1px;
    background: url({{ app_url_packaged }}/images/icon/fiuline.png) repeat;
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 0;
    margin-top: 0;
}
.third.login h4::after{
	content: "";
	width: 30%;
    height: 1px;
    background: url({{ app_url_packaged }}/images/icon/fiuline.png) repeat;
    position: absolute;
    z-index: -2;
    top: 50%;
    right: 0;
    margin-top: 0;
}
.third.login .three.fields{
  font-size:0;
}
.third.login .inline.field{
  display:inline-block;
  width:33.33%;
}
.third.login .inline.field i.icon{
  height:1em;
}

.show_password{
	margin: 0 0 0em 0;
	cursor: pointer;
	padding:8px !important;
}
.show_password i.icon{
	font-size:1.5em !important;
}

.ui.grid.field{
	margin-bottom:1rem;
}
.bglogo{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 0 25px;
}

.large.logo img{
	height: 26px;
}
.large.logo span{
	font-size: 12px;
	display: block;
	color: #666;
	margin-top: 3px;
}
.ui.green.button:hover{
	background:rgba(0,0,0,0) !important;
}
.ui.forgot{
	margin: 0 !important;
}
.fluid.ui.magenta.inverted.submit.button{
	background:#eee !important;
	border:none !important;
    color: #666 !important;
    box-shadow: none !important;
}
.fluid.ui.magenta.inverted.submit.button.active{
	background:#be8914 !important;
	color: #fff !important;
}
input,input:focus,input:active{
	user-select: text;
}
</style>
{% endblock %}

{% block layout_js %}
  <script type="text/javascript">

    // 验证手机号码
    function check_account(phone){
		
		if(!validatemobile(phone)){
			// 隐藏第三方登陆
			$('.fluid.ui.magenta.inverted.submit.button').addClass('active');
            $('#sure_btn_box').hide();
			$('#loading').show();
			//验证手机是否注册过
			var check_phone_url = '/app/site/auth/check_account';
			$.get(check_phone_url, {phone: phone}, function(r){
				$('#loading').hide();
				if(r == 1){
					$('form[name=new_login_signup]').attr('action','{{ app_url_wap }}/auth/do_login');
					$('form[name=new_login_signup]').attr('id','login-form');
					$('#include').html($('#login_block').html());
					$('#signup').hide();
					$('#login').show();
				}else{
					$('form[name=new_login_signup]').attr('action','{{ app_url_wap }}/auth/do_register');
					$('form[name=new_login_signup]').attr('id','register-form');
					$('#include').html($('#signup_block').html());
					$('#login').hide(); 
					$('#signup').show();
					$('.third.login').hide();
				}
				/* 登录表单验证 */
				phenix.build_auth_page();
			});
		}

    }

	// js验证手机号码格式
	function validatemobile(mobile) 
	{ 
		if(mobile.length==0) 
		{ 
		   return 1; // 手机号码不能为空
		}
		
		if(mobile.length!==11) 
		{   
			return 2; // 手机号码长度不对
		} 
		 
		var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
		if(!myreg.test(mobile)) 
		{
			return 3; // 手机号码格式不对
		}
		
		return false;
	}

  </script>
{% endblock %}

{% block jquery %}
	var bheight = $('body').height() - 240 +'px';
	$('.ui.bottom.attached').css('height',bheight);
	$('body').css('height',$('body').height());
	
	var wait = 60,can_send=true;
	var limitime = function(){
		if(wait == 0){
			can_send = true;
			wait = 60;
			$('#fetch-verify-code').removeClass('active').text('获取验证码');
		}else{
			can_send = false;
			
			wait--;
			$('#fetch-verify-code').addClass('active').text('重新发送('+wait+')');
			setTimeout(function(){
				limitime();
			}, 1000);
		}
	}
	
	$('#fetch-verify-code').livequery(function(){
		$(this).click(function(){
			var phone = $('input[name=account]').val();
			if(!can_send){
				return false;
			}
			if(phone){
				// 先输入验证码再发送
				var captcha = $('#captcha').val();
				if(captcha == ''){
					phenix.show_error_note('请先输入验证码！');
					return false;
				}
				// 验证验证码
				var url = '/app/site/captcha/check';
				$.get(url, {code: captcha, type: 0}, function(result){
					if(result == '0'){
						phenix.show_error_note('验证码不正确！');
						// 刷新验证码
						$('#captcha-img img').click();
						return false;
					}else{
						// 添加发送频率
						limitime();
						$this = $('#fetch-verify-code');

            $.post('/app/site/auth/verify_code', {'phone': phone, 'code':"{{ captcha_code }}"}, function(result){
              if(result.errorCode == 200){
                $this.removeClass('disabled').text('获取验证码');
              }           
            }, 'json');

					};
				});
			}else{
				phenix.show_error_note('请正确填写手机号码！');
			}
		});
	});

	$('.ui.no-weixin').click(function(){
		phenix.show_error_note('请使用微信客户端登录!');
		return false;
		phenix.redirect("{{ app_url_wap }}/auth/qr_code");
	});
	
	
	// 手机号码验证事件
	$('input[name=account]').keyup(function(){
		
		var phone = $(this).val();
		if(validatemobile(phone) == 1){
			//phenix.show_error_note('手机号码不能为空！');
			return false;
		}
		if(validatemobile(phone) == 2){
			$('#include').html($('#default_block').html());
			$('form[name=new_login_signup]').attr('action','');
			$('.third.login').show();
            $('#sure_btn_box').show();
			//phenix.show_error_note('手机号码长度不对！');
			return false;
		}
		if(validatemobile(phone) == 3){
			//phenix.show_error_note('手机号码格式不对！');
			return false;
		}

        check_account(phone);
	});

    $(':input[name=check_account_btn]').click(function(){
		var phone = $('input[name=account]').val();
		if(validatemobile(phone) == 1){
			phenix.show_error_note('手机号码不能为空！');
			return false;
		}
		if(validatemobile(phone) == 2){
			$('#include').html($('#default_block').html());
			$('form[name=new_login_signup]').attr('action','');
			$('.third.login').show();
            $('#sure_btn_box').show();
			phenix.show_error_note('手机号码长度不对！');
			return false;
		}
		if(validatemobile(phone) == 3){
			phenix.show_error_note('手机号码格式不对！');
			return false;
		}

        check_account(phone);
    
    });
	
	$('.show_password').livequery(function(){
		$(this).click(function(){
			if($(this).html()=='<i class="unhide icon"></i>'){
				$(this).html('<i class="hide icon" style="display:block;"></i>');
				$(this).prev().attr('type','text');
			}else{
				$(this).html('<i class="unhide icon"></i>');
				$(this).prev().attr('type','password');
			}
		});
	});
	 
	$('#signup_password').livequery(function(){
		$(this).keyup(function(){
			if($(this).val()){
				$(this).attr('type','password');
				$(this).parent().addClass('ui grid');
				$(this).addClass('fourteen wide column');
				$(this).next().addClass('two wide column show_password');
				$(this).next().html('<i class="unhide icon"></i>');
			} else {
				$(this).parent().removeClass('ui grid');
				$(this).removeClass('fourteen wide column');
				$(this).next().removeClass('two wide column show_password');
				$(this).next().html('');
			}
		});
	});
	
	$('.three_login').livequery(function(){
		$(this).click(function(){
			$('form[name=new_login_signup]').attr('action','');
			$('form[name=new_login_signup]').attr('id','');
			$('#include').html($('#default_block').html());
			$('.third.login').show();
			$('input[name=account]').val('');
		});
	});
	
	$('.dynamic_login').livequery(function(){
		$(this).click(function(){
			$(".dynamic-form").hide();
			$(".static-form").show();
			$('.third.login').show();
		});
	});
	
	$('.static_login').livequery(function(){
		$(this).click(function(){
			$(".static-form").hide();
			$(".dynamic-form").show();
			$('.third.login').hide();
		});
	});
	
	var dynamic_limitime = function(){
		if(wait == 0){
			can_send = true;
			wait = 60;
			$('#dynamic-verify-code').removeClass('active').text('获取验证码');
		}else{
			can_send = false;
			
			wait--;
			$('#dynamic-verify-code').addClass('active').text('重新发送('+wait+')');
			setTimeout(function(){
				dynamic_limitime();
			}, 1000);
		}
	}
	
	$('#dynamic-verify-code').click(function(){
		var phone = $('input[name=dynamic_phone]').val();
		
		if(validatemobile(phone) == 1){
			phenix.show_error_note('手机号码不能为空！');
			return false;
		}
		if(validatemobile(phone) == 2){
			phenix.show_error_note('手机号码长度不对！');
			return false;
		}
		
		if(validatemobile(phone) == 3){
			phenix.show_error_note('手机号码格式不对！');
			return false;
		}
		
		if(!can_send){
			return false;
		}

    if(phone){
      // 先输入验证码再发送
      var dynamic_captcha = $('#dynamic_captcha').val();
      if(dynamic_captcha == ''){
        phenix.show_error_note('请先输入验证码！');
        return false;
      }
      // 验证验证码
      var url = '/app/site/captcha/check';
      $.get(url, {code: dynamic_captcha, type: 0}, function(result){
        if(result == '0'){
          phenix.show_error_note('验证码不正确！');
          // 刷新验证码
          $('#dynamic-captcha-img img').click();
          return false;
        }else{
          // 添加发送频率
          dynamic_limitime();
          $this = $('#dynamic-verify-code');

          $.post('/app/site/auth/verify_code?type=2', {'phone': phone, 'code':"{{ captcha2_code }}"}, function(result){
            if(result.errorCode == 200){
              $this.removeClass('disabled').text('获取验证码');
            }           
          }, 'json');

        };
      });
    }else{
      phenix.show_error_note('请正确填写手机号码！');
    }

	});
	
	// 提交表单数据
	$('#dynamic-login-form').form({
		dynamic_phone: {
			identifier  : 'dynamic_phone',
			rules: [
				{
					type   : 'empty',
					prompt : '手机号不能为空'
				}
			]
		},
		dynamic_verify_code: {
			identifier  : 'dynamic_verify_code',
			rules: [
				{
					type   : 'empty',
					prompt : '短信验证码不能为空'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					// 点击前触发的事件
					phenix.before_submit();
				},
				success: function(data){
					// 点击后触发的事件
					phenix.after_submit();
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, 3000);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});

{% endblock %}

{% block content %}
<div class="auth page">
    <div class="bglogo">
        <img src="{{ app_url_packaged }}/images/icon/bglogo.png" width="100%"
        />
    </div>
    <div class="ui responsive grid">
    	<div class="row">
	        <div class="ui column width">
	            <div class="ui log-in signup">
	                <!--<div class="ui top attached header logo ptb-2r">
	                <a href="{{ app_url_wap }}" title="返回首页">
	                <img src="{{ app_url_packaged }}/images/icon/fiulogo.png" width="140px" />
	                </a>
	                </div>-->
	                <div class="ui bottom attached segment">
	                    <form action="" class="ui small top form static-form" name="new_login_signup"
	                    method="post">
	                        <div class="field" style="position: relative;">
	                            <input type="text" name="account" placeholder="手机号码" style="position: relative"
	                            />
                                <div id="sure_btn_box" style="position: absolute; top: 50%; right: 2px;transform: translateY(-50%);">
                                    <input type="button" class="ui mini button" name="check_account_btn" value="确定" style="transform: scale(0.95);" />
                                </div>
	                            <div style="position: absolute; top: 2px; right: 2px; display: none" id="loading">
	                                <img src="{{ app_url_packaged }}/images/mall/loading2.gif" alt="loading"
	                                width="30" height="30" />
	                            </div>
	                        </div>
	                        <div id="include">
	                            <div class="field ">
	                                <div class="fluid ui magenta inverted submit button">
	                                    登录 / 注册
	                                </div>
	                            </div>
	                            <!-- 登陆时存在 -->
	                            <div class="inline field" style="text-align: right;">
	                                <a href="{{ app_url_wap }}/auth/forget" title="忘记密码？" class="ui link forgot">
	                                    忘记密码？
	                                </a>
	                                |&nbsp;&nbsp;
	                                <a href="javascript:void(0);" title="短信方式登录" class="ui link static_login">
	                                    短信方式登录
	                                </a>
	                            </div>
	                            <!-- end -->
	                        </div>
	                    </form>
	                    <form action="{{ app_url_wap }}/auth/dynamic_do_login" class="ui small form dynamic-form"
	                    method="post" id="dynamic-login-form" style="display: none">
	                        <div class="field">
	                            <input type="text" name="dynamic_phone" placeholder="手机号码" />
	                        </div>
	                        <div class="inline field">
	                            <input type="text" name="dynamic_captcha" placeholder="验证码" id="dynamic_captcha"
	                            style="width:48%;" />
	                            <a href="javascript:void(0);" class="ui gray" id="dynamic-captcha-img">
	                                <img src="/app/site/captcha/view" onclick="this.src='/app/site/captcha/view?'+Math.random();"
	                                style="position:absolute;margin-left:5px;" />
	                            </a>
	                        </div>
	                        <div class="field">
	                            <input name="dynamic_verify_code" type="text" placeholder="短信验证码" style="width:48%;margin: 0 .85714286em 0 0;"
	                            />
	                            <a href="javascript:void(0);" class="ui small inverted magenta button"
	                            id="dynamic-verify-code">
	                                获取验证码
	                            </a>
	                        </div>
	                        <div class="field ">
	                            <div class="fluid ui active magenta inverted submit button">
	                                登录
	                            </div>
	                        </div>
	                        <div class="field" style="text-align: right;">
	                            <a href="javascript:void(0);" title="普通方式登录" class="ui link dynamic_login">
	                                普通方式登录
	                            </a>
	                        </div>
	                    </form>
	                    <!-- 第三方帐号登录 -->
	                    <!-- 验证手机之后隐藏 -->
	                    <div class="third login">
	                        <h4>
	                            第三方帐号登录
	                        </h4>
	                        <div class="ui center aligned three fields">
	                            <div class="inline field pl-3r" style="text-align:left;">
	                                {% if is_weixin %}
	                                <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid={{wx_params.app_id}}&amp;redirect_uri={{wx_params.redirect_uri}}&amp;response_type=code&amp;scope=snsapi_login&amp;state={{wx_params.state}}"
	                                class="ui big green circular share icon button m-0">
	                                    <div class="large weixin logo"><img src="{{ app_url_packaged }}/images/icon/weixin.png"><span>微信</span></div>
	                                </a>
	                                {%else%}
	                                <a href="javascript:void(0);" class="ui big green no-weixin circular share icon button m-0">
	                                    <div class="large weixin logo"><img src="{{ app_url_packaged }}/images/icon/weixin.png"><span>微信</span></div>
	                                </a>
	                                {%endif%}
	                            </div>
	                            <div class="inline field" style="text-align:center;">
	                                <a href="{{ weibo_auth_url }}" class="ui big weibo red circular share icon button m-0">
	                                    <div class="large weibo logo">
	                                    	<img src="{{ app_url_packaged }}/images/icon/weibo.png">
	                                    	<span>微博</span>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="inline field pr-3r" style="text-align:right;">
	                                <a href="{{ app_url_qq_login_wap }}" class="ui big qq blue circular share icon button m-0">
	                                    <div class="large qq logo">
	                                    	<img src="{{ app_url_packaged }}/images/icon/qq.png">
	                                    	<span>QQ</span>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- end -->
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>
<div id="default_block" style="display: none">
    <div class="field ">
        <div class="fluid ui active magenta inverted submit button">
            登录 / 注册
        </div>
    </div>
    <!-- 登陆时存在 -->
    <div class="inline field" style="text-align: right;">
        <a href="{{ app_url_wap }}/auth/forget" title="忘记密码？" class="ui link forgot">
            忘记密码？
        </a>
        |&nbsp;&nbsp;
        <a href="javascript:void(0);" title="短信方式登录" class="ui link static_login">
            短信方式登录
        </a>
    </div>
    <!-- end -->
</div>
<div id="login_block">
    <!-- 用户存在 登录 -->
    <div id="login" style="display: none">
        <div class="field">
            <input type="password" name="password" id="password" placeholder="登录密码"
            />
        </div>
        <div class="field ">
            <div class="fluid ui active magenta inverted submit button">
                登录
            </div>
        </div>
        <!-- 登录时存在 -->
        <div class="inline field" style="text-align: right;">
            <a href="{{ app_url_wap }}/auth/forget" title="忘记密码？" class="ui link forgot">
                忘记密码？
            </a>
            <!--<a href="javascript:void(0);" title="合作账号登录" class="ui link three_login">
                合作账号登录
            </a>
            &nbsp;&nbsp;|&nbsp;&nbsp;-->
            |&nbsp;&nbsp;
            <a href="javascript:void(0);" title="短信方式登录" class="ui link static_login">
                短信方式登录
            </a>
        </div>
        <!-- end -->
    </div>
    <!-- end -->
</div>
<div id="signup_block">
    <!-- 用户不存在 注册 -->
    <div id="signup" style="display: none">
        <input type="hidden" name="evt" value="{{ evt }}" />
        <div class="inline field">
            <input type="text" name="captcha" placeholder="验证码" id="captcha" style="width:48%;"
            />
            <a href="javascript:void(0);" class="ui gray" id="captcha-img">
                <img src="/app/site/captcha/view" onclick="this.src='/app/site/captcha/view?'+Math.random();"
                style="position:absolute;margin-left:5px;" />
            </a>
        </div>
        <div class="field">
            <input name="verify_code" type="text" placeholder="短信验证码" id="verify_code"
            style="width:48%;margin: 0 .85714286em 0 0;" />
            <a href="javascript:void(0);" class="ui small inverted magenta button"
            id="fetch-verify-code">
                获取验证码
            </a>
        </div>
        <div class="field">
            <input class="" type="password" name="password" id="signup_password" placeholder="设置至少6位登录密码"
            />
            <div class="">
            </div>
        </div>
        <div class="field ">
            <div class="fluid ui active magenta inverted submit button">
                注册
            </div>
        </div>
        <div class="inline field" style="text-align: right;">
            <a href="javascript:void(0);" title="合作账号登录" class="ui link three_login">
                第三方账号登录
            </a>
            |&nbsp;&nbsp;
            <a href="javascript:void(0);" title="短信方式登录" class="ui link static_login">
                短信方式登录
            </a>
        </div>
    </div>
    <!-- end -->
</div>
<div class="fiublogo">
    <img src="{{ app_url_packaged }}/images/icon/loginlogo.png" width="100%"
    />
</div>
{% endblock %}
