<div class="ui small sku modal" id="skus-form-box">
	<div class="ui header" style="position: relative;">
    	销售SKU设置
    	<i class="close icon" style="right: 0.3em !important;top: 0.4em !important;position:absolute;width: 30px;height: 30px;z-index:3;"></i>
  	</div>
	<div class="container">
		<form action="{{ app_url_admin }}/product/ajax_sku" class="ui form" method="post" id="skus-form">
		  	<div class="content">
				<input type="hidden" name="r_id" value="{{ sku._id }}" />
				<input type="hidden" name="product_id" value="{{ product._id }}" />
				
				<div class="two fields">
					<div class="field">
					  	<label>产品型号/颜色</label>
						<input type="text" name="mode" value="{{ sku.mode }}" />
					</div>
				</div>
				<div class="two fields">
					<div class="field">
					  	<label>编号(如不添系统会自动生成)</label>
						<input type="text" name="number" value="{{ sku.number }}" />
					</div>
				</div>
				<div class="two fields">
					<div class="field">
					  	<label>产品数量</label>
						<input type="text" name="quantity" value="{{ sku.quantity }}" />
					</div>
				</div>
				<div class="two fields">
					<div class="field">
					  	<label>销售价</label>
						<input type="text" name="price" value="{{ sku.price }}"  />
					</div>
				</div>

				<div class="two fields">
					<div class="field">
					  	<label>开普勒ID</label>
						<input type="text" name="vop_id" value="{{ sku.vop_id }}"  />
					</div>
				</div>

                <div class="field">
                    <label>上传封面图</label>
                    <input type="hidden" name="cover_id" id="sku_cover_id" value="{{ sku.cover_id }}" />
                    <div id="phenix-sku-cover-uploader"></div>
                
                    <div id="asset-sku-list" class="ui four blocks">
                        {% if sku_mode == 'edit' %}
                            {% asset_list var:'sku_assets' parent_id:sku._id asset_type:140 size:10 %}
                            {% for asset in sku_assets.rows %}
                            <div class="thumb block" id="{{ asset._id }}">
                                <div class="image">
                                    <img src="{{ asset.thumbnails.small.view_url }}" />
                                    <input type="hidden" class="asset_id_list" name="sku_cover_asset[]" value="{{ asset._id }}" />
                                </div>
                                <div class="buttons">
                                    <div class="ui large links">
                                        <a href="{{ app_url_asset }}/deleted?asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
                                            <i class="remove icon"></i>
                                        </a>
                                        <a href="javascript:void(0);" class="ui link ajax-cover {%if asset._id == sku.cover_id %}active{%endif%} pop" data-content="设置封面图" data-variation="inverted" data-value="{{ asset._id }}">
                                            <i class="checkered flag icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
				
				<div class="field">
					<div class="ui active magenta submit button">确定</div>
			        <div class="ui gray cancel button">取消</div>
				</div>
			</div>				
		</form>
	</div>
</div>
