{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">

</style>
{% endblock %}

{% block jquery %}
    // ajax加载签到数据
    phenix.signin();
    
{% endblock %}

{% block content %}
<div class="mainwrap social" id="topiclist">
    <div class="mainleftwrap">
        <div class="mainleft">
            
            <div class="topics catemenu masthead" style="background-image:url('{{ app_url_packaged }}/images/topicbg/tp-{%if is_top%}{{ current_category.name }}{%else%}{{ parent_category.name }}{%endif%}.jpg');">
            	<div class="ui grid">
            		<div class="row">
            			<div class="twelve wide column">
            				{% if is_top %}
            					<h2 class="ui header">
            						<a href="{{ app_url_topic }}/c{{current_category._id}}" class="active cate">
            							{{ current_category.title }}
            						</a>
            					</h2>
            					{% category_list var:'category' only_open:1 domain:domain pid:cid current:cid %}
            				{% else %}
            					<h2 class="ui header">
            						<a href="{{ app_url_topic }}/c{{parent_category._id}}" class="cate">
            							{{ current_category.title }}
            						</a>
            					</h2>
            					{% category_list var:'category' only_open:1 domain:domain pid:parent_category._id current:cid %}
            				{% endif %}
            				<p>{{ category_desc }}</p>
            			</div>
            			<div class="right aligned four wide column">
            				<div class="stast">
            					<div class="ui horizontal bulleted list">
            						<span class="item">话题</span>
            						<span class="item">
            							{{ current_category.total_count|default 0 }} 
            						</span>
            					</div>
            					<span class="space"> / </span>
            					<div class="ui horizontal bulleted list">
            						<span class="item">回帖</span>
            						<span class="item">
            							{{ current_category.reply_count|default 0 }} 
            						</span>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            
            <div class="topics sortby">
                <div class="ui fluid three item menu">
                    <a class="{{ css_type_all }} item" href="{{ app_url_topic }}/c{{cid}}">
                        <i class="time icon"></i> 最新
                    </a>
                    <a class="{{ css_type_reply }} item" href="{{ links.reply_url }}">
                        <i class="comments icon"></i> 回复
                    </a>
                    <a class="{{ css_type_stick }} item" href="{{ links.stick_url }}">
                        <i class="checkered flag icon"></i> 推荐
                    </a>
                    <a class="{{ css_type_fine }} item" href="{{ links.fine_url }}">
                        <i class="diamond icon"></i> 精华
                    </a>
                </div>
            </div>
            
            <div class="ui topics segment">
    			<table class="ui basic topic table">
    				<tbody>
                    <!--站内置顶-->
    				{% if dig_list %}
    					{% for topic in dig_list %}
    						{% if topic %}
    						    {% include "block/topic_item.html" %}
    						{% endif %}
    					{% endfor %}
    				{% endif %}
            
    			    <!--版块置顶-->
    				{% if dig_cate_list %}
    					{% for topic in dig_cate_list %}
    						{% if topic %}
    						    {% include "block/topic_item.html" %}
    						{% endif %}
    					{% endfor %}
    				{% endif %}
            
                    <!--分类列表-->
    				{% topic_list var:'list' published:1 category_id:category_id is_top:is_top type:type time:time sort:sort page:page %}
    				{% for topic in list.rows %}
    					{% if !topic.top %}<!--过滤置顶帖子-->
    						<!-- 判断话题是否可以显示 -->
    						{% if topic.published %}
    							{% include "block/topic_item.html" %}
    						{% endif %}
    					{% endif %}
    				{% endfor %}
    				</tbody>
    			</table>
        
    			{% if list.total_page > 1 %}
    			<div class="ui pagination">
    				{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
    				{% include 'block/pager.html' %}
    			</div>
    			{% endif %}
            </div>
        
        </div>
        
    </div>
    <div class="mainright">
        {% include "page/topic/usersign.html" %}
        {% include "page/topic/login_user.html" %}
        {% include "page/topic/rightbar.html" %}
        {% include "page/topic/stick_list.html" %}
        {% include "page/topic/adwrap.html" %}
    </div>
</div>
{% endblock %}

{% block templates %}
{% mustache id:'user_sign_box_tpl' tpl:'mustache/user_sign_box.mustache' %}
{% endblock %}
