{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block layout_css %}
	{% if css_use_bundle %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.{{ css_bundle_version }}.css" type="text/css" />
	{% else %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.css" type="text/css" />
	{% endif %}
{% endblock %}
{% block page_css %}
<style type="text/css">
  /*body {
      position: relative;
  }
  .ui.reply.segment{
    margin-bottom:1em !important;
  }
  
	
	.sub.header.attribute .ui.green.small.label{
		background-color: rgba(0,0,0,0) !important;
	    color: #21ba45!important;
	    padding: 0;
	}
	.sub.header.attribute .ui.orange.small.label{
		background-color: rgba(0,0,0,0) !important;
	    color: #f2711c !important;
	    padding: 0;
	}
	.sub.header.attribute .ui.yellow.small.label{
		background-color: rgba(0,0,0,0) !important;
	    color: #fbbd08 !important;
	    padding: 0;
	}*/
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">
    var page = {{ page|default 1 }}, per_page = 10, sort = 0;
    var url = '{{ app_url_comment }}/ajax_fetch_comment?rand='+Math.random();
    var target_id = "{{ topic._id }}";
    // 评论类型
    var type = 2;
    // 网页或手机
    var from_site = 'site';
    // 备用
    var evt = 1;

    var comment_param = {
      target_id: target_id,
      page: page,
      per_page: per_page,
      sort: sort,
      url: url,
      type: type,
      from_site: from_site,
      evt: evt,
    }
</script>
{% endblock %}

{% block jquery %}
	var conheight = $('.conright').height()+ 200+'px';
	$('.conleft').css('min-height',conheight);
	//评论分享
  $('.ui.vote.btn').livequery(function(){
    $(this).bind('click',function(){
      var comment_id = $(this).attr('comment_id');
      // 生成二维码
      $('#comment_vote').html('');
      $('#comment_vote').qrcode({width: 256, height: 256, text: '{{ app_url_wap }}/promo/comment_vote_share?comment_id='+comment_id});
      $('.ui.vote.modal').modal('show');
    });
	});

	
	phenix.hook_comment_page();
    
    // ajax加载评论
    //phenix.fetch_comment(comment_param);

    // 查看大图
    phenix.comment_blow_up_img();
    
    // ajax加载签到数据
    phenix.signin();
    
	// 分享
	$('.ui.share.button').bind('click', function(){
		$('.ui.share.modal').modal('show');
	});
  phenix.bind_share_list("{{ topic.cover.thumbnails.hm.view_url }}");
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ topic.wap_view_url }}'});
	
	/* 登录用户行为 */
	{% if visitor.is_login %}
		// 初始化互动，是否关注、点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:1}, function(result){
			if (result.success) {
				// 验证收藏
				if (result.data.favorited) {
					$('.ui.favorite.button')
						.data('mark', 'y')
						.addClass('active')
                        .html('<i class="minus icon"></i> 已关注');
				}
			}
		}, 'json');
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.love.button')
						.data('mark', 'y')
						.addClass('active')
                        .html('<i class="heart icon"></i> 赞了');
				}
			}
		}, 'json');
		
		// 站内/版块置顶
		$('.ui.dtop.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),type = $(this).data('type'),$btn = $(this),btn_title = '';
            if (type == 1){
                btn_title = '站内置顶';
            }else{
                btn_title = '版块置顶';
            }
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_top', {id: id, tv: type}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消'+btn_title)
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_top', {id: id, tv: type}, function(result){
					if (result.success) {
						$btn
							.data('content', btn_title)
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
        
		// 精华标记
		$('.ui.fine.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_fine', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消精华')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_fine', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '标记精华')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
	
		// 编辑推荐
		$('.ui.stick.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消推荐')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '编辑推荐')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
		
		// 编辑
		$('.ui.edit.button').bind('click', function(){
			var id = $(this).data('id');
			phenix.redirect('{{ app_url_topic }}/edit?id='+id);
		});
	
		// 删除
		$('.ui.remove.button').bind('click', function(){
			var id = $(this).data('id');
			if(confirm('确认执行删除操作吗?')){
				$.post('{{ app_url_topic }}/deleted', {id: {{topic._id}} });
			}
		});
		
		/* 登录用户行为 */
	{% endif %}
	
	// 收藏关注
	$('.ui.favorite.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active')
						.html('<i class="minus icon"></i> 已关注');
                        
                        $('#target-favorite-count').text(result.data.favorite_count);
                        
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('mark', 'n')
						.removeClass('active')
                        .html('<i class="plus icon"></i> 关注');
                        
                        $('#target-favorite-count').text(result.data.favorite_count);
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	// 喜欢
	$('.ui.love.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('mark', 'y')
						.addClass('active')
                        .html('<i class="heart icon"></i> 赞了');
                        
                        $('#target-love-count').text(result.data.love_count);
                        
                        if(result.data.newadd){
                            $('#target_'+ id +'_support')
                                .prepend('<a href=\"/user/'+ result.data.user_id +'\" target=\"_blank\" id=\"user-'+ result.data.user_id +'\" class=\"image\" data-variation=\"wide\" data-html=\"<div class=\'header\'>'+  result.data.nickname +'</div><div class=\'content\'>'+ result.data.city +' '+ result.data.job +'</div>\"><img src=\"'+ result.data.avatar +'\" /></a>');
                        }
                        
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('mark', 'n')
						.removeClass('active')
                        .html('<i class="heart empty icon"></i> 赞');
                        
                        $('#target-love-count').text(result.data.love_count);
                        $('#user-'+ result.data.user_id).remove();
                        
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>天</span></div></div><div class="item"><div class="count">%H<span>时</span></div></div> <div class="item"><div class="count">%M<span>分</span></div></div><div class="magenta item"><div class="count">%S<span>秒</span></div></div>'));
		});
	});

	// 加载相关话题 
  $.ajax({
    type: "GET",
    url: '{{ app_url_topic }}/ajax_guess_topics',
    data: {sword: '{{ topic.tags_s }}', size: 6, id: {{ topic._id }} },
    dataType: 'json',
    cache: false,
    async: false,
    success: function(rs){
      if(rs.data.state==1){
        var rendered = phenix.ajax_render_result('#guess_topic_tpl', rs.data);
        $('#topic_guess_list').html(rendered);
        $('.ui.sticky')
          .sticky('refresh')
        ;     
      }else{
        return;
      }   
    }
  });
    
    // 投票提交部分
    $('#vote-save').click(function(){
    
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		var user_id = '{{ visitor.id }}';
		
		var vote = {};
		vote.topic_id = $('input[name=topic_id]').val();
		vote.user_id = user_id;
		vote.vote_id = '{{ vote._id }}';
		
		// 验证所有的单选、多选框有没有被选中
		var is_ok = 0;
		var check_nums = 0;
		$('.pro_block').each(function(i){
			$(this).find('input:checked').each(function(){
				is_ok++;
			});
			check_nums++;
		});
		
		if(is_ok < check_nums){
			phenix.show_error_note('还有选项没有被选择！');
			return false;
		}
		
		// 收集数据
		var problem = {};
		$('input[name="problem"]').each(function(i){
		  var name = $(this).val();
		  var answer = {};
		  problem[i] = {};
		  $('#'+name).find('input:checked').each(function(j){
			answer[j] = $(this).attr('values');
		  });
		  problem[i].id = name;
		  problem[i].answer = answer;
		});
		
		var vote = JSON.stringify(vote);
		var problem = JSON.stringify(problem);
		
		// 提交数据
		$.post(
		  "{{ app_url_action_base }}/topic/save_vote",
		  {vote: vote, problem: problem},
		  function(data){
			if(data){
			  if(data == 1){
				phenix.show_error_note('您已经投过票了，谢谢参与！');
				return false;
			  }
			  location.href = '';
			  /*
			  var date = eval(data).problem;
			  for(var i = 0; i < date.length; i++){
				var answer = date[i].answer;
				for(var j = 0; j < answer.length; j++){
				  $('.bar.'+answer[j]._id).attr('style','width:'+answer[j].nums_rate+'%');
				  $('.vote_num.'+answer[j]._id).text(answer[j].nums + '票（'+answer[j].nums_rate+'%）');
				  
				}
			  }
			  */
			}
		}, "json");
	});
    
    $('.user.avatars .ui.images .image').livequery(function(){
        $(this).popup({
            hoverable: true,
            position : 'top center',
        });
    });
    
    $('.ui.sticky')
      .sticky({
          context: '.conleft',
    });
    
{% endblock %}

{% block content %}
<div class="ui topicshow page">
	<div class="ui responsive grid">
        <div class="row">
            <div class="column">
                <div class="ui containermain postpage">
                	<div class="conleft">
                		{% if product %}
						<div class="ui active segment">
							<h3 class="ui dividing header">
								所属产品
							</h3>
							<div class="ui grid">
								<div class="row">
									<div class="two wide column">
										<a href="{{ product.view_url }}" title="{{ product.title }}">
								      		<img src="{{ product.cover.thumbnails.tiny.view_url }}" class="ui image" />
										</a>
									</div>
									<div class="eight wide column">
								      	<h4 class="ui header">
										  	<div class="content">
												<a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
													{{ product.title }}
												</a>
												<div class="sub header">
													<label>设计师：</label> {{ product.designer.nickname|default '太火鸟' }}
												</div>
										  	</div>
										</h4>
										<p class="summary">
											{{ product.summary }}
										</p>
									</div>
									{% if product.approved %}
									{% if product.stage == 1%}
									<div class="six wide column">
										<div class="ui danger message">
											<div class="ui header">
												<div class="picicon">
													<i class="thumbs up outline icon"></i>
												</div>
												<div class="content">
													投票截止时间
													<div class="sub header">
															<div class="ui divided horizontal timer list" data-countdown="{{ product.voted_finish_time|date 'Y/m/d H:i:s' }}"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
			    		{% endif %}
			            
			    		{% if active %}
						<div class="ui active segment">
							<h3 class="ui dividing header">
								所属活动
							</h3>
							<div class="ui grid">
								<div class="row">
									<div class="two wide column">
										<a href="{{ active.view_url }}" title="{{ active.title }}">
								      		<img src="{{ active.cover.thumbnails.tiny.view_url }}" class="ui image" />
										</a>
									</div>
									<div class="eight wide column">
								      	<h4 class="ui header">
										  	<div class="content">
												<a href="{{ active.view_url }}" title="{{ active.title }}" class="ui line">
													{{ active.title }}
												</a>
												<div class="sub header">
			                                        <label>活动状态：</label> {{ active.step_str }}
												</div>
										  	</div>
										</h4>
										<p class="summary">
											{{ active.summary }}
										</p>
									</div>

								</div>
							</div>
						</div>
			    		{% endif %}
			            
						<div class="ui big topic segment">
							<div class="ui header">
								<a class="ui small avatar idcard image" href="{{ topic.user.home_url }}" data-uid="{{ topic.user_id }}">
						      		<img src="{{ topic.user.small_avatar_url }}" alt="{{ topic.user.nickname }}" />
									{% if topic.user.kind==1 %}
									    <img src="{{ app_url_packaged }}/images/V.png" class="image-WV" />
			                        {%endif%}
								</a>
								<div class="content">
			            {{ topic.attr_str }}{{ topic.title }}
									<div class="sub header attribute">
									  {% if topic.top %}<span class="ui green small label">置顶</span>{% endif %}
			              {% if topic.fine %}<span class="ui orange small label">精华</span>{% endif %}
			              {% if topic.stick %}<span class="ui yellow small label">编辑推荐</span>{% endif %}
						  
										{% if tline %} | {% endif %}
										<span class="category"><a href="{{ app_url_topic }}/c{{ topic.category._id }}" class="ui link">{{ topic.category.title }}</a></span> | 
										<span class="date"><a class="ui link" href="{{ topic.user.home_url }}">@{{ topic.user.nickname }}</a> 发表于 {{ topic.created_on|relative_datetime }}</span> | 
			              {% if topic.source %}
			              <span>来源: {{ topic.source }}</span> | 
			              {%endif%}
										<span class="count">浏览数: {{ topic.view_count }}</span> | <span class="count">回复数: {{ topic.comment_count }}</span>
									</div>
								</div>
							</div>
				
							{% if is_match_idea %}
							<div class="post">
								<div class="ui contest">
									<a href="{{ app_url_domain }}/dream" target="_blank" class="ui magenta link">太火鸟-十万火计产品创意与创新想法征集活动</a> 参赛作品
								</div>
							</div>
							{% endif %}
							
			                <!--预留广告位-->
			            	{% ad_list var:'adonet' page:1 size:1 name:'topic_view_page_top' sort_field:'latest' state:2 %}
			            	{% if adonet %}
			                <div class="adblock fixed" style="margin-bottom:0;">
			                    <a href="{{ adonet.view_url }}" title="{{ adonet.title }}" target="_blank">
			                        <img src="{{ adonet.cover.fileurl }}" />
			                    </a>
			                </div>
			            	{% endif %}
				
							<div class="post froala-view froala-element clearfix">
								{{ topic.strip_description|truncate, 500, '' }}

                <div style="margin: 30px auto;text-align: center;">
                  		<a href="{{ app_url_promo }}/member" class="ui magenta inverted button">
                        付费加入会员，查看全部内容>>
		                  </a>
                </div>
			                    
			                    {% if topic.file_asset %}
			                        <hr style="width:100%;" />
			                        <h4 class="ui header">附件下载</h4>
			                        {% asset_list var:'assets' parent_id:topic._id asset_type:56 %}
			                        {% for asset in assets.rows %}
			                        <div class="download">
			                            <span>{{ asset.filename }}</span> <a href="{{ asset.fileurl }}"><span>下载</span></a>
			                        </div>
			                        {%endfor%}
			                    {%endif%}
							</div>
			                
			                <!-- 这里是投票部分代码 开始 -->
							<div id="block_vote">
								{% if is_vote %}
								<div class="post vote">
									<h3 class="ui header">[话题投票] {{ vote.title }}</h3>
									<div class="ui divider"></div>
									<input type="hidden" name="topic_id" value="{{ id }}" />
									{% for problem in vote.problem %}
									<input type="hidden" name="problem" value="{{ problem._id }}" />
									<input type="hidden" name="select_type" value="{{ problem.select_type }}" />
					
									<div class="ui relaxed divided list">
										<div class="votep">
											<i class="large question middle aligned icon"></i>
											<div class="ui from">
												<h4 class="ui header">{{ problem.title }}{% if problem.select_type == 1 %}（单选）{% else %}（多选）{% endif %}</h4>
												<div class="pro_block" id="{{ problem._id }}" >
													{% if problem.select_type == 1 %}
														{% for answer in problem.answer %}
														<div class="field">
															<div class="ui radio checkbox">
																<input type="radio" name="{{ problem._id }}" values="{{ answer._id }}" />
																<label>{{ answer.title }}</label>
															</div>
															{% if can_vote %}
															<div class="vote_bar">
																<div class="ui magenta tiny progress">
																	<div class="bar {{ answer._id }}" style="width:{{ answer.nums_rate }}%;"></div>
																</div>
																<div class="vote_num {{ answer._id }}">
																	{{ answer.nums }}票	（{{ answer.nums_rate }}%）
																</div>
															</div>  
															{% endif %}
														</div>
														{% endfor %}
													{% else %}
														{% for answer in problem.answer %}
															<div class="field">
																<div class="ui checkbox">
																	<input type="checkbox" name="{{ answer._id }}" values="{{ answer._id }}" />
																	<label>{{ answer.title }}</label>
																</div>
																{% if can_vote %}
																<div class="vote_bar">
																	<div class="ui magenta tiny progress">
																		<div class="bar {{ answer._id }}" style="width:{{ answer.nums_rate }}%;"></div>
																	</div>			
																	<div class="vote_num {{ answer._id }}">
																		{{ answer.nums }}票	（{{ answer.nums_rate }}%）
																	</div>
																</div>  
																{% endif %}
															</div>
														{% endfor %}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="ui right floated aligned grid">
									<div class="row">
										<div class="column">
			{% if can_vote %}
			                <div class="ui big inverted active white button">
			                    <span><i class="smile icon"></i> 已投票，感谢参与！</span>
			                </div>
			                {%else%}
											<div  id="vote-save" class="ui magenta inverted submit button">确认投票</div>
			                {%endif%}
										</div>
									</div>
								</div>
								{% endif %}
							</div>
							<!-- 这里是投票部分代码 结束 -->

			                <!--预留广告位-->
			            	{% ad_list var:'adone' page:1 size:1 name:'topic_view_page_t1' sort_field:'latest' state:2 %}
			            	{% if adone %}
			                <div class="adblock fixed">
			                    <a href="{{ adone.view_url }}" title="{{ adone.title }}" target="_blank">
			                        <img src="{{ adone.cover.fileurl }}" />
			                    </a>
			                </div>
			            	{% endif %}
			                
							{% if topic.tags %}
							<div class="idea tags">
								{% for tag in topic.tags %}
								{% if tag %}
								<a href="{{ app_url_search }}?q={{ tag }}&evt=tag" class="ui link">
									# {{ tag }}
								</a>
								{% endif %}
								{% endfor %}
							</div>
							{% endif %}
			                
			            	<!--你可能相关话题-->
			                <div class="topic guess" id="topic_guess_list"><!--ajax fetch--></div>
						</div>
						<!--话题作者-->
			            <div class="container">
			                <div class="topic author">
			    	  	        <div class="block title">
			                        作者
			                    </div>
			    				<div class="ui header">
			    					<a class="ui small avatar image" href="{{ topic.user.home_url }}" data-uid="{{ topic.user_id }}" target="_blank">
			    			      		<img src="{{ topic.user.small_avatar_url }}" alt="{{ topic.user.nickname }}" />
			    						{% if topic.user.kind == 1 %}
			    						    <img src="{{ app_url_packaged }}/images/V.png" class="image-WV" />
			                            {%endif%}
			    					</a>
			    					<div class="content">
			    						<a href="{{ topic.user.home_url }}" class="ui line" target="_blank">{{ topic.user.nickname }}</a>
			        					{% if topic.user._id != visitor.id %}
			            					{% if !is_ship %}
			                      <a href="{{ app_url_user }}/ajax_follow?id={{ topic.user._id }}" class="ui small ajax inverted grey button" id="user_{{ topic.user._id }}_ship">
			                                        <i class="plus icon"></i> 关注
			                                    </a>
			            					{% else %}
			            					    <a href="{{ app_url_user }}/ajax_cancel_follow?id={{ topic.user._id }}" class="ui small ajax inverted active magenta button" id="user_{{ topic.user._id }}_ship">
			                                        <i class="minus icon"></i> 已关注
			                                    </a>
			            					{% endif %}
			        					{% endif %}
			    						<div class="sub header">
			    							{{ topic.user.summary }}
			    						</div>
			    					</div>
			    				</div>
			                </div>
			            </div>
			            
			            <div class="container replynew">
			    			<div class="reply box">
			                    <a name="comment_top"></a>
			      			    <!--ajax comment-->
			    	  	        <div class="block title">
			                        全部评论<small>（{{ topic.comment_count }}）</small>
			                        
			                        <div class="quick goto">
			                            直达楼层：<input type="text" name="floor" class="gotofloor" data-max="{{ topic.comment_count }}" data-url="{{ app_url_topic }}/view/{{ topic._id }}/{{ page }}" title="跳转到指定楼层" />
			                        </div>
			                    </div>
			      		  	    <div id="comment-list">
			                    {% if page==1 %}
			                        {% comment_list var:'hot_comments' page:1 target_id:topic._id type:2 check_loved:1 only_hotest:1 current_user_id:visitor.id %}
			                        {% if hot_comments.rows %}
			                        <div class="ui threaded hotest comments">
			                            <a class="ui red ribbon label">热门回复</a>
			                    		{% for comment in hot_comments.rows %}
			                    			{%include 'block/comment_item.html'%}
			                    		{% endfor %}
			                            <hr>
			                        </div>
			                        {% endif %}
			                      {%endif%}
			                        {% comment_list var:'comments' page:page target_id:topic._id type:2 sort:sort check_loved:1 current_user_id:visitor.id %}
			                        <div class="ui threaded comments is-comment">
			                        {% for comment in comments.rows %}
			                    			{%include 'block/comment_item.html'%}
			                    		{% endfor %}
			                        
			                        </div>
			                        {% if comments.total_page > 1 %}
			                        <div class="ui pagination pagerbox">
			                          {% pager url:pager_url,total_rows:comments.total_rows,total_page:comments.total_page,current_page:page,var:'pager',pager_size:9 %}
			                          {% include 'block/pager.html' %}
			                        </div>
			                        {%endif%}
			      		  	    </div>
                        <div style="padding: 10px;"></div>
			      		  	    {#% include "block/comment_box_site.html" %#}
			                </div>
			            </div>
                	</div>
                	<div class="conright">
                		{% include "page/topic/usersign.html" %}
                		<div class="ui {% if !editable %} sticky {% endif %}">
				            <div class="sellwrap userfx">
				                <div class="user action">
				                    <p>关注&分享话题</p>
				        			<div class="ui red pop love inverted button" data-id="{{ topic._id }}" data-title="点赞支持" data-content="后续可以在‘我赞了的’中快捷查找" data-mark="n">
				        				<i class="heart empty icon"></i> 赞
				        			</div>
				        			<div class="ui magenta pop favorite inverted button" data-title="关注一下" data-content="有关该话题动态及时通知你，后续可以在‘我关注的’中快捷查找" data-id="{{ topic._id }}" data-mark="n">
				        				<i class="plus icon"></i> 关注
				        			</div>
				                </div>
				                <div class="user avatars">
				              	  	<div class="ui images" id="target_{{ topic._id }}_support">
				                        {% if topic.love_count %}
				                            {% favorite_list var:'userlist' target_id:topic._id event:2 type:2 size:100 %}
				                            {% for target in userlist.rows %}
				                            <a href="{{ target.user.home_url }}" target="_blank" id="user-{{ target.user._id }}" class="image" data-variation="wide" data-html="<div class='header'>{{ target.user.nickname }}</div><div class='content'>{{ target.user.city }} {{ target.user.profile.job }} </div>">
				                  	  	        <img src="{{ target.user.mini_avatar_url }}" alt="{{ target.user.nickname }}" />
				                            </a>
				                            {% endfor %}
				                        {% endif %}
				              	  	</div>
				                    <p>
				                        已有 <span id="target-love-count">{{ topic.love_count }}</span> 个人点赞, <span id="target-favorite-count">{{ topic.favorite_count }}</span> 人关注
				                    </p>                    
				                </div>
				                <div class="user share">
				                	<span><i class="share alternate icon"></i>分享：</span>
				                	<a href="javascript:void(0);" id="sina-share" title="新浪微博" class="ui red icon btn">
				                		<i class="weibo icon large circular red inverted"></i>
				                	</a>
				                	<a href="javascript:void(0);" id="wechat-share" class="ui green icon btn" title="微信">
				                		<i class="weixin icon large circular green inverted"></i>
				                	</a>
				                	<a href="javascript:void(0);" id="tencent-share" title="腾讯微博" class="ui blue icon btn">
				                		<i class="tencent weibo icon large circular blue inverted"></i>
				                	</a>
				                	<a href="javascript:void(0);" id="renren-share" title="人人网" class="ui blue icon btn">
				                		<i class="icon renren large circular blue inverted"></i>
				                	</a>
				                </div>
				            </div>
				        </div>
				        {% include "page/topic/rightbar.html" %}
				        {% include "page/topic/stick_list.html" %}
				        
				        {% if editable %}
				        <div class="sellwrap admin ui sticky">
							<div class="ui icon green editable buttons">
				            {% if visitor.can_edit %}
				                {% if visitor.is_admin %}
									{% if topic.top == 1 %}
									<div class="ui pop dtop active button" data-content="取消站内置顶" data-variation="inverted" data-mark="y" data-id="{{ topic._id }}" data-type="1">
										<i class="pin icon"></i>
									</div>
									{% else %}
									<div class="ui pop dtop button" data-content="站内置顶" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}" data-type="1">
										<i class="pin icon"></i>
									</div>
									{% endif %}
				                {% endif %}
				        
								{% if topic.top == 2 %}
								<div class="ui pop dtop active button" data-content="取消版块置顶" data-variation="inverted" data-mark="y" data-id="{{ topic._id }}" data-type="2">
									<i class="pointing down icon"></i>
								</div>
								{% else %}
								<div class="ui pop dtop button" data-content="版块置顶" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}" data-type="2">
									<i class="pointing up icon"></i>
								</div>
								{% endif %}
				                
								{% if topic.fine %}
								<div class="ui pop fine active button" data-content="取消精华"  data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="star icon"></i>
								</div>
								{% else %}
								<div class="ui pop fine button" data-content="标记精华" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="star empty icon"></i>
								</div>
								{% endif %}
				                
								{% if topic.stick %}
								<div class="ui pop stick active button" data-content="取消推荐"  data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="flag icon"></i>
								</div>
								{% else %}
								<div class="ui pop stick button" data-content="编辑推荐" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="flag outline icon"></i>
								</div>
								{% endif %}

				            {% endif %}
				                
								<div class="ui pop edit button" data-content="编辑" data-variation="inverted" data-id="{{ topic._id }}">
									<i class="edit icon"></i>
								</div>
								<div class="ui pop remove button" data-content="删除" data-variation="inverted" data-id="{{ topic._id }}">
									<i class="remove icon"></i>
								</div>
							</div>
				        </div>
				        {% endif %}
						
						{% if vote_show %}
						<div class="sellwrap">
							<div class="block title" style="margin-bottom: 20px">
								<p>投票特权</p>
							</div>
							<div class="ui icon blue hide editable buttons">
								{% if is_vote %}
								<a href="{{ app_url_vote }}/edit?rid={{ id }}&vid={{ vote._id }}&tn=1" class="ui pop button">
									<i class="edit icon"></i> 编辑
								</a>
								<a href="{{ app_url_vote }}/deleted?rid={{ id }}&vid={{ vote._id }}&tn=1" class="ui confirm-request pop button">
									<i class="remove icon"></i> 删除
								</a>
								{% else %} 
								<a href="{{ app_url_vote }}/add?rid={{ id }}&tn=1" class="ui pop button">
									<i class="plus icon"></i> 添加
								</a>
								{% endif %}
							</div>
						</div>
						{% endif %}

                	</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui small vote modal">
  	<i class="close icon"></i>
  	<div class="content">
		<div class="ui center aligned grid">
			<div class="row">
				<div class="column">
					<p>打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</p>
					<div id="comment_vote"></div>
				</div>
			</div>
		</div>
  	</div>
</div>

{% include "block/sharebox.html" %}
{% include "block/qrcode.html" %}
{% endblock %}

{% block templates %}
  {% mustache id:'guess_topic_tpl' tpl:'mustache/guess_topics.mustache' %}
  {% mustache id:'user_sign_box_tpl' tpl:'mustache/user_sign_box.mustache' %}
  {% mustache id:'get_comments_tpl' tpl:'mustache/fetch_comments.mustache' %}
  {% mustache id:'pager_tpl' tpl:'mustache/pager.mustache' %}
{% endblock %}
