{%extends 'layout/sns.html'%}
{% block title %}{{ topic.title }}-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	phenix.hook_comment_page();
	phenix.bind_share_list();
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ topic.view_url }}'});
	
	// 显示编辑工具条 
	$('.ui.topic.segment').hover(function(){
		$('.ui.editable.buttons').removeClass('hide');
	},function(){
		$('.ui.editable.buttons').addClass('hide');
	});
	
	/* 登录用户行为 */
	{% if visitor.is_login %}
		// 初始化互动，是否收藏、点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:1}, function(result){
			if (result.success) {
				// 验证收藏
				if (result.data.favorited) {
					$('.ui.favorite.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.love.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		
		// 置顶
		$('.ui.top.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_top', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消置顶')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_top', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '置顶')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
	
		// 编辑推荐
		$('.ui.stick.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消推荐')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '编辑推荐')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
		
		// 编辑
		$('.ui.edit.button').bind('click', function(){
			var id = $(this).data('id');
			phenix.redirect('{{ app_url_topic }}/edit?id='+id);
		});
	
		// 删除
		$('.ui.remove.button').bind('click', function(){
			var id = $(this).data('id');
			if(confirm('确认执行删除操作吗?')){
				$.post('{{ app_url_topic }}/deleted', {id: {{topic._id}} });
			}
		});
		
		/* 登录用户行为 */
	{% endif %}
	
	// 收藏
	$('.ui.favorite.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '收藏')
						.data('mark', 'n')
						.removeClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	// 喜欢
	$('.ui.love.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '点赞')
						.data('mark', 'n')
						.removeClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>天</span></div></div><div class="item"><div class="count">%H<span>时</span></div></div> <div class="item"><div class="count">%M<span>分</span></div></div><div class="magenta item"><div class="count">%S<span>秒</span></div></div>'));
		});
	});
	
{% endblock %}

{% block content %}
<div id="postpage">
	{% ad_list var:'ad' page:1 size:1 name:'topic_view_page_t1' sort_field:'latest' %}
	{% if ad %}
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="advert bottom content">
					<a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank">
			      		<img src="{{ ad.cover.fileurl }}" class="ui image" />
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="ui responsive grid">
		<div class="middle aligned row">
			<div class="eleven wide column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_topic }}">
						<i class="basic icon community"></i> 社区
					</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_topic }}/c{{ parent_category._id }}">{{ parent_category.title }}</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_topic }}/c{{ topic.category._id }}">{{ topic.category.title }}</a>
				  	<i class="angle right icon divider"></i>
				  	<div class="active section">{{ topic.title }}</div>
				</div>
			</div>
			<div class="five wide right aligned column">
				{% if visitor.is_login %}
				<a href="{{ app_url_action_base }}/topic/submit?cid={{ topic.category._id }}" class="ui black button">
					<i class="add icon"></i> 发表话题
				</a>
				{% else %}
				<a href="{{ app_url_action_base }}/topic/submit?cid={{ topic.category._id }}" class="ui pop disabled button" data-content="先登录后，可发表话题" data-variation="inverted">
					<i class="add icon"></i> 发表话题
				</a>
				{% endif %}
			</div>
		</div>
		
		{% if product %}
		<div class="nopad row">
			<div class="column">
				<div class="ui segment">
					<h3 class="ui dividing header">
						所属产品
					</h3>
					<div class="ui grid">
						<div class="row">
							<div class="two wide column">
								<a href="{{ product.view_url }}" title="{{ product.title }}">
						      		<img src="{{ product.cover.thumbnails.tiny.view_url }}" class="ui image" />
								</a>
							</div>
							<div class="eight wide column">
						      	<h4 class="ui header">
								  	<div class="content">
										<a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line link">
											{{ product.title }}
										</a>
										<div class="sub header">
											<label>设计师：</label> {{ product.designer.nickname|default '太火鸟' }}
										</div>
								  	</div>
								</h4>
								<p class="summary">
									{{ product.summary }}
								</p>
							</div>
							{% if product.approved %}
							{% if product.stage == 1%}
							<div class="six wide column">
								<div class="ui danger message">
									<div class="ui header">
										<div class="picicon">
											<i class="thumbs up outline icon"></i>
										</div>
										<div class="content">
											投票截止时间
											<div class="sub header">
													<div class="ui divided horizontal timer list" data-countdown="{{ product.voted_finish_time|date 'Y/m/d H:i:s' }}"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		<div class="nopad row">
			<div class="column">
				<div class="ui big topic segment">
					<div class="ui header">
						<a class="ui small avatar image" href="{{ topic.user.home_url }}">
				      		<img src="{{ topic.user.small_avatar_url }}" alt="{{ topic.user.nickname }}" />
						</a>
						<div class="content">
							{{ topic.title }}
							<div class="sub header attribute">
								<span class="category"><a href="{{ app_url_topic }}/c{{ topic.category._id }}" class="ui magenta link">{{ topic.category.title }}</a></span> | 
								<span class="date">{{ topic.user.nickname }} 发表于 {{ topic.created_on|relative_datetime }}</span> | 
								<span class="count">浏览数: {{ topic.view_count }}</span>
							</div>
						</div>
						<a class="dot-irecommend" href="#comment">
							<span class="dot-irecommend-count">{{ topic.view_count }}</span> 
							<span class="dot-irecommend-suffix"></span>
						</a>
					</div>
					
					{% if topic.category_id == dream_category_id %}
					<div class="post">
						<div class="ui contest">
							<a href="{{ app_url_domain }}/dream" target="_blank" class="ui magenta link">太火鸟-十万火计产品创意与创新想法征集活动</a> 参赛作品
						</div>
					</div>
					{% endif %}
					
					<div class="post froala-element clearfix">
						{{ topic.description }}
					</div>
					
					{% if topic.tags %}
					<div class="tags">
						{% for tag in topic.tags %}
						{% if tag %}
						<a href="{{ app_url_domain }}/tag/{{ tag }}" class="ui icon link">
							<i class="tag icon"></i>{{ tag }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					
					<div class="admin post actions clearfix">
						<div class="ui icon magenta buttons">
							<div class="ui pop favorite button" data-content="收藏" data-variation="inverted" data-id="{{ topic._id }}" data-mark="n">
								<i class="empty star icon"></i>
							</div>
							<div class="ui pop love button" data-content="点赞" data-variation="inverted" data-id="{{ topic._id }}" data-mark="n">
								<i class="heart empty icon"></i>
							</div>
						</div>
						
						<div class="ui icon magenta editable hide buttons">
							{% if visitor.can_admin %}
								{% if topic.top %}
								<div class="ui pop top active button" data-content="取消置顶" data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="flag icon"></i>
								</div>
								{% else %}
								<div class="ui pop top button" data-content="置顶" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="flag icon"></i>
								</div>
								{% endif %}
								{% if topic.stick %}
								<div class="ui pop stick active button" data-content="取消推荐"  data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="pin icon"></i>
								</div>
								{% else %}
								<div class="ui pop stick button" data-content="编辑推荐" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="pin icon"></i>
								</div>
								{% endif %}
							{% endif %}
							
							{% if editable %}
							<div class="ui pop edit button" data-content="编辑" data-variation="inverted" data-id="{{ topic._id }}">
								<i class="edit icon"></i>
							</div>
							<div class="ui pop remove button" data-content="删除" data-variation="inverted" data-id="{{ topic._id }}">
								<i class="remove icon"></i>
							</div>
							{% endif %}
						</div>
					
						{%include 'block/share.html'%}
					</div>
				</div>
				
				
				<a name="comment"></a>
				<div class="ui big reply segment">
					<div class="ui threaded minimal comments">
						{% comment_list var:'comments' page:page target_id:topic._id %}
						{% for comment in comments.rows %}
						<div class="comment" id="{{ comment._id }}">
							<a class="avatar" href="{{ comment.user.home_url }}">
								<img src="{{ comment.user.small_avatar_url }}" alt="{{ comment.user.nickname }}" />
							</a>
							<div class="content">
								<a class="author ui magenta link" href="{{ comment.user.home_url }}">{{ comment.user.nickname }}</a>
								<div class="metadata">
									<div class="date">{{ comment.created_on }}</div>
								</div>
								<div class="laud">
									<a class="ui link icon pop ajax" href="{{ app_url_comment }}/ajax_laud?id={{ comment._id }}" id="laud_{{ comment._id}}" data-content="有用" data-variation="inverted" >
										<i class="icon empty heart"></i>
									</a>
								</div>
								<div class="text">
									{{ comment.content }}
								</div>
								{% if visitor.is_login %}
								<div class="actions">
									<a class="reply showbox" href="#reply_{{ comment._id }}">回复</a>
									<a class="delete confirm-request" href="{{ app_url_comment }}/delete?id={{ comment._id }}">删除</a>
								</div>
								<form class="ui reply hide form" action="{{ app_url_comment }}/ajax_reply" method="post" id="reply_{{ comment._id }}">
									<input type="hidden" name="type" value="2" />
									<input type="hidden" name="comment_id" value="{{ comment._id }}" />
									<input type="hidden" name="target_id" value="{{ topic._id }}" />
									<div class="field">
										<textarea name="content" class="reply-content"></textarea>
									</div>
									<div class="ui active button magenta submit labeled icon">
										<i class="icon location"></i> 回复
									</div>
								</form>
								{% endif %}
							</div>
							
							{% if comment.reply %}
							<div class="comments">
								{% for reply in comment.reply %}
									<div class="comment">
										<a class="avatar" href="{{ reply.user.home_url }}" title="{{ reply.user.nickname }}">
											<img src="{{ reply.user.small_avatar_url }}" alt="{{ reply.user.nickname }}" />
										</a>
										<div class="content">
											<a class="author ui magenta link" href="{{ reply.user.home_url }}">{{ reply.user.nickname }}</a>
											<div class="metadata">
												<div class="date">{{ reply.replied_on }}</div>
											</div>
											<div class="text">
												{{ reply.content }}
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
							{% endif %}
							
						</div>
						{% endfor %}
					</div>
					
					<div class="post comment">
						<p><a href="{{ visitor.home_url }}" class="ui link">{{ visitor.nickname }}</a> 发表回应</p>
						<form class="ui reply form" action="{{ app_url_comment }}/do_save" method="post" id="comment-form">
							<input type="hidden" name="target_id" value="{{ topic._id }}" />
							<input type="hidden" name="type" value="2" />
							<input type="hidden" name="star" value="0" />
							<div class="field">
								<textarea name="content" class="comment-textarea" ></textarea>
								<div id="comment"></div>
							</div>
							<div class="right aligned column">
								<input type="submit" class="ui small magenta button" value="添加评论" />
							</div>
							{% if !visitor.is_login %}
							<div class="not login">
								<div class="ui grid">
									<div class="row">
										<div class="center aligned column">
											<a href="{{ app_url_register }}" class="ui green btn-4 btn-4c icon-arrow-right checkout btn">注册</a> <a href="{{ app_url_login }}" class="ui magenta btn-4 btn-4c icon-arrow-right checkout btn">登录</a>
											<p class="ui gray text">注册登录后可发评论</p>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						</form>
					</div>
					
				</div>
				{% if comments.rows %}
				<div class="ui pagination">
					{% pager url:pager_url,total_rows:comments.total_rows,total_page:comments.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
				{% endif %}
			</div>
			
		</div>
	</div>
</div>
{% include "block/qrcode.html" %}
{% endblock %}