{%extends 'layout/sns.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
  body {
      position: relative;
  }
  .ui.reply.segment{
    margin-bottom:1em !important;
  }
  
  .user.idcard {
      position: absolute;
      z-index: 999;
      display: block;
  }
  .user.idcard .mess.item,
  .user.idcard .mess.item:hover {
      width: 240px !important;
      cursor: auto !important;
  }
  .user.idcard > .ui.items > .mess.item > .image {
      background-size: cover !important;
      height: 125px;
      border-radius: 0.2857rem 0.2857rem 0 0 !important;
  }
  .user.idcard > .ui.items > .mess.item > .image > .auth {
      padding:0.75em 0.5em;
      color:#fff;
      font-size: 16px;
      vertical-align: middle;
  }
  .user.idcard > .ui.items > .mess.item > .image > .auth > label {
      display: inline-block;
      width: 95px;
  }
  .user.idcard > .ui.items > .mess.item > .image > .auth > .action {
      display: inline-block;
      text-align: right;
  }
  .user.idcard > .ui.items > .mess.item > .image > .auth > .action > .ui.button {
      padding: 0.5em 1.2em;
      background: #fff;
      color: #000;
      display: inline-block;
  }
  .user.idcard > .ui.items > .mess img.ui.avatar.image {
      border: 3px solid #fff;
      border-radius: 50% !important;
      bottom: -29px;
      left: 91px;
      margin-right: 0;
      position: absolute;
      width: 4em !important;
  }
  .user.idcard > .ui.items > .mess.item > .content {
      padding: 40px 0.5em 0.75em !important;
      text-align: center;
      margin: 0 !important;
      color: rgba(0, 0, 0, 0.6);
  }
  .user.idcard > .ui.items > .mess.item > .content > h2 {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
  }
  .user.idcard > .ui.items > .mess.item > .content > h2 > span {
      padding: 5px;
      border-radius: 3px;
      background: #f36;
      color: #fff;
      font-size: 14px;
      padding: 3px 8px;
      margin-left: 5px;
  }
  .user.idcard > .ui.items > .mess.item > .content > p {
      font-size: 14px;
      margin-top: 1rem;
  }
  .user.idcard > .ui.items > .mess.item > .content .ui.header {
      margin-bottom: 0.5rem;
  }
  
  .user.idcard > .ui.items > .mess.item .divided.list > .item {
      font-size: 14px;
      padding: 0 0.5em !important;
      margin: 0 !important;
  }
  .user.idcard > .ui.items > .mess.item .divided.list > .item > .content {
      padding: 0 0.25em !important;
      margin: 0 !important;
      position: relative;
      color: rgba(0, 0, 0, 0.6);
  }
  .user.idcard > .ui.items > .mess.item .divided.list > .item > .content > .header,
  .user.idcard > .ui.items > .mess.item .divided.list > .item > .content > .description {
      color: rgba(0, 0, 0, 0.6);
  }
  .user.idcard > .ui.items > .mess.item .divided.list > .item:hover {
      -webkit-box-shadow: 0 0px 0px #C7C7C7 !important;
      box-shadow: 0 0px 0px #C7C7C7 !important;
      cursor:auto !important;
  }
  .user.idcard > .ui.items > .mess.item .divided.list > .item > .content a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
  }
  .user.idcard > .ui.items > .mess.item .divided.list > .item > .content:hover .header {
      color: #f36;
  }
	.froala-element p, p.fr-tag {
	  margin-top: 10px;
	  margin-bottom: 15px;
	}
	.post.vote .description .field .ui.checkbox{
		line-height: 0.6em;
		margin-right: 35px;
	}
	.post.vote .ui.relaxed.list .content h3.ui.header{
		margin-bottom: 1em;
		margin-top: 6px;
	}
	.post.vote .ui.relaxed.list .item > i{
		margin-top:6px;
	} 
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">
    var per_page = 10;
    function fetch_comment(current_page, per_page){
        var url = '{{ app_url_comment }}/ajax_fetch_comment_site';
        $.get(url, {target_id: {{ topic._id }}, type: 2, page: current_page, per_page: per_page});
    }
</script>
{% endblock %}

{% block jquery %}
	phenix.hook_comment_page();
  //ajax加载评论
  fetch_comment(1, per_page);

	phenix.bind_share_list();
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ topic.wap_view_url }}'});
	
	// 显示编辑工具条 
	/*
	$('.ui.topic.segment').hover(function(){
		$('.ui.editable.buttons').removeClass('hide');
	},function(){
		$('.ui.editable.buttons').addClass('hide');
	});*/
	
	/* 登录用户行为 */
	{% if visitor.is_login %}
		// 初始化互动，是否收藏、点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:1}, function(result){
			if (result.success) {
				// 验证收藏
				if (result.data.favorited) {
					$('.ui.favorite.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{topic._id}},type:2,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.love.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		
		// 站内置顶
		$('.ui.top.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),type = $(this).data('type'),$btn = $(this),btn_title = '';
            if (type == 1){
                btn_title = '站内置顶';
            }else{
                btn_title = '版块置顶';
            }
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_top', {id: id, tv: type}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消'+btn_title)
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_top', {id: id, tv: type}, function(result){
					if (result.success) {
						$btn
							.data('content', btn_title)
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
        
		// 精华标记
		$('.ui.fine.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_fine', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消精华')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_fine', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '标记精华')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
	
		// 编辑推荐
		$('.ui.stick.button').bind('click', function(){
			var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
			if (mark == 'n') {
				$.post('{{ app_url_topic }}/ajax_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '取消推荐')
							.data('mark', 'y')
							.addClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			} else {
				$.post('{{ app_url_topic }}/ajax_cancel_stick', {id: id}, function(result){
					if (result.success) {
						$btn
							.data('content', '编辑推荐')
							.data('mark', 'n')
							.removeClass('active');
					} else {
						phenix.show_error_note(result.message);
					}
				}, 'json');
			}
		});
		
		// 编辑
		$('.ui.edit.button').bind('click', function(){
			var id = $(this).data('id');
			phenix.redirect('{{ app_url_topic }}/edit?id='+id);
		});
	
		// 删除
		$('.ui.remove.button').bind('click', function(){
			var id = $(this).data('id');
			if(confirm('确认执行删除操作吗?')){
				$.post('{{ app_url_topic }}/deleted', {id: {{topic._id}} });
			}
		});
		
		/* 登录用户行为 */
	{% endif %}
	
	// 收藏
	$('.ui.favorite.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active')
						.html('<i class="empty star icon"></i> <small>'+ result.data.favorite_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_favorite', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '收藏')
						.data('mark', 'n')
						.removeClass('active')
						.html('<i class="empty star icon"></i> <small>'+ result.data.favorite_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	// 喜欢
	$('.ui.love.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active')
						.html('<i class="empty heart icon"></i> <small>'+ result.data.love_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:2}, function(result){
				if (result.success) {
					$btn
						.data('content', '点赞')
						.data('mark', 'n')
						.removeClass('active')
						.html('<i class="empty heart icon"></i> <small>'+ result.data.love_count +'</small>');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>天</span></div></div><div class="item"><div class="count">%H<span>时</span></div></div> <div class="item"><div class="count">%M<span>分</span></div></div><div class="magenta item"><div class="count">%S<span>秒</span></div></div>'));
		});
	});
	
	$('textarea.comment-textarea').maxlength({
      'feedback' : '.wordscount'
    });
    
	// 加载相关话题
	$.get('{{ app_url_topic }}/ajax_guess_topics', {id: {{ topic._id }}, sword: '{{ topic.tags_s }}', size: 4});
    
    // 显示用户信息
    /*
    var is_ajax = false;
    $('.ui.icard.image').hover(function(e){
        var uid = $(this).data('uid'),pos = $(this).position(),w = $(this).width(),h = $(this).height(),template = $('#user_card').html();
        if(!is_ajax){
            $.getJSON('{{ app_url_user }}/ajax_fetch_profile', {id: uid}, function(result){
                is_ajax = true;
                var rendered = Mustache.render(template, result.data);
                $('#user_card_box')
                    .html(rendered)
                    .css({top: pos.top+h, left: pos.left-10})
                    .show(function(){
                        is_ajax = false;
                    });
            });
        }
    },function(){
        //$('#user_card_box').hide();
    });*/
    
    // 投票提交部分
    $('#vote-save').click(function(){
    
      var user_id = '{{ visitor.id }}';
      if(!user_id){
        alert('请登陆后在投票！');
        return false;
      }
      
      var vote = {};
      vote.topic_id = $('input[name=topic_id]').val();
      vote.user_id = user_id;
      vote.vote_id = '{{ vote._id }}';
      
      var problem = {};
      $('input[name="problem"]').each(function(i){
        var name = $(this).val();
        var answer = {};
        problem[i] = {};
        $('#'+name).find('input:checked').each(function(j){
          answer[j] = $(this).attr('values');
        });
        problem[i].id = name;
        problem[i].answer = answer;
      });
      
      var vote = JSON.stringify(vote);
      var problem = JSON.stringify(problem);
      
      $.post(
        "{{ app_url_action_base }}/topic/save_vote",
        {vote: vote, problem: problem},
        function(data){
          if(data){
            if(data == 1){
              alert('您已经投过票了，谢谢参与！');
              return false;
            }
            var date = eval(data).problem;
            for(var i = 0; i < date.length; i++){
              var answer = date[i].answer;
              for(var j = 0; j < answer.length; j++){
                $('.'+answer[j]._id).text(answer[j].nums+'%');
              }
            }
          }
        }, "json");
	});
	
{% endblock %}

{% block content %}
<div id="postpage">
	{% ad_list var:'ad' page:1 size:1 name:'topic_view_page_t1' sort_field:'latest' state:2 %}
	{% if ad %}
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="advert bottom content">
					<a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank">
			      		<img src="{{ ad.cover.fileurl }}" class="ui image" />
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<div class="ui responsive grid">
		<div class="middle aligned row">
			<div class="eleven wide column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_social }}">
						<i class="basic icon community"></i> 发现
					</a>
					<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_topic }}">
						话题
					</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_topic }}/c{{ parent_category._id }}">{{ parent_category.title }}</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_topic }}/c{{ topic.category._id }}">{{ topic.category.title }}</a>
				  	<i class="angle right icon divider"></i>
				  	<div class="active section">{{ topic.title }}</div>
				</div>
			</div>
			<div class="five wide right aligned column">
				{% if visitor.is_login %}
				<a href="{{ app_url_action_base }}/topic/submit?cid={{ topic.category._id }}" class="ui gray inverted button">
					<i class="edit icon"></i> 发表新话题
				</a>
				{% else %}
				<a href="{{ app_url_action_base }}/topic/submit?cid={{ topic.category._id }}" class="ui pop disabled gray inverted button" data-content="先登录后，可发表话题" data-variation="inverted">
					<i class="edit icon"></i> 发表新话题
				</a>
				{% endif %}
			</div>
		</div>
		
		{% if product %}
		<div class="nopad row">
			<div class="column">
				<div class="ui segment">
					<h3 class="ui dividing header">
						所属产品
					</h3>
					<div class="ui grid">
						<div class="row">
							<div class="two wide column">
								<a href="{{ product.view_url }}" title="{{ product.title }}">
						      		<img src="{{ product.cover.thumbnails.tiny.view_url }}" class="ui image" />
								</a>
							</div>
							<div class="eight wide column">
						      	<h4 class="ui header">
								  	<div class="content">
										<a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
											{{ product.title }}
										</a>
										<div class="sub header">
											<label>设计师：</label> {{ product.designer.nickname|default '太火鸟' }}
										</div>
								  	</div>
								</h4>
								<p class="summary">
									{{ product.summary }}
								</p>
							</div>
							{% if product.approved %}
							{% if product.stage == 1%}
							<div class="six wide column">
								<div class="ui danger message">
									<div class="ui header">
										<div class="picicon">
											<i class="thumbs up outline icon"></i>
										</div>
										<div class="content">
											投票截止时间
											<div class="sub header">
													<div class="ui divided horizontal timer list" data-countdown="{{ product.voted_finish_time|date 'Y/m/d H:i:s' }}"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if active %}
		<div class="nopad row">
			<div class="column">
				<div class="ui segment">
					<h3 class="ui dividing header">
						所属活动
					</h3>
					<div class="ui grid">
						<div class="row">
							<div class="two wide column">
								<a href="{{ active.view_url }}" title="{{ active.title }}">
						      		<img src="{{ active.cover.thumbnails.tiny.view_url }}" class="ui image" />
								</a>
							</div>
							<div class="eight wide column">
						      	<h4 class="ui header">
								  	<div class="content">
										<a href="{{ active.view_url }}" title="{{ active.title }}" class="ui line">
											{{ active.title }}
										</a>
										<div class="sub header">
                                            <label>活动状态：</label> {{ active.step_str }}
										</div>
								  	</div>
								</h4>
								<p class="summary">
									{{ active.summary }}
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		<div class="nopad row">
			<div class="column">
				<div class="ui big topic segment">
					<div class="ui header">
						<a class="ui small avatar icard image" href="{{ topic.user.home_url }}" data-uid="{{ topic.user_id }}">
				      		<img src="{{ topic.user.small_avatar_url }}" alt="{{ topic.user.nickname }}" />
									{% if topic.user.kind==1 %}
									<img src="{{ app_url_packaged }}/images/V.png" class="image-WV">
                  {%endif%}
						</a>
						<div class="content">
							{{ topic.title }}
							<div class="sub header attribute">
								<span class="category"><a href="{{ app_url_topic }}/c{{ topic.category._id }}" class="ui magenta link">{{ topic.category.title }}</a></span> | 
								<span class="date"><a class="ui link" href="{{ topic.user.home_url }}">@{{ topic.user.nickname }}</a> 发表于 {{ topic.created_on|relative_datetime }}</span> | 
								<span class="count">浏览数: {{ topic.view_count }}</span>
							</div>
						</div>
						<a class="dot-irecommend" href="#comment">
							<span class="dot-irecommend-count">{{ topic.view_count }}</span> 
							<span class="dot-irecommend-suffix"></span>
						</a>
					</div>
					
					{% if is_match_idea %}
					<div class="post">
						<div class="ui contest">
							<a href="{{ app_url_domain }}/dream" target="_blank" class="ui magenta link">太火鸟-十万火计产品创意与创新想法征集活动</a> 参赛作品
						</div>
					</div>
					{% endif %}
					
					<div class="post froala-view froala-element clearfix">
						{{ topic.description }}


            {% if topic.file_asset %}
            <hr style="width:100%;" />
            <h4 class="ui header">附件下载</h4>
            {% asset_list var:'assets' parent_id:topic._id asset_type:56 %}
            {% for asset in assets.rows %}
              <div>
                <span>{{ asset.filename }}</span> <a href="{{ asset.fileurl }}"><span>下载</span></a>
              </div>
            {%endfor%}
            {%endif%}
					</div>
                    
<!--  这里是投票部分代码 开始 -->

                  <input type="hidden" name="topic_id" value="{{ id }}" />
                  
                  {% if is_vote %}
					<div class="post vote" style="margin-top: 20px">
                        <div class="ui small header" style="color: #E40039">{{ vote.title }}</div>
                        <div class="ui divider"></div>
                        {% for problem in vote.problem %}
                        
                        <input type="hidden" name="problem" value="{{ problem._id }}" />
                        <input type="hidden" name="select_type" value="{{ problem.select_type }}" />
                        
                        <div class="ui relaxed divided list">
                          <div class="item">
                            <i class="large fa-question middle aligned icon"></i>
                            <div class="content">
                              <h3 class="header">{{ problem.title }}{% if problem.select_type == 1 %}（单选）{% else %}（多选）{% endif %}</h3>
                              <div class="description" style="margin: 10px 0" id="{{ problem._id }}">
                                {% if problem.select_type == 1 %}
                                  <div class="field">
                                    {% for answer in problem.answer %}
                                      <div class="ui radio checkbox">
                                          <input type="radio" name="{{ problem._id }}" values="{{ answer._id }}" />
                                          <label>
                                              {{ answer.title }}&nbsp;&nbsp;<div class="ui red label {{ answer._id }}">{{ answer.nums }}%</div>&nbsp;&nbsp;
                                          </label>
                                      </div>
                                    {% endfor %}
                                  </div>
                                {% else %}
                                  <div class="field">
                                    {% for answer in problem.answer %}
                                      <div class="ui checkbox">
                                          <input type="checkbox" name="{{ answer._id }}" values="{{ answer._id }}" />
                                          <label>
                                              {{ answer.title }}&nbsp;&nbsp;<a class="ui red label {{ answer._id }}">{{ answer.nums }}%</a>&nbsp;&nbsp;
                                          </label>
                                      </div>
                                    {% endfor %}
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="ui right floated aligned grid">
                        <div class="row">
                            <div class="column">
                                <div  id="vote-save" class="ui magenta inverted submit button">确认投票</div>
                            </div>
                        </div>
                    </div>
                  {% endif %}

<!--  这里是投票部分代码 结束 -->

					{% if topic.tags %}
					<div class="idea tags">
						{% for tag in topic.tags %}
						{% if tag %}
						<a href="{{ app_url_search }}?q={{ tag }}&evt=tag" class="ui line">
							# {{ tag }}
						</a>
						{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					
					<div class="admin post actions clearfix">
						<div class="ui icon magenta buttons">
							<div class="ui pop favorite button" data-content="收藏" data-variation="inverted" data-id="{{ topic._id }}" data-mark="n">
								<i class="empty star icon"></i> <small>{{ topic.favorite_count }}</small>
							</div>
							<div class="ui pop love button" data-content="点赞" data-variation="inverted" data-id="{{ topic._id }}" data-mark="n">
								<i class="heart empty icon"></i> <small>{{ topic.love_count }}</small>
							</div>
						</div>
						
						<div class="ui icon black editable buttons">
							{% if visitor.can_edit %}
                                {% if visitor.is_admin %}
    								{% if topic.top == 1 %}
    								<div class="ui pop top active button" data-content="取消站内置顶" data-variation="inverted" data-mark="y" data-id="{{ topic._id }}" data-type="1">
    									<i class="pin icon"></i>
    								</div>
    								{% else %}
    								<div class="ui pop top button" data-content="站内置顶" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}" data-type="1">
    									<i class="pin icon"></i>
    								</div>
    								{% endif %}
                                {% endif %}
                                
								{% if topic.top == 2 %}
								<div class="ui pop top active button" data-content="取消版块置顶" data-variation="inverted" data-mark="y" data-id="{{ topic._id }}" data-type="2">
									<i class="basic pin icon"></i>
								</div>
								{% else %}
								<div class="ui pop top button" data-content="版块置顶" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}" data-type="2">
									<i class="basic pin icon"></i>
								</div>
								{% endif %}
								{% if topic.fine %}
								<div class="ui pop fine active button" data-content="取消精华"  data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="star icon"></i>
								</div>
								{% else %}
								<div class="ui pop fine button" data-content="标记精华" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="star icon"></i>
								</div>
								{% endif %}
								{% if topic.stick %}
								<div class="ui pop stick active button" data-content="取消推荐"  data-variation="inverted" data-mark="y" data-id="{{ topic._id }}">
									<i class="flag icon"></i>
								</div>
								{% else %}
								<div class="ui pop stick button" data-content="编辑推荐" data-variation="inverted" data-mark="n" data-id="{{ topic._id }}">
									<i class="flag icon"></i>
								</div>
								{% endif %}
							{% endif %}
							
							{% if editable %}
							<div class="ui pop edit button" data-content="编辑" data-variation="inverted" data-id="{{ topic._id }}">
								<i class="edit icon"></i>
							</div>
							<div class="ui pop remove button" data-content="删除" data-variation="inverted" data-id="{{ topic._id }}">
								<i class="remove icon"></i>
							</div>
							{% endif %}
						</div>
					
						{%include 'block/share.html'%}
					</div>
                    
                	<!--你可能相关话题-->
                    <div class="topic guess" id="topic_guess_list"><!--ajax fetch--></div>
				</div>
				
    			<div class="ui big reply segment">
      			<!--ajax comment-->
      		  	<div id="comment-list"></div>
      		  	{% include "block/comment_box_site.html" %}
    		</div>
			
		</div>
	</div>
</div>
{% include "block/qrcode.html" %}
{% endblock %}

{% block templates %}
<div id="user_card_box" class="user idcard"></div>
{% mustache id:'user_card' tpl:'mustache/user_card.mustache' %}
{% endblock %}
