{%extends 'layout/sns.html'%}
{% block title %}发布想法-{% endblock %}
{% block page_css %}
{% endblock %}
{% block page_js %}
{% endblock %}
{% block jquery %}
	$('#topic-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '标题不能为空'
				},
				{
					type   : 'maxLength[30]',
					prompt : '标题最多30个字符'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_message(data.message, event.target);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});
	
	$('#phenix-uploader').fineUploader({
		debug: true,
      	request: {
			params: {'parent_id': '{{ product._id }}' },
        	endpoint: '{{ app_url_upload_topic }}'
      	},
		text: {
            uploadButton: '<a class="ui green labeled icon button" href="javascript:void(0);"><i class="upload icon"></i>上传图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
	    deleteFile: {
	        enabled: true,
	        endpoint: '/my/delete/endpoint'
	    },
		validation: {
	        allowedExtensions: ['jpeg', 'jpg'],
	        sizeLimit: 3145728 // 3M = 3 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {
		if(result.is_error){
			$('#product-upload-form').addClass('error');
			phenix.show_error_message(result.message, $('#product-upload-form'));
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			
			var html_content = [];
			for(var i=0; i< result.data.length;i++){	
				html_content.push('<div class="item"><div class="image">');
				html_content.push('<img src="'+result.data[i].fileurl+'" />');
				html_content.push('<input type="hidden" class="asset_id_list" name="asset[]" value="'+result.data[i].asset_id+'" />');
				html_content.push('</div>');
			}
			
			$('#asset-list').append(html_content.join(''));
		}
	});
	
{% endblock %}

{% block content %}
<div class="social">
	<div class="ui responsive grid">
		<div class="row">
			<div class="eleven wide column">
				<form action="{{ app_url_action_base }}/topic/save" class="ui form" method="post" id="topic-form">
					<input type="hidden" name="_id" value="{{ topic._id }}" id="topic_id" />
					<div class="field">
						<label for="title">标题</label>
					  	<input type="text" name="title" value="{{ topic.title }}" />
					</div>
					<div class="field">
						<label for="description">描述</label>
					  	<textarea name="description">{{ topic.description }}</textarea>
						<div class="description">请详细的描述</div>
					</div>
					
					<div class="field">
						<label>类别</label>
						<input type="hidden" name="category_id" value="{{ topic.category_id }}" />
						<a class="ui black label">设计资讯</a>
						<a class="ui green label">消费电子</a>
					</div>
					
					<div class="field">
						<label>标签</label>
					  	<input type="text" name="tags" value="{{ topic.tags_s }}" />
						<div class="description">标签之间使用，逗号隔开</div>
					</div>
					
					<div class="field">
						<label>上传图片</label>
					  	<div class="upload-box">
							<div id="phenix-uploader"></div>
						</div>
						<div id="asset-list" class="ui four items">
							
						</div>
					</div>
					
					<div class="field">
						<label for="video_url">视频链接</label>
					  	<input type="text" name="video_url" value="{{ topic.video_url }}" />
						<div class="description">支持优酷、土豆等视频链接</div>
					</div>
					
				  	<h3 class="ui right floated header">
						<div class="ui blue submit button">
							确认提交
						</div>
				  	</h3>
					
				</form>
			</div>
			<div class="five wide column">
				<h2>Q&A</h2>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}