<!--活跃度排行-->
{% cache cache_key:'topic_page_top_user' ttl:3600 disable_cache:app_disable_cached %}
{% user_point_stat_list var:'top_user_list' sort:1 day:yesterday kind:1 state:1 page:1 size:20 %}
{% if top_user_list.rows %}
<div class="sellwrap">
	<h2 class="block title">
		活跃用户排行
	</h2>
    
    <div class="mentors">
        <div class="ui mini avatar images">
            {% for d in top_user_list.rows %}
            <div class="image">
                <a href="{{ d.user.home_url }}" target="_blank" title="{{ d.user.nickname }}" data-variation="wide" data-html="<div class='header'>{{ d.user.nickname }}</div><div class='content'>荣誉：{{ d.user.ext_state.user_rank.title|default '鸟列兵' }} / 经验值：{{ d.user.ext_state.rank_point|default 0 }}</div>">
                    <img src="{{ d.user.medium_avatar_url }}" alt="{{ d.user.nickname }}" class="avatar" />
                    {% if d.user.symbol %}
                        <img src="{{ app_url_packaged }}/images/V.png" class="image-HV{%if user.symbol==2%} blue{%endif%}">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
	  	</div>

    </div>
</div>
{%endif%}
{% endcache %}
