{%extends 'layout/admin.html'%}
{% block page_css %}
<style type="text/css">
  
</style>
{% endblock %}

{% block jquery %}
  
{% endblock %}
	
{% block content %}
	<h3 class="ui header">app专题管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/app_special_topic" class="active item">
			全部
		</a>

	  	<div class="right menu">
			<a href="{{ app_url_admin_base }}/app_special_topic/add_page" class="item add_topic">
				<i class="plus square outline icon"></i>新建专题
			</a>
	    </div>
	</div>
	
	<div class="ui alarm segment">
	  
	  {% message_list var:'list' page:page type:2 user_id:user_id reply_id:reply_id %}
	  
	  {% for message in list.rows %}
	  
	  {% endfor %}
			  
	  {% if list.rows %}
	  <div class="ui pagination">
	  {% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:10 %}
	  {%include 'block/pager.html'%}
	  </div>
	  {% endif %}
  </div>
{% endblock %}
