<div class="comment" id="f{{ comment.floor }}">
    <a class="avatar" href="{{ comment.user.home_url }}" target="_blank">
        <img src="{{ comment.user.small_avatar_url }}" alt="{{ comment.user.nickname }}" />
    </a>
    <div class="content">
        <a class="author ui link" href="{{ comment.user.home_url }}" target="_blank">{{ comment.user.nickname }}</a>
        <div class="metadata">
            <div class="date"><small>{{ comment.created_at }}</small></div>
            <span class="floor">{{ comment.floor }}楼</span>
        </div>

        {% if !comment.deleted %}
        <div class="laud">
            {% if comment.is_loved %}
            <a class="ui link icon pop ajax" href="{{ app_url_comment }}/ajax_cancel_laud?id={{ comment._id }}" id="laud_{{ comment._id}}" data-content="取消点赞" data-variation="inverted" >
                <span class="love-count">{%if comment.love_count%}{{ comment.love_count }}{%endif%}</span>
                <i class="icon heart"></i>
            </a>
            {%else%}
            <a class="ui link icon pop ajax" href="{{ app_url_comment }}/ajax_laud?id={{ comment._id }}" id="laud_{{ comment._id}}" data-content="点赞" data-variation="inverted" >
                <span class="love-count">{%if comment.love_count%}{{ comment.love_count }}{%endif%}</span>
                <i class="icon empty heart"></i>
            </a>          
            {%endif%}
			
            {% if is_comment_share %}
            <a class="ui link vote btn comment_share_btn" href="javascript:void(0);" comment_id="{{ comment._id }}" data-content="分享" data-variation="inverted">
                <i class="icon share"></i>	
              </a>
            {%endif%}
			
        </div>
        {%endif%}
    
        {% if comment.is_reply %}
        <div class="replytips">
            <blockquote>
                <i class="quote left icon"></i> 
                <a href="{{ comment.reply_comment.user.home_url }}" class="ui link" target="_blank">@{{ comment.reply_comment.user.nickname }}</a> <span class="metadata"><span class="date">发表于 {{ comment.reply_comment.created_at }}</span></span>
                <div class="contrp text">
                  {% if comment.reply_comment.deleted==1 %}
                      该内容已被屏蔽
                  {%else%}
                  {{ comment.reply_comment.content|safe }}
                  {%endif%}
                </div>
                <i class="quote right icon"></i>
            </blockquote>
        </div>
        {%endif%}
    
        <div class="text">
            {% if comment.deleted==1 %}
                该内容已被屏蔽
            {%else%}
            {{ comment.content|safe }}
            {%endif%}
        </div>
    
        {% if visitor.is_login %}
        <div class="actions">
            {% if !comment.deleted %}
            <!--
                <a class="reply reply-btn" href="javascript:void(0);" comment_id="{{ comment._id }}" floor="{{ comment.floor|default 0 }}" comment_user_id="{{ comment.user_id }}" comment_user_name="{{ comment.user.nickname }}">回复</a>
                -->

                {% if visitor.can_admin %}
                <a class="delete confirm-request" href="{{ app_url_comment }}/delete?id={{ comment._id }}">屏蔽</a>
                {%else%}
                    {% if visitor.id == comment.user_id %}
                    <a class="delete confirm-request" href="{{ app_url_comment }}/delete?id={{ comment._id }}">屏蔽</a>
                    {%endif%}
                {%endif%}
            {%endif%}
        </div>
        {% endif %}
    </div>

    {% if comment.reply %}
    <div class="comments">
        {% for reply in comment.reply %}
        <div class="comment" id="{{ reply.r_id }}">
            <a class="avatar" href="{{ reply.user.home_url }}" title="{{ reply.user.nickname }}" target="_blank">
                <img src="{{ reply.user.small_avatar_url }}" alt="{{ reply.user.nickname }}" />
            </a>
            <div class="content">
                <a class="author">{{ reply.user.nickname }}</a>
                <div class="metadata actions" style="margin-top:0;opacity:1;" >
                    <span class="date">{{ reply.replied_on }}</span>
                    {% if visitor.can_admin %}
                        <a class="delete confirm-request" href="{{ app_url_comment }}/del_reply?id={{ comment._id }}&rid={{ reply.r_id }}">
                            <small>删除</small>
                        </a>
                    {%else%}
                        {% if visitor.id == reply.user_id %}
                        <a class="delete confirm-request" href="{{ app_url_comment }}/del_reply?id={{ comment._id }}&rid={{ reply.r_id }}">
                            <small>删除</small>
                        </a>
                        {%endif%}
                    {%endif%}
                </div>
                <div class="text">
                    {{ reply.content }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
