<div class="post comment">
  	<p>
		<a href="{{ visitor.home_url }}" class="ui magenta link">{{ visitor.nickname }}</a> 发表回应
	</p>
  	<form class="ui reply form" action="{{ app_url_comment }}/do_save" method="post" id="comment-form">
    	<input type="hidden" name="target_id" value="{{ comment_target_id }}" />
    	<input type="hidden" name="type" value="{{ comment_type }}" />
    	<input type="hidden" name="star" value="0" />
		
    	<div class="field">
        <textarea name="content" class="comment-textarea" maxlength="140" placeholder="{%if comment_alert%}{{comment_alert}}{%else%}输入评论...{%endif%}"></textarea>
      	  	<div id="comment"></div>
    	</div>
  	  	{% if visitor.is_login %}
    	<div class="right aligned column">
			<small>还可以输入<span class="wordscount">140</span> 字</small>
			<div class="ui active button magenta submit labeled icon">
              	<i class="icon edit"></i> 添加评论
            </div>
    	</div>
  	  	{% else %}
    	<div class="not login">
      		<div class="ui grid">
        		<div class="row">
          		  	<div class="center aligned column">
            			<a href="{{ app_url_register }}" class="ui green btn-4 btn-4c icon-arrow-right checkout btn">注册</a> <a href="{{ app_url_login }}" class="ui magenta btn-4 btn-4c icon-arrow-right checkout btn">登录</a>
            			<p class="ui gray text">注册登录后可发评论</p>
          		  	</div>
        		</div>
      	  	</div>
    	</div>
  	  	{% endif %}
  	</form>
</div>
