<div class="ui dimmer modals">
  <div class="ui standard yigo modal" style="width:700px !important;left:50% !important;background: rgba(0,0,0,0) !important;top:0 !important;margin-top:0 !important;">
    <div style="position:relative">
      <img src="{{ app_url_packaged }}/images/egouz.jpg" width="100%">
      <a class="ui yigo close" style="position: absolute;width: 60px;height: 60px;right: 20px;top: 20px;cursor: pointer;"></a>
      <a href="{{ app_url_try }}" title="免费试用" style="position: absolute;width: 240px;height: 120px;left: 130px;top: 310px;cursor: pointer;"></a>
      <a href="{{ app_url_promo }}/qixi" title="JBL七夕大促" style="position: absolute;width: 240px;height: 120px;right: 80px;top: 420px;cursor: pointer;"></a>
      <a href="{{ app_url_contest }}/custom" title="反向定制" style="position: absolute;width: 240px;height: 120px;left: 100px;top: 550px;cursor: pointer;"></a>
      <a href="{{ app_url_domain }}/?uid={{egou_uid}}&hid={{egou_hid}}" title="首页" style="position: absolute;width: 180px;height: 100px;right: 120px;top: 680px;cursor: pointer;"></a>
      <img src="{{ app_url_packaged }}/images/egoubtnl.png" class="egou flex-prev" style="position:absolute; top: 383px; left: 300px;">
      <img src="{{ app_url_packaged }}/images/egoubtnr.png" class="egou flex-next" style="position:absolute; top: 498px; left: 290px;">
      <img src="{{ app_url_packaged }}/images/egoubtnl.png" class="egou flex-prev" style="position:absolute; top: 612px; left: 300px;">
      <img src="{{ app_url_packaged }}/images/egoubtnr.png" class="egou flex-next" style="position:absolute; top: 713px; left: 320px;">
    </div>
  </div>
</div>
{% if egou_uid %}
<div class="fixed button" style="right:20px;top:120px;z-index:1001 !important;">
  <div style="cursor:pointer;" class="ui yig btn"><img src="{{ app_url_packaged }}/images/ygstar.png" style="width:170px;margin:10px 0;"></div>
</div>
{% endif %}