<div class="card" id="product-{{ d._id }}">
    <div class="problock">
        <a title="{{ d.title }}" alt="{{ d.title }}" href="{{ d.view_url }}" style="background-image: url({{ d.cover.thumbnails.hm.view_url }});" class="thumb"></a>
        <div class="ribbons">
            {% if d.newest %}
            <span class="ribbon newest">NEW</span>
            {% endif %}
            {% if d.hot %}
            <span class="ribbon hot">HOT</span>
            {% endif %}
            {% if d.stick %}
            <span class="ribbon stick">推荐</span>
            {% endif %}
        </div>
        <h2>
            <a href="{{ d.view_url }}" title="{{ d.title }}" class="ui line">
			    {{ d.title|truncate, 32, '' }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ d.advantage }}</p>
        </div>
        <div class="cats">
            {% if d.exchange_price %}
            兑换价：<small>￥</small>{{ d.exchange_price }} + {{ d.max_bird_coin }}鸟币
            {%else%}
            所需鸟币：{{ d.max_bird_coin }}
            {%endif%}
        </div>
        <span class="counter">
            <i class="heart icon"></i> {{ d.love_count }}
        </span>
    </div>
</div>
