<div class="ui horizontal list">
	<div class="item">
		<a href="{{ app_url_fever }}" class="ui {{ css_page_fever }} link">
			创意投票
		</a>
	</div>
	<div class="item">
		<a href="{{ app_url_topic }}" class="ui {{ css_page_sub_topic }} link">话题</a>
	</div>
	<div class="item">
		<a href="{{ app_url_stuff }}" class="ui {{ css_page_stuff }} link">智品库</a>
	</div>
	<div class="item">
		<a href="{{ app_url_try }}" class="ui {{ css_page_sub_try }} link">新品试用</a>
	</div>
	<div class="item">
		<a href="{{ app_url_active }}/list" class="ui {{ css_page_sub_active }} link">活动</a>
	</div>
	<div class="item">
		<a href="{{ app_url_cooperate }}" class="ui {{ css_page_cooperate }} link">孵化资源</a>
	</div>
</div>
<div class="ui horizontal quick list">
	<div class="item">
		<a href="{{ app_url_contest }}/dream2" class="ui {{ css_page_sub_dream }} link">十万火计第二季</a>
	</div>
	<div class="item">
		<a href="{{ app_url_birdegg }}" class="ui {{ css_page_birdegg }} link">蛋年创新大会</a>
	</div>
	<!--<div class="item">
		<a href="#" class="ui link">开放实验室</a>
	</div>-->
</div>
