
<div class="right floated auth">
	<div class="ui top right pointing dropdown icon basket magenta button mobile" data-url="{{ app_url_domain }}/fiu">
		<span>下载客户端</span>
		<i class="in mobile icon"></i>
		<div class="menu">
			<div class="item">
				<img class="fiulogo" src="{{ app_url_packaged }}/images/fiu.jpg" alt="Fiu">
				<h3 class="ui header">Fiu 浮游</h3>
				<p>你在发现 谁在惊呼？</p>
				<img class="fiuewm" src="{{ app_url_packaged }}/images/fiu/loadewm.jpg">
				<p class="mobilet">iPhone <span>∙</span> Andriod</p>
			</div>
		</div>
	</div>
<!--
	{% if visitor %}
    <div class="ui top right pointing dropdown icon basket magenta button" data-url="{{ app_url_cart }}" id="shopping-basket">
		{% if items_count > 0 %}
	    <label class="floating circular ui magenta basketnumber label">{{ items_count }}</label>
		{% else %}
		<label class="floating circular ui magenta label hide"></label>
		{% endif %}
        <i class="in cart icon"></i>
        
	  	<div class="menu">
			{% if items_count > 0 %}
			<div class="item" id="basket-body-content">
				<table class="ui basic basket table">
					<thead>
						<tr>
							<th>产品信息</th>
							<th>数 量</th>
							<th class="center aligned">小计</th>
							<th class="right aligned"></th>
						</tr>
					</thead>
					<tbody id="basket-item-wrapper">
						{% for product in basket_products %}
						<tr id="basket-product-{{ product.sku }}">
							<td>
								<a href="{{ product.view_url }}" class="ui cover image">
						      		<img src="{{ product.cover }}" />
								</a>
						      	<p>
						          	<a href="{{ product.view_url }}" class="ui link" title="{{ product.title }}">{{ product.title|truncate 18 '' }}</a>
						      	</p>
							</td>
							<td class="center aligned">
								{{ product.quantity }}
							</td>
							<td class="center aligned">
								{{ product.subtotal }}元
							</td>
							<td class="right aligned">
								<a class="magenta ui close circular icon button" data-sku="{{ product.sku }}">
									<i class="close icon"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					    <tr>
							<td colspan="3">
								<div class="bill">
									<p class="ui gray text">
										共计：<b class="cart-items-count">{{ items_count }}</b> 件产品
									</p>
									<p>
										总计：<b class="cart-total-money">{{ total_money }}</b> 元
									</p>
								</div>
							</td>
					    	<td class="right aligned">
							  	<a class="ui magenta inverted button" href="{{ app_url_cart }}">
							    	去结算
								</a>
					    	</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="item" id="basket-body-content" style="padding:1em !important;">
				<p>购物车中还没有商品，赶紧选购吧！</p>
			</div>
			{% endif %}
	  	</div>
	</div>
  {% endif %}
-->

  {% if visitor %}
    
    <div class="ui icon top right pointing dropdown basket magenta button" data-url="javascript:void(0);">
        <label class="floating circular ui magenta basketnumber label hide" id="user-notice-num">
            0
        </label>
        <i class="alarm outline icon"></i>
        <!--ajax加载用户提醒-->
        <div class="menu" id="user-notice">
            <div class="header">
                <a href="{{ app_url_domain }}/my/remind" class="ui link">我的提醒</a> | <a href="{{ app_url_domain }}/my/recive_comment" class="ui link">我的评论</a>
            </div>
            <div class="item">
                <i class="warning circle icon"></i>暂时没有任何消息
            </div>
        </div>
    </div>
	<div class="ui top right pointing dropdown icon user-setting button">
		<a class="ui link" href="{{ visitor.home_url }}" title="{{ visitor.nickname }}">
      <img src="{{ visitor.small_avatar_url }}" id="header-small-avatar" class="ui avatar image" alt="{{ visitor.nickname }}" /><p> {{ visitor.nickname }}</p><i class="angle down icon"></i>
		</a>
	  	<div class="menu">
		    <a class="item" href="{{ app_url_my }}/account">
		      	<i class="settings icon"></i> 个人中心
			</a>
		    <a class="item" href="{{ app_url_my }}/favorite">
		      	<i class="plus icon"></i> 我关注的
			</a>
		    <a class="item" href="{{ app_url_my }}/love">
		      	<i class="heart icon"></i> 我赞了的
			</a>
		    <a class="item" href="{{ app_url_my }}/orders">
		      	<i class="shop icon"></i> 我的订单
			</a>
		    <a class="item" href="{{ app_url_action_base }}/helper/question">
		      	<i class="help icon"></i> 帮助中心
			</a>
			{% if visitor.can_admin %}
		    <a class="item" href="{{ app_url_admin_base }}">
		      	<i class="dashboard icon"></i> 管理后台
			</a>
			{% endif %}
		  	<a class="item" href="{{ app_url_logout }}">
		    	<i class="sign out icon"></i> 安全退出
			</a>
	  	</div>
	</div>
    {% else %}
        <a class="ui compact login button" href="{{ app_url_login }}">
            登录
        </a>
        {% if user_invite_code %}
        <a href="{{ app_url_register }}?user_invite_code={{ user_invite_code }}" class="ui inverted signup magenta button">
            注册
        </a>
        {%else%}
        <a href="{{ app_url_register }}" class="ui inverted magenta signup button">
            注册
        </a>
        {%endif%}
   	{% endif %}
</div>
