<div class="ui newnav responsive grid">
    <a href="{{ app_url_domain }}" title="首页" class="logobar">太火鸟</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ app_url_domain }}/home" class="{{ css_page_home }}">首页</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_d3ingo }}" target="_blank">产品创新</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_fiu }}" target="_blank">智能分发</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_domain }}/ingoset">铟果集</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_topic }}" class="{{ css_page_social }} {{ css_page_try }} {{ css_page_sub_active }}">社区话题</a>
            </li>
            <li class="nav-item ui dropdown server" data-url="javascript:void(0);">
                <a href="{{ app_url_domain }}/service" class="{{ css_page_incubator }}">增值服务
                  <i class="angle down icon"></i>
                </a>
                <div class="menu">
                  <a class="item" href="{{ app_url_domain }}/service#kjmx">科技美学</a>
                  <a class="item" href="{{ app_url_domain }}/service#tzfh">投资孵化</a>
                  <a class="item" href="{{ app_url_domain }}/service#zcfw">众筹服务</a>
                  <a class="item" href="{{ app_url_domain }}/service#ppyx">品牌营销</a>
                  <a class="item" href="{{ app_url_domain }}/service#d3in_shop">D³IN铟立方·未来店</a>
                  <a class="item" href="{{ app_url_domain }}/service#d3in_sys">D³IN铟立方·未来实验室</a>
                </div>
            </li>
            <!--
            <li class="nav-item">
                <a href="{{ app_url_domain }}/fiu" class="{{ css_page_fiu }}">Fiu</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_shop }}" class="{{ css_page_shop }}">Fiu店</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_topic }}" class="{{ css_page_social }} {{ css_page_try }} {{ css_page_sub_active }}">社区</a>
            </li>
            <li class="nav-item">
                <a href="{{ app_url_incubator }}/service" class="{{ css_page_incubator }}">服务</a>
            </li>
            -->
        </ul>
    </div>
    <form class="search item" method="post" action="javascript:void(0);" id="searchbar">
        
        <div class="ui icon input">
            <input name="q" type="text" value="{{ q }}" />
        </div>
        <i class="search icon"></i>
    </form>

    {% include "block/header_rightside.html" %}
</div>
