<div id="order-{{ order._id }}" class="order-item">
	<div class="ui top attached header">
		<div class="ui horizontal divided list">
		  	<div class="item">
		      	订单号：{{ order.rid }}
		  	</div>
		  	<div class="item">
				{{ order.express_info.name }} 
		  	</div>
		  	<div class="item">
		      	下单时间：{{ order.created_on|date }}
		  	</div>
        {% if admin %}
          <div class="item">
            来源: {{ order.from_site_label }}{%if order.from_app%}[{{ order.from_app_label }}]{%endif%}
                  {%if order.channel_id%}[{{ order.channel_id }}]{%endif%}
          </div>
          {% if order.kind == 2 %}
            <div class="item">
              类型: <span class="ui magenta text">抢购</span>
            </div>
          {%endif%}
          {% if order.kind == 3 %}
            <div class="item">
              类型: <span class="ui magenta text">APP秒杀</span>
            </div>
          {%endif%}
          {% if order.kind == 4 %}
            <div class="item">
              类型: <span class="ui magenta text">APP首次下单立减</span>
            </div>
          {%endif%}
          {% if order.is_vop %}
            <div class="item">
                <a href="{{ app_url_admin }}/vop/order_view?id={{ order.jd_order_id }}"><span class="ui magenta red text">(开普勒[{{ order.jd_order_id }}])</span></a>
            </div>
          {%endif%}
        {%endif%}
		</div>
	</div>
	<div class="middle aligned ui celled white grid">
		<div class="row">
			<div class="seven wide column">
				<table class="ui basic table">
					<tbody>
						{% for item in order.items %}
						{% product_list var:'product' product_id:item.product_id %}
						<tr>
							<td>
								<a href="{{ product.view_url }}" class="ui cover image" target="_blank">
						      		<img src="{{ product.cover.thumbnails.mini.view_url }}" alt="{{ product.title }}" />
								</a>
							</td>
							<td>
						      	<div class="content">
									{% if item.sku == item.product_id %}
						          	<div class="header">
										<a href="{{ product.view_url }}" class="ui link">{{ product.title }}</a>&nbsp;&nbsp;x {{ item.quantity }}
									</div>
									{% else %}
									{% sku_list var:'sku' sku:item.sku %}
						          	<div class="header">
                          <a href="{{ product.view_url }}" class="ui link">{{ product.title }} ({{ sku.mode }})</a>&nbsp;&nbsp;x {{ item.quantity }}
									</div>
									{% endif %}
						          	<p class="attribute">编号：{{ item.sku }}</p>

                                    {% if item.vop_id %}
						          	    <p class="attribute">京东SKU：{{ item.vop_id }}</p>
                                    {%endif%}
                                    {% if item.refund_type %}
                                        <p>状态: 
                                            <span style="color:red;">
                                            {% if item.refund_status==0 %}商家拒绝退款{%endif%}
                                            {% if item.refund_status==1 %}申请退款{%endif%}
                                            {% if item.refund_status==2 %}已退款{%endif%}
                                            </span>
                                        </p>
                                    {%endif%}

				                    {% if admin %}
                                        {% if item.referral_code %}
                                            <p class="attribute">推广码：{{ item.referral_code }}</p>
                                        {%endif%}
                                        {% if item.storage_id %}
                                            <p class="attribute">店铺ID：{{ item.storage_id }}</p>
                                        {%endif%}
                                    {%endif%}
						      	</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="center aligned three wide column">
				<p>
					订单金额：{{ order.pay_money }} 元
                    {% if admin %}
                        {% if order.old_pay_money %}
                            <small>原价格：({{ order.old_pay_money }})</small>
                        {%endif%}
                    {%endif%}
				</p>
				<p>
					<small>（运费：{{ order.freight }} 元/优惠：{{ order.discount_money }} 元）</small>
				</p>
          {% if admin %}
                  
            {% if order.card_code %}
              <p>红包码: {{ order.card_code }}</p>
            {%endif%}
            {% if order.gift_code %}
              <p>礼品券: {{ order.gift_code }}</p>
            {%endif%}
            {% if order.bird_coin_count %}
              <p>鸟币: {{ order.bird_coin_count }}</p>
            {%endif%}
                
          {% endif %}
			</div>
			<div class="center aligned three wide column">
				<div id="order-{{ order.rid }}-label" class="status-label">
          <p>
					状态: {{ order.status_label }}
          </p>
          {% if order.trade_site_name%}
          <p>
            支付方式: {{ order.trade_site_name }}
          </p>
          {%endif%}
				</div>
                {% if my %}
                  {% if order.status == 1 %}
                  <a href="{{ app_url_shopping }}/success?rid={{ order.rid }}" class="ui small inverted magenta button">立即支付</a>
                  {% endif %}

                {% endif %}

                {% if admin %}
                  {% if order.status == 12 %}
                    <div>
                      理由: 
                      {% if order.refund_option==1 %}
                        不想要了
                      {%else%}
                        {{ order.refund_reason }}
                      {%endif%}
                    </div>
                  {% endif %}
                  {% if order.status == 13 %}
                    <div>
                      理由: 
                      {% if order.refund_option==1 %}
                        不想要了
                      {%else%}
                        {{ order.refund_reason }}
                      {%endif%}
                    </div>
                  {% endif %}
                {% endif %}
			</div>
			<div class="center aligned three wide column">
				{% if my %}
					<div class="status-label">
						<a href="{{ order.view_url }}" class="ui link">订单详情 »</a>
                    </div>
					{% if order.status == 1 %}
					<a href="{{ app_url_my }}/ajax_cancel_order?rid={{ order.rid }}" class="ui small inverted grey ajax button">取消订单</a>
					{% endif %}
					{% if order.status == 15 %}
					<a href="{{ app_url_my }}/ajax_take_delivery?rid={{ order.rid }}" class="ui small inverted grey ajax button">确认收货</a>
					{% endif %}

                    {% if order.status == 16 %}
						<a href="{{ app_url_my }}/evaluate?rid={{ order.rid }}" class="ui magenta link">售后评价 »</a>
					{% endif %}
				{% endif %}
				
				{% if admin %}
					<div class="status-label">
						<a href="{{ app_url_admin }}/orders/show?rid={{ order.rid }}" class="ui link">订单详情 »</a>
                    </div>
					{% if order.status == 1 %}
					<a href="{{ app_url_admin }}/orders/ajax_close_order?rid={{ order.rid }}" class="ui small grey ajax button">关闭</a>
					{% endif %}
					{% if order.status == 12 %}
          <a href="javascript:void(0);" class="ui small green inverted button" name="confirm-refund" rid="{{ order.rid }}" pay_money="{{ order.pay_money }}" user_id="{{ order.user_id }}" pay_name="{{order.trade_site_name}}" >确认退款</a>
					{% endif %}
				{% endif %}
				
			</div>
		</div>
	</div>
</div>
