<div class="card" id="product-{{ product._id }}">
    <div class="problock">
        <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});" class="thumb" target="_blank"></a>
        <div class="ribbons">
            {% if product.newest %}
            <span class="ribbon newest">NEW</span>
            {% endif %}
            {% if product.hot %}
            <span class="ribbon hot">HOT</span>
            {% endif %}
            {% if product.stick %}
            <span class="ribbon stick">推荐</span>
            {% endif %}
            {% if product.snatched %}
            <span class="ribbon snatched">限时抢购</span>
            {% endif %}
            {% if product.stage == 5 %}
            <span class="ribbon presale">正在预售</span>
            {% endif %}
            {% if product.stage == 12 %}
            <span class="ribbon presale">积分兑换</span>
            {% endif %}
        </div>
        <h2>
            <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line" target="_blank">
			    {{ product.title|truncate, 32, '' }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ product.advantage }}</p>
        </div>
        <div class="cats">
        {% if !product.stage==15 %}
            <i class="yen icon"></i>{{ product.sale_price }}

        {%endif%}
        </div>
        <span class="counter">
            <i class="heart icon"></i> {{ product.love_count }}
        </span>
    </div>
</div>
