<div class="card special" id="product-{{ product._id }}">
    <div class="problock">
        <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});" class="thumb"></a>
        <h2>
            <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
			    {{ product.title|truncate, 32, '' }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ product.advantage }}</p>
        </div>
        <div class="cats">
            <span class="unit">￥</span>{{ product.sale_price }}
        </div>
        <span class="counter">
            <i class="heart icon"></i> {{ product.love_count }}
        </span>
    </div>
    <div class="speblock">
        <div class="ribbons">
            <span class="ribbon featured">精选</span>
        </div>
        <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});" class="thumb spethumb">
            <div class="shadow"></div>
        </a>
        <div class="specialright">
            <h2>
                <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
    			    {{ product.title|truncate, 32, '' }}
    		    </a>
            </h2>
            <div class="excerpt">
                <p>{{ product.title }}</p>
            </div>
            <div class="more">
                <a href="" class="ui inverted button">查看更多</a>
            </div>
        </div>
    </div>
</div>