<div class="phenix-share">
	<span>分享：</span>
	<a href="javascript:void(0);" id="sina-share" title="新浪微博" class="ui red icon btn">
		<i class="weibo icon large circular red inverted"></i>
	</a>
	<a href="javascript:void(0);" id="wechat-share" class="ui green icon btn" title="微信">
		<i class="weixin icon large circular green inverted"></i>
	</a>
	<a href="javascript:void(0);" id="tencent-share" title="腾讯微博" class="ui blue icon btn">
		<i class="tencent weibo icon large circular blue inverted"></i>
	</a>

	<!--<a href="javascript:void(0);" id="douban-share" title="豆瓣" class="ui green icon btn">
		<i class="flat icon icon_douban large circular green inverted"></i>
	</a>-->
	<a href="javascript:void(0);" id="renren-share" title="人人网" class="ui blue icon btn">
		<i class="icon renren large circular blue inverted"></i>
	</a>
</div>
