<div class="ui share basic modal">
  	<i class="close icon"></i>
  	<div class="header">
		<h2 class="ui header">Share</h2>
		<hr>
  	</div>
	<div class="content">
		<h2 class="ui header" style="font-size: 24px;-webkit-font-smoothing: antialiased;">{{ product.title }}</h2>
		<div class="phenix-share">
			<a href="javascript:void(0);" id="sina-share" class="ui weibo circular share icon btn" title="新浪微博">
				<i class="large weibo icon circular red inverted"></i>
			</a>
			<!--<a href="javascript:void(0);" id="wechat-share" class="ui green circular share icon button" title="微信">
				<i class="flat icon_weixin icon"></i>
			</a>-->
			<a href="javascript:void(0);" id="tencent-share" class="ui blue circular share icon btn" title="腾讯微博">
				<i class="large tencent weibo icon circular blue inverted"></i>
			</a>
			<!--<a href="javascript:void(0);" id="douban-share" class="ui douban circular share icon btn" title="豆瓣">
				<i class="large douban icon circular green inverted"></i>
			</a>-->
			<a href="javascript:void(0);" id="renren-share" class="ui qzone circular share icon btn" title="QQ空间">
				<i class="large renren icon circular blue inverted"></i>
			</a>
		</div>
	</div>
</div>
