<span class="ui small rating hover">
	{% if product.stars == 0 %}
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	{% endif %}
	{% if product.stars == 1 %}
	<i class="icon active"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	{% endif %}
	{% if product.stars == 2 %}
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	{% endif %}
	{% if product.stars == 3 %}
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon star"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	{% endif %}
	{% if product.stars == 4 %}
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon"></i>
	{% endif %}
	{% if product.stars == 5 %}
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon active"></i>
	<i class="icon active"></i>
	{% endif %}
</span>