<div class="card" id="product-{{ stuff._id }}">
    <div class="problock">
        <a title="{{ stuff.title }}" href="{{ stuff.view_url }}" style="background-image: url({{ stuff.cover.thumbnails.hm.view_url }});" class="thumb" target="_blank"></a>
        <h2>
            <a href="{{ stuff.view_url }}" title="{{ stuff.title }}" class="ui line" target="_blank">
			    {{ stuff.title|truncate, 32, '' }}
		    </a>
        </h2>
        <div class="excerpt">
            <p>{{ stuff.strip_description|truncate 70 }}</p>
        </div>
        <div class="cats">
            
        </div>
        <span class="counter">
            <i class="heart icon"></i> {{ stuff.love_count }}
        </span>
    </div>
</div>