<div class="topicbox" id="{{ topic._id }}">
	
	<a href="{{ topic.view_url }}" title="{{ topic.title }}" class="ui cover line" target="_blank">
	{% if topic.cover %}
		<div class="ui image bglazy" data-original="{{ topic.cover.thumbnails.acs.view_url }}" style="background-color: #eee;background-size:cover;"></div>
    {% endif %} 
	{% if topic.cover._id != asset._id %}
	<div class="ui image bglazy" data-original="{{ asset.thumbnails.acs.view_url }}" style="background-color: #eee;background-size:cover;"></div>
	{% endif %}
    	<span class="flei">{{ topic.category.title }}</span>
	</a>
    
    <div class="content">
        <h2 class="title {%if topic.t_color==1%}topic-title-color-red{%endif%}{%if topic.t_color==2%}topic-title-color-blue{%endif%}{%if topic.t_color==3%}topic-title-color-green{%endif%}{%if topic.t_color==4%}topic-title-color-yellow{%endif%}">
            <a href="{{ topic.view_url }}" title="{{ topic.title }}-太火鸟智能硬件社区" class="ui line" target="_blank">
                {{ topic.attr_str }}{{ topic.title }}
            </a>
        </h2>
        <p class="description">
            {{ topic.strip_description }}
        </p>

        <p class="author">
            <span class="mesg">
                <a href="{{ topic.user.home_url }}" class="ui link">@{{ topic.user.nickname }}</a>
                <i class="time icon"></i>{{ topic.created_on|relative_datetime }}
            </span>
            <i class="unhide icon"></i> <span>{{ topic.view_count }}</span><!-- <i class="comments outline icon"></i> <span>{{ topic.comment_count }}</span>-->
        </p>
    </div>
</div>
