<div class="magenta item" id="product-{{ product._id }}">
  	<div class="image">
		<a href="{{ product.mm_view_url }}" title="{{ product.title }}">
      		<img src="{{ product.cover.thumbnails.medium.view_url }}" />
		</a>
  	</div>
  	<div class="content">
      	<h4 class="ui dividing header">
			<a href="{{ product.mm_view_url }}" title="{{ product.title }}" class="ui link">
				{{ product.title|truncate, 16, '' }}
			</a>
			<div class="advantage">{{ product.advantage }}</div>
		</h4>
		<div class="name clearfix">
			<span class="wxprice">
				微信价：<span class="ui magenta text">￥{{ product.sale_price }}</span> <span class="ui market text"><span class="price">￥{{ product.market_price }}</span></span>
			</span>
			<span class="like">
				{% if product.love_count %}
				<i class="heart icon"></i>
				{% else %}
				<i class="empty heart icon"></i>
				{% endif %}
				<span class="count">{{ product.love_count }}人喜欢</span>
			</span>
		</div>
  	</div>
</div>