{%extends 'layout/admin.html'%}

{% block layout_js %}
	{% if js_use_bundle %}
		<script type="text/javascript" src="{{ app_url_packaged }}/javascript/froala_editor.min.{{ js_jquery_bundle_version }}.js"></script>
	{% else %}
		<script src="{{ app_url_packaged }}/javascript/froala_editor.min.js" type="text/javascript"></script>
	{% endif %}
{% endblock %}

{% block jquery %}
	var file_count = 1;
	var ord = function(){
		return file_count++;
	};
	
	$('#editor').editable({
		inlineMode: false,
		toolbarFixed: false,
        theme: 'gray',
		language: 'zh_cn',
		borderColor: '#999',
		editorClass: 'bird',
		minHeight: 300,
		plainPaste: true,
		alwaysBlank: true,
		typingTimer: 2000,
		imageMargin: '20px',
		{% if mode == 'edit' %}
		defaultImageTitle: '{{ device.title }}',
		{% else %}
		defaultImageTitle: '太火鸟',
		{% endif %}
		buttons: ["bold", "italic", "underline","strikeThrough",{% if visitor.can_edit %} "fontSize", "color", "formatBlock",{% endif %} "sep", "align", "insertOrderedList", "insertUnorderedList", "outdent", "indent", "sep", "createLink", "insertImage", "insertVideo", "insertHorizontalRule", "undo", "redo", "selectAll", "html"],
		imageUploadURL: "{{ app_url_upload_pictures }}",
		imageUploadParams: {'token': '{{ editor_token }}','x:pid': '{{ editor_pid }}', 'x:domain': '{{ editor_domain }}', 'x:ord': file_count, 'x:user_id': {{ visitor.id }},'x:asset_type': {{ editor_asset_type }},'x:parent_id': '{{ device._id }}', 'file_id': '{{ editor_pid }}', 'editor_domain': '{{ editor_domain }}', 'editor_asset_type': '{{ editor_asset_type }}' },
		defaultImageWidth: '',
		maxImageSize: 1024 * 1024 * 3, // 3M
	}).on('editable.imageInserted',  function (e, editor, imageURL) {
		file_count++;
		// 重置参数
		$('#editor').editable("option", "imageUploadParams", {'token': '{{ editor_token }}','x:pid': '{{ editor_pid }}', 'x:domain': '{{ editor_domain }}', 'x:ord': file_count, 'x:user_id': {{ visitor.id }},'x:asset_type': {{ editor_asset_type }},'x:parent_id': '{{ device._id }}','file_id': '{{ editor_pid }}', 'editor_domain': '{{ editor_domain }}', 'editor_asset_type': '{{ editor_asset_type }}' });
        
    }).on('editable.afterRemoveImage', function (e, editor, $img) {
        // Set the image source to the image delete params.
        this.options.imageDeleteParams = {file_url: $img.attr('src')};
        
        // Make the delete request.
        this.deleteImage($img);
    }).on('editable.imageError', function (e, editor, error) {
		if (error.code == 5){
			error.message = '图片太大，请选择小于3M！';
		}
		phenix.show_error_note(error.message, 5000);
    });
	
	$('#device-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '标题不能为空'
				}
			]
		},
		content: {
			identifier  : 'content',
			rules: [
				{
					type   : 'empty',
					prompt : '内容不能为空'
				}
			]
		}
	}, {
		inline: true,
		onSuccess: function(event){
			event.preventDefault();
			$(event.target).ajaxSubmit();
		}
	});
	
	// 封面图上传
	$('#phenix-uploader').fineUploader({
      	request: {
			inputName:'file',
			params: {'token': '{{ token }}','x:pid': '{{ pid }}', 'x:domain': '{{ domain }}', 'x:ord': ord, 'x:user_id': {{ visitor.id }},'x:asset_type': {{ asset_type }},'x:parent_id': '{{ device._id }}','file_id': '{{ pid }}' },
        	endpoint: '{{ app_url_upload }}/device'
      	},
		text: {
            uploadButton: '<a class="ui active magenta labeled icon button" href="javascript:void(0);"><i class="flat add icon"></i>选择图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
		validation: {
	        allowedExtensions: ['jpeg', 'jpg', 'png'],
	        sizeLimit: 3145728 // 3M = 3 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {
		if(result.is_error){
			$('#product-upload-form').addClass('error');
			phenix.show_error_note(result.message);
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			
			$.get('{{ app_url_action_base }}/uploader/check_upload_assets', {'assets': result.data.ids, 'asset_type': {{ asset_type||default 0 }}, 'asset_domain':'{{ domain }}' });
		}
	});
	
	// 设置封面图
	$('#asset-list .ajax-cover').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-list .ajax-cover.active').removeClass('active');
			$(this).addClass('active');
			
			$('#device_cover_id').val(id);
			return false;
		});
	});
	
	// 设置Banner图
	$('#asset-list .ajax-banner').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-list .ajax-banner.active').removeClass('active');
			$(this).addClass('active');
			
			$('#device_banner_id').val(id);
			return false;
		});
	});
	
	$('.datepicker').pickadate();
	
{% endblock %}

{% block content %}
	<h3 class="ui header">设备管理</h3>
	<div class="ui secondary pointing magenta menu">
	  	<a class="item" href="{{ app_url_admin_base }}/device">全部列表</a>
	  	<div class="right menu">
			<a class="active item" href="{{ app_url_admin_base }}/device/edit">
				<i class="add icon"></i>新增设备
			</a>
	    </div>
	</div>
	
	<form action="{{ app_url_admin_base }}/device/save" class="ui form segment" method="post" id="device-form">
		<input type="hidden" name="_id" value="{{ device._id }}" />
		<input type="hidden" name="file_id" value="{{ pid }}" id="file_id" />
		
		<h3 class="ui dividing header">设备</h3>

		<div class="field">
		  	<label>名称：</label>
			<input type="text" name="title"  value="{{ device.title }}" />
		</div>
    <div class="three fields">
      <div class="field">
          <label>短名称：</label>
        <input type="text" name="short_title"  value="{{ device.short_title }}" />
        <div class="ui pointing top label">可不添</div>
      </div>
      <div class="field">
          <label>编号：</label>
        <input type="text" name="mark"  value="{{ device.mark }}" />
      </div>
    </div>

		<div class="field">
		  	<label>标签：</label>
			<input type="text" name="tags"  value="{{ device.tags_s }}" />
        <div class="ui pointing top label">用半角 , 区分</div>
		</div>
		
		<div class="field">
			<label>封面图：</label>
			<input type="hidden" name="cover_id" id="device_cover_id" value="{{ device.cover_id }}" />
			
		  	<div id="phenix-uploader"></div>
			<div id="asset-list" class="ui four blocks">
				{% if mode == 'edit' %}
					{% asset_list var:'assets' parent_id:device._id size:20 asset_type:86 %}
					{% for asset in assets.rows %}
					<div class="thumb block" id="{{ asset._id }}">
						<div class="image">
							<img src="{{ asset.thumbnails.small.view_url }}" />
							<input type="hidden" class="asset_id_list" name="asset[]" value="{{ asset._id }}" />
						</div>
						<div class="buttons">
							<div class="ui large links">
								<a href="{{ app_url_fever }}/delete_asset?id={{ device._id }}&asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
									<i class="remove icon"></i>
								</a>
								
								<a href="javascript:void(0);" class="ui link {%if device.cover_id == asset._id %}active {%endif%}ajax-cover pop" data-content="设置封面图" data-variation="inverted" data-value="{{ asset._id }}">
									<i class="checkered flag icon"></i>
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>

			<h3 class="ui dividing stage header">推荐</h3>
			<div class="grouped inline fields">

				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="stick" value="0" {% if device.stick == 0 %}checked="checked"{% endif %} /> 
						<label>否</label>
					</div>
					<div class="ui radio checkbox">
						<input type="radio" name="stick" value="1" {% if device.stick == 1 %}checked="checked"{% endif %} /> 
						<label>是</label>
					</div>
				</div>

			</div>

			<h3 class="ui dividing stage header">状态</h3>
			<div class="grouped inline fields">

				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="state" value="0" {% if device.state == 0 %}checked="checked"{% endif %} /> 
						<label>禁用</label>
					</div>
					<div class="ui radio checkbox">
						<input type="radio" name="state" value="1" {% if device.state == 1 %}checked="checked"{% endif %} /> 
						<label>启用</label>
					</div>
				</div>

			</div>
		
		<div class="field">
		  	<label>描述：</label>
		  	<textarea name="content" id="editor">{{ device.content }}</textarea>
		</div>
		
		<div class="ui divider"></div>
		
		<div class="field">
			<input type="submit" class="ui small active magenta button" value="确认保存" />
			<input type="reset" class="ui small cancel gray button" value="取消" />
		</div>
		
	</form>
{% endblock %}
