{%extends 'layout/app_admin.html'%}
{% block title %}新增/编辑品牌-{% endblock %}

{% block page_css %}

<style type="text/css">
  #asset-banner-list > .block > .image > img {
      width: 100%;
  }
  #asset-banner-list .buttons {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0;
  }
  #asset-banner-list .buttons .ui.link:hover {
      text-decoration: none;
  }

</style>

{% endblock %}

{% block jquery %}
	
	// 表单验证
	$('#active-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '名称不能为空'
				}
			]
		},
		cover_id: {
			identifier  : 'cover_id',
			rules: [
				{
					type   : 'empty',
					prompt : '请选择封面图'
				}
			]
		}

	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					// 点击前触发的事件
					phenix.before_submit();
				},
				success: function(data){
					// 点击后触发的事件
					phenix.after_submit();
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, 3000);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});
    
    var file_count = 1;
	  var ord = function(){
		return file_count++;
	};
    
    // 封面图上传
	$('#phenix-uploader').fineUploader({
      	request: {
			inputName:'file',
      params: {'token': '{{ token }}','x:pid': '{{ pid }}', 'x:domain': '{{ domain }}', 'x:ord': ord, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ asset_type }},'x:parent_id': '{{ date._id }}','file_id': '{{ pid }}' },
        	endpoint: '{{ app_url_upload }}/scene_brands'
      	},
		text: {
            uploadButton: '<a class="ui active orange labeled icon inverted button" href="javascript:void(0);"><i class="upload icon"></i>选择图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
		validation: {
	        allowedExtensions: ['jpeg', 'jpg', 'png'],
	        sizeLimit: 3145728 // 3M = 3 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {

		if(result.is_error){
			$('#active-form').addClass('error');
			phenix.show_error_note(result.message);
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			$.get('{{ app_url_action_base }}/uploader/check_upload_assets', {'assets': result.data.ids, 'asset_type': {{ asset_type||default 0 }}, 'asset_domain':'{{ domain }}' });
		}
	});

  // 上传Banner图
	$('#phenix-banner-uploader').fineUploader({
		debug: false,
      	request: {
			inputName:'file',
			params: {'token': '{{ token }}','x:pid': '{{ banner_pid }}', 'x:domain': '{{ domain }}', 'x:ord': ord, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ banner_asset_type }},'x:parent_id': '{{ date._id }}','file_id': '{{ banner_pid }}' },
        	endpoint: '{{ app_url_upload }}/scene_banner_brands'
      	},
		text: {
            uploadButton: '<a class="ui active magenta labeled icon upload button" href="javascript:void(0);"><i class="cloud upload icon"></i>选择图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
		validation: {
	        allowedExtensions: ['jpeg', 'jpg', 'png'],
	        sizeLimit: 5245728 // 5M = 5 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {
		if(result.is_error){
			$('#active-form').addClass('error');
			phenix.show_error_message(result.message);
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			
			$.get('{{ app_url_action_base }}/uploader/check_upload_product_assets?type=2', {'id': '{{ date._id }}', 'assets': result.data.ids, 'ref': 'onestep' });
		}
	});
    
    // 设置封面图
	$('#asset-list .ajax-cover').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-list .ajax-cover.active').removeClass('active');
			$(this).addClass('active');
			
			$('#cover_id').val(id);
			return false;
		});
	});

	// 设置Banner主图
	$('#asset-banner-list .ajax-banner').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-banner-list .ajax-banner.active').removeClass('active');
			$(this).addClass('active');
			
			$('#ad_banner_id').val(id);
			return false;
		});
	});

    // 标签
    $('#tags').tagsInput({
       //'autocomplete_url': url_to_autocomplete_api,
        //'autocomplete': { option: value, option: value},
       'height':'60px',
       'width':'auto',
       'interactive':true,
       'defaultText':'添加标签',
       //'onAddTag':callback_function,
       //'onRemoveTag':callback_function,
       //'onChange' : callback_function,
       'delimiter': [',',';','；','，'],   // Or a string with a single delimiter. Ex: ';'
       'removeWithBackspace' : true,
       'minChars' : 2,
       'maxChars' : 15, // if not provided there is no limit
       'placeholderColor' : '#666666'
    });

{% endblock %}

{% block content %}
<div class="admin">
	
	<h3 class="ui header">品牌管理</h3>
	<div class="ui secondary pointing magenta menu">
        <a href="{{ app_url_app_admin_base }}/brands" class="item {{ css_all }}">
			全部
		</a>

        <a href="{{ app_url_app_admin_base }}/brands/get_list?kind=2" class="item {{ css_store }}">
		    App商城展示
		</a>
	  	<div class="right menu">	
			<a href="{{ app_url_app_admin_base }}/brands/add" class="item">
				<i class="add icon"></i>新增品牌
			</a>
			<!--
            <a href="javascript:void(0);" class="item ajax-delete">
				<i class="remove icon"></i>批量删除
			</a>
			-->
	    </div>
	</div>	
	
	<form action="{{ app_url_app_admin_base }}/brands/save" class="ui form" method="post" id="active-form">
		<!-- 隐藏表单 -->
		<input type="hidden" name="id" value="{{ date._id }}" />
		<input type="hidden" name="return_url" value="{{ return_url }}" />
		
		<div class="ui segment from">

			<h3 class="ui dividing header">填写品牌信息</h3>

            <div class="field">
                <label>品牌名称</label>
                <input type="text" name="title" placeholder="品牌名称" value="{{ date.title }}" />
            </div>
            <div class="field">
                <label>品牌介绍</label>
                <textarea name="des" placeholder="品牌介绍">{{ date.des }}</textarea>
            </div>
            <!--
            <div class="field">
                <label>索引</label>
                <input type="text" name="mark" placeholder="索引" value="{{ date.mark }}" />
                <div class="description">品牌名首字母小写</div>
            </div>
            -->

            <div class="field">
                <label>标签</label>
				<input type="text" id="tags" name="tags" placeholder="添写标签" value="{{ date.tags_s }}" />
			</div>

            <h4 class="ui stage header">是否自营:</h4>
            <div class="grouped inline fields">
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="self_run" value="0" {% if date.self_run == 0 %}checked="checked"{% endif %} /> 
                  <label>否</label>
                </div>
                <div class="ui radio checkbox">
                  <input type="radio" name="self_run" value="1" {% if date.self_run == 1 %}checked="checked"{% endif %} /> 
                  <label>是</label>
                </div>

              </div>
            </div>

            <h4 class="ui stage header">位置:</h4>
            <div class="grouped inline fields">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="kind" value="2" {% if date.kind == 2 %}checked="checked"{% endif %} /> 
                  <label>在壳集展示</label>
                </div>

              </div>
            </div>
            
            <!--封面图-->
            <div class="ui segment">
                <div class="field">
                    <label>上传封面图</label>
                    <input type="hidden" name="cover_id" id="cover_id" value="{{ date.cover_id }}" />
                    <div id="phenix-uploader"></div>
                
                    <div id="asset-list" class="ui four blocks">
					{% if mode == 'edit' %}
						{% asset_list var:'assets' parent_id:date._id asset_type:asset_type size:10 %}
						{% for asset in assets.rows %}
						<div class="thumb block" id="{{ asset._id }}">
							<div class="image">
								<img src="{{ asset.thumbnails.small.view_url }}" />
								<input type="hidden" class="asset_id_list" name="asset[]" value="{{ asset._id }}" />
							</div>
							<div class="buttons">
								<div class="ui large links">
									<a href="{{ app_url_fever }}/delete_asset?id={{ date._id }}&asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
										<i class="remove icon"></i>
									</a>
									
									<a href="javascript:void(0);" class="ui link {%if date.cover_id == asset._id %}active {%endif%}ajax-cover pop" data-content="设置封面图" data-variation="inverted" data-value="{{ asset._id }}">
										<i class="checkered flag icon"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
                    </div>
                </div>
            </div>

			<div class="field">
        <label>上传Banner图: <small>图片尺寸: 840x473px</small></label>
				<input type="hidden" name="banner_id" id="ad_banner_id" value="{{ date.banner_id }}" />
			  	<div id="phenix-banner-uploader"></div>
			
				<div id="asset-banner-list" class="ui four blocks">
					{% if mode == 'edit' %}
						{% asset_list var:'banner_assets' parent_id:date._id asset_type:banner_asset_type size:10 %}
						{% for asset in banner_assets.rows %}
						<div class="thumb block" id="{{ asset._id }}">
							<div class="image">
								<img src="{{ asset.thumbnails.small.view_url }}" />
								<input type="hidden" class="asset_id_list" name="banner_asset[]" value="{{ asset._id }}" />
							</div>
							<div class="buttons">
								<div class="ui large links">
									<a href="{{ app_url_asset }}/deleted?asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
										<i class="remove icon"></i>
									</a>
									<a href="javascript:void(0);" class="ui link {%if date.banner_id == asset._id %}active {%endif%}ajax-banner pop" data-content="设置主图" data-variation="inverted" data-value="{{ asset._id }}">
										<i class="checkered flag icon"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			
			<div class="ui right aligned grid">
				<div class="column">
                    <div class="ui inverted grey button cancel">
						点击取消
					</div>
					<div class="ui magenta inverted button submit save">
						确认提交
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
