{%extends 'layout/column.html'%}
{% block page_css %}
<style type="text/css">

</style>
{% endblock %}

{% block jquery %}
	$('.ui.cart.button').click(function(){
		$.get($(this).attr('href'));
		return false;
	});

  //预售结束时间
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
{% endblock %}

{% block content %}
<ul class="nav-categories">
    {% category_list var:'category' only_open:1 domain:domain show_all:0 %}
	<li class="category">
        <a href="{{ app_url_shop }}/c0">
            <i class="sidebar icon"></i> <span class="computer only">全部分类</span>
        </a>
    </a>
	{% for cat in category.rows %}
    <li class="category {{ cat.active}}">
      	<a href="{{ cat.view_url }}">
            <i class="{{ cat.name }} icon"></i> <span class="computer only">{{ cat.title }}</span>
        </a>
    </li>
	{% endfor %}
</ul>

<div class="adstick shop list">
	<div class="ui adverts responsive grid">
		<div class="row">
			<div class="column">
        		{% ad_list var:'adslide2' page:1 size:4 state:2 name:'shop_home_stick' %}
                {% if adslide2.rows %}
                <div class="ui four adverts cards">
                    {% for ad in adslide2.rows %}
                    <div class="card">
                        <div class="advblock">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank"></a>
                            </div>
                            <div class="desc">
                                <h2>
                                    <!--{{ ad.title }}-->
                                </h2>
                            </div>
                            <a href="{{ ad.view_url }}" title="{{ ad.title }}" class="link wrap" target="_blank"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<div class="shop list" id="shoplist">
    <!--店长推荐-->
	<div class="ui newest responsive grid">
		<div class="row">
			<div class="column">
                {% product_list var:'newest' page:1 stage:9 only_onsale:1 type:4 size:8 sort:'latest' %}
                {% if newest.rows %}
                <div class="ui four products cards">
					{% for product in newest.rows %}
				  		{% include "block/product_card.html" %}
				    {% endfor %}
                </div>
				{% endif %}
            </div>
        </div>
    </div>
    
    <!--推荐品牌-->
	<div class="ui brands responsive grid">
		<div class="row">
			<div class="column">
        		{% ad_list var:'adslide2' page:1 size:6 state:2 name:'product_index_brands' %}
                {% if adslide2.rows %}
                <div class="ui six adverts cards">
                    {% for ad in adslide2.rows %}
                    <div class="card">
                        <div class="advblock">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank"></a>
                            </div>
                            <div class="desc">
                                <h2>
                                    <!--{{ ad.title }}-->
                                </h2>
                            </div>
                            <a href="{{ ad.view_url }}" title="{{ ad.title }}" class="link wrap" target="_blank"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>   
    
    <!--全球新品-->
	<div class="ui newest responsive grid">
		<div class="row">
			<div class="column">
				{% product_list var:'hotest' page:1 is_shop:1 only_onsale:1 size:12 sort:'stick:latest' %}
				{% if hotest.rows %}
				<div class="ui four products cards">
                    <div class="card special cat">
                        <div class="problock">
                            <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});" class="thumb"></a>
                            <h2>
                                <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
                    			    {{ product.title|truncate, 32, '' }}
                    		    </a>
                            </h2>
                            <div class="excerpt">
                                <p>{{ product.advantage }}</p>
                            </div>
                            <div class="cats">
                                <span class="unit">￥</span>{{ product.sale_price }}
                            </div>
                            <span class="counter">
                                <i class="heart icon"></i> {{ product.love_count }}
                            </span>
                        </div>
                        <div class="speblock">
                            <div class="randomcats">
                                <a class="catlink" href="{{ app_url_shop }}/c0" style="background-image: url('{{ app_url_packaged }}/images/topicbg/smart_sport.jpeg');">
                                    <h2>全球新品</h2>
                                    <p>我们用心挑选数以万计的创意产品，为你每次的一见钟情</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    
					{% for product in hotest.rows %}
                        {% include "block/product_card.html" %}
				    {% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
