{%extends 'layout/column.html'%}

{% block jquery %}
	var s = e(window).width();
	e("#fixedslide > .ui.slide > .item").width(s);
	
	var $frame = $('#fixedslide');
	// Call Sly on frame
	$frame.sly({
		horizontal: 1,
		itemNav: 'basic',
		smart: 1,
		activateMiddle: 1,
		activateOn: 'click',
		
		// Automated cycling
		cycleBy: "items",
		cycleInterval: 3500,
		pauseOnHover: 1,
		
		// Dragging
		mouseDragging: 1,
		touchDragging: 1,
		releaseSwing: 1,
		
		prev: "#fixedslide .prev",
		next: "#fixedslide .next",
		
		pagesBar: $frame.find('.pages'),
		pageItem: 'items',
		activatePageOn: 'click',
		pageBuilder: function(index){
			return '<a href="javascript:void(0);">'+ (index + 1) +'</a>';
		},
		
		// Mixed options
		startAt: 0,
		speed: 300,
		elasticBounds: 1,
		easing: 'easeInOutExpo',
		dragHandle: 1,
		dynamicHandle: 1,
		clickBar: 1,
	});
	
	$(window).resize(function() {
		var s=$(window).width();
		e("#fixedslide > .ui.slide > .item").width(s);
		
		$frame.sly('reload');
	});
	$('#minslider').flexslider({
        animation: "fade",
        controlNav: false,
        slideshow: true,
		slideshowSpeed: 4500,
		animationDuration: 800,
    });
	$('.ui.cart.button').click(function(){
		$.get($(this).attr('href'));
		return false;
	});

  //预售结束时间
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
{% endblock %}

{% block content %}
<div class="ui topicnew shopnew page">
	<div class="ui responsive grid slidebox">
        <div class="row">
            <div class="column">
				{% ad_list var:'adslide' page:1 size:6 state:2 name:'web_shop_slide' %}
                <div id="minslider" class="flexslider flex-single">
                    <ul class="slides">                    
                        {% for ad in adslide.rows %}
                            <li style="background-image: url('{{ ad.cover.fileurl }}');">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" alt="{{ ad.title }}" target="_blank">
                                    <img src="{{ ad.cover.fileurl }}" alt="{{ ad.title }}" style="display: none;" />
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                </div>
                <div class="controls-dots"></div>
            </div>
        </div>
    </div>
</div>


{% product_list var:'stick_list' page:1 type:2 only_onsale:1 size:4 sort:4 %}
<div class="shop list" id="shoplist" style="margin-bottom:0;">
    <!--店长推荐-->
	<div class="ui newest responsive grid">
		<div class="row">
			<div class="ui center aligned column">
              	<h2 class="ui header">热门商品</h2>
          	</div>
  		</div>
		<div class="row">
			<div class="column">
                <div class="ui four products cards">
					{% for product in stick_list.rows %}
				  		{% include "block/product_card.html" %}
				    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
	<!--  孵化产品  -->
	{% ad_list var:'adstick' page:1 state:2 size:4 name:'web_shop_index_stick_slide' sort_field:'latest' %}
	<div class="ui incub responsive grid">
		<div class="row">
			<div class="ui center aligned column">
				<h2 class="ui header">太火鸟孵化产品</h2>
			</div>
		</div>
		
		
		<div class="row">
			<div class="column">
				<div class="ui two products cards">
					{% for d in adstick.rows %}
					<div class="card">
						<div class="problock">
							<a title="{{ d.title }}" href="{{ d.view_url }}" style="padding-top:56.207%;" class="thumb">
								<img class="lazy" data-original="{{ d.cover.fileurl }}" src="{{ app_url_packaged }}/images/icon/loadbg.jpg">
							</a>
							<h2>
								<a href="{{ d.view_url }}" title="{{ d.title }}" class="ui line" target="_blank">{{ d.title }}</a>
							</h2>
							<div class="cats" style="padding: 8px;">
                            </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
		
	</div>
	
	<!-- 全部分类 -->
	<div class="ui responsive grid">
    	<div class="row">
        	<div class="column">
				<ul class="nav-categories" style="width: 100%;">
				    {% category_list var:'category' only_open:1 domain:domain show_all:0 %}
					{% for cat in category.rows %}
				    <li class="category {{ cat.active}}">
				      	<a href="{{ cat.view_url }}">
				            <div class="{{ cat.name }} catename" style="background-image:url({{ app_url_packaged }}/images/icon/{{ cat.name }}.png)"></div> <span class="computer only">{{ cat.title }}</span>
				        </a>
				    </li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	
	<!-- 推荐产品 -->
	<div class="ui newest responsive grid">
		<div class="row">
			<div class="column">
				{% category_list var:'category' only_open:1 domain:1 show_all:0 is_vendable:1 %}
				<div class="ui four products cards">

        {% for d in category.rows %}
            {% if d.odd_label %}

              {% product_list var:'list' page:1 category_id:d._id stage:9 only_onsale:1 sort:4 size:6 %}
              {% for product in list.rows %}
                  {% include "block/product_card.html" %}
                  {% if loop.counter==2 %}

                    <div class="card special">
                      <div class="speblock">
                        <a href="{{ d.view_url }}" class="thumb">
                        	<img class="lazy" data-original="{{ d.web_cover_url }}" src="{{ app_url_packaged }}/images/icon/loadbg.jpg">
                          <div class="content">
                            <h2 class="ui header">{{ d.title }}
                              <div class="sub header">
                                查看全部
                              </div>
                            </h2>
                          </div>
                        </a>
                        
                      </div>
                    </div>

                  {%endif%}
              {% endfor %}

            {%else%}

              {% product_list var:'list' page:1 category_id:d._id stage:9 only_onsale:1 sort:4 size:6 %}
              <div class="card special">
                <div class="speblock">
                  <a href="{{ d.view_url }}" class="thumb">
                  	<img class="lazy" data-original="{{ d.web_cover_url }}" src="{{ app_url_packaged }}/images/icon/loadbg.jpg">
                    <div class="content">
                      <h2 class="ui header">{{ d.title }}
                        <div class="sub header">
                          查看全部
                        </div>
                      </h2>
                    </div>
                  </a>
                  
                </div>
              </div>
              {% for product in list.rows %}
                  {% include "block/product_card.html" %}
              {% endfor %}

            {%endif%}

        {% endfor %}


				</div>
				
			</div>
		</div>
		
		<div class="row">
			<div class="center aligned column">
                <a href="{{ app_url_shop }}/c0" class="ui magenta large inverted more button">
                   <i class="search icon"></i> 查看全部产品
                </a>
            </div>
        </div>
		
		<div class="row">
			<div class="column">
				<img src="{{ app_url_packaged }}/images/shopfoot2.png" width="100%" align="absmiddle" style="padding: 40px 0 10px;">
			</div>
		</div>
	</div>
	
	
	
    <!--推荐品牌-->
	<!--<div class="ui brands responsive grid">
		<div class="row">
			<div class="column">
        		{% ad_list var:'adslide2' page:1 size:6 state:2 name:'product_index_brands' %}
                {% if adslide2.rows %}
                <div class="ui six adverts cards">
                    {% for ad in adslide2.rows %}
                    <div class="card">
                        <div class="advblock">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank"></a>
                            </div>
                            <div class="desc">
                                <h2>
                                   
                                </h2>
                            </div>
                            <a href="{{ ad.view_url }}" title="{{ ad.title }}" class="link wrap" target="_blank"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>   -->
    
    <!--全球新品-->
	<!--
	<div class="ui newest responsive grid">
		<div class="row">
			<div class="column">
				{% product_list var:'hotest' page:1 is_shop:1 only_onsale:1 size:16 sort:0 %}
				{% if hotest.rows %}
				<div class="ui four products cards">
                    <div class="card special cat">
                        <div class="problock">
                            <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.apc.view_url }});" class="thumb"></a>
                            <h2>
                                <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
                    			    {{ product.title|truncate, 32, '' }}
                    		    </a>
                            </h2>
                            <div class="excerpt">
                                <p>{{ product.advantage }}</p>
                            </div>
                            <div class="cats">
                                <span class="unit">￥</span>{{ product.sale_price }}
                            </div>
                            <span class="counter">
                                <i class="heart icon"></i> {{ product.love_count }}
                            </span>
                        </div>
						
                        <div class="speblock">
                            <div class="randomcats">
                                <a class="catlink" href="{{ app_url_domain }}/albums" style="background-image: url('{{ app_url_packaged }}/images/albums/album_banner_che.jpg');">
                                    <h2>产品专辑</h2>
                                    <p>甄选你偏爱的智能创意品味，收获无穷灵感与未来眼界</p>
                                    <span class="more">查看全部</span>
                                </a>
                            </div>
                        </div>
                    </div>
                  
					{% for product in hotest.rows %}
                        {% include "block/product_card.html" %}
				    {% endfor %}
			  </div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
                <a href="{{ app_url_shop }}/c0" class="ui magenta large inverted more button">
                   <i class="search icon"></i> 查看全部产品
                </a>
            </div>
        </div>
	</div>-->
	

	
</div>
{% endblock %}
