{%extends 'layout/column.html'%}
{% block page_css %}
<style type="text/css">
.adstick.list {
    margin: 1.5rem 0;
}

</style>
{% endblock %}

{% block jquery %}
	$('.ui.cart.button').click(function(){
		$.get($(this).attr('href'));
		return false;
	});

  //预售结束时间
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
{% endblock %}

{% block content %}
<div id="fixedslide" class="frame">
	{% ad_list var:'adslide' page:1 size:6 state:2 name:'web_index_slide' %}
	<div class="ui slide">
		{% for ad in adslide.rows %}
		<div class="item">
			<div class="featured-vendor {{ ad.text_align }}" style="background-image: url('{{ ad.cover.fileurl }}'); background-color: {{ ad.bgcolor }};">
				{% if ad.mode == 2 %}
				<div class="overlay">
					{% if ad.cate_title %}
					<h3>{{ ad.cate_title }}</h3>
					{% endif %}
					<h1>{{ ad.title }}</h1>
					<p class="snippet">
						{{ ad.sub_title }}
					</p>
					<a class="ui inverted button" href="{{ ad.view_url }}" target="_blank">{{ ad.btn_title }}</a>
				</div>
				{% else %}
				<a class="imglink" href="{{ ad.view_url }}" target="_blank"></a>	
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="pages"></div>
	<a class="prev" href="#">
		<i class="angle left icon"></i>
	</a>
	<a class="next" href="#">
		<i class="angle right icon"></i>
	</a>
</div>

<ul class="nav-categories">
    {% category_list var:'category' only_open:1 domain:domain show_all:0 %}
	<li class="category">
        <a href="{{ app_url_shop }}/c0">
            <i class="huge icons">
                <i class="big thin circle icon"></i>
                <i class="sidebar icon"></i>
            </i> 全部分类
        </a>
    </a>
	{% for cat in category.rows %}
    <li class="category {{ cat.active}}">
      	<a href="{{ cat.view_url }}">
            <i class="{{ cat.name }} icon"></i> {{ cat.title }}
        </a>
    </li>
	{% endfor %}
</ul>

<div class="adstick list">
	<div class="ui adverts grid">
		<div class="row">
			<div class="column">
        		{% ad_list var:'adslide2' page:1 size:4 state:2 name:'web_index_product_stick_slide' %}
                {% if adslide2.rows %}
                <div class="ui four adverts cards">
                    {% for ad in adslide2.rows %}
                    <div class="card">
                        <div class="advblock">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank"></a>
                            </div>
                            <div class="desc">
                                <h2>
                                    <!--{{ ad.title }}-->
                                </h2>
                                <p>{{ ad.sub_title }}</p>
                            </div>
                            <a href="{{ ad.view_url }}" title="{{ ad.title }}" class="link wrap" target="_blank"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<div class="shop list" id="shoplist">
	<div class="ui newest products grid">
		<div class="row">
			<div class="column">
                {% product_list var:'newest' page:1 stage:9 only_onsale:1 size:8 sort:'latest' %}
                {% if newest.rows %}
                <div class="ui four products cards">
					{% for product in newest.rows %}
				  		{% include "block/product_card.html" %}
				    {% endfor %}
                </div>
				{% endif %}
            </div>
        </div>
    </div>
    
    <!--推荐品牌-->
	<div class="ui brands grid">
		<div class="row">
			<div class="column">
        		{% ad_list var:'adslide2' page:1 size:6 state:2 name:'product_index_brands' %}
                {% if adslide2.rows %}
                <div class="ui six adverts cards">
                    {% for ad in adslide2.rows %}
                    <div class="card">
                        <div class="advblock">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank"></a>
                            </div>
                            <div class="desc">
                                <h2>
                                    <!--{{ ad.title }}-->
                                </h2>
                            </div>
                            <a href="{{ ad.view_url }}" title="{{ ad.title }}" class="link wrap" target="_blank"></a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endif%}
            </div>
        </div>
    </div>   
    
    <!--全球新品-->
	<div class="ui newest products grid">
		<div class="row">
			<div class="column">
				{% product_list var:'hotest' page:1 is_shop:1 only_onsale:1 size:12 sort:'stick:latest' %}
				{% if hotest.rows %}
				<div class="ui four products cards">
                    <div class="card special cat">
                        <div class="problock">
                            <a title="{{ product.title }}" alt="{%if product_alt_tag%}{{ product.tags.0 }}-太火鸟智能硬件商店{%else%}{{ product.title }}-太火鸟智能硬件商店{%endif%}" href="{{ product.view_url }}" style="background-image: url({{ product.cover.thumbnails.hm.view_url }});" class="thumb"></a>
                            <h2>
                                <a href="{{ product.view_url }}" title="{{ product.title }}" class="ui line">
                    			    {{ product.title|truncate, 32, '' }}
                    		    </a>
                            </h2>
                            <div class="excerpt">
                                <p>{{ product.advantage }}</p>
                            </div>
                            <div class="cats">
                                <span class="unit">￥</span>{{ product.sale_price }}
                            </div>
                            <span class="counter">
                                <i class="heart icon"></i> {{ product.love_count }}
                            </span>
                        </div>
                        <div class="speblock">
                            <div class="randomcats">
                                <a class="catlink" alt="" href="" style="background-image: url('http://frstatic.qiniudn.com/images/topicbg/smart-healthy.jpg');">
                                    <h2>全球新品</h2>
                                    <p>我们用心挑选数以万计的创意产品，为你每次的一见钟情</p>
                                    <span class="more">浏览更多新品</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
					{% for product in hotest.rows %}
                        {% if product._id == 1081900902 %}
                            {% include "block/product_card_special.html" %}
                        {% else %}
                            {% include "block/product_card.html" %}
                        {% endif %}
				    {% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
