{%extends 'layout/column.html'%}
{% block title %}积分商城-{% endblock %}
{% block page_css %}
<style type="text/css">

</style>
{% endblock %}

{% block jquery %}
    
{% endblock %}

{% block content %}
<div class="shop submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{% category_list var:'category' only_open:1 domain:domain show_all:0 %}
				<div class="ui horizontal list">
					<div class="item">
						<a class="ui link" href="{{ app_url_shop }}">商店</a>
					</div>
					<div class="item">
						<a class="ui link" href="{{ app_url_shop }}/c0">全部</a>
					</div>
					{% for cat in category.rows %}
				  	<div class="item">
						<a class="ui link" href="{{ cat.view_url }}">{{ cat.title }}</a>
					</div>
					{% endfor %}
				</div>
                <div class="ui horizontal quick list">
					<div class="item">
						<a class="ui link" href="{{ app_url_sale }}">新品预售</a>
					</div>
					<div class="item">
						<a class="ui link active" href="{{ app_url_shop }}/pmall">积分兑换</a>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>

<div class="category image" style="background-image:url('{{ app_url_packaged }}/images/point-banner.jpg');">
	<h1><!--placeholder--></h1>
    <div class="cover"></div>
</div>

<div class="shop list" id="shoplist">	
	<!--  积分换购  -->
	<div class="product redemption list">
		<div class="ui responsive grid">
			<div class="row">
				{% product_list var:'list' stage:12 only_onsale:1 size:10 %}
				<div class="column">
					<div class="ui four products cards">
                        {% for d in list.rows %}
                        {% if d.max_bird_coin %}
					  		{% include "block/exchange_item.html" %}
                        {%endif%}
                        {%endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="social submitbox">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column">
				<h2 class="ui header">
					怎样获取鸟币？
				</h2>
				<p>
                    快来攒经验，赢鸟币，兑换更酷更好玩的创新产品！
                    {% if visitor.is_login %}
                    <br >已有鸟币：<b class="ui magenta text">{{ current_point.balance.money|default 0 }}</b>
                    {% endif %}
                </p>
				<a href="{{ app_url_my }}/point" class="ui inverted magenta button">
					<i class="chart icon"></i> 获取鸟币方法
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
