{%extends 'layout/wechat.html'%}
{% block title %}收货地址-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.vertical.address.menu .item {
		padding: 0.83em 2.05em 0.83em 0.95em;
		cursor: pointer;
	}
	.ui.vertical.address.menu .item p {
		margin: 0.5em 0;
	}
	.ui.vertical.menu .item > i.icon {
	    position: absolute;
	    right: 5px;
	    top: 45%;
	}
</style>
{% endblock %}

{% block page_js %}
<script type="text/javascript">
	function getaddr(){
		if (typeof WeixinJSBridge == 'undefined') {
			// alert('WeixinJSBridge undefined');
			// setTimeout('getaddr()', 10);
			return false;
		} else {
			WeixinJSBridge.invoke('editAddress', {
					"appId" : '{{ wxaddr_options.appId }}',
					"scope" : "jsapi_address",
					"signType" : "sha1",
					"addrSign" : "{{ wxaddr_options.addrSign }}", 
					"timeStamp" : "{{ wxaddr_options.timeStamp }}",
					"nonceStr" : "{{ wxaddr_options.nonceStr }}",
				},function(res) {
					if (res != '') {
						// alert(res.err_msg);
						//已选择地址
						if(res.err_msg == 'edit_address:ok'){
							//获取成功
							var addr_html = new Array();
							
							addr_html.push('<p><b>送至：</b></p>');
							addr_html.push('<p>'+ res.proviceFirstStageName +','+ res.addressCitySecondStageName +','+ res.addressCountiesThirdStageName +','+ res.addressDetailInfo +'</p>');
							addr_html.push('<p>'+ res.userName+','+ res.telNumber +'</p>');
							
							$('#send-address')
								.html(addr_html.join(''))
								.show(function(){
									$('#userName').val(res.userName);
									$('#telNumber').val(res.telNumber);
									$('#addressPostalCode').val(res.addressPostalCode);
									$('#proviceFirstStageName').val(res.proviceFirstStageName);
									$('#addressCitySecondStageName').val(res.addressCitySecondStageName);
									$('#addressCountiesThirdStageName').val(res.addressCountiesThirdStageName);
									$('#addressDetailInfo').val(res.addressDetailInfo);
								});
							
							$('#choose-address').hide();
						}else{
							// setTimeout('getaddr()', 100);
							//获取失败
							// alert(res.err_msg);
							$('#choose-address').show();
							$('#send-address').hide();
	        			}
	      		 	} else {
	      			  //未选择地址
					  window.location.href = '...';
	      			}
	    		});
		}
	}
</script>
{% endblock %}

{% block jquery %}
	// 微信支付
	var wechat_pay = function() {
		// 传入公众号名称,时间戳,随机串,Package 扩展字段,签名方式和 PaySign 签名
		WeixinJSBridge.invoke('getBrandWCPayRequest', { 
			"appId" : "{{ wxoptions.appId }}", 
			"timeStamp" : "{{ wxoptions.timeStamp }}",
			"nonceStr" : "{{ wxoptions.nonceStr }}",
			"package" : "{{ wxoptions.package }}",
			"signType" : "SHA1",
			"paySign" : "{{ wxoptions.paySign }}"
			}, function(res){
				// 返回 res.err_msg,取值
				// get_brand_wcpay_request:cancel 用户取消 // get_brand_wcpay_request:fail 发送失败
				// get_brand_wcpay_request:ok 发送成功
				WeixinJSBridge.log(res.err_msg);
				alert(res.err_msg);
				// 支付成功
				if (res.err_msg == 'get_brand_wcpay_request:ok'){
					alert('支付成功！');
				} else if (res.err_msg == 'get_brand_wcpay_request:fail') { // 支付失败
					alert('支付失败！');
				} else if (res.err_msg == 'get_brand_wcpay_request:cancel') { // 支付失败
					alert('支付取消！');
				} else {
					alert('微信支付出现异常，请核对信息后重试！');
				}
		});
	};
	
	$('.ui.wxpay.button').bind('click', function(){
		// 更新订单
		// 获取地址
		var userName = $('#userName').val(), 
		    telNumber = $('#telNumber').val(),
			addressPostalCode = $('#addressPostalCode').val(),
			proviceFirstStageName = $('#proviceFirstStageName').val(),
			addressCitySecondStageName = $('#addressCitySecondStageName').val(),
			addressCountiesThirdStageName = $('#addressCountiesThirdStageName').val(),
			addressDetailInfo = $('#addressDetailInfo').val();
			
		if (!userName || !telNumber){
			alert('请先确认收货地址！');
			return false;
		}
		
		$.post('{{ app_url_domain }}/wxpay/confirm', { rid: '{{ rid }}', name: username, phone: telnumber, zip: addressPostalCode, province: proviceFirstStageName, city: addressCitySecondStageName, area: addressCountiesThirdStageName, address: addressDetailInfo }, function(res){
			if(res.success){
				wechat_pay();
			} else {
				alert(res.message);
			}
		},'json');
	});
	
	// 获取共享地址
	$('.ui.address').bind('click', function() {
		getaddr();
	});
	
{% endblock %}

{% block content %}
<div class="wechat checkout">
	<div class="ui responsive grid">		
		<div class="row">
			<div class="column">
				<div class="ui inverted green header">确认订单</div>
				
				<h3 class="ui dividing header"></h3>
				<div class="ui vertical fluid address menu">
					<div class="item ui address">
						<div id="choose-address">确认收货地址</div>
						<div id="send-address"></div>
						<i class="flat page_right icon"></i>
					</div>
					<input type="hidden" name="userName" id="userName" />
					<input type="hidden" name="telNumber" id="telNumber" />
					<input type="hidden" name="addressPostalCode" id="addressPostalCode" />
					<input type="hidden" name="proviceFirstStageName" id="proviceFirstStageName" />
					<input type="hidden" name="addressCitySecondStageName" id="addressCitySecondStageName" />
					<input type="hidden" name="addressCountiesThirdStageName" id="addressCountiesThirdStageName" />
					<input type="hidden" name="addressDetailInfo" id="addressDetailInfo" />
				</div>
				
				<button class="ui weixin active fluid wxpay button">微信支付</button>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}