{%extends 'layout/board.html'%}
{% block title %}商店-{% endblock %}
{% block page_css %}
<style type="text/css">
	 
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$('.ui.cart.button').click(function(){
		$.get($(this).attr('href'));
		return false;
	});
{% endblock %}

{% block content %}
<div class="wechat list">
	<div class="ui responsive grid">
		<div class="row">
			{% product_list var:'list' page:page category_id:category_id stage:9 only_onsale:1 size:16 %}
			{% if list.rows %}
			<div class="column">
				<div class="ui one items">
					{% for product in list.rows %}
				  		{% include "block/wechat_product_item.html" %}
				    {% endfor %}
				</div>
			</div>
			{% else %}
			<div class="center aligned column">
				没有更多鸟~~
			</div>
			{% endif %}
		</div>
		
		{% if list.total_page > 2 %}
		<div class="row">
			<div class="column">
				<div class="ui pagination grid">
					{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
			</div>
		</div>
		{% endif %}
		
	</div>
</div>
{% endblock %}