{%extends 'layout/admin.html'%}
{% block title %}编辑产品-{% endblock %}
{% block page_css %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ app_url_packaged }}/css/calendar-theme.css" title="Aqua" />
<style type="text/css">
	.ui.ok.button {
		margin-top: 1.7em;
	}
	.ui.add.button {
		padding: 0.3em;
		margin-left: 1em;
	}
	.ui.close.button {
		margin-top: 1.65em;
	}
	.ui.close.button > .icon {
		margin-top: 0.4em;
	}
	.ui.stage.header {
		margin-top: 2.5em;
	}
	.ui.items .item .actions {
		text-align: center;
	}
	.field > .ui.checkbox {
		margin-right: 1em;
	}
	.ui.checkbox .box, .ui.checkbox label {
		padding-left: 1.5em;
	}

  .ui.segment .four.fields .ui.icon.input input[type="text"]+input[type="button"]{
  padding: 0 0!important;
  height: 29px;
  width: 38px;
  border: 0px solid rgba(0,0,0,0);
  position: absolute;
  right: 5px;
  top: 2px;
  margin-bottom: 9px;
  }
</style>
{% endblock %}

{% block layout_js %}
	{% if js_use_bundle %}
		<script type="text/javascript" src="{{ app_url_packaged }}/javascript/froala_editor.min.{{ js_jquery_bundle_version }}.js"></script>
	{% else %}
		<script src="{{ app_url_packaged }}/javascript/froala_editor.min.js" type="text/javascript"></script>
	{% endif %}
	<script src="{{ app_url_packaged }}/javascript/calendar.js" type="text/javascript"></script>

  <script type="text/javascript">
  var oldLink = null;
  // code to change the active stylesheet
  function setActiveStyleSheet(link, title) {
    var i, a, main;
    for(i=0; (a = document.getElementsByTagName("link")[i]); i++) {
      if(a.getAttribute("rel").indexOf("style") != -1 && a.getAttribute("title")) {
        a.disabled = true;
        if(a.getAttribute("title") == title) a.disabled = false;
      }
    }
    if (oldLink) oldLink.style.fontWeight = 'normal';
    oldLink = link;
    link.style.fontWeight = 'bold';
    return false;
  }

  // This function gets called when the end-user clicks on some date.
  function selected(cal, date) {
    cal.sel.value = date; // just update the date in the input field.
    if (cal.dateClicked && (cal.sel.id == "sel1" || cal.sel.id == "sel2"))
      // if we add this call we close the calendar on single-click.
      // just to exemplify both cases, we are using this only for the 1st
      // and the 3rd field, while 2nd and 4th will still require double-click.
      cal.callCloseHandler();
  }

  // And this gets called when the end-user clicks on the _selected_ date,
  // or clicks on the "Close" button.  It just hides the calendar without
  // destroying it.
  function closeHandler(cal) {
    cal.hide();                        // hide the calendar
  //  cal.destroy();
    _dynarch_popupCalendar = null;
  }

  // This function shows the calendar under the element having the given id.
  // It takes care of catching "mousedown" signals on document and hiding the
  // calendar if the click was outside.
  function showCalendar(id, format, showsTime, showsOtherMonths) {
    var el = document.getElementById(id);
    if (_dynarch_popupCalendar != null) {
      // we already have some calendar created
      _dynarch_popupCalendar.hide();                 // so we hide it first.
    } else {
      // first-time call, create the calendar.
      var cal = new Calendar(1, null, selected, closeHandler);
      // uncomment the following line to hide the week numbers
      // cal.weekNumbers = false;
      if (typeof showsTime == "string") {
        cal.showsTime = true;
        cal.time24 = (showsTime == "24");
      }
      if (showsOtherMonths) {
        cal.showsOtherMonths = true;
      }
      _dynarch_popupCalendar = cal;                  // remember it in the global var
      cal.setRange(1900, 2070);        // min/max year allowed.
      cal.create();
    }
    _dynarch_popupCalendar.setDateFormat(format);    // set the specified date format
    _dynarch_popupCalendar.parseDate(el.value);      // try to parse the text in field
    _dynarch_popupCalendar.sel = el;                 // inform it what input field we use

    // the reference element that we pass to showAtElement is the button that
    // triggers the calendar.  In this example we align the calendar bottom-right
    // to the button.
    _dynarch_popupCalendar.showAtElement(el.nextSibling, "Br");        // show the calendar

    return false;
  }

  var MINUTE = 60 * 1000;
  var HOUR = 60 * MINUTE;
  var DAY = 24 * HOUR;
  var WEEK = 7 * DAY;

  // If this handler returns true then the "date" given as
  // parameter will be disabled.  In this example we enable
  // only days within a range of 10 days from the current
  // date.
  // You can use the functions date.getFullYear() -- returns the year
  // as 4 digit number, date.getMonth() -- returns the month as 0..11,
  // and date.getDate() -- returns the date of the month as 1..31, to
  // make heavy calculations here.  However, beware that this function
  // should be very fast, as it is called for each day in a month when
  // the calendar is (re)constructed.
  function isDisabled(date) {
    var today = new Date();
    return (Math.abs(date.getTime() - today.getTime()) / DAY) > 10;
  }

  function flatSelected(cal, date) {
    var el = document.getElementById("preview");
    el.innerHTML = date;
  }

  function showFlatCalendar() {
    var parent = document.getElementById("display");

    // construct a calendar giving only the "selected" handler.
    var cal = new Calendar(0, null, flatSelected);

    // hide week numbers
    cal.weekNumbers = false;

    // We want some dates to be disabled; see function isDisabled above
    cal.setDisabledHandler(isDisabled);
    cal.setDateFormat("%A, %B %e");

    // this call must be the last as it might use data initialized above; if
    // we specify a parent, as opposite to the "showCalendar" function above,
    // then we create a flat calendar -- not popup.  Hidden, though, but...
    cal.create(parent);

    // ... we can show it here.
    cal.show();
  }
  </script>
{% endblock %}

{% block jquery %}
	$('#product-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '标题不能为空'
				},
				{
					type   : 'maxLength[30]',
					prompt : '标题最多30个字符'
				}
			]
		},
		advantage: {
			identifier  : 'advantage',
			rules: [
				{
					type   : 'empty',
					prompt : '产品亮点不能为空'
				}
			]
		},
		tags: {
			identifier  : 'tags',
			rules: [
				{
					type   : 'empty',
					prompt : '产品标签不能为空'
				}
			]
		},
		designer_id: {
			identifier  : 'designer_id',
			rules: [
				{
					type   : 'empty',
					prompt : '产品设计师不能为空'
				}
			]
		},
		stage: {
			identifier  : 'stage',
			rules: [
				{
					type   : 'empty',
					prompt : '产品阶段不能为空'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, 3000);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});
	
	// 选择分类
	$('body').on('click', '.category.button', function(){
		var id = $(this).attr('data-value');
		if ($(this).hasClass('active')){
			$(this)
				.removeClass('active');
				
			$('#product-category').val('');
		}else{
			$(this)
				.siblings('.category.button').removeClass('active')
				.end()
				.addClass('active');
			$('#product-category').val(id);
		}
		
        return false;
	});
	
	
	// 设置sku
	$('#create-new-sku').bind('click', function(){
		$('.ui.sku.modal').modal('show');
	});
	
	$('#skus-form').livequery(function(){
		$(this).form({
			mode: {
				identifier  : 'mode',
				rules: [
					{
						type   : 'empty',
						prompt : '产品型号/颜色'
					}
				]
			},
			price: {
				identifier  : 'price',
				rules: [
					{
						type   : 'empty',
						prompt : '销售价格不能为空'
					}
				]
			},
			quantity: {
				identifier  : 'quantity',
				rules: [
					{
						type   : 'empty',
						prompt : '产品数量不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});
	
	// 编辑sku项
	$('.ui.edit.button').livequery(function(){
		$(this).click(function(){
			var r_id = $(this).data('id'), product_id = $(this).data('pid');
			$.get('{{ app_url_admin }}/product/edit_sku', {product_id: product_id, r_id: r_id});
		});
	});
	// 删除sku项
	$('.ui.remove.button').livequery(function(){
		$(this).click(function(){
			var r_id = $(this).data('id'), product_id = $(this).data('pid');
			if(confirm('确认执行删除操作吗?')){
	        	$.post('{{ app_url_admin }}/product/remove_sku', {product_id: product_id, r_id: r_id});
	        }
		});
	});
	
	var file_count = 1;
	var ord = function(){
		return file_count++;
	};
	
	$('#editor').editable({
		inlineMode: false,
		toolbarFixed: false,
        theme: 'gray',
		language: 'zh_cn',
		borderColor: '#999',
		editorClass: 'bird',
		minHeight: 300,
		plainPaste: true,
		alwaysBlank: true,
		typingTimer: 2000,
		imageMargin: '20px',
		{% if mode == 'edit' %}
		defaultImageTitle: '{{ product.title }}',
		{% else %}
		defaultImageTitle: '太火鸟',
		{% endif %}
		buttons: ["bold", "italic", "underline","strikeThrough",{% if visitor.can_edit %} "fontSize", "color", "formatBlock",{% endif %} "sep", "align", "insertOrderedList", "insertUnorderedList", "outdent", "indent", "sep", "createLink", "insertImage", "insertVideo", "table", "insertHorizontalRule", "undo", "redo", "selectAll", "html"],
		imageUploadURL: "{{ app_url_upload_pictures }}",
		imageUploadParams: {'token': '{{ editor_token }}','x:pid': '{{ editor_pid }}', 'x:domain': '{{ editor_domain }}', 'x:ord': file_count, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ editor_asset_type }},'x:parent_id': '{{ product._id }}','file_id': '{{ editor_pid }}', 'editor_domain': '{{ editor_domain }}', 'editor_asset_type': '{{ editor_asset_type }}' },
		defaultImageWidth: '',
		maxImageSize: 1024 * 1024 * 3, // 3M
		imageDeleteURL: '{{ app_url_action_base }}/asset/delete_from_editor',
	}).on('editable.imageInserted',  function (e, editor, imageURL) {
		file_count++;
		// 重置参数
		$('#editor').editable("option", "imageUploadParams", {'token': '{{ editor_token }}','x:pid': '{{ editor_pid }}', 'x:domain': '{{ editor_domain }}', 'x:ord': file_count, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ editor_asset_type }},'x:parent_id': '{{ product._id }}','file_id': '{{ editor_pid }}', 'editor_domain': '{{ editor_domain }}', 'editor_asset_type': '{{ editor_asset_type }}' });
        
    }).on('editable.afterRemoveImage', function (e, editor, $img) {
        // Set the image source to the image delete params.
        this.options.imageDeleteParams = {file_url: $img.attr('src')};
        
        // Make the delete request.
        this.deleteImage($img);
    }).on('editable.imageError', function (e, editor, error) {
		if (error.code == 5){
			error.message = '图片太大，请选择小于3M！';
		}
		phenix.show_error_note(error.message, 5000);
    });
	
	$('#phenix-uploader').fineUploader({
		debug: true,
      	request: {
			inputName:'file',
			params: {'token': '{{ token }}','x:pid': '{{ pid }}', 'x:domain': '{{ domain }}', 'x:ord': ord, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ asset_type }},'x:parent_id': '{{ product._id }}','file_id': '{{ pid }}' },
        	endpoint: '{{ app_url_upload_product }}'
      	},
		text: {
            uploadButton: '<a class="ui active magenta labeled icon upload button" href="javascript:void(0);"><i class="cloud upload icon"></i>选择图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
		validation: {
	        allowedExtensions: ['jpeg', 'jpg', 'png'],
	        sizeLimit: 3145728 // 3M = 3 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {
		if(result.is_error){
			$('#product-upload-form').addClass('error');
			phenix.show_error_message(result.message, $('#product-upload-form'));
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			
			$.get('{{ app_url_action_base }}/uploader/check_upload_product_assets', {'id': '{{ product._id }}', 'assets': result.data.ids, 'ref': 'onestep' });
		}
	});
	
	// 设置封面图
	$('#asset-list .ajax-cover').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-list .ajax-cover.active').removeClass('active');
			$(this).addClass('active');
			
			$('#product_cover_id').val(id);
			return false;
		});
	});
	
	$('.datepicker').pickadate();
	
{% endblock %}

{% block content %}
<div class="admin">
	<h3 class="ui header">产品管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/product" class="item">
			全部
		</a>
		<a href="{{ app_url_admin_base }}/product?stage=1" class="{% if stage == 1 %}active{%endif%} item">
			投票
		</a>
		<a href="{{ app_url_admin_base }}/product?stage=5" class="{% if stage == 5 %}active{%endif%} item">
			预售
		</a>
		<a href="{{ app_url_admin_base }}/product?stage=9" class="{% if stage == 9 %}active{%endif%} item">
			商店
		</a>
	  	<div class="right menu">
			{% if mode == 'edit' %}
			<div class="active item">
				<i class="edit icon"></i>编辑产品
			</div>
			{% endif %}		
			<a href="{{ app_url_admin_base }}/product/edit" class="item">
				<i class="add icon"></i>新增产品
			</a>
	    </div>
	</div>
	
	<form action="{{ app_url_admin_base }}/product/save?page={{ page }}" class="ui form" method="post" id="product-form">
		<input type="hidden" name="_id" value="{{ product._id }}" id="product_id" />
		<input type="hidden" name="file_id" value="{{ pid }}" id="file_id" />
		
		<div class="ui segment">
			<h3 class="ui dividing header">基本信息</h3>
			<div class="field">
				<label>产品名称</label>
			  	<input type="text" name="title" value="{{ product.title }}" />
			</div>
			<div class="field">
				<label>短标题</label>
			  	<input type="text" name="short_title" value="{{ product.short_title }}" />
			</div>
			<div class="field">
				<label>产品亮点</label>
			  	<input type="text" name="advantage" value="{{ product.advantage }}" />
			</div>
			<div class="field">
				<label>设计师</label>
			  	<input type="text" name="designer_id" value="{{ product.designer_id }}" />
				<div class="description">设计师的用户ID</div>
			</div>
			<div class="field">
				<label>产品简述</label>
			  	<textarea name="summary" class="small">{{ product.summary }}</textarea>
				<div class="description">请详细的描述</div>
			</div>
			
			<div class="field">
				<label>产品标签</label>
			  	<input type="text" name="tags" value="{{ product.tags_s }}" />
				<div class="description">标签之间使用，逗号隔开</div>
			</div>
			
			<div class="field">
				<label>产品链接</label>
			  	<input type="text" name="view_url" value="{{ product.view_url }}" />
			</div>
			
			<div class="field">
				<label>类别</label>
				<input type="hidden" name="category_id" value="{{ product.category_id }}" id="product-category" />
				{% category_list var:'category' only_open:1 domain:1 current:product.category_id %}
				{% for cat in category.rows %}
				<a class="ui {{ cat.active }} magenta category button" data-value="{{ cat._id }}">{{ cat.title }}</a>
				{% endfor %}
			</div>
			
			<h3 class="ui dividing stage header">产品当前阶段</h3>
			<div class="grouped inline fields">
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="stage" value="1" {% if product.stage == 1 %}checked="checked"{% endif %} /> 
						<label>投票阶段</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="stage" value="5" {% if product.stage == 5 %}checked="checked"{% endif %} /> 
						<label>预售阶段</label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="stage" value="9" {% if product.stage == 9 %}checked="checked"{% endif %} /> 
						<label>商店销售 <small>直接商店销售</small></label>
					</div>
				</div>
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="stage" value="12" {% if product.stage == 12 %}checked="checked"{% endif %} /> 
						<label>积分兑换 <small>只可用于鸟币或鸟币+差价兑换</small></label>
					</div>
				</div>
			</div>
			
			<h3 class="ui dividing stage header">产品历属设置</h3>
			<div class="inline field">
				<div class="ui checkbox">
		          	<input type="checkbox" name="process_voted" {% if product.process_voted %}checked="checked"{% endif %} />
		          	<label>投票</label>
		        </div>
				<div class="ui checkbox">
		          	<input type="checkbox" name="process_presaled" {% if product.process_presaled %}checked="checked"{% endif %} />
		          	<label>预售</label>
		        </div>
				<div class="ui checkbox">
		          	<input type="checkbox" name="process_saled" {% if product.process_saled %}checked="checked"{% endif %} />
		          	<label>商店 <small class="ui magenta text">（预售产品，结束后才能选择）</small></label>
		        </div>
			</div>
		</div>
		
		<div class="ui segment">
			<h3 class="ui dividing header">抢购设置</h3>
			<div class="inline field">
			  	<label>是否抢购：</label>
				<div class="ui checkbox">
		          	<input type="checkbox" name="snatched" {% if product.snatched %}checked="checked"{% endif %} />
		          	<label>开启</label>
		        </div>
			</div>
			<div class="four fields">
				<div class="field">
				  	<label>开始抢购日期：</label>
					<div class="ui icon input">
              <input type="text" name="snatched_time" value="{{ product.snatched_time|date 'Y-m-d H:i' }}" id="sel1" /><input type="button" value="..." onclick="return showCalendar('sel1', '%Y-%m-%d %H:%M', '24', true);" />
					</div>
				</div>
				<div class="field">
				  	<label>抢购价：</label>
					<input type="text" name="snatched_price" value="{{ product.snatched_price|default 0 }}" />
				</div>
				<div class="field">
				  	<label>抢购数量：</label>
					<input type="text" name="snatched_count" value="{{ product.snatched_count|default 0 }}" />
				</div>
				<div class="field">
				  	<label>预约人数：</label>
					<input type="text" name="appoint_count" value="{{ product.appoint_count|default 0 }}" />
				</div>
			</div>
		</div>

		<div class="ui segment">
			<h3 class="ui dividing header">积分设置</h3>
			<div class="inline field">
			  	<label>是否开启：</label>
				<div class="ui checkbox">
		          	<input type="checkbox" name="exchanged" {% if product.exchanged %}checked="checked"{% endif %} />
		          	<label>开启</label>
		        </div>
			</div>
			<div class="four fields">
				<div class="field">
				  	<label>最低可兑换鸟币数(1鸟币==1元)：</label>
					<input type="text" name="min_bird_coin" value="{{ product.min_bird_coin|default 0 }}" />
				</div>
				<div class="field">
				  	<label>最高可兑换鸟币数：</label>
					<input type="text" name="max_bird_coin" value="{{ product.max_bird_coin|default 0 }}" />
				</div>
				<div class="field">
				  	<label>兑换价格：</label>
					<input type="text" name="exchange_price" value="{{ product.exchange_price|default 0 }}" />
				</div>
				<div class="field">
				  	<label>兑换数量：</label>
					<input type="text" name="exchange_count" value="{{ product.exchange_count|default 0 }}" />
				</div>
			</div>
		</div>

		<div class="ui segment">
			<h3 class="ui dividing header">高级设置</h3>
			<div class="two fields">
				<div class="inline field">
				  	<label>是否试用：</label>
					<div class="ui checkbox">
			          	<input type="checkbox" name="trial" {% if product.trial %}checked="checked"{% endif %} />
			          	<label>开启</label>
			        </div>
				</div>
				
				<div class="inline field">
				  	<label>案例产品：</label>
					<div class="ui checkbox">
			          	<input type="checkbox" name="okcase" {% if product.okcase %}checked="checked"{% endif %} />
			          	<label>开启</label>
			        </div>
				</div>
			</div>
		</div>
		
		<div class="ui segment">
			<h3 class="ui dividing header">投票设置</h3>
			<div class="two fields">
				<div class="field">
				  	<label>开始时间：</label>
					<div class="ui icon input">
					  	<input type="text" name="voted_start_time" value="{{ product.voted_start_time|date 'Y-m-d' }}" class="datepicker" />
					  	<i class="calendar icon"></i>
					</div>
				</div>
				<div class="field">
				  	<label>结束时间：</label>
					<div class="ui icon input">
					  	<input type="text" name="voted_finish_time" value="{{ product.voted_finish_time|date 'Y-m-d' }}" class="datepicker" />
					  	<i class="calendar icon"></i>
					</div>
				</div>
			</div>
		</div>
		
		<div class="ui segment">
			<h3 class="ui dividing header">预售设置</h3>
			
			<div class="four fields">
				<div class="field">
				  	<label>开始时间：</label>
					<div class="ui icon input">
					  	<input type="text" name="presale_start_time" value="{{ product.presale_start_time|date 'Y-m-d' }}" class="datepicker" />
					  	<i class="calendar icon"></i>
					</div>
				</div>
				<div class="field">
				  	<label>结束时间：</label>
					<div class="ui icon input">
					  	<input type="text" name="presale_finish_time" value="{{ product.presale_finish_time|date 'Y-m-d' }}" class="datepicker" />
					  	<i class="calendar icon"></i>
					</div>
				</div>
				<div class="field">
				  	<label>预售目标金额：</label>
					<input type="text" name="presale_goals" value="{{ product.presale_goals }}" />
				</div>
				<div class="field">
				  	<label>预售数量：</label>
					<input type="text" name="presale_inventory" value="{{ product.presale_inventory }}" id="presale_inventory" />
				</div>
			</div>
		</div>
		
		<div class="ui segment">
			<h3 class="ui dividing header">销售设置</h3>
			<div class="three fields">
				<div class="field">
				  	<label>原价：</label>
					<input type="text" name="market_price" value="{{ product.market_price }}" />
				</div>
				<div class="field">
				  	<label>折扣价：</label>
					<input type="text" name="sale_price" value="{{ product.sale_price }}" />
				</div>
				<div class="field">
				  	<label>销售数量：</label>
					<input type="text" name="inventory" value="{{ product.inventory }}" id="inventory" />
				</div>
			</div>
			
			{% if mode == 'edit' %}
			<div class="field">
				<h3 class="ui dividing header">
					产品型号/颜色/数量<small class="ui magenta text">（仅限销售商品的设置）</small>
				</h3>
			</div>
			
			{% sku_list var:'skus' product_id:product._id stage:9 %}
			<div class="ui seg grid">
				<div class="row">
					<div class="center aligned column">
						<div class="ui five items" id="product-skus">
							{% for sku in skus.rows %}
							<div class="item" id="{{ sku._id }}" data-id="{{ sku._id }}">
								<div class="content">
									<p>
										<label>产品型号：</label>{{ sku.mode }}
									</p>
									<p>
										<label>产品数量：</label>{{ sku.quantity }} 个
									</p>
									<p>
										<label>已售数量：</label>{{ sku.sold }} 个
									</p>
									<p>
										<label>销售价格：</label>￥ {{ sku.price }}
									</p>
									
									<div class="actions">
										<a class="ui small gray icon edit button" data-id="{{ sku._id }}" data-pid="{{ sku.product_id }}">
											<i class="edit icon"></i>
										</a>
										<a class="ui small gray icon remove button" data-id="{{ sku._id }}" data-pid="{{ sku.product_id }}">
											<i class="remove icon"></i>
										</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
						<a class="ui magenta icon btn" href="javascript:void(0);" id="create-new-sku">
							<i class="flat add icon"></i> 添加SKU
						</a>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		
		<div class="ui segment">
			<div class="field">
				<label>上传产品图片</label>
				<input type="hidden" name="cover_id" id="product_cover_id" value="{{ product.cover_id }}" />
			  	<div id="phenix-uploader"></div>
			
				<div id="asset-list" class="ui four blocks">
					{% if mode == 'edit' %}
						{% asset_list var:'assets' parent_id:product._id asset_type:10 size:20 %}
						{% for asset in assets.rows %}
						<div class="thumb block" id="{{ asset._id }}">
							<div class="image">
								<img src="{{ asset.thumbnails.small.view_url }}" />
								<input type="hidden" class="asset_id_list" name="asset[]" value="{{ asset._id }}" />
							</div>
							<div class="buttons">
								<div class="ui large links">
									<a href="{{ app_url_asset }}/deleted?asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
										<i class="remove icon"></i>
									</a>
									<a href="javascript:void(0);" class="ui link ajax-cover {%if asset._id == product.cover_id %}active{%endif%} pop" data-content="设置封面图" data-variation="inverted" data-value="{{ asset._id }}">
										<i class="checkered flag icon"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="field">
				<label>产品详细说明</label>
				<textarea name="content" placeholder="详细内容" id="editor">
					{{ product.content }}
				</textarea>
			</div>
		</div>
		
		<div class="ui right aligned grid">
			<div class="column">
				<div class="ui gray cancel inverted button">
					取消
				</div>
				<div class="ui magenta submit inverted button">
					确认提交
				</div>
			</div>
		</div>
		
	</form>
</div>
{% include "block/shopping/skubox.html" %}
{% endblock %}
