{%extends 'layout/column.html'%}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}
{% block content %}
<section class="about-banner">
	<div class="ui center aligned grid">
		<div class="row">
			<div class="center aligned twelve wide column">
				<h1 class="ui header">
					<div class="content">
						关于太火鸟
						<div class="sub header">
							太火鸟致力建设基于消费者及设计师的大数据，网站整合创意产品社区与电子商务服务为一体，利用众筹到众包方式，让社区参与产品开发整个过程，包括提交创意、审核、估值、开发、预售、生产、销售等多个流程。太火鸟帮设计师成就梦想，太火鸟助消费者品味生活！人生是场大设计。
						</div>
					</div>
				</h1>
			</div>
		</div>
	</div>
</section>

<section class="ui big white background principle block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">我们的原则</h3>
				<p>建设一个店很容易。建立社区是很难的。 我们正在建立一个社会支持发明和创新。</p>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="four center aligned wide column">
				<h3 class="ui header">信任</h3>
				<i class="flat users2 icon"></i>
				<p>首先我们是一个致力于帮助创新，小企业的社区。</p>
			</div>
			<div class="four center aligned wide column">
				<h3 class="ui header">安全</h3>
				<i class="flat Safety icon"></i>
				<p>安全交易和最好的客户服务确保一个安全的环境。</p>
			</div>
			<div class="four center aligned wide column">
				<h3 class="ui header">质量</h3>
				<i class="flat Quality icon"></i>
				<p>产品和卖家进行审查，以确保最高的质量。</p>
				
			</div>
		</div>
	</div>
</section>

<section class="ui big magenta backgroud block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column">
				<h3 class="ui header">太火鸟大事记</h3>
				<p>我们正在建立一个社会支持发明和创新。</p>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</section>

<section class="ui big world block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column">
				<h3 class="ui header">活动瞬间</h3>
				<p>一些图片从我们已经参加了与其他厂商在世界各地的事件。</p>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<div class="ui medium images">
					<img src="{{ app_url_packaged }}/images/event-01.jpg" />
					<img src="{{ app_url_packaged }}/images/event-02.jpg" />
					<img src="{{ app_url_packaged }}/images/event-03.jpg" />
					<img src="{{ app_url_packaged }}/images/event-04.jpg" />
					<img src="{{ app_url_packaged }}/images/event-05.jpg" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ui big team white background block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">我们团队</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="center aligned fourteen wide column">
				<div class="ui medium images">
					<img src="{{ app_url_packaged }}/images/a-byheart.png" class="circular ui image pop"  data-content="人生是场大设计 - <i>火雷鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-purpen.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>明月鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-zhuhong.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>布谷鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-bobo.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>始祖鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-ting.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>黑尾鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-dali.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>绿米鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-yonglin.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>大林鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-xinyu.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>飞鱼鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-yanan.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>几维鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-ruby.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>妙声鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-dan.jpg" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>百灵鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-qmei.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>画眉鸟</i>" data-variation="inverted" />
					<img src="{{ app_url_packaged }}/images/a-feng.png" class="circular ui image pop" class="circular ui image pop"  data-content="人生是场大设计 - <i>大峰鸟</i>" data-variation="inverted" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ui big media block">
	<div class="ui responsive center aligned grid">
		<div class="row only-one">
			<div class="center aligned column section-title">
				<h3 class="ui header">媒体报道</h3>
				<hr>
			</div>
		</div>
	</div>
	<div class="ui responsive grid">
		<div class="row only-one">
			<div class="four wide column">
				<div class="article wrapper">
					<span class="created time">03/19/2014</span>
					<span class="media">和讯科技</span>
					<h4 class="ui header">
						<div class="content">
							<a href="http://economy.gmw.cn/2014-07/23/content_12125545.htm" target="_blank" class="ui magenta link">太火鸟荣幸入选微软孵化器第五期创业团队</a>
							<div class="sub header">
								太火鸟荣幸成为微软孵化器第五期创业团队的一员，团队合影出现在今早的纽约时代广场大屏幕上。感谢微软孵化器! 太火鸟能够脱颖而出，在于其不断的努力及创新的商业模式!
							</div>
						</div>
					</h4>
					
					<a class="article overlay" href="http://economy.gmw.cn/2014-07/23/content_12125545.htm" target="_blank">
						<div class="article overlay content">
							<hr>
							<span class="type">
								查看阅读
								<i class="long arrow right icon arw"></i>
							</span>
							<p class="para">太火鸟荣幸入选微软孵化器第五期创业团队</p>
						</div>
					</a>
				</div>				
			</div>
			
			<div class="four wide column">
				<div class="article wrapper">
					<span class="created time">03/21/2014</span>
					<span class="media">动点科技</span>
					<h4 class="ui header">
						<div class="content">
							<a href="http://finance.qq.com/a/20140516/034131.htm" target="_blank" class="ui magenta link">太火鸟:在创新产品中淘金 获真格基金领投200万美元投资</a>
							<div class="sub header">
								太火鸟taihuoniao.com这家公司在2014年春获得真格基金领投的约200万美金天使投资[中国天使投资界的领袖人物：徐小平]，幕后还包括多位不肯透露的著名天使投资人及机构。
							</div>
						</div>
					</h4>
					
					<a class="article overlay" href="http://finance.qq.com/a/20140516/034131.htm" target="_blank">
						<div class="article overlay content">
							<hr>
							<span class="type">
								查看阅读
								<i class="long arrow right icon arw"></i>
							</span>
							<p class="para">太火鸟:在创新产品中淘金 获真格基金领投200万美元投资</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="four wide column">
				<div class="article wrapper">
					<span class="created time">03/19/2014</span>
					<span class="media">光明科技</span>
					<h4 class="ui header">
						<div class="content">
							<a href="http://tech.sina.com.cn/roll/2014-04-22/19405900046.shtml" target="_blank" class="ui magenta link">太火鸟南飞创博会 CCTV新闻联播报道</a>
							<div class="sub header">
								太火鸟展区位于展区5A馆设计入口处，占据最醒目位置 ，其新奇的创意、独特的设计吸引了大批游客。同时，18日晚CCTV新闻联播报道了太火鸟平台线上独家销售的商品...
							</div>
						</div>
					</h4>
					
					<a class="article overlay" href="http://tech.sina.com.cn/roll/2014-04-22/19405900046.shtml" target="_blank">
						<div class="article overlay content">
							<hr>
							<span class="type">
								查看阅读
								<i class="long arrow right icon arw"></i>
							</span>
							<p class="para">太火鸟南飞创博会 CCTV新闻联播报道</p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="four wide column">
				<div class="article wrapper">
					<span class="created time">01/20/2014</span>
					<span class="media">优酷土豆</span>
					<h4 class="ui header">
						<div class="content">
							<a href="http://v.youku.com/v_show/id_XNjY2NDkzMjEy.html" target="_blank" class="ui magenta link">视频: 马年第一神曲爆搞笑《我赚钱鸟之马年太火鸟》</a>
							<div class="sub header">
								马年第一神曲爆搞笑《我赚钱鸟之马年太火鸟》笑到肚子痛〜太火鸟 我赚钱鸟 赚钱鸟 我都不知道怎么去花鸟  我左手抢个小米米，右手握个土豪金 〜〜〜推广的第一炮确实打得不错!
							</div>
						</div>
					</h4>
					
					<a class="article overlay" href="http://v.youku.com/v_show/id_XNjY2NDkzMjEy.html" target="_blank">
						<div class="article overlay content">
							<hr>
							<span class="type">
								查看阅读
								<i class="long arrow right icon arw"></i>
							</span>
							<p class="para">视频: 马年第一神曲爆搞笑《我赚钱鸟之马年太火鸟》</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<a href="{{ app_url_action_base }}/guide/media" class="ui magenta btn-4 btn-4c icon-arrow-right btn">
					查看更多
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
