{%extends 'layout/board.html'%}
{% block page_css %}
{% endblock %}

{% block jquery %}
{% endblock %}

{% block content %}
<section class="ui big block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">成功案例</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<div class="ui two items">
					<div class="item">
						<div class="image">
							<a href="" title="Goccia－全球最小的智能可穿戴">
					      		<img src="{{ app_url_packaged }}/images/case-goccia.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								Goccia－全球最小的智能可穿戴
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">297,952</span> 元      支持人数：<span class="ui magenta text">504</span> 个      达成率：<span class="ui magenta text">595％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="世界首款太阳能电子蜡烛灯">
					      		<img src="{{ app_url_packaged }}/images/case-light.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								世界首款太阳能电子蜡烛灯
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">166,767</span> 元      支持人数：<span class="ui magenta text">1537</span> 个      达成率：<span class="ui magenta text">833％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-dm.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								全球首款革命性智能空气净化器
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">1,108,408</span> 元      支持人数：<span class="ui magenta text">218</span> 个        达成率：<span class="ui magenta text">3695％</span>    
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="连爱智能手环">
					      		<img src="{{ app_url_packaged }}/images/case-linkloving.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								连爱智能手环
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">273,512</span> 元      支持人数：<span class="ui magenta text">1955</span> 个      达成率：<span class="ui magenta text">2735％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-lisa.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								LISA智能孕表—您的孕期贴身闺蜜
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">140,319</span> 元      支持人数：<span class="ui magenta text">296</span> 个        达成率：<span class="ui magenta text">1403％</span>    
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-ezons3.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h3 class="title">
								EZON宜准蓝牙智能S3运动表
							</h3>
							<div class="name">
								众筹金额：<span class="ui magenta text">103,811</span> 元      支持人数：<span class="ui magenta text">209</span> 个        达成率：<span class="ui magenta text">1038％</span>    
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
