{%extends 'layout/board.html'%}
{% block title %}成功案例-{% endblock %}
{% block page_css %}
{% endblock %}

{% block jquery %}
{% endblock %}

{% block content %}
<section class="ui small block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">成功案例</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<div class="ui two items">
					<div class="item">
						<div class="image">
							<a href="" title="Goccia－全球最小的智能可穿戴">
					      		<img src="{{ app_url_packaged }}/images/case-goccia.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								Goccia－全球最小的智能可穿戴
								<p class="sub header">限量版2天内售罄，突破30万!</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">300,000</span> 元      支持人数：<span class="ui magenta text">610</span> 个      达成率：<span class="ui magenta text">600％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="世界首款太阳能电子蜡烛灯">
					      		<img src="{{ app_url_packaged }}/images/case-light.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								世界首款太阳能电子蜡烛灯
								<p class="sub header">极短时间筹得近17万,销售已突破约3000台!</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">166,767</span> 元      支持人数：<span class="ui magenta text">1537</span> 个      达成率：<span class="ui magenta text">833％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-dm.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								全球首款革命性智能空气净化器
								<p class="sub header">京东众筹目前唯一超过百万的智能硬件产品!</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">1215,983</span> 元      支持人数：<span class="ui magenta text">243</span> 人        达成率：<span class="ui magenta text">4053％</span>    
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="连爱智能手环">
					      		<img src="{{ app_url_packaged }}/images/case-linkloving.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								连爱智能手环
								<p class="sub header">10天内突破27万，就是这样！</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">273,512</span> 元      支持人数：<span class="ui magenta text">1955</span> 个      达成率：<span class="ui magenta text">2735％</span>
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-lisa.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								LISA智能孕表—您的孕期贴身闺蜜
								<p class="sub header">国内一款针对母婴群体的智能手表！</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">140,319</span> 元      支持人数：<span class="ui magenta text">296</span> 个        达成率：<span class="ui magenta text">1403％</span>    
							</div>
						</div>
					</div>
					
					<div class="item">
						<div class="image">
							<a href="" title="LISA智能孕表—您的孕期贴身闺蜜">
					      		<img src="{{ app_url_packaged }}/images/case-ezons3.jpg" class="ui image" />
							</a>
						</div>
						<div class="content">
							<h4 class="ui header">
								EZON宜准蓝牙智能S3运动表
								<p class="sub header">最高端智能运动表-中国智能运动表领跑者！</p>
							</h4>
							<div class="name">
								众筹金额：<span class="ui magenta text">103,811</span> 元      支持人数：<span class="ui magenta text">209</span> 个        达成率：<span class="ui magenta text">1038％</span>    
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
