{%extends 'layout/column.html'%}
{% block title%}联系我们-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.grid{
		margin:0;
	}
	.contact-banner {
	background: url({{ app_url_packaged }}/images/contact_banner.jpg) no-repeat scroll center top / cover #565960;
	color: #FFF;
	padding: 120px 8% 100px;
	}
	.contact-banner p{
		font-size:30px;
		padding:0 0 30px;
		margin:0;
	}
	.contact-banner h2.ui.header{
		font-size:48px;
		margin:0;
	}
	.contact-banner .sub.header{
		padding-top:40px !important;
		color:#fff !important;
		font-size:30px !important;
		margin:0 !important;
		line-height: 50px !important;
	}
	.contact-banner+.ui.big.block .row:nth-child(2) .item p:first-child{
		margin-top:0;
	}
	.ui.four.parents>.children>.content:hover{
		cursor: auto;
	}
	
	.ui.map{
		position:relative;
	}
	.ui.map .row .column{
		padding:0 !important;
	}
	.position.row{
		position:absolute;
		top:50px;
		width:360px;
		text-align: left;
		right:3%;
	}
	.position.row .item{
		-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4) !important;
		box-shadow: 0 3px 5px rgba(0,0,0,0.4) !important;
	}
	.position.row .image img{
		width:100%;
	}
	.position.row .one.items{
		background:#fff;
	}
	.position.row .content{
		padding:0.6em 1em 1.5em;
	}
	.icon-place:before {
	    content: "\f124";
		color:#f36;
		font-size: 1.5em;
	}
	.icon-place.icon{
		opacity:1;
	}
	.ui.respon-2{
		padding:25px 16%;
	}
	.ui.respon-2 .center.aligned .content{
		padding:20px;
	}
	.ui.respon-2 .five.wide:last-child .content{
		line-height:190px;
	}
</style>
{% endblock %}
{% block layout_js %}
  <!--引用百度地图API-->
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=N8Y86jHulT4qDOAmLb47vU7y"></script>
  <script type="text/javascript" >
    //创建和初始化地图函数：
    	var map = new BMap.Map("allmap");
		var point = new BMap.Point(116.504988, 39.990507);
		map.centerAndZoom(point, 15);
		var marker = new BMap.Marker(point);  // 创建标注
		map.addOverlay(marker);               // 将标注添加到地图中
		//marker.setAnimation(BMAP_ANIMATION_BOUNCE);	//动画定位
		
		/*****  position icon *****/
		/*var marker = new BMap.Marker(point,{icon:new BMap.Icon("{{ app_url_packaged }}/images/map_icon.png",new BMap.Size(25,35),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
		map.addOverlay(marker); */
		
		map.addControl(new BMap.MapTypeControl());	//地图 卫星 三维
		map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT}));	//标尺
		map.addControl(new BMap.NavigationControl());	//放大 移动
		
		var opts = {
			  position : point,    // 指定文本标注所在的地理位置
			  offset   : new BMap.Size(-70, -20)    //设置文本偏移量
			}
			var label = new BMap.Label("太火鸟", opts);  // 创建文本标注对象
				label.setStyle({
					 color : "#666",
					 fontSize : "14px",
					 height : "20px",
					 lineHeight : "20px",
					 fontFamily:"微软雅黑",
					 border:"1px solid #ccc",
					 padding:"0 5px"
				 });
			map.addOverlay(label);

  </script>
{% endblock %}

{% block js %}
{% endblock %}
{% block jquery %}
{% endblock %}
{% block content %}
<section class="contact-banner">
	<div class="ui center aligned grid">
		<div class="row">
			<div class="center aligned tweleve wide column">
				<p>太火鸟科技  ｜  北京<small>（总部）</small> · 深圳 · 香港</p>
				<h2 class="ui header">
					<div class="content">
						中国创新产品策源地
						<div class="sub header">
							tttps://www.taihuoniao.com<br>
							hotline: 4008 - 798 - 751
						</div>
					</div>
				</h2>
			</div>
		</div>
	</div>
</section>

<section class="ui big block">
	<div class="ui responsive grid">
		<div class="center aligned row">
			<div class="center aligned column section-title">
				<h3 class="ui header">联系我们</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<div class="item">
					<p>地址(北京总部)：朝阳区 酒仙桥路4号 751北京时尚设计广场 极地创新中心218室 / P.c.100015</p>
					<p>地址(深圳)：福田区 保税区市花路 花样年福年广场 B栋629室 / P.c.518000</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="column">
				<div class="ui four parents">
					<div class="children">
						<div class="content">
							<h4 class="ui header">商品合作</h4>
							<p>+8610  8459 9327</p>
							<p>products@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">市场合作</h4>
							<p>+8610   8459 9374</p>
							<p>support@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">渠道合作</h4>
							<p>+8610  8459 9384</p>
							<p>sales@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">社区合作</h4>
							<p>+8610  8459 9323</p>
							<p>bbs@taihuoniao.com</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<div class="ui four parents">
				  <div class="children">
						<div class="content">
							<h4 class="ui header">铟立方未来实验室</h4>
							<p>+0755  2266 2313</p>
							<p>d3in@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">售后服务</h4>
							<p>+8610  8459 9327</p>
							<p>service@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">加入我们</h4>
							<p>+8610  8459 9328</p>
							<p>hi@taihuoniao.com</p>
						</div>
					</div>
					<div class="children">
						<div class="content">
							<h4 class="ui header">意见反馈</h4>
							<p>feedback@taihuoniao.com</p>
							<p>&nbsp</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="ui map grid" style="width:100%">
	<div class="row">
	  <div class="center aligned column">
		<div style="height:440px;border:#ccc solid 1px;font-size:12px" id="allmap">
		</div>
		<div class="position row">
			<div class="column">
				<div class="one items">
					<div class="item">
						<div class="image">
              				<img src="{{ app_url_packaged }}/images/contact-1.jpg" alt="太火鸟">
						</div>
						<div class="content">
							<h4 class="ui dividing header">
									太火鸟
							</h4>
							<div class="clearfix">
								<i class="icon-place icon" style="display:inline-block;float:left;"></i>
								<div style="display:inline-block;float:left;width:304px;">
								  北京市 朝阳区 酒仙桥路4号 751北京时尚设计广场 
								极地创新中心218室
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
    </div>
</div>

<section class="ui respon-2 big block">
	<div class="ui center aligned grid">
		<div class="row">
			<div class="center aligned five wide column">
				<div class="image">
					<img src="{{ app_url_packaged }}/images/weixin-220.jpg" alt="太火鸟-中国创新产品策源地">
				</div>
				<div class="content">
					微信号－<b>taihuoniao</b>
				</div>
			</div>
			<div class="center aligned five wide column">
				<div class="image">
					<img src="{{ app_url_packaged }}/images/weibo-220.jpg" alt="太火鸟-中国创新产品策源地">
				</div>
				<div class="content">
					微博－<b>太火鸟</b>
				</div>
			</div>
			<div class="five wide column">
				<div class="content">
					QQ群: <b>226541167</b>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}
