{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="http://frstatic.qiniudn.com/wechat/js/swiper.min.css">
<style type="text/css">
#mfrbird{
	margin-top:0;
}
.topbg {
    background: url({{ app_url_packaged }}/images/top/wap_bg.jpg) no-repeat center center;
    background-size: cover;
	padding-top: 37%;
	padding-bottom: 8%;
}
.topbg .ui.jointop{
	padding-left:30px;
	padding-right:30px;
}
#tmenu {
    width: 100%;
    height: 43px;
    overflow: hidden;
	margin-top: 15px;
	margin-bottom: 10px;
}
#tmenu .swiper-slide {
    padding: 0;
    width: auto;
    line-height: 43px;
    background: #c6c6c6;
    margin-left: 5px;
}
#tmenu .swiper-slide:first-child{
	margin-left:10px;
}
#tmenu .swiper-slide:last-child{
	margin-right:10px;
}
#tmenu .swiper-slide a{
	color: #444;
}
#tmenu .swiper-slide a{
    padding:12px 20px;
    background: #c6c6c6;
}
#tmenu .swiper-slide a.active{
	background:#37004f;
	color:#fff;
}
.ui.products.two.cards>.card{
	margin-top:0;
}
.ui.products.two.cards>.card>.problock>h2{
	text-align:center;
	text-overflow: ellipsis;
    white-space: nowrap;
	height: 30px;
	padding-top:8px;
}
.ui.products.two.cards>.card>.problock>h2 a{
	vertical-align: middle;
	font-size: 14px;
}
.ui.products.two.cards>.card>.problock>a.thumb,.ui.products.two.cards>.card>.problock,.ui.products.two.cards>.card>:only-child, .ui.products.two.cards>:only-child{
	border-radius:0 !important;
}
.getmore.button{
	padding-left:30px;
	padding-right:30px;
	margin-top: -5px;
}
.ui.products.two.cards>.card>.problock>.excerpt{
	height: 58px;
}
.ui.products.two.cards>.card>.problock>.excerpt>p{
	line-height:1.4;
}
.ui.products.two.cards>.card>.problock>.cats{
	padding: 0;
    padding-top: 18px;
    padding-bottom: 25px;
    text-align: center;
    height: 75px;
    overflow: visible;
}
.ui.products.two.cards>.card>.problock>.cats .ui.inverted.magenta.button{
	box-shadow: 0 0 0 1px #f36 inset!important;
	font-size: 12px;
}
.like.button{
	position:relative;
}
.like.button .add{
	position: absolute;
    top: 14px;
    text-align: center;
    left: 0;
    color: transparent;
    width: 100%;
    font-size: 20px;
    opacity: 1;
    z-index: 2;
    transition: all 1s;
}
.like.button .add.add-active {
    top: calc(50% - 70px);
    color: #f36;
    transition-delay: .3s;
    -webkit-animation: arrow 1.5s ease both;
    -moz-animation: arrow 1.5s ease both;
    animation: arrow 1.5s ease both;
}
</style>
{% endblock %}
{% block layout_js %}
	<script src="http://frstatic.qiniudn.com/wechat/js/swiper.min-1.js" type="text/javascript"></script>
{% endblock %}
{% block jquery %}
	window.onload = function() {
		var mySwiper2 = new Swiper('#tmenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}
	
	$('.swiper-slide').click(function(){
		$(this).children('.category-btn').addClass('active');
		$(this).siblings().children('.category-btn').removeClass('active');
	});

	$('.like.button').click(function(){
	    var obj = $(this);
	    var id = $(this).attr('item-id');
	    var loved = $(this).attr('loved');
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		
		if (loved == 0){
			
			obj.attr('loved', 1);
			obj.addClass('active');
			obj.children('.add').addClass('add-active');
		}else{
			obj.attr('loved', 0);
			obj.removeClass('active');
			obj.children('.add').removeClass('add-active');
		}
	});


{% endblock %}
{% block content %}
<div class="top100">
	<div class="topbg">
		<div class="ui responsive grid">
			<div class="row">
				<div class="center aligned column">
					<a href="{{ app_url_wap }}/stuff/tsubmit" class="ui magenta inverted jointop active button">
						立即报名
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="tmenu">
		<div class="swiper-wrapper">

								{% category_list var:'category' only_open:1 domain:4 pid:pid current:stuff.category_id %}
                  <div class="swiper-slide" data-value="0">
                        <a class="ui item category-btn" href="javascript:void(0);">全部</a>
                  </div>
								{% for cat in category.rows %}
                  <div class="swiper-slide" data-value="{{ cat._id }}">
                        <a class="ui item category-btn" href="javascript:void(0);">{{ cat.title }}</a>
                  </div>
								{% endfor %}
			
		</div>
	</div>
	
	<div class="ui responsive grid" id="mpresale">
		<div class="row">
			<div class="column">
				<div class="ui products two cards item-box" id="stuff_list_box">
					<!-- list -->
					
          <!--
					<div class="card">
						<div class="problock">
					        <a style="background-image: url(http://frbird.qiniudn.com/product/150204/54d2271d3ffca264238b46c8-1-hm.jpg);" class="thumb" target="_blank">
					        </a>
					        <h2>
					            <a href="http://dev.taihuoniao.com/shop/1020885051.html" title="测试的商品哈哈哈哈FLYang" class="ui line" target="_blank">
								    测试的商品哈哈哈哈FLYang
							    </a>
					        </h2>
					        <div class="excerpt">
					            <p>测试的商品哈哈哈哈测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang测试的商品哈哈哈哈测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang 测试的商品哈哈哈哈FLYang</p>
					        </div>
					       <div class="cats">
						       <div class="ui magenta like inverted button" loved="0">
									<i class=" heart icon"></i>
									投他一票
									<div class="add">
				                        <i class="heart icon" style="font-size: 14px;vertical-align: middle;"></i>+1      
				                    </div>
								</div>
							</div>
						</div>
					</div>
          -->
					<!-- end -->
					
				</div>
			</div>
		</div>
		<div class="row">
            <!--ajax load-->
						<div class="ui center aligned column">
							<div id="stuff-more" data-page="1" data-status="0" style="text-align:center;margin:10px auto;">
								<img src="{{ app_url_packaged }}/images/mall/loading2.gif" alt="loading" width="30" height="30">
							</div>
						</div>
		</div>
	</div>
	
{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_stuff_top100_tpl' tpl:'mustache/fetch_more_stuff_top100.mustache' %}
{% endblock %}
