{%extends 'layout/mobile.html'%}
{% block title %}火爆的智能硬件TOP100{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="https://s3.taihuoniao.com/wechat/js/swiper.min.css">
<style type="text/css">
#mfrbird{
	margin-top:0;
}
.topbg {
    background: url({{ app_url_packaged }}/images/top/wbg.jpg) no-repeat center center;
    background-size: cover;
	padding-top: 38%;
	padding-bottom: 2;
}
.topbg .ui.jointop{
	padding-left:30px;
	padding-right:30px;
}
#tmenu {
    width: 100%;
    height: 43px;
    overflow: hidden;
	margin-top: 15px;
	margin-bottom: 10px;
}
#tmenu .swiper-slide {
    padding: 0;
    width: auto;
    line-height: 44px;
    background: #c6c6c6;
    margin-left: 5px;
}
#tmenu .swiper-slide:first-child{
	margin-left:10px;
}
#tmenu .swiper-slide:first-child a{
	padding: 13px 34px;
}
#tmenu .swiper-slide:last-child{
	margin-right:10px;
}
#tmenu .swiper-slide a{
	color: #444;
}
#tmenu .swiper-slide a{
    padding:13px 20px;
    background: #c6c6c6;
}
#tmenu .swiper-slide a.active{
	background:#f36;
	color:#fff;
}
.ui.products.two.cards>.card{
	margin-top:0;
}
.ui.products.two.cards>.card>.problock>h2{
	text-align:center;
	text-overflow: ellipsis;
    white-space: nowrap;
	height: 30px;
	padding-top:8px;
}
.ui.products.two.cards>.card>.problock>h2 a{
	vertical-align: middle;
	font-size: 14px;
}
.ui.products.two.cards>.card>.problock>a.thumb,.ui.products.two.cards>.card>.problock,.ui.products.two.cards>.card>:only-child, .ui.products.two.cards>:only-child{
	border-radius:0 !important;
}
.getmore.button{
	padding-left:30px;
	padding-right:30px;
	margin-top: -5px;
}
.ui.products.two.cards>.card>.problock>.excerpt{
	height: 58px;
}
.ui.products.two.cards>.card>.problock>.excerpt>p{
	line-height:1.4;
}
.ui.products.two.cards>.card>.problock>.cats{
	padding: 0;
    padding-top: 18px;
    padding-bottom: 25px;
    text-align: center;
    height: 75px;
    overflow: visible;
}
.ui.products.two.cards>.card>.problock>.cats .ui.inverted.magenta.button{
	box-shadow: 0 0 0 1px #f36 inset!important;
	font-size: 12px;
	width: 105px;
}
.like.button{
	position:relative;
}
.like.button .add{
	position: absolute;
    top: 14px;
    text-align: center;
    left: 0;
    color: transparent;
    width: 100%;
    font-size: 20px;
    opacity: 1;
    z-index: 2;
    transition: all 1s;
}
.like.button .add.add-activet {
    top: calc(50% - 70px);
    color: #f36;
    transition-delay: .3s;
    -webkit-animation: arrow 1.5s ease both;
    -moz-animation: arrow 1.5s ease both;
    animation: arrow 1.5s ease both;
}
.topbtn.active, .topbtn:hover {
    background: #f36 !important;
    color: #fff !important;
}
.ui.inverted.translate.button {
    color: #fff;
    background: rgba(0,0,0,0);
    display: block;
    width: 135px;
    margin: 0 auto;
    border: none;
    box-shadow: none !important;
    font-size: 1.14285714rem;
}
p.zhichi{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background: rgba(229,0,90,0.4);
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    text-align: center;
}
</style>
{% endblock %}
{% block layout_js %}
	<script src="https://s3.taihuoniao.com/wechat/js/swiper.min-1.js" type="text/javascript"></script>
  <script type="text/javascript" >
      var is_top = 1;
      var category_id = {{ pid|default 0 }};
      var type = 6;
      var page = 1;
      var size = 8;
      var sort = 4;
      function ajax_load_more(page, is_top, category_id, stick, from_to, sort, size){
          var url = '{{ app_url_wap }}/app/site/stuff/ajax_fetch_more';
          if(page != 'no'){
              $.get(url, { page:page, type:type, is_top:is_top, category_id:category_id, stick:stick, from_to:from_to, sort:sort, size:size }, function(rs){
                  rs.data['phenix'] = phenix.url;
                  var rendered = phenix.ajax_render_result('#fetch_more_stuff_top100_tpl', rs.data);
                  $('#stuff_list_box').append(rendered);
                  if (rs.data.nex_page != 'no'){
                      $('#stuff-more').data('status', 0);
                  }
                  $('#stuff-more').data('page', page);
                  $('#stuff-more').hide();

              }, 'json');
          }else{
              $('#stuff_list_box').html('没有更多了产品!');
          }
      }

  </script>
{% endblock %}
{% block jquery %}
	window.onload = function() {
		var mySwiper2 = new Swiper('#tmenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}

	$('.swiper-slide').click(function(){
    var id = $(this).data('value');
    if(id==0){
      is_top = 1;
      category_id = {{ pid|default 0 }};
    }else{
      is_top = 0;
      category_id = id;
    }
    page = 1;
    // 清空列表数据
    $('#stuff_list_box').html('');
    // 点击分类加载
    ajax_load_more(page, is_top, category_id, 0, 5, sort, size);
		$(this).children('.category-btn').addClass('active');
		$(this).siblings().children('.category-btn').removeClass('active');
	});

  // 初次加载
  ajax_load_more(page, is_top, category_id, 0, 5, sort, size);

  // ajax加载更多(滚动条接近底部加载)
  $(window).scroll(function(){
      var scrollTop = $(this).scrollTop();
      var scrollHeight = $(document).height();
      var windowHeight = $(this).height();
      if(scrollTop + windowHeight > scrollHeight - 240){
          var stat = $('#stuff-more').data('status');
          page = parseInt($('#stuff-more').data('page')) + 1;
          
          // 防止频繁请求(在没加载完成时只允许请求一次)
          if(stat == 0){
              $('#stuff-more').data('status', 1);
              $('#stuff-more').show();
              ajax_load_more(page, is_top, category_id, 0, 5, sort, size);
          }
      }
  });

  $('.like.button').livequery(function(){
    $(this).click(function(){
        var obj = $(this);
        var id = $(this).attr('item_id');
        var loved = $(this).attr('loved');
      // 所有ajax请求，验证是否登录
      if (!phenix.visitor.is_login){
        phenix.redirect("{{ app_url_wap }}/auth/login_signup");
        return false;
      }
      
      if (loved == 0){
        // 活动结束
        phenix.show_error_note('活动已结束!');
        return false;
        $.post("{{ app_url_wap }}/app/site/favorite/ajax_laud", {id:id, type:4}, function(result){
          if(result.success){
            obj.attr('loved', 1);
            obj.addClass('active');
            obj.children('.add').addClass('add-activet');        
            obj.find('span').text("已投票");
          }else{
            phenix.show_error_note('操作失败!',3000);
          }
        }, 'json');
      }else{
      /**
        $.post("{{ app_url_wap }}/app/site/favorite/ajax_cancel_laud", {id:id, type:4}, function(result){
          if(result.success){
            obj.attr('loved', 0);
            obj.removeClass('active');
            obj.children('.add').removeClass('add-activet');
            obj.find('span').text("投他一票");
          }else{
            phenix.show_error_note('操作失败!',3000);
          }
        }, 'json');
        */
      }
      
    });
	});


{% endblock %}
{% block content %}
<img src="https://s3.taihuoniao.com/images/top/wap_bg2.jpg" style="display:none;" align="absmiddle" width="100%">
<div class="top100">
	<div class="topbg">
		<div class="ui responsive grid">
			<div class="row">
				<div class="center aligned column">
          <!--
					<a href="{{ app_url_wap }}/stuff/tsubmit" class="ui inverted topbtn jointop active button">
						立即报名
					</a>
          -->
					<a href="javascript:phenix.show_error_note('活动已结束')" class="ui inverted topbtn jointop active button">
						立即报名
					</a>
					<a href="{{ app_url_wap }}/stuff/hundred" class="ui inverted translate button">
						<i class="home icon"></i>返回主页
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="tmenu">
		<div class="swiper-wrapper">

								{% category_list var:'category' only_open:1 domain:4 pid:pid current:stuff.category_id %}
                  <div class="swiper-slide" data-value="0">
                        <a class="ui item category-btn active" href="javascript:void(0);">全部</a>
                  </div>
								{% for cat in category.rows %}
                  <div class="swiper-slide" data-value="{{ cat._id }}">
                        <a class="ui item category-btn" href="javascript:void(0);">{{ cat.title }}</a>
                  </div>
								{% endfor %}
			
		</div>
	</div>
	
	<div class="ui responsive grid" id="mpresale">
		<div class="row">
			<div class="column">
				<div class="ui products two cards item-box" id="stuff_list_box">
					
				</div>
			</div>
		</div>
		<div class="row">
            <!--ajax load-->
						<div class="ui center aligned column">
							<div id="stuff-more" data-page="1" data-status="0" style="text-align:center;margin:10px auto;">
								<img src="{{ app_url_packaged }}/images/loading03.gif" alt="loading" width="30" height="30">
							</div>
						</div>
		</div>
	</div>
	
{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_stuff_top100_tpl' tpl:'mustache_m/fetch_more_stuff_top100.mustache' %}
{% endblock %}
