{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
.ui.wap,.mmfoot{
	display:none;
}
#mfrbird{
	margin:0;
}
.row.pt-5{
	padding-top:5px !important;
}
.ui.poptop.segment{
	box-shadow:none;
	border:none;
}
.poptop i.thumbs.icon{
	color:#f36;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg); 
	font-size: 1.5rem;
	margin-right:0 !important;
}
.user-list .userid {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
    display: inline-block;
    background-size: 100%;
    margin: 3px 2px;
}
</style>
{% endblock %}

{% block layout_js %}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block jquery %}


{% endblock %}
{% block content %}
<div class="comment_vote">
	<img src="http://frstatic.qiniudn.com/images/promo/rankmt.jpg" width="100%" alt="">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column">
				<a class="ui fluid magenta inverted active button" href="">
					我也要参加
				</a>
			</div>
		</div>
		
		<div class="row pt-5">
			<div class="column">
				<div class="ui poptop segment" style="height:200px;">
					<h3 class="ui header">
						<i class="thumbs down icon"></i>
						赞过Ta的
					</h3>
					<div class="user-list">
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
						<div class="userid" style="background-image:url(http://frbird.qiniudn.com/avatar/151015/561f64abfc8b1226408bdba6-avm.jpg);"></div>
					</div>
				</div>
			</div>
		</div>
	
	
	</div>
</div>
{% endblock %}