{%extends 'layout/shop.html'%}
{% block title%}购物车-{% endblock %}
{% block page_css %}
<style type="text/css">
#mfrbird{
	margin-top:0;
}
#mmfoot{
  display:none;
}
.cartmain{
	display:block;
	margin-top:15px;
	padding:0;
	padding-bottom: 55px;
}
.cartitem{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
	background:#fff;
	margin-bottom:10px;
	padding: 10px;
}
.cartitem .cartinfo{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
	margin-right:10px;
	margin-left:10px;
}
.cartitem .cartinfo h3.title{
    font-size: 1rem;
    margin-bottom: 10px;
    max-height: 38px;
    overflow: hidden;
    font-weight: 400;
    color:#000 !important;
}
.cartitem .cartinfo p.checkt{
    font-size: 12px;
    margin-bottom: 8px;
    color:#666;
}
.cartitem .cartinfo p.price{
	color:#BE8914;
}
.cartitem .remove_cart{
	width:24px;
	height:24px;
	position:relative;
	background:rgba(0,0,0,0.5);
	border-radius:50%;
}
.cartitem .remove_cart img{
    width: 10px;
    height: 10px;
    margin: 7px;
}
.cartitem .img img{
	width:80px;
	height:60px;
	position:relative;
}
.cartadd{
	padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 50px;
    z-index: 3;
    max-width: 767px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.cardsum{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0;
    position: relative;
	height:50px;
	text-align:center;
	font-size:14px;
    background: #fff;
    line-height: 50px;
}
.cardsum span{
	color:#BE8914;
	position:relative;
}
.cardsum span span{
	margin-left:12px;
}
.cardsum span .rmb.icon{
	position:absolute;
}
.cardsum span .rmb.icon,.cartitem .cartinfo p.price .rmb.icon{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: auto;
}
.cardcheck{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    display: block;
    padding: 0;
    position: relative;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #c1c1c1;
    color: #fff !important;
	background:#000;
}
.sfooter.nav-menu{
    display: none;
    visibility: hidden;
}
.color-be{
    color: #BE8914 !important;
}
.cartitem .ui.checkbox{
    display: block;
}
.ui.radio.checkbox input[type=radio]:checked~.box:after, .ui.radio.checkbox input[type=radio]:checked~label:after {
    background-color: rgba(190,137,20,.95);
}
(190,137,20)
</style>
{% endblock %}

{% block jquery %}

  // 移除购物车商品 
  $('.remove_cart').click(function(){
    var target_id = $(this).data('target_id');
    var type = $(this).data('type');
    var price = parseFloat($(this).data('price'));
    var total_price = parseFloat($('#total_price_text').text());
    var array = target_id+"|"+type;
    $.post("{{ app_url_wap }}/app/site/cart/ajax_remove_cart", {array: array}, function(result){
      if(result.success){
        $('#cart-product-'+target_id).remove();
        $('#total_price_text').text((total_price-price).toFixed(2));
        // ajax加载购物车数量
        $.get('{{ app_url_wap }}/app/site/cart/ajax_fetch_count', {}, function(result){
            if(result.success){
              $('#wap_cart_num').show().text(result.data.count);
            }else{
              $('#wap_cart_num').hide().text('');
            }
        }, 'json');
      }else{
        phenix_show_error_note(result.message, 3000);
      }
    }, 'json')
  });
{% endblock %}

{% block content %}
<div class="ui fiushop pb-0">
    <div class="ui sheader">
        <p>购物车</p>
    </div>
</div>
<div id="cartpage">
	{% if products %}
	<div class="cartmain">
		{% for product in products %}
		<div class="cartitem" id="cart-product-{{ product.target_id }}">
            <div class="ui radio checkbox">
              <input type="radio" name="radio" checked="checked">
            </div>
			<a href="{{ product.wap_view_url }}" class="img"> <img class="lazy" src="{{ product.cover }}" alt="{{ product.title }}"></a>
			<div class="cartinfo">
				<a class="ui link" href="{{ product.wap_view_url }}"><h3 class="title">{{ product.title }}</h3></a>
        <p class="checkt">颜色／分类：{% if product.sku_mode %}{{ product.sku_mode }}{%else%}默认{%endif%}  &nbsp;&nbsp;数量＊{{ product.n }}</p>
				<p class="price"><i class="rmb icon"></i>  {{ product.total_price }}</p>
			
			</div>
			<div class="remove_cart"  data-target_id="{{ product.target_id }}" data-type="{{ product.type }}" data-price="{{ product.total_price }}">
				<img src="{{ app_url_packaged }}/images/icon/close.png">
			</div>
		</div>
		{% endfor %}
		<div class="cartadd">
			<div class="cardsum">
        合计: <span><i class="rmb icon"></i><span id="total_price_text">  {{ total_money }}</span></span>
			</div>
			<a href="{{ app_url_wap }}/shop/checkout" class="cardcheck ui link">
				去结算
			</a>
		</div>
	</div>
	{%else%}
	<div class="ui responsive grid" style="padding-top:10px;">
		<div class="row">
			<div class="column" id="cart-body-content">
				<div class="ui empty message">
					<h1 class="ui big header">
						<i class="cart icon" style="font-size:1em !important;vertical-align: top;padding-top:0;"></i>
						<div class="content" style="display:inline-block;">
							<div class="sub header">还没选中产品？<a href="{{ app_url_wap }}/shop" class="ui color-be link">赶快去选购吧</a></div>
						</div>
					</h1>
				</div>
			</div>
		</div>
	</div>
	{%endif%}
</div>

{% endblock %}
