{%extends 'layout/shop.html'%}
{% block title%}Fiu店{% endblock %}
{% block page_css %}
<style type="text/css">
    .ui.fiushop{
    	padding-bottom: 50px;
    }
    .ui.fiushop .overhidden{
    	margin-left: 10px;
    }
    .ui.fiushop .ui.sheader p img{
    	height: 18px;
	    margin: 0;
	    font-size: 0;
	    vertical-align: middle;
    }
    #scene-subject-more{
    	padding:0;
    }
    .sfooter.nav-menu .navfelx .childcell .menuicon.active .choice.img{
    	background-image: url({{ app_url_packaged }}/images/fiushop/sfooter2.png);
    	color: #be8914;
    }
    .zcover{
    	background: rgba(0,0,0,0.2);
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 3;
    }
    .ui.fiushop .haohuo .banner .content{
    	z-index: 4;
    }
    .sfooter.nav-menu{
    	z-index: 9;
    }
    .ui.fiushop .haohuo .banner::after{
    	z-index: 4;
    }
    .ui.sheader{
    	font-size: 0;
    }
    .ui.sheader p{
    	display: inline-block;
    	margin: 0;
    	font-size: 14px !important;
	    text-align: center;
	    vertical-align: middle !important;
    }
    .ui.sheader p a{
    	color: #222 !important;
    }
    .ui.sheader form{
    	display: inline-block;
	    width: calc(100% - 69px );
	    padding: 0 0;
    	vertical-align: top;
    	margin-left: 12px;
    }
    .ui.sheader form .ui.input{
    	height: 30px;
    	margin: 10px 0;
    	width: 100%;
    	background: url({{ app_url_packaged }}/images/fiushop/inputm.png) no-repeat 50% #f7f7f7;
    	background-size: 134px 18px;
    	background-position: 12px 6px;
    	border-radius: 6px;
    	position: relative;
    }
    .ui.sheader form .ui.icon.input.focus{
    	background: none #f7f7f7;
    }
    .ui.sheader form .ui.icon.input input {
	    padding-right: 2.67142857em!important;
	    vertical-align: middle;
	    font-size: 14px;
	    width: 100%;
	    border-radius: 6px;
	    display: inline-block;
	    padding: 4px 10px;
	    background: none;
	    border-color: rgba(0,0,0,0);
	}
	.ui.fiushop .haohuo .banner::after{
		background-size: 20px 13px;
	}
	.ui.fiushop .ui.sheader{
		padding: 0 15px;
	}
	.ui.fiushop .ui.sheader p{
		margin: 15px 0;
    	line-height: 0;
	}
	.hdtitle{
		font-size: 13px;
		color: #fff;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%,0,0);
		-webkit-transform: translate3d(-50%,0,0);
		background:rgba(190,137,20,0.8);
		padding: 10px 20px;
		z-index: 9;
	    max-width: 60%; 
	}
	.hdtitle p{
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}
	.ui.fiulist .recom-item .recom-cell{
		padding-right: 2px;
	}
	.ui.fiulist .recom-item .recom-cell:nth-child(2n) {
    	padding-left: 2px;
    	padding-right: 0;
    }
	
</style>
{% endblock %}

{% block layout_js %}
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script type="text/javascript" >
	
	var m_name = 'Fiu/生活新质感';
	//var img_url = '{{ app_url_packaged }}/images/fxlogo2.jpg';
    var img_url = 'http://frbird.qiniudn.com/asset/161026/5810a2b0fc8b120d718b9b4e-1-hu.jpg';
	var link = '{{ app_url_wap }}/shop';
	var desc_str = 'hey，给了你30元无限制红包！邀请好友加入Fiu，还有机会得大僵御Mavic Pro无人机哟！';

	wx.config({
	  debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	  appId: '{{ wx_share.app_id }}', // 必填，公众号的唯一标识
	  timestamp: {{ wx_share.timestamp }}, // 必填，生成签名的时间戳
	  nonceStr: '{{ wx_share.wxnonceStr }}', // 必填，生成签名的随机串
	  signature: '{{ wx_share.wxSha1 }}',// 必填，签名，见附录1
	  jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
	wx.ready(function(){
	// 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
	 wx.onMenuShareAppMessage({
	  title: m_name,
	  desc: desc_str,
	  link: link,
	  imgUrl: img_url,
	});      

	// 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
	wx.onMenuShareTimeline({
	  title: m_name,
	  desc: desc_str,
	  link: link,
	  imgUrl: img_url,
	});

	// 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
	wx.onMenuShareQQ({
	  title: m_name,
	  desc: desc_str,
	  link: link,
	  imgUrl: img_url,
	});

	// 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
	wx.onMenuShareWeibo({
	  title: m_name,
	  desc: desc_str,
	  link: link,
	  imgUrl: img_url,
	});
	});

    var type = 5;
    var sort = 2;
    var page = 1;
    var size = 8;

    // 专题列表
    function ajax_load_more(type, page, size, sort){
        var url = '{{ app_url_wap }}/app/wap/scene_subject/ajax_fetch_more';
        $.get(url, { page:page, type:type, sort:sort, size:size, use_cache:1 }, function(rs){
            rs.data['phenix'] = phenix.url;
            var rendered = phenix.ajax_render_result('#scene_subject_list_tpl', rs.data);
            $('#scene-subject-more').html(rendered);

            $(".row img.lazy").lazyload({
                effect : "show"
            });

        }, 'json');
    }
  </script>

{% endblock %}

{% block jquery %}
	$('#slider').flexslider({
      animation: "slide",
      directionNav: false, 
      controlNav: true,
      animationLoop: true,
      slideshow: true,
      slideshowSpeed: 5000,
      animationDuration: 300,
      animationSpeed: 300,
  });
	
	var flexheight = Math.floor($('body').width()*9/16)+'px';
	$('#slider,#slider.flexslider .slides,#slider.flexslider .slides li,#slider.flexslider .slides li a').css('height',flexheight);


    // 初始加载
    ajax_load_more(5, 1, 8, 2);

    $('.fiushop-search .fiusearch input[type="text"]').focus(function(){
    	$('.fiushop-search  .ui.sheader .ui.icon.input').addClass('focus');
    }).blur(function(){
    	if( $('.fiushop-search  .fiusearch input[type="text"]').val().length == 0){
    		$('.fiushop-search  .fiusearch .ui.icon.input').removeClass('focus');
    		$('.fiushop-search  .ui.sheader .ui.icon.input .inputreset').hide();
    	}else{
    		$('.fiushop-search  .fiusearch .ui.icon.input').addClass('focus');
    	}
    });
    if( $('.fiushop-search  .fiusearch input[type="text"]').val().length !== 0){
    	$('.fiushop-search  .fiusearch .ui.icon.input').addClass('focus');
    	$('.fiushop-search  .ui.sheader .ui.icon.input .inputreset').show();
    }
    $('#inputshow').on('click',function(){
    	$('.ui.fiushop,.sfooter.nav-menu').hide();
    	$('.fiushop-search').show();
    	$('.fiushop-search .fiusearch input[type="text"]').focus();
        // 加载当前用户最新搜索的标签
		if (phenix.visitor.is_login){
            $.get("{{ app_url_wap }}/app/site/my/ajax_recent_tags", {type:2}, function(rs){
                if(rs.success){
                    var html = '';
                    for(var i=0;i<rs.data.tags.length;i++){
                        html += '<li><a href="{{ app_url_wap }}/search/fiu?q='+ rs.data.tags[i] +'&t=1">'+ rs.data.tags[i] +'</a></li>';
                    }
                    $('#search_recent_user_tags').html(html);
                }
            }, 'json')
		}
        
    });
    $('.fiushop-search  .ui.sheader .ui.icon.input .inputreset').click(function(){
		$('.fiushop-search .fiusearch input[type="text"]').focus();
		$('.fiushop-search  .ui.sheader .ui.icon.input .inputreset').hide();
    });
    $('.fiushop-search  .fiusearch input[type="text"]').bind('input propertychange', function() {
		$('.fiushop-search  .ui.sheader .ui.icon.input .inputreset').show();
    });
    $('.ui.fiushop-search #search-close,.ui.fiushop-search #search-canlse').on('click',function(){
    	$('.ui.fiushop-search').hide();
    	$('.ui.fiushop,.sfooter.nav-menu').show();
    })
	
{% endblock %}

{% block content %}
<div class="ui fiushop">
	<div class="ui sheader">
		<p><img src="{{ app_url_packaged }}/images/icon/ffflogo.png"></p>
		<form class="fiusearch item" method="post" action="{{ app_url_wap }}/search/fiu" id="searchbar">
        
	        <div class="ui icon input" id="inputshow">
	            <input name="q" type="hidden" value="{{ q }}">
	            <input name="t" type="hidden" value="1">
	        </div>
	    </form>
	    <!--<p>
	    	{% if visitor %}
				<a href="{{ app_url_wap }}/my/fiumy"><img src="{{ app_url_packaged }}/images/icon/fiuuser.png" align="absmiddle"></a>
			{% else %}
				<a href="{{ app_url_wap }}/auth">登录</a>
			{% endif %}

	    </p>-->
	</div>

    {% cache cache_key:'wap_index_shop_slide' ttl:600 disable_cache:app_disable_cached %}
        {% ad_list var:'ad'state:2 size:5 name:'wap_index_shop_slide' %}
        <div id="slider" class="flexslider flex-single">
          <ul class="slides">
            {% for ad in ad.rows %}
              <li style="background-image: url('{{ ad.cover.fileurl }}');">
                <a href="{{ ad.mm_view_url }}" title="{{ ad.title }}" alt="{{ ad.title }}">
                    <img src="{{ ad.cover.fileurl }}" alt="{{ ad.title }}" style="display: none;" />
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
    {%endcache%}
	<div class="ui hotshop responsive grid">
		<div class="row">
			<div class="column">
                <p>热门：<a href="{{ app_url_wap }}/search/fiu?q=云马电动车&evt=tag&t=1">云马电动车</a><a href="{{ app_url_wap }}/search/fiu?q=无人机&evt=tag&t=1">无人机</a> <a href="{{ app_url_wap }}/search/fiu?q=小蚁相机&evt=tag&t=1">小蚁相机</a></p>
			</div>
		</div>
	</div>
	<div class="ui fiulist responsive grid">
		<div class="row p-0">

        {% cache cache_key:'wap_shop_sub_left_right' ttl:600 disable_cache:app_disable_cached %}
			<div class="recom-item">
				<div class="recom-cell m-0">
                    {% ad_list var:'ad_l'state:2 size:1 name:'wap_shop_sub_left' %}
                    <a href="{{ ad_l.mm_view_url }}" style="padding-top: 100%;background-image: url({{ ad_l.cover.fileurl }});">
						<div class="uidesc">
                            <!--{{ ad_l.title }}-->
						</div>
					</a>
				</div>
				<div class="recom-cell m-0">
                    {% ad_list var:'ad_r'state:2 size:2 name:'wap_shop_sub_right' %}
                    {% for d in ad_r.rows %}
                    <a href="{{ d.mm_view_url }}" style="padding-top: calc(50% - 2px);background-image: url({{ d.cover.fileurl }});{%if loop.counter==2%}margin-top: 4px;{%endif%}">
						<div class="uidesc">
                            <!--{{ d.title }}-->
						</div>
					</a>
                    {%endfor%}
				</div>
			</div>
        {%endcache%}

		</div>
	</div>
	<div class="ui haohuo responsive grid">

		<div class="row pt-3r pl-r">
			<div class="column">
				<h4 class="ui header">
					<img src="{{ app_url_packaged }}/images/fiushop/haohuo.png" align="absmiddle">
					好货Fiu生活
				</h4>
			</div>
		</div>

        <div id="scene-subject-more"><!--ajax_load subject--></div>

	</div>
</div>

{% include "mm/search.html" %}
{% endblock %}

{% block templates %}
    {% mustache id:'scene_subject_list_tpl' tpl:'mustache_m/scene_subject_list.mustache' %}
{% endblock %}

