{%extends 'layout/shop.html'%}
{% block title%}{% endblock %}
{% block page_css %}
<style type="text/css">
    .sfooter.nav-menu{
    	background: #000;
	    padding-top: 1px;
	    color: #fff;
	    position: fixed;
	    width: 100%;
	    left: 0;
	    bottom: 0;
    }
    .sfooter.nav-menu .navfelx .childcell .menuicon{
    	color: #fff;
    	padding: 2px 6px 5px;
    	margin-bottom: 0;
    }
    .sfooter.nav-menu .navfelx .childcell .menuicon .img {
	    display: block;
	    margin: 0 auto 4px;
	    vertical-align: middle;
	    background-image: url({{ app_url_packaged }}/images/fiushop/sfooter.png);
	    background-repeat: no-repeat;
	    background-size: 88px 18px;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .choice.img{
		height: 18px;
		width: 20px;
	    background-position: 0 0;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .find.img{
		height: 18px;
		width: 26px;
	    background-position: -63px 3px;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .cart.img{
		height: 18px;
		width: 22px;
	    background-position: -20px 0;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .owner.img{
		height: 18px;
		width: 21px;
	    background-position: -42px 0;
	}
	.ui.sheader{
		background:#000;
	}
	.ui.sheader p{
		font-size: 17px;
		line-height: 50px;
		color: #fff;
		text-align: center;
	}
</style>
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<div class="ui sheader">
	<p>Fiu店</p>
</div>
<div class="shopbanner">
	{% ad_list var:'adshop' page:1 state:2 size:1 name:'wap_index_shop_slide' sort_field:'latest' %}
  {% if adshop %}
      <a href="{{ adshop.view_url }}" title="{{ adshop.title }}" alt="{{ adshop.title }}">
          <img src="{{ adshop.cover.fileurl }}" alt="{{ adshop.title }}" />
      </a>
  {%endif%}
</div>

{% endblock %}

