{%extends 'layout/shop.html'%}
{% block title%}Fiu{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.sheader{
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
	.ui.category{
		padding-bottom: 45px;
	}
	  .togprice{
	    background-image: url({{ app_url_packaged }}/images/icon/price.png);
	    background-size: 21px 9px;
	    background-repeat: no-repeat;
	    height: 9px;
	    width: 7px;
	    background-position: 0 0;
	    margin-left: 4px;
	    margin-bottom: -1px;
	    display: inline-block;
	  }
	  .right.reitem.up ,.right.reitem.down{
	    color: #be8914 !important;
	  }
	  .right.reitem.up .togprice{
	    background-position: -14px 0;
	  }
	  .right.reitem.down .togprice{
	    background-position: -7px 0;
	  }
	  .ui.reorder{
    height: 44px;
    background:#fff;
    width: 100%;
    width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .reitem{
    -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      height: 100%;
      position: relative;
      color: #999 !important;
      line-height: 44px;
      font-size: 12px;
  }
  .left.reitem{
    padding-left: 20px;
    text-align: left;
  }
  .left.reitem.active,.center.reitem.active{
    color: #be8914 !important;
  }
  .center.reitem{
    text-align: center;
  }
  .center.reitem img{
    margin-left: 4px;
      margin-bottom: 2px;
      width: 9px;
  }
  .right.reitem{
    padding-right: 20px;
    text-align: right;
  }
</style>
{% endblock %}
{% block layout_js %}
  <script type="text/javascript" >
      var page = 1;
      var size = 8;
      var category_id = '{{cid | default 0}}';
      var sort = '{{sort | default 9 }}';
      var type = 2;
      var category_tag = '{{category_tag | default ''}}';
  
      // 加载产品列表
      function ajax_load_more(category_id, category_tag, type, sort, page, size){
          //防止频繁请求(在没加载完成时只允许请求一次)
          $('#product-more').show().attr('status', 1).find('.p_sub').html('<img src="{{ app_url_packaged }}/images/loading03.gif" alt="loading" width="30" height="30">');
          var url = '{{ app_url_wap }}/shop/ajax_load_list';
          $.get(url, { category_id:category_id, category_tags:category_tag, sort:sort, page:page, type:type, size:size }, function(rs){
              // console.log('total page: '+ rs.data.results.total_page + ' page: '+ rs.data.results.current_page);
                  window.history.pushState({}, document.title, '{{app_url_wap}}/shop/get_list?cid='+category_id+'&category_tag='+category_tag+'&sort='+sort);
              if(rs.data.results.total_page > rs.data.results.current_page){
                  $('#product-more')
                      .hide()
                      .attr({'status': 0, 'page': rs.data.page});
              }else{
                  $('#product-more')
                  .attr({'page': rs.data.page})
                  .find('.p_sub').html('');
              }
              var rendered = phenix.ajax_render_result('#fetch_more_products_tpl', rs.data);
              if(page==1){
                $('.recom-item').html(rendered);
              }else{
                $('.recom-item').append(rendered);
              }
 			  $("img.lazy").lazyload({
 			     effect : "show"
 			  });
          }, 'json');
      }

    // 加载分类标签
    function ajax_load_category_tag(category_tags){
        if(category_tags==''){
            $('#category-tag-box').hide();
            return;
        }
        var arr = category_tags.split(',');
        var html = '';
        for(var i=0;i<arr.length;i++){
            if(arr[i]==category_tag){
                var current_category_tag = 'active';
            }else{
                var current_category_tag = '';
            }
            html += '<li class="ui becolor basic button category_tag_btn '+ current_category_tag +'" data-category_tag="'+ arr[i] +'">'+ arr[i] +'</li>';
        }

        $('#category-tag-box').show();
        $('#category-tag-box .groom-list').html(html);
    
    }
  </script>
{% endblock %}
{% block jquery %}
	//ajax加载更多(滚动条接近底部加载)
  $(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight > scrollHeight-100){
      var stat = $('#product-more').attr('status');
      page = parseInt($('#product-more').attr('page')) + 1;
      if(stat==0){
        ajax_load_more(category_id, category_tag, type, sort, page, size);
      }
　　}
  });
	
	// 初始加载商品列表
    ajax_load_more(category_id, category_tag, type, sort, page, size);

    // 初始化加载分类标签
    var category_tags = $('#category-btn-'+category_id).attr('category_tags');
    ajax_load_category_tag(category_tags);


    // 选择分类
	$('.category-btn').click(function(){
		$('.category-btn').removeClass('active');
		$(this).addClass('active');
		category_id = $(this).attr('category_id');
        category_tag = '';
        category_tags = $(this).attr('category_tags');
        ajax_load_category_tag(category_tags);
		$('#product-more').attr('category_id', category_id);
		$('#mpresale .recom-item').html('');
		ajax_load_more(category_id, category_tag, type, sort, 1, size);
	});

    // 选择分类标签
    $('.category_tag_btn').livequery(function(){
        $(this).click(function(){
            category_tag = $(this).data('category_tag');
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            $('#mpresale .recom-item').html('');
		    ajax_load_more(category_id, category_tag, type, sort, 1, size);
        });   
    });

    // 排序--综合
    $('.sort_all_btn').click(function(){
        $(this).siblings().removeClass('up');
        $(this).siblings().removeClass('down');
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        sort = 9;
        $('#mpresale .recom-item').html('');
        ajax_load_more(category_id, category_tag, type, sort, 1, size);
    });
    // 排序--最新
    $('.sort_new_btn').click(function(){
        $(this).siblings().removeClass('up');
        $(this).siblings().removeClass('down');
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        sort = 0;
        $('#mpresale .recom-item').html('');
        ajax_load_more(category_id, category_tag, type, sort, 1, size);
    });

    // 排序--价格
    $('.sort_price_btn').click(function(){
        $(this).siblings().removeClass('active');
        var has_up_class = $(this).hasClass('up');
        var has_down_class = $(this).hasClass('down');
        if(has_up_class){
            $(this).removeClass('up').addClass('down');
            sort = 7;
        }else if(has_down_class){
            $(this).removeClass('down').addClass('up');
            sort = 8;
        }else{
            $(this).addClass('up');
            sort = 8;   
        }
        $('#mpresale .recom-item').html('');
        ajax_load_more(category_id, category_tag, type, sort, 1, size);
    }); 

    var catelist = $('.catelist').hasClass('active');
    if(catelist){
      $('.cateall').removeClass('active');
    }
    if ( sort == 8){
      $('.reitem').removeClass('active');
      $('.right.reitem').addClass('up');
    }
{% endblock %}

{% block content %}
<div class="ui category">
	<!--<div class="ui sheader">
    <a class="return" href="{{ back_url }}"><i class="angle float left icon"></i></a>
		<p>品类</p>
	</div>-->
	{% category_list var:'category' only_open:1 domain:1 show_all:0 current:cid sort_field:'total_desc' %}
	<div class="fmenulist">
		<ul class="menuitem">
			<li class="active category-btn cateall" id="category-btn-0" category_id="0" category_tags="">
				<a href="javascript:void(0);">
					<div class="all catename" style="background-image: url({{ app_url_packaged }}/images/fiushop/all2.png)"></div>
					<p>全部</p>
				</a>
			</li>
	{% for cat in category.rows %}
	{% if cat.sub_count>0 %}
    <li class="{{ cat.active }} catelist category-btn" id="category-btn-{{ cat._id }}" category_id="{{ cat._id }}" category_tags="{{ cat.tags_s }}">
				<a href="javascript:void(0);">
					<div class="{{ cat.name }} catename" style="background-image:url({{ app_url_packaged }}/images/fiushop/{{ cat.name }}.png)"></div>
					<p>{{ cat.title }}</p>
				</a>
			</li>
	{%endif%}
	{% endfor %}
		</ul>
	</div>
	<div class="ui groom-btn" id="category-tag-box" style="display:none;">
		<ul class="groom-list">
            <!--<li class="ui becolor basic active button">智能摄像</li>-->
		</ul>
	</div>

    
	<div class="ui reorder">
    <a href="javascript:void(0);" class="left reitem active sort_all_btn">综合</a>
		<a href="javascript:void(0);" class="center reitem sort_new_btn">最新</a>
	    <a href="javascript:void(0);" class="right reitem sort_price_btn">价格
	      <div class="togprice"></div>
	    </a>
	    
	</div>
	<div class="ui responsive brand list grid">
		<div class="row pt-7" id="mpresale">
			<div class="column plr-14">
				<div class="recom-item">

				</div>

                <div id="product-more" class="product-box-list" style="display:none;" page="1" status="0">
                    <div class="p_sub" style="text-align:center;margin:10px auto;">
                        
                    </div>
                </div>
			</div>
		</div>

	</div>

</div>


{% endblock %}
{% block templates %}
{% mustache id:'fetch_more_products_tpl' tpl:'mustache_m/fetch_more_products.mustache' %}
{% endblock %}
