{%extends 'layout/shop.html'%}
{% block title%}品类{% endblock %}
{% block page_css %}
<style type="text/css">
	.sfooter.nav-menu{
    	background: #000;
	    padding-top: 1px;
	    color: #fff;
	    position: fixed;
	    width: 100%;
	    left: 50%;
	    bottom: 0;
	    max-width: 767px;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    //display: none;
    }
    .sfooter.nav-menu .navfelx .childcell .menuicon{
    	color: #fff;
    	padding: 2px 6px 5px;
    	margin-bottom: 0;
    }
    .sfooter.nav-menu .navfelx .childcell .menuicon .img {
	    display: block;
	    margin: 0 auto 4px;
	    vertical-align: middle;
	    background-image: url({{ app_url_packaged }}/images/fiushop/sfooter.png);
	    background-repeat: no-repeat;
	    background-size: 88px 18px;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .choice.img{
		height: 18px;
		width: 20px;
	    background-position: 0 0;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .find.img{
		height: 18px;
		width: 26px;
	    background-position: -63px 3px;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .cart.img{
		height: 18px;
		width: 22px;
	    background-position: -20px 0;
	}
	.sfooter.nav-menu .navfelx .childcell .menuicon .owner.img{
		height: 18px;
		width: 21px;
	    background-position: -42px 0;
	}
	.ui.sheader{
		background:#000;
	}
	.ui.sheader p{
		font-size: 17px;
		line-height: 50px;
		color: #fff;
		text-align: center;
	}
	.ui.category{
		padding-bottom: 65px;
	}
	.fmenulist{
		height: 60px;
		background:#fff;
		overflow: hidden;
	}
	.menuitem{
		padding: 0;
	    margin: 0;
	    height: 64px;
	    white-space: nowrap;
	    width: 100%;
	    overflow-x: scroll;
    	overflow-y: hidden;
	}
	.menuitem li{
		width: 65px;
	    display: inline-block;
	    text-align: center;
	    padding: 12px 0 12px;
	    height: 60px;
	}
	.menuitem li img{
		width: 20px;
	}
	.menuitem li p{
		font-size: 12px;
		color: #666;
	}
	.menuitem li .catename{
		width: 20px;
    	height: 12px;
		margin:2px auto 5px;
		background-size: 40px 12px;
	}
	.menuitem li .all.catename{
		background-image:url({{ app_url_packaged }}/images/fiushop/all.png);
	}
	.menuitem li.active .catename{
		background-position: 20px 0;
	}
	.menuitem li.active p{
		color: #BE8914;
	}
</style>
{% endblock %}
{% block jquery %}

{% endblock %}

{% block content %}
<div class="ui category">
	<div class="ui sheader">
		<p>品类</p>
	</div>
	{% category_list var:'category' only_open:1 domain:1 show_all:0 current:cid sort_field:'total_desc' %}
	<div class="fmenulist">
		<ul class="menuitem">
			<li class="active">
				<a href="javascript:void(0);">
					<div class="all catename"></div>
					<p>全部</p>
				</a>
			</li>
	{% for cat in category.rows %}
	{% if cat.sub_count>0 %}
			<li class="">
				<a href="javascript:void(0);">
					<div class="{{ cat.name }} catename" style="background-image:url({{ app_url_packaged }}/images/fiushop/{{ cat.name }}.png)"></div>
					<p>{{ cat.title }}</p>
				</a>
			</li>
	{%endif%}
	{% endfor %}
		</ul>
	</div>



</div>


{% endblock %}