{% block page_css %}
<style type="text/css">
.account .ui.horizontal.list>.item{
	margin-left: 1.5em;
	font-size: 1.05rem;
}
.account .ui.horizontal.list>.item:first-child {
	margin-left: 0;
}
.account .ui.horizontal.list>.item>a {
	border-bottom: 2px solid transparent;
	-webkit-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	font-size: 1.05em;
}
.account .ui.horizontal.list>.item a:hover{
	border-bottom: 2px solid #f36;
	text-decoration: none;
	padding-bottom:5px;
}
.account .ui.horizontal.list>.item>a>small{
	padding-left:3px;
}
</style>
{% endblock %}
<div class="ui secondary pointing magenta menu">
    <a href="{{ app_url_my }}/fan" class="ui {{css_user_fan}} item">我的粉丝  <small>（{{user.fans_count}}）</small></a>
    <a href="{{ app_url_my }}/follow" class="ui {{css_user_follow}} item ">我的关注  <small>（{{user.follow_count}}）</small></a>
</div>
