<div class="ui card" id="item-{{d._id}}">
    <div class="image">
      {% if d.cover %}
        <img src="{{ d.cover.thumbnails.md.view_url }}" alt="{{ d.title }}">
      {%else%}
        <img src="http://frstatic.qiniudn.com/images/nophoto.jpg" alt="无图片">
      {%endif%}

      <div class="image-extra">
      <a href="{{ d.view_url }}" title="{{ d.title }}" target="_blank"></a>
      </div>
      <div class="presell">
        {% if d.from_to %}
          {% if d.from_to==1 %}
            十万火计
          {%endif%}
          {% if d.from_to==2 %}
            蛋年
          {%endif%}
        {%else%}
          产品灵感
        {%endif%}
      </div>
      <div class="exit">
        
        <div class="ui icon admin green buttons">
          <div class="ui pop edit button" data-content="编辑" data-variation="inverted" data-id="{{ d._id }}">
            <i class="edit icon"></i>
          </div>
          <div class="ui pop remove button" data-content="删除" data-variation="inverted" data-id="{{ d._id }}">
            <i class="remove icon"></i>
          </div>
        </div>
        
      </div>
    </div>
    <div class="content">
          <div class="header">
      <a href="{{ d.view_url }}" title="{{ d.title }}" class="ui line" target="_blank">{{ d.title|truncate 26 '' }}</a>
    </div>
          <div class="description">
          {{ d.strip_description|truncate 60 '' }}
          </div>
    </div>
    <div class="extra">
          <a class="right floated created">
            <!--<small><i class="unhide icon"></i>18</small>-->
            <small><i class="unhide icon"></i>{{ d.view_count }}</small>
            <small><i class="thumbs outline up icon"></i><span class="love-count">{{ d.love_count }}</span></small>
    </a>
    <a href="{{ d.user.home_url }}" class="ui icon link" target="_blank">
      <img src="{{ d.user.small_avatar_url }}" alt="{{ d.user.nickname }}" class="ui avatar image"> <small>{{ d.user.nickname }}</small>
    </a>
    </div>
  </div>
