{%extends 'layout/column.html'%}
{% block title %}社区红人-{% endblock %}
{% block page_css %}
<style type="text/css">
	.social.mentors {
		background-color: rgba(56, 67, 77, 0.9);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url('http://static.taihuoniao.me/images/mentors-avatar.jpg');
		color: white;
		padding: 100px 0 60px;
	}
</style>
{% endblock %}

{% block jquery %}
	$('.ui.ell.link').click(function(){
        if($('.social.people.filter').hasClass('active')){
            $('.social.people.filter').removeClass('active').slideUp('slow');
        }else{
            $('.social.people.filter').addClass('active').slideDown('slow');
        }
    });
{% endblock %}


{% block content %}
<div class="social mentors">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column white section-title">
				<h2 class="block title">社区红人</h2>
				<p>超过 2000 个行业专家在创造未来</p>
                <hr>
			</div>
		</div>
	</div>
</div>

<div class="social people {{ show_all }} filter">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
                <div class="container">
                    <h2 class="block title">从事领域</h2>
                    <div class="ui horizontal specialty list">
                        <div class="item">
                            <a href="{{ app_url_social }}/mentors?c=0&d={{ district }}" class="ui {% if !cid %}active{% endif %} link">全部</a>
                        </div>
                        {% for m in mentors %}
                        <div class="item">
                            <a href="{{ app_url_social }}/mentors?c={{ m.id }}&d={{ district }}" class="ui {% if cid == m.id %}active{% endif %} link">{{ m.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                    <h2 class="block title">所在地域</h2>
                    <div class="ui horizontal list">
                        <div class="item">
                            <a href="{{ app_url_social }}/mentors?c={{ c }}&d=0" class="ui {% if !district %}active{% endif %} link">全部</a>
                        </div>
                        {% for d in cities %}
                        <div class="item">
                            <a href="{{ app_url_social }}/mentors?c={{ c }}&d={{ d.id }}" class="ui {% if district == d.id %}active{% endif %} link">{{ d.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social people more">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column">
                <a class="ui ell pop link" href="javascript:void(0);" data-content="按条件检索" data-variation="inverted">
                    <i class="ellipsis vertical icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="social people all">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{% user_list var:'users' page:page only_ok:1 size:12 sort:'time' all_mentors:all_mentors mentor:cid district:district %}
				<div class="ui mentors four cards">
					{% for user in users.rows %}
				  	<div class="card">
						<div class="mentor">
							<a href="{{ user.home_url }}" title="{{ user.nickname }}" target="_blank" class="user"></a>
							<img src="{{ user.big_avatar_url }}" alt="{{ user.nickname }}" class="avatar" />
							{% if user.symbol %}
							<img src="{{ app_url_packaged }}/images/V.png" class="image-MV{%if user.symbol==2%} blue{%endif%}">
              {%endif%}
							<h3>{{ user.nickname }}</h3>
							<p>{{ user.mentor_info.name }} {{ user.city }}</p>
						</div>
				  	</div>
					{% endfor %}
				</div>
                
				{% if users.total_page > 1 %}
				<div class="ui pagination grid">
					{% pager url:pager_url,total_rows:users.total_rows,total_page:users.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="center aligned column">
				<h2 class="block title">十分感兴趣成为社区红人？</h2>
				<p></p>
				<a href="{{ app_url_login }}" class="ui large inverted grey button">
					<i class="user icon"></i>现在加入
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
