{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$('#category-form').form({
		name: {
			identifier  : 'name',
			rules: [
				{
					type   : 'empty',
					prompt : '分类标识不能为空'
				}
			]
		},
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '分类名称不能为空'
				}
			]
		}
	}, {
		inline: true,
		onSuccess: function(event){
			event.preventDefault();
			$(event.target).ajaxSubmit();
		}
	});
{% endblock %}
{% block content %}
	<h3 class="ui header">分类管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/category" class="{{css_all_category}} item">全部列表</a>
		<a href="{{ app_url_admin_base }}/category?only_open=1" class="{{css_open_category}} item">公开列表</a>
		<a href="{{ app_url_admin_base }}/category?only_open=-1" class="{{css_hide_category}} item">隐藏列表</a>
	  	<div class="right menu">
			<a href="{{ app_url_admin_base }}/category/edit" class="active item">
				+新增分类
			</a>
	    </div>
	</div>
	
	<div class="ui form segment">
		{% if mode == 'create' %}
		<h4>新增分类</h4>
		{% else %}
		<h4>编辑分类</h4>
		{% endif %}
		
		<form action="{{ app_url_admin_base }}/category/save" class="ajax-form" method="post" id="category-form">
			<input type="hidden" name="_id" value="{{ category._id }}" id="target_id" />
		    <input type="hidden" name="return_url" value="{{ return_url }}" />

      <div class="five fields">
        <div class="field">
          <label for="name">标识:</label>
            <input type="text" name="name" value="{{ category.name }}" />
        </div>
        
        <div class="field">
          <label for="title">名称:</label>
            <input type="text" name="title" value="{{ category.title }}" />
        </div>
      </div>


      <div class="three fields">
        <div class="field">
          <label for="pid">所属父级：</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="pid" value="{{ category.pid }}" />
              <div class="default text">请选择</div>
              <i class="angle down icon"></i>
              <div class="menu">
              {% for cate in top_category %}
              <div data-value="{{ cate._id }}" class="{% if cate._id == category.pid %}active {% endif %}item">{{ cate.title }}--{{ cate.domain_name }}</div>
              {% endfor %}
              </div>
          </div>
        </div>
        
        <div class="field">
          <label for="gid">所属类组：</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="gid" value="{{ category.gid }}" />
              <div class="default text">请选择</div>
              <i class="angle down icon"></i>
              <div class="menu">
              {% for g in groups %}
              <div data-value="{{ g.id }}" class="{% if g.id == cate.gid %}active {% endif %}item">{{ g.name }}</div>
              {% endfor %}
              </div>
          </div>
        </div>
        
        <div class="field">
          <label for="domain">所属区域：</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="domain" value="{{ category.domain }}" />
              <div class="default text">请选择</div>
              <i class="angle down icon"></i>
              <div class="menu">
                {% for d in domains %}
                  <div data-value="{{ d.id }}" class="{% if category.domain == d.id%}active {% endif %}item">{{ d.name }}</div>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
			
			<div class="inline fields">
			    <div class="field">
					<label for="is_open">是否公开：</label>
			      	<div class="ui radio checkbox">
			        	<input type="radio" name="is_open" value="1" {% if category.is_open == 1 %}checked="checked"{% endif %} />
						<label></label> 
			      	</div>
			      	<label class="checkbox title">公开</label>
			      	<div class="ui radio checkbox">
			        	<input type="radio" name="is_open" value="-1" {% if category.is_open < 1 %}checked="checked"{% endif %} /> 
			        	<label></label>
			      	</div>
			      	<label class="checkbox title">隐藏</label>
			    </div>
			    <div class="field">
			      	
			    </div>
			</div>

			<div class="inline fields">
			    <div class="field">
					<label for="is_open">是否推荐：</label>
			      	<div class="ui radio checkbox">
			        	<input type="radio" name="stick" value="0" {% if category.stick == 0 %}checked="checked"{% endif %} />
						<label></label> 
			      	</div>
			      	<label class="checkbox title">否</label>
			      	<div class="ui radio checkbox">
			        	<input type="radio" name="stick" value="1" {% if category.stick ==1 %}checked="checked"{% endif %} /> 
			        	<label></label>
			      	</div>
			      	<label class="checkbox title">是</label>
			    </div>
			    <div class="field">
			      	
			    </div>
			</div>

      <div class="four fields">
        <div class="field">
            <label for="total_count">主题数量：</label>
          <input type="text" class="form-control" name="total_count" value="{{ category.total_count }}" />
          <div class="ui pointing top label">
            手动修改主题数量
          </div>
        </div>
        <div class="field">
            <label for="total_count">主题子数量：</label>
          <input type="text" class="form-control" name="sub_count" value="{{ category.sub_count|default 0 }}" />
          <div class="ui pointing top label">
            手动修改主题子数量
          </div>
        </div>
        <div class="field">
            <label for="total_count">回复数量：</label>
          <input type="text" class="form-control" name="reply_count" value="{{ category.reply_count }}" />
          <div class="ui pointing top label">
            手动修改回复数量
          </div>
        </div>
        <div class="field">
            <label for="order_by">排序：</label>
          <input type="text" class="form-control" name="order_by" value="{{ category.order_by }}" />
          <div class="ui pointing top label">
            数字越小，越靠前!
          </div>
        </div>
      </div>

      <div class="three fields">
        <div class="field">
            <label for="app_cover_url">app封面图：</label>
          <input type="text" class="form-control" name="app_cover_url" value="{{ category.app_cover_url }}" placeholder="http://" />
          <div class="ui pointing top label">
            图片尺寸16:9(750x422): 在后台附件管理上传...
          </div>
        </div>
        <div class="field">
            <label for="app_cover_url">web封面图：</label>
          <input type="text" class="form-control" name="web_cover_url" value="{{ category.web_cover_url }}" placeholder="http://" />
          <div class="ui pointing top label">
            图片尺寸(580x420): 在后台附件管理上传...
          </div>
        </div>
        <div class="field">
            <label for="wap_cover_url">wap封面图：</label>
          <input type="text" class="form-control" name="wap_cover_url" value="{{ category.wap_cover_url }}" placeholder="http://" />
          <div class="ui pointing top label">
            图片尺寸(580x420): 在后台附件管理上传...
          </div>
        </div>
        <div class="field">
            <label for="back_url">备选图/路径：</label>
          <input type="text" class="form-control" name="back_url" value="{{ category.back_url }}" placeholder="http://" />
          <div class="ui pointing top label">
            图片尺寸: 在后台附件管理上传...
          </div>
        </div>
      </div>
			<div class="field">
			  	<label for="tags">标签：</label>
				<textarea rows="3" name="tags" class="small">{{ category.tags_s }}</textarea>
				<div class="ui pointing top label">
					分类标签，含：近义词、同类词、英文词! 同时用于网站meta_keys关键字优化
				</div>
			</div>
			<div class="field">
			  	<label for="summary">描述：</label>
				<textarea rows="3" name="summary" class="small">{{ category.summary }}</textarea>
				<div class="ui pointing top label">
					用于网站meta_description搜索优化
				</div>
			</div>
      <div class="five fields">
        <div class="field">
            <label for="tag_id">商品标签父ID：</label>
          <input type="text" class="form-control" name="tag_id" value="{{ category.tag_id }}" />
          <div class="ui pointing top label">
            需要查询标签库，可用于情景产品下标签搜索
          </div>
        </div>
      </div>
			
			<input type="submit" class="ui magenta inverted button" value="确认保存">
			<input type="button" class="ui gray inverted button" value="取消">
		</form>
	</div>
{% endblock %}
