---
# app.db.default: 'mysql://root:@localhost/test?charset=utf8'
#if in production mode,uncomment and change it to 'prod'
app.mode: 'dev'
deploy.root: '/Users/tian/opt/project/php/phenix/dev_root'
# app.dt:
  # cache: 'MemFile'
  # cache_dir: '/tmp/lgk'

app.domain.base: 'http://taihuoniao.me'
app.url.api:  '{$app.domain.base}/app/api'
#if in production mode,uncomment and change it to 'prod'
app.url.upload_url: '{$app.domain.app}/uploader'
#app.doggyx.class_path: '/Users/xiaoyi/Project/doggy-x'
app.doggyx.class_path: '/opt/project/php/doggy-x'

app.domain.mobile: '{$app.domain.base}'

app.url.packaged: '{$app.domain.static}'

app.js.use_bundle: 0
app.css.use_bundle: 0

app.mongodb_host: '127.0.0.1'
app.mongodb_rs: false
## mongodb
#app.mongo.default:
#  host: '127.0.0.1:27028,127.0.0.1:27027,127.0.0.1:27029'
#  db: 'firebird'
#  username: 'root'
#  password: 'Frbird#2014$Shop'
#  replicaSet: 'she_main'

## mongodb
##tianshuai
app.mongo.default:
  host: '127.0.0.1'
  db: 'firebird'

# redisdb
app.redis_host: 'localhost:6379'

# redisdb
app.redis.default:
    host: '127.0.0.1'
    port: 6379
    verified: 1
    requirepass: '123456'

app.disable_cached: 0
app.cache.memcached.default:
  servers:
    -
      host: '127.0.0.1'
      port: 11211
      weight: 1

#xun_search db name
app.xun_search_db: 'phenix_dev'

# 是否验证api签名
app.api.is_validate_sign: 0

# 周年庆送红包活动(包括注册,邀请送红包) 开关
app.anniversary2015.switch: 1

# App商城首页推荐分类
app.default_app_store_stick.category_id: 55

# 情景分类
app.scene_sight.category_id: 47

# 十万火计
app.topic.dream_category_id: 9

# 十万火计2
app.contest.dream2_category_id: 18

# 奇思甬动-大赛
app.contest.qsyd_category_id: 68
app.contest.qsyd2_category_id: 37

# 产品灵感
app.topic.idea_category_id: 22
# 蛋年活动
app.birdegg.category_id: 80

# 话题官方版块ID
app.topic_category_official: 16
# 话题用户版块ID
app.topic_category_user: 17

# 大赛作品分类--反向定制
app.stuff.contest_category_id: 55

# 中国最火爆智能硬件TOP100
app.stuff.top100_category_id: 20

# 情景语境分类
app.scene_context.category_id: 46

# 情景地盘分类
app.scene.category_id: 42

#抢口罩-商品ID
app.comeon.product_id: 1120800090

# 案例作品
app.stuff.okcase_category_id: 34

# JBL商品ID
app.product_jbl_id: 1088027398

# 发送通知用户组
app.send_notice_users: '1|5|9'

# 参与评论投票的话题ID
app.topic_comment_ids: '37|36'

# 高级管理员ID数组
app.high_admin_ids: '2|10'

# 话题综合版块ID
app.topic_category_comprehensive: 16
# 话题产品版块ID
app.topic_category_product: 17

# fiuApp下单优惠开关
app.fiu_order_reduce_switch: 1

# 默认邮费
app.default_freight: 10

# 百度推送 token
baidu_push_token: ''

# 支付宝
app.alipay.partner: '2088411237666512'
app.alipay.key: '8igqejramxdbw53yvlp8aukvbt9s5rnd'
app.alipay.cacert: '/opt/project/php/phenix/vendor/cacert.pem'
app.alipay.pendir: '/opt/project/php/phenix/vendor'

# Fiu~支付宝
app.alipay.fiu.partner: '2088511301099072'
app.alipay.fiu.key: 'd51e530330df4c79bc5f743a9a5c4e01'
app.alipay.fiu.cacert: '/opt/project/php/phenix/vendor/cacert.pem'
app.alipay.fiu.pendir: '/opt/project/php/phenix/vendor'

# 淘宝
app.taobao.key: '21781655'
app.taobao.secret: '0b36c8be771fae402ba28bd59b75d589'

# SinaWeibo API
app.sinaweibo.app_key: '3156984431'
app.sinaweibo.app_secret: '392108a844e55d5d9db81a585feab60b'
app.sinaweibo.callback_url: '{$app.url.domain}/sina/authorize'
app.sinaweibo.wap_callback_url: '{$app.url.wap}/app/site/sina/wap_authorize'

# QQ API
app.qq.app_id: '101092227'
app.qq.app_key: 'ba61849a6ab90421e849c116f4f4dea4'
app.qq.callback_url: '{$app.url.domain}/qq/authorize'
app.qq.wap_callback_url: '{$app.url.wap}/app/site/qq/wap_authorize'
app.qq.scope: 'get_user_info,add_share,add_weibo,add_t,add_pic_t,get_info'

# WeiXin API(test-conf)
app.wx.app_id: 'wx34b60f01932004af'
app.wx.app_secret: '85e685889332e9d69a6268fdec18b92e'
app.wx.callback_url: '{$app.url.domain}/weixin/call_back'

# 七牛存储（开发环境使用本地存储）
app.url.qiniu.upload: '{$app.url.action_base}/uploader'

app.url.upload: '{$app.url.qiniu.upload}'
app.url.upload.product: '{$app.url.upload}/product'
app.url.upload.topic: '{$app.url.upload}/topic'
app.url.upload.albums: '{$app.url.upload}/albums'
app.url.upload.pictures: '{$app.url.upload}/pictures'
app.url.upload.avatar: '{$app.url.upload}/avatar'
app.url.upload.dotry: '{$app.url.upload}/dotry'
app.url.upload.advertise: '{$app.url.upload}/advertise'
app.url.upload.stuff: '{$app.url.upload}/stuff'
app.url.upload.feditor: '{$app.url.upload}/feditor'
app.url.upload.albums: '{$app.url.upload}/albums'

# 银联支付
app.quickpay.key: '898111153990242'
app.quickpay.secret: '88888888'
app.url.front_pay_url: 'http://202.101.25.184/UpopWeb/api/Pay.action'
app.url.back_pay_url: 'http://202.101.25.184/UpopWeb/api/BSPay.action'
app.url.query_url: 'http://202.101.25.184/UpopWeb/api/Query.action'

# 京东支付
app.jd_pay:
    merchant: '110218183002'
    des_key: 'WhSSDUsR9uVTwog8Zaxn4BMlAB4W4gRM'
    seller_rsa_private_key: '/Users/tian/opt/project/php/phenix/vendor/jd_cert/seller_rsa_private_key.pem'
    wy_rsa_public_key: '/Users/tian/opt/project/php/phenix/vendor/jd_cert/wy_rsa_public_key.pem'
    version: 'V2.0'

# 临时数据存储目录
#app.storage.tmpdir: '/Users/xiaoyi/data/export'
app.storage.tmpdir: '/opt/tmp'

# 实验室会员价格表
app.d3in.vip_money:
  day: 80
  month: 800
  quarter: 2112
  self_year: 3840
  year: 6720

# session secret key
#app.session.secret_key: 'CHANGE_IT'
