---
app.db.default: 'mysql://root:@localhost/test?charset=utf8'
#if in production mode,uncomment and change it to 'prod'
#app.mode: 'dev'

app.mongodb_rs: true
app.mongodb_host: '192.168.8.3'
app.keychains.private: 'xxxxOOOOxxxx'

app.url.packaged: '{$app.url.qiniu.frstatic}'

app.js.use_bundle: 1
app.css.use_bundle: 1

# redisdb
app.redis_host: 'localhost:6379'

# 产品话题类别
app.product.topic_category_id: 1

app.url.action_base:    '{$app.domain.app}'

app.url.upload_url: '{$app.domain.app}/uploader'
app.doggyx.class_path: '/Users/xiaoyi/Project/doggy-x'

#社区
app.url.social: '{$app.url.domain}/social'
app.url.topic: '{$app.url.domain}/topic-%s-%s-%s-%s.html'
app.url.topic.view: '{$app.url.domain}/topic/show-%s-%s.html'

app.url.thumb: 'http://img.rayshe.com/%s'

# 附件存储目录
app.storage.sher: 
    class: 'Doggy_Storage_Provider_FileSystem' 
    options: 
        root: '/data/storage/uploads' 
        root_url: '/uploads'
        hash_dir: false
		
# 支付宝
app.alipay.partner: '2088411237666512'
app.alipay.key: 'k9gnpm4nfd1qmrzyq3y4nzwj31m6fjc5'
app.alipay.cacert: '/Users/xiaoyi/Project/phenix/vendor/cacert.pem'

# SinaWeibo API
app.sinaweibo.app_key: '3156984431'
app.sinaweibo.app_secret: '392108a844e55d5d9db81a585feab60b'
app.sinaweibo.callback_url: '{$app.url.action_base}/sina/authorize'

# 淘宝
app.taobao.key: '21781655'
app.taobao.secret: '0b36c8be771fae402ba28bd59b75d589'


# 微信支付
app.wechat.pay_sign_key: 'ArioxptbBJu25ANvabeBqavpE7diWUfTtDu1FCkt66Ojdzb1N3ajKoGAX3xdT3GIsj7C8g1pglSBVqaUNrqsoz5vfiASYrinEL4bAvuhTBgs1ZrdX7gJNgx8qgHBG0V4'

# 七牛存储（生产环境使用云存储）
app.url.qiniu.upload: 'http://up.qiniu.com'

app.url.upload: '{$app.url.qiniu.upload}'
app.url.upload.product: '{$app.url.upload}'
app.url.upload.topic: '{$app.url.upload}'
app.url.upload.pictures: '{$app.url.upload}'
app.url.upload.avatar: '{$app.url.upload}'



