{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	.camp .row .column{
		padding:0 !important;
	}
	.camp .presell{
		padding:0.5em 0.8em;
	}
	.camp .content{
		padding:1em 0.5em !important;
	}
	.presell {
		padding: .8em 1.5em .8em .8em;
		font-size: 12px;
		background: rgba(0,0,0,.5);
		position: absolute;
		bottom: 0;
		color: #fff;
		z-index: 999;
	}
	.i-stats {
	  background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff 26%) repeat scroll 0 0 rgba(0,0,0,));
	  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 26%) repeat scroll 0 0 rgba(0,0,0,0);
	  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 26%) repeat scroll 0 0 rgba(0,0,0,0);
	  bottom: .5rem;
	  left: 1rem;
	  padding-top: 15px;
	  position: absolute;
	  right: 1rem;
	}
	.image +.content {
	  background: 0 0;
	  margin: 0;
	  padding: 1rem 1rem 75px!important;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  font-size: 1em;
	  border: 0;
	  border-radius: 0;
	}
	.i-stats>.love {
	  border-top: 2px solid rgba(0,0,0,.1);
	  padding-bottom: .5rem;
	  padding-top: .7rem;
	  position: relative;
	}
	.i-stats>.love>.apply {
	  position: absolute;
	  right: 0;
	  text-align: right;
	  top: .75rem;
	  z-index: 9;
	}
</style>
{% endblock %}

{% block layout_js %}
  <script type="text/javascript" >
      function ajax_load_more(type, sort, page, size){
          //防止频繁请求(在没加载完成时只允许请求一次)
          $('#active-more').show().attr('status', 1);
          var url = '{{ app_url_wap }}/active/ajax_load_list';
          $.get(url, { sort:sort, type:type, page:page, size:size }, function(rs){
              // console.log('total page: '+ rs.data.results.total_page + ' page: '+ rs.data.results.current_page);
              if(rs.data.results.total_page > rs.data.results.current_page){
                  $('#active-more')
                      .hide()
                      .attr({'status': 0, 'page': rs.data.page});
              }else{
                  $('#active-more').html('没有更多');
              }
              var rendered = phenix.ajax_render_result('#fetch_more_actives_tpl', rs.data);
              $('.item-box').append(rendered);
          }, 'json');
      }
  </script>
{% endblock %}

{% block jquery %}

  //ajax加载更多(滚动条接近底部加载)
  $(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight > scrollHeight-100){
      var stat = $('#active-more').attr('status');
      var page = parseInt($('#active-more').attr('page')) + 1;

      if(stat==0){
        ajax_load_more(0, 0, page, 6);
      }
　　}
  });

  ajax_load_more(0, 0, 1, 6);


{% endblock %}

{% block content %}
<div class='active page' id="activitypage">
	<div class="ui responsive grid">
		<!--<div class="row">
			<div class="column">
				<div class="ui breadcrumb">
				  	<a class="section" href="{{ app_url_wap }}">
						<i class="icon home"></i>首页
					</a>
				  	<div class="divider"> / </div>
				  	<div class="active section">活动</div>
				</div>
			</div>
		</div>-->
		
		<div class="row">
			<div class="column">
				<div class="ui one products activity cards item-box">
        <!--ajax load list-->
				</div>
			</div>
		</div>
		<div class="row">

      <!--ajax load-->
      <div id="active-more" style="display:none;" page="1" status="0">
        <div style="text-align:center;margin:10px auto;">
          <img src="{{ app_url_packaged }}/images/mall/loading2.gif" alt="loading" width="30" height="30">
        </div>
      </div>

	  </div>
	</div>
</div>
{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_actives_tpl' tpl:'mustache_m/fetch_more_actives.mustache' %}
{% endblock %}
