{%extends 'layout/mobile.html'%}
{% block title%}关于-{% endblock %}
{% block page_css %}
<style type="text/css">
  #mfrbird{
    margin-top:0;
  }
	.aboutus {
		margin: 0em auto;
	}
	.aboutus	h3.ui.header .sub.header{
	  margin-top: 15px;
	}
	.about{
	  background:url({{ app_url_packaged }}/images/incubator/about.jpg) center center no-repeat;
	  background-size:cover;
	  color:#fff;
	}
	.about h3.ui.header{
	  color:#fff !important;
	  padding:30px 0px 20px;
	}
	.about h3.ui.header .sub.header{
	  color: #fff;
    margin-top: 15px;
    line-height: 24px;
	}
	.aboutus hr {
	    background: none repeat scroll 0 0 #c3bbbe;
	    border: medium none;
	    height: 1px;
	    margin: 0 auto;
	    width: 50px;
	}
	.principle i {
	    color: #f36;
	    font-size: 48px;
	    margin: 0;
	}
	.ui.big.block{
	  padding:25px 0;
	}
	.ui.white{
	  background:#fff;
	}
	
	.ui.principle i {
      font-size: 40px;
      color: #f36;
      margin: 0;
  }
  .ui.principle h4{
      margin-top:0 !important;
  }
  .ui.principle .ui.center.row{
    padding:15px 0;
  }
  
  .photo{
	  background:url({{ app_url_packaged }}/images/incubator/about1.jpg) center center no-repeat;
	  background-size:cover;
	  color:#fff;
	  padding:25px 0 20px;
	}
	.photo h2.ui.header,.photo h3.ui.header{
	  color:#fff !important;
	}
	.photo h2.ui.header + p{
	  margin-bottom:5px !important;
	}
	
	.contact .card .content {
      border-radius: .2875em !important;
      box-shadow: 0 2px 0 #f36 inset !important;
      font-size: 1rem !important;
      line-height: 2em;
      padding: 1em 8px !important;
      background:#fff !important;
      overflow:hidden;
  }
  .contact .row+.row{
    padding:10px !important;
  }
  .ui.center.aligned.row{
    text-align:center;
  }
</style>
{% endblock %}

{% block content %}
<div class="aboutus">
  <div class="about">
    <div class="ui center aligned responsive grid">
      <div class="row">
        <div class="column">
          <h3 class="ui header">
            <div class="content">
              关于太火鸟
  						<div class="sub header">
  						  太火鸟科技是中国创新产品策源地，是基于人工智能的产品创新引擎和智能分发SaaS平台。全力打造科技美学创新产品的新消费生态。
  						</div>
            </div>
          </h3>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui white big block principle">
    <div class="ui responsive center aligned grid">
      <div class="row">
        <div class="column">
          <h3 class="ui header">
            <div class="content">
              我们的优势
              <div class="sub header">
                我们正在建立一个支持社会发明和创新创业的群落，精准、全面、有效。
              </div>
            </div>
          </h3>
        </div>
      </div>
      <div class="ui center aligned row" style="padding-top:30px;">
        <div class="column">
  				<i class="bullseye icon"></i>
          <h4 class="ui header">精准</h4>
  				<p>这里有完备的数据支持与信息服务系统，我们用数据在第一时间说话，用消费者的反馈帮助产品改进创新，使产品用户体验优化。</p>
  			</div>
  		</div>
  		<div class="ui center aligned row">
  			<div class="column">
  				<i class="send icon"></i>
          <h4 class="ui header">有效</h4>
  				<p>结合第一手数据与反馈信息，及时调整产品战略方向，帮助项目重新定位，提出有效营销解决方案。</p>
  			</div>
  		</div>
  		<div class="ui center aligned row">
  			<div class="column">
  				<i class="world icon"></i>
          <h4 class="ui header">全面</h4>
  				<p>这里有国内外前沿的设计师专家评审团，15年的资源积累与创意消费大数据，借助社区力量，帮助项目打通线上线下渠道，全面覆盖，打造完整的创意生态产业链。</p>
  			</div>
        
      
      </div>
      
    </div>
  </div>
  
  <div class="photo">
    <div class="ui center aligned responsive grid">
      <div class="row">
        <div class="column">
          <h3 class="ui header">太火鸟科技 ｜ 北京 · 深圳 · 香港</h3>
          <h2 class="ui header">中国创新产品策源地</h2>
          
          <p>Http://www.taihuoniao.com</p>
          <p>Hotline: 4008 - 798 - 751</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui big contact block">
    <div class="ui center aligned responsive grid">
      <div class="row">
        <div class="column">
          <p>地址：北京市 朝阳区 酒仙桥路4号 751北京时尚设计广场 极地创新中心218室 / P.c.100015</p>
          <p>深圳市 福田区 保税区市花路 花样年福年广场 B栋629室 / P.c.518000</p>
        </div>
      </div>
      
      <div class="row">
        <div class="ui two products cards">
          <div class="card">
            <div class="content">
            	<h4 class="ui header">商品合作</h4>
							<p>+8610  8459 9327</p>
							<p>products@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">市场合作</h4>
							<p>+8610   8459 9374</p>
							<p>support@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">渠道合作</h4>
							<p>+8610  8459 9374</p>
							<p>sales@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">社区合作</h4>
							<p>+8610  8459 9323</p>
							<p>bbs@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">铟立方未来实验室</h4>
							<p>+0755  2266 2313</p>
							<p>d3in@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">售后服务</h4>
							<p>+8610  8459 9327</p>
							<p>service@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">加入我们</h4>
							<p>+8610  8459 9328</p>
							<p>hi@taihuoniao.com</p>
						</div>
          </div>
          <div class="card">
            <div class="content">
            	<h4 class="ui header">意见反馈</h4>
							<p>feedback@taihuoniao.com</p>
							<p>&nbsp;</p>
						</div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui white big block">
    <div class="ui responsive center aligned grid">
      <div class="ui center aligned row">
        <div class="center aligned eight wide column">
        	<div class="image">
  					<img src="{{ app_url_packaged }}/images/weixin-220.jpg" alt="太火鸟-中国创新产品策源地" width="100%">
  				</div>
  				<div class="content">
  					微信号－<b>taihuoniao</b>
  				</div>
  			</div>
  			<!--<div class="center aligned eight wide column">
        	<div class="image">
  					<img src="{{ app_url_packaged }}/images/weibo-220.jpg" alt="太火鸟-中国创新产品策源地" width="100%">
  				</div>
  				<div class="content">
  					微博－<b>太火鸟</b>
  				</div>
  			</div>-->
    
      </div>
    </div>
  </div>
    
</div>
{% endblock %}
