{%extends 'layout/mobile.html'%}
{% block title%}购物车{% endblock %}
{% block page_css %}
<style type="text/css">

</style>
{% endblock %}

{% block jquery %}

  // 移除购物车商品 
  $('.remove_cart').click(function(){
    var target_id = $(this).data('target_id');
    var type = $(this).data('type');
    var array = target_id+"|"+type;
    $.post("{{ app_url_wap }}/app/site/cart/ajax_remove_cart", {array: array}, function(result){
      if(result.success){
        $('#cart-product-'+target_id).remove();
      }else{
        phenix_show_error_note(result.message, 3000);
      }
    }, 'json')
  });
	
{% endblock %}

{% block content %}
<div class="cart page">
	<div class="ui responsive grid">
		<div class="row">
			{% if products %}
				<div class="ui column" id="cart-body-content">
					<h5 class="ui dividing header">我的购物车</h5>
					<table class="ui cart padded table segment form">
						<thead>
							<tr>
								<th></th>
								<th>产品信息</th>
								<th class="center aligned">单价</th>
								<th class="center aligned">购买数量</th>
								<th class="center aligned">小计</th>
								<th class="center aligned"></th>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr id="cart-product-{{ product.target_id }}">
								<td class="two wide">
									<a href="{{ product.wap_view_url }}" class="ui cover image">
							      		<img src="{{ product.cover }}" alt="{{ product.title }}" />
									</a>
								</td>
								<td class="six wide">
						          	<div class="ui small header">
								      	<div class="content">
                          <a href="{{ product.wap_view_url }}" class="ui line link">{% if product.sku_mode %}{{ product.title }}({{ product.sku_mode }}){%else%}{{ product.title }}{%endif%}</a>
											<div class="sub header">
												<p class="attribute">编号：{{ product.target_id }}</p>
											</div>
								      	</div>
									</div>
								</td>
								<td class="center aligned">
									<span class="money">{{ product.sale_price }}</span> 元
								</td>
								<td class="center aligned">
									<div class="quantity">
										<button class="ui mini gray dec-qty icon button" data-sku="{{ product.target_id }}">
											<i class="flat reduce icon"></i>
										</button>
										<input type="text" name="product-{{ product.target_id }}-qty" id="product-{{ product.target_id }}-qty" value="{{ product.n }}" autocomplete="off" />
										<button class="ui mini gray inc-qty icon button" data-sku="{{ product.target_id }}">
											<i class="flat add icon"></i>
										</button>
									</div>
								</td>
								<td class="center aligned">
									<div id="product-{{ product.target_id }}-subttotal" data-money="{{ product.total_price }}">
										<span class="money">{{ product.total_price }}</span> 元
									</div>
								</td>
								<td class="center aligned">
                  <button class="magenta ui remove_cart button" data-target_id="{{ product.target_id }}" data-type="{{ product.type }}">
										<i class="close icon"></i>
									</button>
								</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
					
					<div class="ui bottom aligned grid">
						<div class="row">
							<div class="six wide column">
								<a href="{{ app_url_shop }}" class="ui black btn-4 btn-4c btn inverted button" data-content="继续挑选商品" data-variation="inverted">
									<i class="search icon"></i>继续购物
								</a>
							</div>
							<div class="right aligned ten wide column">
								<div class="bill">
									<p class="item">
										<b class="cart-items-count money">{{ items_count }}</b>件产品，总计：<b class="cart-total-money money">{{ total_money }}</b><span class="unit">元</span>
									</p>
								</div>
                <a href="{{ app_url_wap }}/shop/checkout" class="ui magenta btn-4 btn-4c icon-arrow-right inverted button checkout btn">去结算</a>
							</div>
						</div>
					</div>
				</div>
			
			{% else %}
				<div class="column" id="cart-body-content">
					<h5 class="ui dividing header">我的购物车</h5>
					<div class="ui empty message">
						<h1 class="ui big header">
							<i class="cart icon" style="font-size:1em !important;vertical-align: top;padding-top:0;"></i>
							<div class="content" style="display:inline-block;">
								<div class="sub header">还没选中产品？<a href="{{ app_url_wap }}/shop" class="ui magenta link">赶快去选购吧</a></div>
							</div>
						</h1>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
