{%extends 'layout/mobile.html'%}
{% block title%}太火鸟{% endblock %}
{% block page_css %}
<style type="text/css">
	#mfrbird {
	    margin: 0em auto 1.5em !important;
	}
@media only screen and (max-width: 320px){
	#slider{
		height:180px;
	}
}
@media only screen and (min-width:321px )and (max-width: 375px){
	#slider{
		height:210px;
	}
}
@media only screen and (min-width: 376px) and (max-width: 414px){
	#slider{
		height:232px;
	}
}
h4 a.seemore{
    font-size: 12px;
    display: inline-block;
    float: right;
}
.appstore{
	display:none;
}
.appiosload{
	display:none;
    width: 100%;
    height: 70px;
	position: relative;
}
.appiosload .logo {
    width: 50px;
    height: 50px;
    margin: 10px 30px;
}
.appiosload .content {
    margin: 10px 0 10px 90px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}
.appiosload .content .sub.header{
    line-height: 14px;
    margin-top: 4px;
}
.appiosload .content .sub.header span{
	font-size: 10px;
	color: #f36;
}
.appiosload .ui.magenta.button{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 100px;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    box-shadow: 0 0 0 1px #f36 inset!important;
    font-weight: 400;
}
.appiosload .apploadclose{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
#appload,#apploadand {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    display: none;
    background: rgba(0,0,0,.9);
}
#appload img,#apploadand img{
    width: 80%;
    margin: 10% 5% 10% 15%;
}
@media only screen and (max-width: 340px){
	.appiosload .logo {
	    width: 40px;
	    height: 40px;
	    margin: 15px 25px;
	}
	.appiosload .content{
		margin: 10px 0 10px 70px;
		padding-top: 4px;
	}
	h4.ui.header{
		font-size:14px !important;
	}
	.appiosload .content .sub.header{
		font-size: 13px;
	}
	.appiosload .ui.magenta.button{
		margin-left: 95px;
	    -webkit-transform: translate3d(0,-50%,0) scale(0.8);
	    -moz-transform: translate3d(0,-50%,0) scale(0.8);
	    -ms-transform: translate3d(0,-50%,0) scale(0.8);
	    transform: translate3d(0,-50%,0) scale(0.8);
	}
	
}
</style>
{% endblock %}

{% block layout_js %}
  <script type="text/javascript" >
     // 产品
     function ajax_load_product_more(category_id, type, sort, page, size){
        var url = '{{ app_url_wap }}/shop/ajax_load_list';
        $.get(url, { category_id:category_id, sort:sort, page:page, type:type, size:size }, function(rs){
             var rendered = phenix.ajax_render_result('#fetch_more_products_tpl', rs.data);
             $('#mpresale .recom-item').append(rendered);
			 $("img.lazy").lazyload({
			     effect : "show"
			 });
         }, 'json');
      }
   /*   // 试用
      function ajax_load_try_more(type, sort, page, size){
          var url = '{{ app_url_wap }}/try/ajax_load_list';
          $.get(url, { sort:sort, type:type, page:page, size:size }, function(rs){
              var rendered = phenix.ajax_render_result('#fetch_more_try_tpl', rs.data);
              $('#triespage .item-box').append(rendered);
          }, 'json');
      }

      // 评测
      function ajax_load_topic_eval_more(type, sort, page, size){
          var url = '{{ app_url_wap }}/topic/ajax_fetch_more';
          $.get(url, { sort:sort, type:type, page:page, size:size }, function(rs){
              var rendered = phenix.ajax_render_result('#fetch_more_topic_tpl', rs.data);
              $('#topicspage .item-box').append(rendered);
          }, 'json');
      }
*/
  </script>
{% endblock %}

{% block jquery %}
	$('.apploadclose').on('click',function(){
		$('.appiosload').remove();
	});
	$('.appstore .appclose').on('click',function(){
		$('.appstore').remove();
	});
	$('#appload,#apploadand').click(function(){
	    $('#appload,#apploadand').removeAttr('style');
	});

	if (navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)) {
		var loadDateTime = new Date();
	  	window.setTimeout(function() {
		  	var timeOutDateTime = new Date();
		   	if (timeOutDateTime - loadDateTime < 5000) {
				$('.appiosload').css('display','block');
				$('.appiosload .magenta.button').on('click',function(){
					window.location="taihuoniao://";
				});
				
		   	}else {
				$('.appstore').fadeIn().slow;
				$('.appstore .white.inverted.button').click(function(){
				    var ua = navigator.userAgent.toLowerCase();  
				    if(ua.match(/MicroMessenger/i)=="micromessenger"){
						$('#appload').css('display','block');
					}else{
						window.location='https://itunes.apple.com/cn/app/tai-huo-niao-huo-bao-zhi-neng/id946737402?mt=8';
					}
				});
			} 
	  	},25);
		//window.location ="taihuoniao://";
	 }
	 else if (navigator.userAgent.match(/android/i)) {	 
	 	/*var state = null;
	  	try {
			$('.appiosload').css('display','block');
			$('.appiosload .magenta.button').on('click',function(){
				window.location="";
			});
	  	} catch(e) {}
	  	if (!state) {
	   		$('.appstore').fadeIn().slow;
			$('.appstore .white.inverted.button').click(function(){
			    var ua = navigator.userAgent.toLowerCase();  
			    if(ua.match(/MicroMessenger/i)=="micromessenger"){
					$('#apploadand').css('display','block');
				}else{
					window.location='';
				}
			});
	  	}*/
 	};


	$.ajaxSettings.async = false; 

  // 判断是否来自易购
  {% if uid %}
    {% if hid %}
      phenix.show_error_note('该活动不支持手机版!', 3000);
    {%endif%}
  {%endif%}
  
	$('#pc-site').click(function(){
		phenix.create_cookie('mode', 'pc', 1, 'taihuoniao.com');
		phenix.redirect('http://www.taihuoniao.com', 0);
	});
	
	$('#touch-site').click(function(){
		phenix.create_cookie('mode', 'mobile', 1, 'taihuoniao.com');
		phenix.redirect('http://m.taihuoniao.com', 0);
	});

  //预售结束时间
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});

  //快捷注册
  {% if quickly_signup=='1' %}
    alert('您的默认密码为当前手机号后6位,为了您的账户安全,请尽快去个人中心修改密码!');
  {%endif%}
  
	$('#slider').flexslider({
      animation: "slide",
      directionNav: false, 
      controlNav: true,
      animationLoop: true,
      slideshow: true,
      slideshowSpeed: 5000,
      animationDuration: 300,
      animationSpeed: 300,
  });
	
	var flexheight = Math.floor($('#mfrbird').width()*9/16)+'px';
	$('#slider,#slider.flexslider .slides,#slider.flexslider .slides li,#slider.flexslider .slides li a').css('height',flexheight);

  ajax_load_product_more(0, 2, 4, 1, 12);

  // 先注掉，php已加载
  //ajax_load_try_more(0, 1, 1, 2);
  //ajax_load_topic_eval_more(5, 6, 1, 6);
{% endblock %}

{% block content %}
{% ad_list var:'ad' state:2 size:5 name:'wap_index_slide' %}
<div id="slider" class="flexslider flex-single">
  <ul class="slides">
    {% for ad in ad.rows %}
      <li style="background-image: url('{{ ad.cover.fileurl }}');">
        <a href="{{ ad.mm_view_url }}" title="{{ ad.title }}" alt="{{ ad.title }}">
            <img src="{{ ad.cover.fileurl }}" alt="{{ ad.title }}" style="display: none;" />
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="nav-menu">
	<ul class="navfelx">
		<li class="childcell">
			<a class="menuicon" href="{{ app_url_wap }}/topic" title="社区">
				<img src="{{ app_url_packaged }}/images/icon/topic.png">
			    社区
			</a>
		</li>
		<li class="childcell">
			<a class="menuicon" href="{{ app_url_wap }}/shop" title="商城">
				<img src="{{ app_url_packaged }}/images/icon/product.png">
			    商城
			</a>
		</li>
		<li class="childcell">
			<a class="menuicon" href="{{ app_url_wap }}/try" title="免费试用">
				<img src="{{ app_url_packaged }}/images/icon/try.png">
			    免费试用
			</a>
		</li>
		<li class="childcell">
			<a class="menuicon" href="{{ app_url_wap }}/incubator/resource" title="孵化">
				<img src="{{ app_url_packaged }}/images/icon/cooa.png">
			    孵化
			</a>
		</li>
		<li class="childcell">
			<a class="menuicon" href="{{ app_url_wap }}/active" title="活动">
				<img src="{{ app_url_packaged }}/images/icon/active.png">
			    活动
			</a>
		</li>
	</ul>
</div>

<!-- 社区推荐位 500x330 -->
<div class="recommend-topic">
	<div class="recom-item">
    {% cache cache_key:'wap_index_product_stick_slide' ttl:600 disable_cache:app_disable_cached %}
        
		{% ad_list var:'adslide2' page:1 size:4 state:2 name:'web_index_product_stick_slide' %}
        {% if adslide2.rows %}
		
		{% for ad in adslide2.rows %}
		<div class="recom-cell">
			<a href="{{ ad.view_url }}" title="{{ ad.title }}">
				<img class="lazy" data-original="{{ ad.cover.fileurl }}" src="{{ app_url_packaged }}/images/icon/loading.png" title="{{ ad.title }}">
				<div class="desc">
					{{ ad.title }}
				</div>
			</a>
		</div>
		 {%endfor%}
         {%endif%}
         
         {% endcache %}
		 
         {% cache cache_key:'wap_index_topic_stick_slide' ttl:500 disable_cache:app_disable_cached %}
         
         {% ad_list var:'adslide3' page:1 size:4 state:2 name:'web_index_topic_stick_slide' %}
		 {% for ad in adslide3.rows %}
		<div class="recom-cell">
			<a href="{{ ad.view_url }}" title="{{ ad.title }}">
				<img class="lazy" data-original="{{ ad.cover.fileurl }}" src="{{ app_url_packaged }}/images/icon/loading.png" title="{{ ad.title }}">
				<div class="desc">
                        {{ ad.title }}
                </div>
			</a>
		</div>
		{% endfor %}
		{% endcache %}
		
	</div>
	
</div>

{% cache cache_key:'wap_index_try_stick_slide' ttl:500 disable_cache:app_disable_cached %}
{% try_list var:'tries' sort:1 state:1 page:1 size:4 %}
{% if tries.rows %}
<!-- 试用推荐 -->
<div class="games page try" id="triespage">
	<div class="ui responsive grid">
		<div class="row pb-0">
			<div class="column">
				<h4 class="ui header">免费试用
				<a href="{{ app_url_wap }}/try" title="查看更多" class="ui seemore line link" >查看更多</a>
				</h4>
			</div>
		</div>
	 </div>
     <div class="recom-item">
      {% for d in tries.rows %}
        <div class="recom-cell">
          <a href="{{ d.wap_view_url }}" title="{{ d.short_title }}">
            <img class="lazy" data-original="{{ d.cover.thumbnails.resp.view_url }}" alt="{{ d.short_title }}" src="{{ app_url_packaged }}/images/icon/load373-298.png">
            <div class="desc">
			  <h2>
      			    {{ d.short_title }}
              </h2>
			  <div class="excerpt">
	             <p>数量:<span class="count">{{ d.try_count}}</span>  申请人数:<span class="count">{{ d.apply_count }}</span>
	             </p>
	          </div>
			  
            </div>
          </a>
        </div>
      {%endfor%}
	</div>
</div>
{%endif%}
{% endcache %}

<!--商品-->
<div id="mpresale">
	<div class="ui responsive grid">
		<div class="row pb-0">
			<div class="column">
				<h4 class="ui header">热门商品
				<a href="{{ app_url_wap }}/shop" class="ui seemore line link" >查看更多</a>
				</h4>
			</div>
		</div>
		<div class="row pt-0">
			<div class="recom-item">
			
			</div>
		</div>
	</div>
	
			
			<!--<div class="ui products two cards item-box" style="margin-top:0;">
      		  
			</div>-->
</div>

{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_products_tpl' tpl:'mustache_m/fetch_more_products.mustache' %}
{% endblock %}
