{%extends 'layout/mobile.html'%}
{% block title%}个人中心-{% endblock %}
{% block page_css %}
<style type="text/css">
#mfrbird{
	margin-top:0;
}
.mytop{
	padding:15px 0;
	width:100%;
    display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
	align-items:center;
    -webkit-box-align: center;
}
.myphoto{
	width:60px;
	height:50px;
	padding-left:10px;
	position:relative;
}
.myphoto img{
	width:50px;
	height:50px;
	border-radius:50%;
	vertical-align: middle;
}
.mymessg{
	-webkit-box-flex: 1;
	box-flex: 1;
    position: relative;
	margin-right:10px;
}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
<div id="personal">
	<div class="mytop">
		<div class="myphoto">
			<img src="http://static.taihuoniao.me/images/deavatar/007-s.jpg" alt="Technician">
		</div>
		<div class="mymessg">
			<h3 class="ui header">boc747</h3>
			<p>
				城市：北京<br>
				等级：鸟下士<br>
				鸟币：10<br>
			</p>
		</div>
	</div>
	
	
</div>

<!--<div class="ui responsive grid">
	<div class="row">
		<div class="column">
			<div class="ui pointing vertical fluid navigation menu">
				<div class="header item">
				    <i class="user icon"></i>个人中心
				</div>
				<a href="{{ app_url_wap }}/my/account" class="{{ css_user_account }} item">
					<i class="flat account_settings icon"></i> 账户信息
				</a>
				<a href="{{ app_url_wap }}/my/pmall" class="{{ css_user_pmall }} item">
					<i class="flat Quality icon"></i> 积分商城
				</a>
				<a href="{{ app_url_wap }}/my/orders" class="{{ css_user_orders }} item">
					<i class="flat order icon"></i> 订单查询
				</a>
				<a href="{{ app_url_wap }}/my/orders?s=1" class="{{ css_nopayed }} item">
					<i class="flat order icon"></i> 待付款订单
				</a>
				<a href="{{ app_url_wap }}/my/shipping" class="{{ css_user_shipping }} item">
					<i class="flat position icon"></i> 收货地址管理
				</a>
				<a href="{{ app_url_wap }}/my/bonus" class="{{ css_user_bonus }} item">
					<i class="flat dollar78 icon"></i> 我的红包
				</a>
				<a href="{{ app_url_wap }}/my/favorite" class="{{ css_user_favorite }} item">
					<i class="flat profile icon"></i> 我的收藏
				</a>
			</div>
			
			<div class="ui pointing vertical fluid navigation menu">
				<div class="header item">
				    <i class="smile icon"></i>售后服务
				</div>
				<a href="{{ app_url_wap }}/my/service" class="{{ css_user_service }} item">
					<i class="flat delivery6 icon"></i> 退换货
				</a>
			</div>
		</div>
	</div>
</div>-->
{% endblock %}
