{%extends 'layout/mobile.html'%}
{% block title%}订单查询-{% endblock %}
{% block page_css %}
<style type="text/css">
@media only screen and (max-width: 320px){
    .ui.list>.item>.image{
        width: 42px;
        vertical-align: middle;
    }
    .ui.list>.item>.image+.content{
        vertical-align: middle;
    }
}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}

{% block content %}
<div class="ui responsive grid">
	<div class="row">
		<div class="column">
    		<div class="ui breadcrumb">
    		  	<a class="section" href="{{ app_url_wap }}">
    				<i class="icon home"></i>首页
    			</a>
    		  	<div class="divider"> / </div>
    		  	<a class="section" href="{{ app_url_wap }}/my">
    				个人中心
    			</a>
    		  	<div class="divider"> / </div>
    		  	<div class="active section">订单列表</div>
    		</div>
        </div>
    </div>
	<div class="row">
		<div class="column">
			<h4 class="ui dividing header">订单查询</h4>
			<div class="ui segment">
				{% order_list var:'list' user_id:user.id status:s size:10 page:page %}
				<div class="ui very relaxed divided address list">
					{% for order in list.rows %}
						{% include 'mm/order-item.html' %}
					{% else %}
					<div class="item">您还没有相关订单</div>
					{% endfor %}
				</div>
			</div>
			
			{% if list.rows %}
			<div class="ui pagination">
				{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:3 %}
				{% include 'block/pager.html' %}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}