{%extends 'layout/mobile.html'%}
{% block title%}商店列表-{% endblock %}
{% block page_css %}
<style type="text/css">
  #mfrbird{
  	margin-top:0;
  	margin-bottom:2em;
  }
  #tmenu{
  	width: 100%;
  	height: 42px;
  	overflow: hidden;
	position:relative;
	background:#fff;
  }
  #tmenu:before {
      content: '';
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 1px;
      background: rgba(34,36,38,.15);
  }
  #tmenu .swiper-slide {
  	padding: 0 10px;
  	width:auto;
  	line-height: 42px;
  }
  #tmenu .swiper-slide a{
  	color: #5d6266;
  	text-decoration: none;
    font-weight: 700;
  	padding: 11px 10px;
	font-weight: 400;
  }
  .swiper-slide a.ui.active.item {
    color: #f36 !important;
  }
  .swiper-slide a.ui.active.item:before{
	  content: '';
      width: 58.333%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 20.8335%;
      background: #f36;
  }
.qbfl{
    padding-top: 33.3333%;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.qbfl img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.qbfl h3.ui.header{
    text-align: center;
    color: #fff !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    margin: 0;
    padding: 0;
    font-weight: 400;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}
.shopbiao{
	position:absolute;
	width:32px;
	height:32px;
	top:15px;
	left:10px;
}
.popup.shaix{
	position: relative;
	max-width: 767px;
}
.ui.searsx.menu{
	margin:0;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:rgba(0,0,0,0);
	margin: 5px 0 0 0;
}
.ui.searsx.menu .item:before{
	content:none;
}
.ui.searsx.menu .item:hover,.ui.searsx.menu .item.visible{
	color:#f36;
}
.shaix.popup .ui.fluid.popup{
	max-width: 767px;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.ui.fluid.basic.price.popup.bottom.left{
	left:0 !important;
}
.price.item i.sort.icon{
    margin-left: 0.5rem;
    margin-right: 0;
}
.ui.popup .item i.checkmark.icon{
	float:right;
	color:#f36;
	display:none;
}
.ui.popup .item.active i.checkmark.icon{
	display:block;
}
.ui.searsx.menu .active.item:hover{
	background:rgba(0,0,0,0) !important;
}
</style>
{% endblock %}

{% block layout_js %}
  <script type="text/javascript" >
      var page = 1;
      var size = 12;
      var category_id = '{{cid}}';
      var sort = 4;
      var type = 0;
  
      function ajax_load_more(category_id, type, sort, page, size){
          //防止频繁请求(在没加载完成时只允许请求一次)
          $('#product-more').show().attr('status', 1);
          var url = '{{ app_url_wap }}/shop/ajax_load_list';
          $.get(url, { category_id:category_id, sort:sort, page:page, type:type, size:size }, function(rs){
              // console.log('total page: '+ rs.data.results.total_page + ' page: '+ rs.data.results.current_page);
              if(rs.data.results.total_page > rs.data.results.current_page){
                  $('#product-more')
                      .hide()
                      .attr({'status': 0, 'page': rs.data.page, category_id: rs.data.category_id});
              }else{
                  $('#product-more').html('没有更多');
              }
              var rendered = phenix.ajax_render_result('#fetch_more_products_tpl', rs.data);
              if(page==1){
                $('.recom-item').html(rendered);
              }else{
                $('.recom-item').append(rendered);
              }
 			  $("img.lazy").lazyload({
 			     effect : "show"
 			  });
          }, 'json');
      }
  </script>
{% endblock %}

{% block jquery %}
  //预售结束时间
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
	
	window.onload = function() {
		var mySwiper2 = new Swiper('#tmenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}

  //ajax加载更多(滚动条接近底部加载)
  $(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight > scrollHeight-100){
      var stat = $('#product-more').attr('status');
      page = parseInt($('#product-more').attr('page')) + 1;
      category_id = $('#product-more').attr('category_id');

      if(stat==0){
        ajax_load_more(category_id, type, sort, page, size);
      }
　　}
  });

  // 初始加载
  ajax_load_more(category_id, type, sort, page, size);

  // 选择分类
  $('.category-btn').click(function(){
    $('.category-btn').removeClass('active');
    $(this).addClass('active');
    category_id = $(this).attr('category_id');
    $('#product-more').attr('category_id', category_id);
    $('#mpresale .recom-item').html('');
    ajax_load_more(category_id, type, sort, 1, size);
  });

  // 选择排序
  $('.sort-btn').click(function(){
    $('.sort-btn').removeClass('active');
    $(this).addClass('active');
    sort = $(this).attr('sort');
    var evt = $(this).attr('evt');
    var sort_txt = $(this).attr('sort_txt');
    if(evt==1){
      $('.all.browse span').text(sort_txt);
	  $('.transition.visible').toggleClass('transition hidden').style('display','none');
    }else if(evt==2){
      $('.price.browse span').text(sort_txt);
	  $('.transition.visible').toggleClass('transition hidden').style('display','none');
    }
    ajax_load_more(category_id, type, sort, 1, size);
	
  });
 
 
    $('.all.browse.item')
        .popup({
  	  	popup:'.all.popup',
  		hoverable : false,
		on:'click',
  		position:'bottom left'
  	  });
 	 $('.price.browse.item')
        .popup({
  	  	popup:'.price.popup',
  		hoverable : false,
		on:'click',
  		position:'bottom left'
	 })
 
  
{% endblock %}

{% block content %}
	
<div id="tmenu">
	<div class="swiper-wrapper">
		{% category_list var:'category' only_open:1 domain:1 show_all:0 current:cid sort_field:'total_desc' %}
      <div class="swiper-slide">
        <a class="ui active item category-btn" category_id="0" href="javascript:void(0);">全部</a>
      </div>
		{% for cat in category.rows %}
      {% if cat.sub_count>0 %}
        <div class="swiper-slide">
          <a class="ui {{ cat.active }} item category-btn" category_id="{{ cat._id }}" href="javascript:void(0);">{{ cat.title }}</a>
        </div>
      {%endif%}
		{% endfor %}
	</div>
</div>

<!-- 筛选 -->

<div class="popup shaix">
	<div class="ui searsx menu">
		<div class="ui all browse item">
      <span>综合排序</span>
			<i class="dropdown icon"></i>
		</div>
    <!--
		<div class="ui item">
			销量
		</div>
	  -->
    
		<div class="ui price browse item">
      <span>价格</span>
			<i class="sort icon"></i>
		</div>
	</div>
 
	
    <div class="ui fluid basic all popup bottom left">
        <div class="ui link list">
			<a class="item ptb-2r sort-btn" sort="4" sort_txt="综合排序" evt="1">
				综合排序
				<i class="checkmark icon"></i>
			</a>
			<a class="item ptb-2r sort-btn" sort="0" sort_txt="新品优先" evt="1">
				新品优先
				<i class="checkmark icon"></i>
			</a>
			<!--
			<a class="item ptb-2r sort-btn" sort="8" sort_txt="价格从低到高" evt="1">
				价格从低到高
				<i class="checkmark icon"></i>
			</a>
			<a class="item ptb-2r sort-btn" sort="7" sort_txt="价格从高到低" evt="1">
				价格从高到低
				<i class="checkmark icon"></i>
			</a>-->
			<a class="item ptb-2r sort-btn" sort="6" sort_txt="评论数" evt="1">
				评论数
				<i class="checkmark icon"></i>
			</a>

		</div>
    </div>
    <div class="ui fluid basic price popup bottom left">
        <div class="ui link list">
			<a class="item ptb-2r sort-btn" sort="7" sort_txt="价格(降)" evt="2">
				从高到低
				<i class="checkmark icon"></i>
			</a>
			<a class="item ptb-2r sort-btn" sort="8" sort_txt="价格(升)" evt="2">
				从低到高
				<i class="checkmark icon"></i>
			</a>
		</div>
    </div>
	
	
</div>
	

	
<!--商店商品-->
<div class="ui responsive grid" id="mpresale">
	<div class="row pt-0">
		<div class="recom-item">
			
		</div>
	</div>

  <!--ajax load-->
  <div id="product-more" class="topic-box-list" style="display:none;" category_id="{{ cid }}" page="1" status="0">
    <div style="text-align:center;margin:10px auto;">
      <img src="{{ app_url_packaged }}/images/loading03.gif" alt="loading" width="30" height="30">
    </div>
  </div>
  
	<div class="row pt-r">
		<div class="column p-0">
			<a href="{{ app_url_wap }}/shop/shop" class="qbfl" title="全部分类">
			<img src="{{ app_url_packaged }}/images/shopflbg.png" align="absmiddle">
				<h3 class="ui header">全部分类</h3>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<img src="{{ app_url_packaged }}/images/shopfw.png" width="100%" align="absmiddle">
		</div>
	</div>

</div>

{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_products_tpl' tpl:'mustache_m/fetch_more_products.mustache' %}
{% endblock %}
