{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="http://frstatic.qiniudn.com/wechat/js/swiper.min.css">
<style type="text/css">
	#mfrbird{
		margin-top:0;
		margin-bottom:2em;
	}
	.tslide{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	.tslide .swiper-slide {
		padding:5px 10px 5px 0;
		width:32%;
	}
	.tslide .swiper-slide img{
		width: 100%;
	}
	.tslide .swiper-slide:last-child{
		margin-right:0;
		padding-right:0;
	}
	#tmenu{
		width: 100%;
		height: 43px;
		overflow: hidden;
	}
	#tmenu .swiper-slide {
		padding: 0 20px;
		width:auto;
		line-height: 43px;
	}
	#tmenu .swiper-slide a{
		color: #444;
		text-decoration: none;
	  font-weight: 700;
		padding: 10px 0;
	}
	.ui.topiclist.segment{
		-webkit-box-shadow: 0 0 0 0px rgba(0,0,0,.1);
	  box-shadow: 0 0 0 0px rgba(0,0,0,.1);
		border-radius: 0;
		padding:1em 3%;
	}
	.like i.icon{
		margin-right:0;
	}
	.ui.category.list{
		margin-bottom:0;
	}
	.ui.topic.relaxed.list{
		margin-top:0;
	}
	.ui.active.item{
		color:#f36;
		border-bottom:3px solid #f36;
	}
	#topic-box{
		margin-top: 0;
	}
	#topic-box:not(.horizontal) .item {
	  padding-top: .5em;
	  padding-bottom: .5em;
	}
	#topic-box .item:first-child {
	  border-top-width: 0;
	}
	#topic-box>.item {
	  border-top: 1px solid rgba(0,0,0,.1);
	  padding-left: .5em;
	  padding-right: .5em;
	}
	#topic-box .item {
	  font-size: 1em;
	}
	#topic-box .item {
	  display: list-item;
	  list-style-type: none;
	  list-style-position: inside;
	  padding: .3em 0;
	  line-height: 1.2em;
	}
</style>
{% endblock %}

{% block layout_js %}
	<script src="http://frstatic.qiniudn.com/wechat/js/swiper.min-1.js" type="text/javascript"></script>
  <script type="text/javascript" >
    function ajax_load_more(child_id, page, type){
      var url = '{{ app_url_wap }}/topic/ajax_topic_list';
      $.get(url, { category_id: child_id, page:page, type:type });
    }
  </script>


{% endblock %}

{% block jquery %}
	window.onload = function() {
	  var mySwiper1 = new Swiper('.tslide',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
		var mySwiper2 = new Swiper('#tmenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}

  //ajax选择分类
  $('.select-category-btn').click(function(){
    var child_id = $(this).attr('child-id');
      ajax_load_more(child_id, 1, 1);
    
  });

  //加载更多
  $('#topic-more').livequery(function(){
    $(this).click(function(){
      var page = parseInt($(this).attr('current_page')) + 1;
      var child_id = $(this).attr('child-id');
      ajax_load_more(child_id, page, 2);
    });
  });
{% endblock %}

{% block content %}
<div id="topicpage">
	<div id="tmenu">
		<div class="swiper-wrapper">
			{% category_list var:'children' page:1 only_open:1 domain:2 pid:cid current:cid %}
			{% for child in children.rows %}
        {% if child.pid %}
				<div class="swiper-slide">
          <a class="ui {{ child.active }} item select-category-btn" child-id="{{child._id}}" href="javascript:void(0);">{{ child.title }}</a>
				</div>
        {%endif%}
			{% endfor %}
		</div>
	</div>
	<section class="ui big block">
		<div class="ui responsive grid" style="padding:0;margin:0">
			<!--<div class="row">
				<div class="column">
					<div class="ui breadcrumb">
					  	<a class="section" href="{{ app_url_wap }}">
							<i class="icon home"></i>首页
						</a>
					  	<div class="divider"> / </div>
					  	<a class="section" href="{{ app_url_wap }}/social">发现</a>
					  	<div class="divider"> / </div>
					  	<div class="active section">{{ child.title }}</div>
					</div>
				</div>
			</div>-->
			<div class="row">
				<div class="column" style="padding:0;">
					<div class="ui topiclist segment">
						<div class="ui category relaxed divided list">
							<div class="item">
							  	<div class="content">
									<div class="header cate-title">
										{{ child.title }}
									</div>
							    	<p><small id="cate-desc">{{ category_desc }}</small></p>
									<small>主题：<span class="count topic-count">{{ child.total_count }}</span> , 回帖：<span class="count topic-reply-count">{{ child.reply_count|default 0 }}</span></small>
							  	</div>
							</div>
						</div>
						
						{% topic_list var:'list' category_id:category_id time:time sort:sort page:page %}
						<div id="topic-box">
							{% for topic in list.rows %}
							<div class="item">
								<div class="content" style="display:block;">
							    	<div class="header {%if topic.t_color==1%}topic-title-color-red{%endif%}{%if topic.t_color==2%}topic-title-color-blue{%endif%}{%if topic.t_color==3%}topic-title-color-green{%endif%}{%if topic.t_color==4%}topic-title-color-yellow{%endif%}"><a href="{{ topic.wap_view_url }}" title="{{ topic.title }}" class="ui line link">{{ topic.title|truncate 60 }}</a></div>
								<div class="tslide">
										<div class="swiper-wrapper">
										{% asset_list var:'assets' parent_id:topic._id size:6 asset_type:55 sort:'positive' %}
										{% for asset in assets.rows %}
											{% if topic.cover._id != asset._id %}
											<div class="swiper-slide" >
										  	<img src="{{ asset.thumbnails.tiny.view_url }}" />
											</div>
											{% endif %}
										{% endfor %}
										</div>
									</div>
										
										
										<!-- 帖子图  -->
										<!--<div class="tslide">
												<div class="swiper-wrapper">
													<div class="swiper-slide" ><img src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce055-3-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-1-ti.jpg"></div>
													<div class="swiper-slide"><img src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-2-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-2-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-1-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce055-3-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-1-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce055-3-ti.jpg"></div>
													<div class="swiper-slide" ><img  src="http://frbird.qiniudn.com/topic/150609/55765018fc8b12ec3c8ce058-2-ti.jpg"></div>
												</div>
										</div>	-->
										<!-- end  -->
										
										
							        <small><a class="ui small link" href="javascript:void(0);">{{ topic.user.nickname }}</a> {% if topic.last_user %}- 回复于{{ topic.last_reply_time|relative_datetime}} {% endif %}  <span class="like" style="float: right;margin-top: 1px;">
							<i class="unhide icon"></i> 
							<span class="count">{{ topic.view_count }}</span>&nbsp;
							<i class="thumbs outline up icon"></i>
							<span class="count love-count">
								{{ topic.love_count|default 0 }}
							</span>
					</span></small>
							    </div>
							</div>
							{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
      <!--
			<div class="row">
				<div class="column">
					{% if list.total_page %}
					<div class="ui pagination">
						{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:3 %}
						{% include 'block/pager.html' %}
					</div>
					{% endif %}
				<div>
			</div>
      -->

		</div>
	</section>
</div>
{% endblock %}
