{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}

{% block layout_css %}
	{% if css_use_bundle %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.{{ css_bundle_version }}.css" type="text/css" />
	{% else %}
        <link rel="stylesheet" href="{{ app_url_packaged }}/css/froala_editor.min.css" type="text/css" />
	{% endif %}
{% endblock %}

{% block page_css %}
<style type="text/css">
	#mfrbird{
		margin-top:0;
	}
	.try .masthead {
		{% if try.banner_id %}
		background: url("{{ try.banner.fileurl }}") no-repeat scroll -432px center / cover rgba(45, 53, 56, 1);
		{% else %}
	    background: no-repeat scroll center center / cover rgba(45, 53, 56, 1);
		{% endif %}
	    height: 500px;
		color: #fff;
	}
	@media only screen and (min-width: 400px){
		.try .masthead {
			{% if try.banner_id %}
			background: url("{{ try.banner.fileurl }}") no-repeat scroll center center / cover rgba(45, 53, 56, 1);
			{% else %}
		    background: no-repeat scroll center center / cover rgba(45, 53, 56, 1);
			{% endif %}
		}
	}
	.try h1.ui.header {
		font-size: 1.5rem;
	}
	.try .apply {
		margin-top: 1em;
	}
	.try .ui.btn:hover,.try .ui.btn{
		padding:1em 2em;
	}
	#trypage .product.people {
		margin: 1em auto;
	}
	.try .masthead .column {
		padding-top: 120px;
	}
	.try .masthead > .masthead-cover {
	    background-color: rgba(0, 0, 0, 0.15);
	    height: 100%;
	}
	.try .ui.header .sub.header {
		font-size: 1.1rem;
	}
	.try .ui.header .sub.header div{
		padding:3px 5px;
		min-width:60px;
		border:1px solid #f36;
		border-radius:5px;
		display: inline-block;
		font-size: 14px;
		color:#f36;
	}
	.try .ui.list .count span{
		font-size:16px !important;
	}
	.try td.hide-on-mobile + td ,.try td.two.wide{
		display:none;
	}
	.try .ui.horizontal.list{
		text-align:center;
	}
	.try .ui.horizontal.list .ui.small.avatar.pop.image + .content{
		min-width:60px;
		display:none;
	}
  .ui.mini.images img{
    width: 100px !important;
  }
  .ui.breadcrumb{
	margin-bottom:1.5em !important;
  }
	.masthead-cover .ui.inverted.button{
		padding: .8em 1.5em !important;
	}
	h4.ui.header{
		line-height:2.33;
	}
  .try .layer {
	  background: rgba(0,0,0,0.7);
	  height: 56px;
	  line-height: 56px;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  z-index: 12;
		color:#fff;
	}
	.layer a{
		float:right;
		min-width: 56px;
		padding: 7px 7px !important;
	  margin: 10px 5px 0px 0 !important;
	  font-size: 18px !important;
		line-height:20px !important;
	}
	.try .layer .ui.list .item{
		padding:0;
		color:#fff;
	}
	.hide-on-mobile{
	  display:none !important;
	}
	/*.product.content.froala-element img ,.product.content.froala-element iframe{
    width: 100%;
  }	*/
  .ui.form .field>.selection.dropdown {
    width: 49% !important;
    min-width: 3em !important;
  }
  .ui.form .field>.selection.dropdown + .selection.dropdown{
    float:right;
  }
  
	/*.ui.tabox {
		border-bottom: 1px solid #e4e5e7;
		margin: 2.5em auto 1.5em;
	}
	.ui.tabox .ui.tabs {
		display: block;
		font-size: 0rem;
		width: 100%!important;
	}
	.ui.tabox .ui.four.tabs .tab {
		width: 25%;
	}
	.ui.tabox .ui.tabs .tab {
		border-bottom: 2px solid transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		color: #444;
		display: inline-block;
		font-size: 1rem;
		padding-bottom: .8%;
		padding-top: .8%;
		text-align: left;
		text-decoration: none;
	}
	.ui.tabox .ui.tabs .tab:hover, .ui.tabox .ui.tabs .active.tab{
		border-bottom: 2px solid #f36;
		color: #f36;
		-webkit-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}
	.ui.tabox.smint.fxd {
		background-color: #fff;
		margin-top: 0;
		width: 100%;
		z-index: 99;
	}*/
	.ui.modal{
	  top:0 !important;
	}
	.froala-element {
    overflow-x: visible;
    overflow-y: visible;
  }
  select {
    height: 2.7142em !important;
    background:#fff !important;
    display: inline-block !important;
  }
  .froala-element .f-video-editor>*{
    height:300px;
  }
  #scrollUp{
    display:none !important;
  }
	
	
</style>
{% endblock %}
{% block layout_js %}
<script type="text/javascript">

  var per_page = 10, sort = 0;
  function fetch_comment(current_page, per_page, sort){
    var url = '{{ app_url_wap }}/app/site/comment/ajax_fetch_comment_wap';
    $.get(url, {target_id: {{ try._id }}, type: 3, page: current_page, per_page: per_page, sort: sort});
  }

  // ajax 加载省份城市
  function ajax_fetch_district(p_id, d_id){
    $.get('{{ app_url_wap }}/app/site/address/ajax_fetch_districts', {id: p_id, d_id: d_id, from_to: 'wap'});
  }

</script>
{% endblock %}
{% block jquery %}
  // 评论排序
  $('.fitsort .ui.list .item').bind('click', function(){
      sort = parseInt($(this).data('sort'));
      $(this)
          .siblings().removeClass('active')
          .end()
          .addClass('active');
      fetch_comment(1, per_page, sort);
  });
  
  //弹出登录框
	phenix.wap_show_sign_box('', 1);

	$('.ui.applytry.button').click(function(){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
    phenix.redirect("{{ app_url_wap }}/auth/login?redirect_url={{ try.wap_view_url }}");
      //$('.ui.sign-box.modal').modal('show');
			return false;
		}
		
		$('.ui.applytry.modal').modal('show');
		return false;
	});
	
	$('.ui.deny.button').click(function(){
		$('.ui.applytry.modal').modal('hide');
	});

	
	$('select[name=province]').livequery(function(){
    $(this).change(function(){
      var value = $(this).val();
      if (value) {
        ajax_fetch_district(value, 0);
      }   
    });
	});

  // 初始化省份
  var province_id = $('select[name=province]').val();
  if(province_id){
    ajax_fetch_district(province_id, 0);
  }
	
	$('#apply-form').livequery(function(){
		$(this).form({
			name: {
				identifier  : 'name',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'password',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					},
					{
						type   : 'length[11]',
						prompt : '电话必须11位字符'
					}
				]
			},
			address: {
				identifier  : 'address',
				rules: [
					{
						type   : 'empty',
						prompt : '地址区域不能为空'
					}
				]
			},
			zip: {
				identifier  : 'zip',
				rules: [
					{
						type   : 'empty',
						prompt : '邮编不能为空'
					}
				]
			},
			wx: {
				identifier  : 'wx',
				rules: [
					{
						type   : 'empty',
						prompt : '微信号不能为空'
					}
				]
			},
			qq: {
				identifier  : 'qq',
				rules: [
					{
						type   : 'empty',
						prompt : 'QQ号不能为空'
					}
				]
			},
			content: {
				identifier  : 'content',
				rules: [
					{
						type   : 'empty',
						prompt : '申请理由不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});
	
	phenix.hook_comment_page('wap');
	
	//ajax加载评论
	  fetch_comment(1, per_page, 0);
	
	$('.ui.tabox').smint({
    	'scrollSpeed': 1000
    });
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>&nbsp;天</span></div></div><div class="item"><div class="count">%H<span>&nbsp;时</span></div></div> <div class="item"><div class="count">%M<span>&nbsp;分</span></div></div><div class="magenta item"><div class="count">%S<span>&nbsp;秒</span></div></div>'));
		});
	});
	
    $('textarea.comment-textarea').maxlength({
        'feedback' : '.wordscount'
    });

    $('.support-btn').click(function(){
      phenix.redirect("{{ app_url_wap }}/try/apply_success?apply_id={{ apply._id }}");
    });

    // 想要
    $('.want_btn').click(function(){
      // 所有ajax请求，验证是否登录
		  if (!phenix.visitor.is_login){
        phenix.redirect("{{ app_url_wap }}/auth/login");
			  return false;
		  }
      var url = "{{ app_url_wap }}/app/site/try/want_attend";
      $.post(url, {try_id: {{ try._id }}, type: 1}, function(result){
        if(result.success){
          phenix.show_ok_note(result.message);
          $('.want_btn').removeClass('want_btn').find('i').removeClass('empty').siblings('span').text('已想要');

        }else{
          phenix.show_error_note(result.message);
        }
      }, 'json');
    });
{% endblock %}

{% block content %}
<div class="ui try" id="trypage"> 
	<!--<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui breadcrumb">
				  	<a class="section" href="{{ app_url_wap }}">
						<i class="icon home"></i>首页
					</a>
				  	<div class="divider"> / </div>
					<a class="section" href="{{ app_url_wap }}/shop">新品试用</a>
					<div class="divider"> / </div>
				  	<div class="active section">{{ try.title|truncate 12 }}</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<!--<div class="masthead">
		<div class="masthead-cover">
			<div class="ui responsive grid" style="margin:0 auto;">
				<div class="column">
					<h1 class="ui header">
						<div class="content">
							{{ try.title }}
							<div class="sub header">
								{{ try.description }}
							</div>
						</div>
					</h1>
					{% if !try.is_end %}
					<a href="javascript:void(0);" class="ui white applytry inverted button">
						<i class="ticket icon"></i> 申请试用
					</a>
					{% else %}
					<a href="javascript:void(0);" class="ui active white inverted button">
						<i class="lock icon"></i> 已结束
					</a>
					{% endif %}
					<a href="{{ try.product.wap_view_url }}" class="ui white inverted button" target="_blank">
						<i class="browser icon"></i> 产品详情
					</a>
					<div class="apply"><b class="big">{{ try.apply_count }}</b> 人预约{% if !try.is_end %}, 剩余时间：<div class="ui divided horizontal timer list" data-countdown="{{ try.end_time|date 'Y/m/d H:i:s' }}"></div>{% else %}, 结束时间：{{ try.end_time }}{% endif %}</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<div class="trytitle">
		<img src="{{ try.cover.thumbnails.resp.view_url }}" width="100%">

		<div class="ui white background responsive grid" style="padding:1rem 1.5%;margin:0 auto;">
			<div class="row">
				<div class="center aligned column">
					<h4 class="ui header">
						<div class="content">
							{{ try.title }}

              {% if !try.step_stat==0 %}
							<div class="sub header">
								<label class="ui magenta active inverted button label" style="min-width: 74px;">免费试用</label> &nbsp;  <label class="ui magenta active inverted button label">{{ try.try_count }} 个</label>&nbsp; <label class="ui magenta active inverted button label">{{ try.apply_count }} 人申请</label>
							</div>
              {%endif%}
						</div>
					</h4>
				</div>
			</div>
		</div>
	</div>
	
	
	
  <div class="product overview">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="product content froala-element">
						{{ try.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product reviews">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="block title">
						全部评论 <small>（{{ try.comment_count|default 0 }}）</small>
					</div>
					
					<!--  讨论    -->
					<div class="ui big reply segment">
		              <!--ajax comment-->
		              <div class="fitsort">
                      <div class="ui horizontal bulleted list">
                          <a class="active item" href="javascript:void(0);" data-sort="0">默认</a>
                          <a class="item" href="javascript:void(0);" data-sort="1">最新</a>
                      </div>
                  </div>
		              <div id="comment-list" style="padding-bottom:20px;"></div>
		              {% include "block/comment_box_wap.html" %}
		            </div>
				<!--  讨论    -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="product people">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="block title">
						试用名单
					</div>
					
					<div class="ui big segment">
					  {% if try.pass_users %}
  					<div class="avatars" id="product-apply-people">
  						{% user_list var:'userlist' user_ids:try.pass_users %}
  					    <div class="ui horizontal list">
  							{% for user in userlist  %}
  							<div class="item">
  								<a class="ui avatar pop image" href="{{ user.home_url }}"  data-content="{{ user.summary|truncate 38 }}" data-variation="inverted">
  									<img src="{{ user.medium_avatar_url }}" alt="{{ user.nickname }}" />
  								</a>
  								<!--<div class="content">
  								      <div class="header">
  										  <a href="{{ user.home_url }}" class="ui link" target="_blank">{{ user.nickname }}</a>
  									  </div>
  								      <span>{{ user.city }}</span>
  								</div>-->
  							</div>
  							{% endfor %}
  						</div>
  					</div>
  					{% else %}
  					<div class="ui gray message">没有你的支持，这世界将失去一个伟大的产品!</div>
  					{% endif %}
  				</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product report">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="block title">
						评测报告
					</div>
					<div class="social">
						<table class="ui topic table" style="border-radius:0;border: 1px solid rgba(224,224,224,.46);">
							<tbody>
							{% topic_list var:'list' published:1 try_id:try._id time:'latest' %}
							{% for topic in list.rows %}
								{% include "block/wap_report_item.html" %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
          <!--<a href="{{ app_url_wap }}/social/report?tid={{ try._id }}" class="ui black btn-4 btn-4c icon-arrow-right btn" target="_blank">全部报告</a>-->
					<!--通过审核的用户才能提交报告-->
					{% if visitor.is_login %}
					<a href="{{ app_url_wap }}/social/submit?cid={{ report_category_id }}&tid={{ try._id }}" class="ui magenta btn-4 btn-4c icon-arrow-right inverted button btn" target="_blank">提交报告</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="layer">

    {% if try.step_stat==0 %}
      {% if is_want %}
        <a href="javascript:void(0);" class="ui magenta active inverted button">
          <i class="heart icon"></i><span> 已想要</span>
        </a>
      {%else%}
        <a href="javascript:void(0);" class="ui magenta active inverted button want_btn">
          <i class="heart empty icon"></i><span> 我想要</span>
        </a>
      {%endif%}
    {%else%}
      {% if !try.is_end %}
        {% if is_applied %}
        <a href="javascript:void(0);" class="ui magenta active inverted support-btn button">
            <!--<i class="ticket icon"></i>--> 求支持
          </a>
        {%else%}
            <a href="javascript:void(0);" class="ui magenta active inverted applytry button">
              <!--<i class="ticket icon"></i>--> 申请试用
            </a>
        {%endif%}

      {% else %}
      <a href="javascript:void(0);" class="ui active inverted magenta button">
         已结束
      </a>
      {% endif %}

    {%endif%}

    {% if try.step_stat==0 %}
      预热中，敬请期待
    {%else%}
	    {% if !try.is_end %}剩余时间：<div class="ui divided horizontal timer list" data-countdown="{{ try.end_time|date 'Y/m/d H:i:s' }}"></div>{% else %}结束时间：{{ try.end_time }}{% endif %}</div>
    {%endif%}
	</div>
	
</div>
{% include "block/wap_apply_try.html" %}
{% include "mm/loginbox.html" %}
{% endblock %}
