{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	#mfrbird{
		margin-top:0;
	}
	.try .masthead {
		{% if try.banner_id %}
		background: url("{{ try.banner.fileurl }}") no-repeat scroll -432px center / cover rgba(45, 53, 56, 1);
		{% else %}
	    background: no-repeat scroll center center / cover rgba(45, 53, 56, 1);
		{% endif %}
	    height: 500px;
		color: #fff;
	}
	@media only screen and (min-width: 400px){
		.try .masthead {
			{% if try.banner_id %}
			background: url("{{ try.banner.fileurl }}") no-repeat scroll center center / cover rgba(45, 53, 56, 1);
			{% else %}
		    background: no-repeat scroll center center / cover rgba(45, 53, 56, 1);
			{% endif %}
		}
	}
	.try h1.ui.header {
		font-size: 1.5rem;
	}
	.try .apply {
		margin-top: 1em;
	}
	.try .ui.btn:hover,.try .ui.btn{
		padding:1em 2em;
	}
	#trypage .product.people {
		margin: 1em auto;
	}
	.try .masthead .column {
		padding-top: 120px;
	}
	.try .masthead > .masthead-cover {
	    background-color: rgba(0, 0, 0, 0.15);
	    height: 100%;
	}
	.try .ui.header .sub.header {
		font-size: 1.1rem;
	}
	.try .ui.header .sub.header div{
		padding:3px 5px;
		min-width:60px;
		border:1px solid #f36;
		border-radius:5px;
		display: inline-block;
		font-size: 14px;
		color:#f36;
	}
	.try .ui.list .count span{
		font-size:16px !important;
	}
	.try td.hide-on-mobile + td ,.try td.two.wide{
		display:none;
	}
	.try .ui.horizontal.list{
		text-align:center;
	}
	.try .ui.horizontal.list .ui.small.avatar.pop.image + .content{
		min-width:60px;
		display:none;
	}
  .ui.mini.images img{
    width: 100px !important;
  }
  .ui.breadcrumb{
	margin-bottom:1.5em !important;
  }
	.masthead-cover .ui.inverted.button{
		padding: .8em 1.5em !important;
	}
	h4.ui.header{
		line-height:2.33;
	}
  .try .layer {
	  background: rgba(0,0,0,0.7);
	  height: 56px;
	  line-height: 56px;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  z-index: 12;
		color:#fff;
	}
	.layer a{
		float:right;
		min-width: 56px;
		padding: 7px 7px !important;
	  margin: 10px 5px 0px 0 !important;
	  font-size: 18px !important;
		line-height:20px !important;
	}
	.try .layer .ui.list .item{
		padding:0;
		color:#fff;
	}
	
	
	/*.ui.tabox {
		border-bottom: 1px solid #e4e5e7;
		margin: 2.5em auto 1.5em;
	}
	.ui.tabox .ui.tabs {
		display: block;
		font-size: 0rem;
		width: 100%!important;
	}
	.ui.tabox .ui.four.tabs .tab {
		width: 25%;
	}
	.ui.tabox .ui.tabs .tab {
		border-bottom: 2px solid transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		cursor: pointer;
		color: #444;
		display: inline-block;
		font-size: 1rem;
		padding-bottom: .8%;
		padding-top: .8%;
		text-align: left;
		text-decoration: none;
	}
	.ui.tabox .ui.tabs .tab:hover, .ui.tabox .ui.tabs .active.tab{
		border-bottom: 2px solid #f36;
		color: #f36;
		-webkit-transition: all .3s ease-in-out 0s;
		transition: all .3s ease-in-out 0s;
	}
	.ui.tabox.smint.fxd {
		background-color: #fff;
		margin-top: 0;
		width: 100%;
		z-index: 99;
	}*/
	
	
	
</style>
{% endblock %}
{% block layout_js %}
<script type="text/javascript">

  var per_page = 10;
  function fetch_comment(current_page, per_page){
    var url = '{{ app_url_wap }}/app/site/comment/ajax_fetch_comment_wap';
    $.get(url, {target_id: {{ try._id }}, type: 3, page: current_page, per_page: per_page});
  }

</script>
{% endblock %}
{% block jquery %}

  //弹出登录框
	phenix.wap_show_sign_box('', 1);

	$('.ui.applytry.button').click(function(){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
    phenix.redirect("{{ app_url_wap }}/auth/login?redirect_url={{ try.wap_view_url }}");
      //$('.ui.sign-box.modal').modal('show');
			return false;
		}
		
		$('.ui.applytry.modal').modal('show');
		return false;
	});
	
	$('.ui.deny.button').click(function(){
		$('.ui.applytry.modal').modal('hide');
	});
	
	// 申请表地址信息
	$('.ui.district.dropdown').livequery(function(){
		$(this).dropdown();
	});
	
	$('.ui.province.dropdown').livequery(function(){
		$(this).dropdown({
			onChange : function(value, text){
				if (value) {
					$.get('{{ app_url_wap }}/app/site/address/ajax_fetch_districts', {id: value});
				}
			}
		});
	});
	
	$('.ui.district.dropdown').livequery(function(){
		$(this).dropdown();
	});
	
	$('#apply-form').livequery(function(){
		$(this).form({
			name: {
				identifier  : 'name',
				rules: [
					{
						type   : 'empty',
						prompt : '姓名不能为空'
					}
				]
			},
			phone: {
				identifier  : 'password',
				rules: [
					{
						type   : 'empty',
						prompt : '电话不能为空'
					},
					{
						type   : 'length[11]',
						prompt : '电话必须11位字符'
					}
				]
			},
			address: {
				identifier  : 'address',
				rules: [
					{
						type   : 'empty',
						prompt : '地址区域不能为空'
					}
				]
			},
			zip: {
				identifier  : 'zip',
				rules: [
					{
						type   : 'empty',
						prompt : '邮编不能为空'
					}
				]
			},
			content: {
				identifier  : 'content',
				rules: [
					{
						type   : 'empty',
						prompt : '申请理由不能为空'
					}
				]
			}
		}, {
			inline : true,
			onSuccess: function(event){
				event.preventDefault();
				$(this).ajaxSubmit();
			}
		});
	});
	
	phenix.hook_comment_page();
	
	//ajax加载评论
	  fetch_comment(1, per_page);
	
	$('.ui.tabox').smint({
    	'scrollSpeed': 1000
    });
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="count">%D<span>&nbsp;天</span></div></div><div class="item"><div class="count">%H<span>&nbsp;时</span></div></div> <div class="item"><div class="count">%M<span>&nbsp;分</span></div></div><div class="magenta item"><div class="count">%S<span>&nbsp;秒</span></div></div>'));
		});
	});
	
    $('textarea.comment-textarea').maxlength({
        'feedback' : '.wordscount'
    });

    $('.support-btn').click(function(){
      phenix.redirect("{{ app_url_wap }}/try/apply_success?apply_id={{ apply._id }}");
    });
{% endblock %}

{% block content %}
<div class="ui try" id="trypage"> 
	<!--<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui breadcrumb">
				  	<a class="section" href="{{ app_url_wap }}">
						<i class="icon home"></i>首页
					</a>
				  	<div class="divider"> / </div>
					<a class="section" href="{{ app_url_wap }}/shop">新品试用</a>
					<div class="divider"> / </div>
				  	<div class="active section">{{ try.title|truncate 12 }}</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<!--<div class="masthead">
		<div class="masthead-cover">
			<div class="ui responsive grid" style="margin:0 auto;">
				<div class="column">
					<h1 class="ui header">
						<div class="content">
							{{ try.title }}
							<div class="sub header">
								{{ try.description }}
							</div>
						</div>
					</h1>
					{% if !try.is_end %}
					<a href="javascript:void(0);" class="ui white applytry inverted button">
						<i class="ticket icon"></i> 申请试用
					</a>
					{% else %}
					<a href="javascript:void(0);" class="ui active white inverted button">
						<i class="lock icon"></i> 已结束
					</a>
					{% endif %}
					<a href="{{ try.product.wap_view_url }}" class="ui white inverted button" target="_blank">
						<i class="browser icon"></i> 产品详情
					</a>
					<div class="apply"><b class="big">{{ try.apply_count }}</b> 人预约{% if !try.is_end %}, 剩余时间：<div class="ui divided horizontal timer list" data-countdown="{{ try.end_time|date 'Y/m/d H:i:s' }}"></div>{% else %}, 结束时间：{{ try.end_time }}{% endif %}</div>
				</div>
			</div>
		</div>
	</div>-->
	
	<div class="trytitle">
		<img src="{{ try.cover.thumbnails.resp.view_url }}" width="100%">

		<div class="ui white background responsive grid" style="padding:1rem 1.5%;margin:0 auto;">
			<div class="row">
				<div class="center aligned column">
					<h4 class="ui header">
						<div class="content">
							{{ try.title }}
							<div class="sub header">
								<div>免费试用</div> &nbsp;  <div>{{ try.try_count }} 个</div>&nbsp; <div>{{ try.apply_count }} 人申请</div>
							</div>
						</div>
					</h4>
				</div>
			</div>
		</div>
	</div>
	
	
	
  <div class="product overview">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="product content froala-element">
						{{ try.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product reviews">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<h3 class="ui dividing header">
						回应 <small>（{{ try.comment_count||default 0 }}）</small>
					</h3>
					
					<!--  讨论    -->
					<div class="ui big reply segment">
		              <!--ajax comment-->
		              <div id="comment-list"></div>
		              {% include "block/comment_box_wap.html" %}
		            </div>
				<!--  讨论    -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="product people">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<h3 class="ui dividing header">
						试用名单
					</h3>
					
					{% if try.pass_users %}
					<div class="avatars" id="product-apply-people">
						{% user_list var:'userlist' user_ids:try.pass_users %}
					    <div class="ui horizontal list">
							{% for user in userlist  %}
							<div class="item">
								<a class="ui small avatar pop image" href="{{ user.home_url }}"  data-content="{{ user.summary|truncate 38 }}" data-variation="inverted">
									<img src="{{ user.medium_avatar_url }}" alt="{{ user.nickname }}" />
								</a>
								<div class="content">
								      <div class="header">
										  <a href="{{ user.home_url }}" class="ui link" target="_blank">{{ user.nickname }}</a>
									  </div>
								      <span>{{ user.city }}</span>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% else %}
					<div class="ui gray message">没有你的支持，这世界将失去一个伟大的产品!</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="product report">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<h3 class="ui dividing header">
						评测报告
					</h3>
					<div class="social">
						<table class="ui topic table">
							<tbody>
							{% topic_list var:'list' try_id:try._id time:'latest' %}
							{% for topic in list.rows %}
								{% include "block/wap_report_item.html" %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
          <!--<a href="{{ app_url_wap }}/social/report?tid={{ try._id }}" class="ui black btn-4 btn-4c icon-arrow-right btn" target="_blank">全部报告</a>-->
					<!--通过审核的用户才能提交报告-->
					{% if visitor.is_login %}
					<a href="{{ app_url_wap }}/social/submit?cid={{ report_category_id }}&tid={{ try._id }}" class="ui magenta btn-4 btn-4c icon-arrow-right btn" target="_blank">提交报告</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="layer">
		{% if !try.is_end %}
      {% if is_applied %}
      <a href="javascript:void(0);" class="ui magenta active inverted support-btn button">
          <!--<i class="ticket icon"></i>--> 我要拉票
        </a>
      {%else%}
        <a href="javascript:void(0);" class="ui magenta active applytry inverted button">
          <!--<i class="ticket icon"></i>--> 申请试用
        </a>
      {%endif%}

		{% else %}
		<a href="javascript:void(0);" class="ui active magenta inverted button">
			 已结束
		</a>
		{% endif %}
		
	  {% if !try.is_end %}剩余时间：<div class="ui divided horizontal timer list" data-countdown="{{ try.end_time|date 'Y/m/d H:i:s' }}"></div>{% else %}结束时间：{{ try.end_time }}{% endif %}</div>
	</div>
	
</div>
{% include "block/wap_apply_try.html" %}
{% include "mm/loginbox.html" %}
{% endblock %}
