{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	.presell {
	  border-radius: 0 .25em 0 0;
	  padding: .5rem .8rem;
	  font-size: 14px;
	  background: rgba(0,0,0,.5);
	  position: absolute;
	  bottom: 0;
	  color: #fff;
	  z-index: 999;
	}
	.presell{
		padding: .5rem 0.25rem;
	  min-width: 80px;
		text-align: center;
		border-radius: 0;
	}
	.presell.apply{
		left:88px;
		background:rgba(255,51,102,0.5);
		padding:.5rem .8rem;
	}
	.presell.callback{
		left:88px;
		background:rgba(0,111,188,0.5);
		padding:.5rem .8rem;
	}
	.presell.recoe{
		left:88px;
		background:rgba(0,188,156,0.5);
		padding:.5rem .8rem;
	}
	.presell.end{
		left:88px;
		background:rgba(102,102,102,0.5);
		padding:.5rem .8rem;
	}
	.trycm{
		text-align:center;
	}
	.trycm .ui.icon.header{
		font-weight:400;
		font-size: 1.23em;
		margin:0;
	}
	.trycm .ui.icon.header .sub.header{
		font-size:1rem;
		color:#5d6266;
	}
	.trycm .ui.icon.header:first-child{
		float:left;
	}
	.trycm .ui.icon.header:nth-child(2){
	}
	.trycm .ui.icon.header:last-child{
		float:right;
	}
	.try .i-stats .trycm {
	  border-top: 2px solid rgba(0,0,0,.1);
	  padding-bottom: .5rem;
	  padding-top: .7rem;
	}
	.ui.one.items .item .content{
		background: 0 0;
	  margin: 0;
	  padding: 1rem 1rem 75px!important;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  font-size: 1em;
	  border: 0;
	  border-radius: 0;
	}
	.content .i-stats{
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(#fff 26%) repeat scroll 0 0 rgba(0,0,0,));
		  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 26%) repeat scroll 0 0 rgba(0,0,0,0);
		  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 26%) repeat scroll 0 0 rgba(0,0,0,0);
		  bottom: .5rem;
		  left: 1rem;
		  padding-top: 15px;
		  position: absolute;
		  right: 1rem;
		}
	}
	.ui.products.cards.two {
    margin-left: -0.25em;
    margin-right: -0.25em;
  }
  .ui.products.cards.two > .card {
    background: none;
    box-shadow: none;
    width: calc(50% - 1em) !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .ui.products.cards > .card > .problock > h2 {
    bottom: 0;
    color: #797979;
    font-weight: bold;
    letter-spacing: 0.15px;
    overflow: hidden;
    text-align: left;
    padding: 2px 10px 0;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ui.products.cards > .card > .problock > h2 > a {
    color: rgba(112, 123, 135, 0.91);
    letter-spacing: 0.2px;
    text-decoration: none;
    font-size: 15px;
  }
  .ui.products.cards > .card > .problock > .excerpt {
    color: rgba(146, 147, 163, 0.9);
    font-size: 13px;
    height: 18px;
    letter-spacing: 0.1px;
    line-height: 1.6;
    overflow: hidden;
    padding: 0 10px;
    text-align: left;
  }
  .ui.products.cards > .card > .problock > .excerpt .count {
    margin-right: 1rem;
  }
  .ui.products.cards > .card > .problock > .excerpt > p {
    margin: 2px 0;
    word-break: break-word;
  }
  .ui.products.cards > .card > .problock > .cats {
    color: rgba(146, 147, 163, 0.71);
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    overflow: hidden;
    padding: 12px 10px 30px 10px;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    color: #ff3366;
  }
  .ui.products.cards > .card > .problock > .counter {
    bottom: 10px;
    font-size: 12px;
    position: absolute;
    right: 10px;
  }
  .ui.products.cards > .card > .problock > .ribbons {
    left: 5px;
    position: absolute;
    text-align: left;
    top: 5px;
    z-index: 1;
  }
  .ui.products.cards > .card > .problock > .ribbons > span {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    margin: 0px;
    opacity: 0.8;
    padding: 4px 6px;
    text-transform: uppercase;
    vertical-align: top;
  }
  .ui.products.cards > .card > .speblock > .ribbons {
    left: 5px;
    position: absolute;
    text-align: left;
    top: 5px;
    z-index: 1;
  }
</style>
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<div class='games page try' id="triespage">
	<div class="ui responsive grid">
		<!--<div class="row">
			<div class="column">
				<div class="ui breadcrumb">
				  	<a class="section" href="{{ app_url_wap }}">
						<i class="icon home"></i>首页
					</a>
				  	<div class="divider"> / </div>
				  	<div class="active section">新品试用</div>
				</div>
			</div>
		</div>-->
		<div class="row">
			<div class="column">
				<div class="ui two products tries cards">
					{% try_list var:'list' ignore_id:try_latest.rows.0._id page:page state:1 %}
					{% for t in list.rows %}
					  {% try_list var:'list' page:page state:1 %}
    				{% for t in list.rows %}
    					<div class="card">
                            <div class="problock">
                                <a title="{{ t.title }}" alt="{{ t.title }}" href="{{ t.view_url }}" style="background-image: url({{ t.cover.thumbnails.resp.view_url }});" class="thumb" target="_blank"></a>
                                <div class="ribbons">
                                    {% if t.season %}
                                    <span class="ribbon season">
                                        第 {{ t.season }} 期
                                    </span>
                                    {%endif%}
        							{%if t.step_stat == 1%}
        							<span class="ribbon apply">
        								申请中
                                    </span>
        							{%endif%}
        							{%if t.step_stat == 2%}
        							<span class="ribbon recoe">
        								名单审核中
                                    </span>
                                    {%endif%}
        							{%if t.step_stat == 3%}
        							<span class="ribbon callback">
        								报告回收中
                                    </span>
                                    {%endif%}
        							{%if t.step_stat == 5%}
        							<span class="ribbon end">
        								已结束
                                    </span>
        							{%endif%}
                                </div>
                                <h2>
                                    <a href="{{ t.wap_view_url }}" title="{{ t.title }}" class="ui line" target="_blank">
                        			    {{ t.title }}
                        		    </a>
                                </h2>
                                <div class="excerpt">
                                    <p>产品数量：<span class="count">{{ t.try_count }}</span>  申请人数：<span>{{ t.apply_count }}</span></p>
                                </div>
                                <div class="cats">
                                    <i class="tasks icon"></i> 试用报告：<span> {{ t.pass_count }}</span>
                                </div>
                            </div>

    					</div>
    				{% endfor %}
					  
					
						<!--<div class="card">
							<div class="image">
								<a href="{{ t.view_url }}" title="{{ t.title }}" target="_blank">
									<img src="{{ t.cover.thumbnails.resp.view_url }}" >
								</a>
                {% if t.season %}
								<div class="presell">
                  第 {{ t.season }} 期
								</div>
                {%endif%}
								{%if t.step_stat==1%}
								<div class="presell apply">
									申请中
								</div>
								{%endif%}
								{%if t.step_stat==2%}
								<div class="presell recoe">
									名单审核中
								</div>
                {%endif%}
								{%if t.step_stat==3%}
								<div class="presell callback">
									报告回收中
								</div>
                {%endif%}
								{%if t.step_stat==5%}
								<div class="presell end">
									已结束
								</div>
								{%endif%}
									
							</div>
							<div class="content">
								<div class="header">
									<a href="{{ t.view_url }}" title="{{ t.title }}" class="ui link" target="_blank">
										{{ t.title|truncate, 24, '' }}
									</a>
                                  </div>
                                  <div class="description">{{ t.description }}</div>
								<div class="i-stats">
									<div class="trycm">
										<div class="ui icon header">
											{{ t.try_count }}
											<div class="sub header">
												产品数量
											</div>
										</div>
										<div class="ui icon header">
											{{ t.apply_count }} 
											<div class="sub header">
												申请人数
											</div>
										</div>
										<div class="ui icon header">
											{{ t.pass_count }} 
											<div class="sub header">
												试用报告
											</div>
										</div>
								
									</div>
								</div>
								
							</div>
						</div>
					{% endfor %}-->
				</div>
			</div>
		
		
		
		</div>
	</div>
</div>
{% endblock %}
