{%extends 'layout/mobile.html'%}
{% block title%}微信支付-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}

{% block jquery %}

	//调用微信JS api 支付
	function jsApiCall()
	{
		// 传入公众号名称,时间戳,随机串,Package 扩展字段,签名方式和 PaySign 签名
		WeixinJSBridge.invoke('getBrandWCPayRequest', { 
			"appId" : "{{ wxoptions.appId }}", 
			"timeStamp" : "{{ wxoptions.timeStamp }}",
			"nonceStr" : "{{ wxoptions.nonceStr }}",
			"package" : "{{ wxoptions.package }}",
			"signType" : "SHA1",
			"paySign" : "{{ wxoptions.paySign }}"
			}, function(res){
				alert(res.err_msg);
				alert("{{ wxoptions.appId }} {{ wxoptions.timeStamp }} {{ wxoptions.nonceStr }} {{ wxoptions.package }} {{ wxoptions.paySign }}");
				if (res.err_msg == 'get_brand_wcpay_request:ok'){ // 支付成功
					var view_url = '{{ app_url_domain }}/wxpay/show?rid='+rid;
					phenix.redirect(view_url);
				} else if (res.err_msg == 'get_brand_wcpay_request:fail') { // 支付失败
					alert('支付失败！');
				} else if (res.err_msg == 'get_brand_wcpay_request:cancel') { // 支付失败
					alert('支付取消！');
				} else {
					alert('微信支付出现异常，请核对信息后重试！');
				}
		});
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
				document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	
	callpay();
	
{% endblock %}

{% block content %}
<div class="checkout page">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<h5 class="ui dividing header">支付订单</h5>
				<div class="ui green message" >微信支付订单</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}