{%extends 'layout/fiu.html'%}
{% block title%}服务条款-{% endblock %}
{% block page_css %}
<style type="text/css">
html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
}
*, :after, :before {
    box-sizing: inherit;
}
.ui.white{
  	background:#fff;
}
.ui.grid {
	display: block;
	text-align: left;
	font-size: 0;
	padding: 0;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: -10px;
}
.ui.responsive.grid{
	margin: 0 auto;
    max-width: 767px;
    padding: 0;
    min-width: initial!important;
}
.ui.grid>.row {
      display: block;
      position: relative;
      width: 100%!important;
      padding: 10px 0;
      box-sizing: border-box;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 0;
}
.ui.grid>.row>.column {
	position: relative;
	display: inline-block;
	text-align: left;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}
.ui.grid>.row>.column:only-child{
	width: 100%;
}
.ui.header {
	border: none;
	padding: 0;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 400;
	line-height: 1.2857em;
	text-transform: none;
	color: #5d6266;
}
.ui.header:last-child {
	margin-bottom: 0;
}
.ui.header:first-child {
	margin-top: -.14285em;
}
h4.ui.header {
    font-size: 1.071rem;
    margin-bottom: 15px;
    color: #222;
    margin-top: 0;
}
.pt-2r{
	padding-top: 0.714286rem !important; 
}
.pt-r{
	padding-top: 0.357143rem !important; 
}
.plr-r {
  	padding-left: .35725rem!important;
 	padding-right: .35725rem!important;
}
.pt-0{
	padding-top: 0!important;
}
p {
	margin: 0 0 0.75rem;
	line-height: 24px;
	color: #666;
}

</style>
{% endblock %}
{% block content %}
<div class="ui big white block">
	<div class="ui responsive grid">
		<div class="row">
        	<div class="column">
          		<h4 class="ui header pt-2r">
          			特别提示
          		</h4>
          		<p>1.本使用协议、社区指导原则和免责声明构成您与fineix.com（以下简称"本网站"或“Fiu”）的版权所有方“北京太火红鸟科技有限公司”（以下简称“本公司”）间的全部协议，并规范您对于本服务之使用行为。在您使用相关服务、使用第三方提供的内容或软件时，亦应遵从所适用之附加条款及条件。</p>
          		<p>2.您只有完全同意下列所有服务条款并完成注册程序，才能成为Fiu用户（以下简称"用户"）并使用相应服务。您使用Fiu的服务，或在注册程序过程中点击“同意条款，立即注册”按钮，即视为您完全接受本服务协议的全部条款，本协议即时对双方均有约束力。</p>
        		<h4 class="ui header pt-2r">
        			版权说明
        		</h4>
        		<p>1.Fiu（fineix.com，以下简称"本网站"）由太火鸟科技 (北京太火红鸟科技有限公司)（以下简称“本公司”）版权所有，未经授权禁止复制或建立相似内容或模板。</p>
        		<p>2.未经Fiu事先书面同意，您同意不将Fiu及其他Fiu注册商标、标志及产品、服务名称以任何方式展示或使用或作其它处理，不向第三方明示或暗示您有权展示、使用或另行处理Fiu标记。</p>
        		<p>3.本网站上刊载的所有内容以及本网站用户发表并授权刊载于本网站的所有内容，包括但不限于文字、图片、声音、视频、图表、标志、标识、广告、商标、商号、域名、软件、程序、数据、数据文件、发现、发明、作品、设计、技术、方法、流程、计划、公式、专栏目录与名称、内容分类标准、过去、目前和计划的研究开发成果以及任何其他信息或资料，均受中国现行法律法规、规章制度及适用之国际公约中有关著作权、商标权、专利权及／或其它财产所有权法律的保护，为本公司所有。使用者将本网站上刊载的内容与服务用于商业、盈利、广告性目的时，需征得本公司的书面特别授权，注明作者及文章出处并按有关规定支付相应费用。未经本公司的明确书面特别授权，任何人不得为任何目的使用以及向任何自然人或单位提供、披露、复印、复制、出售、出让、许可、营销、出版、宣讲、转让、处置或利用本网站上提供的任何内容或服务，或在非本公司所属的服务器上作镜像，否则本公司将依据相关法律法规追究经济赔偿和其它侵权法律责任。</p>
        		<p>4.用户同意将其在本网站发表的任何形式的信息内容的财产性权利，全部独家且不可撤销地转让给本公司所有，无论该等内容形成于本协议订立前还是本协议订立后。</p>
        		<p>5.对不遵守本声明或其他违法、恶意使用本网站内容者，本公司保留追究其法律责任的权利。</p>
        		<h4 class="ui header pt-2r">
        			服务内容
        		</h4>
        		<p>1.Fiu的具体服务内容由Fiu根据当下的实际情况提供，Fiu保留变更、中断或终止部分网络服务的权利，保留根据实际情况随时调整Fiu提供的服务种类及形式。Fiu不承担因业务调整给用户造成的损失。</p>
        		<p>2.用户理解，Fiu仅提供相关的本服务，除此之外与相关本服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担。</p>
        		<p>3.目前Fiu根据内容向用户如下服务：推荐品牌、单品、场景，用户在Fiu中可通过照片形式发布自己创建的场景，发布、分享等或参加各类线上活动。并对自己或者他人发布的的照片进行分享、点赞、评论、收藏等等行为。您了解并同意，本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，Fiu均不承担任何责任。Fiu保留不经事先通知为升级、维护或其它目的暂停本服务任何部分的权利。</p>
        		<p>4.用户成功发表场景后，于Fiu APP页面展示或分享之后产生其他用户购买，发表用户将按规则获得佣金，具体佣金形式以“场景规则”更新为标准。</p>

        	</div>
      	</div>
	</div>
</div>


{% endblock %}