{%extends 'layout/fiu.html'%}
{% block title%}会员等级-{% endblock %}
{% block page_css %}
<style type="text/css">
html {
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
}
*, :after, :before {
    box-sizing: inherit;
}
.mt-2r {
    margin-top: .7145rem!important;
}
.ui.grid {
    display: block;
    text-align: left;
    font-size: 0;
    padding: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: -10px;
}
.ui.responsive.grid, .ui.wap {
    margin: 0 auto;
    max-width: 767px;
    padding: 0;
    min-width: initial!important;
}
.ui.grid>.row {
    display: block;
    position: relative;
    width: 100%!important;
    padding: 10px 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0;
}
.ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
}
.ui.grid>.row>.column:only-child{
	width: 100%;
}
.ui.header {
    border: none;
    padding: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.2857em;
    text-transform: none;
    color: #5d6266;
}
h3, h3.ui.header {
    font-size: 1.071429rem;
    margin:20px auto 13px;
    color: #222;
}
.plr-r {
    padding-left: .35725rem!important;
    padding-right: .35725rem!important;
}
.plr-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}
.pt-0{
	padding-top: 0!important;
}
.pb-0{
    padding-bottom: 0!important;
}
.ptb-0{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.ui.grid>.row>[class*="thirteen wide"].column{
	width: 77.25%!important;
}
.ui.grid>.row>[class*="three wide"].column{
	width: 22.75%!important;
    font-size: 0.857143rem;
    line-height: 18px;
    overflow: hidden;
}
.ui.table[class*="left aligned"] {
    text-align: left;
}
.ui.table.segment {
    padding: 0;
}
.ui.table:last-child {
    margin-bottom: 0;
}
.ui.table:first-child {
    margin-top: 0;
}
.ui.table {
    width: 100%;
    background: #fff;
    margin: 10px 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;
}
.ui.segment {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(34,36,38,.15);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ui.table thead {
    box-shadow: none;
}
.ui.table thead tr:first-child>th:first-child {
    border-radius: .28571429rem 0 0;
}
.ui.table thead tr:first-child>th:last-child {
    border-radius: 0 .28571429rem 0 0;
}
.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
    border-left: none;
}
.ui.celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1);
}
.ui.table thead th {
    cursor: auto;
    background: #f9fafb;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .92857143em .71428571em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-left: none;
}
.ui.table td, .ui.table th {
    -webkit-transition: background .1s ease,color .1s ease;
    transition: background .1s ease,color .1s ease;
}
.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
    border-left: none;
}
.ui.table td {
    padding: .71428571em;
    text-align: inherit;
}
.ui.celled.table tr td, .ui.celled.table tr th {
    border-left: 1px solid rgba(34,36,38,.1);
}
.ui.table tr td {
    border-top: 1px solid rgba(34,36,38,.1);
}




.ui.table thead th{
	font-weight: 400 !important;
	font-size: 0.857143rem !important;
}
.ui.celled.table tr td{
	font-size: 0.857143rem;
}
.mytop {
    padding:0 0;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-box;
    align-items: center;
    -webkit-box-align: center;
}
.myphoto {
    width: 40px;
    height: 40px;
    padding-left: 0;
    position: relative;
}
.myphoto img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.mymessg {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    margin-left: 10px;
}
.mymessg h3.ui.header {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
}
.mymessg h3.ui.header + p {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
.ui.progress {
    background-color: #fff!important;
    border: 1px solid rgba(0,0,0,.3);
    height: 18px!important;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
}
.ui.progress .bar{
    border-radius: 0;
    background-color: #BE8914;
    height: 100%;
}
.pt-3r {
    padding-top: 1.07175rem!important;
}
.pb-2r {
    padding-bottom: .7145rem!important;
}
.ui.celled.table tr td span{
    color: #BE8914;
    margin-left: 2px;
}
</style>
{% endblock %}
{% block content %}
<div id="point">
	<div class="ui responsive grid">
        <div class="row plr-r">
            <div class="column plr-r">
                <div class="mytop">
                    <div class="myphoto">
                        <img src="{{ user.medium_avatar_url }}" />
                    </div>
                    <div class="mymessg">
                        <h3 class="ui header">{{ user.nickname }}</h3>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="row pt-0 plr-r">
            <div class="thirteen wide column plr-r">
                <div class="ui green progress mb-0">
                    <div class="bar" style="width:{{ user.ext_state.upgrade_percent|default 0.1 }}%;"></div>
                </div>
            </div>
            <div class="three wide column">
                {{ user.ext_state.rank_point|default 0 }}/{{ user.ext_state.user_rank.point_amount|default 0 }}
            </div>

        </div>
        <div class="row pb-0">
            <div class="column plr-0">
                <img src="{{ app_url_packaged }}/images/fiu/jifen.jpg" width="100%" align="absmiddle">
            </div>
        </div>
    </div>
</div>
        <!--

        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">创建／热门</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">创建地盘（需审核通过）</td>
                            <td style="border-top: none;" rowspan="4">经验值<span>+500</span></td>
                        </tr>
                        <tr>
                            <td>创建场景（需审核通过）</td>
                        </tr>
                        <tr>
                            <td>热门场景（每日选1场景）</td>
                        </tr>
                        <tr>
                            <td colspan="2">创建内容违法违规（删除内容并扣除全部积分，严重者封号处理）</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">完善个人资料</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td>首次上传头像<br>（一次性给予奖励积分，后续修改不重复获得）</td>
                            <td>经验值<span>+5</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">关注／收藏／点赞／评论</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">关注他人</td>
                            <td style="border-top: none;">经验值<span>+2</span></td>
                        </tr>
                        <tr>
                            <td>收藏</td>
                            <td>经验值<span>+1</span></td>
                        </tr>
                        <tr>
                            <td>点赞</td>
                            <td>经验值<span>+5</span></td>
                        </tr>
                        <tr>
                            <td>评论</td>
                            <td>经验值<span>+10</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">转发</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">转发（场景，地盘）</td>
                            <td style="border-top: none;">经验值<span>+100</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">自营商品</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">自营商品购买</td>
                            <td style="border-top: none;">订单价格<span>1:1</span></td>
                        </tr>
                        <tr>
                            <td>自营商品售后好评+评论</td>
                            <td>经验值<span>+50</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">售后</h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td style="border-top: none;">售后好评+评论</td>
                            <td style="border-top: none;">经验值<span>+30</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row pb-0">
            <div class="column">
                <h3 class="ui header" style="margin-bottom: 8px;">说明</h3>
                <p style="margin-top: 8px;margin-bottom: 5px;">所有内容包括：场景、情境、产品、产品专题、评测报告等</p>
            </div>
        </div>
        <div class="row ptb-0">
            <div class="column">
                <h3 class="ui header">被动行为<small>（所有内容：每天不超过100）</small></h3>
                <table class="ui unstackable celled table left aligned segment">
                    <tbody>
                        <tr>
                            <td>点赞</td>
                            <td>经验值<span>+5</span></td>
                        </tr>
                        <tr>
                            <td>转发</td>
                            <td>经验值<span>+10</span></td>
                        </tr>
                        <tr>
                            <td>评论</td>
                            <td>经验值<span>+2</span></td>
                        </tr>
                        <tr>
                            <td>主页来访</td>
                            <td>经验值<span>+1</span></td>
                        </tr>
                        <tr>
                            <td>点评被他人点赞</td>
                            <td>经验值<span>+50</span></td>
                        </tr>
                        <tr>
                            <td>产品库通过审核</td>
                            <td>——</td>
                        </tr>
                        <tr>
                            <td>优秀实用报告加精</td>
                            <td>——</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3 class="ui header" style="margin-bottom: 8px;">规则</h3>
                <p style="margin-top: 8px;">每日日常行为获取总积分上限200<br>
                场景/情景/内容奖励为额外奖励&自营商品兑换积分，不占用每日积分上限内额度。</p>
                <p>鸟币单位与积分单位合并，兑换比例：<span style="color: #BE8914;">1鸟币=1元=100积分</span></p>
            </div>
        </div>
	</div>
</div>
-->
{% endblock %}
