<taconite>
	{% if action == 'edit_address' %}
	<replace select="#addbook-form-box">
		<div class="ui small addbook modal" id="addbook-form-box">
		  	<i class="remove circle outline close icon"></i>
			<div class="ui header">
		    	编辑地址
		  	</div>
			<div class="container">
                <form action="{{ action_url }}" class="ui form" method="post" id="addbook-form">
				  	<div class="content">
						<input type="hidden" name="_id" value="{{ addbook._id }}" />
						<input type="hidden" name="plat" value="{{ plat }}" />
				
						<div class="two fields">
							<div class="field">
								<label>收货人姓名</label>
						  		<input type="text" name="name" value="{{ addbook.name }}" />
							</div>
						</div>
				
						<div class="two fields">
							<div class="field">
								<label>联系电话</label>
							  	<input type="text" name="phone" placeholder="11位手机号码" value="{{ addbook.phone }}" />
							</div>
						</div>
				
						<div class="two fields">
						<div class="field">
    					<label>省市</label>
							<div class="fluid ui selection province dropdown">
								<input type="hidden" name="province" value="{{ addbook.province }}" />
		
							    <div class="default text">省份/自治区</div>
							    <i class="flat arrowbottom icon"></i>
							    <div class="menu">
									{% for province in provinces %}
							        <div data-value="{{ province._id }}" class="{% if province._id == addbook.province %}active{%endif%} item">{{ province.city }}</div>
									{% endfor %}
							    </div>
							</div>
            </div>
	
						<div class="field">
                        <label>地区/县</label>
							<div class="fluid ui selection district dropdown" id="district-menu">
								<input type="hidden" name="city" value="{{ addbook.city }}" />
							    <div class="default text">地区区域</div>
							    <i class="flat arrowbottom icon"></i>
							    <div class="menu">
									{% for district in districts %}
							        <div data-value="{{ district._id }}" class="{% if district._id == addbook.city %}active{%endif%} item">{{ district.city }}</div>
									{% endfor %}
							    </div>
							</div>
						</div>
          </div>
				
						<div class="field">
							<textarea name="address" class="small">{{ addbook.address }}</textarea>
						</div>
		
						<div class="two fields">
							<div class="field">
								<label>邮政编码</label>
							  	<input type="text" name="zip" value="{{ addbook.zip }}" />
							</div>
						</div>
						
						<div class="inline field">
							<div class="ui checkbox">
								<input name="is_default" type="checkbox" style="width:100%;cursor:pointer;" {%if addbook.is_default==1%}checked="checked"{%endif%} value="1" />
								<label>设为默认地址</label>
						    </div>
						</div>
		
						<div class="field">
							<div class="ui active magenta submit inverted button">
                                <i class="edit icon"></i> 确定提交
                            </div>
						</div>
				
					</div>				
				</form>
			</div>
		</div>
	</replace>
	<eval>
		$('.ui.addbook.modal').modal('show');

    $('.close-btn').livequery(function(){
      $(this).click(function(){
        $('.ui.addbook.modal').modal('hide');
      });
    });
	</eval>
	{% endif %}
	
	{% if action == 'save_address' %}
		
		{% if address.is_default %}
		<val select="#addbook_default_id" value="{{ address._id }}" />
		{% endif %}
		
		{% if mode == 'edit' %}
		<replace select="#{{ id }}">
		{% endif %}
		
		{% if updated_default_ids %}
			{% for updated_id in updated_default_ids %}
				<removeClass select="#{{ updated_id }}" value="active" />
			{% endfor %}
		{% endif %}
		
		{% if mode == 'create' %}
		<before select="#create-new-address">
		{% endif %}
			{% if plat == 'mobile' %}
		  	<div class="ui {% if address.is_default %}active {% endif %}segment" id="{{ address._id }}" data-id="{{ address._id }}">
			{% else %}
			<div class="address active block" id="{{ address._id }}" data-id="{{ address._id }}">
			{% endif %}
                <div class="content">
    				<h4 class="ui dividing header">
    					<i class="map marker icon"></i> <span class="name">{{ address.name }}</span>
    				</h4>
    				<p>{{ address.phone }}</p>
    				<p>{{ address.area_province.city}} {{ address.area_district.city }}<br /> {{ address.address }} <span>({{ address.zip }})</span></p>
				
    				<div class="actions">
    					<a class="ui small gray icon button">
    						<i class="edit icon"></i>
    					</a>
    					<a class="ui small gray icon button">
    						<i class="remove icon"></i>
    					</a>
    				</div>
                </div>
		  	</div>	
		{% if mode == 'edit' %}
		</replace>
		{% endif %}
	
		{% if mode == 'create' %}
		</before>
		{% endif %}
	
		<eval>
			$('.ui.addbook.modal').modal('hide');
			$('#addbook-form').clearForm();
		</eval>
	{% endif %}
</taconite>
