{%extends 'layout/admin.html'%}
{% block page_css %}
{% endblock %}

{% block content %}
	<div class="ui tool-box">
		<a href="{{ app_url_admin_base }}/try" class="ui labeled icon button"><i class="flat sort icon"></i>全部列表</a>
		<a href="{{ app_url_admin_base }}/try/edit" class="ui right labeled icon green button"><i class="flat add icon"></i>新增</a>
	</div>
			
	<div class="ui divider"></div>
	
	<table class="ui large table segment">
		<thead>
			<tr>
				<th></th>
				<th>邀请码</th>
				<th>所属用户</th>
				<th>状 态</th>
				<th>管理操作</th>
			</tr>
		</thead>
		<tbody>
			{% for code in invites %}
			<tr>
				<td>
					<div class="ui checkbox">
					  	<input name="ids[]" type="checkbox" value="{{ code._id }}" />
					  	<label></label>
					</div>
				</td>
				<td>{{ code._id }}</td>
				<td>{{ code.user.nickname}}</td>
				<td>{% if code.used_by %}<span class="ui label">已使用</span>{% else %}<span class="ui green label">未使用</span>{% endif %}</td>
				<td>
					
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}