{%extends 'layout/column.html'%}
{% block title %}{% endblock %}

{% block page_css %}
<style class="text/css">
  .custop{
    background: url({{ app_url_packaged }}/images/match/custom.jpg) no-repeat center center / cover;
    height: 450px;
  }
  .custop{
    padding-top:35px;
    color:#fff;
  }
  .custop h1{
    margin-top: 0px;
    font-size: 2.5rem;
  }
  .custop h2{
    margin-top: 0px;
    color: #f36;
    margin-bottom: 30px;
    font-size: 20px;
  } 	
  .custom.instr {
      background-color: #fff;
      padding: 20px 0;
  }
  .ui.middle.block {
      padding-bottom: 40px;
      padding-top: 20px;
  }
  .ui.contest.cards>.card>.speblock:hover{
    margin-top:0;
  }
</style>
{% endblock %}

{% block jquery %}


{% endblock %}
{% block content %}
<div id="custom">
    <div class="custop">
        <div class="ui responsive grid">
            <div class="row">
                <div class="ui center aligned column">
                    <img src="{{ app_url_packaged }}/images/match/word.png" />
                    <h1>创新产品再设计</h1>
                    <h2>为设计遇见，为热爱实现</h2>
                    <a href="{{ app_url_contest }}/reward" class="ui large inverted magenta active button">
                        <i class="browser icon"></i> 查看规则
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="custom instr">
        <div class="ui responsive grid">
            <div class="row">
                <div class="center aligned column">
                    <p>设计不是工具，设计是追逐中的梦想</p>
                    <p>创意不是天马行空，创意是践行才能渐远的方向</p>
                    <p>为你的设计插上翅膀、让你的创意扬帆起航</p>
                    <p>只要想，这里就是实现你自己的地方</p>

                    <h3 class="ui magenta text">这里是反向定制、这里有梦和远方。</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui middle block">
        <div class="ui responsive grid">
            <div class="row">
        	    <div class="column">
                    <!--比赛列表-->
                    {% contest_list var:"list" page:page state:2 %}
                    <div class="ui one contest products cards">
                    {% if list.rows %}
                        {% for contest in list.rows %}
                        <div class="card">
                            <div class="speblock">
                                <div class="ribbons">
                                    <span class="ribbon going">{{ contest.step_label }}</span>
                                </div>
                                <a title="{{ contest.title }}"  href="{{ contest.view_url }}" style="background-image: url({{ contest.cover.fileurl }});" class="thumb spethumb" target="_blank">
                                    <div class="shadow"></div>
                                </a>
                                <h2>
                                    <a href="{{ contest.view_url }}" title="{{ contest.title }}" class="ui line" target="_blank">
                        			    {{ contest.title|truncate, 32, '' }}
                        		    </a>
                                </h2>
                                <div class="excerpt">
                                    <p>投稿时间：{{ contest.start_date|date 'Y.m.d' }} -- {{ contest.finish_date|date 'Y.m.d' }}</p>
                                </div>
                                <div class="cats">
                                    <span><i class="user icon"></i> 已有 {{ contest.view_count|default 1 }} 人参与 </span>
                                    <span><i class="cubes icon"></i> 已有 {{ contest.stuff_count }} 个作品</span> 
                                </div>
                                <span class="counter">
                                    <a href="{{ app_url_stuff }}/contest_submit?contest_id={{ contest._id }}" class="ui link" target="_blank">
                                        <i class="edit icon"></i> 我要提交
                                    </a>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    
                    {% if list.total_page > 1 %}
                    <div class="ui pagination">
                        {% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:1 %}
                        {% include 'block/pager.html' %}
                    </div>
                    {%endif%}
        		</div>
            </div>
        </div>
    </div>
</div>
{% if egou_uid %}
<a href="{{ app_url_domain }}/app/site/index/egou">
  <img src="{{ app_url_packaged }}/images/egend.png" width="170px" style="margin: 20px auto; display: block;">
</a>
{% endif %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_incubator }}">
						孵化
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">反向定制</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}