{%extends 'layout/column.html'%}
{% block title %}十万火计-{% endblock %}
{% block page_css %}
<style type="text/css">
	.match.page .ui.header{
		font-weight:400;
	}
	.match.page .ui.logo{
		background:url("{{ app_url_packaged }}/images/match/logo.jpg") scroll center center no-repeat;
		background-size:cover;
		padding:4rem 0;
	}
</style>
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block layout_header %}
<!--Header-->
{% endblock %}

{% block content %}
<div class="match page">
	<section class="ui logo block">
		<div class="row">
			<div class="center aligned column">
				<!--<img src="{{ app_url_packaged }}/images/match/logo.jpg" class="ui image1" />-->
			</div>
		</div>
	</section>
	
	<section class="ui block">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					{% topic_list var:'list' category_id:64 time:time sort:sort page:1 size:8 %}
					<div class="ui four items">
						{% for topic in list.rows %}
						<div class="item">
							<div class="content">
								<a href="{{ topic.view_url }}" title="{{ topic.title }}" target="_blank">{{ topic.title }}</a>
								<div class="description">
									{{ topic.strip_description|truncate 70 }}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="column">
					{% if list.total_page %}
					<div class="ui pagination">
						{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
						{% include 'block/pager.html' %}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	
</div>
{% endblock %}