{%extends 'layout/column.html'%}
{% block title %}第三届奇思甬动中国创客大赛-{% endblock %}
{% block page_css %}
<style type="text/css">
.iosewm{
	display: none;
}
.qsyd3 {
}
.clear {
  clear: both;
}
.partner {
  margin: 0;
  z-index: -1;
}

.bg-banner{
	background: url({{ app_url_packaged }}/images/match/qsyd3/banner_1.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 800px;
  padding-top: 716px;
  text-align: center;
}
.bg-banner2{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj1_1.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 550px;
  text-align: center;
}
.bg-banner3{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj2.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 1500px;
  text-align: center;
}
.bg-banner4{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj3_1.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 461px;
  text-align: center;
}
.bg-banner5{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj4.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 1481px;
  text-align: center;
}
.bg-banner6{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj5.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 1425px;
  text-align: center;
}
.bg-banner7{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj6_1.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 678px;
  text-align: center;
}
.bg-banner8{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj7.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 594px;
  text-align: center;
}
.bg-banner9{
	background: url({{ app_url_packaged }}/images/match/qsyd3/bj9.jpg) no-repeat center top;
	background-color: #000;
	width: 100%;
	height: 500px;
  text-align: center;
}

.nav{
	background-color: #DD2F8C;
  width: 1180px;
  height: 70px;
  margin: 0 auto;
}
.nav ul {

}
.nav ul li {
  list-style: none;
  float: right;
}
.nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px 0 20px;
  line-height: 68px;
}
.nav ul li a:hover {
  display: block;
  color: #272923;
  background: #FCD202;
  border-bottom: 3px solid #585656;
}
.nav ul li a.active {
  display: block;
  color: #272923;
  background: #FCD202;
  border-bottom: 3px solid #585656;
}

.nav.light.fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
  z-index: 999;
}
.nav.light.fixed ul{
  margin: 0 23% 0 0;
}
.nav.light.fixed ul li{
  float left;
}

.upload-art-btn {
  margin: 15px 30px 20px 20px;
  float: right;
}
.upload-art-btn p {
  padding: 10px 30px 10px 30px;
  color: #fff;
  background: #272829;
  cursor: pointer;
}
.upload-art-btn p:hover {
  padding: 10px 30px 10px 30px;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.q-jieshao {
  width: 750px;
  margin: 0 auto;
  padding: 0 10px 20px 10px;
}

.q-title {
  color: #F9CD0B;
  padding: 60px 0 20px 0;
}
.q-title .title-ch {
  margin: 0;
  font-size: 20px;
  letter-spacing: 5px;
}
.q-title .spl {
  width: 30px;
  border-top: 1px solid #F9CD0B;
  margin: 8px auto;
}
.q-title .title-en {
  font-size: 12px;
}

.introduction-des {
  margin-top: 10px;
}
.p-item{
  font-size: 16px;
  color: #F9CD0B;
  line-height: 1;
  letter-spacing: 3px;
}

.tag-btn {
  background-color: #F9CD0B;
  padding: 5px 20px 5px 20px;
  width: 100px;
  margin: 20px auto;
}

.view-arts-btn a{
  color: #F9CD0B;
  background-color: #DD2F8D;
  padding: 10px 40px 10px 40px;
  width: 100px;
  margin: 20px auto;
}

.awards-tip {
  color: #49CEE7;
}
.copyright-tip {
  color: #E1308F;
}

.warning-tip {
  padding: 20px 0 20px 0;
  width: 1000px;
  margin: 0 auto;
}
.warning-tip li {
  color: #F9CD0B;
  margin: 20px;
  text-align: left;
  line-height: 1.5;
}

.product{
	width: 1180px !important;
	height: 877px;
	padding: 10px 25px;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 1500px){
	.product{
		width: 1200px;
	}
}

.arts .ui.items .item .content{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.arts .ui.items .item a.magenta.link{
	font-size: 18px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #bbb;
    line-height: 30px;
}
.arts .ui.items .item .content .sub.header{
	font-size: 14px;
	color: #999;
	margin: 4px 0 2px;
    overflow: hidden;
    display: block;
}
.arts .ui.items .item .image{
	height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}
.arts .ui.items .item .image img{
  height: 250px;
  width: 100%;
}

.arts .ui.four.items .item{
	width: calc(25% - 1em);
	margin: 0 .5em 1.5em;
}

</style>
{% endblock %}
{% block jquery %}
	

$('body').visibility({
    offset         : -$('.nav').offset().top,
    observeChanges : false,
    once           : false,
    continuous     : false,
    onTopPassed: function() {
        requestAnimationFrame(function() {
            $('.nav').addClass('light fixed');
        });
    },
    onTopPassedReverse: function() {
        requestAnimationFrame(function() {
        	$('.nav').removeClass('light fixed');
        	$('.bg-banner').removeAttr("style");
      	});
    }
  });
	$(window).scroll(function(){
		var scrollTop = $(window).scrollTop();
		if(scrollTop > $(".bg-banner").offset().top -50){
			$(".pageindex").addClass("active");
			$(".pageindex").siblings().removeClass("active");
		} 

		if($(".home").offset().top-0 < scrollTop && scrollTop < $(".introduction").offset().top){
			$(".home-menu").addClass("active");
			$(".home-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".introduction").offset().top-50 < scrollTop && scrollTop < $(".jury").offset().top){
			$(".introduction-menu").addClass("active");
			$(".introduction-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".jury").offset().top-75 < scrollTop && scrollTop < $(".time").offset().top){
			$(".jury-menu").addClass("active");
			$(".jury-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".time").offset().top-75 < scrollTop && scrollTop < $(".arts").offset().top){
			$(".time-menu").addClass("active");
			$(".time-menu").parent('li').siblings().find('a').removeClass("active");
		}

		if($(".arts").offset().top-75 < scrollTop && scrollTop < $(".awards").offset().top){
			$(".arts-menu").addClass("active");
			$(".arts-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".awards").offset().top-50 < scrollTop && scrollTop < $(".copyright").offset().top){
			$(".awards-menu").addClass("active");
			$(".awards-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".copyright").offset().top-70 < scrollTop && scrollTop < $(".partner").offset().top){
			$(".copyright-menu").addClass("active");
			$(".copyright-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".partner").offset().top-70 < scrollTop && scrollTop < $(".contact").offset().top){
			$(".partner-menu").addClass("active");
			$(".partner-menu").parent('li').siblings().find('a').removeClass("active");
		}
		if($(".contact").offset().top-35 < scrollTop){
			$(".contact-menu").addClass("active");
			$(".contact-menu").parent('li').siblings().find('a').removeClass("active");
		}
	});
	$('.home-menu').click(function(){
		$('html,body').animate({scrollTop:$('.home').offset().top+500 },800);
	});
	$('.introduction-menu').click(function(){
		$('html,body').animate({scrollTop:$('.introduction').offset().top },800);
	});
	$('.jury-menu').click(function(){
		$('html,body').animate({scrollTop:$('.jury').offset().top-70 },800);
	});
	$('.time-menu').click(function(){
		$('html,body').animate({scrollTop:$('.time').offset().top-50 },800);
	});
	$('.arts-menu').click(function(){
		$('html,body').animate({scrollTop:$('.arts').offset().top-70 },800);
	});
	$('.awards-menu').click(function(){
		$('html,body').animate({scrollTop:$('.awards').offset().top-45 },800);
	});
	$('.copyright-menu').click(function(){
		$('html,body').animate({scrollTop:$('.copyright').offset().top-45 },800);
	});
	$('.partner-menu').click(function(){
		$('html,body').animate({scrollTop:$('.partner').offset().top-45 },800);
	});
	$('.contact-menu').click(function(){
		$('html,body').animate({scrollTop:$('.contact').offset().top-30 },800);
	});

    

  //提交作品按钮
  $('.upload-art-btn').click(function(){
    var url = "{{ app_url_contest }}/submit3";
    phenix.redirect(url);
  });

  phenix.bind_share_list('https://s3.taihuoniao.com/images/match/qsyd/mbg1.jpg');
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ app_url_wap }}/contest/qsyd3'});

{% endblock %}
{% block content %}
<div class="qsyd3">
	<section class="section bg-banner home">
    <div class="nav">
      <div class="upload-art-btn">
        <p>参赛报名</p>
      </div>
      <ul>
        <li><a class="contact-menu" href="javascript:void(0);">联系方式</a></li>
        <li><a class="partner-menu" href="javascript:void(0);">合作伙伴</a></li>
        <li><a class="copyright-menu" href="javascript:void(0);">版权声明</a></li>
        <li><a class="awards-menu" href="javascript:void(0);">奖项回报</a></li>
        <li><a class="arts-menu" href="javascript:void(0);">项目展示</a></li>
        <li><a class="time-menu" href="javascript:void(0);">大赛议程</a></li>
        <li><a class="jury-menu" href="javascript:void(0);">评委嘉宾</a></li>
        <li><a class="introduction-menu" href="javascript:void(0);">大赛介绍</a></li>
        <li><a class="home-menu active" href="javascript:void(0);">大赛首页</a></li>
      </ul>

    </div>
  
  </section>
	<section class="section introduction bg-banner2">
    <div class="q-jieshao">
      <div class="q-title">
        <p class="title-ch">大赛介绍</p>
        <p class="spl"></p>
        <p class="title-en">INTRODUCTION</p>
      </div>
      <p class="introduction-des">
        <p class="p-item">“奇思甬动”中国（宁波）创客大赛是由中共宁波市委人才办、</p>
        <p class="p-item">宁波市文改办、共青团宁波市委员会、宁波市国家大学科技园（宁波慧谷）</p>
        <p class="p-item">联合太火鸟、启迪控股、洛客众创、天使街及木马设计等合作伙伴，</p>
        <p class="p-item">搭建的集创意创新、技术支持、资源对接、产品推广、项目孵化等资源的创客创新</p>
        <p class="p-item">创业生态圈，是助力宁波“中国制造2025”试点示范城市建设、打造人才生态</p>
        <p class="p-item">最优城市的重要举措。本次大赛面向海内外智能硬件创客、工业设计师、</p>
        <p class="p-item">高校（科研院所）创客团队，以及有意向来宁波中官路创业创新</p>
        <p class="p-item">大街落户的创客团队。参赛项目可围绕以下九大门类：智能家居、智慧办公、</p>
        <p class="p-item">智能户外、智享出行、时尚穿戴、医疗健康、休闲娱乐、亲情呵护、生活美学。</p>
      
      </p>
    </div>
  </section>

	<section class="section bg-banner3 jury">
    <div>
      <div class="q-title">
        <p class="title-ch">特邀评审团</p>
        <p class="spl"></p>
        <p class="title-en">JURY</p>
      </div>

      <p class="tag-btn">创新导师</p>
      <p><img src="{{ app_url_packaged }}/images/match/qsyd3/pw1.png" /></p>

      <p class="tag-btn">大赛评委</p>
      <p><img src="{{ app_url_packaged }}/images/match/qsyd3/pw2.png" /></p>
    </div>

  </section>

	<section class="section bg-banner4 time">
    <div>
      <div class="q-title">
        <p class="title-ch">大赛议程</p>
        <p class="spl"></p>
        <p class="title-en">TIME</p>
      </div>
      <p><img src="{{ app_url_packaged }}/images/match/qsyd3/lc1.png" /></p>

    </div>

  </section>

	<section class="section bg-banner5 arts">
    <div>
      <div class="q-title">
        <p class="title-ch">项目展示</p>
        <p class="spl"></p>
        <p class="title-en">WORKS</p>
      </div>

				<div class="column product">
					<div class="ui four items">
            {% stuff_list var:'list' from_to:7 sort:8 page:1 size:8 %}
            {% for d in list.rows %}

              <div class="item">
                <div class="content">
                  <a class="ui magenta link" href="{{ d.view_url }}" target="_blank">
                    <div class="image">
                      <img src="{{ d.cover.thumbnails.apc.view_url }}">
                    </div>

                    {{ d.title }}
                  </a>
                  <div class="sub header">
                    {{ d.view_count }}次浏览 | {{ d.love_count }}人点赞
                  </div>

                  <div class="i-stats">
                    <div class="schedule">
                      <div class="status clearfix">
                        <span class="count">
                          Design By <a class="ui small link" href="{{ d.user.home_url }}" target="_blank">
                                          {{ d.user.nickname }}
                                      </a>
                        </span>

                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>

            {%endfor%}


					</div>
				</div>

        <div class="clear">
          <p class="view-arts-btn"><a href="{{ app_url_contest }}/qsyd_list3">查看全部项目</a></p>       
        </div>


    </div>

  </section>

	<section class="section bg-banner6 awards">
    <div>
      <div class="q-title">
        <p class="title-ch">奖金及回报</p>
        <p class="spl"></p>
        <p class="title-en">AWARDS</p>
      </div>

      <div>
      
      </div>
      <p class="awards-tip">本次大赛分别设金奖、银奖、铜奖、优秀单项奖和优秀组织奖若干名</p>

    </div>

  </section>

	<section class="section bg-banner7 copyright">
    <div>
      <div class="q-title">
        <p class="title-ch">版权声明</p>
        <p class="spl"></p>
        <p class="title-en">COPYRIGHT</p>
      </div>

      <div>
      
      </div>
      <p class="copyright-tip">依据国家相关法律规定，提交项目的“参赛者”对其参赛项目作如下不可撤销声明与承诺</p>

      <ul class="warning-tip">
        <li>参赛项目是参赛者原创作品，未侵犯他人的任何专利权、著作权、商标权及其他知识产权，否则，大赛主办方有权取消其参赛、入围及获奖资格，收回奖品奖金，并保留进一步追究其法律责任的权利;</li>
        <li>参赛项目一经投稿给参赛主办方，即视为参赛者允许发表;</li>
        <li>参赛者授权大赛主办方在此次大赛期间对所有参赛项目享有复制权、展览权、放映权、广播权、信息网络传播权、摄制权、宣传权等其他权利，大赛主办方可以通过展示、宣传参赛项目来宣传宁波慧谷，宣传宁波;</li>
        <li>大赛主办方享有对参赛项目评判排名权，对评判规则有解释权;</li>
        <li>参赛者提交项目之前，已仔细阅读上述条款，充分理解并表示同意;</li>
      </ul>

    </div>

  </section>

	<section class="section bg-banner8 partner">
    <div>
      <div class="q-title">
        <p class="title-ch">合作伙伴</p>
        <p class="spl"></p>
        <p class="title-en">PARTNER</p>
      </div>

    </div>

  </section>

	<section class="section bg-banner9 contact">

  </section>

</div>

	
</div>
{% include "block/qrcode.html" %}
{% endblock %}
