{%extends 'layout/column.html'%}
{% block title %}项目提交-{% endblock %}
{% block page_css %}
<style type="text/css">

  ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
  ul,ol,menu{list-style:none}

.banner{
    width: 100%;
    background: url("{{ app_url_packaged }}/images/match/qsyd4/apply.jpg") no-repeat;
    background-position: center 0;
}
.wrap-content{
    width: 75%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    padding-top: 504px;
    padding-bottom: 135px;
}
.nav{
    max-width: 1280px;
    height: 180px;
    background: #fff;
}
.nav-ul{
    padding: 0 1%;
}
.nav-ul a{
    display: block;
    width: 14.2%;
    float: left;
}

.nav-ul li:hover .content-img {
    transition: all 1s ease;
    background: #0038be;
}
.nav-ul li:hover .content-img img{
    display: block;
}
.nav-ul li:hover .content-desc{
    color: #fff;
}
.content-img{
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    position: relative;
}
.content-desc{
    color: #929191;
    line-height: 90px;
}
.first-li{
    background: #0038be;
}
.content-img img{
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}
/*通道*/
.channel{
    width: 100%;
    height: 240px;
    background: #ededed;
}
.dis-margin{
    display: block;
    margin: auto;
}
.padd-t-50{
    padding-top: 50px;
}
.channel-explain{
    padding-top: 34px;
    font-size:22px;
    font-family:SourceHanSansCN-Medium;
    color:rgba(26,88,202,1);
}
.select{
    background: #0038be;
    padding-top: 100px;
}
.select:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
.maker{
    padding-bottom: 105px;
}
.wid-50{
    width: 50%;
}
.fl{
    float: left;
}
.text-al{
    text-align: center;
}
.border-f{
    border: 1px solid #fff;
}
.border-b{
    border: 1px solid #0037bf;
}
.wid-300{
    width: 300px;
    height: 45px;
    margin: auto;
    margin-bottom: 16px;
}
.line-hei-45{
    line-height: 45px;
}
.line-hei-40{
    line-height: 40px;
}
.font-22{
    font-size: 22px;
}
.font-16{
    font-size: 16px;
}
.color-f{
    color: #fff;
}
.color-02{
    color: #0037bf;
}
.mar-t-47{
    margin-top: 47px;
}
.mar-l-50{
    margin-left: 50%;
}
.shadow-parent {
    position: relative;
}

.shadow-parent:hover .shade {
    opacity: 1;
}
.shade{
    opacity: 0;
    width: 300px;
    height: 45px;
    position: absolute;
    top: 4px;
    left: 5px;
    bottom: 5px;
    right: 0;
    z-index: 1;
    background: rgba(134,230,221,.9);
}
.zindex-2{
    position: relative;
    z-index: 2;
}
/*意见*/
.idea{
    width: 100%;
    background: #182044;
}
.idea .present-title{
    padding: 75px 0 35px 0;
}
.idea-content{
    padding-bottom: 70px;
}
.idea-content:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
.clearfix:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
.margin-b-50{
    margin-bottom: 40px;
}
.color-d2{
    color: #d2d7ed;
}
.idea .overflow{
    line-height: 2;
}.idea .letter{
     letter-spacing: 2px;
 }
.introduce-title{
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}
.introduce-eng{
    margin-left: 50%;
}

.margin-t-15{
    margin-top: 15px;
}
.idea-content {
    padding-bottom: 70px;
}
.width-75 {
    width: 75%;
    margin: auto;
}
.width-50{
    width: 50%;
}
.font-18{
    font-size: 18px;
}
/*法律*/
.law{
    width: 100%;
    background: #10142d;
}
.law .present-title{
    padding: 60px 0 40px 0;
}
.law-main{
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
}

.law .letter{
    letter-spacing: 2px;
}
.law .overflow{
    line-height: 2;
}
.margin-20{
    margin: 0 20px;
}
.letter-2{
    letter-spacing: 2px;
}
.padd-b-95 {
    padding-bottom: 95px;
}
.heigth-400{
    height: 400px;
    position: relative;
}
.qrcode{
    height: 277px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
/*22222*/
#dis-none-maker{
    width: 100%;
    height: 485px;
    background: #ededed;
    /*display: none;*/
    padding-bottom: 50px
}
#dis-none-high{
    width: 100%;
    height: 485px;
    background: #ededed;
    /*display: none;*/
    padding-bottom: 50px
}
.mar-t-70{
    margin-top: 70px;
}
.mar-b-40{
    margin-bottom: 40px;
}
.wid-92{
    padding: 0 30px;
    margin: auto;
}
.wid-92 p{
    font-size: 18px;
    color: #0037BF;
    line-height: 32px;
}
/*创客表单*/
.show-maker{
    display: none;
}
.maker-from{
    min-height: 500px;
    background: #fff;
}
/*高层次*/
.show-high{
    display: none;
}
.high-from{
    background: #fff;
    padding: 78px 30px 115px 30px;
}
.color-00{
    color: #006CD0;
}
.wid-607{
    box-sizing: border-box;
    width: 60%;
    padding-right: 30px;
}
.font-24{
    font-size: 24px;
}
.mar-t-37{
    margin-top: 37px;
}
.wid-40{
    box-sizing: border-box;
    width: 40%;
    float: left;
    padding-left: 30px;
}
.font-20{
    font-size: 20px;
}
.wid-100{
    width: 100%;
}
.padd-t-37{
    padding-top: 37px;
}
.padd-l-35{
    padding-left: 35px;
}
.color-9d{
    color: #009DEF;
}
.wid-60{
    width: 60%;
}
.font-fam-b{
    font-family: SourceHanSansCN-Bold;
}
.font-fam-c{
    font-family: SourceHanSansCN-Regular;
}
.hei-50{
    height: 50px;
}
.lin-50{
    line-height: 50px;
}
.mar-b-20{
    margin-bottom: 20px;
}



.ui.grid .row.conbg{
	background: #fff;
	width: 1180px !important;
	margin: 0 auto;
}
.copy .ui.grid .row.copybg{
	background: #007087;
	width: 1180px !important;
	margin: 10px auto;
	padding: 35px 70px;
	color: #fff;
}
.copybg p.colt {
    font-size: 18px;
    line-height: 28px;
    color: #f8bc05;
    letter-spacing: 1px;
    width: 56%;
}
.copybg p.colp {
    padding-left: 19px;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.copybg p.colp::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background: #fff;
}

form.ui.form{
	padding: 20px 50px;
}
form.ui.form .field > label{
	width: 140px !important;
    text-align: right;
    font-size: 16px !important;
    color: #333 !important;
    margin-right: 15px !important;
}
.form.ui.form .inline.fields{
	margin-bottom: 20px;
}
form.ui.form .field .ui.checkbox{
	margin-right: 20px;
}
form.ui.form .field input[type=text].whres{
	width: 260px;
	padding: .6rem .8rem;
}
.ui.form .field>.selection.dropdown{
	width: auto !important;
}
.ui.form .inline.fields .field textarea{
	margin-left: 160px;
    margin-top: -20px;
}
#phenix-uploader{
	margin: -30px 0 0 160px;
}
#asset-list{
	width: 800px;
    padding-left: 160px;
}
.ui.magenta.large.submit.button{
	margin:30px 160px;
}
.ui.nav.light.fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}
label span{
	position: absolute;
    left: 310px;
    width: 400px;
    text-align: left;
    font-size: 13px;
    line-height: 30px;
}

</style>
{% endblock %}

{% block layout_js %}
  <script>

    function change_attr(val){
      if(val == 1){
        $('.company-box').hide();
        $('.contact-name-box').hide();
        $('.contact-title').text('联系地址');
        $('.tel-title').text('联系电话');
        $('.position-title').text('职业');
      }else if(val == 2) {
        $('.company-box').show();
        $('.contact-name-box').show();
        $('.contact-title').text('公司地址');
        $('.tel-title').text('公司／团队电话');
        $('.position-title').text('联系人职位');
      }
    }

  </script>
{% endblock %}

{% block jquery %}
$('body').visibility({
    offset         : -$('.nav').offset().top,
    observeChanges : false,
    once           : false,
    continuous     : false,
    onTopPassed: function() {
        requestAnimationFrame(function() {
            $('.nav').addClass('light fixed');
        });
    },
    onTopPassedReverse: function() {
        requestAnimationFrame(function() {
        	$('.nav').removeClass('light fixed');
      	});
    }
  });

  //提交作品按钮
  $('.upload-art-btn').click(function(){
    var url = "{{ app_url_contest }}/submit3";
    phenix.redirect(url);
  });

	var file_count = 1;
	var ord = function(){
		return file_count++;
	};

$('#stuff-form').form({
		title_back: {
			identifier  : 'title_back',
			rules: [
				{
					type   : 'empty',
					prompt : '名称不能为空'
				},
				{
					type   : 'maxLength[75]',
					prompt : '名称最多75个字符'
				}
			]
		},
		description_back: {
			identifier  : 'description_back',
			rules: [
				{
					type   : 'empty',
					prompt : '详细描述不能为空'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, event.target);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});

$('#phenix-uploader').fineUploader({
		debug: false,
      	request: {
			inputName:'file',
			params: {'token': '{{ token }}','x:pid': '{{ pid }}', 'x:domain': '{{ domain }}', 'x:ord': ord, 'x:user_id': {{ visitor._id }},'x:asset_type': {{ asset_type }},'x:parent_id': '{{ stuff._id }}','file_id': '{{ pid }}' },
        	endpoint: '{{ app_url_upload }}/stuff'
      	},
		text: {
            uploadButton: '<a class="ui active magenta inverted labeled icon button" href="javascript:void(0);"><i class="cloud upload icon"></i>选择图片</a>'
		},
		template: '<div class="qq-uploader">' +
					'<pre class="qq-upload-drop-area"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list clearfix" style="margin-top: 5px; text-align: center;"></ul>' +
					'</div>',
		validation: {
	        allowedExtensions: ['jpeg', 'jpg', 'png'],
	        sizeLimit: 5242880 // 5M = 5 * 1024 * 1024 bytes
	    }
    }).on('complete', function (event, id, name, result) {
		if(result.is_error){
			phenix.show_error_note(result.message);
		}else{
			$('.qq-upload-list').children().eq(id).fadeOut();
			
			$.get('{{ app_url_action_base }}/uploader/check_upload_assets', {'assets': result.data.ids, 'asset_type': {{ asset_type||default 0 }}, 'asset_domain':'{{ domain }}'});
		}
	});

	// 设置封面图
	$('#asset-list .ajax-cover').livequery(function(){
		$(this).click(function(){
			$this = $(this);
			var id = $(this).attr('data-value');
			
			$('#asset-list .ajax-cover.active').removeClass('active');
			$(this).addClass('active');
			
			$('#stuff_cover_id').val(id);
			return false;
		});
	});

  var attr = $(':input[name="attr"]:checked').val();
  if(attr){
    change_attr(attr);
  }

  // 选择类型判断表单内容
  $(':input[name="attr"]').change(function(){
    var val = $(this).val();
    change_attr(val);
  });


        $("#maker").on("click",function(){
          $(".dis-none").hide()
          $(".show-maker").show()
        })
        $("#high").on("click",function () {
          $(".dis-none").hide()
          $(".show-high").show()
        })

        $(".nav-ul li").mousemove(function () {

        })

{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="banner">
            <div class="wrap-content">
                <div class="nav">
                        <ul class="nav-ul">
                            <a href="{{ app_url_contest }}/qsyd4">
                                <li>
                                    <div class="content-img">
                                        <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                        <p class="content-desc">大赛首页</p>
                                    </div>
                                </li>
                            </a><a href="{{ app_url_contest }}/qsyd4#one">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">大赛介绍</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#two">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">实时赛况</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#three">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">亮点与条件</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#four">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">征集领域</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#five">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">日程</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#six">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">奖金回馈</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#seven">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">政策直通车</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#enght">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">创意星导师</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#nine">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">创新评审团</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#ten">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">星耀作品</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#eleven">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">参与单位</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#twelve">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">意见反馈</p>
                                </div>
                            </li>
                        </a><a href="{{ app_url_contest }}/qsyd4#thirteen">
                            <li>
                                <div class="content-img">
                                    <img src="{{ app_url_packaged }}/images/match/qsyd4/triangle.png" alt="">
                                    <p class="content-desc">法律声明</p>
                                </div>
                            </li>
                        </a>
                        </ul>
                    </div>
                <!--创客信息-->
                <div class="show-maker">
                    <div class="" id="dis-none-maker">
                        <img class="dis-margin padd-t-50" src="{{ app_url_packaged }}/images/match/qsyd4/channel.jpg" alt="">
                        <div class="wid-300 border-b text-al mar-t-70">
                            <p class="line-hei-45 font-22 color-02">创客人才组</p>
                        </div>
                        <p class="color-02 mar-l-50 mar-b-40">MAKER TEAM</p>
                        <div class="wid-92">
                            <p>本次参赛创客征集主要面向智能硬件创客、工业设计师、在校大学生、社会公众；希望您有前沿创新的技术、产品或模式；原则上要求项目带头人有本科及以上学历。项目征集领域包括但不限于工业设计、文化体育、时尚创意、电子商务、智能硬件、生活美学等。参赛项目可以以个体或团体名义报名，团队参赛人数不超过5人。参赛项目通过网络平台递交，要求提供项目和团队简介、产品效果图、参赛人员等信息，截止时间7月31日。</p>
                        </div>
                    </div>
                    <!--创客表单-->
                    <div class="maker-from">

				<div class="column">
					<form action="{{ app_url_action_base }}/stuff/save" class="ui form" method="post" id="stuff-form">
						<input type="hidden" name="_id" value="{{ stuff._id }}" id="stuff_id" />
						<input type="hidden" name="file_count" id="file_count" />
						<input type="hidden" name="from_to" value="8" />
            <input type="hidden" name="verified" value="1" />

						<div class="inline fields">
	            			<div class="field">
								<label for="title">参赛类型</label>
								<div class="ui checkbox">
                  <input type="radio" name="attr" tabindex="2" value="2" {%if stuff.attr==2%}checked{%endif%} class="hidden"></input>
									<label>团队</label>
								</div>
								<div class="ui checkbox">
									<input type="radio" name="attr" tabindex="1" value="1" {%if stuff.attr==1%}checked{%endif%} class="hidden"></input>
									<label>个人</label>
								</div>
							</div>
						</div>

						<div class="inline fields company-box" style="display:none;">
							<div class="field">
								<label for="title">公司／团队名称</label>
								<input class="whres" type="text" name="company" value="{{ stuff.company }}" />
							</div>
						</div>

						<div class="inline fields">
							<div class="field">
								<label for="title">参赛者姓名</label>
								<input class="whres" type="text" name="name" value="{{ stuff.name }}" />
							</div>
						</div>

						<div class="inline fields">
							<div class="field">
								<label for="title">项目名称</label>
								<input class="whres" type="text" name="title" value="{{ stuff.title }}" />
							</div>
						</div>

						<div class="inline fields">
							<div class="field">
                {% category_list var:'category' only_open:1 domain:4 pid:cid current:stuff.category_id %}
								<label for="title">选择类目</label>
								<div class="ui selection dropdown" tabindex="0">
                  <input type="hidden" name="category_id" value="{{ stuff.category_id }}">
						          	<div class="default text">类型</div>
						          	<i class="dropdown icon"></i>
						          	<div class="menu transition hidden" tabindex="-1">
                            {% for d in category.rows %}
                            <div class="item" data-value="{{ d._id }}">{{ d.title }}</div>
                            {% endfor %}

						         	</div>
						        </div>
							</div>
						</div>

						<div class="inline fields contact-name-box" style="display:none;">
							<div class="field">
								<label for="title">联系人姓名</label>
								<input class="whres" type="text" name="c_name" value="{{ stuff.c_name }}" />
							</div>
						</div>
						<div class="inline fields">
							<div class="field">
								<label for="title" class="position-title">职业</label>
								<input class="whres" type="text" name="position" value="{{ stuff.position }}" />
							</div>
						</div>
						<div class="inline fields">
							<div class="field">
								<label for="title" class="tel-title">联系电话</label>
								<input class="whres" type="text" name="tel" value="{{ stuff.tel }}" />
							</div>
						</div>

						<div class="inline fields">
							<div class="field">
								<label for="title">邮箱</label>
								<input class="whres" type="text" name="email" value="{{ stuff.email }}" />
							</div>
						</div>
						<div class="inline fields">
							<div class="field">
								<label for="title" class="contact-title">联系地址</label>
								<input class="whres" type="text" name="address" value="{{ stuff.address }}" />
							</div>
						</div>

						<div class="inline fields">
							<div class="field">
								<label>项目简介</label>
								<textarea name="description" placeholder="此处输入项目详细描述...">{{ stuff.description }}</textarea>
							</div>
						</div>
						<div class="inlene fields">
							<div class="field">
								<label style="position: relative;">设计图/效果图 <span>（图片尺寸要求840x473px，图片小于5M。）</span></label>
								<input type="hidden" name="cover_id" id="stuff_cover_id" value="{{ stuff.cover_id }}" />
								<div id="phenix-uploader"></div>
						
								<div id="asset-list" class="ui three blocks">
								{% if mode == 'edit' %}
									{% asset_list var:'assets' parent_id:stuff._id sort:'positive' asset_type:70 %}
									{% for asset in assets.rows %}
									<div class="thumb block" id="{{ asset._id }}">
										<div class="image">
											<img src="{{ asset.thumbnails.mini.view_url }}" />
											<input type="hidden" class="asset_id_list" name="asset[]" value="{{ asset._id }}" />
										</div>
										<div class="buttons">
											<div class="ui large links">
												<a href="{{ app_url_stuff }}/delete_asset?id={{ id }}&asset_id={{ asset._id }}" class="ui link ajax pop" data-content="删除此缩略图？" data-variation="inverted">
													<i class="remove icon"></i>
												</a>
												<a href="javascript:void(0);" class="ui link {%if stuff.cover_id == asset._id %}active{% endif %} ajax-cover pop" data-content="设置封面图" data-variation="inverted" data-value="{{ asset._id }}">
													<i class="checkered flag icon"></i>
												</a>
											</div>
										</div>
									</div>

									{% endfor %}
								{% endif %}
								</div>

								<div class="ui magenta large submit inverted active button">立即提交</div>
							</div>
						</div>


            		</form>
				</div>



                    </div>
                </div>
                <!--高层次人才-->
                <div class="show-high">
                    <div class="" id="dis-none-high">
                        <img class="dis-margin padd-t-50" src="{{ app_url_packaged }}/images/match/qsyd4/channel.jpg" alt="">
                        <div class="wid-300 border-b text-al mar-t-70">
                            <p class="line-hei-45 font-22 color-02">高层次人才组</p>
                        </div>
                        <p class="color-02 mar-l-50 mar-b-40">MAKER TEAM</p>
                        <div class="wid-92">
                            <p>主要面向创业项目团队或已经注册的企业；原则上要求项目带头人有海外硕士或者国内博士以上学位，有海外工作经历或者多次创业者优先考虑；有前沿创新的技术、产品或模式，有成熟团队或者已在实际运营产品；项目征集领域：新材料、智能装备、信息技术、人工智能、集成电路等。</p>
                        </div>
                    </div>
                    <!--高层次表单-->
                    <div class="high-from clearfix">
                        <div class="wid-607">
                            <p class="font-18 color-00 line-hei-40">报名需提交：<br>
                                参赛项目可以以个体或团体名义报名，团队参赛人数不超过5人。
                                在网络平台下载申报书，把申报书和佐证材料发到以下邮箱：</p>
                        </div>
                        <div class="padd-t-20 wid-100 padd-t-37 hei-50">
                            <div class="fl wid-60 lin-50">
                                <p class="font-24 color-00 ">256345795@qq.com <span class="font-22 color-00 padd-l-35">截止时间7月31日。</span></p>
                            </div>
                            <div class="fl">
                              <p class="font-18 color-9d font-fam-b mar-b-20 download-book"><a href="https://s3.taihuoniao.com/images/match/qsyd4/%E9%99%84%E4%BB%B6%EF%BC%9A%E9%AB%98%E5%B1%82%E6%AC%A1%E4%BA%BA%E6%89%8D%E7%BB%84%E9%A1%B9%E7%9B%AE%E7%94%B3%E6%8A%A5%E4%B9%A6.docx" target="_blank">下载申报书</a></p>
                                <p class="font-20 color-9d font-fam-c">高层次人才组项目申报书</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!--正常显示-->
                <div class="dis-none">
                    <div class="channel">
                        <img class="dis-margin padd-t-50" src="{{ app_url_packaged }}/images/match/qsyd4/channel.jpg" alt="">
                        <p class="channel-explain text-al">选择对应人才组报道</p>
                    </div>
                    <div class="select">
                        <div class="maker wid-50 fl mar-b-47" id="maker">
                            <div class="shadow-parent wid-300 border-f text-al zindex-2">
                                <p class="line-hei-45 font-22 color-f zindex-2">创客人才组</p>
                                <div class="shade"></div>
                            </div>
                            <p class="color-f mar-l-50">MAKER TEAM</p>
                            <div class="mar-t-47">
                                <p class="text-al font-16 color-f line-hei-40">掌握前沿技术、产品或模式的个人<br>产品落地、变现、增值渠道</p>
                            </div>
                        </div>
                        <div class="high wid-50 fl" id="high">
                            <div class="shadow-parent wid-300 border-f text-al zindex-2">
                                <p class="line-hei-45 font-22 color-f zindex-2">高层次人才组</p>
                                <div class="shade"></div>
                            </div>
                            <p class="color-f mar-l-50">HIGH-LEVEL TEAM</p>
                            <div class="mar-t-47">
                                <p class="text-al font-16 color-f line-hei-40">掌握前沿技术、产品或模型的<br>高学历创业团队与企业的落地通路</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--11意见反馈-->
            <div class="idea">
                <div class="present-title">
                    <div class="introduce">
                        <p class="introduce-title color-f letter-2">意见反馈</p>
                        <p class="introduce-eng color-f letter-2">INTRODUCTION</p>
                    </div>
                </div>
                <div class="width-75 idea-content">
                    <div class="fl width-50">
                        <div class="content-list">
                            <p class="content-desc font-18 color-f overflow margin-b-50 letter">本次大赛的解释权归大赛组委会所有，<br>活动的有关情况请及时与大赛组委会办公室联系</p>
                            <p class="content-iphone font-18 color-d2 overflow letter">大赛组委会办公室<br>联系地址：宁波市大学科技园管委会<br>（宁波市中官西路777号科创大厦204，合作科）<br>大赛组委会联络人：应志浩、顾哲超<br>联系电话：0574-87612121<br>电子信箱：nbchuangke@126.com</p>
                        </div>
                    </div>
                    <div class="fl width-50 heigth-400">
                        <div class="qrcode">
                            <div class="fl text-al width-50">
                                <img src="{{ app_url_packaged }}/images/match/qsyd4/QR01.jpg" alt="">
                                <p class="margin-t-15 font-18 color-d2 text-al letter overflow">宁波市大学科技园<br>官方微信公众号</p>
                            </div>
                            <div class="fl text-al width-50">
                                <img src="{{ app_url_packaged }}/images/match/qsyd4/QR02.jpg" alt="">
                                <p class="margin-t-15 font-18 color-d2 text-al letter overflow">关注Fiu火鸟的礼物<br>获取大赛相关进度</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--11法律-->
            <div class="law" id="thirteen">
                <div class="present-title">
                    <div class="introduce">
                        <p class="introduce-title color-f letter-2">法律声明</p>
                        <p class="introduce-eng color-f letter-2">LEGAL NOTICES</p>
                    </div>
                </div>
                <div class="law-main">
                    <div class="">
                        <p class="font-18 color-d2 overflow letter">依据国家有关法律法规，凡主动提交项目的 “参赛者” 或 “作者”，主办方认为其已经对所提交的项目版权归属作如下不可撤销声明：</p>
                        <p class="font-18 color-d2 overflow">1、原创声明参赛项目是参赛者原创项目，未侵犯任何他人的任何专利、著作权、商标权及其他知识产权，否则，大赛主办方将取消其参赛、入围与获奖资格，收回奖金、奖品及并保留追究法律责任的权利。</p>
                        <p class="font-18 color-d2 overflow">2、大赛主办方对所有获奖项目拥有展示和宣传等权利，其它任何单位和个人（包括作者本人）未经授权不得已任何形式对项目转让、复制、转载、传播、摘编、出版、发行、许可使用等。</p>
                        <p class="font-18 color-d2 overflow">3、参赛者提交项目之前，已仔细阅读上述条款，充分理解并表示同意，本次大赛的评委会拥有对所有获奖项目的最终裁定权。</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
