{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
body{
	background:#fff;
}
.rankbg{
	background:url({{ app_url_packaged }}/images/mtac.jpg) no-repeat center center scroll;
	background-size:cover;
	padding:20% 0;
}
	.ui.nav {
    padding: 0.5rem 8%;
		background:#091f35;
	}
.ui.divided.horizontal.list>.item{
	color:#fff;
}
.ui.active.link{
	color:#f36 !important;
}
.ui.divided.horizontal.list .ui.item:hover{
	color:#f36 ;
}
.ui.popu h3.ui.header .sub.header{
	padding-top:8px;
	color: rgba(0,0,0,0.9);
}
.ui.popu .five.wide img+p{
	line-height:1.35em;
}
.ui.popu .row:nth-child(2){
	margin-left:3%;
}


.ui.chart.block{
	background:#091f35;
}
.ui.chart.block h3.ui.header{
	color:#1ab26c;
}
.ui.chart.block h3.ui.header + p{
	color:#fff;
}

.ui.map.block h3.ui.header{
	color:#003377;
}
.ui.map.block h3.ui.header + p{
	color:#fff;
}

#ChinaMap {
  padding-right: 100px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0px auto;
  /*width: 100%;*/
  padding-top: 10px;
  position: relative;
  text-align: center;
}

#tiplayer {
  padding-right: 5px;
  padding-left: 5px;
  z-index: 1000;
  min-height: 1em;
  background: #000;
  max-width: 250px;
  padding-bottom: 5px;
  font: 12px 'Microsoft YaHei',Arial,宋体,Tahoma,Sans-Serif;
  color: #fff;
  padding-top: 5px;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ToolTip {
  padding-right: 5px;
  padding-left: 5px;
  z-index: 1000;
  min-height: 1em;
  background: #000;
  max-width: 350px;
  padding-bottom: 5px;
  font: 12px 'Microsoft YaHei',Arial,宋体,Tahoma,Sans-Serif;
  color: #fff;
  padding-top: 5px;
  position: absolute;
  text-align: left;
  word-wrap: break-word;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ToolTip {
  border-right: #c5b270 1px solid;
  padding-right: 15px;
  border-top: #c5b270 1px solid;
  padding-left: 15px;
  background: #fffbd6;
  padding-bottom: 0px;
  border-left: #c5b270 1px solid;
  color: #bb861c;
  line-height: 30px;
  padding-top: 0px;
  border-bottom: #c5b270 1px solid;
  top: 30px;
}
.chrt.column i{
	color:#fff;
	opacity:1;
}
.chrt.column .fa-caret-up{
	position: absolute;
  top: -11px;
  left: -13px;
  font-size: 23px;
}
.chrt.column .fa-caret-right{
	position: absolute;
  bottom: -12px;
	right: -12.5%;
  font-size: 23px;
}
.chrt.column .flot{
	color: #fff;
  font-size: 16px;
  position: absolute;
  top: -27px;
  left: -16px;
}
.chrt.column .yuan{
	color:#fff;
	font-size: 16px;
	position: absolute;
	bottom: -8px;
	right: -15%;
}
.chrt.column{
	padding:0 8% !important;
}
body{margin:0;padding:0;}
ul,li,dl,dd,dt,p{margin:0;padding:0;}
ul,li{list-style:none;}
/*柱状图样式*/
.histogram-container{position:relative;margin-top:10px;margin-bottom:65px;}
.histogram-bg-line{border:#fff solid;border-width:0 0px 2px 2px;overflow:hidden;width:110%;}
.histogram-bg-line ul{overflow:hidden;border:#eee solid;border-width:0 0 0 0;}
.histogram-bg-line li{float:left;width:20%;/*根据.histogram-bg-line下的ul里面li标签的个数来控制比例*/overflow:hidden;}
.histogram-content{position:absolute;left:0px;top:0;width:99%;height:100%;}
.histogram-content ul{height:100%;}
.histogram-content li{float:left;height:100%;width:20%;/*根据直方图的个数来控制这个width比例*/text-align:center;position:relative;}
.histogram-box{position:relative;display:inline-block;height:100%;width:100%;top: -2px;left: 2px;}
.histogram-content li a{position:absolute;bottom:0;right:0;display:block;width:100%;color:#fff}
.histogram-content li .name{position:absolute;bottom:-30px; color:#fff;left:0px;white-space:nowrap;display:inline-block;width:100%;font-size:18px;}
.histogram-bg-line li div{height:120px;/*控制单元格的高度及百分比的高度，使百分数与线条对齐*/}

.sootext{
	background:#1dba73;
	color:#fff;
	padding:15px;
	width:80%;
	margin: 0 auto;
	line-height: 22px;
}
.ui.math{
	background:#f1f1f1;
}
.ui.math.block .row:first-child .ten.wide{
	text-align: right;
	padding: 22px;
}
.ui.math.block i.search{
	border-left: 1px solid rgba(244,33,86,.9);
  color: rgba(255,255,255,.9);
  background-color: #f36;
  cursor: pointer;
  opacity: 1;
}
.ui.math.block .ui.items .item:hover{
	cursor:auto;
}
.ui.grid.item{
	margin-bottom:2%;
}
.ui.grid.item .ui.four.items{
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 1%;
}
.ui.grid.item .six.wide{
	font-size:18px;
	vertical-align: middle;
}
.ui.grid.item .six.wide span{
	font-weight:700;
	margin-right:5px;
}
.ui.grid.item .six.wide i.icon,.ui.grid.item .ten.wide i.icon,.ui.grid.item .six.wide span{
	color:#f36;
	opacity:1;
}
.ui.grid.item .ten.wide .ui.label{
	color:#fff !important;
	background: #515151;
	float: right;
	position:relative;
}
.ui.grid.item .ten.wide .ui.label a{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.ui.grid.item .ten.wide .fa-plus{
	color:#fff !important;
}

.ui.items .item{
  min-height:0 !important;
}
.ui.allist .ui.items > .item{
	box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset;
	background-color: #fff;
	border-radius: 0.3125em;
	min-height:320px;
	border: 1px solid rgba(0,0,0,0.1);
	cursor:auto;
	width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
.ui.allist .ui.four.items .item .ui.dividing.header,.ui.allist .ui.four.items .item .ui.dividing.header .image{
  width:100% !important;
}
.ui.sort.grid > .row {
	margin-bottom: 2%;
}
section.ui.block:child-nth(5) h3.ui.header{
  color:#fff !important;
}
.ui.allist .ui.four.items .item .i-stats .schedule {
  padding-top: 5px;
}
.image.zan .plus-icon .like{
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-transition: all 500ms cubic-bezier(.175,.885,.32,1.275) 0s !important;
  transition: all 500ms cubic-bezier(.175,.885,.32,1.275) 0s !important;
}
.image.zan .add{
  top: 50%;
}
.image.zan .add-active {
  top: calc(50% - 70px);
}
i.like.icon:before{
  border-radius: 50%;
  display: block;
  color:#fff;
  line-height: 52px;
  text-align: center;
  -webkit-transition: color .25s ease-in-out 0s;
  transition: color .25s ease-in-out 0s;
  font-size: 30px;
}
.image.zan .plus-icon .like.active:before {
  color: #F36;
}
.image.zan .plus-icon i.like.icon:after{
  display:none;
  opacity: 0;
}
.ui.allist .ui.items .item .count +.like{
  width: 80px;
  display: inline-block;
  float: right;
  text-align: right;
  line-height: 28px;
}
.ui.two.items.college-list .item.ui.grid,.ui.two.items.college-list .item.ui.grid:hover{
  min-height: 0 !important;
  width: 48%;
  margin: 1% !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
}
.ui.two.items.college-list .ui.four.items .item{
  width: 23%;
  margin: 1% !important;
}
.ui.two.items.college-list .ui.four.items .item .image,.ui.two.items.college-list .ui.four.items .item .image img{
  width:100%;
}
</style>
{% endblock %}

{% block layout_js %}

    <script src="../js/china_map/raphael.js"></script>
    <script src="../js/china_map/chinamapPath.js"></script>
    <script src="../js/china_map/chinamap.js"></script>
  <script type="text/javascript" >

    //***绑定数据
    function Bind() {

        var args = $("#args *").serialize();

        $.ajax({
            type: "get",
            url: "{{ app_url_contest }}/ajax_fetch_top_province",
            dataType: "json",
            success: function (result) {
              if(result.success){
                var html = "";
                $.each(result.data, function (i, item) {
                    html += "<div style='cursor:pointer;font-weight:bolder;color:" + china[item.name]['path'].color + "' title='" + china[item.name]['name'] + "'love-count='" + item.match2_love_count
                        + "'>TOP " + (i + 1) + ":" + china[item.name]['name'] + "</div>"

                    var anim = Raphael.animation({ fill: china[item.name]['path'].color, stroke: "#eee" }, 1000);
                    //*** anim.delay(i * 500)增加显示延时，就是让排序省份一个一个显示，但是在IE9以下没效果，因为IE会假死，知道全部显示完
                    china[item.name]['path'].stop().animate(anim.delay(i * 500));
                    china[item.name]['isClick'] = true;
                });

                //将省区排行增加到页面，并增加点击事件查询城市排行
                $("#topList").html(html).find("div").click(function () {

                    var title = $(this).attr("title");
                    var love_count = $(this).attr('love-count');
                    $(this).siblings().css("font-size", "").removeAttr("select").end().css("font-size", "20px").attr("select", "");
                    $('#ToolTip').show();
                    $('#areaInfo').html(title + "的人气指数："+ love_count +"<br/>").fadeIn('fast');
                    ////显示省份明细，自己修改
                    //$.post(url + "/" + encodeURI(title), args, function (data) {
                    //    $('#areaInfo').html(title + "的销量：<br/>" + data).fadeIn('fast');
                    //});
                });
              }

            },
            error: function () {
                alert('错误');
            }
        });
    }

    $(document).ready(function () {
      Map();
      Bind();	
    });

    //ajax加载大学列表
    var page = 1;
    function ajax_load_colleges(page, type){
      $.get("{{ app_url_contest }}/ajax_load_colleges", {page:page, type:1});
    }

  </script>

{% endblock %}

{% block jquery %}

	/* 登录用户行为 */
  //加载赞状态
	{% if visitor.is_login %}
  var current_user_id = phenix.visitor.id;
  $('#item-list').find('.such-item').each(function(){
    var obj = $(this).find('.love-btn');
    var id = obj.attr('item-id');
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id:id, type:4, event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					obj.attr('loved', 1);
          obj.find('.like').addClass('active');
				}
			}
		}, 'json');

  });

  {%endif%}

  //点赞行为
  $('.love-btn').click(function(){
    var obj = $(this);
    var id = $(this).attr('item-id');
    var loved = $(this).attr('loved');

		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (loved == 0) {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:4}, function(result){
				if (result.success) {
					obj.attr('loved', 1);
          obj.find('.like').addClass('active');
					$('.item-'+id).find('.add').addClass('add-active');
          $('.item-'+id).find('.love-count').text(result.data.love_count);
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:4}, function(result){
				if (result.success) {
					obj.attr('loved', 0);
          obj.find('.like').removeClass('active');
					$('.item-'+id).find('.add').removeClass('add-active');
          $('.item-'+id).find('.love-count').text(result.data.love_count);
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
    
  });

  //获取大学人气排行
  $.get("{{ app_url_contest }}/ajax_fetch_top_college", {id:1});

  //ajax查看更多
  $('#college-more').click(function(){
    page = page+1;
    ajax_load_colleges(page,1);
  
  });

  //ajax加载大学排行列表
  ajax_load_colleges(page,1);

  //提交作品按钮
  $('#submit-idea').click(function(){
    var url = "{{ app_url_contest }}/submit?season=dream2";
    phenix.redirect(url);
  });

{% endblock %}

{% block content %}
<div class="match rank">
	<section class="rankbg">
		
	</section>
	<section class="ui nav">
		<div class="ui responsive grid">
			<div class="middle aligned row">
				<div class="twelve wide column">
					<div class="ui magenta horizontal divided list">
						<a href="{{ app_url_contest }}/dream2" class="ui link item">首页</a>
		        <a href="{{ app_url_contest }}/about2" class="ui link item">活动介绍</a>
		        <!--<a href="{{ app_url_contest }}/dream2" class="ui link item">入围作品</a>-->
						<a href="{{ app_url_contest }}/allist2" class="ui link item">全部作品</a>
						<a href="{{ app_url_contest }}/rank" class="ui link active item">校园人气争霸</a>
						<a href="{{ app_url_contest }}/cooperate" class="ui link item">合作资源</a>
					</div>
				</div>
        <div class="right aligned four wide column">
          <a href="javascript:void(0);" id="submit-idea" class="ui magenta attend inverted button">
            <i class="edit icon"></i> 提交作品
          </a>
        </div>
			</div>
		</div>
	</section>
	<section class="ui big popu block">
		<div class="ui responsive grid">
			<div class="row">
				<div class="center aligned column">
					<h3 class="ui header">
						作品人气榜
						<div class="sub header">
						好作品，没人气怎么行？校园人气王究竟是谁，站出来，让我看看你的模样！ <br>
						top100可跳过初选，获得人气pass卡直通复选
						</div>
					</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="five wide center aligned column">
					<img src="{{ app_url_packaged }}/images/mtac1.png">
					<p>如果你的作品排在人气榜第1名，<br>
						 你和你的小伙伴的毕业旅行，<br>
						 我们包啦！</p>
					
				</div>
				<div class="five wide center aligned column">
					<img src="{{ app_url_packaged }}/images/mtac2.png">
					<p>如果你的作品排在人气榜第2名，<br>
						 你和你的小伙伴们将总共获得 <br>
						6个名企实习机会！</p>
				</div>
				<div class="five wide center aligned column">
					<img src="{{ app_url_packaged }}/images/mtac3.png">
					<p>如果你的作品排在人气榜第3名， <br>
						你将获得实用的、无限制使用的 <br>
						优惠券！</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ui big block">
		<div class="ui responsive media allist grid">
		  <div class="row">
		    {% stuff_list var:'list' is_top:true category_id:dream_category_id sticked:1 load_college:1 sort:st page:page size:8 %}
		
				<div class="column">
	
					<div class="ui four items" id="item-list">
					{% for stuff in list.rows %}
	          {% include "block/match2_item.html" %}
	        {%endfor%}

					</div>
			
			
		        
						<!-- 作品-->
						<!--<div class="item">
		          <div class="content">
		            <h4 class="ui dividing header">
		              <div class="image zan">
										
		                <img style="margin-bottom:-5px;" src="http://frbird.qiniudn.com/stuff/150315/5505876b20de8d69018b5dd2-8-me.jpg"
		                alt="多层可拆卸杯子">
											
										<div class="image-extra">
										  <a href=" " title="发烧总监(iThermonitor) 智能婴儿童电子体温计" target="_blank"></a>
								      <div class="extra-content">
								        <div class="inner-extra">
								          <div class="single-image plus-icon">
								            <a href="javascript:void(0);" class="love-btn" item-id="110523" loved="0">
								              <span class="like"></span>
								            </a>
														<div class="add">
														              +1      
														</div>
								          </div>
								        </div>
								      </div>
								    </div>
										
										<div class="school">
											清华美术学院
										</div>
		              </div>
		              <a class="ui link" href="http://www.taihuoniao.com/stuff/view-110301.html"
		              target="_blank">
		                多层可拆卸杯子
		              </a>
		              <div class="advantage">
		                这是一个什么样的杯子？这是一个多层的可拆卸的杯子，通过每层上面的螺旋的槽使得层与层可以连接起来。这样你就可以随意组装自己的杯子。为啥要有...
		              </div>
		            </h4>
		            <div class="i-stats">
		              <div class="schedule">
		                <div class="status clearfix">
		                  <a class="ui avatar image" href="http://www.taihuoniao.com/user/89850/"
		                  target="_blank">
		                    <img src="http://frbird.qiniudn.com/stuff/150317/55081efbfc8b12931c8b7378-1-me.jpg"
		                    alt="185*****013">
		                  </a>
		                  <span class="count">
		                    <a class="ui small link" href="http://www.taihuoniao.com/user/89850/"
		                    target="_blank">
		                      185*****013
		                    </a>
		                  </span>
		                  <span class="like">
		                    <i class="thumbs outline up icon">
		                    </i>
		                    <span class="count">
		                      18
		                    </span>
												<i class="unhide icon"></i> <span class="count">1</span> 
											</span>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>-->
		
		
						
				</div>
			</div>
		</div>
	</section>
	<section class="ui big chart block">
		
		<div class="ui responsive grid">
			<div class="row">
				<div class="center aligned column">
					<h3 class="ui header">院校人气榜</h3>
					<p>全国高校人气争霸，没你不行！</p>
				</div>
			</div>
			<div class="row" id="college-graph">

			</div>
			<div class="row">
				<div class="center aligned column">
					<div class="sootext">
						作品点赞数会自动累积到隶属院校赞数内，你为本校的任何一个作品投票都是在为这个学校增添人气哦！<br>
						截止到2015年6月20日24时，最终获得点赞数最多的三所高校，太火鸟将为学校颁发奖杯和荣誉证书。
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ui math big block">
		<div class="ui responsive grid">
			<div class="row">
				<div class="six wide column">
					<img src="https://s3.taihuoniao.com/images/mtac4.png">
				</div>
        <!--
				<div class="ten wide column">
					<form class="search item" method="post" action=" " id="searchbar">
					 	<div class="ui icon input">
							<input name="q" type="text" placeholder="输入院校名称查看作品">
							<i class="search icon"></i>
						</div>
					</form>
				</div>
        -->
			</div>

			<div class="row">
        <!--ajax colleges list-->
				<div class="ui two items college-list" id="college-list">
        </div>
      </div>
				<div class="center aligned sixteen wide column">
					<a href="javascript:void(0);" id="college-more" class="ui btn-4 magenta active button btn-4c attend icon-arrow-right btn">
						查看更多
						<i class="icon-arrow-right-sharp"></i>
					</a>
				</div>
		</div>
	</section>

	<section class="ui big map block">
		<div class="ui responsive grid">
    <div class="row">
      <div class="center aligned column">
        <h3 class="ui header">
          城市人气榜
        </h3>
          <div class="sub header">
            <p>我们和你一样,同样好奇的是:究竟哪个城市最有创意热情,最具人气呢?让我们一起期待吧!</p><br/>
          </div>

      </div>
    </div>

    <div id="ChinaMap">
        <div id="map"></div>
        <div id="ToolTip" class="ToolTip" style="left: 10px;display:none;">
            <div id="areaInfo"></div>
            <div id="cityInfo"></div>
        </div>
        <div class="ToolTip" style="right: 50px;">
            <div id="topList" style="width: 130px; float: left">
            </div>
            <div id="cityList" style="display: none; float: left">
            </div>
        </div>
    </div>
  </div>
  </section>

</div>
{% endblock %}
