{%extends 'layout/board.html'%}
{% block title %}预售-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}

{% block jquery %}
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
{% endblock %}

{% block content %}
<div id="presale">
	
	<div class="ui responsive grid">
		<div class="row">
			{% product_list var:'list' page:page category_id:category_id process_presaled:1 only_approved:1 only_onsale:1 size:15 %}
			{% if list.rows %}
			<div class="column">
				<div class="ui votelist three items">
					{% for product in list.rows %}
				  		{% include "block/product_presale_item.html" %}
				    {% endfor %}
				</div>
				
				<div class="ui pagination grid">
					{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
			</div>
			{% else %}
			<div class="center aligned column">
				<p>没有更多产品，敬请期待鸟~~</p>
			</div>
			{% endif %}
		</div>
		
	</div>
</div>
{% endblock %}