{%extends 'layout/column.html'%}
{% block title %}{{ product.title }}-{% endblock %}
{% block page_css %}
<style type="text/css">
	.product.promotion {
		display:block;
	}
</style>
{% endblock %}

{% block jquery %}
	phenix.hook_comment_page();
	
	var $frame = $('#procover');
	var $wrap = $frame.parent();
	$frame.sly({
		horizontal: 1,
		itemNav: 'forceCentered',
		smart: 1,
		activateMiddle: 1,
		mouseDragging: 1,
		touchDragging: 1,
		releaseSwing: 1,
		startAt: 0,
		pagesBar: $wrap.find('.pages'),
		pageItem: 'custom',
		activatePageOn: 'click',
		speed: 300,
		elasticBounds: 1,
		easing: 'easeOutExpo',
		dragHandle: 1,
		dynamicHandle: 1,
		clickBar: 1,
		// Buttons
		prev: $wrap.find('.prev'),
		next: $wrap.find('.next')
	});
	
    $('.ui.tabox').smint({
    	'scrollSpeed' : 1000
    });
	
	// 分享
	$('.ui.share.button').bind('click', function(){
		$('.ui.share.modal').modal('show');
	});
	phenix.bind_share_list();
	// 生成二维码
	$('#qrcode').qrcode({width: 256, height: 256, text: '{{ product.wap_view_url }}'});
	
	// 预定
	$('.ui.booked.button').click(function(){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		var r_id = $(this).data('id');
		phenix.redirect('{{ app_url_shopping }}/preorder?r_id='+r_id);
	});
	
	/* 登录用户行为 */
	{% if visitor.is_login %}
		// 初始化互动，是否收藏、点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{product._id}},type:1,event:1}, function(result){
			if (result.success) {
				// 验证收藏
				if (result.data.favorited) {
					$('.ui.favorite.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
		
		// 验证点赞
		$.get('{{ app_url_favorite }}/ajax_done', {id: {{product._id}},type:1,event:2}, function(result){
			if (result.success) {
				if (result.data.loved) {
					$('.ui.love.button')
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				}
			}
		}, 'json');
	{% endif %}
	
	// 收藏
	$('.ui.favorite.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_favorite', {id: id, type:1}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_favorite', {id: id, type:1}, function(result){
				if (result.success) {
					$btn
						.data('content', '收藏')
						.data('mark', 'n')
						.removeClass('active');
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});
	
	// 喜欢
	$('.ui.love.button').bind('click', function(){
		var id = $(this).data('id'),mark = $(this).data('mark'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		var count = parseInt($('#product-love-count').text());
		if (mark == 'n') {
			$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:1}, function(result){
				if (result.success) {
					$btn
						.data('content', '取消')
						.data('mark', 'y')
						.addClass('active');
					count += 1;
					$('#product-love-count').text(count);
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		} else {
			$.post('{{ app_url_favorite }}/ajax_cancel_laud', {id: id, type:1}, function(result){
				if (result.success) {
					$btn
						.data('content', '点赞')
						.data('mark', 'n')
						.removeClass('active');
					count -= 1;	
					$('#product-love-count').text(count);
				} else {
					phenix.show_error_note(result.message);
				}
			}, 'json');
		}
	});

	$('#clock').countdown('{{ product.presale_finish_time|date 'Y/m/d H:i:s' }}').on('update.countdown', function(event){
		var $this = $(this).html(event.strftime(''
		+ '<span>%D</span> 天 '
		+ '<span>%H</span> 时 '
		+ '<span>%M</span> 分 '
		+ '<span>%S</span> 秒'));
	});
    
	// 显示私信框
	$('.ui.letter.button').bind('click', function(){
		$('.ui.letter.modal').modal('show');
	});
	// 隐藏私信框
	$('.ui.cancel.button').bind('click', function(){
		$('.ui.letter.modal').modal('hide');
	});
	
	$('#message-form').form({
		content: {
			identifier  : 'content',
			rules: [
				{
					type   : 'empty',
					prompt : '私信内容不能为空'
				},
				{
					type   : 'maxLength[140]',
					prompt : '私信内容不超过140字符'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(event.target).ajaxSubmit();
		}
	});
	
{% endblock %}

{% block content %}
<div class="shop submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{% category_list var:'category' only_open:1 domain:domain current:product.category._id show_all:0 %}
				<div class="ui horizontal list">
					<div class="item">
						<a class="ui link" href="{{ app_url_shop }}/c0">全部</a>
					</div>
					{% for cat in category.rows %}
				  	<div class="item">
						<a class="ui {{ cat.active }} link" href="{{ cat.view_url }}">{{ cat.title }}</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui shop show" id="shoppage">
	<div class="product cover">
		<div class="ui responsive grid">
			<div class="center aligned row">
				<div class="column">
					
					<div class="slidebox">
						{% asset_list var:'assets' parent_id:product._id size:10 asset_type:10 %}
					
						<div id="procover" class="frame">
							<ul class="clearfix">
								<li class="active">
									<img src="{{ product.cover.thumbnails.big.view_url }}" alt="{{ product.title }}" />
								</li>
								{% for asset in assets.rows %}
									{% if asset._id != product.cover_id %}
									<li>
										<img src="{{ asset.thumbnails.big.view_url }}" alt="{{ product.title }}" />
									</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
						<button class="ui magenta btn prev">
							<i class="icon angle left"></i>
						</button>
						<button class="ui magenta btn next" disabled="">
							<i class="icon angle right"></i>
						</button>
					
						<div class="thumb wrap">
							<!--展示图片-->
							<div class="ui mini pages images">
								<div class="active image">
									<img src="{{ product.cover.thumbnails.tiny.view_url }}" alt="{{ product.title }}" />
								</div>
								{% for asset in assets.rows %}
									{% if asset._id != product.cover_id %}
									<div class="image">
								  		<img src="{{ asset.thumbnails.tiny.view_url }}" alt="{{ product.title }}" />
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="buy box">
		<div class="ui responsive grid">
			<div class="row">
				{% if !product.presale_finished %}
				<div class="eleven wide column">
					<h3 class="ui dark header">
						<div class="content">
							{{ product.title }}
							{% if product.designer %}
							<div class="sub header">
								<a href="{{ product.designer.home_url }}" class="ui link" title="设计师">
									{{ product.designer.nickname }}
								</a>
								<i class="map marker icon"></i>{{ product.designer.city }} {{ product.designer.profile.job }}
							</div>
							{% endif %}
						</div>
					</h3>
					<div class="attributes">
						<p class="item">
							<small><span class="count">{{ product.favorite_count }}</span>人已收藏 | <span class="count" id="product-love-count">{{ product.love_count }}</span>人点赞</small>
						</p>
						<div class="item">
							<div class="ui magenta pop favorite inverted button" data-content="收藏一下" data-variation="inverted" data-id="{{ product._id }}" data-mark="n">
								收藏
							</div>
							<div class="ui magenta pop love icon inverted button" data-content="点赞" data-variation="inverted" data-id="{{ product._id }}" data-mark="n">
								<i class="heart empty icon"></i>
							</div>
							<div class="ui magenta pop share icon inverted button" data-content="分享" data-variation="inverted">
								<i class="share icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="five wide column">
					<div class="reorder title">
						<span class="count">{{ product.presale_count|default 0 }}</span>
						预定人数
					</div>
					<div class="reorder title">
						<span class="count"><span class="unit">￥</span>{{ product.presale_money|default 0 }}</span>
						完成金额
					</div>
					<div class="reorder title">
						<span class="count" id="clock"></span>
						剩余时间
					</div>
				</div>
				{% else %}
				<div class="nine wide column">
					<h3 class="ui dark header">
						<div class="content">
							{{ product.title }}
							<div class="sub header">
								<a href="{{ product.designer.home_url }}" class="ui link" title="设计师">
									{{ product.designer.nickname }}
								</a>
								<i class="map marker icon"></i>{{ product.designer.city }} {{ product.designer.profile.job }}
							</div>
						</div>
					</h3>
					<div class="attributes">
						<p class="item">
							<small><span class="count">{{ product.favorite_count }}</span>人已收藏 | <span class="count" id="product-love-count">{{ product.love_count }}</span>人点赞</small>
						</p>
						<div class="item">
							<div class="ui magenta pop favorite inverted button" data-content="收藏一下" data-variation="inverted" data-id="{{ product._id }}" data-mark="n">
								收藏
							</div>
							<div class="ui magenta pop love icon inverted button" data-content="点赞" data-variation="inverted" data-id="{{ product._id }}" data-mark="n">
								<i class="heart empty icon"></i>
							</div>
							<div class="ui magenta pop share icon inverted button" data-content="分享" data-variation="inverted">
								<i class="share icon"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="seven wide right aligned column">
					<div class="ui relaxed horizontal divided preresult list">
						<div class="item">
							<div class="reorder result">
								<span class="count">{{ product.presale_count|default 0 }}</span>
								预定人数
							</div>
						</div>
						<div class="item">
							<div class="reorder result">
								<span class="count"><span class="unit">￥</span>{{ product.presale_money|default 0 }}</span>
								完成金额
							</div>
						</div>
						<div class="item">
							<div class="reorder result">
								<span class="count">{{ product.presale_percent }}%</span>
								达成率
							</div>
						</div>
					</div>
					
					<a class="ui active magenta tobuy inverted button" href="{{ app_url_domain }}/shop/{{ product._id}}.html">
						<i class="flat shopping icon"></i>去商店购买
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	
	{% sku_list var:'presales' product_id:product._id stage:5 %}
	{% if presales.total_rows %}
	<div class="product dream">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					
					<div class="ui levels grid">
						{% for presale in presales.rows %}
						<div class="ui level row">
							<h3 class="ui header">{{ presale.name }}</h3>
							<div class="ui three wide column">
								<p class="time">
									{% if presale.mode %}
										{{ presale.mode }}
									{% endif %}
									{% if presale.limited_count %}
										, 限量{{ presale.limited_count }}个
									{% endif %}
								</p>
							</div>
							<div class="ui seven wide column">
								<p class="time">
									{{ presale.summary }}
								</p>
							</div>
							<div class="ui two wide center aligned column">
								<div class="price">
									<small>￥</small>{{ presale.price }}
								</div>
							</div>
							<div class="ui four wide center aligned column">
							<div class="actions">
								{% if !product.presale_finished %}
									{% if presale.quantity %}
										<div class="ui magenta booked inverted button" data-id="{{ presale._id }}" data-pid="{{ product._id }}">
											现在预定
										</div>
									{% else %}
										<div class="ui disabled active gray inverted button">
											已抢完
										</div>
									{% endif %}
								{% else %}
									{% if presale.quantity %}
										<div class="ui disabled inverted button">
											预售结束
										</div>
									{% else %}
										<div class="ui disabled active gray inverted button">
											已抢完
										</div>
									{% endif %}
								{% endif %}
								<p class="small">已有{{ presale.sold }}位预定者</p>
							</div>
							</div>
						</div>
					{% endfor %}
					</div>

					
				</div>
				
			</div>
			
		</div>
	</div>
	{% endif %}
	
	{% if product._id == 1100197074 %}
	<div class="product promotion">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="ui magenta message">
						<i class="close icon"></i>
						<div class="ui header">
							<div class="picicon">
								<i class="gift icon"></i>
							</div>
							<div class="content">
								免费试用火热开启
								<p class="sub header">
									魔镜-全球首创美妆移动电源，免费试用申请开始了，数量有限，快快行动吧！点击链接：<a href="{{ app_url_domain }}/try/view-4.html" target="_blank" class="ui magenta link">{{ app_url_domain }}/try/view-4.html</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
	<div class="ui tabox">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="ui four tabs">
					  	<a class="active tab" href="#overview">产品详情</a>
					  	<a class="tab" href="#inventor">设计者</a>
						<a class="tab" href="#reviews">讨论话题 ({{ product.topic_count }})</a>
						<a class="tab" href="#service">常见问题</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product overview">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="product content froala-element">
						{{ product.content }}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product inventor">
		<div class="ui responsive grid">
			<div class="row">
				<div class="nine wide column">
					<div class="inventor info">
						<h3 class="ui header">
							设计者
						</h3>
						<h4 class="ui header">
							<div class="content">
								{{ product.designer.nickname }}
								<div class="sub header">
									{{ product.designer.city }} {{ product.designer.profile.job }}
								</div>
							</div>
						</h4>
						<div class="summary">
							{{ product.designer.summary }}
						</div>
					</div>
				</div>
				<div class="one wide column"></div>
				<div class="six wide center aligned column">
					<div class="inventor avatar">
						<a href="{{ product.designer.home_url }}" class="ui huge avatar image" >
							<img src="{{ product.designer.big_avatar_url }}" alt="{{ product.designer.nickname }}" />
						</a>
						<div class="actions">
        					{% if product.designer._id != visitor.id %}
            					{% if !is_ship %}
            					    <a href="{{ app_url_user }}/ajax_follow?id={{ product.designer._id }}" class="ui small white ajax inverted button" id="user_{{ product.designer._id }}_ship">关注</a>
            					{% else %}
            					    <a href="{{ app_url_user }}/ajax_cancel_follow?id={{ product.designer._id }}" class="ui small white ajax inverted button" id="user_{{ product.designer._id }}_ship">已关注</a>
            					{% endif %}
					
            					<button class="ui small white letter inverted button">
            						私信
            					</button>
        					{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product reviews">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<h3 class="ui dividing header">
						讨论话题 <small>（{{ product.topic_count }}）</small>
					</h3>
					{% include "block/product_topic.html" %}
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
					<a href="{{ product.subject_view_url }}" class="ui black inverted button">
						<i class="search icon"></i> 查看更多
					</a>
					<a href="{{ product.subject_view_url }}#newtopic" class="ui magenta inverted button">
						<i class="edit icon"></i> 发表新话题
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product service">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<h3 class="ui dividing header">
						常见问题
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui selection list">
						<div class="item">
							<h4 class="ui gray header">收藏商品功能</h4>
							<p>点击“收藏按钮”后，按钮中的填实黑色,代表收藏成功，再次点击取消收藏。您可在“个人中心”中的我的收藏查看所有收藏商品。</p>
						</div>
						<div class="item">
							<h4 class="ui gray header">订单取消，怎样退款？</h4>
							<p>订单取消时，您的支持金额将自动退款至<a href="" class="ui link">【账户余额】</a>中。您可以支持其他产品，或在此<a href="" class="ui link">【申请取现】</a>至您的支付宝或其他付款账户。</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domain }}">
						<i class="home icon"></i> 首页
					</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_shop }}">商店</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_sale }}">预售</a>
				  	<i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_domain }}/sale/c{{ product.category._id }}">{{ product.category.title }}</a>
				  	<i class="angle right icon divider"></i>
				  	<div class="active section">{{ product.title }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "block/message.html" %}
{% include "block/sharebox.html" %}
{% include "block/qrcode.html" %}
{% endblock %}
