---
app.id: 'sher'
app.version: '1.0'
app.modules.boot: 'sher'

app.modules.sher: 
  state: 'on'
  namespace: 'Sher_App'
  index_action: 'Index'
  
app.modules.admin: 
  state: 'on'
  namespace: 'Sher_Admin'
  index_action: 'Console'

app.modules.app_admin: 
  state: 'on'
  namespace: 'Sher_AppAdmin'
  index_action: 'Console'
  
app.modules.wap: 
  state: 'on'
  namespace: 'Sher_Wap'
  index_action: 'Index'
  
app.modules.wechat: 
  state: 'on'
  namespace: 'Sher_Wechat'
  index_action: 'Index'
  
app.modules.api: 
  state: 'on'
  namespace: 'Sher_Api'
  index_action: 'Data'

app.modules.league: 
  state: 'on'
  namespace: 'Sher_League'
  index_action: 'Index'

app.modules.w_api: 
  state: 'on'
  namespace: 'Sher_WApi'
  index_action: 'Data'

app.dispatcher.routes:
app.dispatcher.result.map:
  redirect: 'Doggy_Dispatcher_Result_Redirect'
  json: 'Doggy_Dispatcher_Result_Json'
  file: 'Doggy_Dispatcher_Result_File'
  raw: 'Doggy_Dispatcher_Result_Raw'
  jquery: 'Doggy_Dispatcher_Result_JQuery'
  dt: 'DoggyX_View_HtmlPage'
  html: 'DoggyX_View_HtmlPage'
  taconite: 'DoggyX_View_TaconitePage'
  rss: 'DoggyX_View_RssPage'
  mongofs: 'DoggyX_View_MongoFs'

app.dispatcher.interceptors.run:
  - Doggy_Dispatcher_Interceptor_Parameters
  - Doggy_Dispatcher_Interceptor_UploadSupport
  - Sher_Core_Interceptor_ValidSign
  - Sher_Core_Interceptor_ValidToken
  - Sher_Core_Interceptor_Filter
  - Sher_Core_Interceptor_XSession
  - DoggyX_Interceptor_BeforeInvoke

app.session.ttl: 1800
app.session.service: 'Sher_Core_Session_Service'
app.session.engine: 'DoggyX_Session_Engine_Mongo'
app.session.online_ttl: 600
app.session.engine.options:
   # mongodb session optional:
   'collection': 'session'
app.session.sid: 'sher_sid'
#auth cookie:
app.session.auth_sid: 'sher_asid'
# session secret key
#app.session.secret_key: 'Frbird#2018Up'
app.session.secret_key: 'Frbird#2015Up'

# 序列编号表
app.serialno.name: 'serialno'
# 退款单 ID
app.refund_serialno.name: 'refund_serialno'

app.mongodb_host: 'mongodb://127.0.0.1'
app.mongodb_rs: false
# mongodb
app.mongo.default:
  host: '127.0.0.1'
  db: 'firebird'
  replicaSet: false
  
# redisdb
#app.redis_host: 'localhost:6379'

app.dt.extension_lib.sher_app:
  tags:
    'category_list':'Sher_Core_ViewTag_CategoryList'
    'style_tag_list':'Sher_Core_ViewTag_StyleTagList'
    'style_tag_record_list':'Sher_Core_ViewTag_StyleTagRecordList'
    'sign_draw_record_list':'Sher_Core_ViewTag_SignDrawRecordList'
    'active_draw_record_list':'Sher_Core_ViewTag_ActiveDrawRecordList'
    'topic_list':'Sher_App_ViewTag_TopicList'
    'product_list':'Sher_App_ViewTag_ProductList'
    'stuff_list':'Sher_Core_ViewTag_StuffList'
    'sign_list':'Sher_Core_ViewTag_SignList'
    'sign_stat_list':'Sher_Core_ViewTag_SignStatList'
    'like_list':'Sher_App_ViewTag_LikeList'
    'support_list':'Sher_App_ViewTag_SupportList'
    'asset_list':'Sher_App_ViewTag_AssetList'
    'comment_list':'Sher_App_ViewTag_CommentList'
    'vote_list':'Sher_Core_ViewTag_VoteList'
    'egou_list':'Sher_Core_ViewTag_EgouList'
    'addbooks_list':'Sher_Core_ViewTag_AddBooksList'
    'order_list':'Sher_Core_ViewTag_OrderList'
    'try_list':'Sher_Core_ViewTag_TryList'
    'apply_list':'Sher_Core_ViewTag_ApplyList'
    'cooperate_list':'Sher_Core_ViewTag_CooperateList'
    'search_list':'Sher_App_ViewTag_SearchList'
    'follow_list':'Sher_App_ViewTag_FollowList'
    'user_list':'Sher_App_ViewTag_UserList'
    'users_list':'Sher_App_ViewTag_UsersList'
    'sku_list':'Sher_Core_ViewTag_SkuList'
    'bonus_list':'Sher_Core_ViewTag_BonusList'
    'tags_list':'Sher_App_ViewTag_TagsList'
    'temp_tags_list':'Sher_App_ViewTag_TempTagsList'
    'ad_list':'Sher_Core_ViewTag_AdList'
    'edm_list':'Sher_Core_ViewTag_EdmList'
    'space_list':'Sher_Core_ViewTag_SpaceList'
    'favorite_list':'Sher_Core_ViewTag_FavoriteList'
    'cake_list':'Sher_App_ViewTag_CakeList'
    'message_list':'Sher_App_ViewTag_MessageList'
    'contact_list':'Sher_App_ViewTag_ContactList'
    'block_list':'Sher_Core_ViewTag_BlockList'
    'notice_list':'Sher_Core_ViewTag_NoticeList'
    'active_list':'Sher_App_ViewTag_ActiveList'
    'attend_list':'Sher_App_ViewTag_AttendList'
    'gift_list':'Sher_Core_ViewTag_GiftList'
    'invite_record_list':'Sher_Core_ViewTag_InviteRecordList'
    'subject_record_list':'Sher_Core_ViewTag_SubjectRecordList'
    'sum_record_list':'Sher_Core_ViewTag_SumRecordList'
    'remind_list':'Sher_Core_ViewTag_RemindList'
    'pager':'Sher_App_ViewTag_Pager'
    'point_record_list':'Sher_Core_ViewTag_PointRecordList'
    'event_record_list':'Sher_Core_ViewTag_EventRecordList'
    'point_balance_list':'Sher_Core_ViewTag_PointBalanceList'
    'comment_target':'Sher_App_ViewTag_CommentTarget'
    'province_list':'Sher_Core_ViewTag_ProvinceList'
    'city_list':'Sher_Core_ViewTag_CityList'
    'area_list':'Sher_Core_ViewTag_AreaList'
    'college_list':'Sher_Core_ViewTag_CollegeList'
    'timeline_list':'Sher_Core_ViewTag_TimelineList'
    'timeline_list':'Sher_Core_ViewTag_TimelineList'
    'tag_list':'Sher_Core_ViewTag_TagList'
    'report_list':'Sher_Core_ViewTag_ReportList'
    'report_tip_list':'Sher_Core_ViewTag_ReportTipList'
    'user_point_stat_list':'Sher_Core_ViewTag_UserPointStatList'
    'contest_list':'Sher_Core_ViewTag_ContestList'
    'device_list':'Sher_Core_ViewTag_DeviceList'
    'd_order_list':'Sher_Core_ViewTag_DOrderList'
    'd_member_list':'Sher_Core_ViewTag_DMemberList'
    'd_appoint_list':'Sher_Core_ViewTag_DAppointList'
    'third_site_stat_list':'Sher_Core_ViewTag_ThirdSiteStatList'
    'friend_link_list':'Sher_Core_ViewTag_FriendLinkList'
    'special_subject_list':'Sher_Core_ViewTag_SpecialSubjectList'
    'scene_subject_list':'Sher_Core_ViewTag_SceneSubjectList'
    'pusher_list':'Sher_Core_ViewTag_PusherList'
    'fiu_pusher_list':'Sher_Core_ViewTag_FiuPusherList'
    'store_list':'Sher_Core_ViewTag_EstoreList'
    'recent_visitor_list':'Sher_Core_ViewTag_RecentVisitorList'
    'scene_brands_list':'Sher_Core_ViewTag_SceneBrandsList'
    'scene_product_list':'Sher_Core_ViewTag_SceneProductList'
    'scene_context_list':'Sher_Core_ViewTag_SceneContextList'
    'scene_tags_list':'Sher_Core_ViewTag_SceneTagsList'
    'scene_scene_list':'Sher_Core_ViewTag_SceneSceneList'
    'scene_sight_list':'Sher_Core_ViewTag_SceneSightList'
    'r_estore_product_list':'Sher_Core_ViewTag_REstoreProductList'
    'feedback_list':'Sher_Core_ViewTag_FeedbackList'
    'user_talent_list':'Sher_Core_ViewTag_UserTalentList'
    'app_user_record_list':'Sher_Core_ViewTag_AppUserRecordList'
    'fiu_user_record_list':'Sher_Core_ViewTag_FiuUserRecordList'
    'app_store_user_stat_list':'Sher_Core_ViewTag_AppStoreUserStatList'
    'app_fiu_user_stat_list':'Sher_Core_ViewTag_AppFiuUserStatList'
    'ip_black_list':'Sher_Core_ViewTag_IpBlackListList'
    'user_temp_list':'Sher_Core_ViewTag_UserTempList'
    'sight_stat_list':'Sher_Core_ViewTag_SightStatList'
    'supplier_list':'Sher_Core_ViewTag_SupplierList'
    'refund_list':'Sher_Core_ViewTag_RefundList'
    'alliance_list':'Sher_Core_ViewTag_AllianceList'
    'balance_list':'Sher_Core_ViewTag_BalanceList'
    'balance_record_list':'Sher_Core_ViewTag_BalanceRecordList'
    'withdraw_cash_list':'Sher_Core_ViewTag_WithdrawCashList'
  filters: []

app.js.use_bundle: false
app.css.use_bundle: false

#邀请注册的开关
app.url.invite.trigger: 1
# passport
app.db.passport: 'mysql://root:root@localhost/passport?charset=utf8'
app.db.default: 'mysql://root:root@localhost/passport?charset=utf8'

# Qiniu API
app.qiniu.key: 'ERh7qjVSy0v42bQ0fftrFeKYZG39XbzRlaJO4NFy'
app.qiniu.secret: 'r-NUrKsnRBEwTQxbLONVrK9tPuncXyHmcq4BkSc7'
app.qiniu.bucket: 'frbird'

# 百度地图api
app.baidu.map_ak: '2YaeXuaHSfo23rkH6i5p3mGc'

app.keychains.private: 'xxxxOOOOxxxx'
app.email.from:
  address: 'no-reply@taihuoniao.com'
  name: '系统邮件服务'

# 产品话题类别
app.system.user_id: 1
app.product.topic_category_id: 59

# 评测报告类别
app.try.report_category_id: 58

# 关注最大数
app.follow.max: 2000

# 投票时间段设置，默认：15天
app.vote.interval: 15
app.vote.lowest: 200

# 预售时间段设置，默认：15天
app.presale.interval: 15
app.presale.lowest: 10

# 微信服务号配置信息

# 微信Token(令牌)
app.wechat.token: '5382021d5771db562c1ce1de'
# 微信APPID：绑定支付的APPID（必须配置，开户邮件中可查看）
app.wechat.app_id: 'wx75a9ffb78f202fb3'
# 微信APPSECRET：公众帐号secert（仅JSAPI支付的时候需要配置， 登录公众平台，进入开发者中心可设置）
app.wechat.app_secret: 'f80ae853ef243f66284ad13781cb69de'
# 微信MCHID：商户号（必须配置，开户邮件中可查看）
app.wechat.partner_id: '1219487201'

# 两个未知配置参数(待考证)
app.wechat.partner_key: '8db453c4e80d0c28aa5b4664e22ea013'
app.wechat.paysign_key: 'ArioxptbBJu25ANvabeBqavpE7diWUfTtDu1FCkt66Ojdzb1N3ajKoGAX3xdT3GIsj7C8g1pglSBVqaUNrqsoz5vfiASYrinEL4bAvuhTBgs1ZrdX7gJNgx8qgHBG0V4'

# 微信支付

# KEY：商户支付密钥，参考开户邮件设置（必须配置，登录商户平台自行设置）
app.wechat.key: '9E0530C588C8003395A929B0B94AC46B'
# 异步通知url
app.wechat.notify_url: ''
# TODO：设置商户证书路径
app.wechat.sslcert_path: '/opt/project/phenix/vendor/wechat_cert/apiclient_cert.pem'
app.wechat.sslkey_path: '/opt/project/phenix/vendor/wechat_cert/apiclient_key.pem'
app.wechat.rootca: '/opt/project/phenix/vendor/wechat_cert/rootca.pem'
# TODO：这里设置代理机器，只有需要代理的时候才设置，不需要代理，请设置为0.0.0.0和0
app.wechat.proxy_host : "0.0.0.0"
app.wechat.proxy_post : 0
# TODO：接口调用上报等级，默认紧错误上报（注意：上报超时间为【1s】，上报无论成败【永不抛出异常】
app.wechat.report_levenl : 1


# 微信商户平台 支付信息(用于APP商城)
# 微信Token(令牌)
app.wechat_m.token: ''
# 微信APPID：绑定支付的APPID（必须配置，开户邮件中可查看）
app.wechat_m.app_id: 'wx08a55a284c50442e'
# 微信APPSECRET：公众帐号secert（仅JSAPI支付的时候需要配置， 登录公众平台，进入开发者中心可设置）
app.wechat_m.app_secret: ''
# 微信MCHID：商户号（必须配置，开户邮件中可查看）
app.wechat_m.partner_id: '1305635501'
# KEY：商户支付密钥，参考开户邮件设置（必须配置，登录商户平台自行设置）
# **** 要与web端一致!!!!
app.wechat_m.key: '{$app.wechat.key}'
# 异步通知url
app.wechat_m.notify_url: ''
# TODO：设置商户证书路径
app.wechat_m.sslcert_path: '/opt/project/phenix/vendor/wechat_m_cert/apiclient_cert.pem'
app.wechat_m.sslkey_path: '/opt/project/phenix/vendor/wechat_m_cert/apiclient_key.pem'
app.wechat_m.rootca: '/opt/project/phenix/vendor/wechat_m_cert/rootca.pem'
# TODO：这里设置代理机器，只有需要代理的时候才设置，不需要代理，请设置为0.0.0.0和0
app.wechat_m.proxy_host : "0.0.0.0"
app.wechat_m.proxy_post : 0
# TODO：接口调用上报等级，默认紧错误上报（注意：上报超时间为【1s】，上报无论成败【永不抛出异常】
app.wechat_m.report_levenl : 1

# 微信商户平台 支付信息(用于Fiu)
# 微信Token(令牌)
app.wechat_fiu.token: ''
# 微信APPID：绑定支付的APPID（必须配置，开户邮件中可查看）
app.wechat_fiu.app_id: 'wxdf5f6f5907a238e8'
# 微信APPSECRET：公众帐号secert（仅JSAPI支付的时候需要配置， 登录公众平台，进入开发者中心可设置）
app.wechat_fiu.app_secret: '227f6fe4c54ad3e51eed975815167b0b'
# 微信MCHID：商户号（必须配置，开户邮件中可查看）
app.wechat_fiu.partner_id: '1322727701'
# KEY：商户支付密钥，参考开户邮件设置（必须配置，登录商户平台自行设置）
# **** 要与web端一致!!!!
app.wechat_fiu.key: '9E0530C588C8003395A929B0B94AC46C'
# 异步通知url
app.wechat_fiu.notify_url: ''
# TODO：设置商户证书路径
app.wechat_fiu.sslcert_path: '/opt/project/phenix/vendor/wechat_m_cert/apiclient_cert.pem'
app.wechat_fiu.sslkey_path: '/opt/project/phenix/vendor/wechat_m_cert/apiclient_key.pem'
app.wechat_fiu.rootca: '/opt/project/phenix/vendor/wechat_m_cert/rootca.pem'
# TODO：这里设置代理机器，只有需要代理的时候才设置，不需要代理，请设置为0.0.0.0和0
app.wechat_fiu.proxy_host : "0.0.0.0"
app.wechat_fiu.proxy_post : 0
# TODO：接口调用上报等级，默认紧错误上报（注意：上报超时间为【1s】，上报无论成败【永不抛出异常】
app.wechat_fiu.report_levenl : 1


# 微信订阅号token
#app.wechat.token: '5382ebad0c28aab443bfe3c7'
#app.wechat.app_id: 'wx4cf88d6bf30430db'
#app.wechat.app_secret: '795ff8ca3d4a57ae645e4d217c193988'

# 财付通
app.tenpay.partner: '1220172801'
app.tenpay.key: 'c61bea76f78ee72048aaa6570ad36ab3'

# 太火鸟App Key
app.frbird.key: '1415289600'
app.frbird.sercet: '545d9f8aac6b7a4d04abffe5'

# 附件存储目录
app.storage.sher:
    class:'Doggy_Storage_Provider_FileSystem'
    options:
        root:"/Users/xiaoyi/data/uploads"
        root_url:'http://img.taihuoniao.me'
        hash_dir:false


# 淘宝客api
app.tbk_api:
  app_key: 23317927
  app_secret: 'ca4e3cb5c58be55af2c5ca84d7688a92'

# 京东jos
app.jos_api:
  app_key: '1382DFE66C01C7FF9FB26552E569C1CD'
  app_secret: 'a91a58b267924048969e688895319905'

#JPush 极光推送
app.jpush_api:
  app_key: '416f81f42690d8fdbe176189'
  app_secret: '99fd953b274a544baf45fcd7'
  log_path: ''
  max_retry_times: 3

# 云片网络(短信验证码)
app.yunpian_api:
  app_key: 'f24e5339b13f3e44876c19e0072060f3'
  app_secret: '8f1ef668'

# 图片缩络图
app.asset.thumbnails:
	mini: 120x120
	tiny: 160x120
	small: 280x210
	medium: 320x240
	large: 580x435
	big: 700x525
	huge: 900x
	massive: 1024x768
	
app.asset.avatars:
  big: 360
  medium: 180
  small: 100
  mini: 50
  
app.word.filter:
  seword: tmd|sex|色情|妈的|奶奶的|日你|TNND|她娘的
