{%extends 'layout/mobile.html'%}
{% block title%}{% endblock %}
{% block page_css %}
<style type="text/css">
	#mfrbird{
		margin-top:0;
	}
	.course {
		margin: 0px;
		padding: 0px;
	}
	.cont {
		word-break: break-all;
		word-wrap: break-word;
		padding-bottom: 10px;
    	color: #5d6266;
    	font-size: 14px;
	}
	.cont p {
	    line-height: 24px;
	    margin-bottom: 20px;
		margin-top: 0;
	}
	.cont p br {
	    content: '';
	    display: block;
	    padding: 1px;
	    margin-top: -20px;
	}
	.cont img{
		padding: 0;
		width:100%;
	}
	.cont a{
		border-bottom: 1px solid rgba(0,0,0,.1);
		color: #f36;
		cursor: pointer;
		text-decoration: none;
	}
    @media only screen and (max-width: 320px){
  	  .f-video-editor>*{
  		  height:210px;
  		  width: 100%;
  	  }
    }
    @media only screen and (min-width: 321px) and (max-width: 375px){
  	  .f-video-editor>*{
  		  height:240px;
  		  width: 100%;
  	  }
    }
    @media only screen and (min-width: 376px){
  	  .f-video-editor>*{
  		  height:280px;
  		  width: 100%;
  	  }
    }
	.gridster {
		margin: 0 auto;
		width: 100%;
	}
	
	.gridster_ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: auto;
	}
	
	.gridster_ul li {
		font-size: 1em;
		font-weight: bold;
		text-align: center;
		line-height: 100%;
		border: 1px;
		position: relative;
		float: left;
	}
	
    @media only screen and (max-width: 320px){
  	  .f-video-editor>*{
  		  height:210px;
  		  width: 100%;
  	  }
    }
	
    @media only screen and (min-width: 321px) and (max-width: 375px){
  	  .f-video-editor>*{
  		  height:240px;
  		  width: 100%;
  	  }
    }
	
    @media only screen and (min-width: 376px){
  	  .f-video-editor>*{
  		  height:280px;
  		  width: 100%;
  	  }
    }
	
	.ui.grid>.row.iswidth{
	    margin-left: 10px;
	    margin-right: 10px;
	    width: auto!important;
	}
	.ui.grid>.row.iswidth:before {
	    content: '';
	    width: 94%;
	    height: 1px;
	    background: rgba(0,0,0,.1);
	    position: absolute;
	    top: 60px;
	    left: 3%;
	}
	.ui.grid>.row.iswidth .ui.support.button {
	    display: inline-block;
	    margin-right: 8px;
	    height: 44px;
	    line-height: 44px;
	    padding: 0!important;
	    background: 0 0;
	    font-weight: 400;
	}
	
	.ui.grid>.row.iswidth .ui.support.button .heart.icon {
	    font-size: 1.5em;
	    color: #f36;
	    height: 44px;
	    vertical-align: middle;
	    line-height: 44px;
	}
	.ui.grid>.row.iswidth .ui.support.button.active .empty.heart.icon:before {
	    content: "\f004";
	}
	.ui.grid>.row.iswidth .ui.support.button .love.count {
	    display: inline-block;
	    margin-left: 3px;
	    vertical-align: middle;
	}
	.ui.grid>.row.iswidth .ui.commenting {
	    display: inline-block;
	    height: 44px;
	    line-height: 44px;
	}
	.ui.grid>.row.iswidth .ui.commenting .comment.icon {
	    font-size: 1.5em;
	    height: 44px;
	    vertical-align: middle;
	    line-height: 42px!important;
	    margin-right: 0;
	    color: rgba(0,0,0,.5);
	}
	.ui.grid>.row.iswidth .ui.commenting .love.count{
	    display: inline-block;
	    margin-left: 3px;
	    vertical-align: middle;
	}
	.ui.grid>.row.iswidth .right.aligned {
	    float: right;
	}
	.ui.grid>.row.iswidth .right.aligned .topicshare {
	    display: none;
	}
	.ui.grid>.row.iswidth .right.aligned .topicshare a.share.btn i.icon.inverted {
	    background-color: transparent!important;
	    color: rgba(0,0,0,.4)!important;
	    text-align: center;
	    padding: 0!important;
	    height: 44px!important;
	    line-height: 44px!important;
	    vertical-align: middle;
	    margin: 0;
	    width: 1.8em!important;
	}
	.ui.grid>.row.iswidth .right.aligned .topicshare a.share.btn i.icon.inverted {
	    background-color: transparent!important;
	    color: rgba(0,0,0,.4)!important;
	    text-align: center;
	    padding: 0!important;
	    height: 44px!important;
	    line-height: 44px!important;
	    vertical-align: middle;
	    margin: 0;
	    width: 1.8em!important;
	}
	.specont{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		background:#fff;
		z-index: 3;
	    padding: 2px 0;
	    max-width: 767px;
	    margin: 0 auto;
	}
	.specont i.icon{
		color:#f36 !important;
	}
	.specont .loveicon,.specont .shareicon,.specont .commenticon{
	    width: 60%;
	    padding: 10px 0;
	    margin: auto;
	}
	.specialshare{
		position: fixed;
	    width: 100%;
	    height: 100%;
	    z-index: 100;
	    top: 0;
	    display: none;
	    background: rgba(0,0,0,.9);
	}
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">
$('ul[class=gridster_ul]').css('width','100%');
$('ul[class=gridster_ul]').css('height','');

function JavascriptHandler(data) {
	if (!data) {
        return '';
	}
	return window.location.href = '{{ app_url_wap }}/shop/'+ parseInt(data)+'.html';
}

</script>
{% endblock %}
{% block jquery %}

// 评论排序
$('.fitsort .ui.list .item').bind('click', function(){
    sort = parseInt($(this).data('sort'));
    $(this)
        .siblings().removeClass('active')
        .end()
        .addClass('active');
    fetch_comment(1, per_page, sort);
});
//分享
phenix.bind_share_list();


//微信 qq 打开隐藏
var ua = navigator.userAgent.toLowerCase();
if (ua.match(/MicroMessenger/i)=="micromessenger" || ua.match(/QQ/i) == "qq"){
	$('.topicshare').css('display','none');
}else{
	$('.topicshare').css('display','block');
}

//点击评论icon 滚动到评论
$('.commenticon').click(function(){
	$('html,body').animate({scrollTop:$('#comment-box').offset().top - 100},500);
});
$('.loveicon').click(function(){
	$('html,body').animate({scrollTop:$('.ui.speshare.grid').offset().top },500);
});
$('.shareicon').click(function(){
	var ua = navigator.userAgent.toLowerCase();
	if (ua.match(/MicroMessenger/i)=="micromessenger" || ua.match(/QQ/i) == "qq"){
		$('.specialshare').css('display','block');
	}else{
		$('html,body').animate({scrollTop:$('.ui.speshare.grid').offset().top },500);
	}
});
$('.specialshare').click(function(){
	$(this).removeAttr('style');
});

{% endblock %}
{% block content %}
	<div class="course">
		<div class="cont">
				{{ content }}
		</div>					
	</div>
	
    <div class="ui speshare grid" style="margin:0 0 10px;">
        <div class="row iswidth">
            <div class="eight wide column">
                <div class="ui icon support button" data-variation="inverted" data-id="{{ topic._id }}"
                data-mark="n">
                    <i class="empty heart icon">
                    </i>
                    <div class="love count">
                        {{ topic.love_count|default 0 }}
                    </div>
                </div>
                <div class="ui commenting">
                    <i class="comment outline icon">
                    </i>
                    <div class="love count">
                        {{ topic.comment_count|default 0 }}
                    </div>
                </div>
            </div>
            <div class="eight right aligned wide column">
                <div class="phenix-share topicshare">
                    <a href="javascript:void(0);" id="sina-share" class="ui weibo circular share icon btn"
                    title="新浪微博">
                        <i class="large weibo icon circular red inverted">
                        </i>
                    </a>
                    <a href="javascript:void(0);" id="qzone-share" class="ui qzone circular share icon btn"
                    title="QQ空间">
                        <i class="large qq icon circular blue inverted">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
	
	<div class="ui responsive grid" style="margin:0;padding:0;" id="postpage">
        <div class="row pt-0">
            <div class="block title">
                全部评论
                <small>
                    （{{ topic.comment_count|default 0 }}）
                </small>
                <div class="fitsort">
                    <div class="ui horizontal bulleted list">
                        <a class="active item" href="javascript:void(0);" data-sort="0">
                            默认
                        </a>
                        <a class="item" href="javascript:void(0);" data-sort="1">
                            最新
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui big reply segment">
                
                <!--ajax comment-->
                <div id="comment-list" style="padding-bottom:20px;">
                </div>
                {% include "block/comment_box_wap.html" %}
            </div>
        </div>
		
	</div>

	<!-- fixed -->
	<div class="specont">
		<div class="ui responsive grid">
			<div class="row pt-0 pb-0">
				<div class="ui center aligned five wide column">
					<div class="loveicon">
						<i class="empty heart icon"></i> 12
					</div>
				</div>
				<div class="ui center aligned six wide column">
					<div class="shareicon">
						<i class="external share icon"></i>
					</div>
				</div>
				<div class="ui center aligned five wide column">
					<div class="commenticon">
						<i class="comment outline icon"></i>9
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="specialshare">
		<img src="{{ app_url_packaged }}/images/fenxiang.png" width="100%">
	</div>
{% endblock %}