{%extends 'layout/mobile.html'%}
{% block title%}{% endblock %}
{% block page_css %}
<style type="text/css">
#spelist{
	
}
#mfrbird{
	margin-top:0;
	margin-bottom:2em;
}
.spemenu{
    width: 100%;
    height: 110px;
    background: #eee;
    overflow: hidden;
}
.spemenu .swiper-wrapper .swiper-slide {
	margin: 0 4px;
	width:160px;
	height:110px;
}
.spemenu .swiper-wrapper .swiper-slide:first-child{
	margin-left:12px;
}
.spemenu .swiper-wrapper .swiper-slide:last-child{
	margin-right:12px;
}
.swiper-slide a{
	width:160px;
	height:90px;
	position:absolute;
	top:10px;
	left:0;
}
.swiper-slide a p{
	background:rgba(0,0,0,0.15);
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	line-height:90px;
	color:#fff;
}
.swiper-slide a img{
	width:160px;
	height:90px;
}

#special-list .recommend-topic{
	padding-top: 0;
}
#special-list .recommend-topic .recom-item .recom-cell.one:first-child{
	margin-top:0;
}
#special-list .recommend-topic .recom-item .recom-cell.one a{
	padding-top:56%;
}
#special-list .recommend-topic .recom-item .recom-cell.one a .desc{
	line-height: 90px;
}
#special-list .recommend-topic .recom-item .recom-cell.one a .xihuanicon{
    position: absolute;
    top: 10px;
    right: 10px;
	padding: 5px 8px;
    background: rgba(255,51,102,.5);
    border-radius: 5px;
	color:#fff;
	font-size:12px;
}
</style>

{% endblock %}
{% block jquery %}
	window.onload = function() {
		var mySwiper = new Swiper('.spemenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}
{% endblock %}
{% block content %}
<div id="spelist">
	<div class="spemenu">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			<div class="swiper-slide">
				<a class="" href="">
					<img src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1">
					<p>小清新</p>
				</a>
			</div>
			
			
			
			
			
		</div>
	</div>
	
	<div id="special-list">
		<div class="recommend-topic">
			<div class="recom-item">
				<div class="recom-cell one">
					<a href="">
						<img class="lazy" data-original="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" title="qweqw" style="display: block;">
						
						<div class="xihuanicon">
							<i class="empty heart icon"></i>23
						</div>
						<div class="desc">
							航拍解放双手无人机开启上帝视角
						</div>
					</a>
				</div>
				
				<div class="recom-cell one">
					<a href="">
						<img class="lazy" data-original="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" title="qweqw" style="display: block;">
						
						<div class="xihuanicon">
							<i class="empty heart icon"></i>3
						</div>
						<div class="desc">
							航拍解放双手无人机开启上帝视角
						</div>
					</a>
				</div>
				
				<div class="recom-cell one">
					<a href="">
						<img class="lazy" data-original="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" src="http://frbird.qiniudn.com/asset/160411/570a89e23ffca27d428be74b-1" title="qweqw" style="display: block;">
						
						<div class="xihuanicon">
							<i class="empty heart icon"></i>23
						</div>
						<div class="desc">
							航拍解放双手无人机开启上帝视角
						</div>
					</a>
					
				</div>
				
				
				
				
				
			</div>
		</div>
	</div>
	
</div>
			

{% endblock %}