{%extends 'layout/column.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}

{% block jquery %}
	$('.special.cards .image').dimmer({
	  on: 'hover'
	});
    
	// 喜欢
	$('.ui.support.button').bind('click', function(){
		var id = $(this).data('id'),$btn = $(this);
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}
		$.post('{{ app_url_favorite }}/ajax_laud', {id: id, type:4}, function(result){
			if (result.success) {
				$btn
					.addClass('actived');
                    
                if(result.data.newadd){
                    $('#stuff_'+ id +'_support')
                        .prepend('<img src="'+ result.data.avatar +'" class="ui avatar image" />')
                        .find('span.count').remove()
                        .end()
                        .append('<span class="count">'+ result.data.love_count +'<small>\+</small></span>');
                }
			} else {
				phenix.show_error_note(result.message);
			}
		}, 'json');
	});
{% endblock %}


{% block content %}
<div class="shop submenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{%include 'block/find_nav.html'%}
			</div>
		</div>
	</div>
</div>
<div class="social catemenu ideaheader">
    {% ad_list var:'adbgpic' page:1 size:1 name:'stuff_head_bgpic' sort_field:'latest' state:2 %}
    {% if adbgpic %}
    <div class="category header" style="background-image: url('{{ adbgpic.cover.fileurl }}');">
    {% else %}
	<div class="category header" style="background-image: url('{{ app_url_packaged }}/images/topicbg/smart-wearable.jpg');">
    {% endif %}
        <div class="cover">
    		<div class="ui responsive grid">
    			<div class="row">
    				<div class="twelve wide column">
                        <div class="container">
        					<h1 class="block title">
        						智品库
        					</h1>
                            <p class="discription"><small>“灵感，是由于顽强的劳动而获得的奖赏”“得之在俄顷，积之在平日”</small></p>
                            <hr>        					
                        </div>
                    </div>
                    <div class="right aligned four wide column">
                        <div class="container">
            				<div class="stast">
            					<div class="ui horizontal bulleted list">
            						<span class="item">总数</span>
            						<span class="item">
                                        {{ counter.items.total_count|default 0 }}
            						</span>
            					</div>
            					<span class="space"> / </span>
            					<div class="ui horizontal bulleted list">
            						<span class="item">精选</span>
            						<span class="item">
                                        {{ counter.items.feature_count|default 0 }}
            						</span>
            					</div>
            				</div>
                    <!--
            				<a href="{{ app_url_stuff }}/submit" class="ui inverted share white button">
            					<i class="edit icon"></i> 提交新产品
            				</a>
                    -->
                        </div>
                    </div>
    			</div>
                <div class="row">
                    <div class="column">
    					{% category_list var:'all_category' only_open:1 domain:4 current:cid pid:top_category_id %}
    					<div class="children">
    						{% for cate in all_category.rows %}
								<a href="{{ app_url_stuff }}/c{{ cate._id }}" class="ui {{ cate.active }} white inverted button">
									{{ cate.title }}
								</a>
    						{% endfor %}
    					</div>
                    </div>
                </div>
    		</div>
        </div>
	</div>
</div>

<div class="social sortby">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui horizontal bulleted list">
				  <a class="ui line {{ css_featured }} item" href="{{ app_url_stuff }}/featured">
				    精选
				  </a>
				  <a class="ui line {{ css_sticked }} item" href="{{ app_url_stuff }}/sticked">
				    推荐
				  </a>
				  <a class="ui line {{ css_latest }} item" href="{{ app_url_stuff }}/latest">
				    最新
				  </a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="social stuffist">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{% stuff_list var:'stufflist' category_id:cid is_top:is_top sort:sort sticked:sticked featured:featured page:page size:36 %}
				<div class="ui four stuffs cards">
					{% for stuff in stufflist.rows %}
                        {% include "block/stuff_item.html" %}
					{% endfor %}
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="column">
				{% if stufflist.total_page > 1 %}
				<div class="ui pagination">
					{% pager url:pager_url,total_rows:stufflist.total_rows,total_page:stufflist.total_page,current_page:page,var:'pager',pager_size:9 %}
					{% include 'block/pager.html' %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="social submitbox">
	<div class="ui responsive grid">
		<div class="row">
			<div class="center aligned column">
				<h2 class="ui header">
					去发现、去支持、去分享
				</h2>
				<p>无论您是谁，让我们用创意和梦想，去改变这个平凡无奇的世界</p>
        <!--
				<a href="{{ app_url_stuff }}/submit" class="ui inverted share magenta button">
					<i class="edit icon"></i> 提交产品
				</a>
        -->
			</div>
		</div>
	</div>
</div>

<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_social }}">
						发现
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">智品库</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
