{%extends 'layout/mobile.html'%}
{% block title %}第四届奇思甬动中国创客大赛-{% endblock %}

{% block page_css %}
<style class="text/css">

@charset "utf-8";html{background-color:#fff;color:#000;}
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,figure,form,fieldset,legend,input,textarea,button,p,blockquote,th,td,pre,xmp{margin:0;padding:0}
body,input,textarea,button,select,pre,xmp,tt,code,kbd,samp{line-height:1.5;font-family:tahoma,arial,"Hiragino Sans GB",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,small,big,input,textarea,button,select{font-size:100%}
h1,h2,h3,h4,h5,h6{font-family:tahoma,arial,"Hiragino Sans GB","微软雅黑",simsun,sans-serif}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal}
address,cite,dfn,em,i,optgroup,var{font-style:normal}
table{border-collapse:collapse;border-spacing:0;text-align:left}
caption,th{text-align:inherit}
ul,ol,menu{list-style:none}
fieldset,img{border:0}
img,object,input,textarea,button,select{vertical-align:middle}
article,aside,footer,header,section,nav,figure,figcaption,hgroup,details,menu{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020"}
textarea{overflow:auto;resize:vertical}
input,textarea,button,select,a{outline:0 none;border: none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
mark{background-color:transparent}
a,ins,s,u,del{text-decoration:none}
sup,sub{vertical-align:baseline}
/**
html {height: 100%;font-size: 50px;-webkit-tap-highlight-color: transparent;}
**/
body {font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;color: #333;font-size: .28em;line-height: 1;-webkit-text-size-adjust: none;}
hr {height: .02em;margin: .1em 0;border: medium none;border-top: .02em solid #cacaca;}
a {color: #25a4bb;text-decoration: none;}

.font-12{font-size: 12px}.font-14{font-size: 14px}.font-16{font-size: 16px;}.font-18{font-size: 18px;}.font-20{font-size: 20px;}.font-22{font-size: 22px;}.font-24{font-size: 24px;}
.color-f{color: #fff;}
.text-al{text-align: center}

section{
  height:100%;
}



.sfooter.nav-menu{
	display: none;
}
#mfrbird{
  margin-top: 0;
}
.appiosload{
    display: none !important;
}

#mmfoot{
  display: none;
}



@charset "utf-8";
.border,
.border-top,
.border-right,
.border-bottom,
.border-left,
.border-topbottom,
.border-rightleft,
.border-topleft,
.border-rightbottom,
.border-topright,
.border-bottomleft {
  position: relative;
}
.border::before,
.border-top::before,
.border-right::before,
.border-bottom::before,
.border-left::before,
.border-topbottom::before,
.border-topbottom::after,
.border-rightleft::before,
.border-rightleft::after,
.border-topleft::before,
.border-topleft::after,
.border-rightbottom::before,
.border-rightbottom::after,
.border-topright::before,
.border-topright::after,
.border-bottomleft::before,
.border-bottomleft::after {
  content: "\0020";
  overflow: hidden;
  position: absolute;
}
/* border
 * 因，边框是由伪元素区域遮盖在父级
 * 故，子级若有交互，需要对子级设置
 * 定位 及 z轴
 */
.border::before {
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #eaeaea;
  transform-origin: 0 0;
}
.border-top::before,
.border-bottom::before,
.border-topbottom::before,
.border-topbottom::after,
.border-topleft::before,
.border-rightbottom::after,
.border-topright::before,
.border-bottomleft::before {
  left: 0;
  width: 100%;
  height: 1px;
}
.border-right::before,
.border-left::before,
.border-rightleft::before,
.border-rightleft::after,
.border-topleft::after,
.border-rightbottom::before,
.border-topright::after,
.border-bottomleft::after {
  top: 0;
  width: 1px;
  height: 100%;
}
.border-top::before,
.border-topbottom::before,
.border-topleft::before,
.border-topright::before {
  border-top: 1px solid #eaeaea;
  transform-origin: 0 0;
}
.border-right::before,
.border-rightbottom::before,
.border-rightleft::before,
.border-topright::after {
  border-right: 1px solid #eaeaea;
  transform-origin: 100% 0;
}
.border-bottom::before,
.border-topbottom::after,
.border-rightbottom::after,
.border-bottomleft::before {
  border-bottom: 1px solid #eaeaea;
  transform-origin: 0 100%;
}
.border-left::before,
.border-topleft::after,
.border-rightleft::after,
.border-bottomleft::after {
  border-left: 1px solid #eaeaea;
  transform-origin: 0 0;
}
.border-top::before,
.border-topbottom::before,
.border-topleft::before,
.border-topright::before {
  top: 0;
}
.border-right::before,
.border-rightleft::after,
.border-rightbottom::before,
.border-topright::after {
  right: 0;
}
.border-bottom::before,
.border-topbottom::after,
.border-rightbottom::after,
.border-bottomleft::after {
  bottom: 0;
}
.border-left::before,
.border-rightleft::before,
.border-topleft::after,
.border-bottomleft::before {
  left: 0;
}
@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  /* 默认值，无需重置 */
}
@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .border::before {
    width: 200%;
    height: 200%;
    transform: scale(.5);
  }
  .border-top::before,
  .border-bottom::before,
  .border-topbottom::before,
  .border-topbottom::after,
  .border-topleft::before,
  .border-rightbottom::after,
  .border-topright::before,
  .border-bottomleft::before {
    transform: scaleY(.5);
  }
  .border-right::before,
  .border-left::before,
  .border-rightleft::before,
  .border-rightleft::after,
  .border-topleft::after,
  .border-rightbottom::before,
  .border-topright::after,
  .border-bottomleft::after {
    transform: scaleX(.5);
  }
}
@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .border::before {
    width: 300%;
    height: 300%;
    transform: scale(.33333);
  }
  .border-top::before,
  .border-bottom::before,
  .border-topbottom::before,
  .border-topbottom::after,
  .border-topleft::before,
  .border-rightbottom::after,
  .border-topright::before,
  .border-bottomleft::before {
    transform: scaleY(.33333);
  }
  .border-right::before,
  .border-left::before,
  .border-rightleft::before,
  .border-rightleft::after,
  .border-topleft::after,
  .border-rightbottom::before,
  .border-topright::after,
  .border-bottomleft::after {
    transform: scaleX(.33333);
  }
}



.activity{
    width: 100%;
    height: 100%;
    background: url("{{ app_url_packaged }}/images/match/qsyd4/wap/h-show.png")no-repeat;
    background-size: cover;
    background-position: center 0;
}
body{
    height: 100%;
}

/*首屏*/
/*介绍*/
.explain{
    width: 100%;
    height: 100%;
    background: url("{{ app_url_packaged }}/images/match/qsyd4/wap/h-explain.png") no-repeat;
    background-size: cover;
    background-position: center 0;
}
.padd-t-140{
    box-sizing: border-box;
    padding-top: 1.4em;
}
.margin-l-50{
    margin-left: 50%;
}
.padd-b-22{
    padding-bottom: 0.22em;
}
.explain-wrap{
    padding: 0 1.08em;
}
.explain-content{
    font-family:SourceHanSansCN-Light;
    color:rgba(255,255,255,.9);
    font-size: 16px;
    line-height: 1.8;
    margin-top: 5px;
}
/*奖金*/
.moeny{
    width: 100%;
    height: 100%;
    background: url("{{ app_url_packaged }}/images/match/qsyd4/wap/h-moeny.png")no-repeat;
    background-size: cover;
    background-position: center 0;
}
.color-00{
    color: #0037BF
}
.moeny-list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 .65em;
}
.width-100{
    width: 100%;
}
.width-100 img{
    width: 100%;
}
.mar-t-85{
    margin-top: .85em;
}
.mar-t-100{
    margin-top: 1em;
}
.posi-re{
    position: relative;
}
.posi-ab{
    position: absolute;
}
/*导师*/
.mentor{
}
/*报名类型*/
.apply{
    width: 100%;
    background: url("{{ app_url_packaged }}/images/match/qsyd4/wap/h-apply.png")no-repeat;
    background-size: cover;
    background-position: center 0;
    padding-top: 5em;
    padding-buttom: 1em;
    box-sizing: border-box;
}
.apply-content{
    padding: 0 0.65em;
}
.bg-f{
    width: 100%;
    background: #fff;
}
.hei-112{
    height: 1.2em;
    background: #2615aa;
    display: flex;
    flex-direction: column;
}
.padd-t-16{
    padding-top: 0.32em;
    padding-bottom: 0.12em;
}
.select-apply{

}
.select-name{
    padding-top: 0.18em;
    text-align: center;
    color: #1A58CA;
    padding-bottom: .78em;
}
.padd-b-59{
    padding-bottom: .59em;
}
.apply-text p{
    line-height: 1.5;
}
.mar-b-26{
    margin-bottom: .26em;
}
.select-maker{
    margin: auto;
    width: 3em;
}
.select-higi{
    margin: auto;
    width: 3em;
}
.border-1{
    height: .4em;
    border: 1px solid #70CAF7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-4f{
    color: #004FD3;
}
.border-1 p{
    line-height: 1.2;
}

/*.创客*/
.maker{

}
.maker-img{
    width: 100%;
    position: relative;

}
.maker-img .maker-img-bg{
    width: 100%;
}
.padd-65{
    padding:.64em .65em 0 .65em;
}
.padd-b-t{
    padding-top: .55em;
    padding-bottom: .2em;
}
.lin-hei-32{
    line-height: 1.5;
    color:rgba(255,255,255,.9);
}
.color-f7{
    color:#F7FE3C;
}
.color-f8{
    color: #F8FF3C;
}
.padd-l-80{
    padding-left: 1.2em;
}
.padd-l-62{
    padding: .19em .62em 0 .62em;
}
.pc-d{
    color:rgba(255,255,255,.9);
    padding-bottom: 0.13em;
}
.color-ea{
    color: #00EAFF;
}
.wid-258{
    width: 2.58em;
    height: .40em;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wid-258 p{
    text-align: center;
    line-height: 1.2;
}
.padd-b-80{
    padding-bottom: .8em;
}
.mar-l-65{
    margin-left: .65em;
}
.mar-t-22{
    margin-top: .22em;
}
.padd-b-67{
    padding-bottom: .67em;
}
.padd-b-33{
    padding-bottom: .33em;
}
.min-hei-500{
    margin-top: .6em;
    padding: 0 .65em;
    margin-bottom: .72em;

}
.back-f{
    height: 15em;
    background: #fff;
}
.maker-button{
    margin: 20px auto;
    width: 3.2em;
    height: .55em;
    border: 1px solid #70CAF7;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maker-button p{
    text-align: center;
    line-height: 1.5;
    color:rgba(1,103,210,1);
    font-size: 14px;
    font-family:SourceHanSansCN-Bold;
}
.maker-content{
    position: absolute;
    width:100%;
    top: 0;
}
/*高层次*/
.higi-content{
    background: #fff;
    padding: .22em .32em 0 .32em;
}
.higi-submit{
    color:rgba(0,108,208,.8);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: .23em;
}
.higi-email{
    color:rgba(0,108,208,1);
    font-size: 16px;
    margin-bottom: 0.09em;

}
.higi-stop{
    font-size: 12px;
    color:rgba(0,108,208,.7);
    margin-bottom: .55em;
}
.dis-flex-column{
    display: flex;
    flex-direction: column;
}
.dis-flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.download-content{
    color:rgba(0,157,239,1);
    font-family:SourceHanSansCN-Bold;
}
.download-content a{
    font-size: 18px;
}

.download-book{
    font-size: 18px;
    color:rgba(0,157,239,.8);
    font-family:SourceHanSansCN-Regular;
    border-bottom: 1px solid rgba(0,157,239,.9);
    line-height: 1.5;
}
.mar-l-7{
    margin-left: 0.07em;
}
.mar-b-10{
    margin-bottom: .15em;
}

.qsyd4-box {
  font-size: 50px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}


 </style>
{% endblock %}
{% block layout_js %}
<script type="text/javascript" >

    function ajax_load_more(page, type, category_id, from_to, sort, size){
        var url = '{{ app_url_wap }}/app/site/stuff/ajax_fetch_more';
        $.get(url, { page:page, type:type, category_id:category_id, from_to:from_to, sort:sort, size:size }, function(rs){
            rs.data['phenix'] = phenix.url;
            var rendered = phenix.ajax_render_result('#fetch_more_stuff_qsyd3_tpl', rs.data);
            $('#stuff_list_box').append(rendered);

        }, 'json');
    }

    var m_name = '第四届奇思甬动创客大赛报名火热开启';
    var img_url = '{{ app_url_packaged }}/images/match/qsyd4/wap/qsyd4_cover.png';
    var link = '{{ app_url_wap }}/contest/qsyd4';
    var desc_str = '';

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{ app_id }}', // 必填，公众号的唯一标识
        timestamp: {{ timestamp }}, // 必填，生成签名的时间戳
        nonceStr: '{{ wxnonceStr }}', // 必填，生成签名的随机串
        signature: '{{ wxSha1 }}',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
   });

    wx.ready(function(){
    // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
     wx.onMenuShareAppMessage({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });      

    // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareTimeline({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareQQ({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {
      }
    });

    // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
    wx.onMenuShareWeibo({
      title: m_name,
      desc: desc_str,
      link: link,
      imgUrl: img_url,
      success: function (res) {

      }
    });
  });

  .ui.page.dimmer .drawmes.modal{
      width: 256px !important;
      position: absolute;
      background: #000;
      top: 32%;
      margin-top: -10% !important;
      left: 50%;
      margin-left: -128px !important;
      box-shadow: none;
      border-radius: 8px;
  }
  .drawmes .header{
      padding: 20px 10px 20px !important;
      font-size: 16px !important;
      font-weight: 400 !important;
  }
  .drawmes .header .content p{
      margin:0;
  }

</script>
{% endblock %}

{% block jquery %}

  // 初次加载
  //ajax_load_more(1, 0, 0, 8, 7, 4);

    $('.apply1').click(function(){
      $('.ui.type_00.drawmes.modal').modal('setting', 'closable', true).modal('show');
      //setTimeout("$('.ui.type_00.drawmes.modal').modal('hide');",4000);
    })
    $('.view-list-btn').click(function(){
      var url = "{{ app_wap_contest }}/contest/qsyd_list4";
      phenix.redirect(url);
    })
{% endblock %}
{% block content %}
  <div class="qsyd4-box">
        <!--首屏-->
        <div class="activity back-size-position">
        </div>
        <!--大赛介绍-->
        <div class="explain back-size-position" id="js">
            <div class="padd-t-140">
                <div class="content-title">
                    <p class="font-20 color-f text-al padd-b-22">大赛介绍</p>
                    <p class="margin-l-50 color-f font-12">INTRODUCTION</p>
                </div>
                <div class="explain-wrap">
                    <p class="explain-content">“奇思甬动”中国创客大赛是由中共浙江省委人才办指导，中共宁波市委人才办、宁波市文改办、宁波市经信委、共青团宁波市委员会、宁波市大学科技园管委会主办，太火鸟科技、宁波启迪等协办，积极搭建集创新设计、技术支持、资源对接、产品推广、创业孵化等资源的创客创新创业生态圈，助力宁波“中国制造2025”试点示范城市建设，提升中官路创业创新大街知名度和影响力。</p>
                </div>
            </div>
        </div>
        <!--moeny-->
        <div class="moeny back-size-position posi-re">
            <!--<img class="posi-ab width-100" src="./images/h-moeny.png" alt="">-->
            <div class="padd-t-140 posi-ab">
                <div class="content-title">
                    <p class="font-20 color-00 text-al padd-b-22">奖金回馈</p>
                    <p class="margin-l-50 color-00 font-12">BONUS REWARD</p>
                </div>
                <div class="moeny-list">
                    <div class="width-100 mar-t-85">
                        <img src="{{ app_url_packaged }}/images/match/qsyd4/wap/ck-money.png" alt="">
                    </div>
                    <div class="width-100 mar-t-100">
                        <img src="{{ app_url_packaged }}/images/match/qsyd4/wap/gc-money.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--导师-->
        <div class="mentor" id="jb">
          <img style="width:100%;" src="{{ app_url_packaged }}/images/match/qsyd4/wap/mentor.jpg" />
        </div>
        <!--选择报名类型-->
        <div class="apply">

            <div class="apply-content" id="td">
               <div class="bg-f">
                    <div class="hei-112">
                        <p class="font-20 color-f8 text-al padd-t-16">报名通道</p>
                        <p class="font-12 color-f8 margin-l-50">REGISTER</p>
                    </div>
                   <div class="select-apply">
                        <p class="select-name font-14">选择对应人才组报名</p>

                       <a href="javascript:void(0);">
                           <div class="select-maker padd-b-59">
                               <div class="border-1 mar-b-26">
                                   <p class="color-4f text-al font-16">创客人才组</p>
                               </div>
                               <div class="apply-text">
                                   <p class="font-12 text-al color-4f">掌握前沿技术、产品或模式的个人<br>
                                       产品落地、变现、增值渠道</p>
                               </div>
                           </div>
                       </a>
                       <a href="javascript:void(0);">
                           <div class="select-higi padd-b-59">
                               <div class="border-1 mar-b-26">
                                   <p class="color-4f text-al font-16">高层次人才组</p>
                               </div>
                               <div class="apply-text">
                                   <p class="font-12 text-al color-4f">掌握前沿技术、产品或模型的<br>
                                       高学历创业团队与企业的落地通路</p>
                               </div>
                           </div>
                       </a>
                   </div>
               </div>
            </div>
        </div>
        <!--创客-->
        <div class="maker posi-re" id="ck">
            <div class="maker-img">
                <img class="maker-img-bg" src="{{ app_url_packaged }}/images/match/qsyd4/wap/gcc.jpg" alt="">
            </div>
            <div class="maker-content">
                <div class="padd-65">
                    <p class="font-12 lin-hei-32 padd-b-65">本次参赛创客征集主要面向智能硬件创客、工业设计师、在校大学生、社会公众；希望您有前沿创新的技术、产品或模式；原则上要求项目带头人有本科及以上学历。项目征集领域包括但不限于工业设计、文化体育、时尚创意、电子商务、智能硬件、生活美学等。参赛项目可以以个体或团体名义报名，团队参赛人数不超过5人。参赛项目通过网络平台递交，要求提供项目和团队简介、产品效果图、参赛人员等信息，截止时间7月31日。</p>
                    <p class="mar-t-22 font-20 color-f7">报名通道</p>
                    <div class="padd-l-62">
                        <p class="font-12 color-f8 padd-b-33">REGISTER</p>
                        <p class="font-14 pc-d">浏览详情请移步PC端</p>
                        <p class="font-12 color-ea padd-b-80">https://www.taihuoniao.com/contest/submit4</p>
                    </div>
                </div>
                <div class="wid-258 mar-l-65">
                    <p class="color-f font-16">创客人才组</p>
                </div>

                <!--表单-->
                <!--
                <div class="min-hei-500">
                    <div class="back-f"></div>
                </div>
                -->
                <!--按钮-->
                <div class="maker-button apply1">
                    <p>立即提交</p>
                </div>
            </div>
        </div>

        <!--高层次-->
        <div class="maker posi-re" id="gcc">
            <div class="maker-img">
                <img class="maker-img-bg" src="{{ app_url_packaged }}/images/match/qsyd4/wap/gcc.jpg" alt="">
            </div>
            <div class="maker-content">
                <div class="padd-65">
                    <p class="font-12 lin-hei-32 padd-b-65">主要面向创业项目团队或已经注册的企业；原则上要求项目带头人有海外硕士或者国内博士以上学位，有海外工作经历或者多次创业者优先考虑；有前沿创新的技术、产品或模式，有成熟团队或者已在实际运营产品；项目征集领域：新材料、智能装备、信息技术、人工智能、集成电路等。</p>
                    <p class="mar-t-22 font-20 color-f7">报名通道</p>
                    <div class="padd-l-62">
                        <p class="font-12 color-f8 padd-b-33">REGISTER</p>
                        <p class="font-14 pc-d">浏览详情请移步PC端</p>
                        <p class="font-12 color-ea padd-b-80">https://www.taihuoniao.com/contest/submit4</p>
                    </div>
                </div>
                <div class="wid-258 mar-l-65 mar-b-10">
                    <p class="color-f font-16">高层次人才组</p>
                </div>

                <!--表单-->
                <div class="min-hei-500" style="margin-bottom: 0;margin-top: 0">
                    <div class="higi-content">
                        <p class="higi-submit">报名需提交：<br>
                            参赛项目可以以个体或团体名义报名，<br>
                            团队参赛人数不超过5人。<br>
                            在网络平台下载申报书，<br>
                            把申报书和佐证材料发到以下邮箱：</p>
                        <p class="higi-email">256345795@qq.com</p>
                        <p class="higi-stop">截止时间7月31日。</p>
                        <div class="dis-flex-column padd-b-67">
                            <div class="dis-flex-start">
                              <p class="download-content"><a href="https://s3.taihuoniao.com/images/match/qsyd4/%E9%99%84%E4%BB%B6%EF%BC%9A%E9%AB%98%E5%B1%82%E6%AC%A1%E4%BA%BA%E6%89%8D%E7%BB%84%E9%A1%B9%E7%9B%AE%E7%94%B3%E6%8A%A5%E4%B9%A6.docx" target="_blank">下载申报书</a></p>
                                <img class="mar-l-7" src="{{ app_url_packaged }}/images/match/qsyd4/wap/h-download.png" alt="">
                            </div>

                            <div class="dis-flex-start">
                                <p class="download-book">高层次人才组项目申报书</p>
                                <img class="mar-l-7" src="{{ app_url_packaged }}/images/match/qsyd4/wap/h-book.png" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- 弹出层 -->
  <div class="ui dimmer modals page transition">
      <div class="ui type_00 drawmes coupled small modal transition">
          <div class="header">
              <div class="container">
                  <div class="content">
                      <p>为了保证活动的专业性，及内容完整度，请用电脑登录太火鸟官网<span style="word-wrap: break-word;">（https://www.taihuoniao.com/contest/qsyd3）</span>报名，移动端仅供浏览。</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block templates %}
{% mustache id:'fetch_more_stuff_qsyd3_tpl' tpl:'mustache_m/fetch_more_stuff_qsyd3.mustache' %}
{% endblock %}
