{%extends 'layout/mobile.html'%}
{% block title %}校园人气争霸-{% endblock %}
{% block page_css %}
<style type="text/css">
	header.ui.wap{
		display:none !important;
		opacity:0;
	}
	#mfrbird{
		margin:0;
	}
	.mmfoot{
		display:none;
	}
	* { -webkit-appearance: none; }

	html, body { height: 100%; width: 100%; margin: 0px;position:relative;overflow:hidden}
	.wrap {
	width: 640px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	}
	.fp-table {
		display: table;
		width: 100%;
	}
	.fp-tableCell {
		display: table-cell;
		width: 100%;
		height: 100%;
		position:relative;
	}
	.fp-section.fp-table{
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	
	
	.fp-slides {
	z-index: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	}
	.fp-slidesContainer {
	float: left;
	position: relative;
	}
	.fp-section.fp-table, .fp-slide.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	}
	.fp-slide, .fp-slidesContainer {
	height: 100%;
	display: block;
	}
	.fp-slide {
	float: left;
	}
	.fp-controlArrow.fp-next:before {
		font-family: "FontFlatIcons";
		font-size: 27px;
		line-height: 1;
		display: inline-block;
		content: '\e0d3';
	}
	.fp-controlArrow.fp-next{
		-webkit-animation: arrowRt 1.5s linear infinite;
		-moz-animation: arrowRt 1.5s linear infinite;
		animation: arrowRt 1.5s linear infinite;
	}
	.fp-controlArrow.fp-next {
		right: 0px;
		display: inline-block;
		opacity: .75;
		color: #FFF;
		margin: 0 .25em 0 0;
		width: 1.23em;
		height: 1em;
		font-family: FontFlatIcons;
		font-style: normal;
		line-height: 1;
		font-weight: 400;
		text-decoration: inherit;
		text-align: center;
		speak: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fp-controlArrow.fp-prev:before{
		font-family: "FontFlatIcons";
		font-size: 27px;
		line-height: 1;
		display: inline-block;
		content: '\e010';
	}
	.fp-controlArrow.fp-prev {
		-webkit-animation: arrowUp 1.5s linear infinite;
		-moz-animation: arrowUp 1.5s linear infinite;
		animation: arrowUp 1.5s linear infinite;
	}
	.fp-controlArrow.fp-prev {
		left: 0px;
		display: inline-block;
		opacity: .75;
		color: #FFF;
		margin: 0 .25em 0 0;
		width: 1.23em;
		height: 1em;
		font-family: FontFlatIcons;
		font-style: normal;
		line-height: 1;
		font-weight: 400;
		text-decoration: inherit;
		text-align: center;
		speak: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.fp-controlArrow{
		top: 50%;
		font-size: 27px;
		margin-top: -80px;
	}
	.fp-controlArrow {
		position: absolute;
		z-index: 4;
		cursor: pointer;
	}
	
	
	#music-control {
		width: 30px;
		height: 30px;
		position: fixed;
		right: 5px;
		top: 5px;
		z-index: 100000;
	}
	@-webkit-keyframes swipe {
		0%{-webkit-transform:translateY(40px);opacity:0}
		60%{-webkit-transform:translateY(12px);opacity:1}
		100%{-webkit-transform:translateY(0px);opacity:0}
	}
	@-moz-keyframes swipe {
		0%{-webkit-transform:translateY(40px);opacity:0}
		60%{-webkit-transform:translateY(12px);opacity:1}
		100%{-webkit-transform:translateY(0px);opacity:0}
	}
	@keyframes swipe {
		0%{-webkit-transform:translateY(40px);opacity:0}
		60%{-webkit-transform:translateY(12px);opacity:1}
		100%{-webkit-transform:translateY(0px);opacity:0}
	}
	.swipe { 
	    animation: swipe 1.5s linear infinite;
	    -webkit-animation: swipe 1.5s linear infinite;
	}
	.swipe { position: absolute; width: 28px; height: 16px; top: 90%; left: 50%; margin-left: -14px; }
	
	
	
	.page-1{
		background:url({{ app_url_packaged }}/images/mtac_w2.jpg);
		position:relative;
		background-repeat: no-repeat;
	}
	.page-3,.page-5{
		background:url({{ app_url_packaged }}/images/mtac_w6.jpg);
		position:relative;
		background-repeat: no-repeat;
		background-size:cover;
	}
	.page-4{
		position:relative;
	}
	.page-4 .w-2{
		text-align:center;
		width:100%;
	}
	
	
	
	
	.ui.people .six.wide.column{
		font-size:13px;
	}
	.ui.people .center.column p,.ui.position .center.column p{
		color:#456789;
	}
	.ui.people .row p{
		color:#fff;
		margin: 15px 0 8px;
	}
	.ui.people .row{
		margin-top:0;
		padding-top:0;
	}
	.ui.people .chart{
		background:#1dba73;
		height:20px;
	}
	.ui.people .row > .wide.column{
	  color: #1ab26c;
	}
	
	
	
	.ui.grid.item{
		margin-bottom:2%;
		border:1px solid rgba(0,0,0,0.2);
	}
	.ui.grid.item .ui.two.items{
		margin-left: 0.5%;
		margin-right: 0.5%;
		margin-bottom: 1%;
	}
	.ui.grid.item .eight.wide{
		font-size:16px;
		vertical-align: middle;
	}
	.ui.grid.item .eight.wide + .eight.wide{
		font-size:13px;
	}
	.ui.grid.item .eight.wide span{
		font-weight:700;
		margin-right:5px;
	}
	.ui.grid.item .eight.wide i.icon,.ui.grid.item .eight.wide i.icon,.ui.grid.item .eight.wide span{
		color:#f36;
		opacity:1;
	}
	.items .item{
		min-height:0 !important;
	}
	.ui.items .item,.ui.items .item:hover{
		box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset !important;
		-webkit-box-shadow:0 0px 0 0 rgba(0,0,0,.2) inset !important;
	}
	.ui.one.items > .item,.ui.one.items > .item:hover{
		box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset !important;
		-webkit-box-shadow:0 0px 0 0 rgba(0,0,0,.2) inset !important;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,0.1) !important;
		cursor:auto;
	}
	.ui.one.items{
		margin-left:0;
		margin-right:0;
		margin-top: 2rem;
	}
	.page-5 .three.items .item{
		border-radius:50%;
		height:100px;
		background:#1dba73;
		color:#fff;
		padding: 15px 0;
		top: 100px;
		opacity: 0;
	}
	.page-5 .items .item h3{
		margin:0;
	}
	.page-5 .row+.row {
	  margin-top: 2rem;
	}
	.ui.responsive.grid{
		margin:0 auto 1rem !important;
	}
	
	
	@media only screen and (min-width: 415px){
		.s1-1 {
		  float: right;
		  width: 97%;
		  height: 55%;
		}
		.page-1{
			background-size:cover;
			background-position: center bottom;
		}
		.s2-1{
			width:100%;
		}
		
	}
	@media only screen and (max-width: 414px){
		img,.ui.people,.ui.one.items{
			width: 65%;
			float: left;
		}
		.page-5 .row+.row{
			width: 63%;
			float: left;
		}
		.s1-1 {
		  width: 65%;
		  height: 52%;
		}
		.page-1{
			background-size: 71% 100%;
			background-position: left bottom;
		}
		.s2-1{
			width:65%;
		}
		
		
	}
	@media only screen and (max-width: 375px){
		img,.ui.people,.ui.one.items{
			width: 59%;
			float: left;
		}
		.page-5 .row+.row{
			width: 57%;
			float: left;
		}
		.s1-1{
		  width: 59%;
		  height: 59%;
		}
		.page-1{
			background-size: 63% 100%;
			background-position: left bottom;
		}
		.s2-1{
			width:59%;
		}
		
	}
	@media only screen and (max-width: 320px){
		img,.ui.people,.ui.one.items,.page-5 .row+.row{
			width:50%;
			float: left;
		}
		.s1-1{
		  width: 50%;
		  height: 50%;
		}
		.page-1{
			background-size: 53% 100%;
			background-position: left bottom;
		}
		.s2-1{
			width:50%;
		}
	}
	
	.s2-1.active{
		width:10%;
		transition-delay: 1.4s;
	}
	#college-graph .six{
	  opacity:0;
	}
	</style>
{% endblock %}

{% block layout_js %}
	<script src="https://s3.taihuoniao.com/wechat/js/audio5.min.js" type="text/javascript"></script>
	<script src="https://s3.taihuoniao.com/javascript/jquery.fullPage.min.js"></script>
	<script type="text/javascript" >
		$('.wrap').fullpage({
			'verticalCentered': true,
			'sectionsColor':['#000','#000','#000','#000','#000'],
			'css3':true,
			'slidesNavigation': true,
			afterRender: function(){
						$('.s1-1').addClass('page-fadeInDown');
			},
			afterLoad: function(anchorLink, index){
						if(index == 3){
							$('.six').delay(200).animate({
								opacity:'1'
							},1500,'easeOutExpo');
						}
						
						if(index == 5){
						  $('.page-5 .item:nth-child(1)').delay(200).animate({
						    opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(2)').delay(400).animate({
                opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
							$('.page-5 .item:nth-child(3)').delay(600).animate({
						    opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(4)').delay(800).animate({
                opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
							$('.page-5 .item:nth-child(5)').delay(1000).animate({
						    opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(6)').delay(1200).animate({
                opacity:'1',
                top:'0'
              },1500,'easeOutExpo');
           }
						
			},
			onLeave: function(index, direction){
						if(index == 3){
							$('.six').delay(200).animate({
								opacity:'0'
							},1000,'easeOutExpo');
						}
						if(index == 5){
						  $('.page-5 .item:nth-child(1)').delay(200).animate({
						    opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(2)').delay(200).animate({
                opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
							$('.page-5 .item:nth-child(3)').delay(200).animate({
						    opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(4)').delay(200).animate({
                opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
							$('.page-5 .item:nth-child(5)').delay(200).animate({
						    opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
              $('.page-5 .item:nth-child(6)').delay(200).animate({
                opacity:'0',
                top:'100px'
              },1500,'easeOutExpo');
           }
			},
		});
	</script>

{% endblock %}

{% block jquery %}
	/*bgm = new Audio5js({
      swf_path: 'https://s3.taihuoniao.com/wechat/js/audio5js/swf/audio5js.swf',
      ready: function () {
          this.load('https://s3.taihuoniao.com/wechat/js/Uncharted Worlds.mp3');
          this.play();

          this.on('canplay', function(){
              //console.log('canplay');
          });   

          this.on('ended', function(){
              bgm.play();
          })           
      }
  });

  $('#music-control').click(function(){
      bgm.playPause();
  });*/

	//获取大学人气排行
  $.get("{{ app_url_wap }}/contest/ajax_fetch_top_college", {id:1});

  //ajax获取省份排行 
  $.get("{{ app_url_wap }}/contest/ajax_fetch_top_province", {type:1}, function(result){
    var result = eval('(' + result + ')');
    if(result.success){
      $.each(result.data, function (i, item) {
        var html = '';
				html +=	'<div class="item"><i class="flat home icon"></i><h3>'+ item.match2_love_count +'<br>'+ item.name +'</h3></div>';
        $('#province-box').append(html);
      });
    }
  });

  //ajax查看更多
  $('#college-more').click(function(){
    page = page+1;
    ajax_load_colleges(page,1);
  
  });

	//ajax加载大学排行列表
  ajax_load_colleges(page,1);

{% endblock %}
{% block content %}
<div style="display:none;"><img src="https://s3.taihuoniao.com/images/rank_fen.png"></div>
<!--<div id="music-control"><img src="https://s3.taihuoniao.com/images/music.png" width="29" height="29" /></div>-->
<div class="wrap">
	<div class="section page-1">
		<img src="{{ app_url_packaged }}/images/mtac_w4.png" class="s1-1">
		<!--<img src="https://s3.taihuoniao.com/images/mtac_w.jpg" height="100%">
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>-->
	</div>
	
	<div class="section page-2">
		<img src="https://s3.taihuoniao.com/images/mtac_w1.jpg" height="100%" class="s2-1">
		<!--<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>-->
	</div>
	
	<div class="section page-3">
		<div class="ui responsive grid">
			<div class="center aligned column">
				<div class="row">
					<img src="{{ app_url_packaged }}/images/mtac_w5.png" class="s3-1">
				</div>
			</div>
		</div>
		<section class="ui people big block">
			<div class="ui responsive grid">
		
				<div class="row" id="college-graph">
          <!--ajax load college-graph-->
			  </div>
				
			</div>
		</section>
		
	</div>
	
	<div class="section page-4">
		<div class="ui responsive grid">
			<div class="center aligned column">
				<div class="row">
					<img src="{{ app_url_packaged }}/images/mtac_w7.png">
				</div>
			</div>
		</div>
		
		<!--college list -->
    {% for d in colleges %}
		<div class="slide">
			<div class="ui responsive grid">
				<div class="row">
					<div class="ui one items">
					
					<div class="item ui grid">
						<div class="eight wide column">		
							<span>|</span>{{ d.name }}
							
						</div>
						<div class="eight wide column">		
							<i class="fa-trophy icon"></i>排名{{ d.top_sort }}
							<i class="fa-long-arrow-up icon"></i>人气{{ d.match2_love_count }}
						</div>
						<div class="ui two items">
          {% if d.stuffs %}
            {% for s in d.stuffs %}
							<div class="item">
								<div class="image">
									<a href="{{ s.wap_view_url }}">
										<img src="{{ s.cover.thumbnails.small.view_url }}" width="100%">			</a>
								</div>
							</div>
            {% endfor %}
          {% endif %}
						</div>
					</div>

					</div>
				</div>
			</div>
		</div>
    {% endfor %}
	
			
	</div>
	
	<div class="section page-5">
		<div class="ui responsive grid">
			<div class="center aligned column">
				<div class="row">
					<img src="{{ app_url_packaged }}/images/mtac_w8.png">
				</div>
				
				<div class="row">
				
					<div class="ui center aligned column">
					  <div class="ui three items" id="province-box">
					    <!--ajax province sort-->
					  </div>
					</div>
				
				</div>
				
			</div>
		</div>
		
	</div>
	
</div>
{%endblock%}

	
	
	
	
	
	
	
