{%extends 'layout/column.html'%}
{% block title %}创意投票-{% endblock %}
{% block page_css %}
<style type="text/css">
	.ui.tophead {
	    background: url("{{ app_url_packaged }}/images/bg-banner.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
	}
	#votelist {
		margin: 1.5em auto 2em;
	}
	#votelist .ui.items {
		margin-top: 1.5em;
	}
	#votelist .vote {
		position: relative;
		padding-bottom: 0.5rem;
	}
	#votelist .ui.timer.list .item {
		text-align: center;
	}
	#votelist .ui.timer.list .item:hover {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2) inset;
	}
	#votelist .ui.timer.list .green.item {
		color: #58CB73;
	}
	#votelist .ui.timer.list .green.item .unit {
		color: #58CB73;
	}
	#votelist .ui.timer.list .number {
		margin-bottom: 0.6em;
	}
	#votelist .ui.timer.list .unit {
		font-size: 0.875em;
		color: rgba(0,0,0,0.5);
	}
	#votelist .vote .progress {
		position: absolute;
	    right: 0;
		text-align: right;
	    top: 0;
	    z-index: 9;
	}
	#votelist .vote .progress .count {
		display: block;
		font-size: 1.15em;
	}
	#votelist .vote .progress .description {
		font-size: 0.875em;
		color: rgba(0,0,0,0.5);
	}
</style>
{% endblock %}

{% block jquery %}
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="number">%D</div><div class="unit">天</div></div><div class="item"><div class="number">%H</div><div class="unit">时</div></div> <div class="item"><div class="number">%M</div><div class="unit">分</div></div><div class="green item"><div class="number">%S</div><div class="unit">秒</div></div>'));
		});
	});
{% endblock %}

{% block content %}
<div class="ui tophead">
	<div class="masthead">
		<div class="masthead-cover transparent">
			<div class="ui responsive head grid">
				<div class="row">
					<div class="nine wide column">
						<div class="introduction">
							<h2 class="ui header">
							  	<div class="content">
							    	提交你的创意
							    	<div class="sub header">把你天马行空得创意交给我们，我们一起将它变成现实.</div>
							  	</div>
							</h2>
							<div class="actions">
								<a href="{{ app_url_fever }}/submit?step=1" class="ui active magenta btn-4 btn-4c icon-arrow-right btn">
									提交创意
								</a>
								<a href="{{ app_url_helper }}/topic" class="ui white btn-4 btn-4c icon-arrow-right btn">
									查看帮助
								</a>
							</div>
						</div>
					</div>
					<div class="seven wide column"></div>
				</div>
			</div>
		</div>
	</div>
</div>
	
<div id="votelist">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				
				<div class="ui top attached novpad header">
					<div class="ui two column grid">
						<div class="column">
							<div class="ui divided horizontal list">
								<a class="ui {{ css_type_voting }} item link" href="{{ links.voting_url }}">正在投票</a>
								<a class="ui {{ css_type_finishing }} item link" href="{{ links.finishing_url }}">即将结束</a>
							</div>
						</div>
						<div class="right aligned column">
							<a class="ui showbox link" href="#advanced-filter-topic">
								<i class="list layout icon"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="ui bottom segment attached" id="advanced-filter-topic">
					<div class="row">
						<div class="sixteen wide column">
							<div class="ui horizontal list">
								<label class="item">分类：</label>
								{% category_list var:'category' only_open:only_open domain:domain show_all:1 current:category_id %}
								{% for cat in category.rows %}
							  	<a class="ui {{ cat.active }} item link" href="{{ cat.view_url }}">{{ cat.title }}</a>
								{% endfor %}
							</div>
						</div>
						<div class="sixteen wide column">
							<div class="ui horizontal list">
								<label class="item">排序：</label>
							  	<a class="ui {{ css_sort_latest }} item link" href="{{ links.sort_latest_url }}">最新</a>
							  	<a class="ui {{ css_sort_votest }} item link" href="{{ links.sort_votest_url }}">投票</a>
							  	<a class="ui {{ css_sort_comment }} item link" href="{{ links.sort_comment_url }}">评论</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="ui three items">
					{% product_list var:'list' page:page category_id:category_id stage:1 only_approved:1 %}
					{% for product in list.rows %}
						{% include "block/product_vote_item.html" %}
					{% endfor %}
				</div>
				
				{% if list.total_page %}
				<div class="ui pagination">
					{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
					{%include 'block/pager.html'%}
				</div>
				{% endif %}
				
			</div>
		</div>
	</div><!--end responsive grid-->
</div>
{% endblock %}