{%extends 'layout/sns.html'%}
{% block title %}提交创意-{% endblock %}
{% block page_css %}
<style class="text/css">


</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$('.editor').each(function() {
	    var $this = $(this);
		var params = {
            'placeholder': $(this).attr('placeholder')
        };

	    $this.wrap('<div class="editable-wrapper"/>');
	    var $w = $(this).parent();
	    $w.prepend('<div class="editable" data-placeholder="'+$this.attr('placeholder')+'">' + $this.val()+'</div>');
	    $this.hide();
		
	    var editor = new MediumEditor('.editable', params);
	});
	
	$('#product-content-form').form({
		content: {
			identifier  : 'content',
			rules: [
				{
					type   : 'empty',
					prompt : '详细内容不能为空'
				}
			]
		}
	}, {
		inline : true,
		beforeValid: function(){
			$('.editable-wrapper').each(function(){
		        $(this)
					.find('textarea')
					.val($(this).find('.editable').html());
		    });
		},
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_message(data.message, event.target);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});
{% endblock %}

{% block content %}
<div class="social">
	<div class="ui responsive grid">
		<div class="row">
			<div class="ui column">
				<div class="ui steps">
				  	<div class="ui disabled step">
				      	基本信息
				  	</div>
				  	<div class="ui active step">
				      	详情描述
				  	</div>
				  	<div class="ui disabled step">
				      	上传图片 & 视频
				  	</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="eleven wide column">
				<form action="{{ app_url_fever }}/save" class="ui form" method="post" id="product-content-form">
					<input type="hidden" name="step" value="2" />
					<input type="hidden" name="_id" value="{{ id }}" id="product_id" />
					
					
					<div class="field">
						<label>创意详细说明</label>
						<textarea name="content" class="editor" placeholder="详细内容">
							{% if product.content %}
							{{ product.content }}
							{% else %}
							<h3>关于我</h3>

							<p>向支持者介绍一下你自己，以及你与所发起的项目之间的背景。这样有助于拉近你与支持者之间的距离。建议不超过100字。</p>


							<h3>产品要解决什么问题</h3>

							<p>图文并茂的方式，描述下产品创意的灵感，要帮助消费者解决什么样的问题。</p>


							<h3>产品怎样去解决问题</h3>

							<p>详细的产品特点，功能介绍，帮助大家去理解，此款产品消费者如何使用。</p>
							{% endif %}
						</textarea>
					</div>
					
					
					
					<div class="ui grid">
						<div class="left floated eight wide column">
							<a href="{{ app_url_fever }}/submit?step=1&id={{ product._id }}" class="ui large labeled icon gray button">
								上一步<i class="flat play_back icon"></i>
							</a>
						</div>
						<div class="right floated aligned eight wide column">
							<div class="ui right large icon labeled magenta submit button">
								下一步<i class="flat play icon"></i>
							</div>
						</div>
					</div>
										
				</form>
			</div>
			<div class="five wide column">
				<h2>Q&A</h2>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}