{%extends 'layout/sns.html'%}
{% block title %}提交创意-{% endblock %}
{% block page_css %}
<style type="text/css">
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$('#product-basic-form').form({
		title: {
			identifier  : 'title',
			rules: [
				{
					type   : 'empty',
					prompt : '标题不能为空'
				},
				{
					type   : 'maxLength[30]',
					prompt : '标题最多30个字符'
				}
			]
		}
	}, {
		inline : true,
		beforeValid: function(){
			$('.editable-wrapper').each(function(){
		        $(this)
					.find('textarea')
					.val($(this).find('.editable').html());
		    });
		},
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_message(data.message, event.target);
					}else{
						phenix.redirect(data.redirect_url);
					}
				}
			});
		}
	});
	
	// 选择分类
	$('body').on('click', '.category.button', function(){
		var id = $(this).attr('data-value');
		if ($(this).hasClass('active')){
			$(this)
				.removeClass('active');
				
			$('#product-category').val('');
		}else{
			$(this)
				.siblings('.category.button').removeClass('active')
				.end()
				.addClass('active');
			$('#product-category').val(id);
		}
		
        return false;
	});
	
{% endblock %}

{% block content %}
<div class="ui social show">
	<div class="ui responsive grid">
		
		<div class="row">
			<div class="ui center aligned column">
				<div class="ui three steps">
				  	<div class="ui active step">
				      	<span class="number">1</span>
						<span class="title">基本信息</span>
				  	</div>
				  	<div class="ui step">
				      	<span class="middle number">2</span>
						<span class="title">填写详细内容</span>
				  	</div>
				  	<div class="ui step">
				    	<span class="number">3</span>
						<span class="title">上传图片&视频</span>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="eleven wide column">
				<h3>提交创意</h3>
				<form action="{{ app_url_fever }}/save" class="ui form" method="post" id="product-basic-form">
					<input type="hidden" name="step" value="1" />
					<input type="hidden" name="_id" value="{{ product._id }}" id="product_id" />
					<div class="field">
						<label>标题</label>
					  	<input type="text" name="title" value="{{ product.title }}" />
						<div class="description">给你的创意起个名字</div>
					</div>
					<div class="field">
						<label>创意简介</label>
					  	<textarea name="summary">{{ product.summary }}</textarea>
						<div class="description">给你30秒的时间，你该如何描述你的创意</div>
					</div>
					<div class="field">
						<label>类别</label>
						<input type="hidden" name="category_id" value="{{ product.category_id }}" id="product-category" />
						{% category_list var:'category' only_open:1 domain:domain current:product.category_id %}
						{% for cat in category.rows %}
						<a class="ui {{ cat.active }} magenta category icon button" data-value="{{ cat._id }}">
							<i class="flat {{ cat.name }} icon"></i> 
							{{ cat.title }}
						</a>
						{% endfor %}
					</div>
					<div class="field">
						<label>标签</label>
					  	<input type="text" name="tags" value="{{ product.tags_s }}" />
					</div>
					
					<div class="inline field">
						<div class="ui checkbox">
				          	<input type="checkbox" name="terms">
				          	<label>授权</label>
				        </div>
					</div>
					
					<div class="ui grid">
						<div class="left floated eight wide column">
							
						</div>
						<div class="right floated aligned eight wide column">
							<div class="ui large gray button">
								取消
							</div>
							<div class="ui large magenta submit button">
								下一步
							</div>
						</div>
					</div>
					
				</form>
			</div>
			<div class="five wide column">
				<h2 class="ui header">Q&A</h2>
				
				
			</div>
		</div>
	</div>
</div>
{% endblock %}