{%extends 'layout/mobile.html'%}
{% block title %}蛋年 -{% endblock %}
{% block page_css %}
<style type="text/css">
	header.ui.wap{
		display:none !important;
		opacity:0;
	}
	#mfrbird{
		margin:0;
	}
	.mmfoot{
		display:none;
	}
	* { -webkit-appearance: none; }
	
	html, body { height: 100%; width: 100%; margin: 0px;position:relative;overflow:hidden}
	.section{max-width: 720px;height:100%;}
	img{ width: 100%;}
	.wrap {
	width: 640px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	}
	
	#pp-nav{display:none;}
	
	#s1-1{
		opacity: 1;
		z-index:11;
		position: absolute;
		top: 27%;
		left: 50%;
		margin-left: -172px;
	}
	#s1-1 img{
		width:80%;
	}
	#s1-3 {
	opacity: 1;
	position: absolute;
	top: 3%;
	 left: 0%; 
	}
	.page-bounceIn{
		-webkit-animation:bounceIn 1s .2s ease both;
		-moz-animation:bounceIn 1s .2s ease both;
		animation:bounceIn 1s .2s ease both;
	}
	@-webkit-keyframes bounceIn{
		0% 		{opacity:0;-webkit-transform:scale(.3)}
		50% 	{opacity:1;-webkit-transform:scale(1.05)}
		70% 	{-webkit-transform:scale(.9)}
		100% 	{opacity:1;-webkit-transform:scale(1)}
	}
	@-moz-keyframes bounceIn{
		0% 		{opacity:0;-moz-transform:scale(.3)}
		50% 	{opacity:1;-moz-transform:scale(1.05)}
		70% 	{-moz-transform:scale(.9)}
		100% 	{opacity:1;-moz-transform:scale(1)}
	}
	@keyframes bounceIn{
		0% 		{opacity:0;transform:scale(.3)}
		50% 	{opacity:1;transform:scale(1.05)}
		70% 	{transform:scale(.9)}
		100% 	{opacity:1;transform:scale(1)}
	}
	
	
	.page-fadeInDown {
	-webkit-animation: fadeInDown 1s ease both;
	-moz-animation: fadeInDown 1s ease both;
	animation: fadeInDown 1s ease both;
	}
	
	@-webkit-keyframes fadeInDown{
		0% 		{opacity:0;-webkit-transform:translateY(-40px)}
		100% 	{opacity:1;-webkit-transform:translateY(0)}
	}
	@-moz-keyframes fadeInDown{
		0% 		{opacity:0;-moz-transform:translateY(-40px)}
		100% 	{opacity:1;-moz-transform:translateY(0)}
	}
	@keyframes fadeInDown{
		0% 		{opacity:0;-moz-transform:translateY(-40px)}
		100% 	{opacity:1;-moz-transform:translateY(0)}
	}
	
	@media only screen and (max-width: 768px){
	.wrap {
	width: 100%;
	}
}
	@media only screen and (min-width: 768px){
		.img{
			width:768px;
		}
	}
	
	
	
</style>
{% endblock %}

{% block layout_js %}
	<script src="{{ app_url_packaged }}/javascript/jquery.fullPage.js"></script>
	<script type="text/javascript" >
		$('.wrap').fullpage({
			'sectionsColor':['#fff','#fff','#fff','#fff','#fff','#fff'],
			'anchors': ['s1', 's2', 's3', 's4'],
			'navigation': false,
			'css3':true,
			afterRender: function(){
						$('#s1-1').addClass('.page-bounceIn');
			},




		});
	
	
	</script>
	
{%endblock%}
{% block jquery %}
	 $('#.warp').fullpage({
		'sectionsColor':['#fff','#fff','#fff','#fff','#fff','#fff'],
		anchors: ['s1', 's2', 's3', 's4'],
		'navigation': false,
		'verticalCentered':true,
		'css3':true,
		afterRender: function(){
					$('#s1-1').addClass('.page-bounceIn');
		},
		
		
		
		
		});
{% endblock %}
{% block content %}
<!--<div id="J-loading">
	<p>正在努力为您加载...</p>
</div>-->
<div class="wrap">
	<!--第一幕-->

	<div class="section section1" data-anchor="s1" style="background-image: url(http://frstatic.qiniudn.com/images/egg/egg_bg.jpg);">
			<!--<div id="s1-star"><img src="http://wzj.joels.cc/Xh/yhq/img/s1-star.jpg"></div>-->
			<div id="s1-1" class="page-bounceIn"><img src="http://frstatic.qiniudn.com/images/egg/egg_1.png"></div>
			<div id="s1-3" class="page-fadeInDown"><img src="http://frstatic.qiniudn.com/images/egg/egg_f.png"></div>
	</div>
	<!--第二幕-->
	<div class="section" data-anchor="s2">
		<div class="" style="background-image: url({{ app_url_packaged }}/images/eg_h002.jpg);" id="s2-bg">
			
		</div>
	</div>
	
</div>
	<!--第三幕-->
	<!--<div class="section" data-anchor="s3">
		<div class="wrap" style="background-image: url({{ app_url_packaged }}/images/eg_h003.jpg);" id="s3-bg">
			
		</div>
	</div>-->
	<!--第四幕-->
	<!--<div class="section" id="s4">
		<div class="wrap" style="background-image: url({{ app_url_packaged }}/images/eg_h04.jpg);" id="s4-bg">
			
		</div>
	</div>-->
	<!--第五幕-->
	<!--<div class="section" id="s5">
		<div class="wrap" style="background-image: url({{ app_url_packaged }}/images/eg_h005.jpg);" id="s5-bg">
			
			
		</div>
	</div>-->
	<!--第六幕-->
	<!--<div class="section" id="s6">
		<div class="wrap" style="background-image: url(http://wzj.joels.cc/Xh/yhq/img/wrap66.jpg);" id="s6-bg">
			
		</div>
	</div>-->
	<!--第七幕-->
	<!--<div class="section" id="s7">
		<div class="wrap" style="background-image: url(http://wzj.joels.cc/Xh/yhq/img/wrap77.jpg);" id="s7-bg">
			
		</div>
	</div>-->







{% endblock %}