{%extends 'layout/mobile.html'%}
{% block title %}{% endblock %}
{% block page_css %}
<style type="text/css">
	header.ui.wap{
		display:none !important;
		opacity:0;
	}
	#mfrbird{
		margin:0;
	}
	.mmfoot{
		display:none;
	}
	* { -webkit-appearance: none; }

	html, body { height: 100%; width: 100%; margin: 0px;position:relative;overflow:hidden}
	.wrap {
	width: 640px;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
	}
	@media only screen and (min-width: 561px){
		.menu{
			height: 200px;
		}
		.w-2{
			width:380px;
		}
		.s3 .w-2{
			margin-right:100px;
		}
		img.s1-1{
			width: 457px;
			margin-top: -167px;
			margin-left: -181.5px;
		}
	}
	@media only screen and (max-width: 560px){
	.wrap {
	width: 100%;
	}
	.menu{
		height: 200px;
	}
	.w-2{
		width:380px;
	}
	img.s1-1{
		width: 302px;
		margin-top: -202px;
		margin-left: -123.5px;
	}
}

	
	@media only screen and (max-width: 414px){
		.menu{
			height: 120px;
		}
		img.s1-1{
			width: 302px;
			margin-top: -202px;
			margin-left: -117.5px;
		}
		.w-2{
			width:310px;
		}
	}
	@media only screen and (max-width: 375px){
		.menu{
			height: 120px;
		}
	img.s1-1{
		width: 275px;
		margin-top: -160px;
		margin-left: -117.5px;
	}
	.w-2{
		width:280px;
	}
	.s3 .w-2{
		width:310px;
	}
}
@media only screen and (max-width: 320px){
	img.s1-1{
		width: 249px;
		margin-top: -160px;
		margin-left: -117.5px;
	}
	.menu{
		height: 85px;
	}
	.s3 .w-2{
		width:310px;
	}
}
	
.section.s1{
	background: url(https://s3.taihuoniao.com/images/egg/egg_bg.jpg) no-repeat;
	background-size:cover;
}
.section.s2{
	background: url(https://s3.taihuoniao.com/images/egg/egg_2.jpg) no-repeat;
	background-size:cover;
}
.section.s3,.section.s6,.section.s7{
	background: url(https://s3.taihuoniao.com/images/egg/egg_3.jpg) no-repeat;
	background-size:cover;
	position:relative;
}
.section.s4{
	background: url(https://s3.taihuoniao.com/images/egg/egg_4.jpg) no-repeat;
	background-size:cover;
	position:relative;
}
.section.s5{
	background: url(https://s3.taihuoniao.com/images/egg/egg_5.jpg) no-repeat;
}


img.s1-1 {
	position: absolute;
	opacity: 1;
	top: 50%;
	left: 50%;
	z-index:1;
}
.active .page-bounceIn{
	-webkit-animation:bounceIn 1s .2s ease both;
	-moz-animation:bounceIn 1s .2s ease both;
	animation:bounceIn 1s .2s ease both;
}
@-webkit-keyframes bounceIn{
	0% 		{opacity:0;-webkit-transform:scale(.3)}
	50% 	{opacity:1;-webkit-transform:scale(1.05)}
	70% 	{-webkit-transform:scale(.9)}
	100% 	{opacity:1;-webkit-transform:scale(1)}
}
@-moz-keyframes bounceIn{
	0% 		{opacity:0;-moz-transform:scale(.3)}
	50% 	{opacity:1;-moz-transform:scale(1.05)}
	70% 	{-moz-transform:scale(.9)}
	100% 	{opacity:1;-moz-transform:scale(1)}
}
@keyframes bounceIn{
	0% 		{opacity:0;transform:scale(.3)}
	50% 	{opacity:1;transform:scale(1.05)}
	70% 	{transform:scale(.9)}
	100% 	{opacity:1;transform:scale(1)}
}


.active .page-fadeInDown {
-webkit-animation: fadeInDown 1s ease both;
-moz-animation: fadeInDown 1s ease both;
animation: fadeInDown 1s ease both;
}

@-webkit-keyframes fadeInDown{
	0% 		{opacity:0;-webkit-transform:translateY(-40px)}
	100% 	{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
	0% 		{opacity:0;-moz-transform:translateY(-40px)}
	100% 	{opacity:1;-moz-transform:translateY(0)}
}
@keyframes fadeInDown{
	0% 		{opacity:0;-moz-transform:translateY(-40px)}
	100% 	{opacity:1;-moz-transform:translateY(0)}
}


.fp-viewing-firstPage {
height: 100%;
position: relative;
}
.fp-table {
display: table;
width: 100%;
}
.fp-tableCell {
display: table-cell;
width: 100%;
height: 100%;
position:relative;
}


.menu{
	opacity: 0;
	margin-left: -300px;
	width:100%;
	background-size:100%;
	transition: all .2s;
}
.menu.p2{
	background:url(https://s3.taihuoniao.com/images/egg/menu1.png) no-repeat;
	background-size: 100%;
}
.menu.p3{
	background:url(https://s3.taihuoniao.com/images/egg/menu2.png) no-repeat;
	background-size: 100%;
}
.menu.p4{
	background:url(https://s3.taihuoniao.com/images/egg/menu3.png) no-repeat;
	background-size: 100%;
}
.menu.p5{
	background:url(https://s3.taihuoniao.com/images/egg/menu4.png) no-repeat;
	background-size: 100%;
}
.menu.p6{
	background:url(https://s3.taihuoniao.com/images/egg/menu5.png) no-repeat;
	background-size: 100%;
}
.active .menu{
	margin-left:0;
	opacity: 1;
	transition-delay: 0.7s;
}
.s2-2{
	position: relative;
	transform: rotate(360deg);
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg);
	opacity: 0;
	transition: all .3s;
}
.active .s2-2{
	transform: rotate(-360deg);
	-ms-transform:rotate(-360deg); 	/* IE 9 */
	-moz-transform:rotate(-360deg); 	/* Firefox */
	-webkit-transform:rotate(-360deg); /* Safari 和 Chrome */
	-o-transform:rotate(-360deg);
	opacity: 1;
	transition-delay: 0.7s;
}
.s2-3{
	position: relative;
	top:0px;
	right:0%;
	margin-right:-100px;
	opacity: 0;
	transform:scale(0);
	-ms-transform:scale(0); 	/* IE 9 */
	-moz-transform:scale(0); 	/* Firefox */
	-webkit-transform:scale(0); /* Safari 和 Chrome */
	-o-transform:scale(0);
	transition: all .7s;
}
.active .s2-3{
	margin-top: 0px;
	margin-left: 0;
	opacity: 1;
	transform: scale(1);
	-ms-transform:scale(1); 	/* IE 9 */
	-moz-transform:scale(1); 	/* Firefox */
	-webkit-transform:scale(1); /* Safari 和 Chrome */
	-o-transform:scale(1);
	transition-delay: .9s;
}
.s2-4{
	position:relative;
	opacity: 0;
	transition: all .7s;
	margin-bottom: -300px;
}
.active .s2-4{
	opacity: 1;
	transition-delay: 1.4s;
	margin-bottom: 0;
}
.s2-5{
	position: absolute;
	left:0px;
	opacity: 0;
	transition: all .7s;
}
.active .s2-5{
	right:50%;
	margin-right:-100px;
	opacity: 1;
	transition-delay: 0.7s;
}
.s2 img,.s3 img{
	width:80%;
}

.w-2{
	margin:0 auto;
	height:auto;
}
.s3 .w-2,.s4 .w-2{
	text-align:center;
	position:relative;
}
.s3 .w-2 img{
	position:absolute;
	right: 50%;
	margin-right: -117px;
}
.s3-1,.s3-2,.s3-3,.s3-4,.s3-5{
	transform:scale(0);
	-ms-transform:scale(0); 	/* IE 9 */
	-moz-transform:scale(0); 	/* Firefox */
	-webkit-transform:scale(0); /* Safari 和 Chrome */
	-o-transform:scale(0);
}
.active .s3-1,.active .s3-2,.active .s3-3,.active .s3-4,.active .s3-5{
	transform:scale(1);
	-ms-transform:scale(1); 	/* IE 9 */
	-moz-transform:scale(1); 	/* Firefox */
	-webkit-transform:scale(1); /* Safari 和 Chrome */
	-o-transform:scale(1);
}
.s3-1{
	opacity:0;
	transition: all .7s;
}
.active .s3-1{
	opacity:1;
	transition-delay: 0.3s;
}
.s3-2{
	opacity:0;
	transition: all .7s;
}
.active .s3-2{
	opacity:1;
	transition-delay: 0.6s;
}
.s3-3{
	opacity:0;
	transition: all .7s;
}
.active .s3-3{
	opacity:1;
	transition-delay: 0.9s;
}
.s3-4{
	opacity:0;
	transition: all .7s;
}
.active .s3-4{
	opacity:1;
	transition-delay: 1.2s;
}
.s3-5{
	opacity:0;
	transition: all .7s;
}
.active .s3-5{
	opacity:1;
	transition-delay: 1.5s;
}

.s4 .w-2{
	text-align:center;
	width:100%;
}
.slide h3.ui.header{
	margin: 1em 0 0rem;
}
.slide h3,.slide p{
	margin:0;
	color:#fff;
}


.fp-slides {
z-index: 1;
height: 100%;
overflow: hidden;
position: relative;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.fp-slidesContainer {
float: left;
position: relative;
}
.fp-section.fp-table, .fp-slide.fp-table {
display: table;
table-layout: fixed;
width: 100%;
}
.fp-slide, .fp-slidesContainer {
height: 100%;
display: block;
}
.fp-slide {
float: left;
}

.fp-controlArrow.fp-next:before {
	font-family: "FontFlatIcons";
	font-size: 27px;
	line-height: 1;
	display: inline-block;
	content: '\e0d3';
}
.s6 .fp-controlArrow.fp-next{
	-webkit-animation: arrowRt 1.5s linear infinite;
	-moz-animation: arrowRt 1.5s linear infinite;
	animation: arrowRt 1.5s linear infinite;
}
.fp-controlArrow.fp-next {
	right: 0px;
	display: inline-block;
	opacity: .75;
	color: #FFF;
	margin: 0 .25em 0 0;
	width: 1.23em;
	height: 1em;
	font-family: FontFlatIcons;
	font-style: normal;
	line-height: 1;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fp-controlArrow.fp-prev:before{
	font-family: "FontFlatIcons";
	font-size: 27px;
	line-height: 1;
	display: inline-block;
	content: '\e010';
}
.s6 .fp-controlArrow.fp-prev {
	-webkit-animation: arrowUp 1.5s linear infinite;
	-moz-animation: arrowUp 1.5s linear infinite;
	animation: arrowUp 1.5s linear infinite;
}
.fp-controlArrow.fp-prev {
	left: 0px;
	display: inline-block;
	opacity: .75;
	color: #FFF;
	margin: 0 .25em 0 0;
	width: 1.23em;
	height: 1em;
	font-family: FontFlatIcons;
	font-style: normal;
	line-height: 1;
	font-weight: 400;
	text-decoration: inherit;
	text-align: center;
	speak: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.s4 .fp-controlArrow{
	top: 50%;
	font-size: 27px;
	margin-top: -80px;
}
.fp-controlArrow {
position: absolute;
z-index: 4;

cursor: pointer;

}
@-webkit-keyframes arrowRt {
	0%{-webkit-transform:translateX(-40px);opacity:0}
	60%{-webkit-transform:translateX(-12px);opacity:1}
	100%{-webkit-transform:translateX(-0px);opacity:0}
}
@-moz-keyframes arrowRt {
	0%{-webkit-transform:translateX(-40px);opacity:0}
	60%{-webkit-transform:translateX(-12px);opacity:1}
	100%{-webkit-transform:translateX(-0px);opacity:0}
}
@keyframes arrowRt {
	0%{-webkit-transform:translateX(-40px);opacity:0}
	60%{-webkit-transform:translateX(-12px);opacity:1}
	100%{-webkit-transform:translateX(-0px);opacity:0}
}

@-webkit-keyframes arrowUp {
	0%{-webkit-transform:translateX(40px);opacity:0}
	60%{-webkit-transform:translateX(12px);opacity:1}
	100%{-webkit-transform:translateX(0px);opacity:0}
}
@-moz-keyframes arrowUp {
	0%{-webkit-transform:translateX(40px);opacity:0}
	60%{-webkit-transform:translateX(12px);opacity:1}
	100%{-webkit-transform:translateX(0px);opacity:0}
}
@keyframes arrowUp {
	0%{-webkit-transform:translateX(40px);opacity:0}
	60%{-webkit-transform:translateX(12px);opacity:1}
	100%{-webkit-transform:translateX(0px);opacity:0}
}

.s6 .fp-controlArrow {
	top: 50%;
	margin-top: -50px;
}
.s5-1{
	opacity:0;
	transition: all .7s;
}
.active .s5-1{
	opacity:1;
	transition-delay: .2s;
}
.s5-2{
	opacity:0;
	transition: all .4s;
	margin-bottom:-400px;
}
.active .s5-2{
	opacity:1;
	transition-delay: .4s;
	margin-bottom:0;
}
.s5-3{
	opacity:0;
	transition: all 1s;
	margin-bottom:-400px;
}
.active .s5-3{
	opacity:1;
	transition-delay: .6s;
	margin-bottom:0;
}
.s5 .w-2 img,.s7 .w-2 img{
	width:80%;
}
.s7 .w-2{
	margin-top: -20px;
	padding-top: 50%;
	text-align: center;
}
.s7-2{
	opacity: 0;
	transform: scale(0);
	transition: all .5s;
}
.active .s7-2{
	opacity: 1;
	transition-delay: 1.5s;
	transform: scale(1);
}
img.s7-4, img.s7-g, img.s7-11 {
	display: inline-block;
	width: 25% !important;
}
.s7-4{
	transform: rotate(360deg);
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg);
	opacity: 0;
	transition: all .3s;
	margin-left:-60%;
}
.active .s7-4{
	transform: rotate(-360deg);
	-ms-transform:rotate(-360deg); 	/* IE 9 */
	-moz-transform:rotate(-360deg); 	/* Firefox */
	-webkit-transform:rotate(-360deg); /* Safari 和 Chrome */
	-o-transform:rotate(-360deg);
	opacity: 1;
	transition-delay: .3s;
	margin-left:0;
}
.s7-11{
	transform: rotate(-360deg);
	-ms-transform:rotate(-360deg); 	/* IE 9 */
	-moz-transform:rotate(-360deg); 	/* Firefox */
	-webkit-transform:rotate(-360deg); /* Safari 和 Chrome */
	-o-transform:rotate(-360deg);
	transition: all .6s;
	opacity: 0;
	margin-right:-60%;
}
.active .s7-11{
	transform: rotate(360deg);
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg);
	transition-delay: .6s;
	margin-right:0;
	opacity: 1;
}
.s7-g{
	opacity: 0;
	transition: all .3s;
	transform: scale(0);
}
.active .s7-g{
	opacity: 1;
	transition-delay: 1.2s;
	transform: scale(1);
}
.s7-login{
	transition: all .6s;
	opacity: 0;
}
.active .s7-login{
	transition-delay: 1.8s;
	opacity: 1;
}




#music-control {
	width: 30px;
	height: 30px;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 100000;
}

.slide-list{
	width:100%;
	margin-top: -16px;
}


@-webkit-keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
@-moz-keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
@keyframes swipe {
	0%{-webkit-transform:translateY(40px);opacity:0}
	60%{-webkit-transform:translateY(12px);opacity:1}
	100%{-webkit-transform:translateY(0px);opacity:0}
}
/*@keyframes swipe { 
    0% { top: 92%; opacity: 1 }
    100% { top: 90%; opacity: 0}  
}
@-webkit-keyframes swipe { 
    0% { top: 92%; opacity: 1 }
    100% { top: 90%; opacity: 0} 
}*/
.ui.btn{
	padding:1em 2em !important;
}
.swipe { 
    animation: swipe 1.5s linear infinite;
    -webkit-animation: swipe 1.5s linear infinite;
}
.swipe { position: absolute; width: 28px; height: 16px; top: 90%; left: 50%; margin-left: -14px; }
a.line, a.line:visited {
color: #444;
border-bottom: 2px solid rgba(255,255,255,0);
-webkit-transition: all .3s ease-in-out 0s;
transition: all .3s ease-in-out 0s;
text-decoration: none;
}
a.line:hover{
	color:#f36;
	border-bottom: 2px solid #f36;
}
.ui.one.cards>.card>.content{
	height:24px !important;
}
.ui.cards>.card, .ui.card,.ui.cards>.card:hover, .ui.card:hover{
	-webkit-box-shadow: 0 0px 0px #fff !important;
	box-shadow: 0 0px 0px #fff !important;
}
</style>
{% endblock %}

{% block layout_js %}
	<script src="https://s3.taihuoniao.com/wechat/js/audio5.min.js" type="text/javascript"></script>
	<script src="https://s3.taihuoniao.com/javascript/jquery.fullPage.min.js"></script>
	<script type="text/javascript" >
		$('.wrap').fullpage({
			'verticalCentered': true,
			'sectionsColor':['#000','#000','#000','#000','#000','#190119'],
			'css3':false,
			'slidesNavigation': true,
			afterRender: function(){
						$('.s1-1').addClass('page-bounceIn');
						$('.s1-3').addClass('page-fadeInDown');
			},
			
		});
	</script>
	
{% endblock %}

{% block jquery %}
	bgm = new Audio5js({
      swf_path: 'https://s3.taihuoniao.com/wechat/js/audio5js/swf/audio5js.swf',
      ready: function () {
          this.load('https://s3.taihuoniao.com/wechat/js/Uncharted Worlds.mp3');
          this.play();

          this.on('canplay', function(){
              //console.log('canplay');
          });   

          this.on('ended', function(){
              bgm.play();
          })           
      }
  });

  $('#music-control').click(function(){
      bgm.playPause();
  });
{% endblock %}
{% block content %}
<div style="display:none;"><img src="https://s3.taihuoniao.com/images/egg/egg_fen.jpg"></div>
<div id="music-control"><img src="https://s3.taihuoniao.com/images/music.png" width="29" height="29" /></div>
<div class="wrap">
	<div class="section s1">
		<img src="https://s3.taihuoniao.com/images/egg/egg_1.png" class="s1-1 page-bounceIn">
		<img src="https://s3.taihuoniao.com/images/egg/egg_f.png" width="100%" class="s1-3 page-fadeInDown">
		
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
	</div>
	
	<div class="section s2">
		<div class="menu p2"></div>
		<div class="w-2">
		<img src="https://s3.taihuoniao.com/images/egg/word.png" class="s2-2">
		<img src="https://s3.taihuoniao.com/images/egg/btn.png" class="s2-3">
		<img src="https://s3.taihuoniao.com/images/egg/150.png" class="s2-4">
		<!--<img src="https://s3.taihuoniao.com/images/egg/line.png" class="s2-5">-->
		</div>
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
	</div>
	
	<div class="section s3">
		<div class="menu p3"></div>
		<div class="w-2">
			<img src="https://s3.taihuoniao.com/images/egg/pl1.png" class="s3-1">
			<img src="https://s3.taihuoniao.com/images/egg/pl2.png" class="s3-2">
			<img src="https://s3.taihuoniao.com/images/egg/pr1.png" class="s3-3">
			<img src="https://s3.taihuoniao.com/images/egg/pr2.png" class="s3-4">
			<img src="https://s3.taihuoniao.com/images/egg/pd.png" class="s3-5">
		</div>
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
	</div>
	
	
	<div class="section s4">
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
		<div class="menu p4"></div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_xxpo.jpg">
				<h3 class="ui header">徐小平</h3>
				<p>真格基金创始人</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_lkfo.jpg">
				<h3 class="ui header">李开复</h3>
				<p>创新工场创始人</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zmcw.jpg">
				<h3 class="ui header">麻长炜</h3>
				<p>DFF基金 合伙人 <br /> 阿里巴巴十八罗汉之一</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zldh.jpg">
				<h3 class="ui header">刘东华</h3>
				<p>正和岛董事长</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zlg.jpg">
				<h3 class="ui header">卢刚</h3>
				<p>动点科技 CEO</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zlwq.jpg">
				<h3 class="ui header">黎万强</h3>
				<p>小米联合创始人</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zzp.jpg">
				<h3 class="ui header">张鹏</h3>
				<p>极客公园 创始人</p>
			</div>
		</div>
		<div class="slide">
			<div class="w-2">
				<img src="https://s3.taihuoniao.com/images/egg_zlhb.jpg">
				<h3 class="ui header">雷海波</h3>
				<p>太火鸟 CEO</p>
			</div>
		</div>
	
	</div>
	<div class="section s5">
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
		<div class="menu p5"></div>
		<div class="w-2">
			<img src="https://s3.taihuoniao.com/images/egg/ct.png" class="s5-1">
			<img src="https://s3.taihuoniao.com/images/egg/cz.png" class="s5-2">
			<img src="https://s3.taihuoniao.com/images/egg/cb.png" class="s5-3">
			
		</div>
	</div>
	<div class="section s6">
		<div class="swipe"><img src="https://s3.taihuoniao.com/images/swipe.png" width="28" height="16" /></div>
		<div class="menu p6"></div>
		
		{% for stuff in stuffs %}
		<div class="slide">
			<div class="slide-list">
				<div class="ui grid" style="padding:0 15%;">
					<div class="column">
						<div class="ui one cards">
							<div class="card">
								<div class="image">
			                  	<a href="{{ app_url_wap }}/birdegg/{{ stuff._id }}.html" title="{{ stuff.title }}" target="_blank">
			                    {% if stuff.cover %}
			                      <img src="{{ stuff.cover.thumbnails.md.view_url }}" alt="{{ stuff.title }}" />
			                    {%else%}
			                      <img src="{{ app_url_packaged }}/images/egg_zlist.jpg" alt="{{ stuff.title }}" />
			                    {%endif%}
			                	</a>
					    	</div>
					    	<div class="content">
					      	  	<div class="header">
									<a href="{{ app_url_wap }}/birdegg/{{ stuff._id }}.html" title="{{ stuff.title }}" class="ui line">{{ stuff.title|truncate 26 '' }}</a>
								</div>
					    	</div>
					    	<div class="extra">
					      	  	<a class="right floated created">
                        <!--<small><i class="unhide icon"></i>{{ stuff.view_count }}</small>-->
									<small><i class="thumbs outline up icon"></i>{{ stuff.love_count }}</small>
								</a>
								<a href="{{ stuff.user.home_url }}" class="ui icon link">
									<img src="{{ stuff.user.small_avatar_url }}" alt="{{ stuff.user.nickname }}" class="ui avatar image" /> <small>{{ stuff.user.nickname }}</small>
								</a>
					    	</div>
					
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
				
				
		<div class="center aligned column" style="position: absolute;bottom: 60px;text-align: center;width: 100%;z-index:1111;">
      <a href="{{ app_url_wap }}/birdegg/submit" class="ui magenta btn-4 btn-4c icon-arrow-right btn">
					提交创意
				</a>
								<a href="{{ app_url_wap }}/birdegg/zlist" class="ui magenta btn-4 btn-4c icon-arrow-right btn">
									全部创意
								</a>
			
		</div>
		
		
		
		
	</div>
	
	
	<div class="section s7">
		<div class="w-2">
			<img src="https://s3.taihuoniao.com/images/egg/4.png" class="s7-4">
			<img src="https://s3.taihuoniao.com/images/egg/g.png" class="s7-g">
			<img src="https://s3.taihuoniao.com/images/egg/11.png" class="s7-11">
			<img src="https://s3.taihuoniao.com/images/egg/751.png" class="s7-2">
			
		</div>
		<div class="center aligned column" style="position: absolute;bottom: 80px;text-align: center;width: 100%;z-index:1111;">
		  <a href="http://www.huodongxing.com/event/2273122928800" class="ui magenta btn-4 btn-4c active btn s7-login" target="_blank" title="立即报名">
					立即报名
			</a>
		</div>
	</div>
	
	
</div>
{%endblock%}
