{%extends 'layout/sns.html'%}
{% block title %}十万火计-抽奖 -{% endblock %}

{% block page_css %}
<style type="text/css">

	body{ background:#fff;}
	.wrap{ width:300px; margin:100px auto; font-family:"微软雅黑";}
	.show{ width:300px; height:300px; background-color:#ff3300; line-height:300px; text-align:center; color:#fff; font-size:28px; -moz-border-radius:150px; -webkit-border-radius:150px; border-radius:150px; background-image: -webkit-gradient(linear,0% 0%, 0% 100%, from(#FF9600), to(#F84000), color-stop(0.5,#fb6c00)); -moz-box-shadow:2px 2px 10px #BBBBBB; -webkit-box-shadow:2px 2px 10px #BBBBBB; box-shadow:2px 2px 10px #BBBBBB;}
	.btn a{ display:block; width:120px; height:50px; margin:30px auto; text-align:center; line-height:50px; text-decoration:none; color:#fff; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px;}
	.btn a.start{ background:#80b600;}
	.btn a.start:hover{ background:#75a700;}
	.btn a.stop{ background:#00a2ff;}
	.btn a.stop:hover{ background:#008bdb;}

</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">


</script>
{% endblock %}

{% block jquery %}

  var alldata = new Array();
  {% for d in praises %}
    alldata.push({ user: {{d.user}}, account: {{d.account}}, praise: {{d.praise}} });
  {%endfor%}

		var num = alldata.length - 1;
		var show = $("#show");
		var btn = $("#btn");
		var open = false;
	
		function change(){
			var randomVal = Math.round(Math.random() * num);
			var prizeName = alldata[randomVal].praise;
			show.text(prizeName);
      show.attr('account', alldata[randomVal].account);
      show.attr('user', alldata[randomVal].user);
      show.attr('current', randomVal);
		}
		
		function run(){
			if(!open){
				timer=setInterval(change,30);
				btn.removeClass('start').addClass('stop').text('停止');
				open = true;
			}else{
				clearInterval(timer);
				btn.removeClass('stop').addClass('start').text('开始抽奖');
				open = false;
        var praise = $('#show').text();
        var account = $('#show').attr('account');
        var user = $('#show').attr('user');
        var current = $('#show').attr('current');
        $('#item-list').append('<div><span class="item">'+ account +'</span></div>');
        alldata.splice(current, 1);
			}
		}
		
		btn.click(function(){run();})

{% endblock %}

{% block content %}

	<div class="wrap">
		<div class="show" id="show">点击按钮开始抽奖</div>
		<div class="btn">
			<a href="javascript:void(0)" class="start" id="btn" account="" user="">开始抽奖</a>
		</div>
	</div>
  <div id="item-list" style="float:right;border:1px solid red;width:100px;">
    <div>
      <span class="item"></span>
    </div>
  </div>


<div style="text-align:center;clear:both">
<p>适用浏览器：IE8、360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari浏览器。</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>

{% endblock %}







