{%extends 'layout/column.html'%}
{% block title %}神嘴争霸赛 -{% endblock %}

{% block page_css %}
<style type="text/css">
.ui.mainwrap.grid{
  margin:15px auto;
  background:#fff;
  padding: 10px 15px;
}
.rtitle{
  background:url({{ app_url_packaged }}/images/promo/rankbj.png);
  width:180px;
  height:50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 1.28rem;
  margin-bottom: 15px;
  padding-left: 15px;
}
p{
  margin-bottom:0.8rem;
}
.line{
  width: 100%;
  height: 20px;
  background: url({{ app_url_packaged }}/images/promo/rankline.jpg);
  background-position: 0px -4px;
}
.rtitle.tmr{
  position: absolute;
  left: 10px;
  top: 0;
}
.time{
  margin-top: 10px;
  width:100%;
  height:170px;
  background:url({{ app_url_packaged }}/images/promo/ranktime.png);
  background-size:cover;
}
.mainwrap.bpk{
  padding: 0 !important;
  margin: 25px auto !important;
  background: rgba(0,0,0,0) !important;
}
.propk{
  height:700px;
  background:url({{ app_url_packaged }}/images/promo/rankbl.jpg);
  background-size:cover;
  padding:0 !important;
  position:relative;
}
.pktitle{
  padding:40px 100px !important;
  color:#fff;
  text-align:center !important;
  opacity: 0;
}
.pktitle.transition.fly{
  opacity:1;
}
.pktitle p{
  font-size:16px;
  text-align:left;
}
.pktitle p span{
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px;
  font-style: italic;
}

.pkhf{
  position:absolute;
  top:280px;
  left:0;
  width:500px;
  background:url({{ app_url_packaged }}/images/promo/rankhf.png);
  background-size:cover;
  height:300px;
  opacity:0;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.pkhf.slide{
  opacity:1;
  -webkit-transition-delay: 800ms !important;
  transition-delay: 800ms !important;
}
.pklf{
  position:absolute;
  top:280px;
  right:0;
  width:500px;
  background:url({{ app_url_packaged }}/images/promo/ranklf.png);
  background-size:cover;
  height:300px;
  opacity:0;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.pklf.slide{
  opacity:1;
  -webkit-transition-delay: 800ms !important;
  transition-delay: 800ms !important;
}
.pkhs{
  position:absolute;
  top:150px;
  left:290px;
  width: 180px;
  background:url({{ app_url_packaged }}/images/promo/rankh.png);
  background-size:cover;
  height:123px;
  opacity:0;
  transition-delay: 1s;
  -moz-transition-delay: 1s; 
  -webkit-transition-delay: 1s; 
  -o-transition-delay: 1s;
}
.pkls{
  position:absolute;
  top:150px;
  right:290px;
  width: 180px;
  background:url({{ app_url_packaged }}/images/promo/rankl.png);
  background-size:cover;
  height:123px;
  opacity:0;
  transition-delay: 1s;
  -moz-transition-delay: 1s; 
  -webkit-transition-delay: 1s; 
  -o-transition-delay: 1s;
}
.pkvs{
  position:absolute;
  top: 180px;
  left: 50%;
  width: 230px;
  margin-left: -115px;
  background:url({{ app_url_packaged }}/images/promo/rankvs.jpg);
  background-size:cover;
  height:169px;
  opacity:0;
}
.pkvs.flip{
  opacity:1;
}
.pkp{
  position:absolute;
  bottom:0;
  width: 360px;
  left: 50%;
  margin-left: -180px;
  background:url({{ app_url_packaged }}/images/promo/rankp.png);
  background-size:cover;
  height:256px;
  opacity:0;
}
.pkp.fly{
  opacity:1;
}

.pkhbtn{
  position:absolute;
  bottom: 20px;
  width:100px;
  left:200px;
  background:url({{ app_url_packaged }}/images/promo/rankhz.png);
  background-size:cover;
  height:100px;
}
.pklbtn{
  position:absolute;
  bottom: 20px;
  width:100px;
  right:200px;
  background:url({{ app_url_packaged }}/images/promo/ranklz.png);
  background-size:cover;
  height:100px;
}
.rankhpro{
  background:url({{ app_url_packaged }}/images/promo/rankhpro.jpg);
  height:50px;
  background-repeat:repeat;
  display:inline-block;
  border-bottom-left-radius: 8px;
  padding: 0 20px !important;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}
.ranklpro{
  background:url({{ app_url_packaged }}/images/promo/ranklpro.jpg);
  height:50px;
  background-repeat:repeat;
  display:inline-block;
  border-bottom-right-radius: 8px;
  padding: 0 20px !important;
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-align:right;
}
.mainwrap.commentrank{
  padding: 0 !important;
  margin: 15px auto 35px !important;
}
.mainwrap.commentrank .mainleft{
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;
}
.post.comment,.ui.comments{
  font-size:1rem !important;
}
</style>
{% endblock %}

{% block layout_js %}
<script type="text/javascript">

  var has_support = {{ has_support|default 0 }};
  var support_cid = {{ support_cid|default 0 }};

  function support_event(cid){
		// 所有ajax请求，验证是否登录
		if (!phenix.visitor.is_login){
			phenix.show_login_box();
			return false;
		}

    // 难证是否支持过
    $.get("{{ app_url_domain_base }}/app/site/promo_func/ajax_attend", {target_id: 1, event: 5, cid: cid}, function(result){
      if(result.success){
        // 已投票标识
        has_support = 1;
        support_cid = cid;
        phenix.show_ok_note(result.message);
        var l_count = parseInt($('.support-l-count').text());
        var r_count = parseInt($('.support-r-count').text());

        if(cid==1){
          $('.support-l-count').text(l_count+1);
          fetch_present(l_count+1, r_count);
        }else if(cid==2){
          $('.support-r-count').text(r_count+1);
          fetch_present(l_count, r_count+1);
        }

      }else{
        phenix.show_error_note(result.message);
        return;
      }
    }, 'json');
  }

  // 得到两个数百分比
  function fetch_present(x, y){
    var total = x+y;
    if(total==0){
      var l_per = 50;
      var r_per = 50;   
    }else{
      var l_per = (x/total)*100;
      var r_per = (y/total)*100;
    }

    $('.support-l-count').show().css('width', l_per+"%");
    $('.support-r-count').show().css('width', r_per+"%");
    if(l_per==0){
      $('.support-l-count').hide();
    }else if(r_per==0){
      $('.support-r-count').hide();
    }

  }
</script>
{% endblock %}

{% block jquery %}
  $(window).scroll(function(){
	    var scrollTop = $(window).scrollTop();
			if(scrollTop > 1600){
        $('.pktitle').addClass('transition fly up in');
        $('.pkhs').addClass('transition fly in');
        $('.pkls').addClass('transition fly in');
        $('.pkvs').addClass('transition flip vertical in');
      }
      if(scrollTop > 1700){
        $('.pkp').addClass('transition fly down in');
        $('.pkhf').addClass('transition slide right in');
        $('.pklf').addClass('transition slide left in');
      }
  })

	phenix.hook_comment_page();

  // 支持左方铵钮
  $('.support-l-btn').click(function(){
    var cid = $(this).data('cid');
    support_event(cid);
  });

  // 支持右方铵钮
  $('.support-r-btn').click(function(){
    var cid = $(this).data('cid');
    support_event(cid);
  });

  fetch_present({{count_01|default 0}}, {{count_02|default 0}});

  $('.ui.submit.button').click(function(){
    if(has_support==0){
      phenix.show_error_note('投票后才有权力发表意见哦~');
      return false;
    }
    $('#comment-form :input[name=sku_id]').val(cid);

  });
{% endblock %}
{% block content %}
<div id="srank">
  <img src="{{ app_url_packaged }}/images/promo/rank.jpg" width="100%" alt="神嘴争霸赛">
  <div class="ui mainwrap grid">
    <div class="row">
      <div class="column">
        <div class="rtitle">
          活动介绍
        </div>
        <p>这是一场不见硝烟的战争，这是一次无关对错的辩论。我们举办此次活动，只为找到能够开口就让别人吐几十两献血的旷世人才！</p>
        <p>霸气总侧漏！好胆你就来！这次争霸赛就是为你而生！让撕X来的更猛烈些吧！</p>
        <div class="line"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="column">
        <div class="rtitle tmr">
          活动时间
        </div>
        <div class="time"></div>
        <div class="line"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="column">
        <div class="rtitle">
          活动规则
        </div>
        <p>1.根据辩题分为正反两方，用户可以自行选择对战方阵。</p>
        <p>2.正反双方人气最高且最具领袖风范的用户将获得”太火鸟神嘴“称号，各自获得太火鸟送出的让许多大咖爱不释手的云马神秘新品！</p>
        <p>3.根据辩论精彩程度，将从双方各自挑选三名获得”太火鸟名嘴“称号，获得太火鸟送出的云马神秘新品发布会VIP门票。</p>
        <p class="ui magenta link">（PS：届时，发布会现场将会邀请行业精英与圈内大咖，甚至神秘嘉宾到场，徐小平？雷军？或是？展开你的想象力，我只告诉你这是一场高手云集，错过  后悔的大场面！现场除100家媒体外，只供内部席位，太火鸟将设6个特别名额，快点来抢吧！）</p>
        <p>4.根据回复楼层百分比挑选六名用户获得”太火鸟硬嘴“称号，获得太火鸟独家定制神秘礼包。</p>
        <div class="line"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="column">
        <div class="rtitle">
          注意事项
        </div>
        <p>1.严禁辩论双方进行人身攻击；</p>
        <p>2.跟帖留言用户不得恶意复制他人内容回复，同样内容回复超过两次，超长式刷屏按灌水违规禁言处理；</p>
        <p>3.同一ID、电话、联系人、地址均视为同一人，不得重复中奖；</p>
        <p>4.中奖楼层为总楼层的 15%、25%、35%、55%、65%、75%。中奖时涉及到小数点的楼层取整数；</p>
        <p>5.云马神秘新品如何领取将由太火鸟官方工作人员电话通知；</p>
        <p>6.本次活动最终解释权归太火鸟所有。<br/></p>
        <div class="line"></div>  
      </div>
    </div>
    
    <div class="row">
      <div class="column">
        <div class="rtitle">
          奖品设置
        </div>
        <img src="{{ app_url_packaged }}/images/promo/rankpk.jpg" width="100%">
        <p><br/></p>
      </div>
    </div>
    
  </div>
  
  
  <div class="ui mainwrap bpk grid">
    <div class="propk row">
      <div class="pktitle column">
        <h2>场景模拟</h2>
        <p><span>假设</span> 你现在手头非常不宽裕，于是想到了一条快速来钱的方法—碰瓷！摆在你面前的有两个安全碰瓷的选择—一辆正在缓慢行驶的特斯拉or骑一部充满了土豪气息自行车的人。</p>
      </div>
      <div class="pkhs"></div>
      <div class="pkls"></div>
      <div class="pkvs"></div>
      <div class="pkp"></div>
      <div class="pkhf"></div>
      <div class="pklf"></div>
      
      <a class="pkhbtn support-l-btn" data-cid="1" href="javascript:void(0);"></a>
      <a class="pklbtn support-r-btn" data-cid="2" href="javascript:void(0);"></a>
      
    </div>
    <div class="rankhpro support-l-count">{{ count_01 }}</div>
    <div class="ranklpro support-r-count">{{ count_02 }}</div>
    
  </div>
  <div class="ui mainwrap commentrank grid">
    <div class="mainleft">
      <div class="container">
		<div class="reply box">
              <a name="comment_top"></a>
			    <!--ajax comment-->
  	        <div class="block title">
                  全部评论<small>（{{ comment_count }}）</small>
                  
                  <div class="quick goto">
                      直达楼层：<input type="text" name="floor" class="gotofloor" data-max="{{ comment_count }}" data-url="{{ app_url_promo }}/rank/{{ page }}" title="跳转到指定楼层" />
                  </div>
              </div>
		  	    <div id="comment-list">
                  {% comment_list var:'comments' page:1 size:5 target_id:1 type:10 check_loved:1 only_hotest:1 current_user_id:visitor.id %}
                  {% if comments.rows %}
                  <div class="ui threaded hotest comments">
                      <a class="ui red ribbon label">热门回复</a>
              		{% for comment in comments.rows %}
              			{%include 'block/comment_rank_item.html'%}
              		{% endfor %}
                      <hr>
                  </div>
                  {% endif %}
                  <div class="ui threaded comments is-comment">
                    {% comment_list var:'comment_list' page:page size:20 target_id:1 type:10 check_loved:1 current_user_id:visitor.id %}                {% for comment in comment_list.rows %}
                      {%include 'block/comment_rank_item.html'%}
                    {%endfor%}
                  
                  </div>
                  <div class="ui pagination pagerbox"></div>
		  	    </div>
		  	    {% include "block/comment_box_site.html" %}
          </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
