{%extends 'layout/column.html'%}
{% block title %}CES ASIA -{% endblock %}

{% block page_css %}
<style type="text/css">
	.ces{
		background:#fff;
	}
	.ui.background.grid{
		margin: 0;
	}
	.topbg {
		font-size:0;
	    height: 500px;
	    text-indent: -9999em;
	    background-image: url({{ app_url_packaged }}/images/promo/ces/ztop_bj2.jpg);
	    background-position: top center;
        background-size: auto 500px;
        margin-bottom: 1.5rem;
	}
	.ui.news.grid{
		padding-bottom: 1.5rem;
	}
	h2.dnews{
		padding-bottom: 1.785714rem !important;
		position:relative;
	}
	h2.dnews::before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1.428571rem;
		background-image:url({{app_url_packaged}}/images/promo/ces/zline.png); 
		background-size: cover;
	}
	.news .four.cards .card{
		box-shadow: none;
	}
	.news .four.cards .card a{
		position: relative;
	    display: block;
	    width: 100%;
	    height: 100%;
	    background: #fff;
	    padding-top:66.6667%; 
	}
	.news .four.cards .card a img{
		width: 100%;
	    height: auto;
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.news .desc{
		position: relative;
	    padding: 12px 0 0;
	    height: auto;
	    /*border: 1px solid rgba(0,0,0,0.15);*/
    	border-top: 0;
    	/*border-bottom-left-radius: .28571429rem;
    	border-bottom-right-radius: .28571429rem;*/
	}
	.news .desc h3{
		color: #00bac9;
		overflow: hidden;
	    text-align: left;
	    margin: 0;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 1.142857rem;
	}
	.news .desc .excerpt{
		font-size: 1rem;
		color:#666;
	    margin: 8px 0 15px;
	    height: 57px;
	    overflow: hidden;
	}
	.ui.f5f5.grid{
		background: #f9f9f9;
		padding-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.f5f5 .ui.five.cards .card{
		box-shadow: none;
		border-radius: 0 !important;
		background: rgba(0,0,0,0);
	}
	.ui.inbang.grid{
		padding-bottom: 1.5rem;
	}
	.inbang .ui.four.cards{
		margin: 0;
	}
	.inbang .ui.four.cards .card{
		width: 25%;
		margin: 0;
		border-radius: 0 !important;
		box-shadow: none;
	}
	.inbang .ui.four.cards .card:nth-child(2n+1) a{
		background: #e9e9e9;
	}
	.inbang .ui.four.cards .card:nth-child(2n) a,.inbang .ui.four.feight.cards .card:nth-child(5) a,.inbang .ui.four.feight.cards .card:nth-child(7) a,.inbang .ui.four.ftwo.cards .card:nth-child(5) a,.inbang .ui.four.ftwo.cards .card:nth-child(7) a{
		background: #d1d1d1;
	}
	.inbang .ui.four.feight.cards .card:nth-child(6) a,.inbang .ui.four.feight.cards .card:nth-child(8) a,.inbang .ui.four.ftwo.cards .card:nth-child(6) a,.inbang .ui.four.ftwo.cards .card:nth-child(8) a{
		background: #e9e9e9;
	}
	.inbang .ui.four.feight.cards .card a:hover{
		background: #00b7d1;
	}
	.inbang .ui.four.feight.cards .card a:hover .desc h3,.inbang .ui.four.feight.cards .card a:hover .desc .excerpt,.inbang .ui.four.ftwo.cards .card a:hover .desc h3,.inbang .ui.four.ftwo.cards .card a:hover .desc .excerpt{
		color: #fff;
	}
	.inbang .ui.four.ftwo.cards .card a:hover{
		background: #d8df20;
	}
	.inbang .ui.four.cards .card a {
	    position: relative;
	    display: block;
	    width: 100%;
	    height: 100%;
	    padding-top: 66.67%;
	    border-radius: 0 !important;
		-webkit-transition: all .25s ease;
    	transition: all .25s ease;
	}
	.inbang .ui.four.feight.cards .card a,.inbang .ui.four.ftwo.cards .card a{
		padding-top: 0;
	}
	.inbang .ui.four.cards .card a img {
	    width: 100%;
	    height: auto;
	    overflow: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.inbang .ui.four.cards .card a .desc{
	    position: relative;
	    padding: 12px 10px 0;
	    height: auto;
	}
	.inbang .ui.four.cards .card a .desc h3 {
		color: #666;
	    overflow: hidden;
	    text-align: left;
	    margin: 0;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    font-size: 1.142857rem;
	    padding-bottom: 0.571429rem;
    	border-bottom: 1px solid rgba(255,255,255,0.8);
	}
	.inbang .ui.four.cards .card a .desc .excerpt {
	    font-size: 1rem;
	    color: #666;
	    margin: 10px 0 15px;
	    height: 57px;
	    overflow: hidden;
	}
	.ui.join.grid{
		margin-bottom: 0;
	}
	.join h2.dnews.header::before{
		background: url( {{app_url_packaged}}/images/promo/ces/zmline.png);
		background-size: cover;
	}

	.wrapper__inner {
	    width: 1180px;
	    margin: 0 auto;
	    padding: 20px 0;
	    position: relative;
	}
	.example__prev {
	    background: url({{ app_url_packaged }}/images/promo/ces/jt_hui.png);
	    left: -70px;
		background-size:100%;
	}
	.example__next {
	    background: url({{ app_url_packaged }}/images/promo/ces/jt_right_hui.png);
	    right: -70px;
		background-size:100%;
	}
	.example__next, .example__prev {
	    position: absolute;
	    width: 28px;
	    height: 50px;
	    top: 50%;
    	margin-top: -25px;
	    cursor: pointer;
	    -webkit-transition: .3s all ease;
	    transition: .3s all ease;
	}
	.example__next.example__next_active {
	    background: url({{ app_url_packaged }}/images/promo/ces/jt_right.png);
	}
	.example__prev.example__prev_active{
		background: url({{ app_url_packaged }}/images/promo/ces/jt.png);
	}
	.example__list-wrapper {
	    position: relative;
	    overflow: hidden;
	    padding-bottom: 10px;
	}
	.example__list {
	    width: 825%;
	    font-size: 0;
	    position: relative;
	}
	ol, ul {
	    padding-left: 0;
	    list-style-type: none;
	}
	.example__item {
	    display: inline-block;
	    vertical-align: top;
	    width: 280px;
    	margin-right: 13px;
	    padding: 0;
	    background: #fff;
	    text-align: center;
	    -webkit-transition: .3s all ease;
	    transition: .3s all ease;
	    cursor: auto;
	}
	.example__item img{
		width:100%;
	}
	.example__item_9 {
	    margin-right: 0;
	}
	@media only screen and (min-width: 1500px){
		.wrapper__inner{
			width: 1480px;
		}
	}
	.iosewm{
		display: none;
		visibility: hidden;
	}
</style>
</style>
{% endblock %}
{% block jquery %}
	var pagew = 1172;
	var $lists = $(".example__list"),
	          $next_btn = $(".example__next"),
	          $prev_btn = $(".example__prev");
	    $next_btn.on("click",function(){
	        if($lists.css("right") =="auto"||$lists.css("right") =="0px"){
	            $lists.animate({
	                right:pagew
	            },500);
	            $prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew+'px'){
	            $lists.animate({
	                right:pagew*2
	            },500);
				$prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*2+'px'){
	            $lists.animate({
	                right:pagew*3
	            },500);
				$prev_btn.addClass("example__prev_active");
	        }
			else if($lists.css("right") ==pagew*3+'px'){
	            $lists.animate({
	                right:pagew*4
	            },500);
	            $prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*4+'px'){
	            $lists.animate({
	                right:pagew*5
	            },500);
				$next_btn.removeClass("example__next_active");
	        }
	    });
	    $prev_btn.on("click",function(){
	        if($lists.css("right") ==pagew+'px'){
	            $lists.animate({
	                right: 0
	            },500);
	            $prev_btn.removeClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*2+'px'){
	            $lists.animate({
	                right:pagew
	            },500);
				$prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*3+'px'){
	            $lists.animate({
	                right:pagew*2
	            },500);
	            $prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*4+'px'){
	            $lists.animate({
	                right:pagew*3
	            },500);
				$prev_btn.addClass("example__prev_active");
	        }else if($lists.css("right") ==pagew*5+'px'){
	            $lists.animate({
	                right:pagew*4
	            },500);
	            $next_btn.addClass("example__next_active");
	        }
	    })

{% endblock %}
{% block content %}
<div class="ces">
	<h2 class="topbg">CES AISA</h2>
	<section class="ui background white grid">
		<div class="ui news responsive grid">
			<div class="row">
				<div class="ui center aligned column">
					<h2 class="ui dnews header">
						    CES Asia 2016最新闻
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui four cards">

						<div class="card">
							<a href="http://tech.china.com/news/it/11146618/20160509/22608689.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt6-1.jpg">
								<div class="desc">
									<h3>
										未来｜1号店CES Asia前瞻:首现感知型购物场景
									</h3>
									<div class="excerpt">
										5月11日至5月13日，由美国消费技术协会主办的CES Asia在上海新国际博览中心启幕。作为消费技术行业最大的年度盛会之一，CES Asia致力于全方位展示亚洲市场创新产业价值链，共同见证消费技术行业最具代表性的创新成果。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://www.prnews.cn/press_release/220526.htm" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt2.jpg">
								<div class="desc">
									<h3>
										智能穿戴 | GEAK Watch智能手表新品或CES Asia提前曝光
									</h3>
									<div class="excerpt">
										亚洲最大的消费电子展会CES Asia即将于5月11日-13日在上海举办。而CES Asia则是CES主办方美国消费技术协会联合上海国际展览中心主办的亚洲消费电子展，今年已经是第二届。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://digi.tech.qq.com/a/20160509/025434.htm" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt3-1.jpg">
								<div class="desc">
									<h3>
										汽车 |　CES2016乐视车联展台揭幕 来看它到底做了啥
									</h3>
									<div class="excerpt">
										美国时间1月6日，CES2016乐视车联展台揭幕，那么在本届CES亚洲大展上，乐视将为我们带来什么劲爆新品呢？
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://sc.stock.cnfol.com/shichangceping/20160509/22718518.shtml" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt4-1.jpg">
								<div class="desc">
									<h3>
										趋势 | CES Asia2016 前瞻之无人机
									</h3>
									<div class="excerpt">
										CES展会一向被视为消费电子领域的风向标，影响着整个消费电子行业一年的发展动态。2016年5月11-13日，领先的亚洲消费电子展(CES Asia)将在上海新国际博览中心正式拉开帷幕，展示亚洲消费电子领域创新的广度与深度。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://it.sohu.com/20160509/n448442134.shtml" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt5-1.jpg">
								<div class="desc">
									<h3>
										回顾｜CES Asia 2015精彩回顾 可穿戴设备+无人车
									</h3>
									<div class="excerpt">
										备受业界关注的第二届CES亚洲展(2016年亚洲消费电子展，CES Asia2016)即将于2016年5月11--13日在上海新国际博览中心开幕，本届展会以“互联互通”、“创新”和“物联网”为主题，届时宝马、英特尔、IBM、奥迪、华为等全球知名企业将携3D打印、电子游戏、智能家居、智能车辆技术以及可穿戴产品等15个产品类别亮相。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://www.taihuoniao.com/topic/view-111868-1.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt1.jpg">
								<div class="desc">
									<h3>
										资讯 | 2016年亚洲消费电子展“媒体日”日程安排正式公布
									</h3>
									<div class="excerpt">
										美国消费技术协会今日正式公布2016年亚洲消费电子展官方“媒体日”日程安排。“媒体日”所有活动向亚洲消费电子展预注册媒体开放，时间为5月10日至12日（星期二至星期四）。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://tech.qq.com/a/20160505/047781.htm" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt7.jpg">
								<div class="desc">
									<h3>
										资讯 | 2016年CES ASIA预注册人数较去年同期增长40%
									</h3>
									<div class="excerpt">
										2016年亚洲消费电子展将以“物联网”、“创新”和“互联互通”为主题，集中展示15大产品类别的最新技术与创新，其中包括3D打印、汽车技术、生活科技、电子游戏等。
									</div>
								</div>
							</a>
						</div>

						<div class="card">
							<a href="http://www.taihuoniao.com/topic/view-111896-1.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt8-1.jpg">
								<div class="desc">
									<h3>
										资讯丨这次的CES Asia有哪些看头？
									</h3>
									<div class="excerpt">
										CES Asia的三个主题是：“互联互通”、“创新”和“物联网”。展商将代表以下15个产品类别，展出包括3D打印、音频产品、内容和在线平台、绿色科技、健康产品、家庭娱乐、生活科技、移动设备、机器人设备、智能家居、健身和运动、汽车技术、视频/4K超高清设备、电子游戏和可穿戴设备等产品和技术。
									</div>
								</div>
							</a>
						</div>


					</div>
				</div>

			</div>
			<div class="row">
				<div class="column">
					<a href="http://www.taihuoniao.com/topic/view-111865-1.html" target="_blank">
						<img src="{{ app_url_packaged }}/images/promo/ces/zzmtop.jpg" width="100%" align="absmiddle">
					</a>
				</div>
			</div>


		</div>
	</section> 

	<!--  创新奖
	<section class="ui background f5f5 grid">
		<div class="ui news responsive grid">
			<div class="row">
				<div class="ui center aligned column">
					<h2 class="ui dnews header">
						    CES Asia 2016创新奖
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui five cards">
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc1.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc2.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc3.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc4.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc5.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc6.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc7.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc8.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc9.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc10.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc11.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc12.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc13.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc14.jpg" width="100%" align="absmiddle">
						</div>
						<div class="card">
							<img src="{{ app_url_packaged }}/images/promo/ces/zc15.jpg" width="100%" align="absmiddle">
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>
	-->

	<section class="ui background inbang white grid">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<img src="{{ app_url_packaged }}/images/promo/ces/z24.png" width="100%" align="absmiddle">
				</div>
			</div>

			<div class="row">
				<div class="column">
					<div class="ui four cards">
						<div class="card">
							<a href="http://www.taihuoniao.com/topic/view-111868-1.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt1.jpg">
								<div class="desc">
									<h3>资讯 | 2016年亚洲消费电子展“媒体日”日程安排正式公布</h3>
									<div class="excerpt">
										美国消费技术协会今日正式公布2016年亚洲消费电子展官方“媒体日”日程安排。“媒体日”所有活动向亚洲消费电子展预注册媒体开放，时间为5月10日至12日（星期二至星期四）。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://www.prnews.cn/press_release/220526.htm" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt2.jpg">
								<div class="desc">
									<h3>智能穿戴 | GEAK Watch智能手表新品或CES Asia提前曝光</h3>
									<div class="excerpt">
										亚洲最大的消费电子展会CES Asia即将于5月11日-13日在上海举办。而CES Asia则是CES主办方美国消费技术协会联合上海国际展览中心主办的亚洲消费电子展，今年已经是第二届。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://digi.tech.qq.com/a/20160509/025434.htm" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt3-2.jpg">
								<div class="desc">
									<h3>汽车 |　CES2016乐视车联展台揭幕 来看它到底做了啥</h3>
									<div class="excerpt">
										美国时间1月6日，CES2016乐视车联展台揭幕，那么在本届CES亚洲大展上，乐视将为我们带来什么劲爆新品呢？
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://sc.stock.cnfol.com/shichangceping/20160509/22718518.shtml" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt4-2.jpg">
								<div class="desc">
									<h3>趋势 | CES Asia2016 前瞻之无人机</h3>
									<div class="excerpt">
										CES展会一向被视为消费电子领域的风向标，影响着整个消费电子行业一年的发展动态。2016年5月11-13日，领先的亚洲消费电子展(CES Asia)将在上海新国际博览中心正式拉开帷幕，展示亚洲消费电子领域创新的广度与深度。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://it.sohu.com/20160509/n448442134.shtml" target="_blank" rel="noflow">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt5-2.jpg">
								<div class="desc">
									<h3>回顾｜CES Asia 2015精彩回顾 可穿戴设备+无人车</h3>
									<div class="excerpt">
										备受业界关注的第二届CES亚洲展(2016年亚洲消费电子展，CES Asia2016)即将于2016年5月11--13日在上海新国际博览中心开幕，本届展会以“互联互通”、“创新”和“物联网”为主题，届时宝马、英特尔、IBM、奥迪、华为等全球知名企业将携3D打印、电子游戏、智能家居、智能车辆技术以及可穿戴产品等15个产品类别亮相。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://tech.china.com/news/it/11146618/20160509/22608689.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt6-2.jpg">
								<div class="desc">
									<h3>未来｜1号店CES Asia前瞻:首现感知型购物场景</h3>
									<div class="excerpt">
										5月11日至5月13日，由美国消费技术协会主办的CES Asia在上海新国际博览中心启幕。作为消费技术行业最大的年度盛会之一，CES Asia致力于全方位展示亚洲市场创新产业价值链，共同见证消费技术行业最具代表性的创新成果。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://tech.qq.com/a/20160505/047781.htm" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt7.jpg">
								<div class="desc">
									<h3>资讯 | 2016年CES ASIA预注册人数较去年同期增长40%</h3>
									<div class="excerpt">
										2016年亚洲消费电子展将以“物联网”、“创新”和“互联互通”为主题，集中展示15大产品类别的最新技术与创新，其中包括3D打印、汽车技术、生活科技、电子游戏等。
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="http://www.taihuoniao.com/topic/view-111896-1.html" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zt8-2.jpg">
								<div class="desc">
									<h3>资讯丨这次的CES Asia有哪些看头？</h3>
									<div class="excerpt">
										CES Asia的三个主题是：“互联互通”、“创新”和“物联网”。展商将代表以下15个产品类别，展出包括3D打印、音频产品、内容和在线平台、绿色科技、健康产品、家庭娱乐、生活科技、移动设备、机器人设备、智能家居、健身和运动、汽车技术、视频/4K超高清设备、电子游戏和可穿戴设备等产品和技术。
									</div>
								</div>
							</a>
						</div>

						
					</div>
				</div>
			</div>


<!-- 48 -->
<!--
			<div class="row">
				<div class="column">
				<img src="{{ app_url_packaged }}/images/promo/ces/z48.png" width="100%" align="absmiddle">
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui four feight cards">
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
-->
<!-- 72 -->
<!--

			<div class="row">
				<div class="column">
				<img src="{{ app_url_packaged }}/images/promo/ces/z72.png" width="100%" align="absmiddle">
				</div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui four ftwo cards">
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
						<div class="card">
							<a href="">
								<div class="desc">
									<h3>联想Y900旗舰游戏本</h3>
									<div class="excerpt">
										Y系列本本特有的背脊棱线、表面纹理乃至Y字红色LED Logo又体现了Y900的深厚家学渊源，其红黑配色提醒着我们……[详细]
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
-->

		</div>
	</section>

	<section class="ui background f5f5 join grid">
		<div class="ui news responsive grid">
			<div class="row">
				<div class="ui center aligned column">
					<h2 class="ui dnews header">
						    太火鸟参展及孵化商品
					</h2>
				</div>
			</div>

			<div class="example wrapper__inner">
				<div class="example__prev"></div>
				<div class="example__next example__next_active"></div>
				
				<div class="example__list-wrapper">
					<ul class="example__list">
						<li class="example__item">
							<img src="{{ app_url_packaged }}/images/promo/ces/zzp1.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp2.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp3.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp4.jpg">
						</li>

						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp5.jpg">
						</li>
						<li class="example__item">
							<a href="" target="_blank">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp6.jpg">
							</a>
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp7.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp8.jpg">
						</li>

						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp9.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp10.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp11.jpg">
						</li>

						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp12.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp13.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp14.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp15.jpg">
						</li>

						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp16.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp17.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp18.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp19.jpg">
						</li>

						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp20.jpg">
						</li>
						<li class="example__item">
								<img src="{{ app_url_packaged }}/images/promo/ces/zzp21.jpg">
						</li>
					</ul>
				</div>
			</div>


		</div>
	</section>

	<section class="ui background grid">
		<img src=" {{ app_url_packaged }}/images/promo/ces/zbottom.jpg" width="100%" align="absmiddle" style="padding: 0;">
	</section>





</div>
{% endblock %}