<taconite>
	{% if action == 'delete' %}
		<remove select="#cart-product-{{ sku }}" />
		<remove select="#basket-product-{{ sku }}" />
	{% endif %}
	
	{% if items_count == 0 %}
	<replace select="#cart-body-content">
		<div class="column" id="cart-body-content">
			<h3 class="ui header">我的购物车</h3>
			<div class="ui empty message">
				<div class="ui big header">
					<i class="cart icon"></i>
					<div class="content">
						<div class="sub header">还没找到喜欢的产品吗？<a href="{{ app_url_shop }}" class="ui magenta link">赶快去选购吧</a></div>
					</div>
				</div>
			</div>
		</div>
	</replace>
	<replace select="#basket-body-content">
		<div class="item" id="basket-body-content">
			<p>购物车中还没有商品，赶紧选购吧！</p>
		</div>
	</replace>
	{% endif %}
	
	{% if action == 'add' %}
		<replace select="#basket-body-content">
			<div class="item" id="basket-body-content">
				<table class="ui basic basket table">
					<thead>
						<tr>
							<th></th>
							<th>产品信息</th>
							<th>数 量</th>
							<th class="center aligned">小计</th>
							<th class="right aligned"></th>
						</tr>
					</thead>
					<tbody id="basket-item-wrapper">
						{% for product in basket_products %}
						<tr id="basket-product-{{ product.sku }}">
							<td>
								<a href="{{ product.view_url }}" class="ui cover image">
						      		<img src="{{ product.cover }}" />
								</a>
							</td>
							<td>
						      	<div class="content">
						          	<div class="header">
										<a href="{{ product.view_url }}" class="ui magenta link" title="{{ product.title }}">{{ product.title|truncate 18 '' }}</a>
									</div>
						      	</div>
							</td>
							<td class="center aligned">
								{{ product.quantity }}
							</td>
							<td class="center aligned">
								{{ product.subtotal }}元
							</td>
							<td class="right aligned">
								<a class="magenta ui close button" data-sku="{{ product.sku }}">
									<i class="close icon"></i>
								</a>
							</td>
						</tr>
						{% endfor %}
					    <tr>
							<td colspan="4">
								<div class="bill">
									<p class="ui gray text">
										共计：<b class="cart-items-count">{{ items_count }}</b>件产品
									</p>
									<p>
										总计：<b class="cart-total-money">{{ total_money }}</b>元
									</p>
								</div>
							</td>
					    	<td class="right aligned">
							  	<a class="ui magenta btn-4 btn-4c btn" href="{{ app_url_cart }}">
							    	去结算
								</a>
					    	</td>
						</tr>
					</tbody>
				</table>
			</div>
		</replace>
	{% endif %}
	<eval>
		{% if action == 'add' %}
			phenix.show_ok_note('已成功加入购物车', 2000);
		{% endif %}
		
		{% if action == 'delete' %}
			phenix.show_ok_note('已成功从购物车删除', 2000);
		{% endif %}
		
		// 更新购物篮
		{% if items_count %}
			$('#shopping-basket')
				.find('.ui.label')
				.removeClass('hide')
				.text({{ items_count }});
		{% else %}
			$('#shopping-basket')
				.find('.ui.label')
				.addClass('hide')
				.text({{ items_count }});
		{% endif %}
		
		// 更新购物车
		$('.cart-items-count').text({{ items_count }});
		$('.cart-total-money').text({{ total_money }});
	</eval>
</taconite>