<taconite>
	<replace select="#topic_guess_wap_list"><![CDATA[
		{% if result.total_rows %}
				<div id="topic_guess_wap_list">
					<div class="block title">相关话题</div>
					<div class="ui topic_guess list">
						{% for ft in result.rows %}
						
						<div class="item">
							<a href="{{ ft.topic.wap_view_url }}"></a>
							<img class="ui tiny image" src="{{ ft.topic.cover.thumbnails.medium.view_url }}">
							<div class="content">
								{{ ft.topic.title }}
								<div class="sub header">
									<i class="unhide icon"></i><span>{{ ft.topic.view_count }}</span><i class="comment outline icon"></i>{{ ft.topic.comment_count }}
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
					
					
					
					<!--<div id="topic_guess_wap_list">
						<div class="ui socialstick stickcount products two cards">
							                {% for ft in result.rows %}
							<div class="card" style="margin-bottom:20px;">
								<div class="image" {% if ft.topic.cover %}style="background-image: url('{{ ft.topic.cover.thumbnails.medium.view_url }}');"{% endif %}>
							    <a class="transparent" href="{{ ft.topic.wap_view_url }}">
									  <div class="sub title">
											<div style="height:35px;overflow:hidden;">{{ ft.topic.title }}</div>
							        <div class="extra count">
							        	<i class="unhide icon"></i> <span>{{ ft.topic.view_count }}</span> <i class="comment outline icon"></i> <span>{{ ft.topic.comment_count }}</span>
							        </div>
										</div>
							    </a>
								</div>
							</div>
						{% endfor %}													
															
						</div>
					</div>-->

		{% endif %}
	]]></replace>
</taconite>
