<taconite>
	{% if action == 'update' %}
	<replace select="#{{ r_id }}">
	{% endif %}
	
	{% if action == 'create' %}
	<append select="#product-presales">
	{% endif %}
		<div class="ui level" id="{{ presale._id }}" data-id="{{ presale._id }}">
			<h3 class="ui header">{{ presale.name }}</h3>

			<div class="content">
				<p class="time">
					{{ presale.mode }}
					{% if presale.limited_count %}
						, 限量{{ presale.limited_count }}个
					{% endif %}
				</p>
				<p class="time">
					{{ presale.summary }}
				</p>
				<div class="price">
					￥ {{ presale.price }}
				</div>
			</div>

			<div class="actions">
				<a class="ui small gray icon edit button" data-id="{{ presale._id }}" data-pid="{{ presale.product_id }}">
					<i class="edit icon"></i>
				</a>
				<a class="ui small gray icon remove button" data-id="{{ presale._id }}" data-pid="{{ presale.product_id }}">
					<i class="remove icon"></i>
				</a>
			</div>
		</div>
	{% if action == 'update' %}
	</replace>
	{% endif %}

	{% if action == 'create' %}
	</append>
	{% endif %}

	<eval>
		$('.ui.presale.modal').modal('hide');
		$('#presale-form').clearForm();
	</eval>
</taconite>