<taconite>
	<replace select="#user-notice">
	  	<div class="menu" style="width:330px;">
			<div class="item" id="basket-body-content">
				<ul class="menu_zzjs_net">
				<li class="this_zzjs"><a href="javascript:void(0)" _fcksavedurl="javascript:void(0)">动态</a></li>
				<li><a href="javascript:void(0)" _fcksavedurl="javascript:void(0)">关注</a></li>
				<li><a href="javascript:void(0)" _fcksavedurl="javascript:void(0)">通知</a></li>
				</ul>
				<div class="sub_zzjs">
				<ul style="display:block;">
				<li>
					
						<div class="">
							<b>笨笨</b>&nbsp;回复了话题 巴黎VS纽约,你是哪一派?
						</div>
						<div class="">
							2个小时前
						</div>
					
				</li>
				<li>
					<a href=" " _fcksavedurl=" ">
						<div class="">
							<b>木辛抽抽</b>&nbsp;回复了话题 三大外媒开跑实测iPhone6,防震模式、240fps慢动作录影,效果不错
						</div>
						<div class="">
							2014年9月31日&nbsp;19:30
						</div>
					</a>
				</li>
				<li>
					这些人最近鸟你了
				<li>
					<a class="ui small link">
						<img class="ui avatar image" alt="sherry wang" src="http://frbird.qiniudn.com/avatar/140815/53ed6e4b989a6a1d078b6725-avn.jpg">
						sherry wang
					</a>
				</li>
				<li>
					<a class="ui small link">
						<img class="ui avatar image" alt="sherry wang" src="http://frbird.qiniudn.com/avatar/140815/53ed6e4b989a6a1d078b6725-avn.jpg">
						sherry wang
					</a>
				</li>
				<li class="borf">
					<i class="settings icon"></i>
					<div class="flr">
						<a href="">
							查看全部
						</a>
					</div>
				</li>
				</ul>
				</div>
			</div>
		</div>
	</replace>
	
	<eval>
    alert(123);
	</eval>
</taconite>
