{%extends 'layout/mobile.html'%}
{% block title %}社区{% endblock %}
{% block page_css %}
<style type="text/css">
body{
	background:#fff;
}
#mfrbird{
	margin-top:0;
	margin-bottom:2em;
}
.ui.wap{
	border-bottom: 1px solid rgba(0,0,0,.25);
}
.topic-nav{
	border-bottom:  1px solid rgba(0,0,0,0.25);
}
.ui.horizontal.list >.item{
	padding-top: 13px;
	padding-bottom: 12px;
	vertical-align: bottom;
	margin-left: 18px;
	margin-bottom: 1px;
}
.ui.horizontal.list >.item:first-child,.ui.horizontal.list >.item:last-child{
	padding-top: 13px;
	padding-bottom: 12px;
}
.ui.horizontal.list >.item.active{
	border-bottom: 2px solid #f36;
	margin-bottom: -1px; 
}
.ui.horizontal.list >.item.active>.ui.link{
	color: #f36;
}
.ui.horizontal.list >.item>.ui.link{
	color: #000;
}

#tmenu{
  	width: 100%;
  	height: 42px;
  	overflow: hidden;
	position:relative;
	background:#fff;
}
#tmenu:before {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 1px;
	background: rgba(34,36,38,.15);
}
#tmenu .swiper-slide {
	padding: 0 10px;
	width:auto;
	line-height: 42px;
}
#tmenu .swiper-slide a{
	color: #5d6266;
	text-decoration: none;
	padding: 11px 10px;
	font-weight: 400;
	font-size: 14px;
}
.swiper-slide a.ui.active.item {
    color: #f36 !important;
}
.swiper-slide a.ui.active.item:before{
	content: '';
	width: 58.333%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 20.8335%;
	background: #f36;
}
</style>
{% endblock %}

{% block layout_js %}
	<script type="text/javascript" >
    var show_type = "{{ show_type }}";
    var type = "{{ type }}";
    var sort = "{{ sort }}";

    // 话题加载
    function ajax_load_topic(type, sort, page, size){
        var url = '{{ app_url_wap }}/topic/ajax_fetch_more';
        $.get(url, { type:type, sort:sort, page:page, size:size }, function(rs){
            if(rs.data.results.total_page > rs.data.results.current_page){
                $('#topic-more')
                    .hide()
                    .attr({'status': 0, 'page': rs.data.page});
            }else{
            $('#topic-more').html('<div style="text-align:center;">没有更多</div>').show();
            }
            var rendered = phenix.ajax_render_result('#fetch_more_topic_tpl', rs.data);
            if(rs.data.page==1){
              $('#topic-box').html(rendered);          
            }else{
              $('#topic-box').append(rendered);
            }
        }, 'json');
    }
  </script>

{% endblock %}

{% block jquery %}
	$('#slider').flexslider({
		animation: "slide",
		directionNav: false, 
		controlNav: true,
		animationLoop: true,
		slideshow: true,
		slideshowSpeed: 5000,
		animationDuration: 300,
		animationSpeed: 300,
    });
	var flexheight = Math.floor($('#mfrbird').width()*9/16)+'px';
	$('#slider,#slider.flexslider .slides,#slider.flexslider .slides li,#slider.flexslider .slides li a').css('height',flexheight);

	window.onload = function() {
		var mySwiper2 = new Swiper('#tmenu',{
		  freeMode : true,
		  slidesPerView : 'auto',
	  });
	}

	//ajax加载更多(滚动条接近底部加载)
  $(window).scroll(function(){
　　var scrollTop = $(this).scrollTop();
　　var scrollHeight = $(document).height();
　　var windowHeight = $(this).height();
　　if(scrollTop + windowHeight > scrollHeight-100){
      var stat = $('#topic-more').attr('status');
      page = parseInt($('#topic-more').attr('page')) + 1;
      category_id = $('#topic-more').attr('category_id');

      if(stat==0){
        ajax_load_topic(show_type, type, sort);
      }
　　}
  });

  // 初始加载
  ajax_load_topic(show_type, type, sort);

  // 选择分类
  $('.childcell').click(function(){
    $('.childcell').removeClass('active');
    $(this).addClass('active');
    show_type = $(this).attr('show_type');
    $('#topic-more').attr('show_type', show_type);
    $('#topic-box').html('');
    ajax_load_topic( show_type, type, sort, 1);
  });

{% endblock %}
{% block content %}
<div class="topic-nav">
	<div class="ui responsive grid">
		<div class="row ptb-0">
			<div class="ui center aligned column">
				<div class="ui horizontal list">
                    <div class="item active">
                        <a href="{{ app_url_wap }}/topic" class="ui link">话题</a>
                    </div>
                    <div class="item">
                        <a href="{{ app_url_wap }}/try" class="ui link">免费试用</a>
                    </div>
                    <div class="item">
                        <a href="{{ app_url_wap }}/active" class="ui link">活动</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="ui topicnew page">
	{% ad_list var:'ad' state:2 size:5 name:'wap_topic_slide' %}
	<div id="slider" class="flexslider flex-single">
	  <ul class="slides">
	    {% for ad in ad.rows %}
	      <li style="background-image: url('{{ ad.cover.fileurl }}');">
	        <a href="{{ ad.mm_view_url }}" title="{{ ad.title }}" alt="{{ ad.title }}">
	            <img src="{{ ad.cover.fileurl }}" alt="{{ ad.title }}" style="display: none;" />
	        </a>
	      </li>
	    {% endfor %}
	  </ul>
	</div>
	<!-- 话题推荐 -->
	<div class="recommend-topic">
	<div class="ui responsive grid">
		<div class="row pb-0 pt-4r">
			<div class="column">
				<h4 class="ui header mb-2r">话题推荐</h4>
			</div>
		</div>
	</div>
	<div class="recom-item">
    {% cache cache_key:'wap_index_product_stick_slide' ttl:600 disable_cache:app_disable_cached %}
        
		{% ad_list var:'adslide2' page:1 size:4 state:2 name:'web_index_product_stick_slide' %}
        {% if adslide2.rows %}
		
		{% for ad in adslide2.rows %}
		<div class="recom-cell">
			<a href="{{ ad.view_url }}" title="{{ ad.title }}">
				<img class="lazy" data-original="{{ ad.cover.fileurl }}" src="{{ app_url_packaged }}/images/icon/loading.png" title="{{ ad.title }}">
				<div class="desc">
					{{ ad.title }}
				</div>
			</a>
		</div>
		 {%endfor%}
         {%endif%}
         
         {% endcache %}
		 
         {% cache cache_key:'wap_index_topic_stick_slide' ttl:500 disable_cache:app_disable_cached %}
         
         {% ad_list var:'adslide3' page:1 size:4 state:2 name:'web_index_topic_stick_slide' %}
		 {% for ad in adslide3.rows %}
		<div class="recom-cell">
			<a href="{{ ad.view_url }}" title="{{ ad.title }}">
				<img class="lazy" data-original="{{ ad.cover.fileurl }}" src="{{ app_url_packaged }}/images/icon/loading.png" title="{{ ad.title }}">
				<div class="desc">
                        {{ ad.title }}
                </div>
			</a>
		</div>
		{% endfor %}
		{% endcache %}
		
	</div>

	<div id="tmenu">
		<div class="swiper-wrapper">
			{% category_list var:'category' only_open:1 domain:1 show_all:0 current:cid sort_field:'total_desc' %}
	      <div class="swiper-slide">
	        <a class="ui childcell item {%if category_id==0%}active{%endif%}" href="javascript:void(0);" show_type="0">全部话题</a>
	      </div>
			{% for cat in category.rows %}
	      {% if cat.sub_count>0 %}
	        <div class="swiper-slide">
	           <a class="ui childcell item {%if category_id==cat._id%}active{%endif%}" href="javascript:void(0);" show_type="{{ cat._id }}">{{ cat.title }}</a>
	        </div>
	      {%endif%}
			{% endfor %}
		</div>
	</div>

	<div class="ui responsive grid" style="padding:0;margin:0">
		<div class="row" style="padding-top:0!important;">
			<div class="column" style="padding:0;">
				<div class="ui topiclist segment">
						
						<div class="ui topic relaxed divided list topic-box-list" id="topic-box">
              <!--ajax load-->
						</div>
				</div>
			</div>
		</div>
	</div>

	<div id="topic-more" category_id="{{ cid }}" page="1" status="0">
        <div style="text-align:center;margin:10px auto;">
          <img src="{{ app_url_packaged }}/images/mall/loading2.gif" alt="loading" width="30" height="30">
        </div>
      </div>
	</div>


{% endblock %}
{% block templates %}
  {% mustache id:'fetch_more_topic_tpl' tpl:'mustache_m/fetch_more_topic.mustache' %}
{% endblock %}