{%extends 'layout/board.html'%}
{% block page_css %}
<style type="text/css">


</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}

{% endblock %}
{% block content %}
<div class="home">
	<div class="ui responsive grid">
		<div class="row">
			<div class="ui column">
				<h4>Flat Icons</h4>
				<a href="" class="blue ui icon button">
					<i class="flat icon add62"></i> 联系电话
				</a>
				<a href="" class="circular ui icon button">
					<i class="flat icon add63"></i>
				</a>
				<a href="" class="circular ui icon button">
					<i class="flat icon add64"></i>
				</a>
				<a href="" class="circular ui icon button">
					<i class="flat icon address16"></i>
				</a>
			
				<a href="" class="circular ui red icon button">
					<i class="flat icon weibo"></i>
				</a>
				<a href="" class="circular ui blue icon button">
					<i class="flat icon qqweibo"></i>
				</a>
				<a href="" class="circular ui green icon button">
					<i class="flat icon douban"></i>
				</a>
				<a href="" class="circular ui blue icon button">
					<i class="flat icon renren"></i>
				</a>
				<a href="" class="circular ui red icon button">
					<i class="flat icon kaixin"></i>
				</a>
				<a href="" class="circular ui green icon button">
					<i class="flat icon wechat"></i>
				</a>
				<a href="" class="circular ui blue icon button">
					<i class="flat icon qq"></i>
				</a>
			
			</div>
		</div>
		<div class="row">
			<div class="ui column">
				<h4>Social Buttons</h4>
				<a class="ui weibo icon button"><i class="flat icon weibo"></i> 新浪微博</a>
				<a class="ui facebook button">facebook</a>
				<a class="ui twitter button">twitter</a>
			</div>
		</div>
		<div class="row">
			<div class="ui column">
				<h4>Buttons</h4>
				<div class="mini active black ui button">
				  迷你型按扭
				</div>
				<div class="tiny active green ui button">
				  超小型按扭
				</div>
				<div class="small active red ui button">
				  小型按扭
				</div>
				<div class="medium active blue ui button">
				  普通按扭
				</div>
				<div class="large active purple ui button">
				  大型按扭
				</div>
				<div class="big active teal ui button">
				  超大型按扭
				</div>
				<div class="huge active orange ui button">
				  巨大型按扭
				</div>
				<div class="massive active magenta ui labeled icon button">
					<i class="flat icon bird"></i>
				  	最大型太火鸟
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}