{%extends 'layout/board.html'%}
{% block title %}活动规则-{% endblock %}
{% block page_css %}
<style type="text/css">
	.cr {
		text-align: center;
		color: rgba(0, 0, 0, 0.4);
		margin-top: 4.5em;
		margin-bottom: 3em;
	}
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}

{% block content %}
<section class="ui block">
	<div class="ui responsive center aligned grid">
		<div class="row">
			<div class="center aligned column section-title">
				<h3 class="ui header">Goccia强势来袭活动规则</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="fourteen wide column">
				<div class="content-box">
					<div class="ui selection list">
						<div class="item">
							<h3 class="ui magenta header">全球最小的可穿戴设备Goccia强势来袭，2万大奖免费送</h3>
							<p>首次发售，限量五百套！428元超底价，只限前十！</p>
						</div>
						
						<div class="item">
							<h3 class="ui magenta header">步骤：</h3>
							<div class="ui animated list">
							  	<div class="item">
							    	<i class="flat icon_weibo icon"></i>
							    	<div class="content">
							      		注册官方网站——分享至新浪微博——@太火鸟——获得免单资格
							    	</div>
							  	</div>
							  	<div class="item">
							    	<i class="flat icon_weixin icon"></i>
							    	<div class="content">
							      		注册官方网站——分享至微信朋友圈——截图发送官方微信——获得免单资格
							    	</div>
							  	</div>
							</div>
						</div>
						
						<div class="item">
							<h3 class="ui magenta header">规则：</h3>
							<div class="ui animated list">
								<div class="item">活动时间：2014年5月28日—2014年6月26日</div>
								<div class="item">活动内容：活动期间30个Goccia产品免费送出，每天一位！太火鸟将会送出总价值20850元的产品。幸运的那位可能就是你哦！</div>
								<div class="item">活动对象：所有活动期间注册太火鸟官网并分享微博或微信的用户。</div>
								<div class="item">活动奖励：Goccia组合一套（包含Goccia、充电底座、USB连接线、卡子、腕带、环扣）</div>
							</div>
							
						</div>
						
						<div class="ui gray message">
							<i class="flat close icon"></i>
							注：活动期间，请保持手机畅通，我们的客服人员会及时与您联系，核实中奖信息。
						</div>
						
						<div class="cr">本活动的最终解释权归北京太火红鸟科技有限公司所有。</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}