{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">

</style>
{% endblock %}
{% block jquery %}
	var s = e(window).width();
	e("#fixedslide > .ui.slide > .item").width(s);
	
	var $frame = $('#fixedslide');
	// Call Sly on frame
	$frame.sly({
		horizontal: 1,
		itemNav: 'basic',
		smart: 1,
		activateMiddle: 1,
		activateOn: 'click',
		
		// Automated cycling
		cycleBy: "items",
		cycleInterval: 3500,
		pauseOnHover: 1,
		
		// Dragging
		mouseDragging: 1,
		touchDragging: 1,
		releaseSwing: 1,
		
		prev: "#fixedslide .prev",
		next: "#fixedslide .next",
		
		pagesBar: $frame.find('.pages'),
		pageItem: 'items',
		activatePageOn: 'click',
		pageBuilder: function(index){
			return '<a href="javascript:void(0);">'+ (index + 1) +'</a>';
		},
		
		// Mixed options
		startAt: 0,
		speed: 300,
		elasticBounds: 1,
		easing: 'easeInOutExpo',
		dragHandle: 1,
		dynamicHandle: 1,
		clickBar: 1,
	});
	
	$(window).resize(function() {
		var s=$(window).width();
		e("#fixedslide > .ui.slide > .item").width(s);
		
		$frame.sly('reload');
	});
	
	$('.schedule .count[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
	$('.vote .timer[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="number">%D</div><div class="unit">天</div></div><div class="item"><div class="number">%H</div><div class="unit">时</div></div> <div class="item"><div class="number">%M</div><div class="unit">分</div></div><div class="green item"><div class="number">%S</div><div class="unit">秒</div></div>'));
		});
	});
	
	// 分享按钮
	phenix.bind_share_list();
	
	skrollr.init({
		forceHeight: false,
		mobileCheck:function(){},
		mobileDeceleration:0.004,
	});	
{% endblock %}

{% block content %}

<div id="homepage">
	<div class="response hide-on-mobile" data-650="transform: scale(0,0);opacity:0;" data-651="transform: scale(1,1);opacity:1;">
		<img src="{{ app_url_packaged }}/images/dimension.jpg" width="100%" alt="太火鸟-中国最火爆的智能硬件孵化平台"/>
		<div class="attention">
			关注太火鸟
		</div>
	</div>
	<div id="fixedslide" class="frame">
		{% ad_list var:'adslide' page:1 size:6 state:2 name:'web_index_slide' %}
		<div class="ui slide">
			{% for ad in adslide.rows %}
			<div class="item">
				<div class="featured-vendor {{ ad.text_align }}" style="background-image: url('{{ ad.cover.fileurl }}'); background-color: {{ ad.bgcolor }};">
					{% if ad.mode == 2 %}
					<div class="overlay">
						{% if ad.cate_title %}
						<h3>{{ ad.cate_title }}</h3>
						{% endif %}
						<h1>{{ ad.title }}</h1>
						<p class="snippet">
							{{ ad.sub_title }}
						</p>
						<a class="ui big inverted button" href="{{ ad.view_url }}" target="_blank">{{ ad.btn_title }}</a>
					</div>
					{% else %}
					<a class="imglink" href="{{ ad.view_url }}" target="_blank"></a>	
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pages"></div>
		<a class="prev" href="#">
			<i class="angle left icon"></i>
		</a>
		<a class="next" href="#">
			<i class="angle right icon"></i>
		</a>
	</div>

	<section class="ui white background block">
		<div class="ui responsive grid">
			{% ad_list var:'adslide2' page:1 size:4 state:2 name:'web_index_product_stick_slide' %}
            {% if adslide2.rows %}
            <div class="row">
                <div class="column">
                    <div class="ui four groom blocks">
                        {% for ad in adslide2.rows %}
                        <div class="block">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank" target="_blank"></a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </section>
        
	<section class="ui big shoplist block">
		<div class="ui responsive grid">
			<div class="two column middle aligned row">
				<div class="twelve wide column">
					<h2 class="block title">
						<a href="{{ app_url_shop }}/c0" class="ui line">新品</a> <small>我们用心挑选数以万计的创意产品，为你每次的一见钟情</small>
					</h2>
				</div>
                <div class="right aligned four wide column">
					<a href="{{ app_url_shop }}/c0" class="ui inverted gray button">
						查看更多
					</a>
                </div>
			</div>
			<div class="row">
				<div class="column">
					<div class="ui four products cards">
						{% for product in products %}
					  		{% include "block/product_card.html" %}
					    {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="ui small topic white background block">
	    <div class="ui responsive sticktopic grid">
			<div class="two column middle aligned row">
				<div class="twelve wide column">
					<h2 class="block title">
						<a href="{{ app_url_topic }}" class="ui line">社区</a> <small>创意与创意的碰撞，会员与会员的交流，为你每次的一吐为快</small>
					</h2>
				</div>
				<div class="right aligned four wide column">
					<a href="{{ app_url_topic }}" class="ui inverted gray button">
						进入社区
					</a>
                </div>
			</div>
			<div class="row">
				<div class="column">
                    {% ad_list var:'stkad' size:4 name:'home_page_topic' state:2 %}
                    {% if stkad.total_rows %}
                    <div class="ui socialstick stickcount four blocks">
                        {% for skad in stkad.rows %}
                        <div class="block">
            				<div class="image" {% if skad.cover %}style="background-image: url('{{ skad.cover.fileurl }}');"{% endif %}>
                                <a class="transparent" href="{{ skad.view_url }}" target="_blank">
            						{% if skad.cate_title %}
            						<label class="ui cate label">{{ skad.cate_title }}</label>
            						{% endif %}
            						<div class="sub title">
            							{{ skad.title }}
                						<div class="extra count">
                							<i class="unhide icon"></i> {{ skad.click_count }}
                						</div>
            						</div>
                                </a>
            				</div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
					{% topic_list var:'list' type:1 page:1 size:6 %}
                    <div class="ui two homesocial blocks">
                        {% for topic in list.rows %}
							<!-- 判断话题是否可以显示 -->
							{% if topic.published %}
							<div class="block">
								<div class="ui headline header">
									{% if topic.cover %}
									<a class="ui image" href="{{ topic.view_url }}" title="{{ topic.title }}">
											{% if loop.odd %}
										<img src="{{ topic.cover.thumbnails.mini.view_url }}" alt="{{ topic.title }}-太火鸟智能硬件社区"/>										{% else %}
													<img src="{{ topic.cover.thumbnails.mini.view_url }}" alt="{{ topic.title }}"/>	
											{% endif %}
									</a>
									{% else %}
									<a class="ui small avatar image" href="{{ topic.user.home_url }}" title="{{ topic.user.nickname }}">
										<img src="{{ topic.user.small_avatar_url }}" alt="{{ topic.user.nickname }}" />
									</a>
									{% endif %}
									<div class="content">
										<a class="ui line" href="{{ topic.view_url }}" title="{{ topic.title }}">
											{{ topic.title|truncate 32 }}
										</a>
										<div class="sub header">
											{{ topic.strip_description|truncate 100 }}
										</div>
										<div class="extra">
											<div class="ui horizontal list">
												<div class="item">
													<a href="{{ topic.user.home_url }}" class="ui magenta link">@{{ topic.user.nickname }}</a>
												</div>
												<div class="item">
													<i class="unhide icon"></i> {{ topic.view_count }}
												</div>
												<div class="item">
													<i class="thumbs outline up icon"></i> {{ topic.love_count }}
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						{% endfor %}
                    </div>
				</div>
			</div>
		</div>
	</section>

  	<section class="ui big together white background block">
    	<div class="ui responsive grid">
      	  	<div class="row">
                <div class="column">
    				<h2 class="block title">
    					合作伙伴
    				</h2>
                </div>
      	  	</div>
      	  	<div class="row">
        		<div class="column">
          			<a href="http://cn.technode.com/ " title="动点科技" target="_blank"><img src="{{ app_url_packaged }}/images/logo_technode.jpg" alt="动点科技"></a>
          		  	<a href="http://www.geekpark.net/" title="极客公园" target="_blank"><img src="{{ app_url_packaged }}/images/logo_geekpark.jpg" alt="极客公园"></a>
          		  	<a href="http://www.leikeji.com/" title="雷科技" target="_blank"><img src="{{ app_url_packaged }}/images/logo_leikeji.jpg" alt="雷科技"></a>
          		  	<a href="http://www.shijue.me/" title="视觉中国" target="_blank"><img src="{{ app_url_packaged }}/images/logo_shijue.jpg" alt="视觉中国"></a>
          		  	<a href="http://techcrunch.cn" title="TC" target="_blank"><img src="{{ app_url_packaged }}/images/logo_tech.jpg" alt="TC"></a>
          		  	<a href="http://www.huodongxing.com/" title="活动行" target="_blank"><img src="{{ app_url_packaged }}/images/logo_huodongxing.jpg" alt="活动行"></a>
					<a href="http://www.zhidx.com/" title="智东西" target="_blank"><img src="{{ app_url_packaged }}/images/logo_zhidongxi.jpg" alt="智东西"></a>
					<a href="http://www.1243.com/" title="三分微视" target="_blank"><img src="{{ app_url_packaged }}/images/logo_sfws.jpg" alt="三分微视"></a>
        		</div>
      	  	</div>
    	</div>
  	</section>
	
</div>
{% endblock %}
