{%extends 'layout/column.html'%}

{% block page_css %}
<style type="text/css">

</style>
{% endblock %}
{% block jquery %}
	var s = e(window).width();
	e("#fixedslide > .ui.slide > .item").width(s);
	
	var $frame = $('#fixedslide');
	// Call Sly on frame
	$frame.sly({
		horizontal: 1,
		itemNav: 'basic',
		smart: 1,
		activateMiddle: 1,
		activateOn: 'click',
		
		// Automated cycling
		cycleBy: "items",
		cycleInterval: 3500,
		pauseOnHover: 1,
		
		// Dragging
		mouseDragging: 1,
		touchDragging: 1,
		releaseSwing: 1,
		
		prev: "#fixedslide .prev",
		next: "#fixedslide .next",
		
		pagesBar: $frame.find('.pages'),
		pageItem: 'items',
		activatePageOn: 'click',
		pageBuilder: function(index){
			return '<a href="javascript:void(0);">'+ (index + 1) +'</a>';
		},
		
		// Mixed options
		startAt: 0,
		speed: 300,
		elasticBounds: 1,
		easing: 'easeInOutExpo',
		dragHandle: 1,
		dynamicHandle: 1,
		clickBar: 1,
	});
	
	$(window).resize(function() {
		var s=$(window).width();
		e("#fixedslide > .ui.slide > .item").width(s);
		
		$frame.sly('reload');
	});
	
	$('.schedule .count[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
	$('.vote .timer[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('<div class="item"><div class="number">%D</div><div class="unit">天</div></div><div class="item"><div class="number">%H</div><div class="unit">时</div></div> <div class="item"><div class="number">%M</div><div class="unit">分</div></div><div class="green item"><div class="number">%S</div><div class="unit">秒</div></div>'));
		});
	});
	
	// 分享按钮
	phenix.bind_share_list();
	
	skrollr.init({
		forceHeight: false,
		mobileCheck:function(){},
		mobileDeceleration:0.004,
	});	
{% endblock %}

{% block content %}

<div id="homepage">
	<div id="fixedslide" class="frame">
		{% ad_list var:'adslide' page:1 size:6 state:2 name:'web_index_slide' %}
		<div class="ui slide">
			{% for ad in adslide.rows %}
			<div class="item">
				<div class="featured-vendor {{ ad.text_align }}" style="background-image: url('{{ ad.cover.fileurl }}'); background-color: {{ ad.bgcolor }};">
					{% if ad.mode == 2 %}
					<div class="overlay">
						{% if ad.cate_title %}
						<h3>{{ ad.cate_title }}</h3>
						{% endif %}
						<h1>{{ ad.title }}</h1>
						<p class="snippet">
							{{ ad.sub_title }}
						</p>
						<a class="ui big inverted button" href="{{ ad.view_url }}" target="_blank">{{ ad.btn_title }}</a>
					</div>
					{% else %}
					<a class="imglink" href="{{ ad.view_url }}" target="_blank"></a>	
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="pages"></div>
		<a class="prev" href="#">
			<i class="angle left icon"></i>
		</a>
		<a class="next" href="#">
			<i class="angle right icon"></i>
		</a>
	</div>

	<section class="ui white background block">
		<div class="ui responsive grid">
			{% ad_list var:'adslide2' page:1 size:4 state:2 name:'web_index_product_stick_slide' %}
            {% if adslide2.rows %}
            <div class="row">
                <div class="column">
                    <div class="ui four groom blocks">
                        {% for ad in adslide2.rows %}
                        <div class="block">
                            <div class="image" style="background-image: url('{{ ad.cover.fileurl }}');padding:30% 0;">
                                <a href="{{ ad.view_url }}" title="{{ ad.title }}" target="_blank" target="_blank"></a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </section>
    
    <!--推荐新品-->    
	<section class="ui big shoplist block">
    	<div class="ui newest wideping grid">
    		<div class="row">
    			<div class="column">
                    {% product_list var:'newest' page:1 stage:9 only_onsale:1 size:8 sort:'latest' %}
                    {% if newest.rows %}
                    <div class="ui four products cards">
    					{% for product in newest.rows %}
    				  		{% include "block/product_card.html" %}
    				    {% endfor %}
                    </div>
    				{% endif %}
                </div>
            </div>
        </div>
	</section>
    
    <!--社区部分-->
	<div class="ui wideping grid">
		<div class="row">
			<div class="center aligned column">
                <!--社区头条-->
				{% if tt %}
                    <div class="ui four products cards">
					<!-- 判断话题是否可以显示 -->
					{% if tt.published %}
                        <div class="card special cat">
                            <div class="problock">
                                <a title="{{ tt.title }}" href="{{ tt.view_url }}" style="background-image: url({{ tt.cover.fileurl }});" class="thumb" target="_blank"></a>
                                <h2>
                                    <a href="{{ tt.view_url }}" title="{{ tt.title }}" class="ui line" target="_blank">
                        			    {{ tt.title|truncate, 32, '' }}
                        		    </a>
                                </h2>
                                <div class="excerpt">
                                    <p>{{ topic.strip_description|truncate, 90, '' }}</p>
                                </div>
                                <div class="cats">
                                    <span class="unit">@</span>{{ topic.user.nickname }}
                                </div>
                                <span class="counter">
                                    <i class="heart icon"></i> {{ topic.love_count }}
                                </span>
                            </div>
                            <div class="speblock">
                                <div class="randomcats">
                                    <a class="catlink" href="{{ tt.view_url }}" target="_blank" style="background-image: url('{{ tt.cover.fileurl }}');">
                                        <h2>{{ tt.title|truncate, 32, '' }}</h2>
                                        <p>{{ topic.strip_description|truncate, 90, '' }}</p>
                                        <span class="more">浏览更多</span>
                                    </a>
                                </div>
                                <div class="ribbons">
                                    <span class="ribbon stick">社区头条</span>
                                </div>
                            </div>
                        </div>
					{% endif %}
                    </div>
				{% endif %}
                
                <!--社区推荐-->
        		{% ad_list var:'stkad' page:1 size:4 state:2 name:'home_page_topic' %}
                {% if stkad.total_rows %}
                <div class="ui socialstick stickcount four blocks">
                    {% for skad in stkad.rows %}
                    <div class="block">
        				<div class="image" {% if skad.cover %}style="background-image: url('{{ skad.cover.fileurl }}');"{% endif %}>
                            <a class="transparent" href="{{ skad.view_url }}" target="_blank">
        						<div class="sub title">
        							{{ skad.title }}
            						<div class="extra count">
            							<i class="unhide icon"></i> {{ skad.click_count }}
            						</div>
        						</div>
                            </a>
        				</div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                <!--社区话题-->
                {% topic_list var:'topics' type:1 page:1 size:12 %}
                <div class="ui four products topics cards">
					{% for topic in topics.rows %}
						<!-- 判断话题是否可以显示 -->
						{% if topic.published %}
                            {% include "block/topic_card.html" %}
                        {% endif %}
				    {% endfor %}
				</div>
                
                <div class="resultbox">
                    <a href="{{ app_url_topic }}" class="ui magenta inverted more button">
                       <i class="search icon"></i> 查看更多话题 
                    </a>
                </div>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
