{%extends 'layout/base.html'%}
{% block title %}现在登录-{% endblock %}
{% block page_css %}
<style type="text/css">
	body {
		background-color: #b9d133;
	}
</style>
{% endblock %}
{% block js %}
{% endblock %}

{% block jquery %}
	phenix.build_auth_page();
{% endblock %}

{% block layout_content %}
{% include "block/auth_header.html" %}
<div id="bd">
	{% block content %}
	<div class="ui page grid">
		<div class="six wide column">
			<div class="ui gird segment log-in">
				<form action="{{ app_url_action_base }}/auth/do_login" class="ui form auth-form" method="post" id="login-form">
					<input type="hidden" name="t" value="{{ login_token }}" />
					<div class="ui header">
						<h2>现在登录</h2>
					</div>
					<div class="field">
					  	<input type="text" name="account" placeholder="邮箱账号" />
					</div>
					<div class="field">
					  	<input type="password" name="password" id="password" placeholder="密码" />
					</div>
					<div class="inline field">
						<div class="ui checkbox">
				          	<input type="checkbox" name="terms">
				          	<label>下次自动登录</label>
				        </div>
						
						<a href="" title="忘记密码？" class="forgot">忘记密码？</a>
					</div>
				
					<div class="inline field">
						<div class="ui blue submit button" >立即登录</div>
						<label>没有账号？<a href="{{ app_url_register }}" title="立即注册" >立即注册</a></label>
					</div>
				</form>
			</div>
		</div>
		<div class="ten wide column">
			
		</div>
	</div>
	{% endblock %}
</div>
{% endblock %}




