{%extends 'layout/base.html'%}
{% block title %}太火鸟孵化智能硬件新品预热体验会-{% endblock %}
{% block page_css %}
<style type="text/css">
	body{
		margin:0;
		padding:0;
		min-height:100% !important;
		overflow-y:hidden;
	}
	.pubindex{
		margin:0;
		padding:0;
		height:100%;
		width:100%;
		background:url('{{ app_url_packaged }}/images/publish_f1.jpg') repeat scroll 0 0 rgba(0, 0, 0, 0);
		color:#FFF;
	}
	.pubindex h3.ui.header{
		font-size:5rem;
		letter-spacing:10px;
		margin:0 auto .3rem;
	}
	.pubindex h3+p{
		font-size:2.875rem;
		margin-bottom:.3rem;
		font-weight: normal;
	}
	.pubindex p+p{
		font-size: 0.875em;
		margin:.3rem auto;
		padding:0;
	}
	.pubindex p.time {
		margin-top: 1em;
	}
	.pubindex .ui.items>.item ,.pubindex .ui.items>.item:hover{
		border-bottom: 0 solid rgba(0,0,0,.2);
		box-shadow: 0 0px 0 0 rgba(0,0,0,.2) inset;
		background:rgba(0,0,0,0);
	}
	.pubindex .ui.big {
		padding-top:2rem;
		padding-bottom:14rem;
	}
	.pubindex .ui.three.items {
		padding: 0 15%;
	}
	.pubindex .item .image{
		width:68%;
		margin:auto;
	}
	.pubindex .bottons.row {
		margin-top: 0;
	}
	.pubindex .ui.btn {
		border: 2px solid #fff;
		border-radius: 0.175em;
		padding: 1em 4em;
	}
</style>
{% endblock %}
{% block jquery %}
{% endblock %}
{% block content %}
<section class="pubindex page">
	<div class="ui big block">
		<div class="ui responsive grid">
			<div class="row">
				<div class="center aligned column">
					<img src="{{ app_url_packaged }}/images/publish_f8.png" style="width:50%">
					<h3 class="ui header">设计让产品更性感</h3>
					<p>太火鸟孵化智能硬件新品预热体验会</p>
					<p class="time">时间:&nbsp;2014/11/22 &nbsp;13:30</p>
					<p>地址：&nbsp;北京海淀大街27号亿景大厦 &nbsp;天使汇 &nbsp; 极客咖啡三层</p>
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
					<div class="ui three items">
						<div class="item">
							<div class="image">
								<a href="http://www.taihuoniao.com/topic/view-101079-1.html" target="_blank">
									<img src="{{ app_url_packaged }}/images/publish_f4.png" class="ui pop" data-content="解决新手爸妈的喂奶问题 - 婴萌智能配奶机" data-variation="inverted" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="http://www.taihuoniao.com/topic/view-101079-1.html" target="_blank">
									<img src="{{ app_url_packaged }}/images/publish_f5.png" class="ui pop" data-content="把世界最好的空气带回家 - 造梦者新风机" data-variation="inverted" />
								</a>
							</div>
						</div>
						<div class="item">
							<div class="image">
								<a href="http://www.taihuoniao.com/topic/view-101079-1.html" target="_blank">
									<img src="{{ app_url_packaged }}/images/publish_f6.png" class="ui pop" data-content="55度 我有温度 - 55度杯" data-variation="inverted" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottons row">
				<div class="center aligned column">
					<a class="ui btn-4 btn-4c icon-arrow-right btn" href="{{ app_url_domain }}/home">
						<span>进入官网</span>
					</a>
					<a class="ui btn-4 btn-4c icon-arrow-right btn" href="{{ app_url_domain }}/topic/view-101079-1.html">
						<span>活动专题</span>
					</a>
					<a class="ui btn-4 btn-4c icon-arrow-right btn" href="http://webinar.vhall.com/839245073" target="_blank">
						<i class="play icon"></i>观看直播
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
