{%extends 'layout/column.html'%}
{% block title %}搜索 {{q}}-{% endblock %}
{% block page_css %}
<style type="text/css">
.ui.selection.list .item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
}
.ui.selection.list .item:active {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.7);
}
.social.search .suggest {
    margin: 1rem auto 0;
}
.social.search .suggest a {
    color: #fff;
}

.content em {
  color: red;
  font-style: inherit;
  margin-left: 0.2rem;
}
.ui.list .item > img{
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}
.ui.list .item .attribute {
    color: rgba(112, 123, 135, 0.91);
}
.ui.list .item .desc {
    margin: 10px 0;
    color: rgba(112, 123, 135, 0.91);
}
#searchpage .tags .ui.line {
    margin-right: .85em;
    font-size: 14px;
}
.searcmu.buttons > .button{
	min-width: 115px;
}
.search .ui.label{
	border-radius: 2.5rem;
	margin-left: 15px;
	padding: .1em .8em !important;
}
#searchpage .ui.tabox .row {
  padding-bottom: 0 !important;
}
.ui.search.list.items>.item {
  margin-bottom: 0rem; 
  padding: 1em 0;
  width: 100% !important;
  min-height: 0 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
</style>
{% endblock %}

{% block jquery %}
	//最新
  $('.ui.lastest.button').click(function(){
    phenix.redirect("{{ app_url_domain }}/search?t={{ t }}&q={{ q }}&evt={{ evt }}&s=1");
  });
  //相关度
  $('.ui.relation.button').click(function(){
    phenix.redirect("{{ app_url_domain }}/search?t={{ t }}&q={{ q }}&evt={{ evt }}&s=0");
  });

	$('#searchbar-s i.search.icon').click(function(){
		$('#searchbar').submit();
	});

  $('#search-button-s').click(function(){
    $('#searchbar-s').submit();
  });
	
{% endblock %}

{% block content %}
<section class="social search catemenu">
	<div class="ui responsive grid">
		<div class="row">
			<div class="ten wide column white section-title">
                <h1 class="block title">搜索</h1>
				<form class="ui form" action="{{ app_url_search }}" method="get" id="searchbar-s">
                 	<div class="ui icon input">
                		<input name="q" type="text" value="{{ q }}" />
                		<input name="t" type="hidden" value="{{ t }}" />
                		<i class="search icon"></i>
		<a href="javascript:void(0);" id="search-button-s" style="width: 2.67142857em;height: 100%;position: absolute;right: 0;top: 0;"></a>
                	</div>
                </form>
                <div class="suggest">
                    <div class="ui horizontal list">
                        <div class="item">
                            <a href="{{ app_url_searh }}?q=智能睡眠灯" class="ui link">智能睡眠灯</a>
                        </div>
                        <div class="item">
                            <a href="{{ app_url_searh }}?q=智能配奶机" class="ui link">智能配奶机</a>
                        </div>
                        <div class="item">
                            <a href="{{ app_url_searh }}?q=十万火计" class="ui link">十万火计</a>
                        </div>
                    </div>
                    
                </div>
			</div>
		</div>
	</div>
</section>

<div id="searchpage">
	<div class="ui tabox">
		<div class="ui responsive grid">
			<div class="row">
				<div class="column">
					<div class="ui ten tabs">
            <a href="{{ app_url_domain }}/search?t=0&q={{ q }}" class="{{ css_all }} tab">全部</a>
            <!--<a href="{{ app_url_domain }}/search?t=5&q={{ q }}" class="{{ css_vote }} tab">创意</a>-->
            <a href="{{ app_url_domain }}/search?t=1&q={{ q }}" class="{{ css_product }} tab">产品</a>
            <a href="{{ app_url_domain }}/search?t=2&q={{ q }}" class="{{ css_topic }} tab">话题</a>
            <!--
            <a href="{{ app_url_domain }}/search?t=4&q={{ q }}" class="{{ css_stuff }} tab">智品</a>
            -->
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				{% if q %}
					{%if result.success %}
            搜索{{ evt_s }} “{{ q }}” , 找到约 {{ result.total_count }} 条结果
					{%else%}
            搜索{{ evt_s }} “{{ q }}” , 找到约 0 条结果
					{%endif%}
				{% else %}  
					你没有输入足够的关键词，请输入要搜索的短语！
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="column">
				<div class="ui small searcmu buttons">
					<div class="ui magenta lastest button inverted {{ css_lastest }}">
						最新
					</div>
					<div class="ui magenta relation button inverted {{ css_relation }}">
						相关度
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="mainwrap">
		  <div class="mainleftwrap">
		    <div class="mainleft">
		      <div class="search result">
  					<div class="ui search list divided items">
  					{% for item in result.data %}
  						{% if item %}
                          <div class="item" id="item-{{ item.pid }}">
                              {% if item.cover_id %}
                              <div class="image">
                                <a href="{{ item.view_url }}" title="{{ item.title }}" class="ui line" target="_blank">
  							  	            <img class="ui medium image" src="{{ item.asset.thumbnails.small.view_url }}" /></a>
  							  	          </div>
                              {%endif%}
  							<div class="content">
  								<div class="header">
  							      	<a href="{{ item.view_url }}" title="{{ item.title }}" class="ui line" target="_blank">{{ item.high_title }}</a>
                                      <label class="ui magenta active inverted button label">{{ item.kind_name }}</label>
  								</div>
  								<div class="attribute">
  									<span class="author">
                                          <a href="{{ item.home_url }}" class="ui link" target="_blank">@{{ item.nickname }}</a>  <i class="time icon"></i>于{{ item.created_on|relative_datetime }}发表
                                          {% if visitor.can_admin %}
                                          <small>
                                              <a href="/app/site/search/del?id={{ item.pid }}" class="confirm-request ui link">
                                                  删除
                                              </a>
                                          </small>
                                          {%endif%}
  									</span>
  								</div>
  								<div class="description">
  							        <p>{{ item.content }}</p>
  								</div>
  							</div>
  						</div>
  						{% endif %}

  					{% endfor %}
  					</div>
  				</div>
  				<div class="row">
      			<div class="column">
      				{% if result.total_count %}
      					{% pager url:pager_url,total_rows:result.total_count,total_page:result.total_page,current_page:page,var:'pager',pager_size:9 %}
      					{%include 'block/pager.html'%}
      				{% endif %}
      			</div>
      		</div>
  				
		  
		    </div>
		  </div>
		  
		  {% if item > 0 %}
		  <div class="mainright">
		    {% ad_list var:'adone' page:1 size:1 state:2 name:'search_rightbar_adone' %}
        {% if adone %}
        <div class="adstickwrap">
            <div class="ui one adverts cards">
                <div class="card">
                    <div class="advblock">
                        <div class="image" style="background-image: url('{{ adone.cover.fileurl }}');padding:30% 0;">
                            <a href="{{ adone.view_url }}" title="{{ adone.title }}" target="_blank"></a>
                        </div>
                        <div class="desc">
                            <h2>
                                {{ adone.title }}
                            </h2>
                            <p>{{ adone.sub_title }}</p>
                        </div>
                        <a href="{{ adone.view_url }}" title="{{ adone.title }}" class="link wrap" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
		  </div>
		  {% endif %}
		  
		</div>
	</div>
</div>
{% endblock %}

