{%extends 'layout/auth.html'%}
{% block title %}现在注册-{% endblock %}
{% block js %}
{% endblock %}

{% block jquery %}
	phenix.build_auth_page();
{% endblock %}

{% block content %}
<div class="ui responsive grid">
	<div class="ui column">
		<div class="ui log-in signup">
			<div class="ui top attached header logo">
				<img src="{{ app_url_packaged }}/images/auth-logo.png" />
			</div>
			<div class="ui bottom attached segment">
				<form action="{{ app_url_action_base }}/auth/do_register" class="ui form" method="post" id="register-form">
					<input type="hidden" name="t" value="{{ login_token }}" />
					<div class="center aligned ui header">
						注册太火鸟
					</div>
					<div class="two fields">
						<div class="field">
							<a href="{{ weibo_auth_url }}" class="fluid ui weibo btn-4 btn-4c icon-arrow-right icon btn">
								<i class="flat icon_weibo icon"></i> 用微博账号
							</a>
						</div>
						<div class="field">
							<a href="{{ app_url_qq_login }}" class="fluid ui qq btn-4 btn-4c icon-arrow-right icon btn">
								<i class="flat icon_qq icon"></i> 用QQ账号
							</a>
						</div>
					</div>
					
					<div class="field">
						<input type="text" class="form-control input-lg" name="account" placeholder="邮箱账号" />
					</div>
					<div class="field">
						<input name="nickname" type="text" class="form-control input-lg" placeholder="昵称" />
					</div>
					<div class="field">
						<input type="password" class="form-control input-lg" name="password" id="password" placeholder="密码" />
					</div>
					<div class="field">
						<input type="password" class="form-control input-lg" name="password_confirm" placeholder="确认密码" />
					</div>
					<div class="inline field">
						<div class="ui checkbox">
				          	<input type="checkbox" name="terms" checked="checked">
				          	<label><a href="{{ app_url_helper }}/law" target="_blank" class="ui link">太火鸟服务协议</a></label>
				        </div>
					</div>
					
					<div class="field">
				    	<div class="fluid ui big active magenta submit button" >确认注册</div>
					</div>
				</form>
			</div>
			<div class="sign-up">
				<label>已有账号？<a href="{{ app_url_login }}" title="立即登录" class="ui link">立即登录</a></label>
			</div>
		</div>
	</div>
</div>
{% endblock %}