{{#rows}}
        <div class="recom-cell">
            <a href="{{ scene_brand.wap_view_url }}">
                <img class="lazy" data-original="{{ scene_brand.product_cover_url }}" src="https://s3.taihuoniao.com/images/icon/load380-380nnm.png">
                <div class="desc">
                    <img src="{{ scene_brand.cover_url }}">
                    {{ scene_brand.title }}
                    <div class="cats">
                    {{ scene_brand.feature }}
                    </div>
                </div>
            </a>
        </div>
{{/rows}}
