{{#results.rows}}
<div class="recom-cell" id="product-{{ _id }}">
	<a title="{{ title }}" alt="{{#product_alt_tag}}{{ tags.0 }}-太火鸟智能硬件商店{{/product_alt_tag}}{{^product_alt_tag}}{{ title }}-太火鸟智能硬件商店{{/product_alt_tag}}" href="{{ view_url }}">
		<img class="lazy" data-original="{{ cover.thumbnails.apc.view_url }}" src="http://frstatic.qiniudn.com/images/icon/loading.png">
		<h2>{{ short_title }}</h2>
		<div class="desc">
			<div class="cats">
	            <span class="unit">￥</span>{{ sale_price }}
	        </div>
			<span class="counter">
	            <i class="heart icon"></i>  {{ love_count }}
	        </span>
		</div>
	</a>
</div>
{{/results.rows}}