    {{#data}}
    


        <div class="recom-cell" id="item-{{ pid }}">
            <a href="{{ product.wap_view_url }}" title="{{ product.short_title }}">
                <img src="{{ product.cover_url }}">
                <div class="shopbiao">
                </div>
                <div class="desc">
                    <h2>{{ product.short_title }}</h2>
                    <div class="cats">
                        <span class="unit">￥</span>{{ product.sale_price }}
                    </div>
                </div>
            </a>

        </div>


    {{/data}}
