
  <div class="ui grid m-0">
    <div class="row">
      <div class="column">
        <h4 class="ui header dividing pb-r mt-r">使用新地址</h4>
      </div>
    </div>
    
    <div class="row pt-0">
      <div class="column">
        <form action="{{ app_url_wap }}/app/site/address/ajax_save_address" class="ui form" method="post" id="addbook-form">
          <input type="hidden" name="id" value="{{ _id }}" />
          <div class="field mb-2r">
            <h5 class="ui header mtb-r">收货人姓名</h5>
              <input type="text" name="name" value="{{ name }}" />
          </div>
          <div class="field mb-2r">
            <h5 class="ui header mtb-r">联系电话</h5>
              <input type="text" name="phone" value="{{ phone }}" />
          </div>
          <div class="field mb-2r">
            <h5 class="ui header mtb-r">邮政编码</h5>
              <input type="text" name="zip" value="{{ zip }}" />
          </div>
          
          <div class="field mb-2r">
            <h5 class="ui header mtb-r">地址</h5>
            
              <select name="province_id" value="{{ province_id }}" id="province_box" class="choose province">
                <option value="0">--请选择--</option>
                <!--<option value=""></option>-->
              </select>
    
              <select name="city_id" id="city_box" value="{{ city_id }}" class="choose city">
                <option value="0">--请选择--</option>
             </select>
            
          </div>

          <div class="field mb-2r">
              <select name="county_id" value="{{ county_id }}" id="county_box" class="choose county">
                <option value="0">--请选择--</option>
              </select>
    
              <select name="town_id" id="town_box" value="{{ town_id }}" class="choose town">
                <option value="0">--请选择--</option>
             </select>
            
          </div>
          
          <div class="field mb-3r">
            <textarea name="address" class="small">{{ &address }}</textarea>
          </div>
          
              <div class="inline field">
            <div class="ui toggle checkbox {{#is_default}}checked{{/is_default}}">
              <input name="is_default" type="checkbox" {{#is_default}}checked="checked"{{/is_default}} value="1">
              <label>设为默认地址</label>
              </div>
          </div>
    
          <div class="nextbtn">
            <div class="close-btn">
              取消
            </div>	
            <div class="submit">
              提交
            </div>
          </div>
    
        </form>
    
      </div>
    </div>
    
  </div>

