{{#rows}}
    <div class="recom-cell three" id="product-{{ item._id }}">
        <a title="{{ item.title }}" alt="{{ item.title }}" href="{{ item.wap_view_url }}">
            <img class="lazy" data-original="{{ item.cover.thumbnails.apc.view_url }}" src="http://frstatic.qiniudn.com/images/icon/load380-380.png">
            <div class="desc">
                <h2>{{ &item.title }}</h2>
                <div class="cats">
                    <span class="unit">￥</span>{{ item.sale_price }}
                </div>
            </div>
        </a>
    </div>
{{/rows}}
