{%extends 'layout/admin.html'%}
{% block page_css %}
  <style type="text/css">
    .content-text img{
      max-width: 150px;
      max-height: 800px;
      overflow: hidden;
      padding: 10px 10px 0 0;
    }
    .content-text p{
      margin:0;
    }

    .content-text a{
      text-decoration:none;
      color:#f36;
    }

    .content-text a:hover{
      text-decoration:underline;
      color:#f36;
    }

    .ui.reply.form .left {
    display:inline-block;
    }
    .ui.reply.form .left a{
    text-decoration: none;
    color: #5d6266;
    }
    .ui.reply.form .right.aligned.column{
    display:inline-block;
    float:right;
    }

    .img-tab{
      margin:5px;
    }
    .img-tab a{
      margin:5px;
      text-decoration:none;
    }
  </style>
{% endblock %}

{% block jquery %}
	
	// 删除活动
	$('.item.ajax-delete').bind('click', function(){
		var selected_ids = [];
    if(!window.confirm('你确定要执行批量删除操作？')){
      return false;
    }
		
		$('input.checkbox:checked').each(function(){
			var v = $(this).val();
			selected_ids.push(v);
		});
		
		if (!selected_ids.length){
			alert('请选择想删除的活动');
		}
		
		var url = $(this).attr('href');
		$.get(url, {id: selected_ids.join(',')});
		
		return false;
	});

  //查看评论大图
  $('.comment-img-box').on('click', function(){
    var evt = $(this).attr('show-type');
    if(evt==1){
      $(this).find('img').css({'max-width':'100%', 'cursor':'-webkit-zoom-out'});
      $(this).attr('show-type', 2);
    }else{
      $(this).find('img').css({'max-width':'150px', 'cursor':'-webkit-zoom-in'});
      $(this).attr('show-type', 1);
    }
  });
	
{% endblock %}
	
{% block content %}
	<h3 class="ui header">评论管理</h3>
	
	<div class="ui secondary pointing magenta menu">
		<a href="{{ app_url_admin_base }}/comment" class="active item">
			全部
		</a>

	  	<div class="right menu">
			
			<a href="{{ app_url_admin }}/comment/deleted" class="item ajax-delete">
				<i class="remove icon"></i>批量删除
			</a>
	    </div>
	</div>
	
	<div class="ui sub nav">
		<form action="{{ app_url_admin_base }}/comment/search" method="get">
			<label>搜索：</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="t" value="{{ t }}" />
        <div class="default text">选择条件</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="0">全部</div>
          <div class="item" data-value="6">灵感</div>
          <div class="item" data-value="2">话题</div>
          <div class="item" data-value="3">试用</div>
          <div class="item" data-value="4">商品</div>
        </div>
      </div>

      <div class="ui selection dropdown">
        <input type="hidden" name="s" value="{{ s }}" />
        <div class="default text">选择条件</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="0">最早</div>
          <div class="item" data-value="1">最新</div>
          <div class="item" data-value="2">点赞</div>
        </div>
      </div>

			<div class="ui icon input">
        <input placeholder="Search..." type="text" name="q" value="{{ q }}" />
				<i class="search link icon"></i>
			</div>
		</form>
	</div>
	
	<table class="ui small table segment">
		<thead>
			<tr>
				<th>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" />
					  	<label></label>
					</div>
				</th>
				<th class="five wide">内容</th>
				<th>点赞名单</th>
                <th>赞数量</th>
                <th>所属</th>
				<th>关联ID</th>
				<th>管理操作</th>
			</tr>
		</thead>
		<tbody>
      {% if is_search %}
			  {% comment_list var:'list' page:page type:t target_id:q sort:s size:50 %}
      {%else%}
			  {% comment_list var:'list' page:page sort:1 size:50 %}
      {%endif%}

			{% for comment in list.rows %}
			<tr id="{{ comment._id }}">
				<td>
					<div class="ui checkbox">
					  	<input name="ids" type="checkbox" value="{{ comment._id }}" class="checkbox" />
					  	<label></label>
					</div>
				</td>
        <td>
          <div class="content-text">{{ comment.content }}</div>
        </td>

        <td>
          <a href="{{ app_url_admin_base }}/comment/get_attend_list?target_id={{ comment._id }}&t={{ comment.type }}" class="ui magenta link">点赞名单</a>
        </td>

				<td>
					<p>
            <span class="ui small green label">{{ comment.love_count }}</span>
					</p>
				</td>
        <td>
          {%if comment.type==1%}用户{%endif%}
          {%if comment.type==2%}话题{%endif%}
          {%if comment.type==3%}试用{%endif%}
          {%if comment.type==4%}产品{%endif%}
          {%if comment.type==6%}灵感{%endif%}
        </td>
        <td>{{ comment.target_id }}</td>
				<td>
					<p>
						<a href="{{ app_url_admin }}/comment/submit?id={{ comment._id }}" class="ui link item">编辑</a>
		          		<a href="{{ app_url_admin }}/comment/deleted?id={{ comment._id }}" class="ui confirm-request link item">
						    删除
					    </a>
					</P>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	{% if list.rows %}
	<div class="ui pagination">
		{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
		{%include 'block/pager.html'%}
	</div>
	{% endif %}
{% endblock %}
