@font-face {
  font-family: 'Icons';
  src: url(http://taihuoniao.me/packaged/fonts/icons.eot);
  src: url(http://taihuoniao.me/packaged/fonts/icons.eot?#iefix) format('embedded-opentype'), url(http://taihuoniao.me/packaged/fonts/icons.svg#icons) format('svg'), url(http://taihuoniao.me/packaged/fonts/icons.woff) format('woff'), url(http://taihuoniao.me/packaged/fonts/icons.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}