{%extends 'layout/column.html'%}
{% block title %}设置账户信息-{% endblock %}
{% block page_css %}
<style class="text/css">
    .account .avatar {
    	min-height: 25em;
    }
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
    /* 个人资料表单验证 */
	$('#profile-form').form({
		nickname: {
			identifier  : 'nickname',
			rules: [
				{
					type   : 'empty',
					prompt : '请添写昵称'
				}

			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit();
		}
	});
{% endblock %}
{% block content %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_my }}">
						个人中心
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">设置账户信息</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu_center.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">账户信息</h2>
			<div class="ui segment">
				<form action="{{app_url_my}}/save_account" method="post" class="ui fluid form" id="profile-form">
					<input name="_id" type="hidden" value="{{ user_id }}" />
					
					<h3 class="ui dividing header">用户名(昵称)</h3>
					<div class="three fields">
						<div class="field">
							<input type="text" name="nickname" value="{{ user.true_nickname }}" />
						</div>
					</div>
					
					<h3 class="ui dividing header">修改密码</h3>

                    {% if is_bind %}
					<div class="two fields">
						<div class="field">
							<label>当前密码</label>
							<input type="password" name="current_password" />
						</div>
						<div class="field"></div>
					</div>
					<div class="two fields">
						<div class="field">
							<label>修改密码</label>
							<input type="password" name="password" />
						</div>
						<div class="field">
							<label>确认密码</label>
							<input type="password" name="repeat_password" />
						</div>
					</div>

                    {%else%}
                    <div class="field">
                        您的账户还未绑定手机号，请先 <a href="{{ app_url_my }}/bind_phone" class="ui link">绑定手机号</a>
                    </div>
                    {%endif%}
					
					<input type="submit" class="ui inverted magenta button" value="确认修改" />
					
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
