{%extends 'layout/sns.html'%}
{% block title %}邀请好友-{% endblock %}
{% block page_css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}

{% endblock %}
{% block content %}
<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">我的积分</h2>
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="ui column">
							
							
						</div>
					</div>
					
					
				</div>
			</div>
			
			
		</div>
	</div>
</div>


{% endblock %}