{%extends 'layout/board.html'%}
{% block title %}邀请好友-悦伊-所谓伊人，在水一方{% endblock %}
{% block page_css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	$('.copy-code').zclip({
        path : '/js/ZeroClipboard.swf',
        copy : function(){
			return $(this).attr('name');
       	},
		afterCopy:function(){
			$(this).addClass('btn-success').text('复制成功');
		}
    });
{% endblock %}
{% block content %}
<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">我的邀请码</h2>
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="ui column">
							<div class="ui success message">
								邀请一个朋友加入并30天内购买一个太火鸟产品，你将获得15元优惠券；
							</div>
							<h5>
								剩余 <b>{{ free_invites_cnt }}</b> 个未使用, 已使用 <b>{{ used_invites_cnt }}</b> 个</h5>
						</div>
					</div>
					<div class="row">
						<div class="ten wide column">
							<h4>复制链接地址，通过微博、QQ、或邮件分享给朋友</h4>
							<table class="ui celled table segment">
								<thead>
									<tr>
										<td>邀请码</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									{% for code in free_invites %}
									<tr>
										<td>{{ app_url_shop }}?r={{ code._id }}</td>
										<td>
											<div class="zclip-box">
												<button class="ui small green button copy-code" name="{{ app_url_domain }}/?l={{ code._id }}" >复制</button>
											</div>
										</td>
									</tr>
									{% endfor %}
									{% for code in used_invites %}
									<tr>
										<td></td>
										<td>{% if code.used_by %}已使用{% else %}未使用{% endif %}</td>
										<td><a href="{{ code.invited_user.home_url }}" target="_blank">{{ code.invited_user.nickname }}</a></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="five wide column">
							
							<a href="" class="fluid ui weibo btn-4 btn-4c icon-arrow-right icon btn">
								<i class="flat sina_weibo_plane icon"></i> 用微博账号
							</a>
							
							<a href="" class="fluid ui qq btn-4 btn-4c icon-arrow-right icon btn">
								<i class="flat tt_weibo_plane icon"></i> 用QQ账号
							</a>
						</div>
					</div>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}