{%extends 'layout/column.html'%}
{%extends 'layout/sns.html'%}
{% block title %}邀请好友-{% endblock %}
{% block page_css %}
{% endblock %}

{% block layout_js %}
  <script src="{{ app_url_packaged }}/javascript/jquery.zclip.min.js"></script>
<script type="text/javascript">
  // 社会化分享
  function social_share(link, title, pic_url) {
    // 链接，标题，网站名称，子窗口别称，网站链接
    //var link = encodeURIComponent(document.location),title = encodeURIComponent(document.title.substring(0,100));
    var source = encodeURIComponent('太火鸟'), windowName = 'tShare', site = 'http://www.taihuoniao.com/';
    
    var getParamsOfShareWindow = function(width, height) {
      return ['toolbar=0,status=0,resizable=1,width=' + width + ',height=' + height + ',left=',(screen.width-width)/2,',top=',(screen.height-height)/2].join('');
    }
    
    $('#wechat-share').click(function() {
      $('.ui.qrcode.modal').modal('show');
      return false;
    });
    
    $('#sina-share').click(function() {
      var url = 'http://v.t.sina.com.cn/share/share.php?url=' + link + '&title=' + title + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(607, 523);
      window.open(url, windowName, params);
      return false;
    });
    // 同一个页面出现2个
    $('#o-share-weibo').click(function() {
      var url = 'http://v.t.sina.com.cn/share/share.php?url=' + link + '&title=' + title + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(607, 523);
      window.open(url, windowName, params);
      return false;
    });
    $('#tencent-share').click(function() {
      var url = 'http://v.t.qq.com/share/share.php?title=' + title + '&url=' + link + '&site=' + site + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(634, 668);
      window.open(url, windowName, params);
      return false;
    });
    $('#douban-share').click(function() {
      var url = 'http://www.douban.com/recommend/?url=' + link + '&title=' + title + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(450, 350);
      window.open(url, windowName, params);
      return false;
    });
    $('#renren-share').click(function() {
      var url = 'http://share.renren.com/share/buttonshare?link=' + link + '&title=' + title + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(626, 436);
      window.open(url, windowName, params);
      return false;
    });
    $('#kaixin001-share').click(function() {
      var url = 'http://www.kaixin001.com/repaste/share.php?rurl=' + link + '&rcontent=' + link + '&rtitle=' + title + '&pic=' + pic_url;
      var params = getParamsOfShareWindow(540, 342);
      window.open(url, windowName, params);
      return false;
    });
    
    $('#netease-share').click(function() {
      var url = 'http://t.163.com/article/user/checkLogin.do?link=' + link + 'source=' + source + '&info='+ title + ' ' + link;
      var params = getParamsOfShareWindow(642, 468);
      window.open(url, windowName, params);
      return false;
    });
    
    $('#facebook-share').click(function() {
      var url = 'http://facebook.com/share.php?u=' + link + '&t=' + title;
      var params = getParamsOfShareWindow(626, 436);
      window.open(url, windowName, params);
      return false;
    });
   
    $('#twitter-share').click(function() {
      var url = 'http://twitter.com/share?url=' + link + '&text=' + title;
      var params = getParamsOfShareWindow(500, 375);
      window.open(url, windowName, params);
      return false;
    });
   
    $('#delicious-share').click(function() {
      var url = 'http://delicious.com/post?url=' + link + '&title=' + title;
      var params = getParamsOfShareWindow(550, 550);
      window.open(url, windowName, params);
      return false;
    });
   
  };

</script>
{% endblock %}

{% block jquery %}
  //分享
  var share_title = '我已成功注册跻身太火鸟英雄汇，这里林子好大，小伙伴们快来哇，成功邀请好友还有红包领取，快来注册并邀请身边好友吧！你们靠谱，我的红包也鼓~~';
  var share_url = '{{ app_url_domain }}?user_invite_code={{ user_invite_code }}';
  var share_pic = '{{ app_url_packaged }}/images/promo/eginshare.jpg';
  social_share(share_url, share_title, share_pic);
	// 生成二维码
  $('#qrcode').qrcode({width: 256, height: 256, text: '{{ app_url_wap }}/promo/year_invite?invite_code={{ user_invite_code }}'});

  //复制邀请链接
    $('#copyBtn').zclip({
    path: "{{ app_url_packaged }}/images/swf/ZeroClipboard.swf",
        copy: function(){
            return $('#invite_link').val();
　　　 　　},
        afterCopy:function(){
          phenix.show_ok_note('复制成功',2000);
        }
    });
{% endblock %}

{% block content %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_my }}">
						个人中心
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">邀请好友</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu_center.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">我的邀请</h2>
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="column">
              <!--
							<div class="ui danger message">
                                每邀请一位朋友注册,将获得30元红包奖励!；
							</div>
              -->
							<h4 class="ui header">1、邀请链接: </h4>
                            <form action="" method="post" class="ui fluid form">
                                <div class="two fields">
							        <div class="field">
								        <input type="text" disabled="disabled" name="invite_link" id="invite_link" value="{{ app_url_register }}?user_invite_code={{ user_invite_code }}" />
                                    </div>
                                    <div class="field">
                                        <input type="button" id="copyBtn" class="ui active magenta small button" value="复制" />
                                    </div>
                                </div>
                            </form>
						</div>
					</div>
					<div class="row">
						<div class="column">
							<h4 class="ui header">2、复制链接地址，通过微博、QQ、或邮件分享给朋友</h4>
                            <div class="ui big-end white background grid">
	                            <div class="row">
		                            <div class="column">
			                            {% include "block/big-circel-share.html" %}
		                            </div>
	                            </div>
                            </div>
						</div>
					</div>
                    <div class="row">
	                    <div class="column">
                            <div class="invitelog">
                                <h4 class="ui header">邀请好友记录: </h4>
    							<table class="ui structured celled table segment">
    								<thead>
    									<tr>
    										<td>用户昵称</td>
    										<td>加入时间</td>
    										<td>邀请状态</td>
    									</tr>
    								</thead>
                                    {% invite_record_list var:'list' user_id:user._id kind:1 size:10 page:page %}
    								<tbody>
    									{% for i in list.rows %}
    									<tr>
                                            <td>
                                                <a href="{{ i.invited_user.home_url }}" target="_blank">{{ i.invited_user.nickname }}</a>
                                             </td>
                                            <td>{{ i.created_on|date }}</td>
                                            <td>邀请成功</td>
    									</tr>
                                        {% else %}
                                        <tr>
                                            <td colspan="3">您还没有好友加入~~~</td>
                                        </tr>
    									{% endfor %}
    								</tbody>
    							</table>
                            
    		                    {% if list.total_rows %}
    			                {% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
    			                {%include 'block/pager.html'%}
    		                    {% endif %}
                            </div>
	                    </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
{% include "block/qrcode.html" %}
{% endblock %}
