{%extends 'layout/column.html'%}
{% block title %}我的私信-{% endblock %}

{% block page_css %}
<style type="text/css">

/****  meassage   ****/
.ui.white.background{
	background:#fff;
}
.user .ui.message.eleven{
	padding:1.5%;
	border:0px solid rgba(0,0,0,0) !important;
}
.mes-text{
	width:100%;
	padding:1rem 0;
}
.mes-text a.ui.photo{
	float: left; 
	width: 50px; 
	height: 60px; 
	margin-right: 10px;
}
.mes-text a.ui.photo img{
	height:50px;
	width:50px;
	border-radius: 25px;
}
.mes-text .news{
	padding: 6px 0 0 60px; 
	overflow: visible;
	font-size: 17px;
	font-weight: 700;
}
.mes-text .news .sub_header{
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;
	line-height: 20px;
}
.mes-text .news .report {
	padding: 0 0 20px;
	height: 20px;
	font-size: 14px;
	font-weight: 400;
}
.mes-text .news .report .count {
	float:right;
	cursor:pointer;
	padding-right:5px;
}
.mes-text .news .report .count .ui.horizontal.list > .item {
    font-size: 12px;
}
</style>
{% endblock %}

{% block jquery %}
	// 显示私信框
	$('.reply_message').bind('click', function(){
		$('[name=nickname]').val($(this).attr('nickname'));
		$('[name=to]').val($(this).attr('user_id'));
		$('.ui.letter.modal').modal('show');
	});
	// 隐藏私信框
	$('.ui.cancel').bind('click', function(){
		$('.ui.letter.modal').modal('hide');
		return;
	});
	
	$('#message-form').form({
		content: {
			identifier  : 'content',
			rules: [
				{
					type   : 'empty',
					prompt : '评论内容不能为空'
				},
				{
					type   : 'maxLength[140]',
					prompt : '评论内容不超过140字符'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(this).ajaxSubmit({
				dataType: 'json',
				beforeSubmit: function(){
					phenix.before_submit();
				},
				success: function(data){
					phenix.after_submit();
					if(data.is_error){
						$(event.target).addClass('error');
						phenix.show_error_note(data.message, event.target);
					}else{
            phenix.show_ok_note('私信已发送成功', 2000, '#message-form');
            $('.ui.letter.modal').modal('hide');
					}
				}
			});
		}
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
	
	$(".sub_switch").click(function(){
		var text = $(this).text();
		if(text == "展开"){
			$(this).text("收缩");
			$(this).parents('.news').find('.sub_header').show();
		} else {
			$(this).text("展开");
			$(this).parents('.news').find('.sub_header').hide();
			$(this).parents('.news').find('.sub_header').first().show(); 
		}
	});
	
{% endblock %}

{% block content %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_my }}">
						个人中心
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">我的私信</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu_center.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">消息提醒</h2>
			{% include "block/center/head_notice_nav.html" %}
			
			<div class="ui alarm segment">
                {% message_list var:'list' page:page user_id:user._id %}
                
                {% for message in list.rows %}
                <div id="message_{{ message._id }}" class="mes-text" style="width:100%">
                    <a class="ui photo">
                        <img alt="{{ message.f_user.nickname }}" src="{{ message.f_user.big_avatar_url }}">
                    </a>
                    <div class="news">
						<div class="sub_title">
							与<a class="ui link" href="{{ message.f_user.home_url }}" target="_blank">{{ message.f_user.nickname }}</a>的对话
							<a href="javascript:void(0);" class="ui mini button green sub_switch" style="margin-left: 2em">展开</a>
						</div>
						{% for m in message.mailbox %}
						<div class="sub_header" {% if loop.counter == 1 %}style='display:block'{% else %}style='display:none'{% endif %}>
							{%if m.from==user._id%}
								<span>我 </span>: &nbsp;{{ m.content }}  &nbsp;&nbsp;&nbsp;&nbsp;{{ m.created_on|relative_datetime }}
							{%else%}
								<span> {{ message.f_user.nickname }}</span>:  &nbsp;{{ m.content }} &nbsp;&nbsp;&nbsp;&nbsp;<span class="date">{{ m.created_on|relative_datetime }}</span>
								<!--显示未读标识-->
								{% if loop.counter <= message.readed %}
								  &nbsp;<span class="ui red label">new</span>
								{%endif%}
							{%endif%}
						</div>
						{% endfor %}
						<div class="report">
							  <div class="count">
								  <div class="ui horizontal divided list">
									  <div class="item">
										{% if message.last_time %}最后回复时间: {{ message.last_time|relative_datetime }}, {%endif%}共{{ message.total_count }}条对话
									  </div>
									  <div class="item">
										  <a class="ui link reply_message" nickname="{{ message.f_user.nickname }}" user_id="{{ message.f_user._id }}">回复</a>
									  </div>
									  <div class="item">
										  <a href="{{ app_url_my }}/delete_message?id={{ message._id }}" class="ui link confirm-request">删除</a>
									  </div>
								  </div>
							  </div>
						</div>
					</div>
                </div>
    			{% endfor %}
                        
				{% if list.rows %}
				<div class="ui pagination">
				{% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
				{%include 'block/pager.html'%}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
	{% include "block/message.html" %}
{% endblock %}






