{%extends 'layout/column.html'%}
{% block title %}消息提醒-{% endblock %}

{% block page_css %}
<style type="text/css">

/****  meassage   ****/
.ui.white.background{
	background:#fff;
}
.user .ui.message.eleven{
	padding:1.5%;
	border:0px solid rgba(0,0,0,0) !important;
}
.mes-text{
	width:100%;
	padding:1rem 0;
}
.mes-text a.ui.photo{
	float: left; 
	width: 50px; 
	height: 60px; 
	margin-right: 10px;
}
.mes-text a.ui.photo img{
	height:50px;
	width:50px;
	border-radius: 25px;
}
.mes-text .news{
	padding: 6px 0 0 60px; 
	overflow: visible;
	font-size: 17px;
	font-weight: 700;
}
.mes-text .news .sub_header{
	font-size: 14px;
	font-weight: 400;
	padding-top: 5px;
	line-height: 20px;
}
.mes-text .news .report{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0 0 20px;
	height: 20px;
	font-size: 15px;
	font-weight: 400;
	color:rgba(0,0,0,0.6);
}
.mes-text .news .report .pushtime{
	float:left;
}
.mes-text .news .report .pushtime a.ui.link,.mes-text .news .report .count a.ui.link{
	color:#f36;
}
.mes-text .news .report .count{
	float:right;
	cursor:pointer;
	padding-right:5px;
}

.mes-text .sub_header .new{
	color:#f36;
	position:relative;
	left:0;
	font-size:13px;
}
</style>
{% endblock %}

{% block jquery %}
	// 显示私信框
	$('.reply_message').bind('click', function(){
    $('[name=nickname]').val($(this).attr('nickname'));
    $('[name=to]').val($(this).attr('user_id'));
		$('.ui.letter.modal').modal('show');
	});
	// 隐藏私信框
	$('.ui.cancel').bind('click', function(){
		$('.ui.letter.modal').modal('hide');
    return;
	});
	
	$('#message-form').form({
		content: {
			identifier  : 'content',
			rules: [
				{
					type   : 'empty',
					prompt : '评论内容不能为空'
				},
				{
					type   : 'maxLength[140]',
					prompt : '评论内容不超过140字符'
				}
			]
		}
	}, {
		inline : true,
		onSuccess: function(event){
			event.preventDefault();
			$(event.target).ajaxSubmit();
		}
	});
	
	$('[data-countdown]').each(function() {
		var $this = $(this), finalDate = $(this).data('countdown');
		$this.countdown(finalDate, function(event) {
			$this.html(event.strftime('%-D'));
		});
	});
	
{% endblock %}

{% block content %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_my }}">
						个人中心
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">消息提醒</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu_center.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">消息提醒</h2>
			{% include "block/center/head_notice_nav.html" %}
			
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="column">
					{% message_list var:'list' page:page user_id:user._id %}
					{% for message in list.rows %}
            <div id="message_{{ message._id }}" class="mes-text" style="width:100%">
              <a class="ui photo">
                <img alt="{{ message.f_user.nickname }}" src="{{ message.f_user.big_avatar_url }}">
              </a>
              <div class="news">
                与
                <a class="ui link" href="{{ message.f_user.home_url }}" target="_blank">{{ message.f_user.nickname }}</a>
                的对话

              {% for m in message.mailbox %}
              <div class="sub_header">
                {%if m.from==user._id%}
                 <strong> 我 </strong> : &nbsp;{{ m.content }}  &nbsp;&nbsp;&nbsp;&nbsp;{{ m.created_on|relative_datetime }}
                {%else%}
                  <strong> {{ message.f_user.nickname }}</strong> :  &nbsp;{{ m.content }} &nbsp;&nbsp;&nbsp;&nbsp;{{ m.created_on|relative_datetime }}
                  <!--显示未读标识-->
                  {% if loop.counter <= message.readed %}
                    &nbsp;<span class="new">new</span>
                  {%endif%}
                {%endif%}
              </div>
              {% endfor %}
              <div class="report">
                <!--<div class="pushtime">
                  {{ message.created_on|relative_datetime }}
                </div>-->
                    <div class="count">
                        <div class="ui horizontal divided list">
                            <div class="item">
                                共{{ message.total_count }}条对话
                            </div>
                            <div class="item">
                                <a class="ui link reply_message" nickname="{{ message.f_user.nickname }}" user_id="{{ message.f_user._id }}">回复</a>
                            </div>
                            <div class="item">
                                <a href="{{ app_url_my }}/delete_message?id={{ message._id }}" class="ui link confirm-request">删除</a>
                            </div>
                        </div>
                    </div>
              </div>
              </div>
            </div>
					{% endfor %}
					
					{% if list.rows %}
						<div class="ui pagination">
			            {% pager url:pager_url,total_rows:list.total_rows,total_page:list.total_page,current_page:page,var:'pager',pager_size:9 %}
			            {%include 'block/pager.html'%}
						</div>
			          {% endif %}
							</div>
							

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% include "block/message.html" %}
{% endblock %}






