{%extends 'layout/board.html'%}
{% block title %}我的订单-{% endblock %}
{% block page_css %}
<style class="text/css">
	.ui.order.products.list > .item {
		padding-left: 0;
		padding-right: 0;
	}
	.ui.order.products.list > .item > .content {
		margin-left: 0.5em;
	}
	
</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
	
{% endblock %}
{% block content %}
<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">我的订单</h2>
			<div class="ui divider"></div>
			{% order_list var:'list' user_id:user.id size:8 %}
			{% for order in list.rows %}
				<table class="ui celled table segment">
				<thead>
				  	<tr>
						<th colspan="4">
							<div class="ui horizontal bulleted list">
							  	<div class="item">
							      	订单号：{{ order.rid }}
							  	</div>
							  	<div class="item">
							      	{{ order.addbook.name }} 
							  	</div>
							  	<div class="item">
							      	下单时间：{{ order.created_on|date }}
							  	</div>
							</div>
						</th>
				  	</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="ui divided order products list">
								{% for item in order.items %}
									{% product_list var:'product' sku:item.sku %}
									<div class="item">
										<a href="{{ product.view_url }}" class="ui cover image">
								      		<img src="{{ product.cover.thumbnails.mini.view_url }}" />
										</a>
								      	<div class="content">
								          	<div class="header">
												<a href="{{ product.view_url }}" class="ui link">{{ product.title }}</a>
											</div>
								          	<p class="attribute">编号：{{ item.sku }}</p>
								      	</div>
									</div>
								{% endfor %}
							</div>
						</td>
						<td>
							<p>
								订单金额：{{ order.pay_money }}元
							</p>
							<p>
								（运费：{{ order.freight }}元）
							</p>
						</td>
						<td>
							<p>
								{{ order.status_label }}
							</p>
							<p>
								{{ order.payment_method.name }}
							</p>
						</td>
						<td>
							{% if !order.is_payed %}
							<a href="{{ order.pay_url }}?rid={{ order._id }}" class="ui magenta button">点击付款</a>
							{% endif %}
						
							{% if order.status < 5 %}
							<a href="" class="ui link">取消</a>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}