{%extends 'layout/column.html'%}
{% block title %}退换货服务-{% endblock %}
{% block page_css %}
<style class="text/css">
	.ui.list .header {
	    margin-bottom: 0.5em;
	}
	.ui.list .item {
	    line-height: 1.45em;
	}
</style>
{% endblock %}

{% block jquery %}
	
{% endblock %}
{% block content %}
<div class="section breadcrumb">
	<div class="ui responsive grid">
		<div class="row">
			<div class="column">
				<div class="ui medium breadcrumb">
				  	<a class="ui section link" href="{{ app_url_domin }}">
						<i class="home icon"></i> 首页
					</a>
                    <i class="angle right icon divider"></i>
				  	<a class="ui section link" href="{{ app_url_my }}">
						个人中心
					</a>
					<i class="angle right icon divider"></i>
					<div class="active section">退换货服务</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="account profile">
	<div class="ui responsive grid">
		<div class="four wide column">
			{% include "block/user/sub_menu_center.html" %}
		</div>
		<div class="twelve wide column">
			<h2 class="ui header">退换货服务</h2>
			<div class="ui segment">
				<div class="ui grid">
					<div class="row">
						<div class="column">
							<div class="content-box">
								<h4 class="ui magenta header">
									<i class="ambulance icon"></i>退换货
								</h4>
								<div class="ui list">
									<div class="item">
										<div class="header">太火鸟（taihuoniao.com）7天无忧退换货</div>
										为了让每位鸟迷更加满意，购物时无后顾之忧，太火鸟（taihuoniao.com）即日起提供<span class="ui magenta text">“7天无忧退换货”</span>服务。<br/>自您签收商品7日内<span class="ui magenta text">（以快递签收日为准）</span>，在不影响商品二次销售情况下，可向太火鸟申请办理退换货。
									</div>
								</div>
						
								<h4 class="ui magenta header">
									<i class="help icon"></i>如何申请退换货
								</h4>
						
								<div class="ui list">
									<div class="item">
										<div class="header">非质量问题</div>
										请您拨打客服电话（010- 84599327）或客服邮箱（service#taihuoniao.com,#换成@）申请退换货。客服确认申请后会告知您退换货地址，请您按地址退回商品，并提供快递单号给客服，客服会为您确认收货及安排退换货。	
									</div>
									<div class="item">
										<div class="header">质量问题</div>
										请将问题商品拍照并发送至客服邮箱（service#taihuoniao.com,#换成@），客服收到并确认后会为您安排退换货。	
									</div>
								</div>
						
								<h4 class="ui magenta header">
									<i class="reorder icon"></i>退换货范畴
								</h4>
								<p>下列情况不属于<span class="ui magenta text">“7天无忧退换货”</span>范畴</p>
								<div class="ui list">
									<div class="item">
										<div class="header">影响二次销售的商品</div>
										太火鸟所售商品均为全新品，为保护消费者利益，若退回的商品及配件、货牌、销售单据、赠品、包装等有缺失情况，或出现其他影响二次销售的情况，恕不接受退换货。
									</div>
								</div>
								<div class="ui list">
									<div class="item">
										以下情况视为影响二次销售：
										<div class="list">
											<div class="item">
												1、高值品原厂封签移位、撕毁；
											</div>
											<div class="item">
												2、3C智能产品原厂包装打开或安装电池开机启动；
											</div>
											<div class="item">
												3、密封产品原包装打开；
											</div>
											<div class="item">
												4、商品（包含赠品）原包装、原配件不齐全；
											</div>
											<div class="item">
												5、3C智能产品经过调整使用过；
											</div>
											<div class="item">
												6、商品的正常使用磨损折旧等因人为疏忽或使用不当导致的损坏等；
											</div>
											<div class="item">
												7、如所购商品带外盒，退货时切勿在外盒直接缠裹胶带或粘贴快递单，否则无法退换货（商品运输途中由于挤压、颠簸造成的外盒破损不算在内。
											</div>
										</div>
									</div>
								</div>
						
								<h4 class="ui magenta header">
									<i class="money icon"></i>运费相关
								</h4>
								<p>运费相关說明</p>
								<div class="ui list">
									<div class="item">
										1、因顾客拒收、长期不在等导致商品被快递公司或邮局退回时，需由顾客承担再次发送的运费。
									</div>
									<div class="item">
										2、关于“回邮运费”：
										<div class="list">
											<div class="item">
												<div class="header">非质量问题：</div>
												需由客户承担退换货和再次发货的运费，太火鸟不承担此费用。
											</div>
											<div class="item">
												<div class="header">质量问题：</div>
												退换货运费需要您先行垫付，太火鸟在收到货品后将根据您提供的支付宝账户为您报销支付的运费。
											</div>
										</div>
									</div>
								</div>
						
								<h4 class="ui magenta header">
									<i class="heart icon"></i>退款相关说明
								</h4>
								<div class="ui list">
									<div class="item">
										1、太火鸟退款一般情况下会原路退回至您的付款账户中，退货时垫付的运费由商家单独退回。
									</div>
									<div class="item">
										2、太火鸟会于<span class="ui magenta text">7个工作日内</span>对已经确认可以退款的订单进行退款，请您留意查收。
									</div>
								</div>
						
								<div class="ui danger message">
									<h4 class="ui header">注意事项</h4>
									<div class="ui list">
										<div class="item">
											1、请务必发送电子邮件或随退换货品附上退换货原因和订购人姓名。
										</div>
										<div class="item">
											2、若办理退货，已开据发票的商品需同时退回发票，无法提供原始购物发票的，我们将无法为您提供退换货服务。
										</div>
										<div class="item">
											3、太火鸟保证所有商品图片均为实物拍摄，但因拍摄灯光及不同显示器色差等问题，商品图片可能会与实物存有一定色差，色差不属于商品质量问题，敬请谅解。
										</div>
										<div class="item">
											4、超过退换货申请期限（签收日起7天内），则视为交易已完成，逾期不予退换货处理。
										</div>
									</div>
								</div>
						
								<h4 class="ui magenta header">
									<i class="smile icon"></i>我们的退换货联系方式
								</h4>
								<div class="ui list">
									<div class="item">
										客服热线：010- 8459 9327 / 8459 9323
									</div>
									<div class="item">
										QQ客服：211470932
									</div>
									<div class="item">
										客服邮箱：service#taihuoniao.com(#换成@)
									</div>
								</div>
						
						
							</div>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
